Repository freeCodeCamp/freeCodeCamp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freecodecamp/dev-team, @freecodecamp/curriculum, @freeCodeCamp/staff, @freeCodeCamp/i18n, @freeCodeCamp/dev-team, @freeCodeCamp/mobile

.github/CODEOWNERS:

# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# All files are owned by dev team
# -------------------------------------------------

* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

*.md
package.json
pnpm-lock.yaml

# -------------------------------------------------
# All files in the root are owned by dev team
# -------------------------------------------------

/* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

/package.json
/pnpm-lock.yaml

# -------------------------------------------------
# Files that need attention from Curriculum team
# -------------------------------------------------

/curriculum/challenges/_meta/* @freecodecamp/curriculum
/curriculum/challenges/english/* @freecodecamp/curriculum

# -------------------------------------------------
# Files that need attention from Staff
# -------------------------------------------------

# README, LICENSE, etc.
/*.md @freeCodeCamp/staff

# i18n Quotes
**/motivation.json @freeCodeCamp/staff @freeCodeCamp/i18n

# -------------------------------------------------
# Files that need attention from the mobile team
# -------------------------------------------------

/curriculum/schema/challenge-schema.js @freeCodeCamp/dev-team @freeCodeCamp/mobile
/client/src/redux/prop-types.ts @freeCodeCamp/dev-team @freeCodeCamp/mobile

Apply suggestions from code review
  curriculum/challenges/english/25-front-end-development/lab-profile-lookup/5688e62ea601b2482ff8422b.md
Owners: none

fix test with removed id from update
  api/src/routes/helpers/auth-helpers.test.ts
  api/src/routes/helpers/auth-helpers.ts
Owners: @freecodecamp/dev-team

feat: update growthbook and handle network errors
  client/package.json
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/pages/index.tsx
  pnpm-lock.yaml
Owners: @freecodecamp/dev-team

making linter happy
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

add lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-largest-number-finder/index.md
  curriculum/challenges/_meta/lab-largest-number-finder/meta.json
  curriculum/challenges/english/25-front-end-development/lab-largest-number-finder/6878abf64b6204f7cfc2e471.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

add old ids
  curriculum/challenges/_meta/lab-largest-number-finder/meta.json
  curriculum/challenges/english/25-front-end-development/lab-largest-number-finder/a789b3483989747d63b0e427.md
Owners: @freecodecamp/dev-team

feat: add record collection challenge to full stack
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-record-collection/index.md
  curriculum/challenges/_meta/lab-record-collection/meta.json
  curriculum/challenges/english/25-front-end-development/lab-record-collection/56533eb9ac21ba0edf2244cf.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

break down "Working with Numbers, Booleans, and the Math Object" block in smaller blocks
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-comparison-and-boolean-operators/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-conditional-logic-and-math-methods/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-numbers-and-arithmetic-operators/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-numbers-booleans-and-the-math-object/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-operator-behavior/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-unary-and-bitwise-operators/index.md
  curriculum/challenges/_meta/lecture-working-with-comparison-and-boolean-operators/meta.json
  curriculum/challenges/_meta/lecture-working-with-conditional-logic-and-math-methods/meta.json
  curriculum/challenges/_meta/lecture-working-with-numbers-and-arithmetic-operators/meta.json
  curriculum/challenges/_meta/lecture-working-with-numbers-booleans-and-the-math-object/meta.json
  curriculum/challenges/_meta/lecture-working-with-operator-behavior/meta.json
  curriculum/challenges/_meta/lecture-working-with-unary-and-bitwise-operators/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-comparison-and-boolean-operators/673271c7581a27d9dd78f6d6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-comparison-and-boolean-operators/673271dffbc34fda31da9515.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-conditional-logic-and-math-methods/673271fd11d063daf0cf8d20.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-conditional-logic-and-math-methods/6732720e95f6a0db526a2e4d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-conditional-logic-and-math-methods/67327217e70ee0db7913b255.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-arithmetic-operators/672d266e014ef8216df987d2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-arithmetic-operators/673271884bf678d8b9c64f56.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-arithmetic-operators/67327195e77b1bd90bdd49d7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-operator-behavior/6732719e2e3ad4d947410b65.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-operator-behavior/673271a8998ddfd97578d095.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-operator-behavior/673271b4213033d9b661c70e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-unary-and-bitwise-operators/673271e8e3d43bda89f723b3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-unary-and-bitwise-operators/673271f39f124ddac28866d5.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

remove order property
  curriculum/challenges/_meta/lecture-working-with-operator-behavior/meta.json
Owners: @freecodecamp/dev-team

feat(api): daily challenge api (#61346)
  api/package.json
  api/prisma/schema.prisma
  api/src/app.ts
  api/src/daily-coding-challenge/README.md
  api/src/daily-coding-challenge/routes/daily-coding-challenge.test.ts
  api/src/daily-coding-challenge/routes/daily-coding-challenge.ts
  api/src/daily-coding-challenge/schemas/daily-coding-challenge.ts
  api/src/daily-coding-challenge/schemas/index.ts
  api/src/daily-coding-challenge/utils/helpers.ts
  pnpm-lock.yaml
  tools/daily-challenges/helpers.ts
  tools/daily-challenges/seed-daily-challenges.ts
  tools/daily-challenges/types.ts
Owners: @freecodecamp/dev-team

typo fix
  curriculum/challenges/english/25-front-end-development/lab-magazine-layout/6735a7370e0ae93a4577c689.md
Owners: none

a better distractor
  curriculum/challenges/english/25-front-end-development/quiz-css-grid/66ed8fedf45ce3ece4053eb3.md
Owners: none

add redirects for lecture-working-with-numbers-booleans-and-the-math-object
  client/serve/serve.json
Owners: @freecodecamp/dev-team

fix typo
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

fix typo
  client/serve/serve.json
Owners: @freecodecamp/dev-team

add lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-string-ending-checker/index.md
  curriculum/challenges/_meta/lab-string-ending-checker/meta.json
  curriculum/challenges/english/25-front-end-development/lab-string-ending-checker/acda2fb1324d9b0fa741e6b5.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

update ID
  curriculum/challenges/_meta/lab-string-ending-checker/meta.json
Owners: @freecodecamp/dev-team

add lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-repeat-a-string/index.md
  curriculum/challenges/_meta/lab-repeat-a-string/meta.json
  curriculum/challenges/english/25-front-end-development/lab-repeat-a-string/afcc8d540bea9ea2669306b6.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

remove unnecessary test
  curriculum/challenges/english/25-front-end-development/lab-celsius-to-fahrenheit-converter/56533eb9ac21ba0edf2244b3.md
Owners: none

fix(curriculum): Updated the instruction as suggested
  curriculum/challenges/english/25-front-end-development/lab-pyramid-generator/66f2836c459cfb16ae76f24f.md
Owners: none

More granular tests and hints
  curriculum/challenges/english/25-front-end-development/workshop-registration-form/686fbc534f9befa91a24c51c.md
Owners: none

fix(curriculum): Update description for tabindex clarification
  curriculum/challenges/english/25-front-end-development/lecture-accessible-media-elements/672a55fbc2d95a9453151caf.md
Owners: none

chore(curriculum): update assets in workshop magazine steps 76-77,79 freeCodeCamp#61379
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f34ebedc2274bceeb99c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f600cde42b7670c2611f.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f6f7d8914c78e93136ca.md
Owners: none

chore: update tower of hanoi
  curriculum/challenges/english/25-front-end-development/lab-tower-of-hanoi/68773ee26f332a80bc0295db.md
Owners: none

Improve clarity of 'Say Hello to HTML Elements' instructions
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/challenge-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
Owners: none

add semicolon
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/671b6e873249bb35c9debfcf.md
Owners: none

add space to <img />
  curriculum/challenges/english/25-front-end-development/lecture-understanding-html-attributes/66f6db08d55022680a3cfbc9.md
Owners: none

fix: after update
  client/src/components/daily-coding-challenge/calendar.tsx
  client/src/pages/learn/daily-coding-challenge.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/daily-challenge-bread-crumb.tsx
  client/src/utils/daily-coding-challenge-validator.ts
  client/tools/create-env.ts
  client/tools/read-env.ts
  sample.env
Owners: @freecodecamp/dev-team, @freeCodeCamp/dev-team, @freeCodeCamp/mobile

fix: attempt to clean up types
  client/src/components/daily-coding-challenge/calendar.tsx
  client/src/pages/learn/daily-coding-challenge.tsx
  client/src/redux/prop-types.ts
  client/src/utils/daily-coding-challenge-validator.ts
Owners: @freecodecamp/dev-team, @freeCodeCamp/dev-team, @freeCodeCamp/mobile

fix: comment
  client/src/components/daily-coding-challenge/calendar.tsx
Owners: @freecodecamp/dev-team

changed the test to assert.equal
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f693e0728f77c87f3020.md
Owners: none

removed the comments
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f693e0728f77c87f3020.md
Owners: none

chore: update tests to specific asserts
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f693e0728f77c87f3020.md
Owners: none

Removed extra spaces
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f693e0728f77c87f3020.md
Owners: none

fix(curriculum): handle whitespace for step 12 of workshop-cat-photo-app (#61344)
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/671b6e873249bb35c9debfcf.md
Owners: none

Apply suggestions from code review
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407e02bcf0d682b9a49a9.md
Owners: none

Revert "chore: update tests to specific asserts"
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f693e0728f77c87f3020.md
Owners: none

Create 680900675ae3d54ee19590d3.md
  curriculum/challenges/_meta/workshop-superhero-application-form/680900675ae3d54ee19590d3.md
Owners: none

chore: update step 78 tests to specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f693e0728f77c87f3020.md
Owners: none

chore(curriculum): update assets in workshop magazine step 76, 77, and 79 (#61386)
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f34ebedc2274bceeb99c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f600cde42b7670c2611f.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f6f7d8914c78e93136ca.md
Owners: none
