Repository freeCodeCamp/freeCodeCamp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freecodecamp/dev-team, @freecodecamp/curriculum, @freeCodeCamp/staff, @freeCodeCamp/i18n, @freeCodeCamp/dev-team, @freeCodeCamp/mobile

.github/CODEOWNERS:

# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# All files are owned by dev team
# -------------------------------------------------

* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

*.md
package.json
pnpm-lock.yaml

# -------------------------------------------------
# All files in the root are owned by dev team
# -------------------------------------------------

/* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

/package.json
/pnpm-lock.yaml

# -------------------------------------------------
# Files that need attention from Curriculum team
# -------------------------------------------------

/curriculum/challenges/_meta/* @freecodecamp/curriculum
/curriculum/challenges/english/* @freecodecamp/curriculum

# -------------------------------------------------
# Files that need attention from Staff
# -------------------------------------------------

# README, LICENSE, etc.
/*.md @freeCodeCamp/staff

# i18n Quotes
**/motivation.json @freeCodeCamp/staff @freeCodeCamp/i18n

# -------------------------------------------------
# Files that need attention from the mobile team
# -------------------------------------------------

/curriculum/schema/challenge-schema.js @freeCodeCamp/dev-team @freeCodeCamp/mobile
/client/src/redux/prop-types.ts @freeCodeCamp/dev-team @freeCodeCamp/mobile

fix(curriculum): allow whitespaces in tests by trimming textContent for Build a Balance Sheet (#61312)
  curriculum/challenges/english/25-front-end-development/workshop-balance-sheet/61fd70336ebb3e4f62ee81ba.md
  curriculum/challenges/english/25-front-end-development/workshop-balance-sheet/61fd7b3fcaa5406257abc5d1.md
  curriculum/challenges/english/25-front-end-development/workshop-balance-sheet/61fd9a4ff2fc4481b9157bd7.md
Owners: none

feat: add Step 8 to practice rendering components with .map()
  curriculum/challenges/_meta/workshop-reusable-profile-card-component/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e469165d.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/68720c179cd34be6793bfdf6.md
Owners: @freecodecamp/dev-team

fix(curriculum): faster euler 32 ref solution (#61274)
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-32-pandigital-products.md
Owners: none

replace to assert.exsits and assert.equal
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c004ffc8434252940dc3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c5036ddad94692a66230.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c58bace368497fb11bcf.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c6aa9981d74af202125e.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c721e74ecd4c619ae51c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148ceaf5d897d4d8b3554b3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148cf094b3f2b4e8a032c63.md
Owners: none

fix(curriculum): update CheckPoint to Checkpoint for consistent class naming
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64cb262dd91ecc62998736af.md
Owners: none

fix(curriculum): nest section elements in Accessibility Quiz
  curriculum/challenges/english/25-front-end-development/workshop-accessibility-quiz/6141fabd6f75610664e908fd.md
Owners: none

feat(curriculum): add set 2 of questions for CSS Positioning quiz (#61058)
  curriculum/challenges/english/25-front-end-development/quiz-css-positioning/66ed8ffcf45ce3ece4053eb5.md
Owners: none

chore: replace generic assert statements with specific Chai methods in magazine workshop steps 49, 52-57
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c004ffc8434252940dc3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c5036ddad94692a66230.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c58bace368497fb11bcf.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c6aa9981d74af202125e.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c721e74ecd4c619ae51c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148ceaf5d897d4d8b3554b3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148cf094b3f2b4e8a032c63.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-magazine/6148cf094b3f2b4e8a032c63.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148cf094b3f2b4e8a032c63.md
Owners: none

fix(curriculum): Update hint text in Step 1 of Profile Card Component workshop to clarify expected return value (#61066)
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef11f75254548672d998c.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c004ffc8434252940dc3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c004ffc8434252940dc3.md
Owners: none

How Do Classes Work and How Do They Differ From Objects?
  curriculum/challenges/english/25-front-end-development/lecture-classes-and-objects/68420bd261d0d35f61922d4b.md
Owners: none

What Are Methods and Attributes, and How Do They Work?
  curriculum/challenges/_meta/lecture-classes-and-objects/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-classes-and-objects/6874b5fc38f90f25e18093ce.md
Owners: @freecodecamp/dev-team

What Are Special Methods and What Are They Used For?
  curriculum/challenges/_meta/lecture-classes-and-objects/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-classes-and-objects/6874b7d3b286c538b39d0c25.md
Owners: @freecodecamp/dev-team

fix(curriculum): correct markdown formatting and assertions
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d0b863d10d50544ace0e.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d1bdf39c5b5186f5974b.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d2444d01ab541e64a1e4.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d33e31fccf558696c745.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
Owners: none

feat: support afterAll in client
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Challenges/utils/frame.ts
Owners: @freeCodeCamp/dev-team, @freeCodeCamp/mobile, @freecodecamp/dev-team

feat: support after-all in parser
  tools/challenge-parser/parser/__fixtures__/with-after-all-hook.md
  tools/challenge-parser/parser/__fixtures__/with-another-invalid-after-all-hook.md
  tools/challenge-parser/parser/__fixtures__/with-invalid-after-all-hook.md
  tools/challenge-parser/parser/__fixtures__/with-non-js-after-all-hook.md
  tools/challenge-parser/parser/plugins/add-hooks.js
  tools/challenge-parser/parser/plugins/add-hooks.test.js
Owners: @freecodecamp/dev-team

fix: update custom schema
  client/gatsby-node.js
Owners: @freecodecamp/dev-team

fix: use afterAll to remove fake timers
  curriculum/challenges/english/25-front-end-development/lab-one-time-password-generator/67c562286b29447da020d407.md
  curriculum/challenges/english/25-front-end-development/lab-tic-tac-toe/67e3a6b7f60b4085588189e6.md
Owners: none

test: support afterAll in test suite
  curriculum/schema/challenge-schema.js
  curriculum/test/test-challenges.js
Owners: @freeCodeCamp/dev-team, @freeCodeCamp/mobile, @freecodecamp/dev-team

chore(curriculum): replace asserts of magazine workshop steps 49-57 (#61322)
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c004ffc8434252940dc3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c5036ddad94692a66230.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c58bace368497fb11bcf.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c6aa9981d74af202125e.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c721e74ecd4c619ae51c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148ceaf5d897d4d8b3554b3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148cf094b3f2b4e8a032c63.md
Owners: none

fix: pass empty test when previewing js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Owners: @freecodecamp/dev-team

tests for the last 8 steps
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867c7b1f41ee104cf4aaa16.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867c8a8185485144ebbb453.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867c93aefc7751d197d1187.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867c9fd16b48f2abe22bdaa.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867caa0dbbeb93570ec0069.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867cb70e797d142df4b88e5.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867cbfbbb4a9f4bc73b01e6.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867cca6236f87573044a39c.md
Owners: none

fix: CI is happy now
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6867caa0dbbeb93570ec0069.md
Owners: none

chore: clean up unused browser-script deps + config
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
  tools/client-plugins/browser-scripts/webpack.config.cjs
Owners: @freecodecamp/dev-team

remove properties sections
  curriculum/challenges/english/25-front-end-development/review-classes-and-objects/67f39d848979082814c07d9c.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
Owners: none

feat: add finders keepers algorithm to full stack
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-first-element-finder/index.md
  curriculum/challenges/_meta/lab-first-element-finder/meta.json
  curriculum/challenges/english/25-front-end-development/lab-first-element-finder/a6e40f1041b06c996f7b2406.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Owners: @freecodecamp/dev-team

feat(learn): added keyboard shortcut(ctrl+enter) to check your answer button
  client/src/templates/Challenges/generic/show.tsx
Owners: @freecodecamp/dev-team

fix: clean up seed contents and correct assert usage
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d2444d01ab541e64a1e4.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d33e31fccf558696c745.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d3fff5186b57123d97e2.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d33e31fccf558696c745.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148d33e31fccf558696c745.md
Owners: none

fix: update assert methods in workshop-magazine challenges
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e246146b646cf4255f0c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e2dcdd60306dd77d41cc.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e4d6861a486f60681f36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e5a204d99e70343a63e4.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e62a6f768f71c4f04828.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e789329dc9736ce59b85.md
Owners: none

chore(i18n,client): processed translations
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/german/intro.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/japanese/intro.json
  client/i18n/locales/korean/intro.json
  client/i18n/locales/portuguese/intro.json
  client/i18n/locales/swahili/intro.json
  client/i18n/locales/ukrainian/intro.json
Owners: @freecodecamp/dev-team

replaced assert with the following equal,exists
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e246146b646cf4255f0c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e2dcdd60306dd77d41cc.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e4d6861a486f60681f36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e5a204d99e70343a63e4.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e62a6f768f71c4f04828.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e789329dc9736ce59b85.md
Owners: none

remove seed code
  curriculum/challenges/english/25-front-end-development/lab-first-element-finder/a6e40f1041b06c996f7b2406.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/67ed044dc76cf4a441618f2c.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/67ed044dc76cf4a441618f2c.md
Owners: none

add lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-reverse-a-string/index.md
  curriculum/challenges/_meta/lab-reverse-a-string/meta.json
  curriculum/challenges/english/25-front-end-development/lab-reverse-a-string/a202eed8fc186c8434cb6d61.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Owners: @freecodecamp/dev-team

update lab intro
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-reverse-a-string/index.md
Owners: @freecodecamp/dev-team
