Repository freeCodeCamp/freeCodeCamp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freecodecamp/dev-team, @freecodecamp/curriculum, @freeCodeCamp/staff, @freeCodeCamp/i18n, @freeCodeCamp/dev-team, @freeCodeCamp/mobile

fix(curriculum): fix a typo and replace a distractor for CSS grid quiz (#61381)
  curriculum/challenges/english/25-front-end-development/lab-magazine-layout/6735a7370e0ae93a4577c689.md
  curriculum/challenges/english/25-front-end-development/quiz-css-grid/66ed8fedf45ce3ece4053eb3.md
Owners: none

feat(curriculum): add a profile lookup lab (#61341)
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-profile-lookup/index.md
  curriculum/challenges/_meta/lab-profile-lookup/meta.json
  curriculum/challenges/english/25-front-end-development/lab-profile-lookup/5688e62ea601b2482ff8422b.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

chore(curriculum): remove jquery from managing packages with npm (#60673)
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-description-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-license-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-version-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-keywords-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/remove-a-package-from-your-dependencies.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-caret-character-to-use-the-latest-minor-version-of-a-dependency.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency.md
Owners: none

fix(curriculum): clarify void tag content (#61357)
  curriculum/challenges/english/25-front-end-development/lecture-understanding-html-attributes/66f6db08d55022680a3cfbc9.md
Owners: none

fix(curriculum): Update description for tabindex clarification (#61384)
  curriculum/challenges/english/25-front-end-development/lecture-accessible-media-elements/672a55fbc2d95a9453151caf.md
Owners: none

chore(curriculum): update step 78 workshop magazine to use specific asserts (#61388)
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f693e0728f77c87f3020.md
Owners: none

feat(curriculum): added list rendering to reusable profile card component workshop
  curriculum/challenges/_meta/workshop-reusable-profile-card-component/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e469165d.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/6870dd38187258b547f82d76.md
Owners: @freecodecamp/dev-team

feat(curriculum): added more steps for list rendering to reusable profile card component workshop
  curriculum/challenges/_meta/workshop-reusable-profile-card-component/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/6877bfc3d277a59b3900f5a7.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/6877ffd8e0da9de783a1abdd.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/6879191c280ce0d41534fb70.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/68792530cde1deb18ea24996.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/687942c174eb0172ef4ded6a.md
Owners: @freecodecamp/dev-team

Removed Back ticks at line 94
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aebaa8abb9086a9bb17a.md
Owners: none

moved pricing component workshop to the correct spot
  client/i18n/locales/english/intro.json
Owners: @freecodecamp/dev-team

fix(curriculum): remove redundant backticks around MCQ options
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aebaa8abb9086a9bb17a.md
Owners: none

fix format of bullet points
  curriculum/challenges/english/25-front-end-development/review-relational-database/6724e3d6e1cb0c1fec3a8e4f.md
Owners: none

Apply suggestions from code review
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-largest-number-finder/index.md
  curriculum/challenges/english/25-front-end-development/lab-largest-number-finder/a789b3483989747d63b0e427.md
Owners: @freecodecamp/dev-team

update function name
  curriculum/challenges/english/25-front-end-development/lab-largest-number-finder/a789b3483989747d63b0e427.md
Owners: none

Apply suggestions from code review
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec7a722bc7b67c1132bd3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-modules/683ec7b778993c6971b56c83.md
Owners: none

set isUpcomingChange to false
  curriculum/challenges/_meta/lab-repeat-a-string/meta.json
Owners: @freecodecamp/dev-team

add requirement for not using repeat()
  curriculum/challenges/english/25-front-end-development/lab-repeat-a-string/afcc8d540bea9ea2669306b6.md
Owners: none

add additional tests
  curriculum/challenges/english/25-front-end-development/lab-repeat-a-string/afcc8d540bea9ea2669306b6.md
Owners: none

chore(deps): update curriculum-helpers to v6
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Owners: none

refactor: mock input
  curriculum/challenges/english/25-front-end-development/lab-isbn-validator/686b9720ee1d032bd77a480a.md
Owners: none

feat: daily challenge by month endpoint
  api/src/daily-coding-challenge/routes/daily-coding-challenge.test.ts
  api/src/daily-coding-challenge/routes/daily-coding-challenge.ts
  api/src/daily-coding-challenge/schemas/daily-coding-challenge.ts
Owners: @freecodecamp/dev-team

fix: remove comment
  api/src/daily-coding-challenge/routes/daily-coding-challenge.test.ts
Owners: @freecodecamp/dev-team

Apply suggestions from code review
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Owners: none

chore(curriculum): remove backticks around MCQ option (#61396)
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aebaa8abb9086a9bb17a.md
Owners: none

fix: remove aria-required, add aria-describedby and aria-hidden
  curriculum/challenges/english/25-front-end-development/lab-checkout-page/66da326c02141df538f29ba5.md
Owners: none

fix typo
  curriculum/challenges/english/25-front-end-development/lab-checkout-page/66da326c02141df538f29ba5.md
Owners: none

Fix: Address misleading info about join() default separator
  curriculum/challenges/english/25-front-end-development/review-javascript-arrays/6723c66f623701a3cdf72130.md
Owners: none

feat(curriculum): add largest numbers lab (#61376)
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-largest-number-finder/index.md
  curriculum/challenges/_meta/lab-largest-number-finder/meta.json
  curriculum/challenges/english/25-front-end-development/lab-largest-number-finder/a789b3483989747d63b0e427.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

feat( curriculum): add string repeating lab (#61383)
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-repeat-a-string/index.md
  curriculum/challenges/_meta/lab-repeat-a-string/meta.json
  curriculum/challenges/english/25-front-end-development/lab-repeat-a-string/afcc8d540bea9ea2669306b6.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

feat: add record collection challenge to full stack (#61377)
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-record-collection/index.md
  curriculum/challenges/_meta/lab-record-collection/meta.json
  curriculum/challenges/english/25-front-end-development/lab-record-collection/56533eb9ac21ba0edf2244cf.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

Create Pjaguilar9
  Pjaguilar9
Owners: @freecodecamp/dev-team

chore: project setup
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-theme-switcher/index.md
  curriculum/challenges/_meta/lab-theme-switcher/meta.json
  curriculum/challenges/english/25-front-end-development/lab-theme-switcher/687ad7be1ff45032ccf1d92f.md
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

wip: adding user stories
  curriculum/challenges/english/25-front-end-development/lab-theme-switcher/687ad7be1ff45032ccf1d92f.md
Owners: none

feat: add dictionaries and sets lectures (#61303)
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec7a722bc7b67c1132bd3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec8e8a2389f713380fca8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec8fd8b21827317388a45.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-modules/683ec7b778993c6971b56c83.md
Owners: none

fix(step-21): convert regex disabled button test to runtime test (final, no extra spacing changes)
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d3.md
Owners: none

Update 680900675ae3d54ee19590d3.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d3.md
Owners: none

new steps added
  curriculum/challenges/_meta/workshop-shortest-path-algorithm/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b3926419dec576850b814.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b3aeb1fdab658abd89451.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b3c7a3af0df59b363712e.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b3ef0c2fe185b2abc4654.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b426c3dabfe5cf80fad80.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b43c0e20d695e0b8cca5b.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b45e16f38ad5f4e4bd799.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b48ccb46c5e6126d30bc6.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b499774fc9061b32e13cd.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/687b4bd2e4c7c962ec08310c.md
Owners: @freecodecamp/dev-team

fix(step-21): replace regex-based disabled button test with runtime test
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d3.md
Owners: none

fix: make paragraph closing tag case-insensitive in step 3
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc17d3bf86c76b9248c6eb4.md
Owners: none

Added a test line in README
  README.md
Owners: @freeCodeCamp/staff

.github/CODEOWNERS:

# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# All files are owned by dev team
# -------------------------------------------------

* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

*.md
package.json
pnpm-lock.yaml

# -------------------------------------------------
# All files in the root are owned by dev team
# -------------------------------------------------

/* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

/package.json
/pnpm-lock.yaml

# -------------------------------------------------
# Files that need attention from Curriculum team
# -------------------------------------------------

/curriculum/challenges/_meta/* @freecodecamp/curriculum
/curriculum/challenges/english/* @freecodecamp/curriculum

# -------------------------------------------------
# Files that need attention from Staff
# -------------------------------------------------

# README, LICENSE, etc.
/*.md @freeCodeCamp/staff

# i18n Quotes
**/motivation.json @freeCodeCamp/staff @freeCodeCamp/i18n

# -------------------------------------------------
# Files that need attention from the mobile team
# -------------------------------------------------

/curriculum/schema/challenge-schema.js @freeCodeCamp/dev-team @freeCodeCamp/mobile
/client/src/redux/prop-types.ts @freeCodeCamp/dev-team @freeCodeCamp/mobile
