Repository freeCodeCamp/freeCodeCamp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freecodecamp/dev-team, @freecodecamp/curriculum, @freeCodeCamp/staff, @freeCodeCamp/i18n, @freeCodeCamp/dev-team, @freeCodeCamp/mobile

Update README.md
  README.md
Owners: @freeCodeCamp/staff

feat(curriculum): set isUpcomingChange flag to false to block 24 of the B1 certification of the English Curriculum
  curriculum/challenges/_meta/learn-common-phrasal-verbs-and-idioms/meta.json
Owners: @freecodecamp/dev-team

fix(curriculum): remove redundant assert statement
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d66a5358db0c80628757.md
Owners: none

chore(i18n,client): processed translations (#61241)
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese-traditional/translations.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/espanol/translations.json
  client/i18n/locales/german/intro.json
  client/i18n/locales/german/translations.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/italian/translations.json
  client/i18n/locales/japanese/intro.json
  client/i18n/locales/japanese/translations.json
  client/i18n/locales/korean/intro.json
  client/i18n/locales/korean/translations.json
  client/i18n/locales/portuguese/intro.json
  client/i18n/locales/portuguese/translations.json
  client/i18n/locales/swahili/intro.json
  client/i18n/locales/swahili/translations.json
  client/i18n/locales/ukrainian/intro.json
  client/i18n/locales/ukrainian/translations.json
Owners: @freecodecamp/dev-team

feat(curriculum): set isUpcomingChange flag to false to block 24 of the B1 certification of the English Curriculum (#61243)
  curriculum/challenges/_meta/learn-common-phrasal-verbs-and-idioms/meta.json
Owners: @freecodecamp/dev-team

chore(curriculum): update asserts in magazine workshop steps 26-30 (#61221)
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d66a5358db0c80628757.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d7dbdd3e580da730ff45.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144de308591ec10e27d5383.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144e1ba93e435127a7f516d.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee46a9d6e614c598cc05.md
Owners: none

implement suggestions
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-medical-data-validator/index.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/6846a1f2805ac73ce671a5d8.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/6846d5043cc341d7fee2412e.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/6846d5b4d1ca2de562d6629c.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/6849311be42a0431b8e59109.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/684fd85424ffdb2edff3afd1.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/684fe1be09b05ad785832546.md
  curriculum/challenges/english/25-front-end-development/workshop-medical-data-validator/685118ddcad14fa5d62faaef.md
Owners: @freecodecamp/dev-team

fix(curriculum):update tests to use specific asserts in magazine workshop stesp 31-37 #61240
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee790af79815ad15a832.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f1410990ea17187a722b.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f3818bfbc51844152e36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f42204c8c8195f1f3345.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f47b7c631e1a6f304dd5.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b07081759c2c691166a9.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b0d764e4192e5712ed92.md
Owners: none

fix(curriculum): typo in learn how to use adjectives in conversations (#61239)
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-adjectives-in-conversations/680e32e53da80484041ef38f.md
Owners: none

fix(curriculum): typo in Troubleshoot on Github (#61234)
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bc5a71b33ae19ad65166a.md
Owners: none

fix: updated tests to use specific asserts in magazine workshop stesp 31-37 #61240
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee790af79815ad15a832.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f1410990ea17187a722b.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f3818bfbc51844152e36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f42204c8c8195f1f3345.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f47b7c631e1a6f304dd5.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b07081759c2c691166a9.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b0d764e4192e5712ed92.md
Owners: none

added workshop to superblock
  curriculum/superblock-structure/full-stack.json
Owners: @freecodecamp/dev-team

chore: implement Dario's review suggestions
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68552464ef378e1051a55c28.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858e6408a0999603b2a4fee.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858e7e23bf9e475e14cb931.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858e9f87e4faa903267d810.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858eadd3144c89d45e02bc7.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858ebf2552046ab3de9f17c.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858ee73ed8106ccb214942a.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858ef974c8ad5dcd7abb9f1.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858f3a67aa8580ff37016c7.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858f90c54647a48ddb8822d.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68591755e8cd86d27699d282.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68597114730d7c6b8838d204.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685972d14c6d8182fbae71f1.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685973ca82469e940afcc422.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685975c2505e3db255720561.md
Owners: none

chore: update assert steps 24-25 in the magazine workshop
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143d003ad9e9d76766293ec.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143d2842b497779bad947de.md
Owners: none

fix(curriculum):Incorrect use of 'spreadsheet' instead of 'stylesheet' in a lecture video #61229
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-fonts/672bd834cedccefd5939a913.md
Owners: none

Update 6144ee790af79815ad15a832.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee790af79815ad15a832.md
Owners: none

Update 6144f47b7c631e1a6f304dd5.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f47b7c631e1a6f304dd5.md
Owners: none

Update 6148b07081759c2c691166a9.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b07081759c2c691166a9.md
Owners: none

Update 6144ee790af79815ad15a832.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee790af79815ad15a832.md
Owners: none

Update 6144f1410990ea17187a722b.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f1410990ea17187a722b.md
Owners: none

Update 6144f3818bfbc51844152e36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f3818bfbc51844152e36.md
Owners: none

Update 6144f42204c8c8195f1f3345.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f42204c8c8195f1f3345.md
Owners: none

Update 6144f47b7c631e1a6f304dd5.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f47b7c631e1a6f304dd5.md
Owners: none

Update 6148b07081759c2c691166a9.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b07081759c2c691166a9.md
Owners: none

Update 6148b0d764e4192e5712ed92.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b0d764e4192e5712ed92.md
Owners: none

Update curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
Owners: none

fix(curriculum): add missing sentence about email validation in Client-Side Form Validation (#61201)
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
Owners: none

fix(challenge-helpers): add template for generic challenge
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
  tools/challenge-helper-scripts/helpers/new-task-prompts.ts
Owners: @freecodecamp/dev-team

chore: remove accidentally added file from PR
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-fonts/672bd834cedccefd5939a913.md
Owners: none

fix(api): adjust correct answers, use moderation enum
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/utils/exam.test.ts
  api/src/exam-environment/utils/exam.ts
Owners: @freecodecamp/dev-team

use exam moderation record [skip ci]
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
Owners: @freecodecamp/dev-team

add bad tests
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/utils/exam.ts
Owners: @freecodecamp/dev-team

fix useless tests
  api/src/exam-environment/routes/exam-environment.test.ts
Owners: @freecodecamp/dev-team

broken: code with unrecognised objectid schema [skip ci]
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/utils/exam.ts
Owners: @freecodecamp/dev-team

chore(api): add sentry capture to exam attempts handler
  api/src/exam-environment/routes/exam-environment.ts
Owners: @freecodecamp/dev-team

chore(api): add sentry captures to exam screenshot handler
  api/src/exam-environment/routes/exam-environment.ts
Owners: @freecodecamp/dev-team

feat(api): only allow screenshots when an existing attempt is running
  api/src/exam-environment/routes/exam-environment.ts
Owners: @freecodecamp/dev-team

fix(api): moderation is not null [skip ci]
  api/__mocks__/env-exam.ts
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
Owners: @freecodecamp/dev-team

refactor(api): replace \!\!find with some
  api/src/exam-environment/utils/exam.ts
Owners: @freecodecamp/dev-team

bad tests: split into way too many routes [skip ci]
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/schemas/index.ts
Owners: @freecodecamp/dev-team

.github/CODEOWNERS:

# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# All files are owned by dev team
# -------------------------------------------------

* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

*.md
package.json
pnpm-lock.yaml

# -------------------------------------------------
# All files in the root are owned by dev team
# -------------------------------------------------

/* @freecodecamp/dev-team

# --- Owned by none (negate rule above) ---

/package.json
/pnpm-lock.yaml

# -------------------------------------------------
# Files that need attention from Curriculum team
# -------------------------------------------------

/curriculum/challenges/_meta/* @freecodecamp/curriculum
/curriculum/challenges/english/* @freecodecamp/curriculum

# -------------------------------------------------
# Files that need attention from Staff
# -------------------------------------------------

# README, LICENSE, etc.
/*.md @freeCodeCamp/staff

# i18n Quotes
**/motivation.json @freeCodeCamp/staff @freeCodeCamp/i18n

# -------------------------------------------------
# Files that need attention from the mobile team
# -------------------------------------------------

/curriculum/schema/challenge-schema.js @freeCodeCamp/dev-team @freeCodeCamp/mobile
/client/src/redux/prop-types.ts @freeCodeCamp/dev-team @freeCodeCamp/mobile
