Repository freeCodeCamp/freeCodeCamp, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: docs, scope: curriculum, platform: learn, platform: api, scope: tools/scripts, scope: i18n

.github/labeler.yml:

'scope: docs':
  - docs/**/*

'scope: curriculum':
  - curriculum/challenges/**/*

'platform: learn':
  - client/**/*

'platform: api':
  - api-server/**/*
  - api/**/*

'scope: tools/scripts':
  - tools/**/*
  - .github/**/*
  - utils/**/*
  - e2e/**/*

'scope: i18n':
  - any: ['curriculum/challenges/**/*', '!curriculum/challenges/english/**/*']
  - docs/i18n/**/*
  - client/i18n/**/*
  - config/crowdin/**/*
  - shared/config/i18n/**/*

fix(curriculum): capitalize CSS abbreviation in Flexbox quiz question
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

Fix: lab issue fixed with final updates
  curriculum/challenges/english/25-front-end-development/lab-availability-table/66b36358ed4f261d64840c24.md
Labels: scope: curriculum

Updated transcript
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
Labels: scope: curriculum

feat: add email sign up alert
  api/src/plugins/auth0.test.ts
  api/src/plugins/auth0.ts
  client/src/components/Intro/email-sign-up-alert.tsx
  client/src/components/Intro/index.tsx
  client/src/components/Intro/intro.css
  client/src/components/email-options.tsx
  client/src/pages/email-sign-up.css
  client/src/pages/email-sign-up.tsx
  e2e/email-sign-up-alert.spec.ts
  e2e/quincy-email-sign-up.spec.ts
Labels: platform: learn, platform: api, scope: tools/scripts

fix last audio issues for dialog 2 tasks
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/6848281e2fc7875a1009ce16.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68482940e636b85ae28fdeb0.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/684829ca347d035b6f582a93.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68482beec2580f5c3dc21d35.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68482cc3046fa15cf10db8e0.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/684834b9469bb95e2f2e76e6.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/6848358b012fc05ee8c675ca.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/684836903e05e25f858309ad.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68483764f871fd60223abcb9.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/6848391874d2d060e4120553.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68483a5544db8b61b87f5464.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68483ade1e54da624dc37c85.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/68483b65f4592762d2b2c436.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/6848416fb649f163f32ac79a.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/6848422dccb898648cd89837.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/684842d1cc61a565303fba4f.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-numbers-with-a-coworker/684843db5d223d6622e679e7.md
Labels: scope: curriculum

finished reviewing dialogue 1
  curriculum/challenges/english/24-b1-english-for-developers/learn-determiners-and-advanced-use-of-articles/6811df342f92ba0c2df8ab14.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-determiners-and-advanced-use-of-articles/6811e08c2100310d037c1da2.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-determiners-and-advanced-use-of-articles/6811e1569ecaf80dbe0fc768.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-determiners-and-advanced-use-of-articles/6811e3fea6efe60f06a40169.md
Labels: scope: curriculum

fix: capitalize CSS in flexbox quiz question for consistency
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

Abbreviation changed to CSS from css
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

updated assers steps 24-25 in the magazine workshop
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143d003ad9e9d76766293ec.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143d2842b497779bad947de.md
Labels: scope: curriculum

chore: update asserts to specific Chai methods (closes #61180)
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d66a5358db0c80628757.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d7dbdd3e580da730ff45.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144de308591ec10e27d5383.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144e1ba93e435127a7f516d.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee46a9d6e614c598cc05.md
Labels: scope: curriculum

docs: add missing sentences to client-side form validation transcript
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
Labels: scope: curriculum

fixed quiz-css-flex file text
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

Update 66ed8fe7f45ce3ece4053eb2.md changed css to CSS
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

Update 66ed8fe7f45ce3ece4053eb2.md changed 'css' to 'CSS'
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

Update 66ed8fe7f45ce3ece4053eb2.md
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

fix/capitalize-css-abbreviation
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

fix(quiz): capitalize CSS in Flexbox quiz question
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

feat(curriculum): set isUpcomingChange flags to false to block 21-23 of the B1 certification of the English Curriculum
  curriculum/challenges/_meta/learn-how-to-talk-about-numbers-with-a-coworker/meta.json
  curriculum/challenges/_meta/learn-how-to-use-prepositions-according-to-context/meta.json
  curriculum/challenges/_meta/learn-how-to-use-reported-speech/meta.json
Labels: scope: curriculum, scope: i18n

fix(curriculum): typo in Troubleshoot on Github
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bc5a71b33ae19ad65166a.md
Labels: scope: curriculum

feat(curriculum): set isUpcomingChange flags to false to block 21-23 of the B1 certification of the English Curriculum (#61233)
  curriculum/challenges/_meta/learn-how-to-talk-about-numbers-with-a-coworker/meta.json
  curriculum/challenges/_meta/learn-how-to-use-prepositions-according-to-context/meta.json
  curriculum/challenges/_meta/learn-how-to-use-reported-speech/meta.json
Labels: scope: curriculum, scope: i18n

wip: adding initial tests. still needs work though
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/6863fd08030b56879e1a2854.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68646246d85cabfc44923be5.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68646349609766fcf146b179.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68646415c20913fd8bae6adb.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/686465e7c8524bfe492cec90.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68646bc9fb21c5ffce0df685.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68646c9576ba9d007f081d28.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68647252f8866c01879eefad.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/686475eeca0925028557b5c1.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/6864774f7b7233032e85e893.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/686477d8f5e54003fd8d63f7.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/686478b5616b5804b0600e4d.md
  curriculum/challenges/english/25-front-end-development/workshop-note-taking-app/68647b358598390579609f5d.md
Labels: scope: curriculum

chore(deps): update curriculum-helpers to 5.1.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

fix: capitalize CSS in flexbox quiz question for consistency (#61219)
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum

add steps
  curriculum/challenges/_meta/workshop-shortest-path-algorithm/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/686253f1b051998ad4904e3e.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/68625ad34aa3f58d7f3b9b07.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/686b73007fc582db0132c361.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/686b7848fbaa41e0c2a7efef.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/686b78bc13d518e1267448e4.md
  curriculum/challenges/english/25-front-end-development/workshop-shortest-path-algorithm/686b7c80bb309ae443946fac.md
Labels: scope: curriculum, scope: i18n

chore(curriculum): fix typo in learn how to use adjectives in conversations
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-adjectives-in-conversations/680e32e53da80484041ef38f.md
Labels: scope: curriculum

feat: make parser read --after-each-- section
  tools/challenge-parser/parser/__fixtures__/with-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-another-invalid-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-invalid-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-non-js-after-each-hook.md
  tools/challenge-parser/parser/plugins/add-before-hook.js
  tools/challenge-parser/parser/plugins/add-before-hook.test.js
Labels: scope: tools/scripts

refactor: update lesson to use before-each
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
Labels: scope: curriculum

fix: provide correct error message if section missing
  tools/challenge-parser/parser/plugins/add-before-hook.js
  tools/challenge-parser/parser/plugins/add-before-hook.test.js
Labels: scope: tools/scripts

feat: use new hooks in client
  client/gatsby-node.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/utils/frame.ts
Labels: platform: learn

feat: make parser read --before-each-- section
  tools/challenge-parser/parser/__fixtures__/with-another-invalid-before-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-before-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-invalid-before-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-non-js-before-each-hook.md
  tools/challenge-parser/parser/plugins/add-before-hook.js
  tools/challenge-parser/parser/plugins/add-before-hook.test.js
Labels: scope: tools/scripts

refactor: replace before-user-code with before-each
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
Labels: scope: curriculum

refactor: make oliver's code 3x better
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/utils/frame.ts
Labels: platform: learn

refactor: rename hooks file and variables
  tools/challenge-parser/parser/index.js
  tools/challenge-parser/parser/plugins/__snapshots__/add-hooks.test.js.snap
  tools/challenge-parser/parser/plugins/add-hooks.js
  tools/challenge-parser/parser/plugins/add-hooks.test.js
Labels: scope: tools/scripts

fix: allow new hooks in schema
  curriculum/schema/challenge-schema.js
Labels: none

set files up
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-isbn-validator/index.md
  curriculum/challenges/_meta/lab-isbn-validator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-isbn-validator/686b9720ee1d032bd77a480a.md
Labels: scope: curriculum, platform: learn, scope: i18n

feat: support beforeEach and afterEach (#60921)
  client/gatsby-node.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/utils/frame.ts
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
  curriculum/schema/challenge-schema.js
  tools/challenge-parser/parser/__fixtures__/with-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-another-invalid-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-another-invalid-before-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-before-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-invalid-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-invalid-before-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-non-js-after-each-hook.md
  tools/challenge-parser/parser/__fixtures__/with-non-js-before-each-hook.md
  tools/challenge-parser/parser/index.js
  tools/challenge-parser/parser/plugins/__snapshots__/add-hooks.test.js.snap
  tools/challenge-parser/parser/plugins/add-before-hook.js
  tools/challenge-parser/parser/plugins/add-before-hook.test.js
  tools/challenge-parser/parser/plugins/add-hooks.js
  tools/challenge-parser/parser/plugins/add-hooks.test.js
Labels: scope: curriculum, platform: learn, scope: tools/scripts

Apply Miya's suggestions from code review
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/683b041e315a2b231b6be69e.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/68487799a04eca4d06dfbdb5.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/68487efc94946b786ebb4c50.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6848839f98b89790fd0874a2.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6851dce3810e20f0da17810d.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6855d4d23722e93ee9f1e625.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6856270d91c906e50ea328d2.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858b1c897ce3abcfd3d24c9.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858b6597eb4e902bd7619f5.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858b754f24aa614b90d2924.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858b96e6b35c83759adf161.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858baad5682dd519ed82e9a.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/685a94d8bf306e28027ca804.md
Labels: scope: curriculum

Update curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858bbaaba7ba962f5640e56.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-common-phrasal-verbs-and-idioms/6858bbaaba7ba962f5640e56.md
Labels: scope: curriculum

chore: update to 5.2.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

chore(i18n,client): processed translations
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese-traditional/translations.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/espanol/translations.json
  client/i18n/locales/german/intro.json
  client/i18n/locales/german/translations.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/italian/translations.json
  client/i18n/locales/japanese/intro.json
  client/i18n/locales/japanese/translations.json
  client/i18n/locales/korean/intro.json
  client/i18n/locales/korean/translations.json
  client/i18n/locales/portuguese/intro.json
  client/i18n/locales/portuguese/translations.json
  client/i18n/locales/swahili/intro.json
  client/i18n/locales/swahili/translations.json
  client/i18n/locales/ukrainian/intro.json
  client/i18n/locales/ukrainian/translations.json
Labels: platform: learn, scope: i18n
