Repository freeCodeCamp/freeCodeCamp, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: curriculum, platform: learn, platform: api, scope: tools/scripts, scope: i18n

.github/labeler.yml:

'scope: curriculum':
  - curriculum/challenges/**/*

'platform: learn':
  - client/**/*

'platform: api':
  - api/**/*

'scope: tools/scripts':
  - tools/**/*
  - .github/**/*
  - utils/**/*
  - e2e/**/*

'scope: i18n':
  - client/i18n/**/*
  - config/crowdin/**/*
  - shared/config/i18n/**/*

fix(curriculum): update the tests and instructions of the step 24 workshop accessibility quiz challenge (#60766)
  curriculum/challenges/english/25-front-end-development/workshop-accessibility-quiz/614394fb41985e0d2012a93e.md
Labels: scope: curriculum

feat: adding new audio and video element lecture block
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-audio-and-video-elements/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-media/index.md
  curriculum/challenges/_meta/lecture-working-with-audio-and-video-elements/meta.json
  curriculum/challenges/_meta/lecture-working-with-media/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video-elements/67168278ac6df6a799555db5.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, platform: learn, scope: i18n

feat: adding images and svgs lecture block
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-images-and-svgs/index.md
  curriculum/challenges/_meta/lecture-working-with-images-and-svgs/meta.json
  curriculum/challenges/_meta/lecture-working-with-media/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-images-and-svgs/67167835def3588873f339c6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-images-and-svgs/6716823876aa22a68ba3e2ec.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-images-and-svgs/6716825aff3434a71fdc3e99.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, platform: learn, scope: i18n

Apply suggestions from code review (@huyenltnguyen)
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/67340798c2c1776709d8a5fe.md
Labels: scope: curriculum

fix(curriculum): update the quiz question and answer in the cascade of css lesson F
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-lesson-f.md
Labels: scope: curriculum

start dialogue 2
  curriculum/challenges/_meta/learn-how-to-use-prepositions-according-to-context/meta.json
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853c74035505f6f1f465a80.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853c936940ffe72ef05e67a.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853cd26a20e0376b48d07e4.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d15153cf89798a3578af.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d1f5d61dda7aa64df758.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d507f05d927dca755fab.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d61f34285f7fcf401c28.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d788bf58e18146ccbe59.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d89f8520ba83838d9345.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853d944c27ca884c60c9bbe.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-prepositions-according-to-context/6853da30ba10a9865ecb708c.md
Labels: scope: curriculum

refactor: replace before-user-code with before-each
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
Labels: scope: curriculum

fix(curriculum): replace unrelated HTML defer/async question with a new one (#60855)
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/67340798c2c1776709d8a5fe.md
Labels: scope: curriculum

allow for more new lines in code
  curriculum/challenges/english/25-front-end-development/lab-movie-review-page/67ef8f695db52583424bd118.md
Labels: scope: curriculum

add instructions and hints
  curriculum/challenges/_meta/workshop-email-simulator/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852ea0c3cadb54e897acdac.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852ef95ccc27660275692cd.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f01116912861c7d1b0e6.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f06fdde1b4634a263f03.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f0c3fcedb964ab959921.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f11d412c29665985a915.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f19cdc3a4a67ef06f590.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f2da9b8ed891e9fdc5fc.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f34ff93594934f6636d9.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f3c11a111d947d783ef9.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f4584f508e95cc7a9f4d.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f4ded9f84896ff182dd8.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f553d90a2f9874ff9d0e.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f68dd3affa9adb2e6d99.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f70470f45d9c280af659.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f86850c1fc9e53f95721.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f90fd03acc9fd75ff860.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f996671e63a0b4fbf143.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6854085b475edfa6800e992c.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/68540938f7f51fa80721d352.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6854098ff9603ba930e7d48e.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/685409f3f6c765aa4cd44a26.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/68540a534c56aeabae6afd58.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/68540aa7dfd449ad074c285c.md
Labels: scope: curriculum

add solution and fix alignment
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852ef95ccc27660275692cd.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f01116912861c7d1b0e6.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f06fdde1b4634a263f03.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f0c3fcedb964ab959921.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f11d412c29665985a915.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6852f19cdc3a4a67ef06f590.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f2da9b8ed891e9fdc5fc.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f34ff93594934f6636d9.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f3c11a111d947d783ef9.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f4584f508e95cc7a9f4d.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f4ded9f84896ff182dd8.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f553d90a2f9874ff9d0e.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f68dd3affa9adb2e6d99.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f70470f45d9c280af659.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f86850c1fc9e53f95721.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f90fd03acc9fd75ff860.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6853f996671e63a0b4fbf143.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6854085b475edfa6800e992c.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/68540938f7f51fa80721d352.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/6854098ff9603ba930e7d48e.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/685409f3f6c765aa4cd44a26.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/68540a534c56aeabae6afd58.md
  curriculum/challenges/english/25-front-end-development/workshop-email-simulator/68540aa7dfd449ad074c285c.md
Labels: scope: curriculum

made some changes
  curriculum/challenges/english/16-the-odin-project/top-learn-css-foundations-projects/css-foundations-exercise-c.md
Labels: scope: curriculum

Apply suggestions from code review
  curriculum/challenges/english/25-front-end-development/lab-luhn-algorithm/68507cadbf36aa089a84ce2d.md
Labels: scope: curriculum

Apply suggestions from code review
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-audio-and-video-elements/index.md
Labels: platform: learn, scope: i18n

fix: missing description
  curriculum/challenges/english/25-front-end-development/lab-debug-pet-adoption-page/685239f0cad43c7a909cbd98.md
Labels: scope: curriculum

move loader outside helmet
  client/src/components/layouts/default.tsx
Labels: platform: learn

remove sus content label
  client/src/components/helpers/__snapshots__/loader.test.tsx.snap
Labels: platform: learn

Apply suggestions from code review
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684cc59eed2706fa50e8933c.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684cca09aac0fc035db4099f.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684cff0bf0a4ca0ad7e42990.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d009994a3840b98c9aa3a.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d03df2a0ddf0c735865f0.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d07cbfa43a20d6a002ed7.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d09cad4ec900e41db2e74.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d0d369e2b3b0f288d2c20.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d0e11094c3e0fe1fb98f5.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d0eeb9c81e5109e52fe8b.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d105e488dbd1166a717ae.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d11ffd15a531225d081e9.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d160a2370b01310ae0fda.md
  curriculum/challenges/english/25-front-end-development/workshop-error-message-component/684d1942a1904a14a3709c6c.md
Labels: scope: curriculum

fix(curriculum): Updated the Odin Project question and answer
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-lesson-f.md
Labels: scope: curriculum

fix: missing note in JS A11y
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n

Updated the-cascade-of-css-lesson-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-lesson-f.md
Labels: scope: curriculum

fix(learn):the-cascade-of-css-lesson-f.md issue no.#60907
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-lesson-f.md
Labels: scope: curriculum
