Repository freeCodeCamp/freeCodeCamp, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: docs, scope: curriculum, platform: learn, platform: api, scope: tools/scripts, scope: i18n

refactor(api): rename all the exam environment stuff
  api/__mocks__/exan-environment-exam.ts
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exam-environment-exam-attempt.ts
  api/src/exam-environment/schemas/exam-environment-exam-generated-exam.ts
  api/src/exam-environment/schemas/exam-environment-exams.ts
  api/src/exam-environment/schemas/index.ts
  api/src/exam-environment/utils/exam-environment.test.ts
  api/src/exam-environment/utils/exam-environment.ts
  api/src/routes/protected/user.test.ts
  api/tools/exam-environment/generate/deprecate.ts
  api/tools/exam-environment/generate/index.ts
  api/tools/exam-environment/generate/insert.ts
  api/tools/exam-environment/seed/index.ts
  api/tools/exam-environment/test/index.ts
Labels: platform: api

partial fix: cascade more models [skip ci]
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/utils/exam.ts
Labels: platform: api

chore(api): only select what is needed from exam query
  api/src/exam-environment/routes/exam-environment.ts
Labels: platform: api

fix tests
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/utils/exam.ts
Labels: platform: api

add moderation model [skip ci]
  api/prisma/schema.prisma
Labels: platform: api

chore(api): add sentry capture to generated exam handler
  api/src/exam-environment/routes/exam-environment.ts
Labels: platform: api

chore(api): add sentry capture to exams handler
  api/src/exam-environment/routes/exam-environment.ts
Labels: platform: api

modularize attempt scoring [skip ci]
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/schemas/exams.ts
  api/src/exam-environment/utils/exam.ts
Labels: platform: api

fix: move envexamattempt construction to own func
  api/src/exam-environment/routes/exam-environment.ts
Labels: platform: api

chore(api): clarify errors in exam environment routes
  api/src/exam-environment/routes/exam-environment.ts
Labels: platform: api

rename model, fix expiration calc
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/utils/exam.ts
Labels: platform: api

breaking(api): add exam env attempts endpoints and fields
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exam-attempt.ts
  api/src/exam-environment/schemas/index.ts
  api/src/exam-environment/utils/errors.ts
Labels: platform: api

chore: updated tests to use specific asserts in magazine workshop steps 31-37 (#61245)
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee790af79815ad15a832.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f1410990ea17187a722b.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f3818bfbc51844152e36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f42204c8c8195f1f3345.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144f47b7c631e1a6f304dd5.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b07081759c2c691166a9.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b0d764e4192e5712ed92.md
Labels: scope: curriculum

test: separate test runner creation from test evaluation
  curriculum/test/test-challenges.js
Labels: none

refactor(api): exan -> exam
  api/__mocks__/exam-environment-exam.ts
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/utils/exam-environment.test.ts
  api/src/routes/protected/user.test.ts
  api/tools/exam-environment/seed/index.ts
Labels: platform: api

test: increase timeout for creating test runner
  curriculum/test/test-challenges.js
Labels: none

starting to work on tests
  curriculum/challenges/english/25-front-end-development/lab-isbn-validator/686b9720ee1d032bd77a480a.md
Labels: scope: curriculum

continue writing tests
  curriculum/challenges/english/25-front-end-development/lab-isbn-validator/686b9720ee1d032bd77a480a.md
Labels: scope: curriculum

Tests for the first 10 steps
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686383abac6c625a84458ea9.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52eb.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52ec.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52ed.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52ee.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52ef.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f0.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f1.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f2.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f3.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f4.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f5.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f6.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f8.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f9.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/6866740a0f532cc7e9e21877.md
Labels: scope: curriculum

update assers steps 24-25 in the magazine workshop
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143d003ad9e9d76766293ec.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143d2842b497779bad947de.md
Labels: scope: curriculum

feat: add bisection method lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-bisection-method/index.md
  curriculum/challenges/_meta/lab-bisection-method/meta.json
  curriculum/challenges/english/25-front-end-development/lab-bisection-method/686ccc2c8b967e17ab18d593.md
Labels: scope: curriculum, platform: learn, scope: i18n

test: check the solution test runner separately
  curriculum/test/test-challenges.js
Labels: none

chore: bump to 5.3.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

chore: update to 5.2.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

chore(deps): update curriculum-helpers to 5.1.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

chore: bump to 5.3.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

fixed CI errors
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52ee.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f1.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/686386e76197458b7dfd52f3.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-pricing-component/68668014d6a84384018dc302.md
Labels: scope: curriculum

feat: support after-all in parser
  tools/challenge-parser/parser/__fixtures__/with-after-all-hook.md
  tools/challenge-parser/parser/__fixtures__/with-another-invalid-after-all-hook.md
  tools/challenge-parser/parser/__fixtures__/with-invalid-after-all-hook.md
  tools/challenge-parser/parser/__fixtures__/with-non-js-after-all-hook.md
  tools/challenge-parser/parser/plugins/add-hooks.js
  tools/challenge-parser/parser/plugins/add-hooks.test.js
Labels: scope: tools/scripts

fix: use new date format
  client/src/components/daily-coding-challenge/calendar.tsx
  client/src/components/daily-coding-challenge/helpers.ts
  client/src/templates/Challenges/components/daily-challenge-bread-crumb.tsx
Labels: platform: learn

fix: move map button to 2nd
  client/src/components/Map/index.tsx
Labels: platform: learn

feat: support afterAll in client
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Challenges/utils/frame.ts
Labels: platform: learn

test: support afterAll in test suite
  curriculum/schema/challenge-schema.js
  curriculum/test/test-challenges.js
Labels: none

fix: use afterAll to remove fake timers
  curriculum/challenges/english/25-front-end-development/lab-one-time-password-generator/67c562286b29447da020d407.md
  curriculum/challenges/english/25-front-end-development/lab-tic-tac-toe/67e3a6b7f60b4085588189e6.md
Labels: scope: curriculum

fix: update custom schema
  client/gatsby-node.js
Labels: platform: learn

fix: add assignment placeholder
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
Labels: scope: tools/scripts

fix(curriculum): Make colored boxes lab pass without semicolons
  curriculum/challenges/english/25-front-end-development/lab-colored-boxes/66f3f6eb66ea9dc41cdc30df.md
Labels: scope: curriculum

fix(curriculum): make semicolons optional in Set of Colored Boxes
  curriculum/challenges/english/25-front-end-development/lab-colored-boxes/66f3f6eb66ea9dc41cdc30df.md
Labels: scope: curriculum

update task
  curriculum/challenges/english/21-a2-english-for-developers/learn-introductions-in-an-online-team-meeting/657e51218ff18f8191b76ea9.md
Labels: scope: curriculum

add tasks for dialogue 2
  curriculum/challenges/_meta/get-to-know-others-by-asking-simple-questions/meta.json
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/683f175d833c400f019dc7b3.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/6840ad915ebc0fbbb9daf0b4.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/6840bfe2d2a0e4c6ae3843e1.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/6840d16190d00cd17ecedcda.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/6841b08901d128ffa991ec74.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/684898bc1b359cf84155e532.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/6848dc3da7c6b224b35b7f5b.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/6848dfe2a2a4e02a09e6d63f.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/684b14cefc4e06c9b4746aed.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/685aba8256c67a8555402fed.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/685bf9516709c43436b2ef5a.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/685c297ebe9d6230df07701a.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/685c3e0b73526b4f739ecad8.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/686d41536d8e1d28869608ea.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/686d52493c2c6a366fc1bb84.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/686d5be43a656f406a46adba.md
  curriculum/challenges/english/26-a2-professional-spanish/get-to-know-others-by-asking-simple-questions/686d77d21a0a9b5b508925f1.md
Labels: scope: curriculum, scope: i18n

add fun explanation of manager
  curriculum/challenges/english/21-a2-english-for-developers/learn-introductions-in-an-online-team-meeting/657e51218ff18f8191b76ea9.md
Labels: scope: curriculum

.github/labeler.yml:

'scope: docs':
  - docs/**/*

'scope: curriculum':
  - curriculum/challenges/**/*

'platform: learn':
  - client/**/*

'platform: api':
  - api-server/**/*
  - api/**/*

'scope: tools/scripts':
  - tools/**/*
  - .github/**/*
  - utils/**/*
  - e2e/**/*

'scope: i18n':
  - any: ['curriculum/challenges/**/*', '!curriculum/challenges/english/**/*']
  - docs/i18n/**/*
  - client/i18n/**/*
  - config/crowdin/**/*
  - shared/config/i18n/**/*
