Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2018-03, with the labels that each got.

#16802 fix(common): Add Default Text to Heatmap Legend
  common/app/routes/Profile/components/HeatMap.jsx
Labels: status: ready for QA

#16805 chore(translations): Remove empty translation descriptions
  seed/challenges/01-responsive-web-design/responsive-web-design-projects.json
  seed/challenges/03-front-end-libraries/front-end-libraries-projects.json
  seed/challenges/04-data-visualization/data-visualization-projects.json
  seed/challenges/05-apis-and-microservices/api-and-microservice-projects.json
Labels: status: ready for QA

#16820 chore(package): Update loopback-boot to remove vulnerability
  package-lock.json
  package.json
Labels: status: ready for QA

#16531 fix(map): Expand map when challenge opened
  common/app/Map/Challenge.jsx
  common/app/Map/Map.jsx
  common/app/Map/map.less
  common/app/Map/redux/fetch-map-ui-epic.js
  common/app/Map/redux/index.js
  common/app/Map/redux/utils.js
  common/app/Map/redux/utils.test.js
  common/app/Nav/redux/index.js
  common/app/analytics/index.js
Labels: status: ready for QA

#16796 fix(projectCompletion): Open completion modal for Project submission
  common/app/reducer.js
  common/app/redux-form-reducer.js
  common/app/routes/Challenges/redux/completion-epic.js
  common/app/routes/Challenges/redux/index.js
  common/app/routes/Challenges/views/project/Forms.jsx
  common/app/routes/Challenges/views/project/Tool-Panel.jsx
Labels: status: ready for QA

#16715 fix(server,secrets): Specify profile field for LinkedIn provider.
  config/secrets.js
  server/passport-providers.js
Labels: production, status: ready for QA

#16832 Improve instructions of "Global vs Local Scope in Functions" challenge
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json
Labels: status: ready for QA

#16693 fix(seed): Format description, add tests and solution for Project Euler 18
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: needs update, type: interview prep

#16720 Fix/invalid challenge url
  common/app/NotFound/Not-Found.jsx
  common/app/routes/Challenges/Show.jsx
  common/app/routes/Challenges/redux/index.js
  common/app/utils/challengeTypes.js
Labels: status: needs update

#16728 fix(seed): Add Img to CSS Relative Positioning Challenge
  seed/challenges/01-responsive-web-design/applied-visual-design.json
Labels: status: ready for QA

#16828 fix(challenges): Call resetQuiz() when dashedName of the quiz changes
  common/app/routes/Challenges/views/quiz/Quiz.jsx
Labels: status: needs update

#16848 fix(styles): Overlay js warning to preserve preview pane height
  common/app/routes/Challenges/Preview.jsx
  common/app/routes/Challenges/challenges.less
Labels: status: ready for QA

#16767 fix: language update suggestions for basic-css and basic-html
  seed/challenges/01-responsive-web-design/basic-css.json
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: ready for QA

#16854 chore(package-lock): Update lock file
  package-lock.json
Labels: status: ready for QA

#16851 fix: Small language updates, and fix for colour contrast - basic-css
  seed/challenges/01-responsive-web-design/basic-css.json
Labels: status: ready for QA

#16859 Fix/copy improvements
  common/app/Nav/Nav.jsx
  common/app/NotFound/Not-Found.jsx
  common/app/routes/Challenges/Help-Modal.jsx
  common/app/routes/Challenges/views/step/Step.jsx
  common/models/user.js
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
  seed/challenges/01-responsive-web-design/css-flexbox.json
  seed/challenges/01-responsive-web-design/responsive-web-design-projects.json
  seed/challenges/01-responsive-web-design/responsive-web-design.json
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting.json
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-data-structures.json
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json
  seed/challenges/02-javascript-algorithms-and-data-structures/claim-your-javascript-algorithms-and-data-structures.json
  seed/challenges/02-javascript-algorithms-and-data-structures/debugging.json
  seed/challenges/02-javascript-algorithms-and-data-structures/functional-programming.json
  seed/challenges/02-javascript-algorithms-and-data-structures/regular-expressions.json
  seed/challenges/03-front-end-libraries/bootstrap.json
  seed/challenges/03-front-end-libraries/jquery.json
  seed/challenges/03-front-end-libraries/sass.json
  seed/challenges/04-data-visualization/data-visualization-with-d3.json
  seed/challenges/04-data-visualization/json-apis-and-ajax.json
  seed/challenges/05-apis-and-microservices/mongodb-and-mongoose.json
  seed/challenges/07-contribute-to-open-source-and-help-nonprofits/contribute-to-open-source-and-help-nonprofits.json
  server/views/account/deprecated-signin.jade
  server/views/account/email-signin.jade
  server/views/emails/user-request-sign-in.ejs
  server/views/emails/user-request-sign-up.ejs
  server/views/emails/user-request-update-email.ejs
Labels: status: ready for QA

#16875 fix(seed): Capitalizes CSS Grid in the title of challengs
  common/app/utils/blockNameify.js
Labels: status: ready for QA

#16819 fix(challenge): Handle slow network connections gracefully
  client/index.js
  client/less/main.less
  common/app/entities/index.js
  common/app/helperComponents/SkeletonSprite.jsx
  common/app/helperComponents/index.js
  common/app/helperComponents/skeletonStyles.js
  common/app/redux/fetch-challenges-epic.js
  common/app/redux/index.js
  common/app/routes/Challenges/Challenge-Description.jsx
  common/app/routes/Challenges/Challenge-Title.jsx
  common/app/routes/Challenges/Child-Container.jsx
  common/app/routes/Challenges/Code-Mirror-Skeleton.jsx
  common/app/routes/Challenges/Show.jsx
  common/app/routes/Challenges/Tool-Panel.jsx
  common/app/routes/Challenges/challenges.less
  common/app/routes/Challenges/redux/index.js
  common/app/routes/Challenges/utils/index.js
  common/app/routes/Challenges/views/step/Step.jsx
  server/services/mapUi.js
Labels: critical path, status: ready for QA

#16838 fix(selector): Correctly destructure in the firstChallengeSelector
  common/app/redux/index.js
Labels: critical path, status: ready for QA

#16877 fix(seed): fixed typos in css grid challenges
  seed/challenges/01-responsive-web-design/css-grid.json
Labels: status: ready for QA

#16885 fix(seed): Intro to chai added
  seed/challenges/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai.json
Labels: status: ready for QA

#16845 feat(opbeat): Enable opbeat-react for frontend performance tracking
  .babelrc
  client/index.js
  gulpfile.js
  package-lock.json
  package.json
  sample.env
  server/middlewares/csp.js
  webpack.config.js
Labels: status: ready for QA

#16887 Corrected the section "Changes to the seed files"
  CONTRIBUTING.md
Labels: status: ready for QA, type: documentation

#16895 fix(challange): Redundant note has been removed
  seed/challenges/02-javascript-algorithms-and-data-structures/es6.json
Labels: status: ready for QA

#16888 fix(seed): flex box challenges not displaying
  seed/challenges/01-responsive-web-design/css-flexbox.json
Labels: status: ready for QA, type: curriculum

#16886 fix(seed): Challenge titles should be properly capitalized
  seed/challenges/01-responsive-web-design/css-grid.json
Labels: status: ready for QA, type: curriculum

#16884 fix(seed): improve instructions of css-flex challenge
  seed/challenges/01-responsive-web-design/css-flexbox.json
Labels: status: ready for QA, type: curriculum

#16866 fix(challenges): Fix typo in code example
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json
Labels: status: ready for QA

#16853 feat(seed): add css variable challenges
  seed/challenges/01-responsive-web-design/basic-css.json
Labels: status: needs update, type: curriculum

#16917 fix: Update Build a Pinterest Clone example URL. (#16910)
  seed/challenges/03-back-end-development-certification/dynamic-web-applications.json
Labels: status: ready for QA

#16908 fix(style): Corrects the font size of the links in the intro challenges
  common/app/routes/Challenges/views/step/step.less
Labels: status: ready for QA

#16909 Removed whitespace when there are 2 panes in default Project view
  common/app/Panes/redux/utils.js
Labels: status: ready for QA

#16864 fix(alerts): Fix page not found alert & UI adjustments
  client/less/main.less
  common/app/Flash/flash.less
  common/app/NotFound/Not-Found.jsx
Labels: status: ready for QA

#16821 Remove use of for from radio button lesson
  seed/challenges/01-responsive-web-design/applied-accessibility.json
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: ready for QA, type: curriculum

#16890 Feat(Nav): Responsive Nav with promonent Bin buttons
  client/less/lib/bootstrap/variables.less
  common/app/Nav/LargeNav.jsx
  common/app/Nav/MediumNav.jsx
  common/app/Nav/Nav.jsx
  common/app/Nav/SmallNav.jsx
  common/app/Nav/components/Bin-Button.jsx
  common/app/Nav/components/BinButtons.jsx
  common/app/Nav/components/NavLinks.jsx
  common/app/Nav/components/NavLogo.jsx
  common/app/Nav/components/Sign-Up.jsx
  common/app/Nav/components/index.js
  common/app/Nav/nav.less
  common/app/Nav/navPropTypes.js
  package-lock.json
  package.json
Labels: status: discussing

#16935 fix(seed): Fix typo in redux.json
  seed/challenges/03-front-end-libraries/redux.json
Labels: status: ready for QA

#16825 Refactored Docker environment.
  .gitignore
  CONTRIBUTING.md
  docker-compose.yml
  sample.docker-compose.yml
Labels: status: ready for QA

#16922 fix(common): Added expected homeURL that was missing
  common/utils/constantStrings.json
Labels: status: ready for QA

#16933 fix: remove flash saying JS is disabled
  common/app/routes/Challenges/Preview.jsx
  common/app/routes/Challenges/challenges.less
Labels: critical path, status: ready for QA

#16939 feat(seed): An HTML illustration added
  seed/challenges/01-responsive-web-design/css-grid.json
Labels: status: ready for QA

#16926 fix(seed): Make element naming optional
  seed/challenges/02-javascript-algorithms-and-data-structures/es6.json
Labels: status: ready for QA

#16844 fix(lang): Refetch mapUi on language change
  common/app/entities/index.js
  common/app/redux/index.js
  common/app/routes/Settings/redux/update-user-epic.js
Labels: critical path, status: ready for QA

#16752 fix(seed): Fixed issue with approximately always failing
  seed/challenges/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai.json
Labels: status: ready for QA, type: curriculum

#16943 chore(package): Update react-freecodecamp-search
  common/app/Nav/LargeNav.jsx
  common/app/Nav/MediumNav.jsx
  common/app/Nav/SmallNav.jsx
  common/app/Nav/nav.less
  package-lock.json
  package.json
  server/middlewares/csp.js
Labels: status: blocked

#16961 fix(challenges): Fix typo in css-grid justify-self challenge
  seed/challenges/01-responsive-web-design/css-grid.json
Labels: status: ready for QA

#16962 fix(challenges): Change Symmetric Differences Title
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-algorithm-questions.json
Labels: status: ready for QA, type: curriculum

#16921 fix(seed): update test for create a bootstrap button
  seed/challenges/03-front-end-libraries/bootstrap.json
Labels: status: ready for QA

#16972 fix(seed): Correct typos in es6.json
  seed/challenges/02-javascript-algorithms-and-data-structures/es6.json
Labels: status: ready for QA

#16937 build(docker): Allows sharing of network
  .gitignore
  CONTRIBUTING.md
  docker-compose-shared.yml
  docker-compose.yml
  sample.docker-compose.yml
  sample.env
  server/datasources.development.js
Labels: status: ready for QA

#16990 docs(documentation): Update readme.md and contributor.md
  CONTRIBUTING.md
  README.md
Labels: status: ready for QA
