Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2018-02, with the labels that each got.

#16655 fix(seed): Make algorithm projects appear after intermediate algorithms
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting.json
  seed/challenges/02-javascript-algorithms-and-data-structures/basic-data-structures.json
  seed/challenges/02-javascript-algorithms-and-data-structures/claim-your-javascript-algorithms-and-data-structures.json
  seed/challenges/02-javascript-algorithms-and-data-structures/functional-programming.json
  seed/challenges/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting.json
  seed/challenges/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects.json
  seed/challenges/02-javascript-algorithms-and-data-structures/object-oriented-programming.json
Labels: status: ready for QA

#16676 feat(seed): Fix attribute selector grammar error
  seed/challenges/01-responsive-web-design/basic-css.json
Labels: status: ready for QA

#16667 docs(common steps): Clarify PR instructions
  CONTRIBUTING.md
  docs/images/fork-instructions.png
Labels: status: ready for QA

#16621 fix(seed): Add tests and solution for Project Euler 14
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: interview prep

#16697 Language update suggestions for basic HTML curriculum
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: ready for QA

#16706 fix: small language update suggestion for basic css
  seed/challenges/01-responsive-web-design/basic-css.json
Labels: status: ready for QA

#16704 fix(seed): Add default values to incompleted declarations
  seed/challenges/03-front-end-libraries/react-and-redux.json
  seed/challenges/03-front-end-libraries/react.json
  seed/challenges/03-front-end-libraries/redux.json
Labels: status: needs update

#16708 fix(seed): Typo in test message
  seed/challenges/01-responsive-web-design/applied-visual-design.json
Labels: status: ready for QA

#16702 fix(typo): Fix defaultState Typo
  server/boot/react.js
Labels: status: ready for QA

#16617 fix(seed): Add tests for Project Euler problem 13
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: needs analysis, type: interview prep

#16690 fix(challenges): Fix animation-timing-function default from linear to ease
  seed/challenges/01-responsive-web-design/applied-visual-design.json
Labels: status: ready for QA

#16691 update test for media query challenge
  seed/challenges/01-responsive-web-design/responsive-web-design.json
Labels: status: ready for QA

#16700 fix(seed): Corrected test for "Create a React Component from Scratch"
  seed/challenges/03-front-end-libraries/react.json
Labels: status: needs update

#16449 fix(tests): Improve test output
  gulpfile.js
  package-lock.json
  package.json
Labels: status: ready for QA

#16713 Fix/language update suggestions to basic css basic html
  seed/challenges/01-responsive-web-design/basic-css.json
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: needs update

#16711 fix(seed): Removed inconsistent and unnecessary ReactDOM.rend
  seed/challenges/03-front-end-libraries/react.json
Labels: status: ready for QA

#16678 fix(seed): Add length check for component find
  seed/challenges/03-front-end-libraries/react.json
Labels: status: needs update

#16709 feat(challenges): Added feedback for non-front-facing glitch url
  common/app/routes/Challenges/Solution-Input.jsx
  common/app/utils/form.js
Labels: status: needs update

#16626 fix(seed): Add tests, solution, and image for Project Euler problem 15
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: needs update, type: interview prep

#16685 fix(challenges): Add tests and solution for Project Euler problem 17
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA

#16641 fix(seed): Add tests, solution, and edit description for Project Euler 16
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: needs update, type: interview prep

#16694 fix(seed): Add tests and solution for Project Euler 19
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA

#16701 fix(search): Allow csp to always trust search.freecodecamp.org
  server/middlewares/csp.js
Labels: status: ready for QA

#16729 fix: language update suggestions for basic-css and basic-html
  seed/challenges/01-responsive-web-design/basic-css.json
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: ready for QA

#16699 Fix/backend completion
  common/app/routes/Challenges/redux/completion-epic.js
  common/app/routes/Challenges/redux/index.js
  common/app/routes/Challenges/utils/build.js
  common/app/routes/Challenges/views/backend/Back-End.jsx
Labels: status: ready for QA

#16743 feat(Profile): Reactify profile page
  common/app/App.jsx
  common/app/Nav/Nav.jsx
  common/app/entities/index.js
  common/app/redux/fetch-user-epic.js
  common/app/redux/index.js
  common/app/routes/Profile/Profile.jsx
  common/app/routes/Profile/components/CamperHOC.jsx
  common/app/routes/Profile/components/Certificates.jsx
  common/app/routes/Profile/components/HeatMap.jsx
  common/app/routes/Profile/components/Portfolio.jsx
  common/app/routes/Profile/components/SocialIcons.jsx
  common/app/routes/Profile/components/Timeline.jsx
  common/app/routes/Profile/index.js
  common/app/routes/Profile/ns.json
  common/app/routes/Profile/profile.less
  common/app/routes/Profile/redux/index.js
  common/app/routes/Settings/Settings.jsx
  common/app/routes/Settings/components/Camper.jsx
  common/app/routes/Settings/settings.less
  common/app/routes/index.js
  common/app/routes/index.less
  common/app/routes/redux.js
  common/models/user.js
  common/models/user.json
  package-lock.json
  package.json
  public/css/cal-heatmap.css
  server/boot/react.js
  server/boot/user.js
  server/services/user.js
  server/utils/publicUserProps.js
  server/views/certificate/advanced-front-end.jade
  server/views/certificate/apis-and-microservices.jade
  server/views/certificate/back-end.jade
  server/views/certificate/data-visualization.jade
  server/views/certificate/front-end-libraries.jade
  server/views/certificate/front-end.jade
  server/views/certificate/full-stack.jade
  server/views/certificate/information-security-and-quality-assurance.jade
  server/views/certificate/javascript-algorithms-and-data-structures.jade
  server/views/certificate/responsive-web-design.jade
Labels: status: ready for QA

#16747 feat(sass): Enable client-side sass compiling
  common/app/routes/Challenges/rechallenge/builders.js
  common/app/routes/Challenges/rechallenge/transformers.js
  common/utils/polyvinyl.js
  seed/challenges/03-front-end-libraries/sass.json
Labels: status: ready for QA

#16742 feat(challenges): Call updateSuccessMessage action
  common/app/routes/Challenges/Show.jsx
Labels: status: needs update

#16759 fix(redirects): Do not add private blocks/challenges to the map
  server/utils/map.js
Labels: status: ready for QA

#16757 Fix/danger zone warning
  common/app/routes/Settings/components/DangerZone.jsx
Labels: status: ready for QA

#16764 fix(seed): Fixed issue Change the Color of Text challenge does not load
  seed/challenges/01-responsive-web-design/basic-css.json
Labels: status: ready for QA

#16749 fix(seed): Add legacy project back in and update id
  seed/challenges/01-responsive-web-design/responsive-web-design-projects.json
  seed/challenges/03-front-end-libraries/front-end-libraries-projects.json
  seed/challenges/04-data-visualization/data-visualization-projects.json
  seed/challenges/05-apis-and-microservices/api-and-microservice-projects.json
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/rosetta-code-problems.json
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/take-home-interview-projects.json
Labels: status: needs update

#16736 fix(challenges): Word wrap fix for Chrome
  common/app/routes/Challenges/views/step/step.less
Labels: status: ready for QA

#16744 fix(seed): Fixed check on U tag to Underline tests
  seed/challenges/01-responsive-web-design/applied-visual-design.json
Labels: status: ready for QA

#16717 fix(seed): Fixed issue with atLeast test always failing
  seed/challenges/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai.json
Labels: status: ready for QA

#16718 fix(seed): Fixed issue with jquery test for issue number 16611
  seed/challenges/03-front-end-libraries/jquery.json
Labels: status: needs update

#16733 perf(challenges): Remove Multiple Calls to Challenge Function in Project Euler Problems
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: interview prep

#16737 fix(challenges): Hide second scrollbar in challenge preview pane
  common/app/Panes/Pane.jsx
  common/app/routes/Challenges/challenges.less
Labels: status: ready for QA

#16741 perf(challenges): Add Head and Remove Multiple Function Calls in Project Euler 22
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: interview prep

#16776 fix(show): add solutions view
  server/views/account/show.jade
Labels: production, status: ready for QA

#16771 Feat(challenge): Only send the challenges for the requested block
  common/app/Map/Block.jsx
  common/app/Map/Map.jsx
  common/app/Map/Super-Block.jsx
  common/app/Map/redux/fetch-map-ui-epic.js
  common/app/Map/redux/index.js
  common/app/entities/index.js
  common/app/redux/fetch-challenges-epic.js
  common/app/redux/index.js
  common/app/redux/utils.js
  common/app/routes/Challenges/Completion-Modal.jsx
  common/app/routes/Challenges/Show.jsx
  common/app/routes/Challenges/redux/challenge-epic.js
  common/app/routes/Challenges/redux/index.js
  common/app/routes/Settings/components/Internet-Settings.jsx
  server/boot/a-services.js
  server/services/challenge.js
  server/services/map.js
  server/services/mapUi.js
Labels: status: ready for QA

#16370 fix(rechallenge): Remove JS files from build pipeline when JS is disabled
  common/app/routes/Challenges/Preview.jsx
  common/app/routes/Challenges/rechallenge/transformers.js
  common/app/routes/Challenges/redux/execute-challenge-epic.js
  common/app/routes/Challenges/redux/index.js
  common/app/routes/Challenges/utils/build.js
  common/utils/polyvinyl.js
Labels: status: ready for QA

#16794 Made confirmation message legible for userprofile setting in dark mode.
  common/app/Flash/flash.less
Labels: status: ready for QA

#16799 fix(less): Fix Flash less syntax
  common/app/Flash/flash.less
Labels: status: ready for QA

#16790 fix(toggleEmail): Use dispatch bound updateUserBackend
  common/app/routes/Settings/components/Email-Settings.jsx
Labels: status: ready for QA

#16789 fix(profile): Fix challenges of undefined Error
  common/app/entities/index.js
  common/app/redux/fetch-challenges-epic.js
  server/services/mapUi.js
Labels: status: ready for QA

#16778 feat(seed): add new set of systems design questions
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/system-design-and-concept-questions.json
Labels: status: ready for QA

#16798 fix(layout): Improve project view
  common/app/routes/Challenges/views/project/Project.jsx
  common/app/routes/Challenges/views/project/Tool-Panel.jsx
Labels: status: ready for QA
