Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2018-10, with the labels that each got.

#18261 fix(learn): transformers don't apply
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/build.js
  client/src/templates/Challenges/utils/polyvinyl.js
Labels: next

#18263 docs(contrib): Edits staging -> master, workflows
  CONTRIBUTING.md
Labels: next, scope: documentation

#18268 fix(learn): paths to Intros
  client/utils/gatsby/index.js
Labels: next

#18280 fix(test): Remove placholder text
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-bezier-curve.english.md
Labels: next

#18285 chore: remove commitlint tools
  curriculum/package-lock.json
  curriculum/package.json
  lerna.json
Labels: next, status: ready for QA

#18292 Fix Euler Project problem 19
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-19-counting-sundays.english.md
Labels: scope: curriculum, status: ready for QA

#18289 fix: Character was rendering as hexcode in tutorial Basic CSS: Specify How Fonts Should Degrade
  curriculum/challenges/english/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.english.md
Labels: next, scope: curriculum, status: needs update

#18330 feat(guide): add article for Vue.js Declarative Rendering
  client/src/pages/guide/english/vue/declarative-rendering/index.md
Labels: scope: guide

#18334 feat(guide): add article for Vue.js Control Flow
  client/src/pages/guide/english/vue/control-flow/index.md
Labels: scope: guide

#18328 fix(guide):HTML replaced stub of blockquote element
  client/src/pages/guide/english/html/elements/blockquote-tag/index.md
Labels: scope: guide, status: needs update

#18373 fix(guide): modified links to form list
  client/src/pages/guide/english/machine-learning/backpropagation/index.md
Labels: scope: guide

#18390 Corrected grammatical errors.
  client/src/pages/guide/english/cplusplus/arrays/index.md
Labels: scope: guide

#18402 minor typos and grammatical amend
  client/src/pages/guide/english/html/html5-video/index.md
Labels: scope: guide

#18339 translate(docs): Translate how-to-work-on-coding-challenges.md to Portuguese
  docs/portuguese/how-to-work-on-coding-challenges.md
Labels: scope: translation

#18322 Added spanish translation for how-to-work-on-coding-challenges.md
  docs/spanish/how-to-work-on-coding-challenges.md
Labels: scope: translation

#18323 (translate) freeCodeCamp how to catch outgoing emails locally README to spanish
  docs/spanish/how-to-catch-outgoing-emails-locally.md
Labels: scope: translation

#18324 Translated README.md [Portuguese]
  docs/portuguese/README.md
Labels: scope: translation

#18329 Translated how-to-catch-outgoing-emails-locally.md to Portuguese-BR
  docs/portuguese/how-to-catch-outgoing-emails-locally.md
Labels: scope: translation

#18437 fix(dev): Remove jade middleware
  api-server/server/middleware.json
  api-server/server/middlewares/jade-helpers.js
Labels: platform: server, status: ready for QA

#18581 Add 'tags must be closed' rule to JSX guide
  client/src/pages/guide/english/react/jsx/index.md
Labels: scope: guide

#18601 Adds intermediate solution and corrects "run code" link
  client/src/pages/guide/english/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice/index.md
Labels: scope: guide

#18344 [Improvement] Added example for Linear Search in `Swift`
  client/src/pages/guide/english/algorithms/search-algorithms/linear-search/index.md
Labels: scope: guide

#18345 fix(guide) machine learning - grammar errors, added formatting
  client/src/pages/guide/english/machine-learning/backpropagation/index.md
Labels: scope: guide

#18347 [Improvement] Added example for Binary Search in `Swift`
  client/src/pages/guide/english/algorithms/search-algorithms/binary-search/index.md
Labels: scope: guide

#18349 Added some extra info about Ray Tracing
  client/src/pages/guide/english/computer-hardware/gpu/index.md
Labels: scope: guide

#18352 feat(guide): add article for Vue.js Components
  client/src/pages/guide/english/vue/components/index.md
Labels: scope: guide

#18643 Add first content on redux middleware
  client/src/pages/guide/english/redux/redux-middleware/index.md
Labels: scope: guide

#18353 Added info about Unlocked CPU's to Overclock
  client/src/pages/guide/english/computer-hardware/cpu/index.md
Labels: scope: guide

#18354 Added info on Maintenance of Liquid Cooling
  client/src/pages/guide/english/computer-hardware/cooling/index.md
Labels: scope: guide

#18362 feat(guide): Added the link to ui patterns
  client/src/pages/guide/english/user-experience-design/hicks-law/index.md
Labels: scope: guide

#18359 Add Text "Advanced Android Development"
  client/src/pages/guide/english/android-development/core-components/index.md
Labels: scope: guide

#18365 fix(guide): Python - Add floating point output to abs() code sample
  client/src/pages/guide/english/python/abs-function/index.md
Labels: scope: guide

#18364 Added text " Kotlin courses for beginners "
  client/src/pages/guide/english/kotlin/hello-world/index.md
Labels: scope: guide

#18372 Added a good reference video for selection sort
  client/src/pages/guide/english/algorithms/sorting-algorithms/selection-sort/index.md
Labels: scope: guide

#18374 Added a good reference video for Insertion Sort
  client/src/pages/guide/english/algorithms/sorting-algorithms/insertion-sort/index.md
Labels: scope: guide

#18369 add iTerm2 introduction
  client/src/pages/guide/english/terminal-commandline/macos-terminal/index.md
Labels: scope: guide

#18376 Added a good reference video for binary search
  client/src/pages/guide/english/algorithms/search-algorithms/binary-search/index.md
Labels: scope: guide

#18378 Added a good reference video on Quick sort
  client/src/pages/guide/english/algorithms/sorting-algorithms/quick-sort/index.md
Labels: scope: guide

#18839 Added glossary term
  client/src/pages/guide/english/machine-learning/glossary/index.md
Labels: scope: guide

#18740 Bullet points fixed
  client/src/pages/guide/english/electron/index.md
Labels: scope: guide

#18753 Create Index.md
  client/src/pages/guide/english/vue-cli/index.md
Labels: scope: guide

#18357 Added more instructions for nvm and code example
  client/src/pages/guide/english/developer-tools/npm-cheatsheet/index.md
Labels: scope: guide

#18367 Added the advantages and disadvantages of an array
  client/src/pages/guide/english/csharp/array/index.md
Labels: scope: guide

#18881 fix: clean up and adjust broken formatting
  client/src/pages/guide/english/computer-hardware/motherboard/index.md
Labels: scope: guide

#18825 Added paragraph and made corrections
  client/src/pages/guide/english/data-science-tools/index.md
Labels: scope: guide

#18797 Java Guide- Added Examples to Built in functions
  client/src/guide/english/java/built-in-functions/index.md
Labels: scope: guide

#18926 fix typo, and add dimension example
  client/src/pages/guide/english/react-native/screen-dimensions/index.md
Labels: scope: guide

#18998 Spelling Error in the title
  client/src/pages/guide/english/c/Dinamic Memory Management/index.md
Labels: scope: guide

#18991 Removing the unnecessary word "Therefore,"
  client/src/pages/guide/english/mathematics/area-of-a-parallelogram/index.md
Labels: scope: guide

#18996 The sub-title "Recursion in C" was missing
  client/src/pages/guide/english/c/functions/index.md
Labels: scope: guide

#19013 fix: update 3 links syntax in More Information
  client/src/pages/guide/english/computer-hardware/rom/index.md
Labels: scope: guide

#18742 Added React information
  client/src/pages/guide/english/certifications/front-end-libraries/react/index.md
Labels: scope: guide

#18992 change command usage from cat to ls
  client/src/guide/english/bash/bash-ls/index.md
Labels: scope: guide

#19100 added Clear command
  client/src/pages/guide/english/linux/basic-linux-commands/index.md
Labels: scope: guide

#19169 Added security, use cases, basic networking info
  client/src/pages/guide/english/ssh/index.md
Labels: invalid

#19014 Enriched definition
  client/src/pages/guide/english/working-in-tech/code-reviews/index.md
Labels: scope: guide

#19206 Removed duplicate link
  client/src/pages/guide/english/product-design/index.md
Labels: scope: guide

#18377 Updated Layer 2 Section
  client/src/pages/guide/english/network-engineering/osi-layers/index.md
Labels: scope: guide

#19148 Added list of women in tech initiatives
  client/src/pages/guide/english/working-in-tech/women-in-tech/index.md
Labels: scope: guide

#19209 Indentation and grammar
  client/src/pages/guide/english/python/functions/index.md
Labels: scope: guide

#19197 update article for filter function
  client/src/pages/guide/english/javascript/higher-order-functions/index.md
Labels: scope: guide

#19205 Corrected last URL's markdown format.
  client/src/pages/guide/english/html/optional-tags/index.md
Labels: scope: guide

#18635 feat(guide): Add new Git article How to Undo Things
  client/src/pages/guide/english/git/git-how-to-undo-things/index.md
Labels: scope: guide

#18463 fix(coding): remove misleading test
  curriculum/challenges/arabic/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.arabic.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.chinese.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.english.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.portuguese.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.russian.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.spanish.md
Labels: status: ready for QA

#19225 Created index.md under stl-algorithms directory
  client/src/pages/guide/english/cplusplus/stl-algorithms/index.md
Labels: scope: guide

#19212 Updated write file code with proper indentation
  client/src/pages/guide/english/nodejs/file-system/index.md
Labels: scope: guide

#19126 updates for css3 media queries article, now in proper repo
  client/src/pages/guide/english/css/css3-media-queries/index.md
Labels: scope: guide

#18559 added file handling topic in cplusplus
  client/src/pages/guide/english/cplusplus/file-handling/index.md
Labels: scope: guide

#19304 Correct spelling errors
  client/src/pages/guide/english/html/tutorials/embedding-youtube-videos/index.md
Labels: scope: guide

#19283 "added new subtopics on static and dynamic arrays "
  client/src/pages/guide/english/cplusplus/arrays/index.md
Labels: scope: guide

#19274 added code in python
  client/src/pages/guide/english/algorithms/sorting-algorithms/bubble-sort/index.md
Labels: scope: guide

#19356 fix: update guide article on event handling
  client/src/guide/english/javascript/event-handling/index.md
Labels: scope: guide

#18841 Update index.md Button on-click animation
  client/src/pages/guide/english/css/css-buttons/index.md
Labels: scope: guide, status: needs update

#18847 fix: surround tags with code tags
  client/src/pages/guide/english/html/tables/index.md
Labels: scope: guide, status: needs update

#18819 import package that needed only.
  client/src/pages/guide/english/java/arraylist/index.md
Labels: scope: guide, status: needs update

#18818 to clear array-list
  client/src/pages/guide/english/java/arraylist/index.md
Labels: scope: guide, status: needs update

#19017 Explained form elements.
  client/src/pages/guide/english/css/forms/index.md
Labels: scope: guide

#19386 fix(guide): Fix book recommendation folder structure for mis-named file
  client/src/pages/guide/english/book-recommendations/swift/index.md
Labels: scope: guide

#18964 Update, added vw, vh example to values part index.md
  client/src/pages/guide/english/css/background-size/index.md
Labels: scope: guide, status: needs update

#19120 Added "Nested Functions" section to the file
  client/src/pages/guide/english/swift/functions/index.md
Labels: scope: guide

#19328 [Guide] Data Structures: Create a Queue Class
  client/src/guide/english/certifications/coding-interview-prep/data-structures/create-a-queue-class/index.md
Labels: scope: guide

#19287 "added a subtopic on uses of stacks"
  client/src/pages/guide/english/cplusplus/stack/index.md
Labels: scope: guide

#19437 Adding unpacking list elements to variables
  client/src/pages/guide/english/python/lists/index.md
Labels: scope: guide

#18386 Typo fix
  curriculum/challenges/portuguese/08-coding-interview-prep/data-structures/create-an-es6-javascript-map.portuguese.md
Labels: Portuguese, scope: translation

#18388 Typo fix
  curriculum/challenges/portuguese/08-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.portuguese.md
Labels: Portuguese, scope: translation

#18391 Clears a few details
  curriculum/challenges/portuguese/03-front-end-libraries/react/create-a-simple-jsx-element.portuguese.md
Labels: Portuguese, scope: translation

#19461 Update index.md
  client/src/pages/guide/english/certifications/javascript-algorithms-and-data-structures/basic-javascript/generate-random-whole-numbers-with-javascript/index.md
Labels: scope: guide

#18540 docs: translate how-to-setup-freecodecamp-locally.md to Portuguese
  docs/portuguese/how-to-setup-freecodecamp-locally.md
Labels: Portuguese, scope: translation

#18634 Minor portuguese translation fixes
  curriculum/challenges/portuguese/06-information-security-and-quality-assurance/advanced-node-and-express/logging-a-user-out.portuguese.md
Labels: Portuguese, scope: translation

#18908 Improved Portuguese translation (boo-who)
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who.portuguese.md
Labels: Portuguese, scope: translation

#18913 fix: Corrections in Portuguese translation
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/add-different-margins-to-each-side-of-an-element.portuguese.md
Labels: Portuguese, scope: translation

#18917 fix: Corrections in Portuguese translation
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/change-the-color-of-text.portuguese.md
Labels: Portuguese, scope: translation

#19235 Improved Portuguese translation (falsy-bouncer)
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/falsy-bouncer.portuguese.md
Labels: Portuguese

#19250 Add translations to titles and fix typo
  curriculum/challenges/portuguese/03-front-end-libraries/bootstrap/add-elements-within-your-bootstrap-wells.portuguese.md
Labels: Portuguese

#19252 Add translation for titles
  curriculum/challenges/portuguese/03-front-end-libraries/jquery/change-text-inside-an-element-using-jquery.portuguese.md
Labels: Portuguese

#19258 Add translation for titles [Portuguese]
  curriculum/challenges/portuguese/03-front-end-libraries/jquery/remove-an-element-using-jquery.portuguese.md
Labels: Portuguese

#19264 Add translation for titles [Portuguese]
  curriculum/challenges/portuguese/03-front-end-libraries/jquery/clone-an-element-using-jquery.portuguese.md
Labels: Portuguese

#19266 História do usuário instead user history
  curriculum/challenges/portuguese/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.portuguese.md
Labels: Portuguese

#19268 História do usuário instead user history
  curriculum/challenges/portuguese/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.portuguese.md
Labels: Portuguese

#19518 [Guide] Project Euler: Problem 8: Largest product in a series
  client/src/guide/english/certifications/coding-interview-prep/project-euler/problem-8-largest-product-in-a-series/index.md
Labels: scope: guide

#18457 added special case note in division
  client/src/pages/guide/english/python/basic-operators/index.md
Labels: scope: guide, status: discussing

#19469 Grammar Fixes and Additional info on Ruby Gems
  client/src/guide/english/ruby/index.md
Labels: scope: guide

#19262 Add translations to titles and fix typo
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/add-a-negative-margin-to-an-element.portuguese.md
Labels: Portuguese, status: blocked

#18592 translated to chinese
  docs/chinese/CONTRIBUTING.md
  docs/chinese/README.md
  docs/chinese/how-to-catch-outgoing-emails-locally.md
  docs/chinese/how-to-setup-freecodecamp-locally.md
  docs/chinese/how-to-work-on-coding-challenges.md
  docs/chinese/how-to-work-on-guide-articles.md
Labels: Chinese, scope: translation

#18899 fix: Corrections in Portuguese translation
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/add-a-negative-margin-to-an-element.portuguese.md
Labels: Portuguese, scope: translation

#18497 Added some missing words and translations
  curriculum/challenges/spanish/01-responsive-web-design/applied-visual-design/adjust-the-background-color-property-of-text.spanish.md
Labels: Spanish, scope: curriculum, scope: translation

#18408 translate/ Some format and grammar corrections in Spanish
  curriculum/challenges/spanish/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.spanish.md
Labels: Spanish, scope: translation, status: ready for QA

#18498 Added a better translation in Description
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.spanish.md
Labels: Spanish, scope: curriculum, scope: translation

#18549 Changed tag Figura with Figure
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.spanish.md
Labels: Spanish, scope: translation

#18552 Update Spanish translation for negative margin article
  curriculum/challenges/spanish/01-responsive-web-design/basic-css/add-a-negative-margin-to-an-element.spanish.md
Labels: Spanish, scope: translation

#18550 Given a better translation to Instructions
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.spanish.md
Labels: Spanish, scope: translation

#18555 Better translation to last row of instructions
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.spanish.md
Labels: Spanish, scope: translation

#18563 fix example code for CSS Grid article in Spanish
  curriculum/challenges/spanish/01-responsive-web-design/css-grid/add-columns-with-grid-template-columns.spanish.md
Labels: Spanish, scope: translation

#19524 Removed the word "da"
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document.portuguese.md
Labels: Portuguese

#19523 removed word "da" from line 10;
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/fill-in-the-blank-with-placeholder-text.portuguese.md
Labels: Portuguese

#19517 Fixed some portuguese word order erros
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/turn-an-image-into-a-link.portuguese.md
Labels: Portuguese

#19510 Update use-html5-to-require-a-field.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/use-html5-to-require-a-field.portuguese.md
Labels: Portuguese

#19497 Change in description + change in headings
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/create-a-text-field.portuguese.md
Labels: Portuguese

#19556 Created boilerplates reference section and cons section, added to general description, added to info references
  guide/english/electron/index.md
Labels: scope: guide

#18577 Update access-props-using-this.props.spanish.md
  curriculum/challenges/spanish/03-front-end-libraries/react/access-props-using-this.props.spanish.md
Labels: Spanish, scope: translation

#19595 feat: add React-Context guide article in english
  guide/english/react/context-api/index.md
Labels: scope: guide

#18707 A better translation to "colorblind"
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-carefully-choosing-colors-that-convey-information.spanish.md
Labels: Spanish

#18711 Enhaced translation camelCase + wikipediaLink
  curriculum/challenges/spanish/03-front-end-libraries/react/introducing-inline-styles.spanish.md
Labels: Spanish, scope: translation

#18758 Improving Spanish Translation for how-to-catch-outgoing-emails-locally
  docs/spanish/how-to-catch-outgoing-emails-locally.md
Labels: Spanish, scope: translation

#18802 improve the translation of 'add-flex-superpowers-to-the-tweet-embed.…
  curriculum/challenges/spanish/01-responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed.spanish.md
Labels: Spanish, scope: translation

#19607 Added D3 solution
  guide/english/certifications/data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3-element/index.md
Labels: scope: guide

#19606 Added solution to Add a Hover Effect to a D3 Element
  guide/english/certifications/data-visualization/data-visualization-with-d3/add-a-hover-effect-to-a-d3-element/index.md
Labels: scope: guide

#19597 Update add-a-text-alternative-to-images-for-visually-impaired-accessi…
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.spanish.md
Labels: Spanish

#18684 Improving spanish translation for CONTRIBUTING.md
  docs/spanish/CONTRIBUTING.md
  docs/spanish/how-to-catch-outgoing-emails-locally.md
Labels: Spanish, scope: translation, status: blocked

#19684 fix(guide): Clean up "first-docker-image"
  guide/english/containers/run-your-first-docker-image/index.md
Labels: scope: guide

#19696 Fixing typo in a Guide path(#19678)
  guide/english/c/dynamic-memory-management/index.md
Labels: scope: guide

#19572 Smallest Common Multiple – Optimized Advanced Solution
  guide/english/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/smallest-common-multiple/index.md
Labels: scope: guide

#19943 Minor grammar edit.
  guide/english/bulma/index.md
Labels: scope: guide

#20329 Fixed a typo
  guide/english/computer-science/index.md
Labels: scope: guide

#20208 Docs: Modified function declaration example in JS ES6
  guide/english/javascript/es6/arrow-functions/index.md
Labels: scope: guide

#20331 Change var to const
  guide/english/javascript/falsy-values/index.md
Labels: scope: guide, status: ready for QA

#19075 fix(coding): update instructions to CSS Flexbox challenge in Portuguese
  curriculum/challenges/portuguese/01-responsive-web-design/css-flexbox/use-the-flex-grow-property-to-expand-items.portuguese.md
Labels: language: Portuguese, scope: translation

#23815 Update use-for-to-create-a-sass-loop.english.md adding more to for loop explanation
  curriculum/challenges/english/03-front-end-libraries/sass/use-for-to-create-a-sass-loop.english.md
Labels: scope: curriculum

#18468 fix: mathjax rendering
  client/src/html.js
Labels: platform: client

#21675 Added use of 'or'
  guide/english/python/comparisons/index.md
Labels: scope: guide

#24441 [fix] Added articles back which were overwritten in previous commit
  guide/english/certifications/coding-interview-prep/data-structures/create-a-queue-class/index.md
  guide/english/certifications/coding-interview-prep/project-euler/problem-8-largest-product-in-a-series/index.md
Labels: scope: guide, status: ready for QA

#24587 fix: remove redirect build on dev
  tools/scripts/ensure-env.js
Labels: platform: server, status: ready for QA, type: DevOps

#18632 Created Romanian translation for the Contribution Guidelines.
  docs/romanian/README.md
Labels: scope: translation

#19236 Mejor traducción
  guide/spanish/html/attributes/a-href-attribute/index.md
Labels: language: Spanish, scope: translation

#19221 Improve translation of Spanish visual hierarchy article
  guide/spanish/visual-design/visual-hierarchy/index.md
Labels: scope: translation

#19135 Update how-to-work-on-coding-challenges.md
  docs/russian/how-to-work-on-coding-challenges.md
Labels: language: Russian, scope: translation

#19133 Update how-to-catch-outgoing-emails-locally.md
  docs/russian/how-to-catch-outgoing-emails-locally.md
Labels: language: Russian, scope: translation

#19775 [fix] Removed duplicate code from guide
  guide/english/algorithms/search-algorithms/binary-search/index.md
Labels: scope: guide

#21587 Added few more lines about OO programming.
  guide/english/design-patterns/object-oriented-programming/index.md
Labels: scope: guide

#20486 Fixed mathematical notation
  guide/spanish/mathematics/area-of-a-rectangle/index.md
Labels: language: Spanish, scope: guide
