Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2018-04, with the labels that each got.

#16941 fix: navlinks reduce gets type error with empty links.json array
  common/app/Nav/components/NavLinks.jsx
Labels: status: ready for QA

#17011 Fixed Typo: Changed 'the the' to 'the'
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: ready for QA

#17012 ci: remove stale config for node 4 and below
  .travis.yml
Labels: status: ready for QA

#16978 fix(seed): Added missing text 'new tab'
  seed/challenges/02-javascript-algorithms-and-data-structures/functional-programming.json
Labels: status: ready for QA, type: curriculum

#16985 fix(challenges): Remove self-closing slashes from <img> and <input> examples
  seed/challenges/01-responsive-web-design/basic-html-and-html5.json
Labels: status: ready for QA, type: curriculum

#16991 fix(challenges): Fixed typo in the challenge
  seed/challenges/02-javascript-algorithms-and-data-structures/regular-expressions.json
Labels: status: ready for QA, type: curriculum

#17006 fix(challenges): Change offset values
  seed/challenges/01-responsive-web-design/applied-visual-design.json
Labels: status: ready for QA, type: curriculum

#16974 fix(contribute): Creating a new user
  CONTRIBUTING.md
Labels: status: ready for QA

#17027 fix(challenges): Fix typo issue on CSS Grid:Minmax
  seed/challenges/01-responsive-web-design/css-grid.json
Labels: status: ready for QA, type: curriculum

#17025 fix: MailHog installation guide
  CONTRIBUTING.md
Labels: status: ready for QA, type: documentation

#17013 Clarified instructions for Pairwise algorithm
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-algorithm-questions.json
Labels: status: ready for QA, type: curriculum

#17032 fix(seed): Sass Challenge:Use @each to Map Over Items in a List tests were incorrect
  seed/challenges/03-front-end-libraries/sass.json
Labels: status: ready for QA, type: curriculum

#17037 fix: typo in challenges/react.json
  seed/challenges/03-front-end-libraries/react.json
Labels: status: ready for QA

#17040 fix(seed): Fixed broken link in React Introducing Inline Styl
  seed/challenges/03-front-end-libraries/react.json
Labels: status: ready for QA

#16932 feat(app): Add Motivational Quote Easter Egg
  common/app/Panes/Panes.jsx
  common/app/Panes/panes.less
  common/app/Panes/quotes.js
  common/app/index.less
Labels: enhancement, platform: client, status: ready for QA

#17056 fix(seed): Simplify Unique Titles Test
  seed/challengeTitles.js
Labels: status: ready for QA

#16882 fix(auth): on-boarding, signup and welcome flows
  common/app/routes/Profile/index.js
  common/app/routes/Settings/Settings.jsx
  common/models/user.js
  config/secrets.js
  server/boot/authentication.js
  server/boot/react.js
  server/passport-providers.js
  server/views/account/deprecated-signin.jade
  server/views/partials/navbar.jade
Labels: platform: server, status: ready for QA

#17036 fix: SASS challenge and code indentation
  seed/challenges/03-front-end-libraries/sass.json
Labels: status: ready for QA

#16995 fix(challenge): map.add() test case in create map DS challenge
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-data-structure-questions.json
Labels: status: ready for QA, type: curriculum

#17051 fix(seed): Fixes tests
  seed/challenges/03-front-end-libraries/sass.json
Labels: status: ready for QA

#17067 chore(server): Deleted outdated explanation file of how-nonprofit
  server/boot/randomAPIs.js
  server/views/resources/how-nonprofit-projects-work.jade
Labels: status: ready for QA

#16957 fix(settings): Notify instead of flash when user updates his email
  server/boot/settings.js
Labels: platform: server, status: ready for QA

#17049 feat(navbar): Improvement in button and navbar
  common/app/Nav/LargeNav.jsx
  common/app/Nav/Nav.jsx
  common/app/Nav/components/Bin-Button.jsx
  common/app/Nav/components/BinButtons.jsx
  common/app/Nav/nav.less
Labels: platform: client, status: ready for QA

#17070 Fix broken links in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status: needs update, type: documentation

#17084 fix(challenges): Port Solution for Project Euler 32 from Arcade Mode
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: curriculum

#17085 fix(challenges): Edit Description and Add Solution for Project Euler 33
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: curriculum

#17086 fix(challenges): Edit Description and Add Solution for Project Euler 38
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: curriculum

#17087 fix(challenges): Edit Description, Add Tests and Solution for Project Euler 40
  seed/challenges/08-coding-interview-questions-and-take-home-assignments/project-euler-problems.json
Labels: status: ready for QA, type: curriculum
