Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2018-12, with the labels that each got.

#24663 Grammar mistake
  guide/english/agile/acceptance-criteria/index.md
Labels: scope: guide

#20036 Fixing typo on "deficiências"
  guide/portuguese/accessibility/index.md
Labels: language: Portuguese, scope: guide

#22236 Ionic guide including ionic4
  guide/english/angular/index.md
  guide/english/angularjs/index.md
  guide/english/ionic/index.md
Labels: scope: guide, status: merge conflict

#25553 Add example of Ternary Operator
  guide/english/ruby/ruby-conditionals/index.md
Labels: scope: guide

#25059 index.md
  guide/russian/vue/components/index.md
Labels: language: Russian, scope: guide, status: needs update

#25074 Corrected semantic errors. Changed hyperlinks to Russian resources
  guide/russian/xml/index.md
Labels: language: Russian, scope: guide

#34493 Data Structures: Remove from a Set
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-from-a-set.english.md
  guide/english/certifications/coding-interview-prep/data-structures/remove-from-a-set/index.md
Labels: scope: curriculum, scope: guide, status: need to test locally

#23165 Editing Photoshop index.md for clarity, fixing footnotes
  guide/english/designer-tools/photoshop/index.md
Labels: scope: guide, status: waiting for CI

#23068 Fixed code formatting
  guide/english/javascript/if-else-statement/index.md
Labels: scope: guide, status: waiting for CI

#33750 Translation correction.
  curriculum/challenges/portuguese/03-front-end-libraries/bootstrap/create-a-block-element-bootstrap-button.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#23112 Added additional links and descriptions.
  guide/english/working-in-tech/women-in-tech/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23150 Small contribution to switch statement
  guide/english/c/switch/index.md
Labels: scope: guide

#23117 Callable vs Runnable
  guide/english/java/multithreading/index.md
Labels: scope: guide, status: QA accepted

#23173 Added dialog tag guide in HTML section
  guide/english/html/elements/dialog-tag/index.md
Labels: scope: guide

#19840 Modified Spanish endings and sentences.
  guide/spanish/miscellaneous/10-steps-on-how-to-conquer-a-hackathon/index.md
Labels: language: Spanish, scope: guide

#23700 Added a few lines to emphasize Interfaces importance to Design patterns.
  guide/english/csharp/interface/index.md
Labels: scope: guide

#22141 Bubble sort added as an example
  guide/english/algorithms/index.md
Labels: scope: guide

#23252 Infinite for loop
  guide/english/c/loops/index.md
Labels: scope: guide

#23905 Added more to '==' vs 'is' in Python
  guide/english/python/comparisons/index.md
Labels: scope: guide

#23881 Added a section called "Casting". Details on how data types can be stored in other data types.
  guide/english/java/data-types/index.md
Labels: scope: guide

#23882 Adds more resources and common methods
  guide/english/machine-learning/reinforcement-learning/index.md
Labels: scope: guide

#23908 added example for incrementation
  guide/english/c/more-math/index.md
Labels: scope: guide

#23907 Uppercase the ES6 word
  guide/english/redux/redux-reducers/index.md
Labels: scope: guide

#23879 updated to include manual ios linking
  guide/english/react-native/basic-commands/index.md
Labels: scope: guide

#23005 Improve python version of merge sort.
  guide/english/algorithms/sorting-algorithms/merge-sort/index.md
Labels: scope: guide

#23189 Github and Android Studio connection.
  guide/english/android-development/android-studio/direct-upload-to-github/index.md
Labels: scope: guide, status: ready for QA

#27508 Added solution to "Size of the Set"
  guide/english/certifications/coding-interview-prep/data-structures/size-of-the-set/index.md
Labels: scope: guide

#24657 Little grammar fix
  guide/english/blockchain/index.md
Labels: scope: guide

#23307 Create Players Meeting Narrative Document
  guide/english/game-development/player-meets-narrative/index.md
Labels: scope: guide, status: QA accepted

#24022 lowercase the "The" word
  guide/english/algorithms/b-trees/index.md
Labels: scope: guide

#24008 add "three laws" to the text
  guide/english/robotics/index.md
Labels: scope: guide

#24005 Add the text "my change" to the article
  guide/english/game-development/unreal-engine/index.md
Labels: scope: guide

#24027 Updated "More Information" link at Bootstrap Grid Examples
  guide/english/bootstrap/grid-examples/index.md
Labels: scope: guide

#27022 [Fixed Bug] Data Visualization with D3: Learn About SVG in D3
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/learn-about-svg-in-d3.english.md
Labels: scope: curriculum, status: need to test locally

#19535 Change Challenge use-the-conditional-ternary-operator.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator.english.md
Labels: scope: curriculum, status: QA accepted, status: discussing

#29201 Added consistency to capitalization and puctuation
  curriculum/formattingConversion/system-design-and-concept-questions.json
Labels: scope: curriculum, status: need to test locally

#34510 fix: Fixes api word capitalization freeCodeCamp
  client/src/components/Map/components/Block.js
  client/utils/blockNameify.js
  client/utils/buildChallenges.js
Labels: platform: client, status: need to test locally, status: ready for QA

#34313 fix: site width is increasing for no reason
  client/src/pages/learn.css
Labels: ux: user interface

#34517 fix(client): catch errors on replacing a challenge
  client/plugins/fcc-source-challenges/gatsby-node.js
Labels: platform: client

#34521 fix(app): missing alt prop for img tag
  client/src/templates/News/ShowArticle/components/Author.js
Labels: status: waiting for CI

#34448 fix: execute backend challenges
  client/src/templates/Challenges/redux/execute-challenge-epic.js
Labels: platform: client

#24362 Challenge - ES6: Use getters and setters to Control Access to an Object - Added solution and explanation of private variable naming convention
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.english.md
Labels: scope: curriculum, status: waiting for CI

#34467 fix(client): enzyme tests
  client/src/templates/Challenges/utils/frame.js
Labels: platform: client

#23281 Update index.md with latest angular 7 update
  guide/english/angular/index.md
Labels: scope: guide, status: waiting for CI

#22909 Add deprecation note for easy_install
  guide/english/python/using-pip/index.md
Labels: scope: guide, status: waiting for CI

#23311 added intro, centos7 content
  guide/english/nginx/index.md
Labels: scope: guide, status: waiting for CI

#23240 Update "Apache installation on Windows"
  guide/english/apache/index.md
Labels: scope: guide, status: waiting for CI

#23259 Add "What is Game Design?" to article
  guide/english/game-development/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23316 Added Disabled Bootstrap Button State
  guide/english/bootstrap/buttons/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23319 Added a new string function called strncat
  guide/english/c/arrays-and-strings/index.md
Labels: scope: guide, status: QA accepted

#23351 Added more information about GMS2/1
  guide/english/game-development/gamemaker-studio/index.md
Labels: scope: guide

#24834 Changes suggested on line 9
  guide/english/html/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23370 Minor changes to structure, corrections (grammar)
  guide/english/machine-learning/neural-networks/index.md
Labels: scope: guide

#23475 Made several grammatical fixes
  guide/english/agile/acceptance-testing/index.md
Labels: scope: guide, status: waiting for CI

#25187 Add information to the second paragraph.
  guide/english/html/index.md
Labels: scope: guide

#25432 Update index.md
  guide/english/html/index.md
Labels: scope: guide

#20298 Correção da apresentação do código
  guide/portuguese/computer-science/data-structures/trees/index.md
Labels: language: Portuguese, scope: guide

#25540 Added info.
  guide/english/html/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23411 Added to definition of Matrices & examples
  guide/english/mathematics/intro-to-matrices/index.md
Labels: scope: guide

#26171 Added link to beginning HTML lesson.
  guide/english/html/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23380 Mathematical expression as an argument to Abs in Python.
  guide/english/python/abs-function/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#26848 Add more information to head tag in 38 line
  guide/english/html/index.md
Labels: scope: guide

#27497 Minor spelling and grammar edits
  guide/english/html/index.md
Labels: scope: guide, status: merge conflict

#29452 More informative index.md
  guide/english/html/index.md
Labels: scope: guide

#23436 Adding content
  guide/english/mathematics/permutation-formula/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#29560 added text about APIs
  guide/english/html/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#22945 Proposed Solution
  curriculum/challenges/english/01-responsive-web-design/basic-css/add-borders-around-your-elements.english.md
Labels: scope: curriculum, status: waiting for CI

#23248 Remove ternary operator in React component
  client/src/templates/News/components/ArticleMeta.js
Labels: platform: client, status: QA accepted

#30060 Added wikipedia reference for markup language definition.
  guide/english/html/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#30992 Update index.md sentence structure and grammar
  guide/english/html/index.md
Labels: scope: guide, status: waiting for CI

#31074 Added HTML Attributes
  guide/english/html/index.md
Labels: scope: guide, status: waiting for CI

#31669 I added a radio input to possible input types
  guide/english/html/index.md
Labels: scope: guide

#32438 Added html logo
  guide/english/html/index.md
Labels: scope: guide

#32839 Added "images referencing" from (#132 to #140)
  guide/english/html/index.md
Labels: scope: guide, status: waiting for CI

#33735 Added links to free HTML beginner courses
  guide/english/html/index.md
Labels: scope: guide, status: waiting for CI

#34522 [fix] Test for Pass Arguments to Avoid External Dependence in a Function
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avoid-external-dependence-in-a-function.english.md
Labels: scope: curriculum, scope: tests, status: need to test locally

#25053 Corrected several machine translation mistakes
  guide/russian/swift/index.md
Labels: language: Russian, scope: guide

#25102 Added some stuff
  guide/russian/design-patterns/index.md
Labels: language: Russian, scope: guide

#25112 Correct translation
  guide/russian/ruby/ruby-comments/index.md
Labels: language: Russian, scope: guide

#25154 Added '-r' option description for 'shutdwon' command
  guide/russian/linux/10-simple-and-useful-linux-commands/index.md
Labels: language: Russian, scope: guide

#25172 Changed the description of the algorithm
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-merge-sort.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#25175 Correct translation
  guide/russian/ruby/ruby-conditionals/index.md
Labels: language: Russian, scope: guide

#34276 Fixed issue about tag capitalization
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.english.md
Labels: scope: curriculum, status: need to test locally

#34534 feat: add donation stats to the welcome page
  client/less/main.less
  server/views/userHome.jade
Labels: status: ready for QA

#34530 Update feat: added instructions in meet-the-node-console.en.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/meet-the-node-console.en.md
Labels: scope: curriculum

#24228 Grammar consistency fix: replace lone wasn't with isn't.
  curriculum/challenges/english/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.english.md
Labels: scope: curriculum

#23484 Getting Started Guide
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#23622 corrected grammar and added link to index.md
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#23945 Update index.md
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#24872 Add the text "The following are some of the popular and useful plugin…
  guide/english/wordpress/index.md
Labels: scope: guide

#25222 Add strong emphasis.
  guide/english/wordpress/index.md
Labels: scope: guide

#25402 Increasing the list of advantages for WordPress
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#25874 Reference added to launch date, link to Automattic
  guide/english/wordpress/index.md
Labels: scope: guide, status: merge conflict

#23476 feat: Added web components libraries
  guide/english/web-components/libraries-used-to-create-web-components/index.md
Labels: scope: guide

#23469 Add wikipedia article on NLP
  guide/english/natural-language-processing/index.md
Labels: scope: guide, status: waiting for CI

#23527 Fix grammar and add discriminant
  guide/english/mathematics/algebra/the-quadratic-formula/index.md
Labels: scope: guide

#23533 Add rem unit to font-size
  guide/english/css/fonts/index.md
Labels: scope: guide

#23506 Added Solidity and Ethereum sections
  guide/english/blockchain/smart-contracts/index.md
Labels: scope: guide, status: waiting for CI

#26313 Add information about premium themes and plugins
  guide/english/wordpress/index.md
Labels: scope: guide

#26830 Add the text "Examples of Popular Drag and drop themes that makes Wor…
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#25511 Added best case time complexity
  guide/english/algorithms/search-algorithms/binary-search/index.md
Labels: scope: guide

#24035 Detail on stop/resume during interactive rebase
  guide/english/git/git-rebase/index.md
Labels: scope: guide

#34027 Create a new section on Raspberry Pi
  guide/english/raspberry-pi/what-is-raspberry-pi/index.md
Labels: scope: guide, status: needs update

#34536 [Russian] Delete videoUrl
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-merge-sort.russian.md
Labels: language: Russian, scope: curriculum, status: ready for QA

#23536 Added Works Everytime Layout to the Layout guide
  guide/english/visual-design/layout/index.md
Labels: scope: guide, status: waiting for CI

#23567 Creation of Haxe language Guide folder
  guide/english/haxe/index.md
Labels: scope: guide

#25535 Fixed state variable name
  guide/english/redux/tutorial/index.md
Labels: scope: guide

#28011 Add 'Popular Plugins' and some references
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#27568 Add Paragraph About Visual Editors
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#29004 Grammar fix to Wordpress article
  guide/english/wordpress/index.md
Labels: scope: guide

#29164 adding item on advantages of Wordpress
  guide/english/wordpress/index.md
Labels: scope: guide

#29402 Added information regarding Gutenberg editor
  guide/english/wordpress/index.md
Labels: scope: guide

#31417 Added additional brands using Wordpress platform
  guide/english/wordpress/index.md
Labels: scope: guide

#30834 Arch Linux installation
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#32110 Added logo, direct links, punctuation.
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#27390 Added information about WordCamp
  guide/english/wordpress/index.md
Labels: scope: guide, status: merge conflict

#32166 Added popular frameworks for Wordpress
  guide/english/wordpress/index.md
Labels: scope: guide

#20487 Translated Python bool code samples to spanish
  guide/spanish/python/bool-function/index.md
Labels: language: Spanish, scope: guide, scope: translation

#34120 Added code tags and fixed a \n error
  guide/english/python/min-function/index.md
Labels: scope: guide

#25747 Updated grammar and phrasing on line 10
  guide/english/algorithms/algorithm-design-patterns/index.md
Labels: scope: guide, status: waiting for CI

#25347 Add text to 'IRB' section.
  guide/english/ruby/index.md
Labels: scope: guide

#25748 Updated the "Most recent stable version"
  guide/english/ruby/index.md
Labels: scope: guide

#26563 Fixed formatting errors
  guide/english/ruby/index.md
Labels: scope: guide

#34045 Fixed grammatical errors on line 19
  guide/english/ruby/index.md
Labels: scope: guide

#25974 Fixed spelling of "instance"
  guide/english/canvas/canvas-dimensions/index.md
Labels: scope: guide

#27313 Update index.md
  guide/english/security/vpn/index.md
Labels: scope: guide

#29352 fixed typos
  guide/english/css/before-selector/index.md
  guide/english/css/css-preprocessors/index.md
  guide/english/design-patterns/object-oriented-programming/index.md
Labels: scope: guide

#22674 Added new article in CSS
  guide/english/css/css3-not-pseudo-class/index.md
Labels: scope: guide

#27500 Updated to add solution to "Remove from a Set"
  guide/english/certifications/coding-interview-prep/data-structures/remove-from-a-set/index.md
Labels: scope: guide, status: QA accepted, status: waiting for CI

#23186 Update more information link to Purplemath
  guide/english/mathematics/absolute-value/index.md
Labels: scope: guide

#21619 Create index.md for NLTK
  guide/english/data-science-tools/nltk/index.md
Labels: scope: guide, status: QA accepted

#24018 Updated missing box-model example
  guide/english/css/padding/index.md
Labels: scope: guide

#24356 Added information about if statements, OR operator
  guide/english/c/if-statements/index.md
Labels: scope: guide

#24041 Fix spelling error in behavioral patterns page
  guide/english/algorithms/algorithm-design-patterns/behavioral-patterns/index.md
Labels: scope: guide

#24089 minor grammar changes.md
  guide/english/accessibility/accessibility-examples/index.md
Labels: scope: guide

#24085 Updated Bootstrap dropdown link from 4.0 to 4.1
  guide/english/bootstrap/dropdowns/index.md
Labels: scope: guide

#34526 Solution added to exercise 'Use the s tag to strikethrough text '
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-s-tag-to-strikethrough-text.english.md
Labels: scope: curriculum, status: need to test locally, status: needs update

#19878 Corrected spelling and made the text more comprehensible
  guide/spanish/react/hello-world/index.md
Labels: language: Spanish, scope: guide, scope: translation

#33299 Updated more advantages,learning resource section
  guide/english/wordpress/index.md
Labels: scope: guide, status: waiting for CI

#25153 Rfactor and translate English parts of the text
  guide/russian/kotlin/index.md
Labels: language: Russian, scope: guide

#25160 some language corrections
  guide/russian/go/index.md
Labels: language: Russian, scope: guide

#25192 fixed description + implementation in pseudocode
  guide/russian/algorithms/search-algorithms/jump-search/index.md
Labels: language: Russian, scope: guide

#33387 Added Link for most popular wordpress plugins
  guide/english/wordpress/index.md
Labels: scope: guide

#34010 Update big brand examples in WordPress guide
  guide/english/wordpress/index.md
Labels: scope: guide

#23295 Corrected markdown formatting issues
  guide/english/html/elements/header-tag/index.md
Labels: scope: guide

#24578 Bitcoin Info
  guide/english/blockchain/cryptocurrency/index.md
Labels: scope: guide, status: waiting for CI

#24868 Some additional facts on crypto-space as of 2018
  guide/english/blockchain/cryptocurrency/index.md
Labels: scope: guide

#25263 Added 'Types of Cryptocurrency'
  guide/english/blockchain/cryptocurrency/index.md
Labels: scope: guide, status: waiting for CI

#25832 chore: updated docker-rmi command readme file
  guide/english/docker/docker-rmi/index.md
Labels: scope: guide, status: QA accepted

#25606 Updated info about bitcoin at the bottom
  guide/english/blockchain/cryptocurrency/index.md
Labels: scope: guide
