Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-12, with the labels that each got.

#37843 fix(curriculum): make last test more robust for Uncomment HTML challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/uncomment-html.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37736 fix: grid column and grid row tests
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-column-to-control-spacing.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37848 fix: fix modal close contrast
  client/src/components/layouts/global.css
  client/src/pages/certification.css
Labels: status: ready for QA

#37838 fix(curriculum): use regex to avoid differences in how browsers calculate style property values for Decrease Opacity of an Element challenge
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37582 fix(curriculum): corrected test and added solution for Create a Hash table challenge
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-hash-table.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37548 fix(curriculum): Improved Use Recursion to Create a Countdown challenge
  curriculum/challenges/_meta/basic-javascript/meta.json
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37863 fix(curriculum): correct typo - change rating to ratings in console.log statement
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37830 fix(curriculum): make tests more robust for the Iterate Through an Array with a For Loop challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-through-an-array-with-a-for-loop.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37693 fix(curriculum): added extra mongoose options to prevent log warnings
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37119 Fix grammar errors
  curriculum/challenges/spanish/05-apis-and-microservices/basic-node-and-express/get-query-parameter-input-from-the-client.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#36948 Made some changes to maintain the grammatical uniformity of the text
  curriculum/challenges/spanish/06-information-security-and-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#36862 Minor Spanish grammar fixes
  curriculum/challenges/spanish/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-is-an-instance-of-a-constructor.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37253 Fixed incorrect spanish translation in a instruction paragraph
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37812 fix(curriculum): Technical language correction
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/override-inherited-methods.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37873 docs: Docker Toolbox for Windows 10 Home
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-use-docker-on-windows-home.md
Labels: scope: docs

#37880 fix: use util.inspect for more reliable logging
  client/src/client/workers/test-evaluator.js
  client/src/templates/Challenges/utils/frame.js
  client/src/utils/format.js
  client/src/utils/format.test.js
Labels: platform: client

#37260 forum link fixed
  docs/i18n-languages/italian/README.md
Labels: language: Italian, scope: docs

#37881 fix(curriculum): removed semi-colon from regex to allow other solutions for the Use Recursion to Create a Countdown challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.md
Labels: language: English, scope: curriculum, status: need to test locally

#37826 fix(curriculum): simplify challenge testString for the Subtract One Number from Another with JavaScript challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/subtract-one-number-from-another-with-javascript.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37905 fix(client): add missing bootstrap container
  client/src/templates/Introduction/Intro.js
Labels: platform: client

#35699 Added displayUsername and username update functionality
  api-server/common/models/user.js
  api-server/common/models/user.json
  api-server/server/boot/settings.js
  api-server/server/utils/auth.js
  api-server/server/utils/publicUserProps.js
  client/src/client-only-routes/ShowProfileOrFourOhFour.js
  client/src/client-only-routes/ShowSettings.js
  client/src/components/profile/Profile.js
  client/src/components/profile/components/Camper.js
  client/src/components/profile/components/TimeLine.js
  client/src/components/settings/Username.js
  client/src/redux/fetch-user-saga.js
  tools/scripts/seed/seedAuthUser.js
Labels: platform: client, platform: server, type: feature request

#37793 fix(client): report cross origin errors
  client/src/templates/Challenges/utils/frame.js
Labels: platform: client

#37902 fix(curriculum): make test more flexible for
  curriculum/challenges/english/03-front-end-libraries/react/render-a-class-component-to-the-dom.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37917 fix(donate): update message on the success
  client/src/components/Donation/components/DonateCompletion.js
Labels: platform: client

#37688 fix(challenge): account for browser zoom, add note to challenge (for width challenge)
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37648 fix(curriculum): use object.assign to prevent overwriting prototypes if user uses class instead of function
  curriculum/challenges/english/08-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/check-if-an-element-is-present-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-doubly-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/delete-a-leaf-node-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/delete-a-node-with-one-child-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/delete-a-node-with-two-children-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/find-the-minimum-and-maximum-height-of-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/find-the-minimum-and-maximum-value-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/invert-a-binary-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/reverse-a-doubly-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-breadth-first-search-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-depth-first-search-in-a-binary-search-tree.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37575 fix(learn): fixed bad capture group in regex
  curriculum/challenges/english/01-responsive-web-design/basic-css/understand-absolute-versus-relative-units.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37768 refactor: update trivial regex capture group find and replace challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/use-capture-groups-to-search-and-replace.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37884 fix: re-order and update sign in CTA styles on completion modal
  client/src/templates/Challenges/components/CompletionModal.js
Labels: platform: client, scope: user interface, status: needs update

#37756 fix(challenge): check inline styles on elements, add solution
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/update-the-height-of-an-element-dynamically.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37929 fix: make nav logo link to /learn
  client/src/components/Header/components/UniversalNav.js
Labels: platform: client

#37919 fix(client): update cert logo and other layout changes
  client/src/client-only-routes/ShowCertification.js
  client/src/components/Intro/index.js
  client/src/pages/certification.css
Labels: platform: client

#37953 fix(donate): remove isDontating check from year-end
  api-server/server/boot/donate.js
  client/src/components/Donation/components/DonateCompletion.js
  client/src/components/Donation/components/DonateFormChildViewForHOC.js
  client/src/components/YearEndGift/YearEndDonationForm.js
  client/src/components/YearEndGift/index.js
  client/src/pages/year-end-gift-successful.js
  client/src/pages/year-end-gift.js
Labels: platform: client, platform: server

#37954 fix: add close modal to keyboard navigation
  client/src/components/Donation/Donation.css
  client/src/components/Donation/components/DonationModal.js
Labels: platform: client, scope: accessibility

#37948 fix(curriculum) - updated tests for the 3 challenges involving the animation-timing-function property to work with Edge browser
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/change-animation-timing-with-keywords.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-how-bezier-curves-work.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-bezier-curve-to-move-a-graphic.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37937 fix: timeline not showing when set to public
  api-server/common/models/user.js
Labels: platform: server, status: ready for QA

#37841 fix: stop user code after 100ms of execution
  client/package-lock.json
  client/package.json
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.js
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-12-highly-divisible-triangular-number.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-14-longest-collatz-sequence.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-7-10001st-prime.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/emirp-primes.english.md
Labels: platform: client, status: ready for QA

#37936 fix: make github url optional for backend projects
  api-server/server/boot/challenge.js
  client/src/templates/Challenges/projects/ProjectForm.js
Labels: platform: client, platform: server

#36867 Minor Language Fixes and Add Solution
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who.chinese.md
Labels: language: Chinese, scope: curriculum, status: merge conflict, status: need to test locally

#36868 Minor Chinese Translation Fix & Add Solution
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/convert-celsius-to-fahrenheit.chinese.md
Labels: language: Chinese, scope: curriculum, status: need to test locally

#36886 fix challenges translation into russian
  curriculum/challenges/russian/01-responsive-web-design/applied-visual-design/create-visual-balance-using-the-text-align-property.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#36887 fix challenges translation into russian
  curriculum/challenges/russian/01-responsive-web-design/applied-visual-design/use-the-u-tag-to-underline-text.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#36888 fix challenges translation into russian
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/functional-programming/use-the-some-method-to-check-that-any-elements-in-an-array-meet-a-criteria.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#36889 fix challenges translation into russian
  curriculum/challenges/russian/03-front-end-libraries/sass/store-data-with-sass-variables.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37077 russian translation fix on curriculum challenge: description and tests
  curriculum/challenges/russian/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-our-buttons.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37079 russian translation fix on curriculum challenge: description and tests
  curriculum/challenges/russian/03-front-end-libraries/bootstrap/create-a-block-element-bootstrap-button.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37199 docs: translate of how-to-open-a-pull-request to Russian
  docs/i18n-languages/russian/how-to-open-a-pull-request.md
Labels: language: Russian, scope: docs

#37964 fix(donate): update copy of the support text
  client/src/components/Donation/DonateText.js
Labels: platform: client

#36902 Translation fix in /make-typography-responsive.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#36907 Translation fix on line 10
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#36909 Translation fix on several lines
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#36947 Made some changes to maintain the uniformity and format of the text
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37592 Improve arabic translation for the challenge descriptions in the APIs…
  curriculum/challenges/arabic/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.arabic.md
  curriculum/challenges/arabic/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.arabic.md
  curriculum/challenges/arabic/05-apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice.arabic.md
  curriculum/challenges/arabic/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.arabic.md
  curriculum/challenges/arabic/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#37821 fix: portuguese translation for explore-differences-between-the-var-and-let-keywords.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#37254 Fixed incorrect automated spanish translation
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37402 Update standardize-times-with-the-html5-datetime-attribute.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37799 Fix(curriculum): Added Spanish translations and corrected grammar issues
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-carefully-choosing-colors-that-convey-information.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-using-sufficient-contrast.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/improve-readability-with-high-contrast-text.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/make-links-navigatable-with-html-access-keys.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-footer-landmark.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-nav-landmark.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/use-headings-to-show-hierarchical-relationships-of-content.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/use-tabindex-to-add-keyboard-focus-to-an-element.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.spanish.md
  curriculum/challenges/spanish/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37290 Fixed formatting, typos and updated Glitch URLs
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.chinese.md
Labels: language: Chinese, scope: curriculum, status: need to test locally

#37925 fix(i18n): update Chinese translation of responsive web design projects
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37546 russian translate
  curriculum/challenges/russian/04-data-visualization/json-apis-and-ajax/convert-json-data-to-html.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37544 russian translate
  curriculum/challenges/russian/04-data-visualization/json-apis-and-ajax/change-text-with-click-events.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37547 russian improvment translate
  curriculum/challenges/russian/04-data-visualization/json-apis-and-ajax/get-geolocation-data-to-find-a-users-gps-coordinates.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37646 Improved translate russian language
  curriculum/challenges/russian/05-apis-and-microservices/mongodb-and-mongoose/create-and-save-a-record-of-a-model.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37645 Improved translate russian language
  curriculum/challenges/russian/05-apis-and-microservices/mongodb-and-mongoose/create-a-model.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37644 Improved translate russian language
  curriculum/challenges/russian/05-apis-and-microservices/mongodb-and-mongoose/chain-search-query-helpers-to-narrow-search-results.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37938 feat(donate): add GA and other updates to the modals
  client/src/assets/icons/Payapl.js
  client/src/client-only-routes/ShowCertification.js
  client/src/components/Donation/DonateCompletion.js
  client/src/components/Donation/Donation.css
  client/src/components/Donation/DonationModal.js
  client/src/components/Donation/StripeCardForm.js
  client/src/components/YearEndGift/YearEndDonationForm.js
  client/src/pages/certification.css
  client/src/pages/donate.js
Labels: platform: client

#37283 fix(curriculum): Portuguese challenge tests
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/add-rounded-corners-with-border-radius.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/size-your-images.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-a-css-class-to-style-an-element.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-attribute-selectors-to-style-elements.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-css-selectors-to-style-elements.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#37620 Improve russian translation
  curriculum/challenges/russian/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37249 Clean up code block, fix inconsistent spelling
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37250 Revert translation of proper nouns, clean up code block
  curriculum/challenges/russian/06-information-security-and-quality-assurance/advanced-node-and-express/set-up-passport.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37245 Clean up code block, correct variable name
  curriculum/challenges/russian/06-information-security-and-quality-assurance/advanced-node-and-express/announce-new-users.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37885 fix: styles for certs until redirect fixed
  client/src/pages/certification.css
Labels: platform: client

#37911 fix(i18n): update Chinese translation of basic html and html5
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/add-a-submit-button-to-a-form.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/comment-out-html.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/create-a-bulleted-unordered-list.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/create-a-form-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/create-a-text-field.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/create-an-ordered-list.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/define-the-head-and-body-of-an-html-document.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/delete-html-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/fill-in-the-blank-with-placeholder-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/headline-with-the-h2-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/introduction-to-html5-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/make-dead-links-using-the-hash-symbol.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/nest-many-elements-within-a-single-div-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/turn-an-image-into-a-link.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/uncomment-html.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/use-html5-to-require-a-field.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37973 added a test to challenge:falsy-bouncer
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/falsy-bouncer.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37995 fix(client): Update sign-in gif for local development
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#37978 fix: add paypal image and donate form verification
  client/src/assets/icons/DonateWithPayPal.js
  client/src/assets/icons/Payapl.js
  client/src/components/Donation/DonateFormChildViewForHOC.js
  client/src/components/Donation/Donation.css
  client/src/components/YearEndGift/YearEndDonationForm.js
  client/src/pages/certification.css
Labels: platform: client

#37959 fix(curriculum): use assert.deepEqual to compare arrays instead of JSON.stringify for Use the map Method to Extra Data from an Array challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37984 feat(client): unify GA and add to donation
  client/src/client-only-routes/ShowCertification.js
  client/src/components/Donation/DonateForm.js
  client/src/components/Donation/DonateFormChildViewForHOC.js
  client/src/components/Donation/DonationModal.js
  client/src/components/Donation/MinimalDonateForm.js
  client/src/components/Map/components/Block.js
  client/src/components/Map/components/Block.test.js
  client/src/components/YearEndGift/YearEndDonationForm.js
  client/src/components/layouts/Certification.js
  client/src/components/layouts/Default.js
  client/src/pages/donate.js
  client/src/pages/year-end-gift.js
  client/src/redux/ga-saga.js
  client/src/redux/index.js
  client/src/templates/Challenges/components/CompletionModal.js
  client/src/templates/Challenges/components/HelpModal.js
  client/src/templates/Challenges/components/ResetModal.js
  client/src/templates/Challenges/components/VideoModal.js
Labels: platform: client, type: feature request
