Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-08, with the labels that each got.

#22001 Improving description & fixing translation issues
  guide/portuguese/python/anaconda/index.md
Labels: language: Portuguese, scope: guide

#21945 Improving PT-BR description of abs () function
  guide/portuguese/python/abs-function/index.md
Labels: language: Portuguese, scope: guide

#36302 Simplify Code Contributions and Reviews
  .gitpod.Dockerfile
  .gitpod.yml
  CONTRIBUTING.md
Labels: status: discussing, type: feature request

#36540 fix: Report build errors to dev console
  client/src/client/workers/test-evaluator.js
Labels: platform: client, release: next/beta, status: ready for QA

#23220 Translation improvement
  guide/portuguese/html/css-classes/index.md
Labels: language: Portuguese, scope: guide

#23609 Update index.md
  guide/arabic/java/index.md
Labels: language: Arabic, scope: guide

#26457 Added portuguese aside tag explanation
  guide/portuguese/html/elements/aside-tag/index.md
Labels: language: Portuguese, scope: guide

#29684 Fix index.md format
  guide/spanish/css/borders/index.md
Labels: language: Spanish, scope: guide

#36198 add translated meta-scrum guide article
  guide/portuguese/agile/meta-scrum/index.md
Labels: language: Portuguese, scope: guide

#36565 Issue #36564 update regex for spread operator
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-the-spread-operator-to-evaluate-arrays-in-place.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30648 Correction of the translation
  guide/russian/algorithms/binary-search-trees/index.md
Labels: language: Russian, scope: guide

#30988 russian translations for css transitions
  guide/russian/css/using-css-transitions/index.md
Labels: language: Russian, scope: guide

#30993 russian translation for CSS progressive enhancement
  guide/russian/css/progressive-enhancement/index.md
Labels: language: Russian, scope: guide

#30998 russian translation for graceful degradation
  guide/russian/css/graceful-degradation/index.md
Labels: language: Russian, scope: guide

#31001 fixed typos in article about linear gradient
  guide/russian/css/linear-gradient/index.md
Labels: language: Russian, scope: guide

#31021 Some localization fixes and editing
  guide/russian/php/index.md
Labels: language: Russian, scope: guide

#31026 Some localization fixes
  guide/russian/java/index.md
Labels: language: Russian, scope: guide

#31031 fixed russian translation for css units
  guide/russian/css/units/index.md
Labels: language: Russian, scope: guide

#31032 Localization fixes
  guide/russian/csharp/index.md
Labels: language: Russian, scope: guide

#31038 fixed russian translation for css transitions
  guide/russian/css/transition/index.md
Labels: language: Russian, scope: guide

#31051 Немного поправил текст
  guide/russian/css/css-frameworks/css-framework-bootstrap/index.md
Labels: language: Russian, scope: guide

#31090 Завершен перевод
  guide/russian/bootstrap/modals/index.md
Labels: language: Russian, scope: guide

#31104 Grammatical corrections and translating
  guide/russian/bootstrap/carousel/index.md
Labels: language: Russian, scope: guide

#31364 Fixed robotic translation into a more natural one
  guide/russian/working-in-tech/code-reviews/index.md
Labels: language: Russian, scope: guide

#31348 Updates to the translation
  guide/russian/agile/business-value/index.md
Labels: language: Russian, scope: guide

#31619 Add fix
  guide/russian/java/getters-and-setters/index.md
Labels: language: Russian, scope: guide

#31473 fix grammar/improve readability
  guide/russian/javascript/loops/for-loop/index.md
Labels: language: Russian, scope: guide

#31871 Not correctly selected word
  guide/russian/php/functions/echo-and-print/index.md
Labels: language: Russian, scope: guide

#32196 fixed cases and pronouns
  guide/russian/mathematics/2-by-2-determinants/index.md
Labels: language: Russian, scope: guide

#31011 fixed russian translation for comments in css
  guide/russian/css/comments-in-css/index.md
Labels: language: Russian, scope: guide

#32197 minor titles fixes
  guide/russian/clojure/index.md
Labels: language: Russian, scope: guide

#32199 Added correct translations
  guide/russian/css/background-size/index.md
Labels: language: Russian, scope: guide

#32203 Added correct translations
  guide/russian/css/background/index.md
Labels: language: Russian, scope: guide

#32205 some contents improving and fixing
  guide/russian/natural-language-processing/index.md
Labels: language: Russian, scope: guide

#32206 Added correct translations
  guide/russian/css/before-selector/index.md
Labels: language: Russian, scope: guide

#32555 Updated Russian version of Laravel description stub
  guide/russian/laravel/index.md
Labels: language: Russian, scope: guide

#32579 Updated Russian version of SVN description stub
  guide/russian/svn/index.md
Labels: language: Russian, scope: guide

#32585 Updated Russian description for Proxies
  guide/russian/security/proxies/index.md
Labels: language: Russian, scope: guide

#32594 Fixes to Russian page for Traceroute
  guide/russian/security/traceroute/index.md
Labels: language: Russian, scope: guide

#32763 Russian improved translate
  guide/russian/clojure/collections/index.md
Labels: language: Russian, scope: guide

#32766 russian imporved translate
  guide/russian/cloud-development/amazon-aws/index.md
Labels: language: Russian, scope: guide

#32769 russian added translate
  guide/russian/computer-hardware/cooling/index.md
Labels: language: Russian, scope: guide

#32913 Fixed russian translation of styling article (react native)
  guide/russian/react-native/styling/index.md
Labels: language: Russian, scope: guide

#33029 improve readability of the Russian text
  guide/russian/javascript/if-else-statement/index.md
Labels: language: Russian, scope: guide

#33058 Improved translation of some words
  guide/russian/css/borders/index.md
Labels: language: Russian, scope: guide

#33074 Improved translation
  guide/russian/html/lists/index.md
Labels: language: Russian, scope: guide

#33078 Improved translation
  guide/russian/html/html5-audio/index.md
Labels: language: Russian, scope: guide

#33081 Improved translation
  guide/russian/css/css-display/index.md
Labels: language: Russian, scope: guide

#33090 Improved translation
  guide/russian/html/tutorials/basic-html/index.md
Labels: language: Russian, scope: guide

#33303 Grammar corrections
  guide/russian/javascript/html-dom-getelementbyid-method/index.md
Labels: language: Russian, scope: guide

#33445 I've сorrected the first sentence to make it more readable
  guide/russian/php-syntax-overview/index.md
Labels: language: Russian, scope: guide

#33558 guide/russian/docker/index.md translation improves
  guide/russian/docker/index.md
Labels: language: Russian, scope: guide

#33559 Improve Russian translation of Python pow guide
  guide/russian/python/powxy/index.md
Labels: language: Russian, scope: guide

#33639 guide/russian/css/index.md translation improves
  guide/russian/css/index.md
Labels: language: Russian, scope: guide

#33766 Fix Russian translation of Rust looping docs
  guide/russian/rust/loops/index.md
Labels: language: Russian, scope: guide

#33770 Fix Russian Rust docs (index page)
  guide/russian/rust/index.md
Labels: language: Russian, scope: guide

#33955 While loop description
  guide/russian/c/loops/index.md
Labels: language: Russian, scope: guide

#33966 Correct russian description of malloc
  guide/russian/c/malloc/index.md
Labels: language: Russian, scope: guide

#33988 File handling: fix russian description and add translation
  guide/russian/c/file-handling/index.md
Labels: language: Russian, scope: guide

#34000 Variable and data types russian translation and correction
  guide/russian/c/variables-and-basic-datatypes/index.md
Labels: language: Russian, scope: guide

#34013 Update and fix russian translation of switch statement
  guide/russian/c/switch/index.md
Labels: language: Russian, scope: guide

#34183 Fix a typo
  guide/russian/xml/index.md
Labels: language: Russian, scope: guide

#34570 Improved translation
  guide/russian/d3/index.md
Labels: language: Russian, scope: guide

#19769 Arabic language correction
  guide/arabic/security/cyberattacks/index.md
Labels: language: Arabic, scope: guide

#20909 Translation change.
  guide/arabic/algorithms/algorithm-design-patterns/structual-patterns/index.md
Labels: language: Arabic, scope: guide

#21016 Add Arabic translation for bash-ssh
  guide/arabic/bash/bash-ssh/index.md
Labels: language: Arabic, scope: guide, scope: translation

#21230 Add Arabic translation for bash-chmod
  guide/arabic/bash/bash-chmod/index.md
Labels: language: Arabic, scope: guide, scope: translation

#21297 Add Arabic translation for bash-touch
  guide/arabic/bash/bash-touch/index.md
Labels: language: Arabic, scope: guide, scope: translation

#21349 Add Arabic translation for bash-rm
  guide/arabic/bash/bash-rm/index.md
Labels: language: Arabic, scope: guide, scope: translation

#22157 رقم التحديث
  guide/arabic/agile/acceptance-testing/index.md
Labels: language: Arabic, scope: guide

#22471 Correction du mot dans la traduction arabe
  guide/arabic/agile/scrum/index.md
Labels: language: Arabic, scope: guide

#23578 Update index.md
  guide/arabic/python/index.md
Labels: language: Arabic, scope: guide

#23585 Simplified, grammatically corrected introduction
  guide/arabic/nodejs/index.md
Labels: language: Arabic, scope: guide

#23594 Update index.md
  guide/arabic/bootstrap/index.md
Labels: language: Arabic, scope: guide

#24863 Add "my changes" to the article
  guide/arabic/java/data-types/index.md
Labels: language: Arabic, scope: guide

#25239 Better explanation with resources
  guide/arabic/documentation/index.md
Labels: language: Arabic, scope: guide

#25645 grammar fixes
  guide/arabic/computer-science/compilers/index.md
Labels: language: Arabic, scope: guide

#25970 Fixed sentences structure. Removes Less literal translation.
  guide/arabic/css/css-pre-processors/index.md
Labels: language: Arabic, scope: guide

#26821 Fixing some vocabs
  guide/arabic/game-development/index.md
Labels: language: Arabic, scope: guide

#26823 Adding game engines
  guide/arabic/game-development/index.md
Labels: language: Arabic, scope: guide

#26828 Fixing some grammar
  guide/arabic/docker/index.md
Labels: language: Arabic, scope: guide

#26148 Added an understanding of arrays in memory.
  guide/arabic/c/arrays/index.md
Labels: language: Arabic, scope: guide

#23492 add هنيئا لك
  guide/arabic/react/hello-world/index.md
Labels: language: Arabic, scope: guide

#27589 Improved the Arabic translation of the first 3 sections
  guide/arabic/python/index.md
Labels: language: Arabic, scope: guide

#28908 Fixes typo CPPU
  guide/arabic/computer-hardware/cpu/index.md
Labels: language: Arabic, scope: guide

#29111 Changed some writing mistakes
  guide/arabic/accessibility/index.md
Labels: language: Arabic, scope: guide

#29491 Fixed some Spelling Mistakes
  guide/arabic/accessibility/index.md
Labels: language: Arabic, scope: guide

#29496 Fixed a writing mistake.
  guide/arabic/javascript/loops/index.md
Labels: language: Arabic, scope: guide

#29500 Fixed writing mistakes
  guide/arabic/javascript/falsy-values/index.md
Labels: language: Arabic, scope: guide

#29508 Fixed Mistakes
  guide/arabic/javascript/booleans/index.md
Labels: language: Arabic, scope: guide

#29933 Fixed some translation errors
  guide/arabic/nodejs/npm/index.md
Labels: language: Arabic, scope: guide

#30652 Update index.md
  guide/arabic/linux/index.md
Labels: language: Arabic, scope: guide

#30655 Update index.md
  guide/arabic/css/background/index.md
Labels: language: Arabic, scope: guide

#32703 Update index.md
  guide/arabic/c/index.md
Labels: language: Arabic, scope: guide

#33594 Title Change
  guide/arabic/algorithms/b-trees/index.md
Labels: language: Arabic, scope: guide

#33769 Text order and space
  guide/arabic/accessibility/accessibility-basics/index.md
Labels: language: Arabic, scope: guide

#33841 Add conept
  guide/arabic/security/web-shells/index.md
Labels: language: Arabic, scope: guide

#27551 Improved the Arabic translation of the first 5 paragraphs
  guide/arabic/html/index.md
Labels: language: Arabic, scope: guide

#22485 Add instruções para ativar e desativar Virtualenv
  guide/portuguese/python/virtual-environments/index.md
Labels: language: Portuguese, scope: guide

#22859 Translation to portuguese.
  guide/portuguese/python/class/index.md
Labels: language: Portuguese, scope: guide

#22889 Translation to portuguese.
  guide/portuguese/python/class/index.md
Labels: language: Portuguese, scope: guide

#24249 Changed exhibition title for-loop
  guide/portuguese/csharp/for-loop/index.md
Labels: language: Portuguese, scope: guide

#22863 Correction and Commands additional
  guide/portuguese/linux/basic-linux-commands/index.md
Labels: language: Portuguese, scope: guide

#36175 add translated guide article
  guide/portuguese/agile/alignment/index.md
Labels: language: Portuguese, scope: guide

#36190 add translated backlog-item-effort guide article
  guide/portuguese/agile/backlog-item-effort/index.md
Labels: language: Portuguese, scope: guide

#36258 update translation embarassingly-parallel
  guide/portuguese/algorithms/embarassingly-parallel-algorithms/index.md
Labels: language: Portuguese, scope: guide

#33930 Update some translating errors and added links of graph algorithms
  guide/portuguese/algorithms/graph-algorithms/index.md
Labels: language: Portuguese, scope: guide

#36259 add translated evaluating-polynomials-synthetic-division guide article
  guide/portuguese/algorithms/evaluating-polynomials-synthetic-division/index.md
Labels: language: Portuguese, scope: guide

#36336 update translation exponentiation
  guide/portuguese/algorithms/exponentiation/index.md
Labels: language: Portuguese, scope: guide

#36337 update translation flood-fill
  guide/portuguese/algorithms/flood-fill/index.md
Labels: language: Portuguese, scope: guide

#36364 update translation breadth-first-search
  guide/portuguese/algorithms/graph-algorithms/breadth-first-search/index.md
Labels: language: Portuguese, scope: guide

#36387 update translation gcd-euclidean
  guide/portuguese/algorithms/greatest-common-divisor-euclidean/index.md
Labels: language: Portuguese, scope: guide

#24622 Fix typo on translation of dynamic programming
  guide/portuguese/algorithms/greedy-algorithms/index.md
Labels: language: Portuguese, scope: guide

#36448 update translation linear-search
  guide/portuguese/algorithms/search-algorithms/linear-search/index.md
Labels: language: Portuguese, scope: guide

#36461 update translation counting-sort
  guide/portuguese/algorithms/sorting-algorithms/counting-sort/index.md
Labels: language: Portuguese, language: Spanish, scope: guide

#36396 update translation red-black-trees
  guide/portuguese/algorithms/red-black-trees/index.md
Labels: language: Portuguese, scope: guide

#36471 update translation insertion-sort
  guide/portuguese/algorithms/sorting-algorithms/insertion-sort/index.md
Labels: language: Portuguese, scope: guide

#36486 update translation merge-sort
  guide/portuguese/algorithms/sorting-algorithms/merge-sort/index.md
Labels: language: Portuguese, scope: guide

#36498 update translation quick-sort
  guide/portuguese/algorithms/sorting-algorithms/quick-sort/index.md
Labels: language: Portuguese, scope: guide

#36514 update translation selection-sort
  guide/portuguese/algorithms/sorting-algorithms/selection-sort/index.md
Labels: language: Portuguese, scope: guide

#30663 Update index.md
  guide/arabic/html/index.md
Labels: language: Arabic, scope: guide

#30660 Update index.md
  guide/arabic/python/index.md
Labels: language: Arabic, scope: guide

#22927 Add translations (portuguese) to python class
  guide/portuguese/python/class/index.md
Labels: language: Portuguese, scope: guide

#36423 update translation binary-search
  guide/portuguese/algorithms/search-algorithms/binary-search/index.md
Labels: language: Portuguese, scope: guide

#20255 Translating code and improving Spanish terminology
  guide/spanish/cplusplus/arrays/index.md
Labels: language: Spanish, scope: guide, scope: translation

#20952 Correcting missing accent marks, whitespace
  guide/spanish/ruby/ruby-methods/index.md
Labels: language: Spanish, scope: guide

#21029 Typos y errores de traducción - Typos and translation errors
  guide/spanish/nodejs/buffer/index.md
Labels: language: Spanish, scope: guide

#21177 Updated some redaction errors
  guide/spanish/javascript/with/index.md
Labels: language: Spanish, scope: guide, scope: translation

#21220 Fix some translations
  guide/spanish/algorithms/exponentiation/index.md
Labels: language: Spanish, scope: guide

#21368 Translate some lines into Spanish
  guide/spanish/java/abstract-class/index.md
Labels: language: Spanish, scope: guide, scope: translation

#21393 Aditions defining the basic structure of a css-grid rule
  guide/spanish/css/css3-grid-layout/index.md
Labels: language: Spanish, scope: guide

#21477 Asociación: tipo de aprendizaje no supervisado
  guide/spanish/machine-learning/unsupervised-learning/index.md
Labels: language: Spanish, scope: guide

#21643 brief note at the end added
  guide/spanish/network-engineering/osi-layers/index.md
Labels: language: Spanish, scope: guide

#21892 Fixed Ionic 2 and cordova section translation
  guide/spanish/ionic/index.md
Labels: language: Spanish, scope: guide

#22173 Translation mistakes corrected and more info
  guide/spanish/linux/10-simple-and-useful-linux-commands/index.md
Labels: language: Spanish, scope: guide

#22206 Types of shells explanation
  guide/spanish/linux/the-anatomy-of-the-linux-command-line/index.md
Labels: language: Spanish, scope: guide

#22264 Correct typos and expressions
  guide/spanish/swift/index.md
Labels: language: Spanish, scope: guide

#22393 translation: Spanish
  guide/spanish/html/css-classes/index.md
Labels: language: Spanish, scope: guide

#22406 fix(guide): Improve spanish translations
  guide/spanish/react/component/index.md
Labels: language: Spanish, scope: guide, scope: translation

#22477 Translation changes
  guide/spanish/php/switch/index.md
Labels: language: Spanish, scope: guide

#22481 fix(guide): Improve spanish translations
  guide/spanish/react/installation/index.md
Labels: language: Spanish, scope: guide

#22611 Adding accent to the word "icono"
  guide/spanish/bootstrap/icons/index.md
Labels: language: Spanish, scope: guide

#22619 Update index.md with more information about Activities and Views
  guide/spanish/android-development/core-components/index.md
Labels: language: Spanish, scope: guide

#22629 Choice of words on 1st a 2nd sentences.
  guide/spanish/agile/crystal/index.md
Labels: language: Spanish, scope: guide

#22643 Added framework to Javascript frameworks section
  guide/spanish/javascript/index.md
Labels: language: Spanish, scope: guide

#22644 Fixing typos and improving sense in sentences.
  guide/spanish/bash/bash-man/index.md
Labels: language: Spanish, scope: guide

#22730 Add option for Developer tools inside browsers
  guide/spanish/developer-tools/index.md
Labels: language: Spanish, scope: guide

#22736 Adding accent to title
  guide/spanish/html/symbols/index.md
Labels: language: Spanish, scope: guide

#22744 Fixing punctuation and sense of titles
  guide/spanish/html/mailto-links/index.md
Labels: language: Spanish, scope: guide

#22764 Improved the language used - avoid automatic translation errors
  guide/spanish/vim/index.md
Labels: language: Spanish, scope: guide
