Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-02, with the labels that each got.

#34340 typo
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/create-and-save-a-record-of-a-model.en.md
Labels: language: English, scope: curriculum

#34512 Small spelling error.
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/use-model.findbyid-to-search-your-database-by-id.en.md
Labels: language: English, scope: curriculum, status: need to test locally

#33933 Added more information and additional links
  guide/chinese/electron/index.md
Labels: language: Chinese, scope: guide

#34972 Replace Linkedin with LinkedIn
  guide/arabic/miscellaneous/add-free-code-camp-in-linkedin/index.md
  guide/chinese/miscellaneous/add-free-code-camp-in-linkedin/index.md
  guide/english/miscellaneous/add-free-code-camp-in-linkedin/index.md
  guide/portuguese/miscellaneous/add-free-code-camp-in-linkedin/index.md
  guide/russian/miscellaneous/add-free-code-camp-in-linkedin/index.md
  guide/spanish/miscellaneous/add-free-code-camp-in-linkedin/index.md
Labels: language: Arabic, language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: guide

#27318 Add summary of commands in russian. Fix various sentences
  guide/russian/vim/navigation/index.md
Labels: language: Russian, scope: guide

#27084 Added description.
  guide/english/html/tutorials/basic-html/index.md
Labels: language: English, scope: guide, status: merge conflict

#31591 fix: prevent focus when using find/replace
  client/src/templates/Challenges/classic/Editor.js
Labels: platform: client, status: ready for QA

#30259 Update index.md
  guide/english/accessibility/index.md
Labels: language: English, scope: guide

#27961 added basic meta tags
  guide/english/html/tutorials/basic-html/index.md
Labels: language: English, scope: guide

#26987 changed position data to make correct values pass
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-the-d3.max-and-d3.min-functions-to-find-minimum-and-maximum-values-in-a-dataset.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#28571 Fixed grammar
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-wrap-property-to-wrap-a-row-or-column.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#29007 Update implement-merge-sort.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/add-a-description-to-your-package.json.en.md
  curriculum/challenges/english/08-coding-interview-prep/algorithms/implement-merge-sort.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#33232 [Chinese] Fix gitter href for free-code-camp-official-chat-rooms article
  guide/chinese/meta/free-code-camp-official-chat-rooms/index.md
Labels: language: Chinese, scope: guide

#35040 fix(edge): get client app to work on edge
  client/src/client/frame-runner.js
  client/src/client/workers/sass-compile.js
  client/src/client/workers/test-evaluator.js
  client/src/templates/Challenges/components/CompletionModal.js
  client/src/templates/Challenges/utils/frame.js
  client/src/templates/Challenges/utils/worker-executor.js
  curriculum/test/test-challenges.js
Labels: platform: client, status: ready for QA

#19690 Updated test text to Spanish
  curriculum/challenges/spanish/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#29904 Fixing spelling for "whose" and "ongoing"
  guide/english/accessibility/accessibility-basics/index.md
Labels: language: English, scope: guide

#34939 fix: "Applied Visual Design: Adjust the Hover State of an Anchor Tag" now accepts more ways of writing 'blue'
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34995 Closes #34988: "Clicking on link in the code preview opens up the we…
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-links-navigatable-with-html-access-keys.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34881 chore: update some deps in api-server
  api-server/package-lock.json
  api-server/package.json
  client/package-lock.json
Labels: platform: server, status: ready for QA

#20258 improved translation
  guide/spanish/python/for-loop-statements/index.md
Labels: language: Spanish, scope: guide, scope: translation

#30367 fixed articulation of introduction paragraphs
  guide/english/accessibility/accessibility-basics/index.md
Labels: language: English, scope: guide

#34959 fix: modified the test case such that the variable is a local scope o…
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#33243 Update Cryptocurrency Chinese Index.md
  guide/chinese/blockchain/cryptocurrency/index.md
Labels: language: Chinese, scope: guide

#35037 Use the Spread Operator to Evaluate Arrays In-Place, adding the proper solution. (Fixes #35022)
  guide/english/certifications/javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function/index.md
  guide/english/certifications/javascript-algorithms-and-data-structures/es6/use-the-spread-operator-to-evaluate-arrays-in-place/index.md
Labels: language: English, scope: guide

#34981 Modify test for dequeue method to check for FIFO
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-queue-class.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35041 Feat/add guide for writing solutions
  docs/style-guide-for-curriculum-challenges.md
Labels: scope: curriculum, scope: documentation

#27815 Fixing spelling
  guide/english/agile/minimum-marketable-features/index.md
Labels: language: English, scope: guide

#29161 Remove lone bullet point and change "get to" to "access"
  guide/english/accessibility/accessibility-examples/index.md
Labels: language: English, scope: guide

#30059 Fixed typo in the file.
  guide/english/android-development/firebase/cloud-firestore/index.md
Labels: language: English, scope: guide

#34940 Fixed typographical error in guide/english/angular/animations/index.md
  guide/english/angular/animations/index.md
Labels: language: English, scope: guide

#34785 Change for second test case
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-closure-to-protect-properties-within-an-object-from-being-modified-externally.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30507 Grammar change and readability of example
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/add-two-numbers-with-javascript.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34668 Added solution to challenge "Regular Expressions: Match Characters th…
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-zero-or-more-times.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34938 Tests for OOP: Inherit Behaviors from a Supertype
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/inherit-behaviors-from-a-supertype.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#26347 Add paragraph "Two-dimensional Array"
  guide/english/cplusplus/arrays/index.md
Labels: language: English, scope: guide

#27492 Update line 28 and 34
  guide/english/computer-hardware/motherboard/index.md
Labels: language: English, scope: guide

#27112 Explain Variables in Sass
  guide/english/sass/index.md
Labels: language: English, scope: guide

#26389 added tools to view smart contract
  guide/english/blockchain/smart-contracts/index.md
Labels: language: English, scope: guide

#26613 Expanded what trojan looks like
  guide/english/security/trojans/index.md
Labels: language: English, scope: guide

#27323 Add reason for using nodejs in 'guides' section
  guide/english/nodejs/index.md
Labels: language: English, scope: guide

#27852 Updated spacing for Raspberry Pi
  guide/english/robotics/index.md
Labels: language: English, scope: guide

#29147 Different types of motherboards
  guide/english/computer-hardware/motherboard/index.md
Labels: language: English, scope: guide

#31770 Sample solution for the file
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#32530 Expected solution for the challenge seed code
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-text-field.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34366 Edit text string to have consistent case
  curriculum/challenges/english/03-front-end-libraries/react/render-conditionally-from-props.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34408 [Fix] Bug in Get JSON with the JavaScript XMLHTTPrequest method
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#20475 Add basic information regarding Wordpress structure and templates.
  guide/spanish/wordpress/index.md
Labels: language: Spanish, scope: guide

#35073 fix: add spacer above footer
  client/src/components/layouts/Default.js
  client/src/pages/index.js
Labels: platform: client, ux: user interface

#30921 added new ports to the list
  guide/english/computer-science/ports/index.md
Labels: language: English, scope: guide

#29814 Added a note about nvme
  guide/english/computer-hardware/hard-drives/index.md
Labels: language: English, scope: guide

#32039 Some spelling corrections, is > are
  guide/english/computer-science/ports/index.md
Labels: language: English, scope: guide

#33984 extended the port list, add (mostly) all official ports
  guide/english/computer-science/ports/index.md
Labels: language: English, scope: guide

#32860 Add action creator description and change some improper translation.
  guide/chinese/redux/redux-actions/index.md
Labels: language: Chinese, scope: guide

#29658 Improved clarity of template literals
  guide/english/javascript/es6/template-literals/index.md
Labels: language: English, scope: guide, status: QA accepted, status: waiting for CI

#34364 added full explanation and solution for the challenge
  guide/english/certifications/javascript-algorithms-and-data-structures/functional-programming/understand-the-hazards-of-using-imperative-code/index.md
Labels: language: English, scope: guide

#19648 Cambios a la redacción
  curriculum/challenges/spanish/01-responsive-web-design/basic-css/add-rounded-corners-with-border-radius.spanish.md
Labels: language: Spanish, scope: curriculum, scope: translation, status: need to test locally

#34360 Added solution to Learn about Tertiary Colors
  guide/english/certifications/responsive-web-design/applied-visual-design/learn-about-tertiary-colors/index.md
Labels: language: English, scope: guide

#27371 Added ex C style Cast - important to recognize
  guide/english/cplusplus/casting/index.md
Labels: language: English, scope: guide

#35035 Update, grammar. One word removed to reflect usual English phrasing.
  guide/english/cplusplus/casting/index.md
Labels: language: English, scope: guide

#19555 Add spanish translation
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/object-oriented-programming/remember-to-set-the-constructor-property-when-changing-the-prototype.spanish.md
Labels: language: Spanish, scope: curriculum, scope: translation, status: need to test locally

#19554 Add spanish translation
  curriculum/challenges/spanish/03-front-end-libraries/bootstrap/add-elements-within-your-bootstrap-wells.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#32710 Improve the grammar for the 1st paragraph
  curriculum/challenges/spanish/03-front-end-libraries/bootstrap/add-elements-within-your-bootstrap-wells.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#19319 Spanish Language Updates to add-items-to-an-array-with-push-and-unshift.spanish.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-to-an-array-with-push-and-unshift.spanish.md
Labels: language: Spanish, scope: curriculum, scope: translation, status: need to test locally

#19622 Fixed some typos and grammatical errors
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-carefully-choosing-colors-that-convey-information.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#19653 Translation and CSS code changes
  curriculum/challenges/spanish/01-responsive-web-design/basic-css/give-a-background-color-to-a-div-element.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#19701 General better translation + wikipedia links
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/functional-programming/introduction-to-currying-and-partial-application.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#22934 Improved import-a-google-font.spanish.md translation just a little bit
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.spanish.md
  curriculum/challenges/spanish/01-responsive-web-design/basic-css/import-a-google-font.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#27755 Update index.md
  guide/russian/sql/sql-inner-join-keyword/index.md
Labels: language: Russian, scope: guide

#27760 Update index.md
  guide/russian/sql/sql-interview-questions/index.md
Labels: language: Russian, scope: guide

#27787 improve translation
  guide/russian/machine-learning/bayes-classifier/index.md
Labels: language: Russian, scope: guide

#27805 improve translation of key terms, sentences
  guide/russian/machine-learning/clustering-algorithms/index.md
Labels: language: Russian, scope: guide

#32660 Standardize informal treat and minor grammar corrections
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#34682 Clarify ReactDOM.render usage
  guide/english/certifications/front-end-libraries/react/render-a-class-component-to-the-dom/index.md
Labels: language: English, scope: guide

#35031 Fix/update challenges for sass
  curriculum/challenges/english/03-front-end-libraries/sass/use-if-and-else-to-add-logic-to-your-styles.english.md
Labels: language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, status: discussing, status: need to test locally, status: needs update

#33343 Doc: Adding HTML Editors Documents
  guide/english/bootstrap/jumbotron/index.md
  guide/english/html/editors/index.md
  guide/english/html/responsive-web-design/index.md
Labels: language: English, scope: guide

#34848 Fixed typo from "getHachedEggCount" to "getHatchedEggCount"
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-closure-to-protect-properties-within-an-object-from-being-modified-externally.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#29883 add mdn link for map function
  guide/english/javascript/es6/map-function/index.md
Labels: language: English, scope: guide

#28019 Add inline code
  guide/english/r/functions/index.md
Labels: language: English, scope: guide

#20931 Typos y errores de traducción - typos and translation errors
  guide/spanish/nodejs/socket.io/index.md
Labels: language: Spanish, scope: guide

#28044 Add explanation for selected elements
  guide/english/css/id-selector/index.md
Labels: language: English, scope: guide

#20958 Corrige el título - Fixes title
  guide/spanish/nodejs/http/index.md
Labels: language: Spanish, scope: guide

#34138 fix some translate error
  guide/chinese/javascript/await-promises/index.md
Labels: language: Chinese, scope: guide

#26050 Remove unwanted comma
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#29689 Word Correction
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.english.md
Labels: language: English, scope: curriculum

#30440 Public type blockchain Added
  guide/english/blockchain/types/index.md
Labels: language: English, scope: guide

#21673 Updated Cross Multiply with definition and example
  guide/english/mathematics/cross-multiply/index.md
Labels: language: English, scope: guide

#23844 added definition of 3x3 determinants
  guide/english/mathematics/3-by-3-determinants/index.md
Labels: language: English, scope: guide

#24814 <pre> Formatting for Examples
  guide/english/mathematics/3-by-3-determinants/index.md
Labels: language: English, scope: guide

#33999 Noted that method 2 is named Sarrus's Rule
  guide/english/mathematics/3-by-3-determinants/index.md
Labels: language: English, scope: guide

#23831 Add an interesting application of passing pointers to functions
  guide/english/c/passing-pointers-to-function/index.md
Labels: language: English, scope: guide

#19711 Fixed issue with accessibility challenge about contrast
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-using-sufficient-contrast.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#27558 Created documentation of calloc
  guide/english/c/calloc/index.md
Labels: language: English, scope: guide, status: QA accepted

#28045 New file for Iterator pattern
  guide/english/software-engineering/design-patterns/iterator/index.md
Labels: language: English, scope: guide

#28184 Created powershell-version file.
  guide/english/powershell/powershell-version/index.md
Labels: language: English, scope: guide

#28280 Create complex-number-plane
  guide/english/mathematics/complex-plane/index.md
Labels: language: English, scope: guide

#27221 Added "Developers Tools" actual definition
  guide/english/developer-tools/index.md
Labels: language: English, scope: guide

#32568 Added basic random examples
  guide/english/python/random/index.md
Labels: language: English, scope: guide

#32875 Add Information on Hot Module Replacement
  guide/english/react/hot-module-replacement/index.md
Labels: language: English, scope: guide

#32942 Add Keys with Examples
  guide/english/react/keys/index.md
Labels: language: English, scope: guide

#34759 A better solution to finders-keepers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/finders-keepers.english.md
Labels: language: English, scope: curriculum, status: need to test locally, status: needs update

#35072 fix: Add npm clean command to docs
  docs/how-to-setup-freecodecamp-locally.md
Labels: language: English, scope: documentation, status: needs update

#25816 guide: add code explanations to js algorithm
  guide/english/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/convert-html-entities/index.md
Labels: language: English, scope: guide

#26877 added different types of variables used in Swift 4
  guide/english/swift/variables/index.md
Labels: language: English, scope: guide

#28271 Added "panel-footer" to code examples
  guide/english/bootstrap/panels/index.md
Labels: language: English, scope: guide

#30885 added hybrid blockchain type
  guide/english/blockchain/types/index.md
Labels: language: English, scope: guide

#29887 Closed Spacing of identifier
  docs/how-to-work-on-coding-challenges.md
Labels: scope: documentation

#34348 Fix spelling and punctuation
  guide/english/blockchain/types/index.md
Labels: language: English, scope: guide

#28293 Add link to the "card" class for bootstrap 4
  guide/english/bootstrap/panels/index.md
Labels: language: English, scope: guide

#28473 Added NPM description
  guide/english/nodejs/index.md
Labels: language: English, scope: guide

#28816 Add block comment example and remove whitespace
  guide/english/c/hello-world/index.md
Labels: language: English, scope: guide

#29175 fix: Add missing link href
  docs/how-to-work-on-guide-articles.md
Labels: scope: documentation

#35147 refactor: cleaned up spelling/grammar/formatting
  guide/english/blockchain/types/index.md
Labels: language: English, scope: guide

#29739 Minor grammar changes
  docs/how-to-work-on-guide-articles.md
Labels: scope: documentation

#24912 Adds localhost:8000 to gatsby develop command
  guide/english/gatsbyjs/index.md
Labels: language: English, scope: guide

#24649 Update/ Expand guide article on Godot from stub
  guide/english/game-development/godot/index.md
Labels: language: English, scope: guide

#31595 Added comma to line 26
  guide/english/accessibility/accessibility-examples/index.md
Labels: language: English, scope: guide

#25182 Add section od querying data
  guide/english/gatsbyjs/index.md
Labels: language: English, scope: guide

#27503 Added line 'Since Gatsby is Built on React'
  guide/english/gatsbyjs/index.md
Labels: language: English, scope: guide

#30624 Grammatical fixes
  guide/english/game-development/unreal-engine/index.md
Labels: language: English, scope: guide

#34109 Fill in stub for infosec "helmet.xssFilter()"
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/mitigate-the-risk-of-cross-site-scripting-xss-attacks-with-helmet.xssfilter/index.md
Labels: language: English, scope: guide

#34108 Fill in stub for infosec "helmet.frameguard()"
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/mitigate-the-risk-of-clickjacking-with-helmet.frameguard/index.md
Labels: language: English, scope: guide

#34332 [guide] [english] Fill in stubs for helmet lessons
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/avoid-inferring-the-response-mime-type-with-helmet.nosniff/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/configure-helmet-using-the-parent-helmet-middleware/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/disable-client-side-caching-with-helmet.nocache/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/disable-dns-prefetching-with-helmet.dnsprefetchcontrol/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/hash-and-compare-passwords-synchronously/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/prevent-ie-from-opening-untrusted-html-with-helmet.ienoopen/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy/index.md
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes/index.md
Labels: language: English, scope: guide

#34102 Fill in stub for infosec "helmet.hidePoweredBy()"
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/hide-potentially-dangerous-information-using-helmet.hidepoweredby/index.md
Labels: language: English, scope: guide

#34100 Fill in stub for "Install and require helmet"
  guide/english/certifications/information-security-and-quality-assurance/information-security-with-helmetjs/install-and-require-helmet/index.md
Labels: language: English, scope: guide

#26524 Add article by The Nielsen Norman Group
  guide/english/product-design/customer-journey-maps/index.md
Labels: language: English, scope: guide

#26496 Created a file for the insert method
  guide/english/python/lists/list-insert-method/index.md
Labels: language: English, scope: guide

#28604 Added More applications of electron.
  guide/english/electron/index.md
Labels: language: English, scope: guide

#29926 Fixed spelling mistake "compatability"
  guide/english/electron/index.md
Labels: language: English, scope: guide

#31268 Fixing minor punctuation issue 01
  guide/english/electron/index.md
Labels: language: English, scope: guide

#19557 Language correction
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#32748 fixed typos
  guide/english/electron/index.md
Labels: language: English, scope: guide

#29100 fixed(guide): grammar flow issue
  guide/english/react/what-are-react-props/index.md
Labels: language: English, scope: guide

#28904 added breaks to list
  guide/english/gatsbyjs/index.md
Labels: language: English, scope: guide

#31050 Update index.md
  guide/english/game-development/godot/index.md
Labels: language: English, scope: guide

#30820 Add the text line 27
  guide/english/vim/vim-plug/index.md
Labels: language: English, scope: guide

#30775 Added spark official logo
  guide/english/data-science-tools/spark/index.md
Labels: language: English, scope: guide

#33887 Added additional information on bug bounty prizes
  guide/english/security/bug-bounties/index.md
Labels: language: English, scope: guide

#28130 Added ls -la example for file details.
  guide/english/bash/bash-ls/index.md
Labels: language: English, scope: guide

#31053 Update index.md
  guide/english/game-development/godot/index.md
Labels: language: English, scope: guide

#28387 fixed typo on bash-ls - removed master
  guide/english/bash/bash-ls/index.md
Labels: language: English, scope: guide

#28785 Add -d argument description
  guide/english/bash/bash-ls/index.md
Labels: language: English, scope: guide

#30629 Fixed a typo where 'ls' was 'cat'
  guide/english/bash/bash-ls/index.md
Labels: language: English, scope: guide

#30767 updated `ls` description to better match man pages
  guide/english/bash/bash-ls/index.md
Labels: language: English, scope: guide

#26492 added example to make description clear
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30359 fix(challenge): typo error
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/serve-json-on-a-specific-route.en.md
Labels: language: English, scope: curriculum, status: need to test locally

#32537 Expected solution for the challenge seed code
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#32333 update index.md: explained a bit more about Gatsby
  guide/english/gatsbyjs/index.md
Labels: language: English, scope: guide

#34769 fix: explain terms dynamic and interpreted in ruby guide's index.md.
  guide/english/ruby/index.md
Labels: language: English, scope: guide

#34971 Replace Github with GitHub
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/authentication-strategies.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md
  curriculum/requiresTests/rosetta-code-problems.json
  docs/how-to-setup-freecodecamp-locally.md
  guide/english/agile/continuous-integration/index.md
  guide/english/android-development/android-studio/direct-upload-to-github/index.md
  guide/english/bulma/get-started/index.md
  guide/english/bulma/index.md
  guide/english/data-science-tools/spark/index.md
  guide/english/game-development/godot/index.md
  guide/english/game-development/libgdx/index.md
  guide/english/gatsbyjs/index.md
  guide/english/git/git-push/index.md
  guide/english/javascript/async-messaging-with-rabbitmq-tortoise/index.md
  guide/english/miscellaneous/creating-a-new-github-issue/index.md
  guide/english/miscellaneous/delete-a-git-branch-both-locally-and-remotely/index.md
  guide/english/miscellaneous/deploying-to-openshift/index.md
  guide/english/miscellaneous/emojis-for-gitter-and-github/index.md
  guide/english/miscellaneous/heroku-deployment-guide/index.md
  guide/english/miscellaneous/how-to-clone-and-setup-the-free-code-camp-website-on-a-windows-pc/index.md
  guide/english/miscellaneous/how-to-fork-and-maintain-a-local-instance-of-free-code-camp-on-mac-and-linux/index.md
  guide/english/miscellaneous/how-to-get-help-on-gitter/index.md
  guide/english/miscellaneous/how-to-make-a-pull-request-on-free-code-camp/index.md
  guide/english/miscellaneous/known-issues-with-codepen/index.md
  guide/english/miscellaneous/learn-a-little-about-latex/index.md
  guide/english/miscellaneous/learn-about-the-latex-language/index.md
  guide/english/miscellaneous/linking-your-account-with-github/index.md
  guide/english/miscellaneous/running-webpack-and-webpack-dev-server/index.md
  guide/english/miscellaneous/searching-for-existing-issues-in-github/index.md
  guide/english/miscellaneous/searching-for-existing-issues/index.md
  guide/english/miscellaneous/the-history-of-ruby/index.md
  guide/english/miscellaneous/use-github-static-pages-to-host-your-front-end-projects/index.md
  guide/english/miscellaneous/wiki-git-resources/index.md
  guide/english/miscellaneous/writing-a-markdown-file-for-github-using-atom/index.md
  guide/english/python/web-frameworks-and-what-they-do-for-you/index.md
  guide/english/react/what-are-react-props/index.md
  guide/english/redux/redux-thunk/index.md
  guide/english/ruby/index.md
  guide/english/ruby/ruby-on-rails/index.md
  guide/english/security/bug-bounties/index.md
  guide/english/vim/vim-plug/index.md
  guide/english/vim/vundle/index.md
  guide/english/wordpress/gutenberg/index.md
  guide/english/wordpress/index.md
  mock-guide/english/git/difference-git-github/index.md
  mock-guide/english/git/git-push/index.md
Labels: language: English, scope: curriculum, scope: documentation, scope: guide

#26155 Edited copy for grammar/flow
  guide/english/react/index.md
Labels: language: English, scope: guide
