Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-04, with the labels that each got.

#28888 Example of simple PDO Connection
  guide/english/php/working-with-databases/index.md
Labels: language: English, scope: guide

#28953 Update index.md to correct grammar and punctuation.
  guide/english/aspnet/index.md
Labels: language: English, scope: guide

#35500 Make a comparison in the test more accurately
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-arrow-functions-to-write-concise-anonymous-functions.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#34800 fix(challenges): Regex Asterisk Challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-zero-or-more-times.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#28313 Minor wording/grammar updates
  guide/english/python/code-blocks-and-indentation/index.md
Labels: language: English, scope: guide

#30488 Grammar and punctuation changes
  guide/english/cplusplus/compilers/index.md
Labels: language: English, scope: guide

#30480 Added "More Information" Section
  guide/english/csharp/try-catch/index.md
Labels: language: English, scope: guide

#30571 format CSS code according to CSS style guide.
  guide/english/bootstrap/carousel/index.md
Labels: language: English, scope: guide

#30720 Add slope-intercept article
  guide/english/mathematics/intro-to-slope-intercept-form/index.md
Labels: language: English, scope: guide

#30783 improved wording
  guide/english/swift/variables/index.md
Labels: language: English, scope: guide

#31157 remove A
  guide/english/algorithms/graph-algorithms/index.md
Labels: language: English, scope: guide

#33210 Removed wrongly mapped Graph link
  guide/english/algorithms/graph-algorithms/index.md
Labels: language: English, scope: guide

#31974 Update index.md
  guide/english/algorithms/exponentiation/index.md
Labels: language: English, scope: guide

#31631 Added Adobe XD
  guide/english/designer-tools/index.md
Labels: language: English, scope: guide

#30669 malloc() vs calloc()
  guide/english/c/malloc/index.md
Labels: language: English, scope: guide

#32164 Cleaned up headings and added resources
  guide/english/designer-tools/index.md
Labels: language: English, scope: guide

#31439 Added declaration of malloc
  guide/english/c/malloc/index.md
Labels: language: English, scope: guide

#27416 Improve accuracy of information and grammar
  guide/english/vue/components/index.md
Labels: language: English, scope: guide

#27626 Updated grammar
  guide/english/vue/components/index.md
Labels: language: English, scope: guide, status: waiting for CI

#29849 Add text about -u option on Git stash documentation
  guide/english/git/git-stash/index.md
Labels: language: English, scope: guide, status: waiting for CI

#31073 Guide article added Modifying DOM elements using D3 JS (guide/english/d3)
  guide/english/d3/3-d3-dom-manipulation/index.md
  guide/english/d3/set-up-d3/index.md
Labels: language: English, scope: guide, status: waiting for CI

#33916 Added details about stash
  guide/english/git/git-stash/index.md
Labels: language: English, scope: guide

#35511 Propose a Basic Solution to Adjacency List Problem
  guide/english/certifications/coding-interview-prep/data-structures/adjacency-list/index.md
Labels: language: English, scope: guide

#35521 Fixed grammar in article chain-search-query-helpers-to-narrow-search-…
  guide/english/certifications/apis-and-microservices/mongodb-and-mongoose/chain-search-query-helpers-to-narrow-search-results/index.md
Labels: language: English, scope: guide, status: waiting for CI

#35728 fix: correct cert date for legacy data visualization
  api-server/server/boot/certificate.js
Labels: platform: server, status: ready for QA

#35062 Updated problem example to a working implementation matching the solution style
  guide/english/certifications/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method/index.md
Labels: language: English, scope: guide

#35743 Fix typo in curriculum/challanges/english/01-responsive-web-design/ap…
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-scale-an-element-on-hover.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#27345 added structure overview of ways to overload
  guide/english/cplusplus/overloading/index.md
Labels: language: English, scope: guide, status: merge conflict

#30293 Updated format to be more consistent
  guide/english/bash/bash-touch/index.md
Labels: language: English, scope: guide

#27387 added reference links
  guide/english/c/pointers/index.md
Labels: language: English, scope: guide

#26372 Expand on the learning curve for transitioning to Figma
  guide/english/designer-tools/figma/index.md
Labels: language: English, scope: guide, status: waiting for CI

#28934 Fix grammatical errors
  guide/english/design-patterns/object-oriented-programming/index.md
Labels: language: English, scope: guide

#28379 Added GitHub Mastering Markdown guide link
  guide/english/developer-tools/markdown/index.md
Labels: language: English, scope: guide

#28921 Missing semicolon.
  guide/english/csharp/foreach/index.md
Labels: language: English, scope: guide, status: waiting for CI

#30062 Added details about abstraction
  guide/english/design-patterns/object-oriented-programming/index.md
Labels: language: English, scope: guide

#31744 Added a few words for clarity
  guide/english/design-patterns/object-oriented-programming/index.md
Labels: language: English, scope: guide

#28948 Fixed minor grammatical errors.
  guide/english/javascript/onclick-event/index.md
Labels: language: English, scope: guide

#35603 Docs/update local setup doc
  docs/how-to-setup-freecodecamp-locally.md
Labels: language: English, scope: documentation

#29486 Further explained how to initialize sets
  guide/english/python/learn-about-python-sets/index.md
Labels: language: English, scope: guide

#35715 fix: A testing bug in FCC's React Simple Counter Challenge
  curriculum/challenges/english/03-front-end-libraries/react/write-a-simple-counter.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30383 script file extension is not necessary
  guide/english/linux/shell-scripting/index.md
Labels: language: English, scope: guide

#35581 Added the Introduction to the Coding Interview Take Home Projects
  client/src/pages/learn/coding-interview-prep/take-home-projects/index.md
Labels: language: English, scope: curriculum, status: needs update

#34811 fix(challenge): update text to give an explanation of wrapping
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/introduction-to-html5-elements.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30831 right aligning and code blocks fixes
  guide/arabic/accessibility/accessibility-examples/index.md
Labels: language: Arabic, scope: guide, scope: translation

#28218 Added reminder to include libraries in files.
  guide/english/c/math/index.md
Labels: language: English, scope: guide

#35740 Typo Fix In guide / english / computer-hardware / rom / index.md
  guide/english/computer-hardware/rom/index.md
Labels: language: English, scope: guide

#29020 docs: shorten the description for clarity.
  guide/english/python/lambda-expressions/index.md
Labels: language: English, scope: guide

#31587 Miscellaneous fixes
  guide/english/python/lambda-expressions/index.md
Labels: language: English, scope: guide, status: waiting for CI

#27061 Add lines 169-171 (short circuit in logical operators)
  guide/english/c/if-statements/index.md
Labels: language: English, scope: guide

#28796 Updated index.md adding an Example where the while loop gets ignored.
  guide/english/cplusplus/while-loop/index.md
Labels: language: English, scope: guide

#27480 Changed some grammar issues for better readability
  guide/english/c/if-statements/index.md
Labels: language: English, scope: guide

#35019 added description and examples to the article
  guide/english/mathematics/how-to-find-the-median-value/index.md
  guide/english/mathematics/special-right-triangles-intro/index.md
Labels: language: English, scope: guide

#32665 add example of malloc
  guide/english/c/malloc/index.md
Labels: language: English, scope: guide

#29005 Update index.md
  guide/english/machine-learning/deep-learning/index.md
Labels: language: English, scope: guide

#32632 Minor corrections
  guide/english/react/higher-order-components/index.md
Labels: language: English, scope: guide

#30176 Corrected some typos
  guide/english/machine-learning/deep-learning/index.md
Labels: language: English, scope: guide

#30188 added info on deep learning in android and web
  guide/english/machine-learning/deep-learning/index.md
Labels: language: English, scope: guide

#30616 Added learning resources
  guide/english/machine-learning/deep-learning/index.md
Labels: language: English, scope: guide

#35627 docs: Add no use of images to styling guide
  docs/style-guide-for-guide-articles.md
Labels: language: English, scope: documentation

#33307 Add malloc() review
  guide/english/c/malloc/index.md
Labels: language: English, scope: guide

#30199 edits for punctuation and grammar
  guide/english/semantic-ui/index.md
Labels: language: English, scope: guide

#31508 Added Links to different frameworks
  guide/english/python/what-is-python-used-for/index.md
Labels: language: English, scope: guide

#31678 Amended list capitalization to be consistent
  guide/english/python/what-is-python-used-for/index.md
Labels: language: English, scope: guide

#35790 removed the unnecessary space between "number s"
  guide/english/javascript/numbers/index.md
Labels: language: English, scope: guide

#27408 grammatical and other changes
  guide/english/css/comments-in-css/index.md
Labels: language: English, scope: guide

#28163 Developer Tools definitions added
  guide/english/developer-tools/developer-tools-in-browsers/index.md
Labels: language: English, scope: guide

#28205 Fixed grammatical errors and added a line above "More Information"
  guide/english/bootstrap/get-started/index.md
Labels: language: English, scope: guide

#29917 Improve Chinese translation in euler-problem-1
  curriculum/challenges/chinese/08-coding-interview-prep/project-euler/problem-1-multiples-of-3-and-5.chinese.md
Labels: language: Chinese, scope: curriculum, status: need to test locally

#26167 Added a note.
  guide/chinese/javascript/arrow-functions/index.md
Labels: language: Chinese, scope: guide

#23574 Changed some grammatical issues
  guide/chinese/c/more-math/index.md
Labels: language: Chinese, scope: guide

#29316 Update russian translation
  guide/russian/php/composer/index.md
Labels: language: Russian, scope: guide

#29335 Update russian translation
  guide/russian/php/loop/index.md
Labels: language: Russian, scope: guide

#29401 Review russian translation of the article
  guide/russian/javascript/advantages-and-disadvantages-of-javascript/index.md
Labels: language: Russian, scope: guide

#29421 Update index.md
  guide/russian/php/array/index.md
Labels: language: Russian, scope: guide

#29427 Fix russian translate
  guide/russian/php/arrays/sorting-arrays/index.md
Labels: language: Russian, scope: guide

#29431 Russian translate fix
  guide/russian/php/classes-and-objects/index.md
Labels: language: Russian, scope: guide

#29108 Update while-loop content
  guide/english/csharp/while-loop/index.md
Labels: language: English, scope: guide

#29051 Minor text simplification
  guide/english/linux/linux-brief-history/index.md
Labels: language: English, scope: guide

#29438 2) MBR - missing link for reference
  guide/english/linux/how-linux-system-boots-up-6-step-description/index.md
Labels: language: English, scope: guide

#29442 3. GRUB - missing link for reference
  guide/english/linux/how-linux-system-boots-up-6-step-description/index.md
Labels: language: English, scope: guide

#29416 typo - corrected 1MB to 10MB
  guide/english/linux/create-file-with-specific-size/index.md
Labels: language: English, scope: guide

#29304 Spelling change from "insures" to "ensures"
  guide/english/agile/scrum/index.md
Labels: language: English, scope: guide

#28890 Update index.md with grammatical, formatting fixes
  guide/english/machine-learning/natural-language-processing/index.md
Labels: language: English, scope: guide

#32712 added comma
  guide/english/javascript/es6/index.md
Labels: language: English, scope: guide

#25544 Changed from stub into short article
  guide/english/computer-science/data-mining/index.md
Labels: language: English, scope: guide

#34090 clarify/ add her
  guide/english/miscellaneous/dont-just-say-rtfm/index.md
Labels: language: English, scope: guide

#29623 Minor typos
  guide/english/c/data-types/index.md
Labels: language: English, scope: guide

#35779 fix(curriculum): Remove function syntax to simplify the Word Blanks challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/word-blanks.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#33998 Added Calculus based proof for Area equation
  guide/english/mathematics/area-of-a-ellipse/index.md
Labels: language: English, scope: guide

#35774 fix(curriculum): Made tests not accept invalid HTML
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35761 fix(curriculum): Add solutions to responsive web design principles
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-an-image-responsive.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35193 fix(challenge): check for li and specify elements accepting text
  curriculum/challenges/english/03-front-end-libraries/react/create-a-complex-jsx-element.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35795 fix(curriculum): Modify test in one of the Javascript challenges
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/check-for-the-presence-of-an-element-with-indexof.english.md
Labels: language: English, scope: curriculum

#35744 fix(curriculum): Added 12 missing solutions to challenges in the Basic Data Structures section
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-to-an-array-with-push-and-unshift.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-using-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-key-value-pairs-to-javascript-objects.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/check-for-the-presence-of-an-element-with-indexof.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-array-items-using-slice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/create-complex-multi-dimensional-arrays.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-all-an-arrays-items-using-for-loops.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-array-stored-in-an-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-object-nested-within-an-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-from-an-array-with-pop-and-shift.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-using-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/use-an-array-to-store-a-collection-of-data.english.md
Labels: language: English, scope: curriculum

#35810 fix(curriculum): replace js with full solution in accessibility challenge
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-using-sufficient-contrast.english.md
Labels: language: English, scope: curriculum

#35803 fix: add new scrimba casts
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.english.md
Labels: language: English, scope: curriculum

#35725 Typo Fix in guide/english/computer-hardware/gpu/index.md
  guide/english/computer-hardware/gpu/index.md
Labels: language: English, scope: guide

#29375 Update make-circular-images-with-a-border-radius.russian.md
  curriculum/challenges/russian/01-responsive-web-design/basic-css/make-circular-images-with-a-border-radius.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#29457 Russian translation refactoring
  guide/russian/javascript/angularjs-interview-questions/index.md
Labels: language: Russian, scope: guide

#29476 Russian translation refactoring
  guide/russian/javascript/booleans/index.md
Labels: language: Russian, scope: guide

#29492 Fixed local title.
  curriculum/challenges/russian/01-responsive-web-design/basic-html-and-html5/uncomment-html.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#35804 Fix/update challenges for responsive-web-design-principles
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.english.md
Labels: language: English, scope: curriculum, status: needs update

#28300 Include what predated SSH
  guide/english/bash/bash-ssh/index.md
Labels: language: English, scope: guide

#29511 Russian translation adjusted
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/add-new-properties-to-a-javascript-object.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#29591 Line 77 Corrected
  guide/russian/c/conditional-statements/index.md
Labels: language: Russian, scope: guide

#29583 Added some missing translations Line 81
  guide/russian/c/pointers/index.md
Labels: language: Russian, scope: guide

#28717 Rewording for smoother flow and easier reading
  guide/english/chef/index.md
Labels: language: English, scope: guide

#35565 [NEW] A clearer, more readable return statement
  guide/english/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers/index.md
Labels: language: English, other: decayed, scope: guide, status: needs update

#29928 Added riddle and solution
  guide/english/logic/mobsters-riddle/index.md
Labels: language: English, scope: guide

#35516 added html solution for testing - responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#29162 Added Chef logo + click redirects to Chef website
  guide/english/chef/index.md
Labels: language: English, scope: guide

#35831 guide: remove copyrighted content from file
  guide/english/logic/mobsters-riddle/index.md
Labels: language: English, scope: guide

#29790 Fixed typo
  guide/english/java/throw-keyword/index.md
Labels: language: English, scope: guide

#28990 Edited 2 paragraphs; Added Advantages and Disadvantages
  guide/english/working-in-tech/remote-versus-onsite/index.md
Labels: language: English, scope: guide

#29595 Changes to Switch. Not explained fully.
  guide/russian/c/conditional-statements/index.md
Labels: language: Russian, scope: guide

#29632 [Node.js] Russian translate for nodejs/buffer
  guide/russian/nodejs/buffer/index.md
Labels: language: Russian, scope: guide

#29649 [Node.js] Russian translate for nodejs/process
  guide/russian/nodejs/process/index.md
Labels: language: Russian, scope: guide

#33901 Fix wierd sentence.
  guide/english/nodejs/express/index.md
Labels: language: English, scope: guide

#31540 Added explanation for single y intercept
  guide/english/mathematics/x-and-y-intercepts/index.md
Labels: language: English, scope: guide

#33801 I changed the grammar
  guide/english/react/react-router/index.md
Labels: language: English, scope: guide

#33530 Correcting grammatical errors
  guide/english/computer-science/dynamic-programming/index.md
Labels: language: English, scope: guide

#33334 Commit message
  guide/english/cplusplus/object-oriented-programming/index.md
Labels: language: English, scope: guide

#33309 Edits for clarity
  guide/english/cplusplus/object-oriented-programming/index.md
Labels: language: English, scope: guide

#32883 Added Description,Links and Images
  guide/english/algorithms/evaluating-polynomials-synthetic-division/index.md
Labels: language: English, scope: guide

#32653 Capitalised 'Lab' in 'Artificial Intelligence Lab'
  guide/english/linux/origins-of-linux-and-the-free-software-movement/index.md
Labels: language: English, scope: guide

#28336 Added docstring information
  guide/english/python/functions/index.md
Labels: language: English, scope: guide

#32588 fixed typos
  guide/english/java/static/index.md
Labels: language: English, scope: guide

#32648 Egs to Example
  guide/english/jquery/jquery-css-method/index.md
Labels: language: English, scope: guide

#32506 changed "the simplest" to "a simple"
  guide/english/haskell/hello-world/index.md
Labels: language: English, scope: guide

#32156 Fixed the broken link for Paths in the final paragraph
  guide/english/canvas/basic-usage/index.md
Labels: language: English, scope: guide

#31938 Updated note on line 30
  guide/english/javascript/switch-statements/index.md
Labels: language: English, scope: guide

#32890 Modified Explanation
  guide/english/cplusplus/object-oriented-programming/index.md
Labels: language: English, scope: guide

#31577 Fixed a few typos.
  guide/english/c/structures/index.md
Labels: language: English, scope: guide

#31795 Fixed grammar on lines 7, 9 and 11
  guide/english/python/lists/list-append-method/index.md
Labels: language: English, scope: guide

#30956 Updated Inheritance and Dynamic Binding sections
  guide/english/cplusplus/object-oriented-programming/index.md
Labels: language: English, scope: guide

#35802 Update videoURL for HTML5 Elements challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/introduction-to-html5-elements.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#33996 Add new VR headset to list of HMD's
  guide/english/web-virtual-reality/index.md
Labels: language: English, scope: guide

#33822 added some words
  guide/english/kotlin/hello-world/index.md
Labels: language: English, scope: guide

#31647 added val and var in the code that is really neccessary
  guide/english/kotlin/strings/index.md
Labels: language: English, scope: guide

#31644 Adjust formatting
  guide/english/product-design/brand-identity/index.md
Labels: language: English, scope: guide

#32685 Fixed markdown and added resources
  guide/english/visual-design/wireframing/index.md
Labels: language: English, scope: guide

#31144 Added text "the"
  guide/english/python/calling-functions/index.md
Labels: language: English, scope: guide

#30737 fixed rocket images
  guide/english/java/constructors/index.md
Labels: language: English, scope: guide

#30518 Fix MDN link and copyedit text
  guide/english/html/semantic-html-elements/index.md
Labels: language: English, scope: guide

#30483 Added "More Information" Section
  guide/english/csharp/string-interpolation/index.md
Labels: language: English, scope: guide

#30435 In Line 5
  guide/english/c/operators/index.md
Labels: language: English, scope: guide

#30368 fixed some typos
  guide/english/jquery/jquery-ajax-post-method/index.md
Labels: language: English, scope: guide

#29686 Correct some words translation
  guide/russian/designer-tools/photoshop/index.md
Labels: language: Russian, scope: guide

#29703 Correct some words translation
  guide/russian/javascript/arrow-functions/index.md
Labels: language: Russian, scope: guide

#29712 Correct some words translation
  guide/russian/javascript/html-dom-queryselector/index.md
Labels: language: Russian, scope: guide
