Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-09, with the labels that each got.

#36746 fix: Render completed checkmark in ChallengeTitle when user has passed the challenge
  client/src/templates/Challenges/components/Challenge-Title.js
  client/src/templates/Challenges/components/Side-Panel.js
  client/src/templates/Challenges/components/__snapshots__/ChallengeTitle.test.js.snap
  client/src/templates/Challenges/redux/index.js
Labels: platform: client, status: ready for QA

#36742 feat(client): use React Final Form instead of Redux Form
  client/package-lock.json
  client/package.json
  client/src/components/formHelpers/Form.js
  client/src/components/formHelpers/Form.test.js
  client/src/components/formHelpers/FormFields.js
  client/src/components/formHelpers/__snapshots__/Form.test.js.snap
  client/src/components/formHelpers/index.js
  client/src/redux/rootReducer.js
  client/src/templates/Challenges/redux/index.js
Labels: platform: client, release: next/beta, status: ready for QA

#36750 fix(client): modal a11y and learn tabs on mobile
  client/src/components/Footer/Footer.test.js
  client/src/components/Footer/__snapshots__/Footer.test.js.snap
  client/src/components/layouts/global.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/components/reset-modal.css
Labels: platform: client, release: next/beta, ux: user interface

#32799 Added a microservices section
  client/src/pages/learn/apis-and-microservices/index.md
Labels: status: needs investigation, status: needs triage

#36755 fix(style): remove margin on certifications
  client/src/pages/certification.css
Labels: platform: client, release: next/beta, status: ready for QA, ux: user interface

#36761 fix: make donate modal scrollable
  client/src/components/Donation/Donation.css
  client/src/components/Donation/components/DonateForm.js
  client/src/components/Donation/components/DonateText.js
Labels: platform: client, release: next/beta, ux: user interface

#36778 fix: clean up old views
  client/src/components/Supporters.js
  client/src/components/supporters.css
  client/src/pages/software-resources-for-nonprofits.js
  tools/scripts/build/__snapshots__/create-redirects.test.js.snap
  tools/scripts/build/create-redirects.js
Labels: platform: client, release: next/beta

#36800 fix:Typo in uncomment-html page
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/uncomment-html.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36523 Update user test 13 desc to match changed test
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-javascript-calculator.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36792 valid factorial number update under the tests
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/factorial.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36744 feat: universal navbar
  client/src/__mocks__/gatsby.js
  client/src/client-only-routes/ShowSettings.js
  client/src/client-only-routes/ShowSettings.test.js
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/MenuButton.js
  client/src/components/Header/components/MenuLinks.js
  client/src/components/Header/components/NavLinks.js
  client/src/components/Header/components/NavLogo.js
  client/src/components/Header/components/NavMenu.js
  client/src/components/Header/components/UniversalNav.js
  client/src/components/Header/components/menuButton.css
  client/src/components/Header/components/menuLinks.css
  client/src/components/Header/components/universalNav.css
  client/src/components/Header/header.css
  client/src/components/Header/index.js
  client/src/components/layouts/Default.js
  client/src/components/layouts/global.css
  client/src/components/search/searchBar/searchbar.css
  client/src/components/welcome/index.js
  client/src/pages/donate.js
  client/src/pages/donate.test.js
  client/src/pages/learn.css
  client/src/pages/learn.js
  client/src/pages/portfolio.js
Labels: platform: client, platform: search, release: next/beta, scope: user interface

#36812 feat: add top five company logos
  client/src/assets/images/AmazonLogo.js
  client/src/assets/images/AppleLogo.js
  client/src/assets/images/GoogleLogo.js
  client/src/assets/images/MicrosoftLogo.js
  client/src/assets/images/SpotifyLogo.js
Labels: platform: client, release: next/beta, status: needs update

#36429 fix(curriculum): Add and modify tests to catch bad code.
  curriculum/challenges/english/03-front-end-libraries/react/pass-props-to-a-stateless-functional-component.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36827 fix: improve map responsiveness
  client/src/components/Map/components/SuperBlock.js
  client/src/components/Map/components/SuperBlock.test.js
  client/src/components/Map/components/__snapshots__/SuperBlock.test.js.snap
  client/src/components/Map/map.css
Labels: platform: client, release: next/beta, scope: user interface

#36822 fix(client): merge and update the learn map
  client/src/__mocks__/challenge-nodes.js
  client/src/__mocks__/fileMock.js
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/Login.js
  client/src/components/Header/components/NavLinks.js
  client/src/components/Map/Map.js
  client/src/components/Map/Map.test.js
  client/src/components/Map/__snapshots__/Map.test.js.snap
  client/src/components/Map/components/Block.test.js
  client/src/components/Map/components/SuperBlock.test.js
  client/src/components/Map/index.js
  client/src/components/welcome/Welcome.test.js
  client/src/components/welcome/index.js
  client/src/pages/index.js
  client/src/pages/learn.css
  client/src/pages/learn.js
Labels: platform: client, release: next/beta

#36620 fix(curriculum): Add tests for setter, getter and setting a temperature (es6 tests)
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36623 fix(curriculum): use function form of this.setState
  curriculum/challenges/english/03-front-end-libraries/react/bind-this-to-a-class-method.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use--for-a-more-concise-conditional.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-a-ternary-expression-for-conditional-rendering.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-state-to-toggle-an-element.english.md
  curriculum/challenges/english/03-front-end-libraries/react/write-a-simple-counter.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36807 fix: balanced-brackets-tests
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/balanced-brackets.english.md
Labels: language: English, scope: curriculum, status: need to test locally, status: ready for QA

#36848 fix(client): enable setting button when user profile is private
  client/src/components/profile/Profile.js
Labels: platform: client, release: next/beta

#36857 fix(curriculum): added 3 new tests to mutations challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/mutations.english.md
Labels: language: English, scope: curriculum, status: need to test locally
