Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-06, with the labels that each got.

#28724 Update index.md
  guide/english/c/functions/index.md
Labels: language: English, scope: guide, status: merge conflict

#26642 adds Chinese expiation and more stylings
  guide/chinese/css/navigation-bars/index.md
Labels: language: Chinese, scope: guide

#34342 Added content
  guide/english/mathematics/factoring-quadratics/index.md
Labels: language: English, scope: guide

#35179 Correct grammar and make more concise
  guide/english/html/comments-in-html/index.md
Labels: language: English, scope: guide

#34365 Added content to stub
  guide/english/mathematics/implicit-differentiation/index.md
Labels: language: English, scope: guide

#29027 Improves Portuguese translation for challenge give-links-meaning-by-u…
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#29044 Update find-more-than-the-first-match.portuguese.md with a few suggestions to improve readability.
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/regular-expressions/find-more-than-the-first-match.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#29507 Improved pairwise pt-br translation
  curriculum/challenges/portuguese/08-coding-interview-prep/algorithms/pairwise.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#29519 Improved quick-sort challenge translation
  curriculum/challenges/portuguese/08-coding-interview-prep/algorithms/implement-quick-sort.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#29861 Update standardize-times-with-the-html5-datetime-attribute.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#29886 Update make-links-navigatable-with-html-access-keys.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/make-links-navigatable-with-html-access-keys.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#30722 Improves Portuguese translation for challenge improve-accessibility-o…
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#33280 Improve Portuguese translation of wrap-content-in-the-article-element
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#35365 Fix/update challenges for sass spanish
  curriculum/challenges/spanish/03-front-end-libraries/sass/use-if-and-else-to-add-logic-to-your-styles.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#32280 Tradução de títulos
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#33515 Correction of grammar and syntax.
  curriculum/challenges/portuguese/03-front-end-libraries/bootstrap/add-id-attributes-to-bootstrap-elements.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#33648 Syntax correction
  curriculum/challenges/portuguese/03-front-end-libraries/bootstrap/center-text-with-bootstrap.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#33685 A few translations and adjustments
  curriculum/challenges/portuguese/03-front-end-libraries/react/access-props-using-this.props.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#34088 Fix grammar and word choice in access-props-using-this.props.russian.md
  curriculum/challenges/russian/03-front-end-libraries/react/access-props-using-this.props.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34093 Fix grammar and word choice in add-event-listeners.russian.md
  curriculum/challenges/russian/03-front-end-libraries/react/add-event-listeners.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34122 Improved Russian translation.
  curriculum/challenges/russian/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34148 Improved Russian translation.
  curriculum/challenges/russian/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34162 [Ru] Improved the translation of Project Euler 03
  curriculum/challenges/russian/08-coding-interview-prep/project-euler/problem-3-largest-prime-factor.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34151 [Ru] Improved translation of Project Euler 01
  curriculum/challenges/russian/08-coding-interview-prep/project-euler/problem-1-multiples-of-3-and-5.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34302 Translation fixes
  curriculum/challenges/portuguese/01-responsive-web-design/basic-html-and-html5/make-dead-links-using-the-hash-symbol.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#34192 Improved Russian translation.
  curriculum/challenges/russian/09-certificates/data-visualization-certificate/data-visualization-certificate.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34299 fix grammar/readability
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/comparison-with-the-less-than-or-equal-to-operator.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34194 Improved Russian translation.
  curriculum/challenges/russian/09-certificates/javascript-algorithms-and-data-structures-certificate/javascript-algorithms-and-data-structures-certificate.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#34311 [Rus] Improved the translation of Redux challenges
  curriculum/challenges/russian/03-front-end-libraries/redux/create-a-redux-store.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#35286 fix some sentences
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avoid-external-dependence-in-a-function.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#35128 Fix broken links in Russian challenges
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.russian.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.russian.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.russian.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.russian.md
  curriculum/challenges/russian/03-front-end-libraries/react/introducing-inline-styles.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#35127 Fix broken links in Portuguese challenges
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.portuguese.md
  curriculum/challenges/portuguese/03-front-end-libraries/react/introducing-inline-styles.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#36028 feat: add guide article for JavaScript padStart
  guide/english/javascript/standard-objects/string/string-prototype-padstart/index.md
Labels: language: English, scope: guide

#27233 Adding Async and Sync modes to fs Module
  guide/english/nodejs/file-system/index.md
Labels: language: English, scope: guide

#35998 fix(curriculum): Convert blockquote elements to triple backtick syntax for Coding Interview Prep
  curriculum/challenges/english/08-coding-interview-prep/data-structures/adjacency-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/adjacency-matrix.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-set-class.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-and-add-to-sets-in-es6.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/incidence-matrix.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-items-from-a-set-in-es6.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/typed-arrays.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-spread-and-notes-for-es5-set-integration.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#22424 Correct both Snape's quote and translation
  guide/portuguese/accessibility/accessibility-basics/index.md
Labels: language: Portuguese, scope: guide

#36121 fix(curriculum): added new test and corrected existing solution for Remove Elements from a Linked List challenge
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#28784 Detailed description for recursion in Fibonacci
  guide/english/computer-science/dynamic-programming/index.md
Labels: language: English, scope: guide, status: ready for QA

#36169 fix(curriculum) - Modified test text to use "should"
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36061 spelling and grammar fixes
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36069 fix(guide): Update Challenges Style Guide to recommend triple backticks instead of blockquote
  docs/style-guide-for-curriculum-challenges.md
Labels: scope: documentation

#36174 fix(docs): Added format rule regarding multiple notes for challenge files
  docs/style-guide-for-curriculum-challenges.md
Labels: language: English, scope: documentation

#36173 fix: update "Note" formatting in "Remove Elements from a Linked List" challenge
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list.english.md
Labels: language: English, scope: curriculum

#36170 fix : replace test cases' string to make more sense
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-non-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-numbers.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35540 Chore: Import search-assets repo and refactor
  lerna.json
  package.json
  sample.env
  search-indexing/algolia/index.js
  search-indexing/data-push/init/challenges.js
  search-indexing/data-push/init/guides.js
  search-indexing/data-push/init/index.js
  search-indexing/data-push/init/youtube.js
  search-indexing/data-push/update/guides.js
  search-indexing/data-sources/challenges/index.js
  search-indexing/data-sources/guides/index.js
  search-indexing/data-sources/youtube/index.js
  search-indexing/package-lock.json
  search-indexing/package.json
  search-indexing/utils/index.js
  search-indexing/utils/tests/utils.test.js
Labels: status: work in progress

#35735 Ensure that errors in testing are handled correctly
  curriculum/test/test-challenges.js
  tools/challenge-md-parser/index.js
Labels: scope: curriculum, status: need to test locally

#36164 Spelling/grammar fixes
  guide/english/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller/index.md
Labels: language: English, scope: guide

#35763 fix(challenges): Replace camper leaderboard project
  curriculum/challenges/_meta/take-home-projects/meta.json
  curriculum/challenges/english/08-coding-interview-prep/take-home-projects/build-a-camper-leaderboard.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30511 elaborated on ptr to structs and typedef usage
  guide/english/c/structures/index.md
Labels: language: English, scope: guide

#36110 fix(curriculum): Change wording to talk about inheritance not cascade
  curriculum/challenges/_meta/basic-css/meta.json
  curriculum/challenges/english/01-responsive-web-design/basic-css/inherit-css-variables.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36192 Consistency Update for label and input elements for last lessons
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-many-elements-within-a-single-div-element.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35647 Removed CRNA from Get Started list
  guide/english/react-native/index.md
Labels: language: English, scope: guide

#36262 chore(client): load bootstrap locally
  client/src/head/meta.js
  client/src/html.js
  client/static/css/bootstrap.min.css
  client/static/fonts/glyphicons-halflings-regular.eot
  client/static/fonts/glyphicons-halflings-regular.svg
  client/static/fonts/glyphicons-halflings-regular.ttf
  client/static/fonts/glyphicons-halflings-regular.woff
  client/static/fonts/glyphicons-halflings-regular.woff2
Labels: platform: client

#36132 fix the command python -m simpleHTTPServer
  guide/english/python/share-file-using-python-simple-http-server/index.md
Labels: language: English, scope: guide

#35825 Added solutions for 3 challenges in English / data-structures
  curriculum/challenges/english/08-coding-interview-prep/data-structures/add-elements-at-a-specific-index-in-a-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/check-if-an-element-is-present-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list-by-index.english.md
Labels: language: English, scope: curriculum, status: need to test locally, status: needs update

#30712 F strings objects example
  guide/english/python/python-f-strings/index.md
Labels: language: English, scope: guide

#35907 Added Binary Search Tree Challenge
  curriculum/challenges/_meta/data-structures/meta.json
  curriculum/challenges/english/08-coding-interview-prep/data-structures/check-if-binary-search-tree.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36078 Improve Regex
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36224 Updated jest in packages
  api-server/package-lock.json
  api-server/package.json
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
  search-indexing/package-lock.json
  search-indexing/package.json
  tools/challenge-md-parser/package-lock.json
  tools/challenge-md-parser/package.json
  tools/scripts/seed/package-lock.json
  tools/scripts/seed/package.json
Labels: platform: client, platform: server, scope: tests, scope: tools, status: need to test locally

#36008 fix(client): add tooltip for calendar-heatmap
  client/package-lock.json
  client/package.json
  client/src/components/profile/components/HeatMap.js
  client/src/components/profile/components/heatmap.css
Labels: status: merge conflict

#36145 Create README.korean.md
  README.korean.md
  docs/korean/CONTRIBUTING.md
  docs/korean/README.md
Labels: scope: documentation, status: ready for QA

#31840 Update of index.md with missing option
  guide/english/bash/bash-shutdown/index.md
Labels: language: English, scope: guide, status: merge conflict

#35673 feat(client): show and execute backend project tests
  client/src/templates/Challenges/backend/Show.js
  client/src/templates/Challenges/project/ProjectForm.js
  client/src/templates/Challenges/project/Show.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/utils/challengeTypes.js
Labels: platform: client, scope: curriculum, status: QA accepted, status: needs update

#29527 Hints+Solution - 'Create a Bar for Each Data Point in the Set'
  guide/english/certifications/data-visualization/data-visualization-with-d3/create-a-bar-for-each-data-point-in-the-set/index.md
Labels: language: English, scope: guide

#29509 provide hints+solution to SVG/D3 Challenge
  guide/english/certifications/data-visualization/data-visualization-with-d3/learn-about-svg-in-d3/index.md
Labels: language: English, scope: guide

#29513 Hints+Solution for D3 Display Shapes Challenge
  guide/english/certifications/data-visualization/data-visualization-with-d3/display-shapes-with-svg/index.md
Labels: language: English, scope: guide

#35759 Typo Fix in guide/english/computer-hardware/ram/index.md
  guide/english/computer-hardware/ram/index.md
Labels: language: English, scope: guide

#36167 fix(client): Remove horizontal scrollbar from donation page
  client/src/components/Donation/components/DonateOther.js
  client/src/pages/donate.js
Labels: status: merge conflict

#32376 Added the limitations of return type function
  guide/english/c/functions/index.md
Labels: language: English, scope: guide

#36249 [Order] [Arabic] Fixing chaotic order of table of languages
  docs/arabic/CONTRIBUTING.md
Labels: language: Arabic, scope: documentation

#36255 [Order] [Greek] Fixing chaotic order of table of languages
  docs/greek/CONTRIBUTING.md
Labels: scope: documentation

#36246 [Spanish] Fix broken anchor links to all headings
  docs/spanish/CONTRIBUTING.md
Labels: language: Spanish, scope: documentation

#26551 Added links to list of languages available for translation in CONTRIBUTING.md
  docs/portuguese/CONTRIBUTING.md
Labels: language: Portuguese, scope: documentation

#36250 [Order] [Spanish] Fixing chaotic order of table of languages
  docs/spanish/CONTRIBUTING.md
Labels: language: Spanish, scope: documentation

#28814 Added example for stack using C++ STL in "Stacks"
  guide/english/computer-science/data-structures/stacks/index.md
Labels: language: English, scope: guide

#30618 Explained top() and dynamic data structures
  guide/english/computer-science/data-structures/stacks/index.md
Labels: language: English, scope: guide

#36049 fix: replace imgur URLs with s3 URLs for files with potential conflict
  curriculum/challenges/russian/01-responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image.russian.md
  curriculum/challenges/russian/08-coding-interview-prep/project-euler/problem-15-lattice-paths.russian.md
  guide/arabic/html/layouts/index.md
  guide/chinese/algorithms/search-algorithms/binary-search/index.md
  guide/chinese/algorithms/search-algorithms/linear-search/index.md
  guide/english/algorithms/search-algorithms/binary-search/index.md
  guide/english/algorithms/search-algorithms/linear-search/index.md
  guide/english/cplusplus/compilers/index.md
  guide/english/cplusplus/lists/index.md
  guide/english/cplusplus/stl-algorithms/index.md
  guide/english/developer-tools/source-code-editors/index.md
  guide/english/java/javafx/index.md
  guide/english/machine-learning/support-vector-machine/index.md
  guide/english/tools/source-code-editors/index.md
  guide/portuguese/algorithms/greedy-algorithms/index.md
  guide/portuguese/algorithms/search-algorithms/binary-search/index.md
  guide/portuguese/algorithms/search-algorithms/linear-search/index.md
  guide/russian/algorithms/search-algorithms/binary-search/index.md
  guide/russian/algorithms/search-algorithms/linear-search/index.md
  guide/russian/cplusplus/index.md
  guide/russian/mathematics/2-by-2-determinants/index.md
  guide/russian/virtualbox/install-virtualbox-on-macos/index.md
  guide/spanish/algorithms/search-algorithms/binary-search/index.md
  guide/spanish/algorithms/search-algorithms/linear-search/index.md
  guide/spanish/cplusplus/lists/index.md
  guide/spanish/java/access-modifiers/index.md
  guide/spanish/java/javafx/index.md
  guide/spanish/typescript/index.md
  guide/spanish/virtualbox/install-virtualbox-on-macos/index.md
Labels: language: Arabic, language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, scope: guide, status: need to test locally

#35322 Update index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/use-body-parser-to-parse-post-requests/index.md
Labels: language: English, scope: guide

#36257 fix(guide): remove obsolete CRNA information
  guide/english/react-native/index.md
Labels: language: English, scope: guide

#30455 update file with more readable explanation
  docs/russian/CONTRIBUTING.md
Labels: language: Russian, scope: documentation

#30423 Fixed buggy translation
  guide/russian/angular/index.md
Labels: language: Russian, scope: guide

#28074 Added Red-Black tree insertion section
  guide/english/algorithms/red-black-trees/index.md
Labels: language: English, scope: guide

#36227 Fixed typo addressed in #36225
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36269 multiple ternary operator challenge - add note about code readability
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-multiple-conditional-ternary-operators.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#29211 Add navigation technique
  guide/english/vim/useful-commands/index.md
Labels: language: English, scope: guide

#31472 Copy edited article for index.md
  guide/english/user-experience-design/content-audits/index.md
Labels: language: English, scope: guide

#30852 Added topcoder tutorial links
  guide/english/cplusplus/stl-algorithms/index.md
Labels: language: English, scope: guide

#33979 Refer to constructor from current class
  guide/english/java/constructors/index.md
Labels: language: English, scope: guide

#36033 feat(curriculum): Add fetch challenge to the current curriculum.
  curriculum/challenges/_meta/json-apis-and-ajax/meta.json
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method.md
Labels: language: English, scope: curriculum, status: discussing, status: need to test locally

#32620 annotation "@Override" added to sample code
  guide/english/android-development/core-components/index.md
Labels: language: English, scope: guide, status: merge conflict

#36047 fix(client): Vague Error messages
  api-server/common/models/User-Identity.js
  api-server/server/boot/authentication.js
  api-server/server/boot/user.js
  api-server/server/middlewares/error-handlers.js
Labels: platform: server, ux: user interface

#36200 feat(curriculum): Add basic recursion lesson
  curriculum/challenges/_meta/basic-javascript/meta.json
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36251 [Order] [Chinese] Fixing chaotic order of table of languages
  docs/chinese/CONTRIBUTING.md
Labels: language: Chinese, scope: documentation

#36247 [Chinese] Fix broken anchor links to all headings
  docs/chinese/CONTRIBUTING.md
Labels: language: Chinese, scope: documentation

#35905 Solutions for sorting algorithm challenges in Coding Interview Prep/Algorithms
  curriculum/challenges/english/08-coding-interview-prep/algorithms/implement-bubble-sort.english.md
  curriculum/challenges/english/08-coding-interview-prep/algorithms/implement-insertion-sort.english.md
  curriculum/challenges/english/08-coding-interview-prep/algorithms/implement-merge-sort.english.md
  curriculum/challenges/english/08-coding-interview-prep/algorithms/implement-selection-sort.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35819 fix: Add Solution in Curriculum/Challenges/English/08/CodingInterviewProblems/DataStructures/CREATE_LINKED_LIST_CLASS.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-linked-list-class.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36220 Added solution for English/Data-Visualization/Hover-tod3-element
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-a-hover-effect-to-a-d3-element.english.md
Labels: language: English, scope: curriculum, status: need to test locally, status: needs update

#35912 Reorganized instruction text on multiple challenges
  curriculum/challenges/english/08-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/add-elements-at-a-specific-index-in-a-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/adjacency-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/adjacency-matrix.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/check-if-an-element-is-present-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-circular-queue.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-doubly-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-hash-table.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-map-data-structure.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-priority-queue-class.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-queue-class.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-set-class.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-stack-class.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-trie-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-an-es6-javascript-map.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-and-add-to-sets-in-es6.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/delete-a-leaf-node-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/delete-a-node-with-one-child-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/delete-a-node-with-two-children-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/find-the-minimum-and-maximum-height-of-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/find-the-minimum-and-maximum-value-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/incidence-matrix.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/invert-a-binary-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/learn-how-a-stack-works.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/perform-a-difference-on-two-sets-of-data.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/perform-a-subset-check-on-two-sets-of-data.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/perform-a-union-on-two-sets.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/perform-an-intersection-on-two-sets-of-data.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list-by-index.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-items-from-a-set-in-es6.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/search-within-a-linked-list.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/typed-arrays.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-.has-and-.size-on-an-es6-set.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-breadth-first-search-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-depth-first-search-in-a-binary-search-tree.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-spread-and-notes-for-es5-set-integration.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/work-with-nodes-in-a-linked-list.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35922 fix(learn): Added solution for invert binary tree data structures challenge
  curriculum/challenges/english/08-coding-interview-prep/data-structures/invert-a-binary-tree.english.md
  guide/english/certifications/coding-interview-prep/data-structures/invert-a-binary-tree/index.md
Labels: language: English, scope: curriculum, scope: guide, status: need to test locally

#36168 fix(curriculum) - added new tests to prevent invalid solutions in the Remove Elements from a Linked List by Index challenge
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list-by-index.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36242 Convert single backtick code sections to triple backtick code sections for Arabic Guide articles (15 of 15)
  guide/arabic/swift/constants/index.md
  guide/arabic/swift/index.md
  guide/arabic/typescript/array-type/index.md
  guide/arabic/typescript/boolean-type/index.md
  guide/arabic/typescript/enums/index.md
  guide/arabic/typescript/for-of-loop/index.md
  guide/arabic/typescript/generics/index.md
  guide/arabic/typescript/installation/index.md
  guide/arabic/typescript/linter/index.md
  guide/arabic/typescript/never-type/index.md
  guide/arabic/typescript/null-type/index.md
  guide/arabic/typescript/number-type/index.md
  guide/arabic/typescript/string-type/index.md
  guide/arabic/typescript/tuple-type/index.md
  guide/arabic/typescript/undefined-type/index.md
  guide/arabic/typescript/void-type/index.md
  guide/arabic/typography/font-weight-and-style/index.md
  guide/arabic/typography/point-size/index.md
  guide/arabic/typography/where-to-get-fonts/index.md
  guide/arabic/vim/macros/index.md
  guide/arabic/vim/navigation/index.md
  guide/arabic/vim/pathogen/index.md
  guide/arabic/voice/index.md
  guide/arabic/xml/index.md
Labels: language: Arabic, scope: guide

#36193 fix(curriculum): improved tests to allow more valid solutions for Reuse Patterns Using Capture Groups
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/reuse-patterns-using-capture-groups.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#28195 Added More Functions(Appending, Removing, Renaming and Moving a file)
  guide/english/nodejs/file-system/index.md
Labels: language: English, scope: guide

#36210 fix(curriculum): changed tests to allow other valid solutions for Add Items to an Array with push and unshift challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-to-an-array-with-push-and-unshift.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36124 fix: renamed folder without starting dash for Iterate Through the Keys of an Object with a for...in Statement challenge
  curriculum/challenges/arabic/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.arabic.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.chinese.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.english.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.portuguese.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.russian.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.spanish.md
  guide/arabic/certifications/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement/index.md
  guide/chinese/certifications/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement/index.md
  guide/english/certifications/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement/index.md
  guide/portuguese/certifications/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement/index.md
  guide/russian/certifications/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement/index.md
  guide/spanish/certifications/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement/index.md
Labels: language: Arabic, language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, scope: guide, status: need to test locally

#31250 Update for consistancy and clarity
  guide/english/html/elements/index.md
Labels: language: English, scope: guide

#29356 z-index
  guide/portuguese/css/z-index/index.md
Labels: language: Portuguese, scope: guide

#35238 Fixed spelling and punctuation errors in Binary Search Trees Guide Article index.md
  guide/english/algorithms/binary-search-trees/index.md
Labels: language: English, scope: guide, status: merge conflict

#33059 Add New Style
  guide/english/bootstrap/modals/index.md
Labels: language: English, scope: guide

#30965 Updated debugger section
  guide/english/cplusplus/terms-to-know-for-beginners/index.md
Labels: language: English, scope: guide, status: merge conflict

#30838 add member function "at"
  guide/english/cplusplus/vector/index.md
Labels: language: English, scope: guide, status: merge conflict

#28103 added more info to distinguish bokeh
  guide/english/data-science-tools/visualization-bokeh/index.md
Labels: language: English, scope: guide

#35937 Typo Fix in guide/english/game-development/unity/index.md
  guide/english/game-development/unity/index.md
Labels: language: English, scope: guide

#30380 Add bokeh installation
  guide/english/data-science-tools/visualization-bokeh/index.md
Labels: language: English, scope: guide

#34719 Added Awk Guide
  guide/english/awk/index.md
Labels: language: English, scope: guide

#29102 Fix English method examples for Ruby's guide
  guide/english/ruby/ruby-arrays/index.md
Labels: language: English, scope: guide

#30892 Update index.md
  guide/english/algorithms/graph-algorithms/breadth-first-search/index.md
Labels: language: English, scope: guide

#31393 Add text about man command.
  guide/english/linux/basic-linux-commands/index.md
Labels: language: English, scope: guide, status: merge conflict

#26935 ngUpgrade guide for Angular Guide folder
  guide/english/angular/ngupgrade/index.md
Labels: language: English, scope: guide

#30544 angular routing benefits
  guide/english/angular/routing/index.md
Labels: language: English, scope: guide

#30742 Clean up canvas particle sim guide code examples
  guide/english/canvas/particle-sim/index.md
Labels: language: English, scope: guide

#36084 added-device-independent-pixels-article
  guide/english/css/css-cursors/index.md
  guide/english/css/device-independent-pixel/index.md
Labels: language: English, scope: guide

#31797 Updated Index
  guide/english/working-in-tech/remote-versus-onsite/index.md
Labels: language: English, scope: guide

#33345 Update index.md
  guide/english/swift/view-controller/index.md
Labels: language: English, scope: guide

#32394 Added information about arrays
  guide/english/swift/arrays/index.md
Labels: language: English, scope: guide

#30395 added basic info about Swift Sets
  guide/english/swift/sets/index.md
Labels: language: English, scope: guide

#30010 Add navbar-brand utility information
  guide/english/bootstrap/navigation-bar/index.md
Labels: language: English, scope: guide, status: merge conflict

#32512 added info about swift dictionaries
  guide/english/swift/dictionaries/index.md
Labels: language: English, scope: guide

#33715 feat: add article for react portals
  guide/english/react/portals/index.md
Labels: language: English, scope: guide

#27860 added basic info about type safety and optionals
  guide/english/swift/type-inference/index.md
  guide/english/swift/type-safety-inference-and-optionals/index.md
Labels: language: English, scope: guide

#26978 Added two more types of waits
  guide/english/python/sleep-how-can-i-make-a-time-delay-in-python/index.md
Labels: language: English, scope: guide

#27093 Update index.md
  guide/english/cplusplus/input-and-output/index.md
Labels: language: English, scope: guide

#27107 Create article for autoencoder networks
  guide/english/machine-learning/autoencoders/index.md
Labels: language: English, scope: guide

#26915 update index.md with article
  guide/english/mathematics/dependent-and-independent-variables/index.md
Labels: language: English, scope: guide

#27332 Added "Note" and "Usage with common data types"
  guide/english/python/difference-between-is-and-equal-equal-operators/index.md
Labels: language: English, scope: guide

#27069 Add Section and Information on Packet Sniffing.
  guide/english/security/packet-sniffing/index.md
Labels: language: English, scope: guide

#27771 Added AngularJS Expressions
  guide/english/angularjs/angularjs-expression/index.md
Labels: language: English, scope: guide

#27786 Added AngularJS Controller
  guide/english/angularjs/angularjs-controller/index.md
Labels: language: English, scope: guide

#27791 Create AngularJS ng-model Directive
  guide/english/angularjs/angularjs-ng-model/index.md
Labels: language: English, scope: guide

#27836 Probability index.md file updated
  guide/english/mathematics/probability/index.md
Labels: language: English, scope: guide

#27542 Changed the file to reflect standards
  guide/english/cplusplus/goto/index.md
Labels: language: English, scope: guide

#27552 add Elixir syntax and return explanations to functions
  guide/english/elixir/functions/index.md
Labels: language: English, scope: guide

#28173 Created powershell directory and first document
  guide/english/powershell/powershell-profile/index.md
Labels: language: English, scope: guide

#25547 Completed c++ implemetation
  guide/english/algorithms/sorting-algorithms/merge-sort/index.md
Labels: language: English, scope: guide

#27052 Updated Properties of Merge Sort
  guide/english/algorithms/sorting-algorithms/merge-sort/index.md
Labels: language: English, scope: guide

#27783 Added merge-sort in MATLAB
  guide/english/algorithms/sorting-algorithms/merge-sort/index.md
Labels: language: English, scope: guide

#27227 Added Developed By and the programming language used in development
  guide/english/bsd-os/index.md
Labels: language: English, scope: guide

#22857 add extra material
  guide/chinese/bsd-os/index.md
Labels: language: Chinese, scope: guide

#22861 add extra materials
  guide/chinese/devops/ansible/index.md
Labels: language: Chinese, scope: guide

#22853 add extra material
  guide/chinese/android-development/index.md
Labels: language: Chinese, scope: guide
