Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-10, with the labels that each got.

#36784 feat: accessible search bar
  client/src/components/layouts/global.css
  client/src/components/search/WithInstantSearch.js
  client/src/components/search/searchBar/SearchBar.js
  client/src/components/search/searchBar/SearchHits.js
  client/src/components/search/searchBar/SearchSuggestion.js
  client/src/components/search/searchBar/searchbar-base.css
  client/src/components/search/searchBar/searchbar.css
Labels: platform: client, release: next/beta, status: ready for QA

#36927 Fix images link in portuguese translation
  docs/i18n-languages/portuguese/how-to-catch-outgoing-emails-locally.md
Labels: language: Portuguese, scope: docs

#36954 Fix images link in chinese translation
  docs/i18n-languages/chinese/how-to-catch-outgoing-emails-locally.md
Labels: language: Chinese, scope: docs

#36952 Fix images link in spanish translation
  docs/i18n-languages/spanish/how-to-catch-outgoing-emails-locally.md
Labels: language: Spanish, scope: docs

#36968 Added solution to "01-Responsive Web design" challenge
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-padding-of-an-element.portuguese.md
Labels: language: Portuguese, scope: curriculum

#36971 Added solution to "01-Responsive Web design" challenge
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-abbreviated-hex-code.portuguese.md
Labels: language: Portuguese, scope: curriculum

#36970 Added solution to "Responsive Web design" challenge
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-css-selectors-to-style-elements.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#36972 Added solution to "01-Responsive Web design" challenge
  curriculum/challenges/portuguese/01-responsive-web-design/basic-css/use-an-id-attribute-to-style-an-element.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#36956 feat: add toggle nav
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/MenuButton.js
  client/src/components/Header/components/NavLinks.js
  client/src/components/Header/components/UniversalNav.js
  client/src/components/Header/components/universalNav.css
  client/src/components/Header/index.js
  client/src/components/search/searchBar/searchbar.css
Labels: platform: client, scope: user interface, status: ready for QA

#36826 feat: improve landing page
  client/package-lock.json
  client/package.json
  client/src/__mocks__/challenge-nodes.js
  client/src/assets/images/AmazonLogo.js
  client/src/assets/images/AppleLogo.js
  client/src/assets/images/GoogleLogo.js
  client/src/assets/images/MicrosoftLogo.js
  client/src/assets/images/SpotifyLogo.js
  client/src/components/Map/Map.test.js
  client/src/components/Map/__snapshots__/Map.test.js.snap
  client/src/components/Map/components/Block.js
  client/src/components/Map/components/SuperBlock.js
  client/src/components/Map/components/__snapshots__/Block.test.js.snap
  client/src/components/Map/components/__snapshots__/SuperBlock.test.js.snap
  client/src/components/Map/index.js
  client/src/components/landing/Landing.test.js
  client/src/components/landing/index.js
  client/src/components/landing/landing.css
  client/src/components/welcome/Welcome.test.js
  client/src/pages/index.js
  client/src/pages/learn.js
Labels: platform: client, release: next/beta, scope: user interface, status: ready for QA

#36843 chore: update to beta of react-instantsearch-dom
  client/package-lock.json
  client/package.json
  client/src/components/search/WithInstantSearch.js
  config/env.js
  sample.env
Labels: dependencies, platform: client

#37007 Add 'vous permet d'étudier' on line 12
  docs/i18n-languages/french/README.md
Labels: scope: docs

#36926 fix: add report user button back to profile pages
  client/src/client-only-routes/ShowUser.js
  client/src/components/profile/Profile.js
  client/src/components/profile/Profile.test.js
  client/src/components/profile/__snapshots__/Profile.test.js.snap
  client/src/redux/report-user-saga.js
Labels: platform: client, release: next/beta

#37029 fix: improve challenge layout on mobile
  client/src/templates/Challenges/classic/MobileLayout.js
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/components/tool-panel.css
Labels: platform: client

#36929 fix: Can't read buttons on dev 404 page + nightmode
  client/src/components/layouts/global.css
Labels: platform: client

#37100 fix: default to light mode
  client/src/components/layouts/Default.js
  client/src/templates/Challenges/classic/Editor.js
  package-lock.json
Labels: platform: client, release: next/beta, type: critical path

#37088 fix: handle invalid Algolia keys gracefully in dev
  client/gatsby-node.js
  client/src/components/search/WithInstantSearch.js
  config/env.js
  sample.env
Labels: platform: client

#37046 docs: update faqs on contributing guide
  CONTRIBUTING.md
Labels: language: English, scope: docs

#36804 update test wording for undefined fn returns
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-undefined-value-returned-from-a-function.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37114 fix(auth): redirect to learn after sign in
  api-server/server/boot/authentication.js
  api-server/server/component-passport.js
  api-server/server/passport-providers.js
Labels: platform: client, release: next/beta

#36930 docs: update grammar in local setup guide
  docs/how-to-setup-freecodecamp-locally.md
Labels: language: English, scope: docs

#37148 fix: make redirect timer count down to zero
  client/src/client-only-routes/ShowUser.js
Labels: platform: client

#37073 russian translation fix on curriculum challenge: description and tests
  curriculum/challenges/russian/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#36791 test rendered output instead of state in react write a simple counter…
  curriculum/challenges/english/03-front-end-libraries/react/write-a-simple-counter.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37120 Fixed error in translation of "Node"
  curriculum/challenges/spanish/05-apis-and-microservices/basic-node-and-express/meet-the-node-console.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37121 Grammar improvements for German Contributing.md
  docs/i18n-languages/german/CONTRIBUTING.md
Labels: scope: docs

#37162 fix: code block color to improve contrast
  client/src/components/layouts/global.css
  client/src/components/layouts/prism.css
Labels: platform: client, release: next/beta, scope: user interface

#36801 fix(challenges): Update stock price checker sample project URL and add proxy info
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker.chinese.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker.english.md
  curriculum/challenges/portuguese/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker.portuguese.md
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker.russian.md
  curriculum/challenges/spanish/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker.spanish.md
Labels: language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, status: need to test locally

#37122 fix: Update example metric imperial converter project URLs
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter.chinese.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter.english.md
  curriculum/challenges/portuguese/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter.portuguese.md
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter.russian.md
  curriculum/challenges/spanish/06-information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter.spanish.md
Labels: language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, status: need to test locally

#37188 [docs] Updated How to Work on Challenge Files to explain how to test individual challenges
  docs/how-to-work-on-coding-challenges.md
Labels: language: English, scope: docs

#37262 fix(learn): Add tab text hover color on mobile
  client/src/templates/Challenges/classic/classic.css
Labels: platform: client, scope: user interface

#37298 fix: enable search in dev mode
  sample.env
Labels: platform: client

#37126 docs: create how-to-catch-outgoing-emails-locally.md in german
  docs/i18n-languages/german/how-to-catch-outgoing-emails-locally.md
Labels: scope: docs

#37130 docs: create how-to-open-a-pull-request.md in german
  docs/i18n-languages/german/how-to-open-a-pull-request.md
Labels: scope: docs

#37287 docs: add docker commands to local setup
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#37267 Update README to clarify guide status
  README.md
Labels: language: English, scope: docs

#37202 feat: focus on editor with hotkey 'e'
  client/src/templates/Challenges/classic/Editor.js
  client/src/templates/Challenges/classic/Show.js
  client/src/templates/Challenges/components/Hotkeys.js
Labels: platform: client, scope: curriculum, scope: user interface

#37338 fix: remove rollbar from loading in client
  client/gatsby-ssr.js
  client/src/head/scripts.js
Labels: platform: client

#37265 Update how-to-catch-outgoing-emails-locally.md
  docs/how-to-catch-outgoing-emails-locally.md
Labels: language: English, scope: docs

#37313 Fix broken links on CONTRIBUTING.md (Portuguese)
  docs/i18n-languages/portuguese/CONTRIBUTING.md
Labels: language: Portuguese, scope: docs

#37280 fix: make info tab default on mobile challenges
  client/src/templates/Challenges/classic/MobileLayout.js
Labels: platform: client, release: next/beta, scope: curriculum, scope: user interface

#37339 fix: add nav items
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/NavLinks.js
  client/src/components/Header/components/universalNav.css
  client/src/components/search/searchBar/searchbar.css
Labels: platform: client

#37297 change "therefor" to "therefore" to be grammatically correct
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/authentication-with-socket.io.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37189 fix: text overflow & portfolio hr
  client/src/client-only-routes/ShowSettings.js
  client/src/components/Donation/Donation.css
  client/src/components/Flash/flash.css
  client/src/components/layouts/global.css
  client/src/components/profile/Profile.js
  client/src/components/profile/components/camper.css
  client/src/components/profile/components/portfolio.css
Labels: platform: client, scope: user interface

#37354 fix: add spacing between profile picture and social icons
  client/src/components/profile/components/social-icons.css
Labels: platform: client

#37336 fix(client): setting input boxes border color
  client/src/components/layouts/global.css
Labels: platform: client

#37349 feat: preload common fonts
  client/src/components/layouts/Default.js
Labels: platform: client, type: feature request

#37365 fix: load stripe conditionally
  client/gatsby-ssr.js
  client/package.json
  client/src/components/Donation/components/DonateModal.js
  client/src/pages/donate.js
  client/src/utils/scriptLoaders.js
  package.json
Labels: platform: client

#37363 fix: replace navigate with hardgoto in showUser
  client/src/client-only-routes/ShowSettings.js
  client/src/client-only-routes/ShowUser.js
  client/src/components/Header/components/Login.js
  client/src/pages/donate.js
  client/src/pages/portfolio.js
Labels: platform: client

#37385 Fix: Reduce the number of db calls for getSessionUser
  api-server/common/models/user.js
  api-server/server/boot_tests/challenge.test.js
  api-server/server/utils/user-stats.js
  api-server/server/utils/user-stats.test.js
Labels: platform: server

#37382 fix: update timeline without reload
  client/src/redux/index.js
Labels: platform: client, release: next/beta

#37388 feat: SSR MathJax and Stripe on routes using them
  client/gatsby-ssr.js
  client/src/head/index.js
  client/src/head/mathjax.js
  client/src/head/scripts.js
Labels: platform: client

#37237 docs: update grammar in readme
  CONTRIBUTING.md
  README.md
Labels: language: English, scope: docs

#37393 fix(api): revert regex based email query
  api-server/common/models/User-Identity.js
Labels: platform: server

#37394 fix(donate): other ways to donate btn styled as link
  client/src/components/layouts/global.css
Labels: platform: client

#37246 Make corrections in the Tests section, fix inconsistent spelling
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37389 fix(client): Email and internet presence client validation
  client/src/components/settings/Email.js
  client/src/components/settings/Internet.js
Labels: platform: client

#37374 fix: update user state from server
  api-server/server/boot/settings.js
  client/src/components/settings/Internet.js
Labels: platform: client, platform: server, status: ready for QA

#37433 feat(api): add custom redirect back
  api-server/server/boot/authentication.js
  api-server/server/component-passport.js
  api-server/server/passport-providers.js
  api-server/server/utils/middleware.js
  client/src/client-only-routes/ShowSettings.js
  client/src/client-only-routes/ShowSettings.test.js
  client/src/pages/donate.js
  client/src/pages/donate.test.js
  client/src/pages/portfolio.js
Labels: platform: client, platform: server, type: critical path

#37436 chore(api): update local pm2 to in memory
  api-server/package-lock.json
  api-server/package.json
Labels: platform: server, scope: tools/scripts

#37418 fix: display current progress in single line
  client/src/components/Map/map.css
Labels: platform: client, scope: user interface

#37445 chore: update monaco-editor, react-monaco-editor
  client/package-lock.json
  client/package.json
Labels: platform: client

#37390 Add question marks
  docs/i18n-languages/spanish/README.md
Labels: status: needs update

#37432 fix: return the loader after redirect
  client/src/client-only-routes/ShowSettings.js
  client/src/client-only-routes/ShowSettings.test.js
  client/src/pages/donate.js
  client/src/pages/donate.test.js
  client/src/pages/portfolio.js
Labels: platform: client, status: ready for QA

#37012 chore(client): add tests for search bar
  client/src/components/search/searchBar/SearchBar.js
  client/src/components/search/searchBar/SearchBar.test.js
Labels: platform: client, status: ready for QA

#37453 fix(client): make academy honesty button disabled
  client/src/components/settings/Honesty.js
  client/src/components/settings/Honesty.test.js
  client/src/components/settings/__snapshots__/Honesty.test.js.snap
  client/src/components/settings/honesty.css
Labels: platform: client

#37427 fix: center certificates vertically when viewed on large screens
  client/src/client-only-routes/ShowCertification.js
  client/src/pages/certification.css
Labels: platform: client, scope: user interface

#37419 Fix: recursion test
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.english.md
Labels: scope: curriculum

#37460 fix: update caching on resources
  client/static/_headers
Labels: platform: client

#37462 fix: separate certs from interview prep on landing page
  client/src/components/landing/index.js
Labels: platform: client

#37428 fix: remove unnecessary stripe iframes
  client/src/components/Header/index.js
  client/src/components/Header/stripeIframesFix.js
  client/src/pages/donate.js
Labels: platform: client, status: ready for QA

#37470 fix(client): border visibility for form control in nightmode
  client/src/components/layouts/global.css
Labels: platform: client

#37475 fix: a11y on primary logo
  client/src/components/Header/components/UniversalNav.js
Labels: platform: client

#37479 fix: added forumTopicId to recently added Rosetta Code challenges
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-0-1.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-bounded.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-continuous.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-unbounded.md
Labels: language: English, scope: curriculum, status: need to test locally

#37469 fix: HSTS test in Infosec curriculum
  curriculum/challenges/arabic/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.arabic.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.chinese.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.english.md
  curriculum/challenges/portuguese/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.portuguese.md
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.russian.md
  curriculum/challenges/spanish/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.spanish.md
Labels: language: Arabic, language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, status: need to test locally

#37476 feat: update footer
  client/src/components/Footer/FooterCol.js
  client/src/components/Footer/__snapshots__/Footer.test.js.snap
  client/src/components/Footer/footer.css
  client/src/components/Footer/footerLinks.json
  client/src/components/Footer/index.js
Labels: platform: client, status: work in progress

#37161 feat: Add solution to Portuguese challenges
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/functional-programming/add-elements-to-the-end-of-an-array-using-concat-instead-of-push.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/functional-programming/combine-an-array-into-a-string-using-the-join-method.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-every-method-to-check-that-every-element-in-an-array-meets-a-criteria.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-some-method-to-check-that-any-elements-in-an-array-meet-a-criteria.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#37111 add comment explaining back-end challenges don't need a solution
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.english.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.english.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice.english.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.english.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/chain-middleware-to-create-a-time-server.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/get-data-from-post-requests.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/get-query-parameter-input-from-the-client.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/get-route-parameter-input-from-the-client.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/implement-a-root-level-request-logger-middleware.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/meet-the-node-console.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/serve-an-html-file.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/serve-json-on-a-specific-route.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/serve-static-assets.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/start-a-working-express-server.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/use-body-parser-to-parse-post-requests.english.md
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/add-a-description-to-your-package.json.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/add-a-license-to-your-package.json.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/add-a-version-to-your-package.json.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/add-keywords-to-your-package.json.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/remove-a-package-from-your-dependencies.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/use-the-caret-character-to-use-the-latest-minor-version-of-a-dependency.english.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/chain-search-query-helpers-to-narrow-search-results.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/create-a-model.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/create-and-save-a-record-of-a-model.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/create-many-records-with-model.create.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/delete-many-documents-with-model.remove.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/delete-one-document-using-model.findbyidandremove.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/perform-classic-updates-by-running-find-edit-then-save.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/perform-new-updates-on-a-document-using-model.findoneandupdate.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/use-model.find-to-search-your-database.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/use-model.findbyid-to-search-your-database-by-id.english.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/use-model.findone-to-return-a-single-matching-document-from-your-database.english.md
Labels: language: English, scope: curriculum, status: need to test locally, status: needs update, status: ready for QA

#37247 Fix incorrect spelling of BCrypt
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.chinese.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.english.md
  curriculum/challenges/portuguese/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.portuguese.md
  curriculum/challenges/spanish/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.spanish.md
Labels: language: English, scope: curriculum, status: need to test locally, status: needs update

#37494 fix(api): send json messages for challenge routes
  api-server/server/boot/challenge.js
  api-server/server/boot_tests/challenge.test.js
  api-server/server/middlewares/request-authorization.test.js
Labels: platform: server

#37503 docs: typo fix in devops guide
  docs/devops.md
Labels: status: needs update

#37518 Added escape characters to the javascript comment curriculum to make code display correctly
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37468 Added hyphen to "coopted" on Line 17
  curriculum/challenges/english/03-front-end-libraries/jquery/change-text-inside-an-element-using-jquery.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37557 Fix Typo
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do...while-loops.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37567 Fixed a typo in Specify How Fonts Degrade lesson.
  curriculum/challenges/english/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37559 Word change in responsive design principles English
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36863 Grammar check and fix of translation error
  curriculum/challenges/spanish/03-front-end-libraries/jquery/change-text-inside-an-element-using-jquery.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#36931 small grammatical correction
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/functional-programming/avoid-mutations-and-side-effects-using-functional-programming.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#36995 fix(challenge): use offsetHeight to get height value
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37504 feat: Make modal scrollable
  client/src/components/settings/certification.css
Labels: platform: client

#37360 fix: conditionally load MathJax
  client/gatsby-ssr.js
  client/src/components/layouts/Default.js
  client/src/templates/Challenges/components/Side-Panel.js
  client/src/utils/scriptLoaders.js
Labels: platform: client, status: ready for QA

#36951 Fix grammar and edit the DELETE Request's name
  curriculum/challenges/spanish/05-apis-and-microservices/basic-node-and-express/get-data-from-post-requests.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37573 docs: Removed how-to-work-on-guide-articles from 4 languages
  docs/i18n-languages/chinese/how-to-work-on-guide-articles.md
  docs/i18n-languages/portuguese/how-to-work-on-guide-articles.md
  docs/i18n-languages/russian/how-to-work-on-guide-articles.md
  docs/i18n-languages/spanish/how-to-work-on-guide-articles.md
Labels: scope: docs

#37414 fix(client): icon background not covering on hover.
  client/src/components/profile/components/social-icons.css
Labels: platform: client, scope: user interface

#37520 [ImgBot] Optimize images
  api-server/public/images/freeCodeCamp-puck.svg
  client/src/assets/images/freeCodeCamp-404.svg
  docs/images/devops/travis-build.png
Labels: scope: docs

#37601 fix: escape HTML entities in code editor log
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: platform: server, scope: curriculum

#37630 Add updated Scrimba link to Word Blank challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/word-blanks.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37635 fix: restrict markdown linting to curriculum files
  package.json
Labels: scope: tools/scripts

#37634 fix: set color based on theme
  client/src/components/Donation/components/DonateForm.js
  client/src/components/Donation/components/StripeCardForm.js
Labels: platform: client
