Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2019-07, with the labels that each got.

#27444 Added more basic commands
  guide/spanish/linux/basic-linux-commands/index.md
Labels: language: Spanish, scope: guide

#36293 fix: regex to match require statement without .js extension
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35080 Updated English guide articles for all QA and Testing with Chai challenges
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http-ii/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-string-contains-a-substring/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-falls-within-a-specific-range/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-a-string/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-an-array/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-variable-or-function-is-defined/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-array-contains-an-item/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-has-a-property/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-is-an-instance-of-a-constructor/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-one-value-is-below-or-at-least-as-large-as-another/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-regular-expressions-to-test-a-string/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-the-double-equals-to-assert-equality/index.md
  guide/english/certifications/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-the-triple-equals-to-assert-strict-equality/index.md
Labels: language: English, scope: guide

#32779 Added articles: Material Design and User interface design for the English and Spanish language
  guide/english/android-development/material-design/index.md
  guide/english/android-development/user-interface-design/index.md
  guide/spanish/android-development/material-design/index.md
  guide/spanish/android-development/user-interface-design/index.md
Labels: language: English, language: Spanish, scope: guide

#32872 Completing the translations
  guide/spanish/linux/basic-linux-commands/index.md
Labels: language: Spanish, scope: guide, status: merge conflict

#36131 Expanded guides for some APIs and Microservices challenges and fixed links to the source files
  guide/english/certifications/apis-and-microservices/basic-node-and-express/chain-middleware-to-create-a-time-server/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/get-query-parameter-input-from-the-client/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/get-route-parameter-input-from-the-client/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/implement-a-root-level-request-logger-middleware/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/serve-an-html-file/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/serve-json-on-a-specific-route/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/serve-static-assets/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/start-a-working-express-server/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/use-body-parser-to-parse-post-requests/index.md
  guide/english/certifications/apis-and-microservices/basic-node-and-express/use-the-.env-file/index.md
  guide/english/certifications/apis-and-microservices/managing-packages-with-npm/add-a-version-to-your-package.json/index.md
  guide/english/certifications/apis-and-microservices/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm/index.md
Labels: language: English, scope: guide

#33429 Created a section on using reflection with Java
  guide/english/java/reflection/index.md
Labels: language: English, scope: guide

#33956 Added Stack class
  guide/english/java/collections/index.md
Labels: language: English, scope: guide

#28892 Kotlin String Templates
  guide/english/kotlin/strings/index.md
Labels: language: English, scope: guide

#36319 Adding solution for queue class
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-queue-class.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#30938 Add Gatsby.js Plugin guide
  guide/english/gatsbyjs/gatsbyjs-plugins/index.md
Labels: language: English, scope: guide

#31539 Add Gatsby.js PWA guide
  guide/english/gatsbyjs/gatsbyjs-pwa/index.md
Labels: language: English, scope: guide

#30913 Add guide for Gatsby.js Starters
  guide/english/gatsbyjs/gatsbyjs-starters/index.md
Labels: language: English, scope: guide

#31537 Add guide for SEO with Gatsby.js
  guide/english/gatsbyjs/gatsbyjs-seo/index.md
Labels: language: English, scope: guide

#31520 Add guide for Gatsby.js styling
  guide/english/gatsbyjs/gatsbyjs-styling/index.md
Labels: language: English, scope: guide

#36186 Fix/add a stricter test for the Add Placeholder Text to a Text Field challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#22444 Add style and correct syntax
  guide/spanish/swift/functions/index.md
Labels: language: Spanish, scope: guide, scope: translation

#23854 Translated html comment
  guide/spanish/html/comments-in-html/index.md
Labels: language: Spanish, scope: guide

#23868 Translated html comment
  guide/spanish/html/comments-in-html/index.md
Labels: language: Spanish, scope: guide

#28599 created a new article
  guide/english/linux/how-to-install-application-using-dpkg-command-in-ubuntu-linux/index.md
Labels: language: English, scope: guide

#28840 Content update and format improvement
  guide/english/mathematics/adding-and-subtracting-time/index.md
Labels: language: English, scope: guide

#34125 Fixing indentation
  guide/arabic/c/arrays-and-strings/index.md
Labels: language: Arabic, scope: guide

#30249 nodejs page spanish translation amendment
  guide/spanish/nodejs/index.md
  guide/spanish/nodejs/streams/index.md
Labels: language: Spanish, scope: guide, scope: translation

#31366 Added a capital language to the heading in Russian
  docs/russian/CONTRIBUTING.md
Labels: language: Russian, scope: documentation

#33593 guide/russian/cpp/index.md translation improves
  guide/russian/cplusplus/index.md
Labels: language: Russian, scope: guide

#36081 Increase language clarity in challenge "Basic Javascript: Iterate Through an Array with a For Loop"
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-through-an-array-with-a-for-loop.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#35895 Removed deprecated lifecycle methods
  curriculum/challenges/english/03-front-end-libraries/react/use-the-lifecycle-method-componentwillmount.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#33505 Added info on vimrc on lines 122 and 123
  guide/english/vim/useful-commands/index.md
Labels: language: English, scope: guide

#27746 guide: add an article on vue-router
  guide/english/vue/router/index.md
Labels: language: English, scope: guide

#28081 Add TypeScript's modifiers guide.
  guide/english/typescript/modifiers/index.md
Labels: language: English, scope: guide

#32898 Added "Hybrid Cryptography" to article
  guide/english/security/cryptography/index.md
Labels: language: English, scope: guide

#29514 Add TypeScript 'abstract classes' guide.
  guide/english/typescript/abstract-classes/index.md
Labels: language: English, scope: guide

#34754 reqest to request
  guide/russian/go/a-simple-web-server-in-go/index.md
Labels: language: Russian, scope: guide

#25933 Change wrong spanish gender-related terms
  guide/spanish/working-in-tech/women-in-tech/index.md
Labels: language: Spanish, scope: guide, scope: translation

#22412 Translated the php code
  guide/spanish/php/hello-world/index.md
Labels: language: Spanish, scope: guide, scope: translation

#24266 Fix indentation of sample code in arrow fuctions article
  guide/portuguese/javascript/es6/arrow-functions/index.md
Labels: language: Portuguese, scope: guide

#24269 Fix indentation of sample code in spread operator article
  guide/portuguese/javascript/es6/spread-operator/index.md
Labels: language: Portuguese, scope: guide

#28739 Add Css Coding Dropdowns examples....
  guide/spanish/css/z-index/index.md
Labels: language: Spanish, scope: guide

#28845 Missing semicolon.
  guide/spanish/csharp/foreach/index.md
Labels: language: Spanish, scope: guide

#33740 Translated lines 15 -21
  guide/portuguese/cplusplus/if-else-statement/index.md
Labels: language: Portuguese, scope: guide

#22661 fix(guide): Improve spanish translations
  guide/spanish/react/index.md
Labels: language: Spanish, scope: guide, scope: translation

#30856 Added docker-image guide directory/documentation
  guide/english/docker/docker-image/index.md
Labels: language: English, scope: guide

#33682 Create an article of error handling with Go
  guide/english/go/go-errors/index.md
Labels: language: English, scope: guide

#30741 Added a well formatted page for list comprehensions in haskell
  guide/english/haskell/list-comprehension/index.md
Labels: language: English, scope: guide

#32722 Corrected Code on Counting how many fruits are red
  guide/english/csharp/linq/index.md
Labels: language: English, scope: guide

#33347 Update index.md
  guide/english/cplusplus/overloading/index.md
Labels: language: English, scope: guide

#35969 Static Site Generators
  guide/english/static-site-generators/gatsbyjs/index.md
  guide/english/static-site-generators/index.md
Labels: language: English, scope: guide

#34029 Add section: ASSIGNMENT Operators explained wit example
  guide/english/java/basic-operations/index.md
Labels: language: English, scope: guide

#22185 Added more info in some concepts
  guide/spanish/linux/common-terms-every-linux-user-should-know/index.md
Labels: language: Spanish, scope: guide

#36010 Add "sapply function" guide to R guides
  guide/english/r/functions/sapply-function/index.md
Labels: language: English, scope: guide, status: ready for QA

#36380 fix(guide): replace url with empty array in the Guide solutions for No Repeats Please challenge
  guide/english/certifications/coding-interview-prep/algorithms/no-repeats-please/index.md
Labels: language: English, scope: guide

#36012 fix: update article for JavaScript String.indexOf()
  guide/english/javascript/standard-objects/string/string-prototype-indexof/index.md
Labels: language: English, scope: guide

#36013 feat: add article for JavaScript String.lastIndexOf()
  guide/english/javascript/standard-objects/string/string-prototype-lastindexof/index.md
Labels: language: English, scope: guide

#27769 Updates comments and translations
  guide/spanish/java/strings/index.md
Labels: language: Spanish, scope: guide, status: merge conflict

#24924 Traducción de texto local "Smart Contract", añadir video informativo
  guide/spanish/blockchain/smart-contracts/index.md
Labels: language: Spanish, scope: guide, status: merge conflict

#34998 feat: Add article on Automated Accessibility Tools
  guide/english/accessibility/automated-testing/index.md
Labels: language: English, scope: guide

#31963 Add Class and Function Documentation tips
  guide/english/documentation/index.md
Labels: language: English, scope: guide

#32313 Add mini-batch gradient descent section
  guide/english/machine-learning/deep-learning/gradient-descent/index.md
Labels: language: English, scope: guide

#31902 Kotlin import statements
  guide/english/kotlin/imports/index.md
Labels: language: English, scope: guide

#31846 Kotlin type aliases
  guide/english/kotlin/type-aliases/index.md
Labels: language: English, scope: guide

#36296 Format the 'Accessibility Tools for Web Developers' guide article
  guide/english/accessibility/accessibility-tools-for-web-developers/index.md
Labels: language: English, scope: guide

#28989 Create index.md as initial introduction to ABAP language.
  guide/english/abap/index.md
Labels: language: English, scope: guide, status: needs update

#33069 Writing edits and added context
  guide/english/agile/scrummasters/index.md
Labels: language: English, scope: guide, status: merge conflict, status: needs update

#27486 Cambios en el titulo
  guide/spanish/react-native/index.md
Labels: language: Spanish, scope: guide

#28523 Fixing Spanish translation on index.md
  guide/spanish/react-native/index.md
Labels: language: Spanish, scope: guide, scope: translation

#28534 Update index.md
  guide/spanish/react-native/index.md
Labels: language: Spanish, scope: guide

#34322 ShellSort Added
  guide/english/algorithms/sorting-algorithms/shell-sort/index.md
Labels: language: English, scope: guide

#29208 Add more keys to vim navigation
  guide/english/vim/navigation/index.md
Labels: language: English, scope: guide

#34053 Add mobile context for fitt's law
  guide/english/user-experience-design/fitts-law/index.md
Labels: language: English, scope: guide, status: needs update

#32302 Add section on pooling
  guide/english/machine-learning/neural-networks/convolutional-neural-networks/index.md
Labels: language: English, scope: guide

#34098 Restore react as name and don't traduce it
  guide/spanish/react/state/index.md
Labels: language: Spanish, scope: guide

#34475 Fix broken image in overflow
  guide/english/css/overflow/index.md
Labels: language: English, scope: guide

#36413 fix : add URL to a missing link
  guide/english/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who/index.md
Labels: language: English, scope: guide

#36395 Fixed typos in description of challenge: "Use a Template Engine's Powers"
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#36392 fixed grammar: removed middlewares
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/serve-static-assets.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#23056 Full text editing
  guide/spanish/css/background-opacity/index.md
Labels: language: Spanish, scope: guide, status: merge conflict

#36338 fix(challenge): rename challenge, change fields to properties, fix test
  curriculum/challenges/_meta/es6/meta.json
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-concise-object-literal-declarations-using-object-property-shorthand.md
Labels: language: English, scope: curriculum, status: need to test locally

#28579 Adding Ignite CLI description on index.md
  guide/spanish/react-native/index.md
Labels: language: Spanish, scope: guide

#36213 guide-C#-Substring-changes
  guide/english/csharp/substring/index.md
Labels: language: English, scope: guide

#27580 add translation
  guide/spanish/algorithms/search-algorithms/binary-search/index.md
Labels: language: Spanish, scope: guide

#24620 Fix sentence which ended abruptly
  guide/portuguese/accessibility/accessibility-basics/index.md
Labels: language: Portuguese, scope: guide

#24548 fix: typos and added a missing section
  guide/portuguese/agile/index.md
Labels: language: Portuguese, scope: guide

#36424 fix(curriculum): Remove unnecessary assert message argument from English Data Visualization challenges
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-a-hover-effect-to-a-d3-element.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3-element.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-attributes-to-the-circle-elements.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-axes-to-a-visualization.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-classes-with-d3.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-document-elements-with-d3.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-inline-styling-to-elements.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-labels-to-d3-elements.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-labels-to-scatter-plot-circles.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-styles-based-on-data.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-color-of-an-svg-element.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-bar-for-each-data-point-in-the-set.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-linear-scale-with-d3.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-scatterplot-with-svg-circles.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/display-shapes-with-svg.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/dynamically-change-the-height-of-each-bar.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/dynamically-set-the-coordinates-for-each-bar.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/invert-svg-elements.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/learn-about-svg-in-d3.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/select-a-group-of-elements-with-d3.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/set-a-domain-and-a-range-on-a-scale.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/style-d3-labels.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/update-the-height-of-an-element-dynamically.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-a-pre-defined-scale-to-place-elements.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-dynamic-scales.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-the-d3.max-and-d3.min-functions-to-find-minimum-and-maximum-values-in-a-dataset.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/work-with-data-in-d3.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/work-with-dynamic-data-in-d3.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/change-text-with-click-events.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/convert-json-data-to-html.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-geolocation-data-to-find-a-users-gps-coordinates.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/handle-click-events-with-javascript-using-the-onclick-property.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/post-data-with-the-javascript-xmlhttprequest-method.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/pre-filter-json-to-get-the-data-you-need.english.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/render-images-from-data-sources.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#27891 Se agrega un punto a los Pros de python
  guide/spanish/python/index.md
Labels: language: Spanish, scope: guide

#35968 fix(curriculum): Added a Recursion challenge to the Basic JavaScript section
  curriculum/challenges/_meta/basic-javascript/meta.json
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#31305 Fix typos, consistent styling w/ English version
  guide/spanish/python/index.md
Labels: language: Spanish, scope: guide, status: merge conflict

#22064 Some translation corrections
  guide/spanish/bootstrap/index.md
Labels: language: Spanish, scope: guide, scope: translation

#22213 Fixed commands table
  guide/spanish/linux/the-command-prompt/index.md
Labels: language: Spanish, scope: guide

#26553 Some corrections, and translations
  guide/spanish/linux/the-command-prompt/index.md
Labels: language: Spanish, scope: guide

#21023 Azuzunaga patch 1
  guide/spanish/terminal-commandline/macos-terminal/index.md
Labels: language: Spanish, scope: guide

#24252 Added CSS logo
  guide/spanish/css/index.md
Labels: language: Spanish, scope: guide

#24758 Fix command line guides in spanish
  guide/spanish/terminal-commandline/windows-command-prompt/index.md
Labels: language: Spanish, scope: guide, status: needs update

#30962 Jump search Code in Java
  guide/english/algorithms/search-algorithms/jump-search/index.md
Labels: language: English, scope: guide

#34325 Added content to stub
  guide/english/mathematics/direct-comparison-test-series/index.md
Labels: language: English, scope: guide

#35027 BFS in Java
  guide/english/algorithms/graph-algorithms/breadth-first-search/index.md
Labels: language: English, scope: guide

#36329 Added info; Fixed formatting;
  guide/english/cplusplus/goto/index.md
Labels: language: English, scope: guide

#36428 add informations about queries in graphql
  guide/english/graphql/index.md
Labels: language: English, scope: guide

#36349 Provided more information about goto, removed vague descriptions
  guide/english/cplusplus/goto/index.md
Labels: language: English, scope: guide

#36458 [ English Curriculum - Rearrangement of the sentence] "stores all data associated within one record" to "stores all associated data within one record"
  client/src/pages/learn/apis-and-microservices/mongodb-and-mongoose/index.md
Labels: scope: curriculum

#36456 docs: replace Medium with fCC News
  README.korean.md
Labels: language: Korean, scope: documentation

#36455 docs: replace Medium with fCC News
  README.italian.md
Labels: language: Italian, scope: documentation

#36454 docs: replace Medium with fCC News
  README.french.md
Labels: language: French, scope: documentation

#36352 fix: Update docs, recommending install all packages
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: documentation

#35485 feat/add-prev-next-btns-to-lessons
  client/src/templates/Challenges/backend/Show.js
  client/src/templates/Challenges/classic/Show.js
  client/src/templates/Challenges/components/Challenge-Title.js
  client/src/templates/Challenges/components/ChallengeTitle.test.js
  client/src/templates/Challenges/components/Side-Panel.js
  client/src/templates/Challenges/components/__snapshots__/ChallengeTitle.test.js.snap
  client/src/templates/Challenges/components/challenge-title.css
  client/src/templates/Challenges/project/Show.js
  client/src/templates/Challenges/project/Side-Panel.js
  client/src/templates/Challenges/redux/index.js
  client/utils/gatsby/challengePageCreator.js
Labels: platform: client, status: ready for QA, type: feature request, ux: user interface

#25841 Minor edits for clarity.
  guide/spanish/python/anaconda/index.md
Labels: language: Spanish, scope: guide

#36379 Update a solution for "Find the Symmetric Difference" algorithm
  guide/english/certifications/coding-interview-prep/algorithms/find-the-symmetric-difference/index.md
Labels: language: English, scope: guide

#36459 update translation bubble-sort
  guide/portuguese/algorithms/sorting-algorithms/bubble-sort/index.md
Labels: language: Spanish, status: needs update

#31263 Outputing an "auto" variable
  guide/english/cplusplus/the-auto-feature/index.md
Labels: language: English, scope: guide

#31165 fix: sent to local repo in error
  guide/english/css/flexbox-display-flex/index.md
  guide/english/css/flexbox-flex-basis/index.md
  guide/english/css/flexbox-flex-grow/index.md
Labels: language: English, scope: guide

#31603 Added the nltk library installation.
  guide/english/machine-learning/natural-language-processing/index.md
Labels: language: English, scope: guide

#36367 Add ES6 syntax to Challenge' solution
  guide/english/certifications/javascript-algorithms-and-data-structures/object-oriented-programming/use-an-iife-to-create-a-module/index.md
  guide/english/certifications/javascript-algorithms-and-data-structures/object-oriented-programming/use-closure-to-protect-properties-within-an-object-from-being-modified-externally/index.md
Labels: language: English, scope: guide, status: needs update

#36256 content(guide): add blockchain-development article
  guide/english/blockchain/blockchain-development/index.md
Labels: language: English, scope: guide

#33989 added small entry for docker exec
  guide/english/docker/docker-exec/index.md
Labels: language: English, scope: guide

#33548 order point included
  guide/english/algorithms/b-trees/index.md
Labels: language: English, scope: guide

#35018 Add guide about Haskell lists
  guide/english/haskell/lists/index.md
Labels: language: English, scope: guide

#36005 feat(guide): added java implementation to quicksort
  guide/english/algorithms/sorting-algorithms/quick-sort/index.md
Labels: language: English, scope: guide, status: needs update

#36026 feat (guide): added java implementation for red-black trees
  guide/english/algorithms/red-black-trees/index.md
Labels: language: English, scope: guide

#36371 feat: Add guide article and update its challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.english.md
  guide/english/certifications/javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion/index.md
Labels: language: English, scope: curriculum, scope: guide, status: need to test locally

#36141 feat: Add article for Elixir Keyword Lists
  guide/english/elixir/keyword-lists/index.md
Labels: language: English, scope: guide

#36140 Really elaborating on the network topic to be nearly all inclusive, not finished
  guide/english/c/basic-networking/index.md
Labels: language: English, scope: guide

#33509 Support Vector Machine index updated.
  guide/english/machine-learning/support-vector-machine/index.md
Labels: language: English, scope: guide

#35855 Added the topic Evaluating the clustering
  guide/english/machine-learning/clustering-algorithms/index.md
Labels: language: English, scope: guide, status: needs update

#33270 Add notes on when Erlang began and became Open Source.
  guide/english/erlang/index.md
Labels: language: English, scope: guide

#33013 Fixed some grammar and added haskelly instructions
  guide/english/haskell/misc/index.md
Labels: language: English, scope: guide

#33258 add a summary of Erlang functional programming features
  guide/english/erlang/functional-language/index.md
Labels: language: English, scope: guide

#32887 add a description of pure functions in Erlang
  guide/english/erlang/pure-functions/index.md
Labels: language: English, scope: guide

#32677 added details for crossfilter.js
  guide/english/data-science-tools/crossfilter/index.md
Labels: language: English, scope: guide, status: needs update

#32378 add a description of the Erlang shell and its use as a interpreter
  guide/english/erlang/shell/index.md
Labels: language: English, scope: guide

#32398 add notes on names in Erlang and naming conventions
  guide/english/erlang/names/index.md
Labels: language: English, scope: guide

#32348 Additional details for np-completeness article
  guide/english/computer-science/np-completeness/index.md
Labels: language: English, scope: guide

#32096 Added optimization algorithms for Gradient Descent
  guide/english/machine-learning/deep-learning/optimization-algorithms-for-gradient-descent/index.md
Labels: language: English, scope: guide

#31767 Contribution on the topic.
  guide/english/machine-learning/neural-networks/multi-layer-perceptron/index.md
Labels: language: English, scope: guide

#32856 Grammatical changes
  guide/spanish/javascript/booleans/index.md
Labels: language: Spanish, scope: guide

#30830 Added install instructions for Arch Linux
  guide/english/joomla/index.md
Labels: language: English, scope: guide

#28311 Added new section
  guide/english/csharp/exceptions/index.md
Labels: language: English, scope: guide, status: needs update

#27351 Add Section on Docker CE for Linux and Install guide in index.md
  guide/english/linux/install-and-setup-dockerce-in-linux/index.md
Labels: language: English, scope: guide

#25718 add `map` function to haskell section
  guide/english/haskell/map/index.md
Labels: language: English, scope: guide

#33449 Updated Data-Drive Design content
  guide/english/user-experience-research/data-driven-design/index.md
Labels: language: English, scope: guide

#36487 Replace stub with hints and code solution
  guide/english/certifications/apis-and-microservices/mongodb-and-mongoose/create-and-save-a-record-of-a-model/index.md
Labels: status: needs update

#36474 Add hints for "install and set up mongoose"
  guide/english/certifications/apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose/index.md
Labels: status: needs update

#36451 fix(docs): npm run commit has been removed
  docs/README.md
Labels: scope: documentation

#36499 fix heading level 2 text
  guide/english/algorithms/sorting-algorithms/quick-sort/index.md
Labels: language: English, scope: guide

#36402 fix(curriculum): Remove unnecessary assert message argument from English challenges JavaScript Algorithms and Data Structures - 02
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/chunky-monkey.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/confirm-the-ending.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/convert-celsius-to-fahrenheit.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/factorialize-a-number.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/falsy-bouncer.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/find-the-longest-word-in-a-string.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/finders-keepers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/mutations.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/return-largest-numbers-in-arrays.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/reverse-a-string.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/title-case-a-sentence.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/where-do-i-belong.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-arguments-passed-in-the-wrong-order-when-calling-a-function.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-missing-open-and-closing-parenthesis-after-a-function-call.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-misspelled-variable-and-function-names.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-mixed-usage-of-single-and-double-quotes.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-off-by-one-errors-when-using-indexing.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-unclosed-parentheses-brackets-braces-and-quotes.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-use-of-assignment-operator-instead-of-equality-operator.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/prevent-infinite-loops-with-a-valid-terminal-condition.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/use-caution-when-reinitializing-variables-inside-a-loop.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/use-the-javascript-console-to-check-the-value-of-a-variable.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/use-typeof-to-check-the-type-of-a-variable.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/declare-a-read-only-variable-with-the-const-keyword.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/mutate-an-array-declared-with-const.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/prevent-object-mutation.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-arrow-functions-with-parameters.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/add-elements-to-the-end-of-an-array-using-concat-instead-of-push.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/apply-functional-programming-to-convert-strings-to-url-slugs.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/avoid-mutations-and-side-effects-using-functional-programming.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/combine-an-array-into-a-string-using-the-join-method.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/combine-two-arrays-using-the-concat-method.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-the-filter-method-on-a-prototype.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/introduction-to-currying-and-partial-application.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/learn-about-functional-programming.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avoid-external-dependence-in-a-function.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/refactor-global-variables-out-of-functions.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/remove-elements-from-an-array-using-slice-instead-of-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/return-part-of-an-array-using-the-slice-method.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/split-a-string-into-an-array-using-the-split-method.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/understand-functional-programming-terminology.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-every-method-to-check-that-every-element-in-an-array-meets-a-criteria.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-reduce-method-to-analyze-data.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-some-method-to-check-that-any-elements-in-an-array-meet-a-criteria.english.md
Labels: language: English, release: next/beta, scope: curriculum, status: need to test locally, type: critical path

#36403 fix(curriculum): Remove unnecessary assert message argument from English challenges JavaScript Algorithms and Data Structures - 03
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/access-an-arrays-contents-using-bracket-notation.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/access-property-names-with-bracket-notation.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-using-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-key-value-pairs-to-javascript-objects.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/check-for-the-presence-of-an-element-with-indexof.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/combine-arrays-with-the-spread-operator.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-array-items-using-slice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object.keys.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-all-an-arrays-items-using-for-loops.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-array-stored-in-an-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-object-nested-within-an-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-from-an-array-with-pop-and-shift.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-using-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/use-an-array-to-store-a-collection-of-data.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/use-the-delete-keyword-to-remove-object-properties.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/binary-agents.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/diff-two-arrays.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/dna-pairing.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/drop-it.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/missing-letters.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/pig-latin.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/search-and-replace.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/seek-and-destroy.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/smallest-common-multiple.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/spinal-tap-case.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-numbers-in-a-range.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-primes.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/caesars-cipher.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/palindrome-checker.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/roman-numeral-converter.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator.english.md
Labels: language: English, release: next/beta, scope: curriculum, status: need to test locally, type: critical path

#36404 fix(curriculum): Remove unnecessary assert message argument from English challenges JavaScript Algorithms and Data Structures - 04
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/add-methods-after-inheritance.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/change-the-prototype-to-a-new-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/create-a-basic-javascript-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/create-a-method-on-an-object.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/define-a-constructor-function.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/extend-constructors-to-receive-arguments.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/inherit-behaviors-from-a-supertype.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/iterate-over-all-properties.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/make-code-more-reusable-with-the-this-keyword.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/override-inherited-methods.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/remember-to-set-the-constructor-property-when-changing-the-prototype.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/reset-an-inherited-constructor-property.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/set-the-childs-prototype-to-an-instance-of-the-parent.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-constructor-property.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-where-an-objects-prototype-comes-from.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-a-constructor-to-create-objects.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-a-mixin-to-add-common-behavior-between-unrelated-objects.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-an-iife-to-create-a-module.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-closure-to-protect-properties-within-an-object-from-being-modified-externally.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-inheritance-so-you-dont-repeat-yourself.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-prototype-properties-to-reduce-duplicate-code.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/verify-an-objects-constructor-with-instanceof.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-all-or-none.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/extract-matches.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-characters-with-lazy-matching.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-more-than-the-first-match.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-one-or-more-criminals-in-a-hunt.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/ignore-case-while-matching.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-a-literal-string-with-different-possibilities.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-letters-and-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-non-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-anything-with-wildcard-period.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-beginning-string-patterns.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-one-or-more-times.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-ending-string-patterns.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-everything-but-letters-and-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-letters-of-the-alphabet.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-literal-strings.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-non-whitespace-characters.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-numbers-and-letters-of-the-alphabet.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-single-character-with-multiple-possibilities.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-single-characters-not-specified.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-whitespace.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/remove-whitespace-from-start-and-end.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/specify-exact-number-of-matches.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/use-capture-groups-to-search-and-replace.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/using-the-test-method.english.md
Labels: language: English, release: next/beta, scope: curriculum, status: need to test locally, type: critical path

#36407 fix(curriculum): Remove unnecessary assert message argument from English Responsive Web Design challenges - 03
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/align-elements-using-the-align-items-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/align-elements-using-the-justify-content-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-a-column-in-the-tweet-embed.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-rows-in-the-tweet-embed.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-display-flex-to-position-two-boxes.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-self-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-basis-property-to-set-the-initial-size-of-an-item.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-column.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-row.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-grow-property-to-expand-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-shorthand-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-shrink-property-to-shrink-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-wrap-property-to-wrap-a-row-or-column.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-order-property-to-rearrange-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-columns-with-grid-template-columns.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-gaps-faster-with-grid-gap.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-rows-with-grid-template-rows.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-all-items-horizontally-using-justify-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-all-items-vertically-using-align-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-an-item-horizontally-using-justify-self.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-an-item-vertically-using-align-self.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-a-row-gap-using-grid-row-gap.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fill.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fit.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-grids-within-grids.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-your-first-css-grid.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/divide-the-grid-into-an-area-template.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/limit-item-size-using-the-minmax-function.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/reduce-repetition-using-the-repeat-function.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-an-image-responsive.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.english.md
Labels: language: English, release: next/beta, scope: curriculum, status: need to test locally, type: critical path

#36457 fix(curriculum): Remove additional unnecessary assert message argument wrapped in double quotes from various curriculum sections
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-headings-to-show-hierarchical-relationships-of-content.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/give-a-background-color-to-a-div-element.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-prototype-chain.english.md
  curriculum/challenges/english/03-front-end-libraries/jquery/learn-how-script-tags-and-document-ready-work.english.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-html-elements-with-selectors-using-jquery.english.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-the-same-element-with-multiple-jquery-selectors.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-and-add-to-sets-in-es6.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/perform-a-subset-check-on-two-sets-of-data.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-.has-and-.size-on-an-es6-set.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/use-spread-and-notes-for-es5-set-integration.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/factorial.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/fibonacci-sequence.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/sedols.english.md
Labels: language: English, release: next/beta, scope: curriculum, status: need to test locally, type: critical path

#33945 fix markdown
  docs/russian/CONTRIBUTING.md
Labels: language: Russian, scope: documentation

#36366 Update to "Search and Replace" intermediate solution
  guide/english/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/search-and-replace/index.md
Labels: language: English, scope: guide, status: discussing

#33608 Agile/index.md: improved translation and added core values
  guide/portuguese/agile/index.md
Labels: language: Portuguese, scope: guide
