Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-02, with the labels that each got.

#38102 Fix: (Rosetta-Code) Correct the Test suite and make expression clearer
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/24-game.english.md
Labels: language: English, scope: curriculum, status: blocked, status: need to test locally, status: needs update

#38136 feat: remove protection from interview prep
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/utils/gatsby/challengePageCreator.js
Labels: platform: client

#38137 fix(client): accuracy issue with heatmap
  client/src/components/profile/components/HeatMap.js
  client/src/components/profile/components/HeatMap.test.js
  client/src/components/profile/components/__snapshots__/HeatMap.test.js.snap
Labels: platform: client

#38003 fix: add donation ga and tests
  client/package-lock.json
  client/package.json
  client/src/client-only-routes/ShowCertification.js
  client/src/components/Donation/DonateForm.js
  client/src/components/Donation/DonateFormChildViewForHOC.js
  client/src/components/Donation/DonationModal.js
  client/src/components/Donation/MinimalDonateForm.js
  client/src/components/Map/components/Block.js
  client/src/components/Map/components/Block.test.js
  client/src/components/layouts/Certification.js
  client/src/components/layouts/Default.js
  client/src/pages/donate.js
  client/src/redux/ga-saga.js
  client/src/redux/ga-saga.test.js
  client/src/redux/index.js
  client/src/templates/Challenges/components/CompletionModal.js
  client/src/templates/Challenges/components/HelpModal.js
  client/src/templates/Challenges/components/ResetModal.js
  client/src/templates/Challenges/components/VideoModal.js
Labels: platform: client

#38068 Update to make instructions more clear
  curriculum/challenges/english/03-front-end-libraries/react/compose-react-components.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38155 fix(curriclum): modified add images to your website
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38124 fix(learn): updated challenge text to clarify when to start using new boilerplates
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/set-up-the-environment.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38131 fix: prevent duplication of Monaco webpack plugin
  client/gatsby-node.js
Labels: platform: client

#38023 modified tests and made correction in solution
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38126 feat: add styles for markdown tables and convert some HTML tables to markdown
  client/src/components/layouts/global.css
  curriculum/challenges/english/08-coding-interview-prep/algorithms/pairwise.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-54-poker-hands.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-61-cyclical-figurate-numbers.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-68-magic-5-gon-ring.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-69-totient-maximum.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-78-coin-partitions.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-84-monopoly-odds.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-96-su-doku.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/hash-join.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38101 ProjectEuler | Update Problem statement of 002 to match projecteuler.net
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-2-even-fibonacci-numbers.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38110 fix(client): Header and buttons text made smaller
  client/src/components/layouts/global.css
Labels: platform: client, scope: user interface

#38145 Fix: Problem 39: Integer right triangles
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-39-integer-right-triangles.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38100 chore: fix typos in spelling
  CONTRIBUTING.md
  api-server/public/json/bootcamps.json
  api-server/server/boot/certificate.js
  api-server/server/boot/randomAPIs.js
  api-server/server/boot_tests/challenge.test.js
  api-server/server/middlewares/error-reporter.js
  api-server/server/models/donation.js
  api-server/server/models/donation.json
  client/plugins/gatsby-remark-node-identity/gatsby-node.js
  client/src/components/AppMountNotifier.js
  client/src/components/Donation/DonateFormChildViewForHOC.js
  client/src/components/Intro/Intro.test.js
  client/src/components/Map/index.js
  client/src/components/settings/Certification.js
  client/src/components/settings/Certification.test.js
  client/src/components/settings/Portfolio.js
  client/src/components/settings/certification.css
  client/src/pages/learn/data-visualization/data-visualization-projects/index.md
  client/src/redux/failed-updates-epic.js
  client/src/redux/failed-updates-epic.test.js
  client/src/redux/settings/settings-sagas.js
  client/src/resources/certProjectMap.js
  client/utils/formatting.js
  curriculum/CHANGELOG.md
  curriculum/challenges/_meta/es6/meta.json
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-using-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/reuse-javascript-code-using-import.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/everything-be-true.english.md
  curriculum/challenges/english/03-front-end-libraries/redux/combine-multiple-reducers.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/announce-new-users.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/hashing-your-passwords.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/set-up-passport.english.md
  curriculum/challenges/english/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.english.md
  curriculum/challenges/english/08-coding-interview-prep/algorithms/no-repeats-please.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-102-triangle-containment.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-184-triangles-containing-the-origin.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-278-linear-combinations-of-semiprimes.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-35-circular-primes.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-428-necklace-of-circles.english.md
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-91-right-triangles-with-integer-coordinates.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/count-the-coins.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/date-manipulation.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/general-fizzbuzz.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/least-common-multiple.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/sort-using-a-custom-comparator.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/sorting-algorithms-stooge-sort.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/word-wrap.english.md
  docs/devops.md
  search-indexing/data-push/init/index.js
  tools/challenge-md-parser/challengeSeed-to-data.js
  tools/challenge-md-parser/text-to-data.test.js
  tools/scripts/build/create-redirects.js
  tools/translation/translate-challenges.js
Labels: language: English, platform: client, platform: server, scope: curriculum, scope: docs, status: blocked, status: need to test locally

#37813 fix(client): disable intellisense in editor
  client/src/templates/Challenges/classic/Editor.js
Labels: platform: client, status: discussing

#37013 docs(i18n): Vietnamese translation for README.md
  docs/i18n-languages/vietnamese/README.md
Labels: language: Vietnamese, scope: docs, status: needs update

#36993 docs(i18n): Portuguese translation of README file
  docs/i18n-languages/portuguese/README.md
Labels: language: Portuguese, scope: docs, status: needs update

#37037 fix(learn): warn about XSS in convert JSON to HTML
  curriculum/challenges/spanish/04-data-visualization/json-apis-and-ajax/convert-json-data-to-html.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37289 Cleaned link formatting and typos
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.chinese.md
Labels: language: Chinese, scope: curriculum, status: need to test locally

#37291 Fixed formatting and typos
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/chain-middleware-to-create-a-time-server.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/get-data-from-post-requests.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/get-query-parameter-input-from-the-client.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/get-route-parameter-input-from-the-client.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/implement-a-root-level-request-logger-middleware.chinese.md
Labels: language: Chinese, scope: curriculum, status: need to test locally

#37292 Fixed formatting and typos
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/meet-the-node-console.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-an-html-file.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-json-on-a-specific-route.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-static-assets.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/start-a-working-express-server.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/use-body-parser-to-parse-post-requests.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.chinese.md
Labels: language: Chinese, scope: curriculum, status: need to test locally

#37916 fix(i18n): update Chinese translation of basic css
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/add-a-negative-margin-to-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/add-borders-around-your-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/add-different-margins-to-each-side-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/add-different-padding-to-each-side-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/add-rounded-corners-with-border-radius.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/adjust-the-margin-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/adjust-the-padding-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/attach-a-fallback-value-to-a-css-variable.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/change-a-variable-for-a-specific-area.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/change-the-color-of-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/change-the-font-size-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/create-a-custom-css-variable.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/give-a-background-color-to-a-div-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/import-a-google-font.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/improve-compatibility-with-browser-fallbacks.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/inherit-css-variables.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/inherit-styles-from-the-body-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/make-circular-images-with-a-border-radius.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/override-all-other-styles-by-using-important.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/override-class-declarations-by-styling-id-attributes.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/override-class-declarations-with-inline-styles.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/override-styles-in-subsequent-css.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/prioritize-one-style-over-another.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/set-the-font-family-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/set-the-id-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/size-your-images.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/style-multiple-elements-with-a-css-class.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/style-the-html-body-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/understand-absolute-versus-relative-units.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-a-css-class-to-style-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-a-custom-css-variable.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-a-media-query-to-change-a-variable.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-abbreviated-hex-code.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-an-id-attribute-to-style-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-attribute-selectors-to-style-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-margin-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-padding-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-css-selectors-to-style-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-hex-code-for-specific-colors.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-hex-code-to-mix-colors.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-rgb-to-mix-colors.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/use-rgb-values-to-color-elements.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37918 fix(i18n): update Chinese translation of applied visual design
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/add-a-box-shadow-to-a-card-like-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-background-color-property-of-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-color-of-various-elements-to-complementary-colors.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-hue-of-a-color.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-size-of-a-header-versus-a-paragraph-tag.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-tone-of-a-color.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/animate-elements-at-variable-rates.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/animate-elements-continually-using-an-infinite-animation-count.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/animate-multiple-elements-at-variable-rates.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/center-an-element-horizontally-using-the-margin-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/change-an-elements-relative-position.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/change-animation-timing-with-keywords.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/change-the-position-of-overlapping-elements-with-the-z-index-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-a-gradual-css-linear-gradient.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-a-graphic-using-css.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-movement-using-css-animation.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-visual-balance-using-the-text-align-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/create-visual-direction-by-fading-an-element-from-left-to-right.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/learn-about-complementary-colors.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/learn-about-tertiary-colors.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/learn-how-bezier-curves-work.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/learn-how-the-css-keyframes-and-animation-properties-work.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/lock-an-element-to-its-parent-with-absolute-positioning.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/lock-an-element-to-the-browser-window-with-fixed-positioning.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/make-a-css-heartbeat-using-an-infinite-animation-count.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-bezier-curve.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/modify-fill-mode-of-an-animation.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/move-a-relatively-positioned-element-with-css-offsets.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/push-elements-left-or-right-with-the-float-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/set-the-font-size-of-paragraph-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/set-the-font-weight-for-multiple-heading-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/set-the-line-height-of-paragraphs.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-a-bezier-curve-to-move-a-graphic.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-a-css-linear-gradient-to-create-a-striped-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-css-animation-to-change-the-hover-state-of-a-button.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-css-transform-property-skewx-to-skew-an-element-along-the-x-axis.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-css-transform-property-skewy-to-skew-an-element-along-the-y-axis.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-change-the-size-of-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-scale-an-element-on-hover.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-em-tag-to-italicize-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-s-tag-to-strikethrough-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-strong-tag-to-make-text-bold.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-text-transform-property-to-make-text-uppercase.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-u-tag-to-underline-text.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37920 fix(i18n): update Chinese translation of applied accessibility
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-carefully-choosing-colors-that-convey-information.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-using-sufficient-contrast.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/improve-readability-with-high-contrast-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-links-navigable-with-html-access-keys.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-links-navigatable-with-html-access-keys.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-footer-landmark.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-nav-landmark.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/use-headings-to-show-hierarchical-relationships-of-content.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/use-tabindex-to-add-keyboard-focus-to-an-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37922 fix(i18n): update Chinese translation of responsive web design princi…
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-principles/make-an-image-responsive.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37923 fix(i18n): update Chinese translation of css flexbox
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/align-elements-using-the-align-items-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/align-elements-using-the-justify-content-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-a-column-in-the-tweet-embed.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-rows-in-the-tweet-embed.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-display-flex-to-position-two-boxes.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-align-self-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-basis-property-to-set-the-initial-size-of-an-item.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-column.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-row.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-grow-property-to-expand-items.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-shorthand-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-shrink-property-to-shrink-items.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-flex-wrap-property-to-wrap-a-row-or-column.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-justify-content-property-in-the-tweet-embed.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-flexbox/use-the-order-property-to-rearrange-items.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#37924 fix(i18n): update Chinese translation of css grid
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/add-columns-with-grid-template-columns.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/add-gaps-faster-with-grid-gap.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/add-rows-with-grid-template-rows.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/align-all-items-horizontally-using-justify-items.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/align-all-items-vertically-using-align-items.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/align-an-item-horizontally-using-justify-self.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/align-an-item-vertically-using-align-self.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/create-a-row-gap-using-grid-row-gap.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fill.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fit.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/create-grids-within-grids.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/create-your-first-css-grid.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/divide-the-grid-into-an-area-template.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/limit-item-size-using-the-minmax-function.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/reduce-repetition-using-the-repeat-function.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/use-css-grid-units-to-change-the-size-of-columns-and-rows.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/use-grid-column-to-control-spacing.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts.chinese.md
Labels: language: Chinese, release: next/beta, scope: curriculum, status: need to test locally

#38198 fix(docs): typo
  CONTRIBUTING.md
Labels: language: English, scope: docs

#38130 fix(learn): correcting Hash Table Lookup Efficiency
  curriculum/challenges/chinese/08-coding-interview-prep/data-structures/create-a-hash-table.chinese.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-hash-table.english.md
  curriculum/challenges/portuguese/08-coding-interview-prep/data-structures/create-a-hash-table.portuguese.md
  curriculum/challenges/russian/08-coding-interview-prep/data-structures/create-a-hash-table.russian.md
  curriculum/challenges/spanish/08-coding-interview-prep/data-structures/create-a-hash-table.spanish.md
Labels: language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: curriculum, status: need to test locally

#37256 Update russian localization
  curriculum/challenges/russian/05-apis-and-microservices/basic-node-and-express/chain-middleware-to-create-a-time-server.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37257 Update russian localization
  curriculum/challenges/russian/08-coding-interview-prep/rosetta-code/averages-mode.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37258 Update russian localization
  curriculum/challenges/russian/06-information-security-and-quality-assurance/advanced-node-and-express/registration-of-new-users.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37259 update russian localization
  curriculum/challenges/russian/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#38215 fix: force timezone to be UTC for tests
  client/jest-timezone-setup.js
  client/jest.config.js
  client/jest.test.js
Labels: platform: client

#38217 fix(client): localise calendar to user's current timezone
  client/src/components/profile/components/HeatMap.js
  client/src/components/profile/components/__snapshots__/HeatMap.test.js.snap
Labels: platform: client, scope: user interface

#37038 feat(i18n): add Turkish contribution guidelines
  docs/i18n-languages/turkish/CONTRIBUTING.md
Labels: language: Turkish, scope: docs

#37067 docs: Updated french versions
  docs/i18n-languages/french/CONTRIBUTING.md
  docs/i18n-languages/french/README.md
Labels: language: French, scope: docs, status: merge conflict, status: needs update

#37399 fix: make recursion challenge more intuitive
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37934 fix: responsive image challenge
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-an-image-responsive.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38105 fix(curriculum): Added test to Return a Sorted Array Without Changing the Original Array challenge to validate new array is returned
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38262 fix(learn): typo in Serialization of a User Object
  curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38257 add: solution to project euler problem 20
  curriculum/challenges/english/08-coding-interview-prep/project-euler/problem-20-factorial-digit-sum.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37050 Fix portuguese translations on curriculum challenge
  curriculum/challenges/portuguese/03-front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#37051 Fix portuguese translations
  curriculum/challenges/portuguese/03-front-end-libraries/sass/use-each-to-map-over-items-in-a-list.portuguese.md
Labels: language: Portuguese, scope: curriculum, status: need to test locally

#37066 docs: Translate to Turkish
  docs/i18n-languages/turkish/how-to-open-a-pull-request.md
Labels: language: Turkish, scope: docs

#37048 Added meaning of ones in adjacency matrices
  curriculum/challenges/english/08-coding-interview-prep/data-structures/adjacency-matrix.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37132 fix(i18n): spanish correct description of the challenge
  curriculum/challenges/spanish/01-responsive-web-design/responsive-web-design-principles/make-an-image-responsive.spanish.md
Labels: language: Spanish, scope: curriculum, status: need to test locally

#37133 fix(i18n): create how-to-work-on-coding-challenges.md in german
  docs/i18n-languages/german/how-to-work-on-coding-challenges.md
Labels: language: German, scope: docs

#37226 fix(docs, i18n): portuguese grammar mistakes
  docs/i18n-languages/portuguese/how-to-catch-outgoing-emails-locally.md
Labels: language: Portuguese, scope: docs

#37230 docs(i18n): translating README.md into Ukrainian
  docs/i18n-languages/ukrainian/README.md
Labels: language: Ukrainian, scope: docs, scope: translation, status: needs update

#38256 fix(curriculum) Consolidated html and css comments for Responsive Web Design challenges
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/modify-fill-mode-of-an-animation.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/attach-a-fallback-value-to-a-css-variable.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-a-variable-for-a-specific-area.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/create-a-custom-css-variable.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/inherit-css-variables.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-a-custom-css-variable.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-a-media-query-to-change-a-variable.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-columns-with-grid-template-columns.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-gaps-faster-with-grid-gap.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-rows-with-grid-template-rows.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-all-items-horizontally-using-justify-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-all-items-vertically-using-align-items.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-an-item-horizontally-using-justify-self.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-an-item-vertically-using-align-self.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-a-row-gap-using-grid-row-gap.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fill.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fit.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-grids-within-grids.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-your-first-css-grid.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/divide-the-grid-into-an-area-template.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/limit-item-size-using-the-minmax-function.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/reduce-repetition-using-the-repeat-function.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-css-grid-units-to-change-the-size-of-columns-and-rows.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-column-to-control-spacing.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.english.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38298 fix: add missing .english extensions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-0-1.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-bounded.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-continuous.english.md
  curriculum/challenges/english/08-coding-interview-prep/rosetta-code/knapsack-problem-unbounded.english.md
Labels: scope: curriculum

#38305 fix: Update test for wrapping strong tag around text to include perio…
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-strong-tag-to-make-text-bold.english.md
Labels: language: English, scope: curriculum, status: need to test locally
