Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-12, with the labels that each got.

#40328 feat(dev): update GitPod testing
  api-server/server/utils/getSetAccessToken.test.js
Labels: platform: root, scope: tools/scripts

#40181 feat(tools): add fully certified development user
  cypress/integration/top-contributor.js
  package.json
  tools/scripts/seed/certifiedUserData.js
  tools/scripts/seed/seedAuthUser.js
Labels: scope: tools/scripts, status: work in progress, type: feature request

#40363 chore(api): migrate from express-validator 5 to 6
  api-server/package-lock.json
  api-server/package.json
  api-server/server/boot/authentication.js
  api-server/server/boot/settings.js
  api-server/server/boot/user.js
  api-server/server/middleware.json
  api-server/server/middlewares/validator.js
  api-server/server/utils/middleware.js
  api-server/server/utils/validators.js
Labels: platform: api

#40399 fix: require project completion to claim certs
  curriculum/getChallenges.js
Labels: platform: client

#40409 [BUG] Able to pass challenge "Basic JavaScript: Initializing Variables with the Assignment Operator" with incorrect answers #40406
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/initializing-variables-with-the-assignment-operator.md
Labels: language: English, scope: learn, status: blocked

#40450 Update the return value of values method in create a set class challenge
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-set-class.md
Labels: language: English, scope: learn

#40330 fix(learn): Headless Browser Tests have incorrect values
  curriculum/challenges/_meta/quality-assurance-and-testing-with-chai/meta.json
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-browser.md
Labels: language: English, scope: learn, status: need to test locally

#40441 Fixed seed-contents for react componentDidMount challenge
  curriculum/challenges/english/03-front-end-libraries/react/use-the-lifecycle-method-componentdidmount.md
Labels: language: English, scope: learn, status: blocked

#40461 fix(client): better contrast for code sections when selected
  client/src/components/layouts/global.css
  client/src/components/layouts/variables.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/components/challenge-description.css
Labels: scope: UI, scope: learn

#40522 fix(dashboard): Use CDN for favicon
  tools/contributor/dashboard-app/client/public/favicon.ico
  tools/contributor/dashboard-app/client/public/index.html
  tools/contributor/dashboard-app/client/public/manifest.json
Labels: scope: tools/scripts, status: need to test locally

#40526 fix(i18n): translated comments to Chinese
  curriculum/dictionaries/chinese/comments.js
Labels: language: Chinese, scope: learn

#40498 feat: add donation options to donors alert and donation page footer
  client/src/components/Donation/DonateSupportText.js
  client/src/components/Donation/DonateText.js
  client/src/components/Donation/Donation.css
  client/src/components/Donation/DonationTextComponents.js
  client/src/pages/donate.js
  cypress/integration/learn/donate/donate-page-default.js
  cypress/integration/learn/donate/donate-page-donor.js
Labels: platform: client, scope: UI

#39154 fix(learn): split and simplified learn map
  client/src/client-only-routes/ShowUser.js
  client/src/components/Footer/footer.css
  client/src/components/Map/Map.test.js
  client/src/components/Map/__snapshots__/Map.test.js.snap
  client/src/components/Map/components/SuperBlock.js
  client/src/components/Map/components/SuperBlock.test.js
  client/src/components/Map/components/__snapshots__/SuperBlock.test.js.snap
  client/src/components/Map/index.js
  client/src/components/Map/map.css
  client/src/components/Map/redux/index.js
  client/src/components/landing/components/Certifications.js
  client/src/components/landing/index.js
  client/src/components/layouts/Default.js
  client/src/components/layouts/global.css
  client/src/pages/learn.js
  client/src/pages/learn/coding-interview-prep/index.md
  client/src/pages/learn/information-security/python-for-penetration-testing/index.md
  client/src/pages/learn/machine-learning-with-python/how-neural-networks-work/index.md
  client/src/templates/Introduction/SuperBlockIntro.js
  client/src/templates/Introduction/intro.css
  client/utils/gatsby/challengePageCreator.js
  client/utils/gatsby/layoutSelector.js
  cypress/integration/learn/index.js
  package-lock.json
  package.json
Labels: platform: client, scope: UI, type: feature request

#40572 fix(tools): Validate `curriculum_locale`
  tools/scripts/build/ensure-env.js
Labels: platform: client, scope: tools/scripts, status: need to test locally

#40574 docs: Update reply templates
  docs/moderator-handbook.md
Labels: language: English, scope: docs

#40329 feat(docs): Update Contributing Instructions for New Template
  docs/how-to-help-with-video-challenges.md
  docs/how-to-work-on-coding-challenges.md
Labels: language: English, scope: docs

#40577 feat(client): Add news translation
  client/i18n/allLangs.js
  client/i18n/config.js
  client/i18n/locales.test.js
  client/i18n/locales/chinese/trending.json
  client/i18n/locales/english/trending.json
  client/i18n/locales/espanol/trending.json
  client/i18n/trending-schema.js
  client/src/components/Footer/__snapshots__/Footer.test.js.snap
  client/src/components/Footer/footer.css
  client/src/components/Footer/index.js
Labels: platform: client, scope: i18n, status: ready for QA

#40529 fix(i18n): translated translations.json to Chinese
  client/i18n/locales/chinese/translations.json
Labels: language: Chinese, scope: learn

#40517 fix(api): only use homeLocation as a fallback
  api-server/server/boot/authentication.js
  api-server/server/boot/certificate.js
  api-server/server/boot/challenge.js
  api-server/server/boot/commit.js
  api-server/server/boot/randomAPIs.js
  api-server/server/boot/user.js
  api-server/server/boot/z-not-found.js
  api-server/server/component-passport.js
  api-server/server/middlewares/error-handlers.js
  api-server/server/middlewares/request-authorization.js
  api-server/server/middlewares/request-authorization.test.js
  api-server/server/passport-providers.js
  api-server/server/utils/commit-goals.json
  api-server/server/utils/commit.js
  api-server/server/utils/commit.json
  api-server/server/utils/get-return-to.test.js
  api-server/server/utils/middleware.js
  api-server/server/utils/redirection.js
  api-server/server/utils/redirection.test.js
  api-server/server/views/commit/directory.jade
  api-server/server/views/commit/index.jade
  api-server/server/views/commit/pledge.jade
Labels: platform: api

#40585 tools(client): Translation Key usage validation
  client/i18n/validate-keys.js
  client/package.json
Labels: platform: client, scope: i18n, scope: tools/scripts, status: ready for QA

#40599 fix(i18n): apply unused translations
  client/src/components/settings/DeleteModal.js
  client/src/pages/update-email.js
  client/src/templates/Challenges/components/ResetModal.js
Labels: platform: client, scope: UI, scope: i18n, status: ready for QA
