Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-01, with the labels that each got.

#37945 fix: fixed position challenge
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/lock-an-element-to-the-browser-window-with-fixed-positioning.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37941 fix: allow g flag on regex
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37947 fix(client): show certs on timeline
  client/src/assets/icons/CertificationIcon.js
  client/src/components/profile/components/Certifications.js
  client/src/components/profile/components/TimeLine.js
  client/src/components/profile/components/portfolio.css
  client/src/redux/index.js
  utils/index.js
Labels: platform: client

#37870 fix(learn): Fixed tests for the create a hash table challenge
  curriculum/challenges/english/08-coding-interview-prep/data-structures/create-a-hash-table.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38011 fix: flush logs straight after evaluation
  client/src/client/workers/test-evaluator.js
Labels: platform: client

#37643 Improved RU translate
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-with-helmetjs/configure-helmet-using-the-parent-helmet-middleware.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37642 Improved RU translate
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-with-helmetjs/avoid-inferring-the-response-mime-type-with-helmet.nosniff.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37641 Improved RU translate
  curriculum/challenges/russian/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37619 Improve russian translation
  curriculum/challenges/russian/05-apis-and-microservices/basic-node-and-express/serve-static-assets.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37543 Russian translate
  curriculum/challenges/russian/04-data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37981 fix(curriculum): change starting font-size for the Create a Sass For Loop challenge
  curriculum/challenges/english/03-front-end-libraries/sass/use-for-to-create-a-sass-loop.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38017 feat: enable MathJax for Project Euler challenges
  client/gatsby-ssr.js
  client/src/templates/Challenges/components/Side-Panel.js
  client/src/utils/scriptLoaders.js
Labels: platform: client

#37997 fix(curriculum): allow another space in regex for Use Destructuring Assignment to Assign Variables from Objects challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37187 fix: add tests for header parser microservice project
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38030 fix: remove all year-end gift implementation
  api-server/server/boot/donate.js
  client/src/components/Donation/DonateCompletion.js
  client/src/components/Donation/DonateFormChildViewForHOC.js
  client/src/components/YearEndGift/YearEndDonationForm.js
  client/src/components/YearEndGift/YearEndGift.css
  client/src/pages/year-end-gift-successful.js
  client/src/pages/year-end-gift.js
  client/src/utils/ajax.js
  client/utils/gatsby/layoutSelector.js
Labels: platform: client, platform: server

#38032 fixed typo, "is" changed to "in"
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-axes-to-a-visualization.english.md
Labels: language: English, scope: curriculum

#38031 fix: update react lesson link (remove 404)
  curriculum/challenges/english/03-front-end-libraries/react/introducing-inline-styles.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#37609 Improved Russian translation
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/decrement-a-number-with-javascript.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37608 Improved Russian translation
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/increment-a-number-with-javascript.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#38036 Move the comment on line 71 to its own line
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters.english.md
Labels: scope: curriculum

#38073 fix: adjust styles and search behavior when there are no hits
  client/src/components/search/searchBar/SearchBar.js
  client/src/components/search/searchBar/SearchHits.js
  client/src/components/search/searchBar/SearchSuggestion.js
  client/src/components/search/searchBar/searchbar-base.css
  client/src/components/search/searchBar/searchbar.css
Labels: platform: client, type: bug, type: critical path

#37652 Translate description section to Arabic
  curriculum/challenges/arabic/01-responsive-web-design/basic-css/add-different-padding-to-each-side-of-an-element.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally, status: needs update

#37650 Translate discerption to Arabic
  curriculum/challenges/arabic/01-responsive-web-design/basic-css/add-different-margins-to-each-side-of-an-element.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#36964 Improve translations/code block fix
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#36962 Fix code block
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#36961 Improve Arabic translation/fix code blockk
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#36960 Improve Arabic translation
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.arabic.md
Labels: language: Arabic, scope: curriculum, status: need to test locally

#38074 Added solution to this exercise
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38097 fix: Add edge case for mixed grouping of characters exercisee, where …
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters.english.md
Labels: language: English, scope: curriculum, status: need to test locally

#38088 docs: update copyrights
  README.md
  docs/i18n-languages/french/README.md
  docs/i18n-languages/italian/README.md
  docs/i18n-languages/japanese/README.md
  docs/i18n-languages/korean/README.md
  docs/i18n-languages/spanish/README.md
Labels: language: English, language: French, language: Japanese, language: Korean, scope: docs

#37542 Better russian language
  curriculum/challenges/russian/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37541 Better russian language
  curriculum/challenges/russian/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37540 Better russian translate
  curriculum/challenges/russian/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37539 Added Russian translate
  curriculum/challenges/russian/03-front-end-libraries/bootstrap/add-id-attributes-to-bootstrap-elements.russian.md
Labels: language: Russian, scope: curriculum, status: need to test locally

#37383 fix translation in CONTRIBUTING.md
  docs/i18n-languages/russian/CONTRIBUTING.md
Labels: language: Russian, scope: docs

#38099 fix: Correct paths in English exercises by prefixing "/" before "learn"
  curriculum/challenges/arabic/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.arabic.md
  curriculum/challenges/arabic/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.arabic.md
  curriculum/challenges/arabic/03-front-end-libraries/react/introducing-inline-styles.arabic.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/introducing-inline-styles.chinese.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.english.md
  curriculum/challenges/english/08-coding-interview-prep/data-structures/remove-elements-from-a-linked-list-by-index.english.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.portuguese.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.portuguese.md
  curriculum/challenges/portuguese/03-front-end-libraries/react/introducing-inline-styles.portuguese.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.russian.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.russian.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.russian.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.russian.md
  curriculum/challenges/russian/03-front-end-libraries/react/introducing-inline-styles.russian.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.spanish.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript.spanish.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.spanish.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions.spanish.md
  curriculum/challenges/spanish/03-front-end-libraries/react/introducing-inline-styles.spanish.md
Labels: language: English, scope: curriculum, status: need to test locally

#38127 fix(curriculum): removed part of user story no. 12 for the Build a Product Landing Page project
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.english.md
Labels: language: English, scope: curriculum, status: need to test locally
