Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-10, with the labels that each got.

#39773 fix(learn): changed test to be different from the video
  curriculum/challenges/english/08-data-analysis-with-python/numpy/initialize-array-problem.md
Labels: language: English, scope: learn, status: need to test locally

#39786 feat(learn): Create tool to delete an existing project step in project-based curriculum
  curriculum/package.json
  tools/challenge-helper-scripts/README.md
  tools/challenge-helper-scripts/create-empty-steps.js
  tools/challenge-helper-scripts/create-step-between.js
  tools/challenge-helper-scripts/delete-step.js
  tools/challenge-helper-scripts/utils.js
Labels: scope: learn, scope: tools/scripts

#39688 fix(learn): Change demo urls on various backend projects
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.md
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-camper-leaderboard.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-pinterest-clone.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/manage-a-book-trading-club.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/p2p-video-chat-application.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-the-local-weather.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/use-the-twitch-json-api.md
Labels: language: English, scope: learn, status: need to test locally

#39962 fix(cypress): update setting of env vars
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#39959 chore(curriculum): replace validator with Joi
  curriculum/package-lock.json
  curriculum/package.json
  curriculum/test/utils/mongoIds.js
Labels: scope: tools/scripts

#39311 Add Tests to the Shortener Microservice Project
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.md
Labels: language: English, scope: learn, scope: projects-backend, status: need to test locally, status: ready for QA

#39973 fix(learn): preserve whitespace in the tool panel
  client/src/templates/Challenges/components/test-suite.css
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/chaining-if-else-statements.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/apply-functional-programming-to-convert-strings-to-url-slugs.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/combinations.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hash-from-two-arrays.md
Labels: scope: learn

#39621 fix(learn): Implement map and filter
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-the-filter-method-on-a-prototype.md
Labels: language: English, scope: learn, status: need to test locally

#39660 fix(docs): add formatting instructions for coding challenge text
  docs/how-to-work-on-coding-challenges.md
Labels: language: English, scope: docs

#39981 refactor(learn): remove static prism css
  client/src/components/settings/SolutionViewer.js
  client/static/css/prism.css
Labels: platform: client

#39974 fix(learn): Remove isHidden from frontmatter for steps 87-94 of Cafe Menu project
  curriculum/challenges/_meta/basic-css-cafe-menu/meta.json
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-054.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-055.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-056.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-057.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-058.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-059.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-060.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-061.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-062.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-063.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-064.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-065.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-066.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-067.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-068.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-069.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-070.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-071.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-072.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-073.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-074.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-075.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-076.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-077.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-078.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-079.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-080.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-081.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-082.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-083.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-084.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-085.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-086.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-087.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-088.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-089.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-090.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-091.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-092.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-093.md
  curriculum/challenges/english/01-responsive-web-design/basic-css-cafe-menu/part-094.md
Labels: language: English, scope: learn

#39984 fix(curriculum): test typos
  curriculum/challenges/english/01-responsive-web-design/basic-html-cat-photo-app/part-040.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-characters-with-lazy-matching.md
  curriculum/challenges/english/03-front-end-libraries/sass/store-data-with-sass-variables.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/execute-brain.md
Labels: scope: learn

#39986 feat(learn): allow word breaks in tool panel
  client/src/templates/Challenges/components/test-suite.css
Labels: scope: learn

#39735 refactor(client): make ShowCertification functional
  client/src/client-only-routes/ShowCertification.js
Labels: language: English, platform: client

#39982 fix(learn): Strengthen test for "Check if Tree is Binary Search Tree"
  curriculum/challenges/english/10-coding-interview-prep/data-structures/check-if-binary-search-tree.md
Labels: language: English, scope: learn
