Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-08, with the labels that each got.

#39230 fix:regex error in selection sort insertion sort and merge sort
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-insertion-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-merge-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-selection-sort.english.md
Labels: language: English, scope: learn

#39349 fix(learn) Add ERMS to step 40 (v7)
  curriculum/challenges/english/01-responsive-web-design/basic-html-cat-photo-app/part-40.md
Labels: language: English, release: next/beta, status: need to test locally

#39358 fix(learn): Added test for Capitalized -> uncapitalized variants
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/search-and-replace.english.md
Labels: language: English, scope: learn, status: need to test locally

#38038 fix(i18n): update Chinese translation of es6
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/complete-a-promise-with-resolve-and-reject.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/create-a-javascript-promise.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/create-a-module-script.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/create-an-export-fallback-with-export-default.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/declare-a-read-only-variable-with-the-const-keyword.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/handle-a-fulfilled-promise-with-then.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/handle-a-rejected-promise-with-catch.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/import-a-default-export.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/mutate-an-array-declared-with-const.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/prevent-object-mutation.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/reuse-javascript-code-using-import.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/set-default-parameters-for-your-functions.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/understand-the-differences-between-import-and-require.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-arrow-functions-to-write-concise-anonymous-functions.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-arrays.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-nested-objects.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-extract-values-from-objects.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-operator-to-reassign-array-elements.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-parameter-to-reassign-array-elements.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-export-to-reuse-a-code-block.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-export-to-share-a-code-block.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-the-rest-operator-with-function-parameters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-the-rest-parameter-with-function-parameters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-the-spread-operator-to-evaluate-arrays-in-place.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/write-arrow-functions-with-parameters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/write-concise-object-literal-declarations-using-object-property-shorthand.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38042 fix(i18n): update Chinese translation of regular expressions
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-all-or-none.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/extract-matches.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/find-characters-with-lazy-matching.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/find-more-than-the-first-match.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/find-one-or-more-criminals-in-a-hunt.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/ignore-case-while-matching.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-a-literal-string-with-different-possibilities.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-letters-and-numbers.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-non-numbers.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-all-numbers.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-anything-with-wildcard-period.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-beginning-string-patterns.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-one-or-more-times.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-zero-or-more-times.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-ending-string-patterns.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-everything-but-letters-and-numbers.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-letters-of-the-alphabet.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-literal-strings.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-non-whitespace-characters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-numbers-and-letters-of-the-alphabet.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-single-character-with-multiple-possibilities.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-single-characters-not-specified.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/match-whitespace.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/remove-whitespace-from-start-and-end.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/reuse-patterns-using-capture-groups.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/specify-exact-number-of-matches.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/specify-only-the-lower-number-of-matches.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/specify-upper-and-lower-number-of-matches.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/use-capture-groups-to-search-and-replace.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/regular-expressions/using-the-test-method.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38054 fix(i18n): update Chinese translation of basic data structures
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/access-an-arrays-contents-using-bracket-notation.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/access-property-names-with-bracket-notation.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-to-an-array-with-push-and-unshift.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-using-splice.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/add-key-value-pairs-to-javascript-objects.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/check-for-the-presence-of-an-element-with-indexof.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/combine-arrays-with-the-spread-operator.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-array-items-using-slice.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/create-complex-multi-dimensional-arrays.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object.keys.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-all-an-arrays-items-using-for-loops.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-array-stored-in-an-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-object-nested-within-an-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-from-an-array-with-pop-and-shift.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-using-splice.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/use-an-array-to-store-a-collection-of-data.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/use-the-delete-keyword-to-remove-object-properties.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38055 fix(i18n): update Chinese i18n of object oriented programming
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/add-methods-after-inheritance.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/change-the-prototype-to-a-new-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/create-a-basic-javascript-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/create-a-method-on-an-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/define-a-constructor-function.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/extend-constructors-to-receive-arguments.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/inherit-behaviors-from-a-supertype.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/iterate-over-all-properties.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/make-code-more-reusable-with-the-this-keyword.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/override-inherited-methods.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/remember-to-set-the-constructor-property-when-changing-the-prototype.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/reset-an-inherited-constructor-property.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/set-the-childs-prototype-to-an-instance-of-the-parent.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-own-properties.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-constructor-property.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-immediately-invoked-function-expression-iife.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-prototype-chain.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-where-an-objects-prototype-comes-from.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-a-constructor-to-create-objects.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-a-mixin-to-add-common-behavior-between-unrelated-objects.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-an-iife-to-create-a-module.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-closure-to-protect-properties-within-an-object-from-being-modified-externally.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-dot-notation-to-access-the-properties-of-an-object.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-inheritance-so-you-dont-repeat-yourself.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-prototype-properties-to-reduce-duplicate-code.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/object-oriented-programming/verify-an-objects-constructor-with-instanceof.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38408 feat(client, api): Add Camper Join Date to Profile
  api-server/common/models/user.js
  api-server/server/boot/user.js
  client/src/components/profile/Profile.js
  client/src/components/profile/Profile.test.js
  client/src/components/profile/components/Camper.js
Labels: platform: api, platform: client, status: discussing

#39363 fix(learn): change test order to test for the value after execution has finished
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/avoid-mutations-and-side-effects-using-functional-programming.english.md
Labels: language: English, scope: learn, status: need to test locally

#39187 fix(curriculum): add regex to chai tests for double quotes
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.english.md
Labels: language: English, scope: learn, status: need to test locally

#39031 fixed spacing errors on .spanish.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-using-splice.spanish.md
Labels: language: Spanish, other: bike shedding, scope: learn, status: need to test locally

#38824 Remove `add` method test from "Reverse a Doubly Linked List"
  curriculum/challenges/english/10-coding-interview-prep/data-structures/reverse-a-doubly-linked-list.english.md
Labels: language: English, scope: learn, status: need to test locally

#39368 feat: add monitization meta
  client/src/head/meta.js
Labels: platform: client

#38061 fix(i18n): update Chinese translation of functional programming
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/add-elements-to-the-end-of-an-array-using-concat-instead-of-push.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/apply-functional-programming-to-convert-strings-to-url-slugs.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/avoid-mutations-and-side-effects-using-functional-programming.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/combine-an-array-into-a-string-using-the-join-method.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/combine-two-arrays-using-the-concat-method.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/implement-the-filter-method-on-a-prototype.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/introduction-to-currying-and-partial-application.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/learn-about-functional-programming.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avoid-external-dependence-in-a-function.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/refactor-global-variables-out-of-functions.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/remove-elements-from-an-array-using-slice-instead-of-splice.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/return-part-of-an-array-using-the-slice-method.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/split-a-string-into-an-array-using-the-split-method.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/understand-functional-programming-terminology.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/understand-the-hazards-of-using-imperative-code.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-higher-order-functions-map-filter-or-reduce-to-solve-a-complex-problem.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-every-method-to-check-that-every-element-in-an-array-meets-a-criteria.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-reduce-method-to-analyze-data.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-some-method-to-check-that-any-elements-in-an-array-meet-a-criteria.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39353 feat(tools): add LightHouse CI to the GitHub workflows
  .github/workflows/lighthouse-ci.yml
  lighthouserc.js
Labels: scope: tools/scripts

#39334 Removing extra '#' from property name to be consistent with previous challenges
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-has-a-property.english.md
Labels: language: English, scope: learn, status: need to test locally

#39367 chore: move search-indexing, supress webpack-cli progress
  client/package.json
  lerna.json
  package.json
  tools/search-indexing/algolia/index.js
  tools/search-indexing/data-push/init/challenges.js
  tools/search-indexing/data-push/init/guides.js
  tools/search-indexing/data-push/init/index.js
  tools/search-indexing/data-push/init/youtube.js
  tools/search-indexing/data-push/update/guides.js
  tools/search-indexing/data-sources/challenges/index.js
  tools/search-indexing/data-sources/guides/index.js
  tools/search-indexing/data-sources/news/getAllPosts.js
  tools/search-indexing/data-sources/youtube/index.js
  tools/search-indexing/package-lock.json
  tools/search-indexing/package.json
  tools/search-indexing/utils/index.js
  tools/search-indexing/utils/tests/utils.test.js
Labels: scope: tools/scripts

#39360 fix: Replace Array.prototype.sort and update old isSorted method.
  curriculum/challenges/arabic/08-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.arabic.md
  curriculum/challenges/chinese/08-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.chinese.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-bubble-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-insertion-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-merge-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-quick-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-selection-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-permutation-sort.english.md
  curriculum/challenges/portuguese/08-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.portuguese.md
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-bubble-sort.russian.md
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-insertion-sort.russian.md
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-merge-sort.russian.md
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-quick-sort.russian.md
  curriculum/challenges/russian/08-coding-interview-prep/algorithms/implement-selection-sort.russian.md
  curriculum/challenges/russian/08-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.russian.md
  curriculum/challenges/spanish/08-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.spanish.md
Labels: language: Arabic, language: Chinese, language: English, language: Portuguese, language: Russian, language: Spanish, scope: learn, status: need to test locally

#39395 fix: improve challenge logs
  client/src/client/workers/test-evaluator.js
Labels: platform: client

#39258 fix(curriculum): Fix punctuation in "Create a Bar for Each Data Point in the Set"
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-bar-for-each-data-point-in-the-set.english.md
Labels: language: English, scope: learn, status: need to test locally

#39290 fix:Incorrect Usage of setState in React Challenge
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/connect-redux-to-the-messages-app.english.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/extract-local-state-into-redux.english.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/manage-state-locally-first.english.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/use-provider-to-connect-redux-to-react.english.md
  curriculum/challenges/english/03-front-end-libraries/react/add-event-listeners.english.md
  curriculum/challenges/english/03-front-end-libraries/react/create-a-controlled-form.english.md
  curriculum/challenges/english/03-front-end-libraries/react/optimize-re-renders-with-shouldcomponentupdate.english.md
  curriculum/challenges/english/03-front-end-libraries/react/render-with-an-if-else-condition.english.md
Labels: language: English, scope: learn, status: need to test locally

#39405 fix: use forumLocation everywhere
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/NavLinks.js
  client/src/components/Intro/index.js
  client/src/templates/Challenges/components/HelpModal.js
Labels: platform: client

#38946 fix(i18n): update Chinese translation of advanced node and express
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/announce-new-users.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/authentication-strategies.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/authentication-with-socket.io.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/communicate-by-emitting.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/create-new-middleware.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/handle-a-disconnect.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/hashing-your-passwords.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/how-to-put-a-profile-together.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/logging-a-user-out.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/registration-of-new-users.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/set-up-a-template-engine.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/set-up-passport.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/set-up-the-environment.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38945 fix(i18n): update Chinese translation of quality assurance and testing with chai
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http-ii.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-string-contains-a-substring.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-falls-within-a-specific-range.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-a-string.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-an-array.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-variable-or-function-is-defined.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-array-contains-an-item.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-has-a-property.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-is-an-instance-of-a-constructor.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/test-if-one-value-is-below-or-at-least-as-large-as-another.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-regular-expressions-to-test-a-string.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-the-double-equals-to-assert-equality.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/use-the-triple-equals-to-assert-strict-equality.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38908 fix(i18n): update Chinese translation of information security with helmetjs
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/avoid-inferring-the-response-mime-type-with-helmet.nosniff.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/configure-helmet-using-the-parent-helmet-middleware.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/disable-client-side-caching-with-helmet.nocache.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/disable-dns-prefetching-with-helmet.dnsprefetchcontrol.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/hash-and-compare-passwords-synchronously.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/hide-potentially-dangerous-information-using-helmet.hidepoweredby.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/install-and-require-helmet.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/mitigate-the-risk-of-clickjacking-with-helmet.frameguard.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/mitigate-the-risk-of-cross-site-scripting-xss-attacks-with-helmet.xssfilter.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/prevent-ie-from-opening-untrusted-html-with-helmet.ienoopen.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy.chinese.md
  curriculum/challenges/chinese/06-information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-hashes.chinese.md
Labels: language: Chinese, scope: i18n, scope: learn, status: need to test locally

#38901 fix(i18n): update Chinese translation of install and set up mongoose
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/chain-search-query-helpers-to-narrow-search-results.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/create-a-model.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/create-and-save-a-record-of-a-model.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/create-many-records-with-model.create.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/delete-many-documents-with-model.remove.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/delete-one-document-using-model.findbyidandremove.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/perform-classic-updates-by-running-find-edit-then-save.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/perform-new-updates-on-a-document-using-model.findoneandupdate.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/use-model.find-to-search-your-database.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/use-model.findbyid-to-search-your-database-by-id.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/use-model.findone-to-return-a-single-matching-document-from-your-database.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39341 Feat: editable dom element
  client/src/client/frame-runner.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  curriculum/test/test-challenges.js
  utils/get-lines.js
  utils/get-lines.test.js
Labels: platform: client, scope: tools/scripts

#39426 fix: revert explicit Gatsby schema
  client/gatsby-node.js
Labels: platform: client

#39404 fix: redirect users to success url after /donation completion
  client/src/components/Donation/DonateForm.js
  config/donation-settings.js
Labels: platform: client

#38669 fix: prevent dev tools from accessing state in prod
  client/gatsby-node.js
  client/src/redux/createStore.js
  config/env.js
Labels: platform: client, scope: tools/scripts

#39431 fix(client): ensure presetEnv is loaded
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: client

#39440 fix(client): format cert date in user's timezone
  api-server/server/boot/certificate.js
  client/src/client-only-routes/ShowCertification.js
Labels: platform: api, platform: client

#39400 feat(client): shinny new landing page 🎉
  client/package-lock.json
  client/package.json
  client/src/assets/icons/LinkButton.js
  client/src/assets/images/components/AmazonLogo.js
  client/src/assets/images/components/AppleLogo.js
  client/src/assets/images/components/AsFeatureLogo.js
  client/src/assets/images/components/GoogleLogo.js
  client/src/assets/images/components/MicrosoftLogo.js
  client/src/assets/images/components/SpotifyLogo.js
  client/src/assets/images/components/index.js
  client/src/assets/images/landing/Emma.png
  client/src/assets/images/landing/Sarah.png
  client/src/assets/images/landing/Shawn.png
  client/src/assets/images/landing/wide-image.png
  client/src/client-only-routes/ShowUser.js
  client/src/client-only-routes/showuser.css
  client/src/components/Intro/index.js
  client/src/components/Intro/intro.css
  client/src/components/helpers/CurrentChallengeLink.js
  client/src/components/helpers/ImageLoader.js
  client/src/components/helpers/image-loader.css
  client/src/components/helpers/index.js
  client/src/components/landing/components/AsSeenIn.js
  client/src/components/landing/components/BigCallToAction.js
  client/src/components/landing/components/Certifications.js
  client/src/components/landing/components/CompanyLogos.js
  client/src/components/landing/components/LandingTop.js
  client/src/components/landing/components/Testimonials.js
  client/src/components/landing/components/companyLogos.css
  client/src/components/landing/index.js
  client/src/components/landing/landing.css
  client/src/components/landing/landingMeta.js
  client/src/components/layouts/global.css
  client/src/pages/index.js
  client/utils/gatsby/layoutSelector.js
  cypress/integration/landing.js
Labels: platform: client

#39449 fix: handle editable region covering top of editor
  client/src/templates/Challenges/classic/Editor.js
Labels: platform: client

#39448 feat(learn): Added project-based curriculum tools
  curriculum/package-lock.json
  curriculum/package.json
  curriculum/tools/README.md
  curriculum/tools/create-empty-steps.js
  curriculum/tools/create-next-step.js
  curriculum/tools/reorder-steps.js
  curriculum/tools/utils.js
Labels: release: next/beta, scope: tools/scripts

#39304 curriculum: add test in React challenge to detect constructor call
  curriculum/challenges/english/03-front-end-libraries/react/write-a-react-component-from-scratch.english.md
Labels: language: English, scope: learn, status: need to test locally, status: ready for QA

#39465 fix(e2e): wait for editor before running tests
  cypress/integration/learn/challenges/output.js
Labels: scope: tools/scripts

#39029 Spelling error on 'motores de busqueda'
  curriculum/challenges/spanish/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.spanish.md
Labels: language: Spanish, scope: learn, status: need to test locally

#39030 fixed spelling errors on .spanish.md for readability
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/basic-data-structures/access-an-arrays-contents-using-bracket-notation.spanish.md
Labels: language: Spanish, scope: learn, status: need to test locally

#39473 docs: add description of new template
  docs/how-to-work-on-coding-challenges.md
Labels: scope: docs

#39339 Fix typo in 'integer' word
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-analysis-example-b.english.md
Labels: language: English, scope: learn

#39469 fix(learn): Correct filenames in d3 dashboard project
  curriculum/challenges/english/04-data-visualization/d3-dashboard/part-004.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/part-074.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/part-129.md
Labels: release: next/beta, scope: learn

#39133 fix: tests for use a retina image challenge
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.english.md
Labels: language: English, scope: learn, status: need to test locally

#38524 update description of "Nest an anchor element in a paragraph" as discussed in #38507
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.english.md
Labels: language: English, scope: learn

#38839 Changed optional plural to possessive
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.english.md
Labels: language: English, scope: learn, status: need to test locally

#38515 Double quotes is added for a Word since it was Confusing without the Quotes
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-s-tag-to-strikethrough-text.english.md
Labels: language: English, scope: learn, status: need to test locally

#39040 fix(learn): added 1 test for headline with h2 challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/headline-with-the-h2-element.english.md
Labels: language: English, scope: learn, status: need to test locally

#39414 Changes order of padding, border, margin in introductory sentence.
  curriculum/challenges/english/01-responsive-web-design/basic-css/adjust-the-padding-of-an-element.english.md
Labels: language: English, scope: learn

#38316 fix(learn): Added code tags to translated texts
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-strong-tag-to-make-text-bold.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-u-tag-to-underline-text.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-a-submit-button-to-a-form.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-an-ordered-list.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/headline-with-the-h2-element.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.english.md
Labels: language: English, scope: learn, status: need to test locally

#39046 minor <code> tag fixes
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-add-keyboard-focus-to-an-element.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-column.english.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-row.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.english.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.english.md
Labels: language: English, scope: learn, status: need to test locally

#38833 Clarify instructions in "Insert an Element into a Max Heap"
  curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.english.md
Labels: language: English, scope: learn, status: need to test locally

#38480 fix(Curriculum): make sure the nested input element in the form is th…
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.english.md
Labels: language: English, scope: learn, status: need to test locally

#39457 fix global flag fail in Regex by resetting last Index
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-anything-with-wildcard-period.english.md
Labels: language: English, scope: learn, status: need to test locally

#39444 fix: update take home project links
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-camper-leaderboard.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-light-bright-app.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-pinterest-clone.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-pong-game.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-recipe-box.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-roguelike-dungeon-crawler-game.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-simon-game.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-tic-tac-toe-game.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-voting-app.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-wikipedia-viewer.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-an-image-search-abstraction-layer.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-the-game-of-life.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/chart-the-stock-market.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/manage-a-book-trading-club.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/map-data-across-the-globe.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/p2p-video-chat-application.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-national-contiguity-with-a-force-directed-graph.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-the-local-weather.english.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/use-the-twitch-json-api.english.md
Labels: language: English, scope: learn, status: need to test locally

#39044 feat: split JS challenge into two
  curriculum/challenges/_meta/basic-javascript/meta.json
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/assigning-the-value-of-one-variable-to-another.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/storing-values-with-the-assignment-operator.english.md
Labels: language: English, scope: learn, status: need to test locally, status: needs update

#39208 fix(learn/coding-interview-prep/rosetta-code/24-game)
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/24-game.english.md
Labels: language: English, scope: learn, status: need to test locally

#38330 fix (curriculum): Adding regex to disregard any whitespaces in the basic-css challenge
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-attribute-selectors-to-style-elements.english.md
Labels: language: English, scope: learn, status: need to test locally
