Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-06, with the labels that each got.

#38970 fix(api): update url in email template
  api-server/server/views/emails/certified.ejs
Labels: platform: api

#38954 fix(client): update report user verbiage and link
  api-server/server/boot/user.js
  client/src/components/profile/Profile.js
  client/src/components/profile/Profile.test.js
  client/src/components/profile/__snapshots__/Profile.test.js.snap
Labels: platform: client

#38968 fix(client): background-color in code blocks of questions
  client/src/templates/Challenges/video/show.css
Labels: platform: client

#38948 fix(client): public profile qa and infosec certification links
  client/src/redux/index.js
Labels: platform: client, type: critical path

#38974 fix(client): remove auto redirect on report user page
  client/src/client-only-routes/ShowUser.js
  client/src/client-only-routes/showuser.css
Labels: platform: client

#38897 Fixes broken link to 'undefined is a keyword'
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.english.md
Labels: language: English, scope: learn, status: need to test locally, status: work in progress

#38951 fix(curriculum): add clarification to question and escape backslash
  curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/regular-expressions.english.md
Labels: language: English, release: next/beta, scope: learn, status: need to test locally, status: needs update

#38986 fix(docs): emphasize use of Markdown in challenges
  docs/how-to-help-with-video-challenges.md
Labels: scope: docs, scope: learn

#38992 fix(client): allow numbers as answers
  tools/challenge-md-parser/tests-to-data.js
Labels: scope: learn

#38912 fix(certs): add year to certs introduced in 2020
  api-server/common/models/user.json
  api-server/server/boot/certificate.js
  api-server/server/boot/user.js
  api-server/server/utils/certTypes.json
  api-server/server/utils/commit.js
  api-server/server/utils/getDynamicPropsForUser.js
  api-server/server/utils/publicUserProps.js
  api-server/server/utils/user-stats.js
  client/src/client-only-routes/ShowSettings.js
  client/src/components/settings/Certification.js
  client/src/components/settings/Certification.test.js
  client/src/redux/index.js
  tools/scripts/seed/seedAuthUser.js
Labels: platform: api, platform: client

#38995 feat(learn): add full stack certificate markdown
  api-server/server/boot/certificate.js
  client/src/components/settings/Certification.js
  curriculum/challenges/_meta/full-stack-certificate/meta.json
  curriculum/challenges/english/12-certificates/full-stack-certificate/full-stack-certificate.english.md
Labels: platform: api, platform: client, scope: learn, status: blocked, type: critical path

#38981 fix: more conditional structures python
  curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/more-conditional-structures.english.md
Labels: language: English, scope: learn, status: need to test locally

#38855 Add: forumTopicId for rosetta code
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/last-letter-first-letter.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/letter-frequency.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/levenshtein-distance.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/linear-congruential-generator.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/long-multiplication.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/longest-common-subsequence.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/longest-increasing-subsequence.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/longest-string-challenge.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/look-and-say-sequence.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/loop-over-multiple-arrays-simultaneously.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/lu-decomposition.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/lucas-lehmer-test.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/ludic-numbers.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/luhn-test-of-credit-card-numbers.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/lychrel-numbers.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/lzw-compression.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/self-describing-numbers.english.md
Labels: language: English, scope: learn, status: need to test locally

#38892 feat: update cypress version and config
  .github/workflows/cypress.yml
  .gitignore
  package-lock.json
  package.json
Labels: scope: tools/scripts

#39034 fix(client): sync Redux store and DB
  api-server/server/boot/certificate.js
  client/src/redux/index.js
  client/src/redux/settings/settings-sagas.js
Labels: platform: api, platform: client

#39036 fix: start-server-and-test to organise e2e tests
  cypress/run-e2e.sh
  package-lock.json
  package.json
Labels: scope: tools/scripts

#39050 chore: refactor and simplify testing
  api-server/server/middlewares/validator.js
  client/gatsby-node.js
  client/src/components/Donation/DonationModal.js
  client/src/components/Map/components/Block.js
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/code-storage-epic.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/polyvinyl.js
  client/utils/buildChallenges.js
  curriculum/getChallenges.js
  curriculum/test/test-challenges.js
  utils/block-nameify.js
  utils/polyvinyl.js
Labels: platform: client, scope: tools/scripts

#39065 fix(learn): use more precise abbreviation for ReLU
  curriculum/challenges/english/11-machine-learning-with-python/tensorflow/neural-networks-activation-functions.english.md
Labels: language: English, release: next/beta, scope: learn, status: need to test locally

#39062 fix: update video link for Relationship Building challenge.
  curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/relational-databases-relationship-building.english.md
Labels: language: English, release: next/beta, scope: learn, status: need to test locally

#39061 fix: update Colab link and wording machine learning challenges
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/book-recommendation-engine-using-knn.english.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier.english.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/linear-regression-health-costs-calculator.english.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/neural-network-sms-text-classifier.md
Labels: language: English, release: next/beta, scope: learn, status: need to test locally

#39056 fix(curriculum): Fixed Spelling Error. 'lightning speed'
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.arabic.md
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.arabic.md
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.arabic.md
  curriculum/challenges/arabic/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.arabic.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.chinese.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.chinese.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.english.md
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.portuguese.md
  curriculum/challenges/portuguese/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.portuguese.md
  curriculum/challenges/russian/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.russian.md
  curriculum/challenges/russian/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.russian.md
  curriculum/challenges/russian/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.russian.md
  curriculum/challenges/russian/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.russian.md
Labels: language: Arabic, language: Chinese, language: English, language: Portuguese, language: Russian, scope: learn, status: need to test locally

#39004 fix(curriculum): improve test robustness
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.english.md
Labels: language: English, scope: learn, status: need to test locally

#39066 feat(donate): allow mutiple donations with warning
  client/src/pages/donate.js
Labels: platform: client, release: production

#38997 feat(docs): add wsl setup to docs
  docs/_sidebar.md
  docs/how-to-setup-wsl.md
Labels: scope: docs

#39073 fix(client): ensure dom ready before testing
  client/src/client/frame-runner.js
Labels: platform: client

#39026 feat(learn): rename certificates, cert slugs, and cert flags
  api-server/common/utils/legacyProjectData.js
  api-server/server/boot/certificate.js
  api-server/server/utils/certTypes.json
  api-server/server/utils/constantStrings.json
  api-server/server/utils/superBlockCertTypeMap.js
  client/src/client-only-routes/ShowCertification.js
  client/src/components/settings/Certification.js
  client/src/pages/learn/information-security/information-security-projects/index.md
  client/src/redux/index.js
  client/src/resources/certAndProjectMap.js
  client/src/resources/certProjectMap.js
  client/utils/challengeTypes.js
  client/utils/validCertNames.js
  curriculum/challenges/_meta/apis-and-microservices-certificate/meta.json
  curriculum/challenges/_meta/data-analysis-with-python-certificate/meta.json
  curriculum/challenges/_meta/information-security-certificate/meta.json
  curriculum/challenges/_meta/information-security-projects/meta.json
  curriculum/challenges/_meta/legacy-full-stack-certificate/meta.json
  curriculum/challenges/_meta/legacy-information-security-and-quality-assurance-certificate/meta.json
  curriculum/challenges/_meta/machine-learning-with-python-certificate/meta.json
  curriculum/challenges/_meta/quality-assurance-certificate/meta.json
  curriculum/challenges/_meta/scientific-computing-with-python-certificate/meta.json
  curriculum/challenges/english/12-certificates/apis-and-microservices-certificate/apis-and-microservices-certificate.english.md
  curriculum/challenges/english/12-certificates/information-security-certificate/information-security-certificate.english.md
  curriculum/challenges/english/12-certificates/legacy-full-stack-certificate/legacy-full-stack-certificate.english.md
  tools/scripts/build/__snapshots__/create-redirects.test.js.snap
  tools/scripts/build/create-redirects.js
  utils/index.js
Labels: language: English, platform: api, platform: client, scope: learn, status: need to test locally, type: critical path

#39032 fix(learn): update pages for new qa and infosec projects
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.english.md
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.english.md
Labels: language: English, scope: learn, status: need to test locally, type: critical path

#39077 fix(api): csurf to SameSite 'strict', https only
  api-server/server/middlewares/csurf.js
Labels: platform: api

#39087 fix(learn): versioning for new certificate slugs
  api-server/common/models/user.json
  api-server/server/boot/certificate.js
  api-server/server/boot/user.js
  api-server/server/utils/certTypes.json
  api-server/server/utils/commit.js
  api-server/server/utils/constantStrings.json
  api-server/server/utils/getDynamicPropsForUser.js
  api-server/server/utils/publicUserProps.js
  api-server/server/utils/superBlockCertTypeMap.js
  api-server/server/utils/user-stats.js
  client/src/client-only-routes/ShowSettings.js
  client/src/components/settings/Certification.js
  client/src/components/settings/Certification.test.js
  client/src/redux/index.js
  client/src/resources/certAndProjectMap.js
  curriculum/challenges/_meta/data-analysis-with-python-certificate/meta.json
  curriculum/challenges/_meta/information-security-certificate/meta.json
  curriculum/challenges/_meta/machine-learning-with-python-certificate/meta.json
  curriculum/challenges/_meta/quality-assurance-certificate/meta.json
  curriculum/challenges/_meta/scientific-computing-with-python-certificate/meta.json
  curriculum/challenges/english/12-certificates/information-security-certificate/information-security-certificate.english.md
  curriculum/challenges/english/12-certificates/quality-assurance-certificate/quality-assurance-certificate.english.md
  tools/scripts/seed/seedAuthUser.js
  utils/index.js
Labels: platform: api, platform: client, scope: learn, status: ready for QA, type: critical path

#39079 feat: add python syntax highlighting
  client/.babelrc
  client/package-lock.json
  client/package.json
  client/src/components/layouts/Learn.js
Labels: platform: client

#39090 fix: style for video answers
  client/src/components/layouts/prism-night.css
  client/src/templates/Challenges/video/show.css
Labels: platform: client

#39027 fix comparing-and-sorting-tuples answer
  curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/comparing-and-sorting-tuples.english.md
  curriculum/challenges/english/08-data-analysis-with-python/numpy/copying-arrays-warning.english.md
Labels: language: English, scope: learn, status: need to test locally

#39106 feat: create codeql for static analysis
  .github/workflows/codeql-analysis.yml
Labels: type: feature request

#39107 chore: remove unused quotes files
  client/src/resources/quotes.json
Labels: platform: client, status: ready for QA

#39114 fix(api): csrf over http in development
  api-server/server/middlewares/csurf.js
Labels: platform: api

#39083 Remove example code from challenge seed
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-whole-numbers-with-javascript.english.md
Labels: language: English, scope: learn, status: need to test locally

#39086 fix(curriculum): Add default white bg to tree DS image for better view
  curriculum/challenges/english/10-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.english.md
Labels: language: English, scope: learn, status: need to test locally

#39137 feat(client): /s/react-youtube/plyr-react/g
  client/package-lock.json
  client/package.json
  client/src/templates/Challenges/video/Plyr.js
  client/src/templates/Challenges/video/Show.js
  client/src/templates/Challenges/video/show.css
Labels: platform: client, release: next/beta

#39145 feat: allow next challenge's seed to be a solution
  curriculum/test/test-challenges.js
  curriculum/test/utils/sort-challenges.js
  curriculum/test/utils/sort-challenges.test.js
  package.json
Labels: scope: tools/scripts

#39143 fix(learn): change forum link in help modal
  client/src/templates/Challenges/components/HelpModal.js
Labels: platform: client, release: production

#39141 chore: update forum links in NavLinks
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/NavLinks.js
Labels: platform: client, release: production
