Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2020-09, with the labels that each got.

#39420 Proposed change to remove whitespace for issue #39370
  curriculum/challenges/english/03-front-end-libraries/react/render-state-in-the-user-interface.english.md
Labels: language: English, scope: learn, status: need to test locally

#38649 fix(curriculum): regex to target html elements using jQuery to captur…
  curriculum/challenges/english/03-front-end-libraries/jquery/target-html-elements-with-selectors-using-jquery.english.md
Labels: language: English, scope: learn, status: need to test locally

#39495 chore: downgrade husky so it works with guis
  package-lock.json
  package.json
Labels: scope: tools/scripts

#39385 fix(learn): improved tests for validating incrementer function
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/avoid-mutations-and-side-effects-using-functional-programming.english.md
Labels: language: English, scope: learn, status: need to test locally

#39347 Fix: Running Test with a comment fails test on Understand The immediately invoked function expression iife
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-the-immediately-invoked-function-expression-iife.english.md
Labels: language: English, scope: learn, status: need to test locally

#39019 fix(learn): Add for and id attributes to label and input
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes.english.md
Labels: language: English, scope: learn, status: need to test locally

#38770 fix(curriculum): changed test to use regex
  curriculum/challenges/english/01-responsive-web-design/basic-css/size-your-images.english.md
Labels: language: English, scope: learn, status: need to test locally

#39512 Fix(learn): getter setter instructions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.english.md
Labels: language: English, scope: learn

#39511 Fix(learn): font size multiple headings exercise
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.english.md
Labels: language: English, scope: learn

#39479 Clarify instructions to remove confusion
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-variables.english.md
Labels: language: English, scope: learn, status: need to test locally

#39485 Clarify how object names are associated with destructured fields
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters.english.md
Labels: language: English, scope: learn, status: need to test locally

#38944 Changed Regex of 3rd textString
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.english.md
Labels: language: English, scope: learn, status: need to test locally

#39259 fix(curriculum): Fix typography in "Set a Domain and a Range on a Scale"
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/set-a-domain-and-a-range-on-a-scale.english.md
Labels: language: English, scope: learn, status: need to test locally

#38026 Added clearer instructions to the "Create Many Records with model.create()" challenge
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/create-many-records-with-model.create.english.md
Labels: language: English, scope: learn, status: need to test locally

#39478 fix: convert async tests to synchronous
  curriculum/challenges/english/03-front-end-libraries/react/create-a-controlled-form.english.md
  curriculum/challenges/english/03-front-end-libraries/react/optimize-re-renders-with-shouldcomponentupdate.english.md
  curriculum/challenges/english/03-front-end-libraries/react/render-conditionally-from-props.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-a-ternary-expression-for-conditional-rendering.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-advanced-javascript-in-react-render-method.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-array.filter-to-dynamically-filter-an-array.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-array.map-to-dynamically-render-elements.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-state-to-toggle-an-element.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-the-lifecycle-method-componentdidmount.english.md
Labels: language: English, scope: learn, status: need to test locally

#37891 fix: add tests for metric-imperial-converter (infosec)
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.english.md
Labels: language: English, scope: learn, status: need to test locally

#39497 docs: remove beta statement
  docs/how-to-help-with-video-challenges.md
Labels: scope: docs

#39045 fix(learn): formatting bug preventing tests to pass
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.english.md
Labels: language: English, scope: learn, status: need to test locally

#39424 feat(learn): add word frequency challenge to rosetta section
  curriculum/challenges/_meta/rosetta-code/meta.json
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/word-frequency.english.md
Labels: language: English, scope: learn, status: need to test locally

#39054 fix(learn): update Write Arrow Functions with Parameters tests
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-arrow-functions-with-parameters.english.md
Labels: language: English, scope: learn, status: need to test locally

#39194 fix(client): update middleware names of helmet.js tests
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.english.md
Labels: language: English, scope: learn, status: need to test locally

#38834 Add previously written methods to challenge seed in "Remove an Element from a Max Heap"
  curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.english.md
Labels: language: English, scope: learn, status: need to test locally

#38907 fix: update formatting, add image + solution
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-199-iterative-circle-packing.english.md
Labels: language: English, scope: learn, status: need to test locally, status: needs update

#39499 fix: data analysis links
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-analysis-example-a.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-analysis-example-b.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-cleaning-and-visualizations.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-cleaning-duplicates.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-cleaning-introduction.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-cleaning-with-dataframes.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/how-to-use-jupyter-notebooks-intro.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/introduction-to-data-analysis.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/jupyter-notebooks-cells.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/jupyter-notebooks-importing-and-exporting-data.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/numpy-algebra-and-size.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/numpy-arrays.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/numpy-boolean-arrays.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/numpy-introduction-a.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/numpy-introduction-b.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/numpy-operations.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-condtitional-selection-and-modifying-dataframes.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-creating-columns.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-dataframes.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-indexing-and-conditional-selection.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-introduction.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/parsing-html-and-saving-data.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/python-functions-and-collections.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/python-introduction.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/python-iteration-and-modules.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-csv-and-txt.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-from-databases.english.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-introduction.english.md
Labels: language: English, scope: learn

#39506 Update unclear instructions on an FCC CSS Grid challenge in English #39433
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template.english.md
Labels: language: English, scope: learn

#39492 Fix typo in title
  curriculum/challenges/_meta/data-analysis-with-python-course/meta.json
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-conditional-selection-and-modifying-dataframes.english.md
Labels: language: English, scope: learn, status: blocked, status: need to test locally

#39518 Grammatical fixes in "Serialization of a user object" lesson in "Advanced Node & Express"
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.english.md
Labels: language: English, scope: learn

#39080 fix(curriculum): advanced node express changes for new boilerplate
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/announce-new-users.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-strategies.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/communicate-by-emitting.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/create-new-middleware.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/handle-a-disconnect.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/hashing-your-passwords.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-put-a-profile-together.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/logging-a-user-out.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/registration-of-new-users.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-passport.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.english.md
Labels: language: English, scope: learn, status: need to test locally

#38670 fix: Add information about local development for RWD projects
  client/src/pages/learn/responsive-web-design/responsive-web-design-projects/index.md
Labels: language: English, scope: learn

#39112 Use JQuery to solve Catastrophic Backtracking with regex
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/define-the-head-and-body-of-an-html-document.english.md
Labels: language: English, scope: learn, status: need to test locally, status: ready for QA

#39522 fix: negative sentiment → neutral language
  api-server/server/middlewares/add-return-to.js
  api-server/server/middlewares/constant-headers.js
  api-server/server/middlewares/request-authorization.js
  api-server/server/middlewares/request-authorization.test.js
  config/cors-settings.js
  curriculum/challenges/arabic/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.arabic.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.chinese.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.english.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy.english.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.portuguese.md
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.russian.md
  curriculum/challenges/spanish/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.spanish.md
  utils/validate.test.js
Labels: language: English, scope: api, scope: learn

#38889 fix(i18n): update Chinese translation of basic node and express
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/chain-middleware-to-create-a-time-server.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/get-data-from-post-requests.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/get-query-parameter-input-from-the-client.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/get-route-parameter-input-from-the-client.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/implement-a-root-level-request-logger-middleware.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/meet-the-node-console.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-an-html-file.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-json-on-a-specific-route.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-static-assets.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/start-a-working-express-server.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/use-body-parser-to-parse-post-requests.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38045 fix(i18n): update Chinese translation of debugging
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-arguments-passed-in-the-wrong-order-when-calling-a-function.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-missing-open-and-closing-parenthesis-after-a-function-call.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-misspelled-variable-and-function-names.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-mixed-usage-of-single-and-double-quotes.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-off-by-one-errors-when-using-indexing.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-unclosed-parentheses-brackets-braces-and-quotes.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/catch-use-of-assignment-operator-instead-of-equality-operator.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/prevent-infinite-loops-with-a-valid-terminal-condition.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/use-caution-when-reinitializing-variables-inside-a-loop.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/use-the-javascript-console-to-check-the-value-of-a-variable.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/use-typeof-to-check-the-type-of-a-variable.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38442 feat(i18n):Chinese intermediate algorithm scripting
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/binary-agents.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/convert-html-entities.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/diff-two-arrays.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/dna-pairing.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/drop-it.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/everything-be-true.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/map-the-debris.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/missing-letters.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/pig-latin.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/search-and-replace.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/seek-and-destroy.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/smallest-common-multiple.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/spinal-tap-case.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-numbers-in-a-range.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-primes.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/wherefore-art-thou.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38595 fix(i18n): update Chinese translation of sass
  curriculum/challenges/chinese/03-front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/create-reusable-css-with-mixins.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/extend-one-set-of-css-styles-to-another-element.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/nest-css-with-sass.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/split-your-styles-into-smaller-chunks-with-partials.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/store-data-with-sass-variables.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/use-each-to-map-over-items-in-a-list.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/use-for-to-create-a-sass-loop.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/sass/use-if-and-else-to-add-logic-to-your-styles.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38786 fix(i18n): update Chinese translation of react and redux
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/connect-redux-to-react.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/connect-redux-to-the-messages-app.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/extract-local-state-into-redux.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/extract-state-logic-to-redux.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/getting-started-with-react-redux.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/manage-state-locally-first.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/map-dispatch-to-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/map-state-to-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/moving-forward-from-here.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react-and-redux/use-provider-to-connect-redux-to-react.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38864 fix(i18n): update Chinese translation of data visualization projects
  curriculum/challenges/chinese/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38826 fix(i18n): update Chinese translation of front end libraries projects
  curriculum/challenges/chinese/03-front-end-libraries/front-end-libraries-projects/build-a-drum-machine.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/front-end-libraries-projects/build-a-javascript-calculator.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/front-end-libraries-projects/build-a-markdown-previewer.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/front-end-libraries-projects/build-a-pomodoro-clock.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/front-end-libraries-projects/build-a-random-quote-machine.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38825 fix(i18n): update Chinese translation of redux
  curriculum/challenges/chinese/03-front-end-libraries/redux/combine-multiple-reducers.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/copy-an-object-with-object.assign.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/create-a-redux-store.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/define-a-redux-action.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/define-an-action-creator.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/dispatch-an-action-event.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/get-state-from-the-redux-store.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/handle-an-action-in-the-store.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/never-mutate-state.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/register-a-store-listener.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/remove-an-item-from-an-array.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/send-action-data-to-the-store.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/use-a-switch-statement-to-handle-multiple-actions.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/use-const-for-action-types.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/use-middleware-to-handle-asynchronous-actions.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/use-the-spread-operator-on-arrays.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/redux/write-a-counter-with-redux.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38494 fix(i18n): update Chinese translation of JavaScript Algorithms and Da…
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/caesars-cipher.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/cash-register.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/palindrome-checker.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/roman-numeral-converter.chinese.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38560 fix(i18n): update Chinese translation of bootstrap
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/add-elements-within-your-bootstrap-wells.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-our-buttons.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/add-id-attributes-to-bootstrap-elements.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/apply-the-default-bootstrap-button-style.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/call-out-optional-actions-with-btn-info.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/center-text-with-bootstrap.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-a-block-element-bootstrap-button.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-a-bootstrap-button.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-a-bootstrap-headline.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-a-bootstrap-row.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-a-class-to-target-with-jquery-selectors.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-a-custom-heading.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/create-bootstrap-wells.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/ditch-custom-css-for-bootstrap.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/give-each-element-a-unique-id.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/house-our-page-within-a-bootstrap-container-fluid-div.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/label-bootstrap-buttons.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/label-bootstrap-wells.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/line-up-form-elements-responsively-with-bootstrap.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/make-images-mobile-responsive.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/responsively-style-checkboxes.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/responsively-style-radio-buttons.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/split-your-bootstrap-row.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/style-text-inputs-as-form-controls.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/taste-the-bootstrap-button-color-rainbow.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/use-a-span-to-target-inline-elements.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/use-comments-to-clarify-code.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/use-responsive-design-with-bootstrap-fluid-containers.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/use-the-bootstrap-grid-to-put-elements-side-by-side.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/bootstrap/warn-your-users-of-a-dangerous-action-with-btn-danger.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38579 fix(i18n): update Chinese translation of jquery
  curriculum/challenges/chinese/03-front-end-libraries/jquery/change-text-inside-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/change-the-css-of-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/clone-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/delete-your-jquery-functions.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/disable-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/learn-how-script-tags-and-document-ready-work.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/remove-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/remove-classes-from-an-element-with-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-a-specific-child-of-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-elements-by-class-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-elements-by-id-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-even-elements-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-html-elements-with-selectors-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-the-children-of-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-the-parent-of-an-element-using-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/target-the-same-element-with-multiple-jquery-selectors.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/use-appendto-to-move-elements-with-jquery.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/jquery/use-jquery-to-modify-the-entire-page.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38863 fix(i18n): update Chinese translation of json apis and ajax
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/change-text-with-click-events.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/convert-json-data-to-html.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/get-geolocation-data-to-find-a-users-gps-coordinates.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/handle-click-events-with-javascript-using-the-onclick-property.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/post-data-with-the-javascript-xmlhttprequest-method.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/pre-filter-json-to-get-the-data-you-need.chinese.md
  curriculum/challenges/chinese/04-data-visualization/json-apis-and-ajax/render-images-from-data-sources.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39534 Fix tests failing due to whitespaces and trailing forward slash in Advanced Node and Express
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md
Labels: language: English, scope: learn, status: need to test locally

#39544 fix(client): solutionLink -> solution
  client/src/templates/Challenges/projects/SolutionForm.js
Labels: platform: client

#39545 fix: remove scrimba link for inaccurate video
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator.english.md
Labels: language: English, scope: learn

#39526 fix: project 25 + 5
  README.md
  api-server/common/utils/legacyProjectData.js
  client/src/pages/learn/front-end-libraries/front-end-libraries-projects/index.md
  client/src/resources/certAndProjectMap.js
  curriculum/challenges/_meta/front-end-libraries-projects/meta.json
  curriculum/challenges/arabic/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.arabic.md
  curriculum/challenges/chinese/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.chinese.md
  curriculum/challenges/chinese/12-certificates/front-end-libraries-certificate/front-end-libraries-certificate.chinese.md
  curriculum/challenges/chinese/12-certificates/legacy-front-end-certificate/legacy-front-end-certificate.chinese.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.english.md
  curriculum/challenges/english/12-certificates/front-end-libraries-certificate/front-end-libraries-certificate.english.md
  curriculum/challenges/english/12-certificates/legacy-front-end-certificate/legacy-front-end-certificate.english.md
  curriculum/challenges/portuguese/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.portuguese.md
  curriculum/challenges/russian/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.russian.md
  curriculum/challenges/russian/09-certificates/front-end-libraries-certificate/front-end-libraries-certificate.russian.md
  curriculum/challenges/russian/09-certificates/legacy-front-end-certificate/legacy-front-end-certificate.russian.md
  curriculum/challenges/spanish/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.spanish.md
  docs/i18n-languages/arabic/README.md
  docs/i18n-languages/french/README.md
  docs/i18n-languages/italian/README.md
  docs/i18n-languages/korean/README.md
  docs/i18n-languages/portuguese/README.md
  docs/i18n-languages/spanish/README.md
  docs/i18n-languages/ukrainian/README.md
  docs/i18n-languages/vietnamese/README.md
Labels: platform: api, platform: client, scope: learn, type: critical path

#39525 fix(challenge): update variable names, assign empty array, update solution code, remove "use strict"
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals.english.md
Labels: language: English, scope: learn, status: discussing, status: need to test locally

#39559 fix(learn): Remove Scrimba video links for two challenges that do not reflect current seed/solution
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.english.md
Labels: language: English, scope: learn, status: need to test locally

#39557 fix: update instructions to be consistent
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.english.md
Labels: language: English, scope: learn

#39570 fix: size your images challenge
  curriculum/challenges/english/01-responsive-web-design/basic-css/size-your-images.english.md
Labels: language: English, scope: learn

#39581 fix(curriculum): restrictive test for use map to dynamically render challenge
  curriculum/challenges/english/03-front-end-libraries/react/use-array.map-to-dynamically-render-elements.english.md
Labels: language: English, scope: learn

#39577 fix(learn): Consolidated comments for Data Visualization challenges
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-linear-scale-with-d3.english.md
Labels: language: English, scope: learn, status: need to test locally

#39576 fix(learn): Consolidated comments for Coding Interview Prep challenges - part 2 of 2
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-bubble-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-insertion-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-merge-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-quick-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-selection-sort.english.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/inventory-update.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/breadth-first-search.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/check-if-an-element-is-present-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/check-if-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-doubly-linked-list.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-hash-table.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-map-data-structure.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-set-class.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-trie-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-an-es6-javascript-map.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-and-add-to-sets-in-es6.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/delete-a-leaf-node-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/delete-a-node-with-one-child-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/delete-a-node-with-two-children-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/find-the-minimum-and-maximum-height-of-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/find-the-minimum-and-maximum-value-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/invert-a-binary-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-difference-on-two-sets-of-data.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-subset-check-on-two-sets-of-data.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-union-on-two-sets.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-an-intersection-on-two-sets-of-data.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-elements-from-a-linked-list-by-index.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-items-from-a-set-in-es6.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/reverse-a-doubly-linked-list.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/search-within-a-linked-list.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/use-.has-and-.size-on-an-es6-set.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/use-breadth-first-search-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/use-depth-first-search-in-a-binary-search-tree.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/use-spread-and-notes-for-es5-set-integration.english.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/work-with-nodes-in-a-linked-list.english.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-10-summation-of-primes.english.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-2-even-fibonacci-numbers.english.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-42-coded-triangle-numbers.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/24-game.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/emirp-primes.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/extensible-prime-generator.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hailstone-sequence.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/harshad-or-niven-series.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/heronian-triangles.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hofstadter-figure-figure-sequences.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sailors-coconuts-and-a-monkey-problem.english.md
Labels: language: English, scope: learn, status: need to test locally

#39567 fix(client): rename certification for typo
  client/src/components/settings/Certification.js
Labels: platform: client, scope: learn, status: ready for QA

#39583 fix(learn): Consolidated miscellaneous comments in different certification sections
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-plus-operator.english.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/moving-forward-from-here.english.md
  curriculum/challenges/english/03-front-end-libraries/sass/split-your-styles-into-smaller-chunks-with-partials.english.md
Labels: language: English, scope: learn, status: need to test locally

#39543 feat(i18n/Chinese): add translation of Advanced Node and Express (4/4)
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/announce-new-users.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/authentication-strategies.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/communicate-by-emitting.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/create-new-middleware.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/handle-a-disconnect.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/hashing-your-passwords.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/how-to-put-a-profile-together.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/logging-a-user-out.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/registration-of-new-users.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/set-up-passport.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/set-up-the-environment.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39541 feat(i18n/Chinese): add translation of Quality Assurance and Testing with Chai (3/4)
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http-ii.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-string-contains-a-substring.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-falls-within-a-specific-range.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-a-string.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-an-array.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-variable-or-function-is-defined.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-array-contains-an-item.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-has-a-property.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-is-an-instance-of-a-constructor.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-one-value-is-below-or-at-least-as-large-as-another.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/use-regular-expressions-to-test-a-string.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/use-the-double-equals-to-assert-equality.chinese.md
  curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/use-the-triple-equals-to-assert-strict-equality.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39540 feat(i18n/Chinese): add translation of Information Security with HelmetJS (2/4)
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/avoid-inferring-the-response-mime-type-with-helmet.nosniff.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/configure-helmet-using-the-parent-helmet-middleware.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/disable-client-side-caching-with-helmet.nocache.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/disable-dns-prefetching-with-helmet.dnsprefetchcontrol.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-synchronously.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/hide-potentially-dangerous-information-using-helmet.hidepoweredby.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/install-and-require-helmet.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/mitigate-the-risk-of-clickjacking-with-helmet.frameguard.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/mitigate-the-risk-of-cross-site-scripting-xss-attacks-with-helmet.xssfilter.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/prevent-ie-from-opening-untrusted-html-with-helmet.ienoopen.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy.chinese.md
  curriculum/challenges/chinese/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39539 feat(i18n/Chinese): add translation of install and set up mongoose (1/4)
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/chain-search-query-helpers-to-narrow-search-results.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/create-a-model.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/create-and-save-a-record-of-a-model.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/create-many-records-with-model.create.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/delete-many-documents-with-model.remove.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/delete-one-document-using-model.findbyidandremove.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/perform-classic-updates-by-running-find-edit-then-save.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/perform-new-updates-on-a-document-using-model.findoneandupdate.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/use-model.find-to-search-your-database.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/use-model.findbyid-to-search-your-database-by-id.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/mongodb-and-mongoose/use-model.findone-to-return-a-single-matching-document-from-your-database.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38605 feat(client, learn): add helper functions for common validation operations
  client/src/client/frame-runner.js
  client/src/client/workers/test-evaluator.js
  client/src/utils/__fixtures/curriculum-helpers-css.js
  client/src/utils/__fixtures/curriculum-helpers-html.js
  client/src/utils/__fixtures/curriculum-helpers-javascript.js
  client/src/utils/__fixtures/curriculum-helpers-remove-white-space.js
  client/src/utils/curriculum-helpers.js
  client/src/utils/curriculum-helpers.test.js
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/change-animation-timing-with-keywords.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-how-bezier-curves-work.english.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-bezier-curve-to-move-a-graphic.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-margin-of-an-element.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-padding-of-an-element.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.english.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-an-ordered-list.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/divide-the-grid-into-an-area-template.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-column-to-control-spacing.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.english.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-using-splice.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-multi-dimensional-arrays-with-indexes.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-through-an-array-with-a-for-loop.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/subtract-one-number-from-another-with-javascript.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-undefined-value-returned-from-a-function.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/complete-a-promise-with-resolve-and-reject.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/handle-a-fulfilled-promise-with-then.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/handle-a-rejected-promise-with-catch.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-extract-values-from-objects.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-parameter-to-reassign-array-elements.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-the-rest-parameter-with-function-parameters.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-higher-order-functions-map-filter-or-reduce-to-solve-a-complex-problem.english.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.english.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/getting-started-with-react-redux.english.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/use-provider-to-connect-redux-to-react.english.md
  curriculum/challenges/english/03-front-end-libraries/react/pass-props-to-a-stateless-functional-component.english.md
  curriculum/challenges/english/03-front-end-libraries/react/review-using-props-with-stateless-functional-components.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-proptypes-to-define-the-props-you-expect.english.md
  curriculum/challenges/english/03-front-end-libraries/react/use-state-to-toggle-an-element.english.md
  curriculum/challenges/english/03-front-end-libraries/react/write-a-react-component-from-scratch.english.md
  curriculum/challenges/english/03-front-end-libraries/redux/combine-multiple-reducers.english.md
  curriculum/challenges/english/03-front-end-libraries/redux/use-const-for-action-types.english.md
  curriculum/challenges/english/03-front-end-libraries/redux/use-middleware-to-handle-asynchronous-actions.english.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-43-sub-string-divisibility.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/iban.english.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/state-name-puzzle.english.md
Labels: language: English, scope: learn, status: need to test locally, status: ready for QA

#38909 fix(i18n): update Chinese translation of apis and microservices projects
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.chinese.md
Labels: language: Chinese, scope: i18n, scope: learn, status: need to test locally

#38888 fix(i18n): update Chinese translation of managing packages with npm
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/add-a-description-to-your-package.json.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/add-a-license-to-your-package.json.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/add-a-version-to-your-package.json.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/add-keywords-to-your-package.json.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/remove-a-package-from-your-dependencies.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/use-the-caret-character-to-use-the-latest-minor-version-of-a-dependency.chinese.md
  curriculum/challenges/chinese/05-apis-and-microservices/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38847 fix(i18n): update Chinese translation of data visualization with d3
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-a-hover-effect-to-a-d3-element.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3-element.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-attributes-to-the-circle-elements.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-axes-to-a-visualization.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-classes-with-d3.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-document-elements-with-d3.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-inline-styling-to-elements.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-labels-to-d3-elements.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/add-labels-to-scatter-plot-circles.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/change-styles-based-on-data.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/change-the-color-of-an-svg-element.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/create-a-bar-for-each-data-point-in-the-set.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/create-a-linear-scale-with-d3.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/create-a-scatterplot-with-svg-circles.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/display-shapes-with-svg.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/dynamically-change-the-height-of-each-bar.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/dynamically-set-the-coordinates-for-each-bar.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/invert-svg-elements.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/learn-about-svg-in-d3.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/select-a-group-of-elements-with-d3.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/set-a-domain-and-a-range-on-a-scale.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/style-d3-labels.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/update-the-height-of-an-element-dynamically.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/use-a-pre-defined-scale-to-place-elements.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/use-dynamic-scales.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/use-the-d3.max-and-d3.min-functions-to-find-minimum-and-maximum-values-in-a-dataset.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/work-with-data-in-d3.chinese.md
  curriculum/challenges/chinese/04-data-visualization/data-visualization-with-d3/work-with-dynamic-data-in-d3.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#38657 fix(i18n): update Chinese translation of react
  curriculum/challenges/chinese/03-front-end-libraries/react/access-props-using-this.props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/add-comments-in-jsx.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/add-event-listeners.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/add-inline-styles-in-react.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/bind-this-to-a-class-method.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/change-inline-css-conditionally-based-on-component-state.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/compose-react-components.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-complex-jsx-element.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-component-with-composition.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-controlled-form.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-controlled-input.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-react-component.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-simple-jsx-element.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-stateful-component.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/create-a-stateless-functional-component.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/define-an-html-class-in-jsx.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/give-sibling-elements-a-unique-key-attribute.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/introducing-inline-styles.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/learn-about-self-closing-jsx-tags.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/optimize-re-renders-with-shouldcomponentupdate.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/override-default-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/pass-a-callback-as-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/pass-an-array-as-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/pass-props-to-a-stateless-functional-component.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/pass-state-as-props-to-child-components.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-a-class-component-to-the-dom.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-conditionally-from-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-html-elements-to-the-dom.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-react-on-the-server-with-rendertostring.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-state-in-the-user-interface-another-way.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-state-in-the-user-interface.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/render-with-an-if-else-condition.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/review-using-props-with-stateless-functional-components.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/set-state-with-this.setstate.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use--for-a-more-concise-conditional.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-a-ternary-expression-for-conditional-rendering.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-advanced-javascript-in-react-render-method.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-array.filter-to-dynamically-filter-an-array.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-array.map-to-dynamically-render-elements.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-default-props.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-proptypes-to-define-the-props-you-expect.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-react-to-render-nested-components.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-state-to-toggle-an-element.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-the-lifecycle-method-componentdidmount.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/use-the-lifecycle-method-componentwillmount.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/write-a-react-component-from-scratch.chinese.md
  curriculum/challenges/chinese/03-front-end-libraries/react/write-a-simple-counter.chinese.md
Labels: language: Chinese, scope: learn, status: need to test locally

#39587 fix(learn): clear instructions for Appending Variables to Strings lesson
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/appending-variables-to-strings.english.md
Labels: language: English, scope: learn, status: need to test locally

#39610 fix(learn): Fixed tests for JS Basic Algorithms: Slice and Splice challenge.
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice.english.md
Labels: language: English, scope: learn

#39619 Fix/remove broken scrimba
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-grids-within-grids.english.md
Labels: language: English, scope: learn

#39626 fix(learn): Update 'Whitelist' to 'Access List' in the API and Microservices: MongoDB index
  client/src/pages/learn/apis-and-microservices/mongodb-and-mongoose/index.md
Labels: language: English, scope: learn

#39644 fix(learn): ignore missing editable regions
  client/src/templates/Challenges/classic/Editor.js
Labels: platform: client

#39613 Remove helmet test instructions
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.english.md
Labels: language: English, scope: learn, status: need to test locally

#39605 fix: use position: fixed to avoid forcing Cypress
  client/src/components/Header/components/universalNav.css
  cypress/integration/learn/index.js
  cypress/integration/learn/navigation-buttons/update-my-account-settings-button.js
  cypress/integration/learn/navigation-buttons/view-portfolio-button.js
Labels: platform: client, scope: tools/scripts

#39651 fix(curriculum): update db method used in implementation-of-social-authentication-iii
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.english.md
Labels: language: Chinese, language: English, scope: learn, status: need to test locally, status: needs update

#39625 feat(learn): Add test for file metadata project
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice.english.md
Labels: language: English, scope: learn, status: need to test locally

#39648 fix: source certificates into Gatsby
  client/plugins/fcc-source-challenges/create-challenge-nodes.js
  client/plugins/fcc-source-challenges/gatsby-node.js
  client/utils/gatsby/challengePageCreator.js
  cypress/integration/landing.js
Labels: platform: client

#39466 feat: add button to add cert to LinkedIn profile
  client/src/client-only-routes/ShowCertification.js
  client/src/components/layouts/Certification.js
  cypress/integration/ShowCertification.js
Labels: platform: client, type: feature request

#39701 fix(learn) : Updated the regex in test
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/passing-values-to-functions-with-arguments.english.md
Labels: language: English, scope: learn

#39689 In file boo-who.russian.md change translate to correct russian
  curriculum/challenges/russian/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who.russian.md
Labels: language: Russian, scope: learn

#39201 fix(i18n): Portuguese testStrings translated
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice.portuguese.md
Labels: language: Portuguese, scope: learn, status: need to test locally

#39606 Copyediting of descriptions for Advanced Node & Express challenges
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/announce-new-users.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-strategies.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/communicate-by-emitting.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/create-new-middleware.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/handle-a-disconnect.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/hashing-your-passwords.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/logging-a-user-out.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/registration-of-new-users.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.english.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.english.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness.english.md
Labels: language: English, scope: learn, status: need to test locally

#39691 chore(client): refactor ImageLoader
  client/src/components/helpers/ImageLoader.js
Labels: platform: client, scope: UI, status: needs update
