Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-04, with the labels that each got.

#41711 fix(docs): remove member name
  docs/FAQ.md
Labels: scope: docs

#41512 feat(CI): test currently live world languages
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts, status: ready for QA

#41721 feat(i18n): enable more localised certs
  utils/is-audited.js
Labels: scope: tools/scripts

#41666 Add api stripe checkout integration
  api-server/src/server/boot/donate.js
  api-server/src/server/middlewares/request-authorization.js
  client/i18n/locales/english/translations.json
  client/src/components/Donation/DonateCompletion.js
  client/src/components/Donation/DonateForm.js
  client/src/redux/donation-saga.js
  client/src/redux/index.js
  client/src/utils/ajax.js
Labels: platform: api, platform: client, scope: i18n, status: ready for QA

#41722 feat(docs): document email tool
  docs/devops.md
Labels: scope: docs

#41659 feat(tools): use camperbot for commit
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-docs-download..yml
Labels: scope: tools/scripts

#41733 fix: remove repeated words in Quality Assurance intro
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#41732 fix(curriculum): verbiage
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulating-complex-objects.md
Labels: scope: curriculum

#41740 docs: fix netstat command for Linux/MacOS/WSL
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#41717 fix (curriculum): added top level label-input pair to challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons.md
Labels: scope: curriculum

#41744 fix (curriculum): Mr.Page's name to Elliot
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-reduce-method-to-analyze-data.md
Labels: scope: curriculum

#41700 feat(tools): test cypress parallelization config
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#41755 fix(curriculum): prevent malforming of svg image
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cut-a-rectangle.md
Labels: scope: curriculum, status: ready for QA

#41763 fix(tools): multiple workflow fixes
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-docs.download.yml
Labels: scope: tools/scripts

#41766 fix(curriculum): "Get JSON with the JavaScript fetch method" Test Too Specific
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method.md
Labels: scope: curriculum

#41768 fix(curriculum): cat photo app
  curriculum/challenges/english/01-responsive-web-design/basic-html-cat-photo-app/part-010.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-cat-photo-app/part-038.md
Labels: scope: curriculum

#41742 Update iterate-through-an-array-with-a-for-loop
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-through-an-array-with-a-for-loop.md
Labels: scope: curriculum, status: ready for QA

#41774 fix: Remove unnecessary comments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-array-data-with-indexes.md
Labels: scope: curriculum, status: ready for QA

#41775 fix: Remove unnecessary comments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-multi-dimensional-arrays-with-indexes.md
Labels: scope: curriculum, status: ready for QA

#41776 fix: Remove unnecessary comments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/accessing-nested-arrays.md
Labels: scope: curriculum, status: ready for QA

#41781 fix: Remove unnecessary comments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/add-new-properties-to-a-javascript-object.md
Labels: scope: curriculum, status: ready for QA

#41777 fix: Remove unnecessary comments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/accessing-nested-objects.md
Labels: scope: curriculum, status: ready for QA

#41764 fix(curriculum): rework Project Euler 64
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-64-odd-period-square-roots.md
Labels: scope: curriculum

#41782 feat(Cypress): enabling parallelization Cypress
  .github/workflows/cypress-pr.yml
  .github/workflows/cypress-push.yml
Labels: scope: tools/scripts

#41725 fix(curriculum): regex compatibility issue for Safari
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-a-variable-for-a-specific-area.md
Labels: other: device specific, scope: curriculum, status: ready for QA

#41746 fix: typo in APIs and Microservices
  client/src/pages/learn/apis-and-microservices/index.md
Labels: platform: client, status: blocked

#41720 fix(curriculum): prevent submitting array instead of string
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/remove-whitespace-from-start-and-end.md
Labels: scope: curriculum, status: ready for QA

#41579 Create action row and add style to Multi-file editor
  client/src/templates/Challenges/classic/ActionRow.js
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/classic/Editor.js
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/components/BreadCrumb.js
  client/src/templates/Challenges/components/Challenge-Title.js
Labels: platform: client

#41789 feat(i18n,client): enable certs
  utils/is-audited.js
Labels: scope: tools/scripts

#41734 fix(client): update search results links to open in new tab
  client/src/components/search/searchBar/SearchSuggestion.js
Labels: platform: client

#41760 fix(curriculum): make expected result format in instructions and tests match
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/zeckendorf-number-representation.md
Labels: scope: curriculum

#41793 feat(curriculum): add two tests to challenge
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/abundant-deficient-and-perfect-number-classifications.md
Labels: scope: curriculum

#41783 fix: update timestamp ms test endpoints and English text
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.md
Labels: scope: curriculum

#41784 fix: update URL shortener test endpoints and test text
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.md
Labels: scope: curriculum

#41757 fix(client): added editorRef to enable hotkey focus
  client/src/templates/Challenges/classic/MultifileEditor.js
Labels: platform: client

#41790 fix(curriculum): rework Problem Euler 65
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-65-convergents-of-e.md
Labels: scope: curriculum

#41716 fix(curriculum): specify id attribute in the instructions
  curriculum/challenges/english/03-front-end-libraries/jquery/remove-an-element-using-jquery.md
Labels: scope: curriculum, status: needs update

#41819 fix(curriculum): typo in a correct answer in ML curriculum
  curriculum/challenges/english/11-machine-learning-with-python/tensorflow/natural-language-processing-with-rnns-create-a-play-generator.md
Labels: scope: curriculum

#41823 fix(tools): i18n schema linting
  client/i18n/schema-validation.js
Labels: platform: client, scope: i18n

#41786 fix: update exercise tracker test endpoints and test text
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.md
Labels: scope: curriculum

#41837 fix: Remove quotation marks from 'Hi World' in Instructions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/write-reusable-javascript-with-functions.md
Labels: scope: curriculum

#40807 Add gap script for production
  client/package-lock.json
  client/package.json
  client/static/misc/cap.js
  client/static/misc/gap-dev.js
  client/static/misc/gap-org-chinese.js
  client/static/misc/gap-org.js
  client/utils/tags.js
  client/utils/tags.test.js
Labels: platform: client, status: needs update

#41833 chore: update api deps
  api-server/package-lock.json
  api-server/package.json
Labels: platform: api

#41840 update(curriculum): clarify Replit use of env files
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.md
Labels: scope: curriculum

#41839 fix(curriculum): clarify instructions for output
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/write-reusable-javascript-with-functions.md
Labels: scope: curriculum

#41842 fix(curriculum): Wrong text in standardize times challenge
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
Labels: scope: curriculum

#41847 fix(curriculum): Fix a type `in line` -> `inline` in basic css challenge
  .gitignore
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-class-declarations-with-inline-styles.md
Labels: scope: curriculum

#41849 UX improvement
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: platform: client

#41852 fix(curriculum): Add additional test to telephone regex challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator.md
Labels: scope: curriculum

#41859 Align instructions with the actual challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/introduction-to-html5-elements.md
Labels: scope: curriculum

#41848 fix(curriculum): added 4th test to amb challenge
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
Labels: scope: curriculum

#41187 feat: add Docker build
  .dockerignore
  api-server/src/server/index.js
  client.Dockerfile
  config/env.js
  docker-compose.api.yml
  docker-compose.client.yml
  sample.env
  server.Dockerfile
Labels: platform: api

#41867 Fixed typo in "free"
  docs/index.md
Labels: scope: docs

#41858 feat(client): transform app url to editor
  client/src/templates/Challenges/redux/create-question-epic.js
  client/src/templates/Challenges/redux/create-question-epic.test.js
  client/src/templates/Challenges/utils/index.js
Labels: platform: client, platform: forum, type: feature request

#41876 add target in challeges link
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
Labels: scope: curriculum

#41878 chore: remove unused code
  client/utils/formatting.js
  client/utils/index.js
  client/utils/infoLog.js
  client/utils/readDir.js
  client/utils/regEx.js
  client/utils/titleify.js
  curriculum/package-lock.json
  curriculum/package.json
Labels: platform: client

#41892 chore: update issue templates
  .github/ISSUE_TEMPLATE/01--issues-with-coding-challenges.md
  .github/ISSUE_TEMPLATE/02--issues-with-software-on-platforms.md
  .github/ISSUE_TEMPLATE/03--issues-with-content-on-articles-and-docs.md
  .github/ISSUE_TEMPLATE/04--feature-request-for-freecodecamp-org-s-platforms.md
  .github/ISSUE_TEMPLATE/bug-report--issues-with-coding-challenges.md
  .github/ISSUE_TEMPLATE/bug-report--software-issue-in-platform.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: scope: tools/scripts

#41888 fix(e2e): wait for next challenge render
  cypress.json
  cypress/integration/learn/challenges/projects.js
Labels: scope: tools/scripts

#41866 fix(curriculum): fluid containers test not specific
  curriculum/challenges/english/03-front-end-libraries/bootstrap/use-responsive-design-with-bootstrap-fluid-containers.md
Labels: scope: curriculum

#41902 fix(curriculum): sanitize css comments on typography lesson
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.md
Labels: scope: curriculum

#41856 fix(curriculum): check if count gets incremented by function
  curriculum/challenges/english/03-front-end-libraries/redux/register-a-store-listener.md
Labels: scope: curriculum

#41738 fix(dev): rename superBlock with v7 to certSlug
  api-server/src/server/boot/certificate.js
  client/gatsby-node.js
  client/src/client-only-routes/ShowCertification.js
  client/src/client-only-routes/ShowProjectLinks.js
  client/src/components/profile/components/Certifications.js
  client/src/components/settings/Certification.js
  client/src/pages/certification.js
  client/src/redux/index.js
  client/src/redux/propTypes.js
  client/src/redux/show-cert-saga.js
  client/src/resources/certAndProjectMap.js
  client/src/templates/Introduction/SuperBlockIntro.js
  client/src/templates/Introduction/components/Block.js
  client/src/templates/Introduction/components/CertChallenge.js
  client/src/utils/ajax.js
  config/certification-settings.js
Labels: platform: api, platform: client

#41914 fix(curriculum): remove stale video from nest anchor element
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
Labels: scope: curriculum

#41904 Record Collection - variable names shouldn't be keywords
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.md
Labels: scope: curriculum

#41910 fix(client): helper function regex s flag causing error
  client/src/utils/curriculum-helpers.js
Labels: platform: client

#41907 fix(curriculum): import a google font lesson regex test
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.md
Labels: scope: curriculum

#41900 fix(curriculum): HTML-challenges: links are inconsistent.
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-a-submit-button-to-a-form.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-bulleted-unordered-list.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-an-ordered-list.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/make-dead-links-using-the-hash-symbol.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-many-elements-within-a-single-div-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/turn-an-image-into-a-link.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-html5-to-require-a-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes.md
Labels: scope: curriculum

#41918 fix(curriculum): intellisense suggenstion box should not be visible
  client/src/templates/Challenges/classic/Editor.js
Labels: platform: client

#41926 fix(api): stop ignored files (tests) being copied
  api-server/package.json
Labels: platform: api

#41923 fix(tools): update helper scripts
  tools/challenge-helper-scripts/README.md
  tools/challenge-helper-scripts/create-empty-steps.js
  tools/challenge-helper-scripts/create-step-between.js
  tools/challenge-helper-scripts/utils.js
Labels: scope: tools/scripts

#41932 fix(curriculum): remove inaccessible fields from anon test
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
Labels: scope: curriculum, status: ready for QA

#41929 fix(curriculum): allow adnode regex test for multi-line
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.md
Labels: scope: curriculum, status: ready for QA

#41934 fix: insert missing forward-slash in instructions
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
Labels: scope: curriculum

#41919 chore(client) remove contextual navigation
  client/src/client-only-routes/ShowSettings.js
  client/src/components/Intro/index.js
  client/src/components/profile/Profile.js
  client/src/components/profile/Profile.test.js
  cypress/integration/ShowCertification.js
  cypress/integration/learn/common-components/navbar.js
  cypress/integration/learn/navigation-buttons/update-my-account-settings-button.js
  cypress/integration/settings/certifications.js
  cypress/integration/settings/settings.js
Labels: platform: client, scope: tools/scripts, status: waiting review

#41897 test(e2e): re-enable output tests
  cypress/integration/learn/challenges/output.js
Labels: scope: tools/scripts, status: waiting review

#41873 fix(client): remove JS comments from user code for tests
  client/src/redux/propTypes.js
  client/src/templates/Challenges/classic/Show.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.js
  client/src/utils/curriculum-helpers.js
  client/src/utils/curriculum-helpers.test.js
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/complete-a-promise-with-resolve-and-reject.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-extract-values-from-objects.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-higher-order-functions-map-filter-or-reduce-to-solve-a-complex-problem.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.md
  curriculum/challenges/chinese/10-coding-interview-prep/project-euler/problem-43-sub-string-divisibility.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/complete-a-promise-with-resolve-and-reject.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-extract-values-from-objects.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-higher-order-functions-map-filter-or-reduce-to-solve-a-complex-problem.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-43-sub-string-divisibility.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/es6/complete-a-promise-with-resolve-and-reject.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-extract-values-from-objects.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/functional-programming/use-higher-order-functions-map-filter-or-reduce-to-solve-a-complex-problem.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array.md
  curriculum/challenges/espanol/10-coding-interview-prep/project-euler/problem-43-sub-string-divisibility.md
  curriculum/schema/challengeSchema.js
  curriculum/test/test-challenges.js
Labels: platform: client, scope: curriculum, scope: i18n, status: waiting review

#41931 fix: use lodash-es in the client
  client/.babelrc
  client/gatsby-node.js
  client/jest.config.js
  client/jest.transform.js
  client/package-lock.json
  client/package.json
  client/src/client-only-routes/ShowCertification.js
  client/src/client-only-routes/ShowProfileOrFourOhFour.js
  client/src/client-only-routes/ShowProjectLinks.js
  client/src/client/workers/test-evaluator.js
  client/src/components/formHelpers/FormFields.js
  client/src/components/profile/components/Certifications.js
  client/src/components/profile/components/TimeLine.js
  client/src/components/search/searchBar/SearchBar.js
  client/src/components/search/searchBar/SearchHits.js
  client/src/components/search/searchPage/SearchPageHits.js
  client/src/components/settings/Certification.js
  client/src/components/settings/Portfolio.js
  client/src/pages/update-email.js
  client/src/redux/error-saga.js
  client/src/redux/index.js
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/components/CompletionModal.js
  client/src/templates/Challenges/components/Output.js
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/rechallenge/throwers.js
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/frame.js
  client/src/templates/Challenges/utils/getTargetEditor.js
  client/src/templates/Introduction/SuperBlockIntro.js
  client/src/utils/handled-error.js
  client/src/utils/handled-error.test.js
  curriculum/package-lock.json
  curriculum/package.json
  curriculum/test/test-challenges.js
Labels: platform: client, status: waiting review

#41946 feat(Cypress): Add test for email change
  cypress/integration/settings/email-change.js
Labels: scope: tools/scripts

#41908 fix: generate csrf tokens on server not client
  api-server/src/server/middlewares/csurf.js
  client/package-lock.json
  client/package.json
  client/src/utils/ajax.js
Labels: platform: api, platform: client, status: waiting review

#41952 fix: remove JS comments revisited
  client/src/client/workers/test-evaluator.js
  client/src/templates/Challenges/classic/Show.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.js
  client/src/utils/curriculum-helpers.test.js
  curriculum/test/test-challenges.js
Labels: platform: client

#41953 fix(curriculum): look for inlined filter function
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array.md
Labels: scope: curriculum
