Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-12, with the labels that each got.

#44298 "alt" update in problem-199 "iterative circle packing"
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-199-iterative-circle-packing.md
Labels: scope: curriculum

#44338 chore: enable portuguese certs
  config/i18n/all-langs.ts
Labels: scope: i18n

#43798 feat(client): Typescript migration frame runner
  client/src/client/frame-runner.ts
  client/webpack-workers.js
  package-lock.json
  package.json
Labels: status: waiting review, platform: client

#43939 fix(curriculum): made `Timestamp Microservice` project tests sort of "timezone aware"
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
Labels: status: waiting review, scope: curriculum

#44246 feat: editor page title rework
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
  client/src/templates/Challenges/video/Show.tsx
  cypress/integration/learn/challenges/backend.js
  cypress/integration/learn/challenges/output.js
  cypress/integration/legacy/redirects/challenges.js
Labels: platform: client, scope: tools/scripts

#44320 chore(client): tidy Flash by tidying tone
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/paypal-button.test.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/Donation/walletsButton.tsx
  client/src/components/Flash/redux/flash-messages.ts
  client/src/components/Flash/redux/index.ts
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/header.test.tsx
  client/src/components/profile/profile.test.tsx
  client/src/components/settings/Certification.js
  client/src/components/settings/about.tsx
  client/src/components/settings/theme.tsx
  client/src/redux/prop-types.ts
  client/src/redux/settings/danger-zone-saga.js
  client/src/redux/settings/settings-sagas.js
  client/src/redux/webhook-saga.js
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/utils/certificate-missing-message.ts
  client/src/utils/really-weird-error-message.ts
  client/src/utils/reported-error-message.ts
  client/src/utils/standard-error-message.ts
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: client

#44349 test: wait longer for login to complete
  cypress/support/commands.js
Labels: scope: tools/scripts

#44347 chore: simplify eslint configuration
  .eslintrc-base.json
  .eslintrc.json
  client/i18n/schema-validation.js
  client/plugins/fcc-source-challenges/create-challenge-nodes.js
  client/plugins/fcc-source-challenges/gatsby-node.js
  client/src/client/frame-runner.ts
  client/src/components/helpers/skeleton-sprite.tsx
  client/src/components/search/with-instant-search.tsx
  client/src/templates/Challenges/utils/build.js
  client/src/templates/Introduction/super-block-intro.tsx
  cypress/integration/learn/challenges/projects.js
  package-lock.json
  package.json
  tools/challenge-helper-scripts/create-project.ts
  tools/crowdin/actions/remove-deleted-files/index.js
  tools/scripts/lint/linter/markdown-prism.js
Labels: platform: client, scope: i18n, scope: tools/scripts

#43966 refactor(landing): migrate index to tsx
  client/src/components/landing/index.tsx
Labels: status: waiting review, platform: client

#44360 fix(client): adjust annual-donation hr
  client/src/components/Intro/index.tsx
Labels: platform: client

#44291 fix: hide file tabs on legacy challenges
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  curriculum/challenges/_meta/learn-css-animation-by-building-a-ferris-wheel/meta.json
  curriculum/challenges/_meta/learn-css-flexbox-by-building-a-photo-gallery/meta.json
  curriculum/challenges/_meta/learn-css-grid-by-building-a-magazine/meta.json
  curriculum/challenges/_meta/learn-html-forms-by-building-a-registration-form/meta.json
  curriculum/challenges/_meta/learn-typography-by-building-a-nutrition-label/meta.json
Labels: scope: curriculum, platform: client, scope: i18n

#44370 fix: update npm calls to handle workspaces
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-curriculum-upload.yml
  .github/workflows/crowdin-i18n-docs.download.yml
  client.Dockerfile
  server.Dockerfile
Labels: scope: tools/scripts

#44375 fix(actions): run fewer workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/codesee-diagram.yml
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/crowdin-upload.docs.yml
Labels: scope: tools/scripts

#44356 fix: index.css/js to styles/script
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/MultifileEditor.js
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/build.js
  curriculum/test/test-challenges.js
  tools/challenge-parser/parser/__snapshots__/index.acceptance.test.js.snap
  tools/challenge-parser/parser/plugins/__snapshots__/add-seed.test.js.snap
  tools/challenge-parser/parser/plugins/__snapshots__/add-solution.test.js.snap
  tools/challenge-parser/parser/plugins/add-seed.js
  tools/challenge-parser/parser/plugins/add-seed.test.js
  tools/challenge-parser/parser/plugins/add-solution.test.js
  tools/challenge-parser/parser/plugins/utils/get-file-visitor.js
  utils/__fixtures__/challenges.js
  utils/sort-challengefiles.test.js
Labels: platform: client, scope: tools/scripts

#44189 feat: balance sheet project
  client/i18n/locales/english/intro.json
  client/src/pages/learn/responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/meta.json
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-001.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-002.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-003.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-004.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-005.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-006.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-007.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-008.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-009.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-010.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-011.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-012.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-013.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-014.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-015.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-016.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-017.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-018.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-019.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-020.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-021.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-022.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-023.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-024.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-025.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-026.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-027.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-028.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-029.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-030.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-031.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-032.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-033.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-034.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-035.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-036.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-037.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-038.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-039.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-040.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-041.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-042.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-043.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-044.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-045.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-046.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-047.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-048.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-049.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-050.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-051.md
  curriculum/challenges/english/01-responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-052.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44381 fix(curriculum): add missing spaces
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.md
Labels: status: waiting review, scope: curriculum

#44337 fix: only include frame-runner when running tests
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.js
  curriculum/test/test-challenges.js
Labels: platform: client

#44393 docs: add contributor tools update instructions
  docs/devops.md
Labels: scope: docs

#44403 fix(client): remove normalize.css from globals
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/utils/build.js
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-137.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-139.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-140.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-142.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-144.md
Labels: scope: curriculum, platform: client

#44404 chore(docs): collocate how to contact staff
  docs/FAQ.md
Labels: scope: docs

#44405 fix(client): remove broken current challenge button
  client/src/components/Intro/index.tsx
  client/src/components/helpers/current-challenge-link.tsx
  client/src/components/helpers/index.js
  client/src/components/profile/profile.tsx
Labels: platform: client

#44407 fix(curriculum): improve regex
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-passport.md
Labels: status: waiting review, scope: curriculum

#44414 fix: run develop on windows
  client/package.json
Labels: platform: client

#44412 chore: exclude actions from changes to docs
  .github/workflows/codeql-analysis.yml
  .github/workflows/codesee-diagram.yml
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#44417 fix(client): update links with pt-BR translations
  client/i18n/locales/portuguese/links.json
Labels: platform: client, scope: i18n

#44390 fix(curriculum): change wording for consistency
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/counting-cards.md
Labels: status: waiting review, scope: curriculum

#44419 Revert "fix: only include frame-runner when running tests (#44337)"
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.js
  curriculum/test/test-challenges.js
Labels: platform: client

#43866 feat(client): migrate layout/default to ts
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-user.tsx
  client/src/components/layouts/default.tsx
  client/src/components/layouts/index.ts
  client/src/declarations.d.ts
  client/src/redux/prop-types.ts
Labels: platform: client

#44423 feat(tools): test jQuery is defined
  cypress/integration/learn/challenges/output.js
Labels: scope: tools/scripts

#44399 docs: added 3 new sections to FAQ.md
  docs/FAQ.md
Labels: scope: docs

#44425 fix: make new editor more accessible
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#43889 chore(client): migrate landing.test.js to ts
  client/src/components/landing/landing.test.tsx
Labels: status: waiting review, platform: client

#44424 chore(utils): remove duplicate entries, alphabetasize
  utils/preformatted-block-names.json
Labels: scope: tools/scripts

#44440 fix: prevent load from local storage
  client/src/templates/Challenges/redux/code-storage-epic.js
  cypress/integration/learn/challenges/code-storage.js
Labels: platform: client, scope: tools/scripts

#44413 fix(client): add footer dec 2021
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#44438 feat(client): testing donation alert title
  client/i18n/locales/english/translations.json
  client/src/components/Intro/index.tsx
  config/donation-settings.js
Labels: platform: client, scope: i18n

#44442 chore: remove hacktoberfest comment
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scope: tools/scripts

#44441 feat: add curriculum feature flag
  config/read-env.js
  sample.env
  tools/scripts/build/ensure-env.ts
Labels: scope: tools/scripts

#44247 feat: add notes tab to project based curriculum
  client/gatsby-node.js
  client/i18n/locales/chinese-traditional/translations.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/translations.json
  client/i18n/locales/italian/translations.json
  client/i18n/locales/portuguese/translations.json
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/notes.tsx
  curriculum/schema/challengeSchema.js
  docs/how-to-work-on-coding-challenges.md
  tools/challenge-parser/parser/index.js
Labels: status: waiting review, scope: docs, platform: client, scope: i18n, scope: tools/scripts

#44429 feat: reduce request payload for non-js projects
  client/src/templates/Challenges/redux/completion-epic.js
Labels: platform: client

#44434 refactor: handle certs separately
  client/utils/build-challenges.js
  curriculum/challenges/_meta/back-end-development-and-apis-certification/meta.json
  curriculum/challenges/_meta/data-analysis-with-python-certification/meta.json
  curriculum/challenges/_meta/data-visualization-certification/meta.json
  curriculum/challenges/_meta/front-end-development-libraries-certification/meta.json
  curriculum/challenges/_meta/information-security-certification/meta.json
  curriculum/challenges/_meta/javascript-algorithms-and-data-structures-certification/meta.json
  curriculum/challenges/_meta/legacy-back-end-certification/meta.json
  curriculum/challenges/_meta/legacy-data-visualization-certification/meta.json
  curriculum/challenges/_meta/legacy-front-end-certification/meta.json
  curriculum/challenges/_meta/legacy-full-stack-certification/meta.json
  curriculum/challenges/_meta/legacy-information-security-and-quality-assurance-certification/meta.json
  curriculum/challenges/_meta/machine-learning-with-python-certification/meta.json
  curriculum/challenges/_meta/quality-assurance-certification/meta.json
  curriculum/challenges/_meta/relational-databases-certification/meta.json
  curriculum/challenges/_meta/responsive-web-design-certification/meta.json
  curriculum/challenges/_meta/scientific-computing-with-python-certification/meta.json
  curriculum/getChallenges.js
  curriculum/test/test-challenges.js
Labels: scope: curriculum, platform: client, scope: i18n

#44443 feat: enable ukrainian downloads
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
Labels: scope: tools/scripts

#44444 fix: handle uppercase and missing user verification
  api-server/src/common/models/user.js
  api-server/src/server/boot/certificate.js
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/utils/ajax.ts
Labels: platform: api, platform: client

#44461 chore: migrate required files
  client/i18n/locales/ukrainian/links.json
  client/i18n/locales/ukrainian/meta-tags.json
  client/i18n/locales/ukrainian/motivation.json
  client/i18n/locales/ukrainian/trending.json
Labels: platform: client, scope: i18n

#44462 chore: migrate untranslated files
  curriculum/challenges/ukrainian/05-back-end-development-and-apis/back-end-development-and-apis-projects/file-metadata-microservice.md
  curriculum/challenges/ukrainian/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
  curriculum/challenges/ukrainian/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
  curriculum/challenges/ukrainian/08-data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer.md
  curriculum/challenges/ukrainian/08-data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator.md
  curriculum/challenges/ukrainian/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
  curriculum/challenges/ukrainian/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
  curriculum/challenges/ukrainian/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
  curriculum/challenges/ukrainian/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/ukrainian/09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/ukrainian/09-information-security/information-security-projects/sha-1-password-cracker.md
  curriculum/challenges/ukrainian/09-information-security/information-security-projects/stock-price-checker.md
  curriculum/challenges/ukrainian/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.md
  curriculum/challenges/ukrainian/10-coding-interview-prep/project-euler/problem-124-ordered-radicals.md
  curriculum/challenges/ukrainian/10-coding-interview-prep/project-euler/problem-199-iterative-circle-packing.md
  curriculum/challenges/ukrainian/10-coding-interview-prep/project-euler/problem-283-integer-sided-triangles-for-which-the-area--perimeter-ratio-is-integral.md
  curriculum/challenges/ukrainian/10-coding-interview-prep/project-euler/problem-29-distinct-powers.md
  curriculum/challenges/ukrainian/10-coding-interview-prep/project-euler/problem-331-cross-flips.md
Labels: scope: curriculum, scope: i18n

#44455 docs(devops): update npm version to v8
  docs/devops.md
Labels: scope: docs

#44464 docs: update steps to enable translation
  docs/how-to-test-translations-locally.md
Labels: scope: docs

#44450 docs: enable ukrainian docs
  docs/_translations.md
Labels: scope: docs

#44454 feat(learn): enable ukrainian certifications
  client/src/utils/algolia-locale-setup.ts
  config/i18n/all-langs.ts
Labels: status: waiting review, platform: client, scope: i18n

#44465 refactor: remove useless warning
  client/package.json
  tools/challenge-parser/translation-parser/index.js
Labels: platform: client, scope: tools/scripts

#44467 test: login more directly
  .github/workflows/cypress.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
  cypress/integration/ShowCertification.js
  cypress/integration/learn/challenges/projects.js
  cypress/integration/learn/common-components/navbar.js
  cypress/integration/settings/certifications.js
  cypress/integration/settings/settings.js
  cypress/integration/settings/username-change.js
  cypress/support/commands.js
  tools/scripts/seed/certifiedUserData.js
Labels: scope: tools/scripts

#44463 fix: i18n news configs
  client/src/utils/algolia-locale-setup.ts
Labels: platform: client

#44477 fix(client): prevent unusual commas in iframe
  client/src/templates/Challenges/rechallenge/builders.js
Labels: platform: client

#44482 feat(client): optimize donation form for holiday alert
  client/i18n/locales/english/translations.json
  client/src/components/Donation/donate-form.tsx
  client/src/components/Intro/index.tsx
Labels: platform: client, scope: i18n

#44486 fix(curriculum): remove unnecessary quote signs
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements.md
Labels: status: waiting review, scope: curriculum

#44474 fix(i18n): include period in translatable string
  client/i18n/locales/english/translations.json
  client/src/components/Footer/__snapshots__/footer.test.tsx.snap
  client/src/components/Footer/index.tsx
Labels: platform: client, scope: i18n

#44493 fix: remove unused dispatch imports from multifile editor
  client/src/templates/Challenges/classic/MultifileEditor.js
Labels: platform: client

#44496 fix: store completed js projects in redux
  client/src/client-only-routes/show-project-links.tsx
  client/src/redux/settings/settings-sagas.js
  client/src/templates/Challenges/redux/completion-epic.js
Labels: platform: client

#44386 feat(learn): add Implement Binary Search - Coding Interview Prep - Algorithms Challenges
  curriculum/challenges/_meta/algorithms/meta.json
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-binary-search.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#44509 feat: show card to signed in users
  client/src/components/Donation/donate-form.tsx
Labels: platform: client

#44510 fix: grammar in private profile flash message
  client/i18n/locales/english/translations.json
Labels: platform: client, scope: i18n

#44508 fix: make completion modal a little more accessible
  client/src/assets/icons/green-pass.tsx
  client/src/templates/Challenges/components/__snapshots__/challenge-title.test.tsx.snap
  client/src/templates/Challenges/components/__snapshots__/completion-modal-body.test.tsx.snap
  client/src/templates/Challenges/components/completion-modal-body.tsx
Labels: platform: client

#44516 fix(curriculum): remove useless single quote
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/longest-string-challenge.md
Labels: status: waiting review, scope: curriculum

#44519 feat(client): add background animation for description of first challenge
  client/src/templates/Challenges/classic/MultifileEditor.js
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: platform: client

#44528 fix(i18n): Expand/Collapse Courses Button text
  client/i18n/locales/english/intro.json
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/certification-card.tsx
Labels: status: waiting review, platform: client, scope: i18n

#44533 fix: duplicate i18n keys
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#44534 fix: hide editor tabs on desktop
  client/src/templates/Challenges/classic/desktop-layout.tsx
Labels: platform: client

#44529 docs: update link in Moderator Handbook
  docs/moderator-handbook.md
Labels: scope: docs

#44541 docs: update guidlines for reporting security issues
  HoF.md
  README.md
  docs/security-hall-of-fame.md
  docs/security.md
Labels: scope: docs

#44535 fix: rename superblock to use /2022/
  client/i18n/locales/english/intro.json
  client/src/pages/learn/2022/responsive-web-design/index.md
  client/src/resources/cert-and-project-map.ts
  client/utils/build-challenges.js
  config/certification-settings.ts
  curriculum/challenges/_meta/build-a-personal-portfolio-webpage-project/meta.json
  curriculum/challenges/_meta/build-a-product-landing-page-project/meta.json
  curriculum/challenges/_meta/build-a-survey-form-project/meta.json
  curriculum/challenges/_meta/build-a-technical-documentation-page-project/meta.json
  curriculum/challenges/_meta/build-a-tribute-page-project/meta.json
  curriculum/challenges/_meta/learn-accessibility-by-building-a-quiz/meta.json
  curriculum/challenges/_meta/learn-basic-css-by-building-a-cafe-menu/meta.json
  curriculum/challenges/_meta/learn-css-animation-by-building-a-ferris-wheel/meta.json
  curriculum/challenges/_meta/learn-css-flexbox-by-building-a-photo-gallery/meta.json
  curriculum/challenges/_meta/learn-css-grid-by-building-a-magazine/meta.json
  curriculum/challenges/_meta/learn-css-transforms-by-building-a-penguin/meta.json
  curriculum/challenges/_meta/learn-css-variables-by-building-a-city-skyline/meta.json
  curriculum/challenges/_meta/learn-html-by-building-a-cat-photo-app/meta.json
  curriculum/challenges/_meta/learn-html-forms-by-building-a-registration-form/meta.json
  curriculum/challenges/_meta/learn-intermediate-css-by-building-a-picasso-painting/meta.json
  curriculum/challenges/_meta/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/meta.json
  curriculum/challenges/_meta/learn-responsive-web-design-by-building-a-piano/meta.json
  curriculum/challenges/_meta/learn-the-css-box-model-by-building-a-rothko-painting/meta.json
  curriculum/challenges/_meta/learn-typography-by-building-a-nutrition-label/meta.json
  curriculum/getChallenges.js
  curriculum/utils.js
  curriculum/utils.test.js
  cypress/integration/learn/challenges/projects.js
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44380 feat: add donate faq
  client/i18n/locales/english/links.json
  client/i18n/locales/english/translations.json
  client/src/components/Donation/donation-text-components.tsx
  client/src/components/Donation/donation.css
  client/src/components/Intro/index.tsx
  client/src/pages/donate.tsx
  client/src/pages/learn.tsx
  client/src/redux/ga-saga.js
  client/src/redux/index.js
  config/donation-settings.js
Labels: platform: client, scope: i18n

#44544 fix: add missing solutions to last step of practice projects
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/step-029.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/step-021.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/step-080.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/step-057.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/step-089.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/step-033.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/step-066.md
Labels: status: waiting review, scope: curriculum

#44547 feat: add intro text
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#44539 Feat: MVP features for soft launch
  client/i18n/locales/english/intro.json
  client/src/assets/icons/index.tsx
  client/src/components/layouts/global.css
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Introduction/components/legacy-links.tsx
  client/src/templates/Introduction/intro.css
  client/src/templates/Introduction/super-block-intro.tsx
  config/certification-settings.ts
  curriculum/test/test-challenges.js
  curriculum/utils.js
  curriculum/utils.test.js
Labels: status: waiting review, platform: client, scope: i18n

#44545 fix(client): move new stuffs to new pages location
  client/src/pages/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-grid-by-building-a-magazine/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-intermediate-css-by-building-a-picasso-painting/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-responsive-web-design-by-building-a-piano/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/index.md
Labels: platform: client

#44556 fix(curriculum): update euler-50 solution with prime sieve
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-50-consecutive-prime-sum.md
Labels: scope: curriculum

#44549 docs: expand the responsible disclosure
  docs/_sidebar.md
  docs/security-hall-of-fame.md
  docs/security.md
Labels: scope: docs

#44561 fix: step-1 on practice projects crashing
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#44562 fix: footer showing up on new RWD challenges
  client/src/utils/path-parsers.test.ts
  client/src/utils/path-parsers.ts
Labels: platform: client

#44566 fix: slight change to 'go back to learn' message
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#44563 fix: make beta go to RWD superblock instead of learn
  client/src/templates/Introduction/components/legacy-links.tsx
Labels: status: waiting review, platform: client

#44570 fix: handle challenge resets when preview hidden
  client/src/templates/Challenges/utils/frame.js
Labels: platform: client

#44567 fix: enlarges console pane for project steps
  client/src/templates/Challenges/classic/show.tsx
Labels: platform: client

#44575 fix: sideways checkmarks on blocks
  client/src/templates/Introduction/intro.css
Labels: platform: client

#44557 feat: add grid map
  client/src/pages/donate.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Introduction/components/Challenges.js
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/intro.css
Labels: platform: client

#44601 fix(curriculum): remove extraneous word from instructions
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-028.md
Labels: status: waiting review, scope: curriculum

#44610 fix(curriculum): add missing "be" in the first paragraph
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-015.md
Labels: status: waiting review, scope: curriculum

#44607 fix(curriculum): add missing word in instructions - step 31
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/step-031.md
Labels: status: waiting review, scope: curriculum

#44598 fix(curriculum): css tests for firefox in beta rwd
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-025.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-059.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-061.md
Labels: status: waiting review, scope: curriculum

#44605 fix(curriculum): improve wording
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-041.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-042.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-045.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-058.md
Labels: scope: curriculum

#44592 fix(curriculum): remove "is" in the description
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-036.md
Labels: scope: curriculum
