Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-11, with the labels that each got.

#44087 chore: fix typo in step-046.md
  curriculum/challenges/english/01-responsive-web-design/accessibility-quiz/step-046.md
Labels: scope: curriculum

#44085 fix: keep hints while user edits code
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#44075 chore(deps): updated versions to address vulnerabilities
  api-server/package-lock.json
  api-server/package.json
  client/package-lock.json
  client/package.json
  tools/contributor/lib/package-lock.json
  tools/contributor/lib/package.json
  tools/contributor/one-off-scripts/package-lock.json
  tools/contributor/one-off-scripts/package.json
Labels: platform: api, platform: client, scope: tools/scripts

#44083 feat(i18n,esp): back-end and api cert fully translated and proofread
  config/i18n/all-langs.js
Labels: scope: i18n

#44092 docs: add news theme docs
  docs/devops.md
Labels: scope: docs

#44095 chore(actions): use Ubuntu-20.04 in all workflows
  .github/workflows/autoclose.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-client-ui-upload.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-curriculum-upload.yml
  .github/workflows/crowdin-i18n-docs-upload.yml
  .github/workflows/crowdin-i18n-docs.download.yml
  .github/workflows/cypress.yml
  .github/workflows/labeler.yaml
  .github/workflows/no-prs-to-translation.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#44094 chore(actions): bump Node.js to v16 in codesee workflow
  .github/workflows/codesee-arch-diagram.yml
Labels: scope: tools/scripts

#44098 chore(actions): update mongodb in cypress workflow
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#44108 chore(deps): apply npm audit fix on all packages
  api-server/package-lock.json
  client/package-lock.json
  curriculum/package-lock.json
  package-lock.json
  tools/contributor/dashboard-app/client/package-lock.json
  tools/contributor/dashboard-app/server/package-lock.json
  tools/contributor/package-lock.json
  tools/ui-components/package-lock.json
Labels: platform: api, platform: client, scope: tools/scripts

#43854 chore: python demo
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter.md
Labels: status: waiting review, scope: curriculum

#44060 feat: add stripe authentication support
  api-server/src/server/boot/donate.js
  api-server/src/server/utils/donation.js
  client/src/components/Donation/DonateForm.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/redux/donation-saga.js
Labels: platform: api, platform: client

#44118 feat: add note about campfire mode
  client/i18n/locales/english/translations.json
  client/src/components/settings/sound.tsx
Labels: platform: client, scope: i18n

#43982 fix(curriculum): use CSSHelper to check solution
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-columns-with-grid-template-columns.md
Labels: status: waiting review, scope: curriculum

#43667 feat: Allow display username with uppercase characters
  api-server/src/common/models/user.js
  api-server/src/common/models/user.json
  api-server/src/server/boot/settings.js
  api-server/src/server/boot/user.js
  client/src/components/settings/username.tsx
  cypress/integration/settings/username-change.js
  utils/validate.js
  utils/validate.test.js
Labels: status: waiting review, platform: api, platform: client, scope: tools/scripts

#44113 feat(add): add Patreon button
  client/src/assets/images/components/patreon-logo.tsx
  client/src/components/Donation/DonateForm.tsx
  client/src/components/Donation/Donation.css
  client/src/components/Donation/patreon-button.tsx
  config/donation-settings.js
  config/read-env.js
  sample.env
Labels: platform: client

#44123 feat: highlight editable region
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#44125 chore(curriculum): add instructions
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/budget-app.md
Labels: scope: curriculum

#44010 chore: remove `Types` suffixes from `client/src/redux/prop-types.ts`
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/components/Map/index.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
  client/src/templates/Challenges/video/Show.tsx
  client/src/templates/Introduction/intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/ajax.ts
Labels: status: waiting review, platform: client

#43460 feat: css ferris wheel
  client/i18n/locales/english/intro.json
  client/src/pages/learn/responsive-web-design/css-ferris-wheel/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/css-ferris-wheel/meta.json
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-001.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-002.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-003.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-004.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-005.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-006.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-007.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-008.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-009.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-010.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-011.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-012.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-013.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-014.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-015.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-016.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-017.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-018.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-019.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-020.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-021.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-022.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-023.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-024.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-025.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-026.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-027.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-028.md
  curriculum/challenges/english/01-responsive-web-design/css-ferris-wheel/step-029.md
  utils/preformatted-block-names.json
Labels: status: waiting review, scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44133 fix(curriculum): Fix a typo in 10-coding-interview-prep/rosetta-code/subleq
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/subleq.md
Labels: status: waiting review, scope: curriculum

#44082 feat(client): ts-migration for the Mobile Layout component
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: status: waiting review, platform: client

#44149 fix: bump number of english articles
  client/i18n/locales/english/translations.json
Labels: platform: client, scope: i18n

#44155 fix: add Patreon client key validation
  tools/scripts/build/ensure-env.js
Labels: scope: tools/scripts

#44006 feat(client): ts-migration for EditorTabs component
  client/src/templates/Challenges/classic/EditorTabs.js
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor-tabs.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
Labels: status: waiting review, platform: client

#44152 chore(curriculum): add instructions 07
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
Labels: scope: curriculum

#44110 chore: add and apply naming convention
  .eslintrc.json
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/client-only-routes/show-user.tsx
  client/src/components/Donation/DonateForm.tsx
  client/src/components/Donation/paypal-button-script-loader.tsx
  client/src/components/Donation/paypal-button.test.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/Donation/walletsButton.tsx
  client/src/components/landing/components/big-call-to-action.tsx
  client/src/components/landing/components/campers-image.tsx
  client/src/components/landing/components/certifications.tsx
  client/src/components/landing/components/landing-top.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/profile/components/TimeLine.tsx
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/certifications.tsx
  client/src/components/profile/components/heat-map.test.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/components/portfolio.tsx
  client/src/components/profile/components/social-icons.tsx
  client/src/components/profile/components/timeline-pagination.tsx
  client/src/components/profile/profile.test.tsx
  client/src/components/profile/profile.tsx
  client/src/components/search/searchBar/no-hits-suggestion.tsx
  client/src/components/search/searchBar/search-bar.tsx
  client/src/components/search/searchBar/search-hits.tsx
  client/src/components/search/searchBar/search-suggestion.tsx
  client/src/components/search/searchPage/search-page-hits.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/privacy.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/src/templates/Introduction/components/CertChallenge.js
  client/src/templates/Introduction/components/CertificationCard.js
  client/src/templates/Introduction/components/ClaimCertSteps.js
  client/src/utils/ajax.ts
  client/src/utils/create-types.ts
Labels: status: waiting review, platform: client

#44157 fix(client): remove url parameters from forum href
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: platform: client

#44172 chore: import node types
  client/package-lock.json
  client/package.json
  client/src/declarations.d.ts
Labels: platform: client

#44175 feat: change Patreon button's flex to grid
  client/src/components/Donation/Donation.css
Labels: platform: client

#44179 feat: add patreon ga
  client/src/components/Donation/DonateForm.tsx
  client/src/components/Donation/patreon-button.tsx
Labels: status: waiting review, platform: client

#42832 fix(client): remove auto redirect in email sign up page
  client/package-lock.json
  client/package.json
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
  client/src/pages/email-sign-up.css
  client/src/pages/email-sign-up.test.js
  client/src/pages/email-sign-up.tsx
Labels: status: waiting review, platform: client

#43304 feat(client,api): add user tokens and route for submitting coderoad tutorials
  api-server/src/common/models/user.json
  api-server/src/server/boot/certificate.js
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/user.js
  api-server/src/server/middlewares/csurf.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/model-config.json
  api-server/src/server/models/webhook-token.json
  api-server/src/server/utils/certTypes.json
  client/i18n/locales/chinese-traditional/translations.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/translations.json
  client/i18n/locales/italian/translations.json
  client/i18n/locales/portuguese/translations.json
  client/src/client-only-routes/show-settings.tsx
  client/src/components/settings/webhook-delete-modal.tsx
  client/src/components/settings/webhook-token.css
  client/src/components/settings/webhook-token.tsx
  client/src/redux/action-types.js
  client/src/redux/index.js
  client/src/redux/webhook-saga.js
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/ajax.ts
Labels: status: waiting review, platform: api, platform: client, scope: i18n

#44194 fix(curriculum): correct grammar in description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/create-complex-multi-dimensional-arrays.md
Labels: scope: curriculum

#43886 chore: use constants for superblocks
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  client/package.json
  client/src/assets/icons/index.tsx
  client/src/components/Flash/redux/index.ts
  client/src/components/Map/index.tsx
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/completion-modal-body.test.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  config/certification-settings.ts
  config/i18n/all-langs.ts
  cypress/integration/ShowCertification.js
  cypress/integration/learn/challenges/projects.js
  cypress/integration/learn/responsive-web-design/claim-cert-from-learn.js
  package-lock.json
  package.json
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/package.json
  tools/challenge-helper-scripts/tsconfig.json
  tools/scripts/build/ensure-env.ts
  tools/scripts/build/tsconfig.json
  tools/ui-components/package.json
  tools/ui-components/tsconfig.json
  tsconfig.json
Labels: platform: client, scope: i18n, scope: tools/scripts

#44188 definition change of :: before :: after pseudo elements
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html.md
Labels: status: waiting review, scope: curriculum

#44203 chore: rename rothko painting
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/english/intro.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/portuguese/intro.json
  client/src/pages/learn/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-the-css-box-model-by-building-a-rothko-painting/meta.json
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-001.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-002.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-003.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-004.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-005.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-006.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-007.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-008.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-009.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-010.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-011.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-012.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-013.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-014.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-015.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-016.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-017.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-018.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-019.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-020.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-021.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-022.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-023.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-024.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-025.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-026.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-027.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-028.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-029.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-030.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-031.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-032.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-033.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-034.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-035.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-036.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-037.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-038.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-039.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-040.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-041.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-042.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-043.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-044.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-045.md
  curriculum/challenges/english/01-responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-046.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44213 chore: rename ferris wheel
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/english/intro.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/portuguese/intro.json
  client/src/pages/learn/responsive-web-design/css-ferris-wheel/index.md
  client/src/pages/learn/responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-css-animation-by-building-a-ferris-wheel/meta.json
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-001.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-002.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-003.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-004.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-005.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-006.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-007.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-008.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-009.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-010.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-011.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-012.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-013.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-014.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-015.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-016.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-017.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-018.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-019.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-020.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-021.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-022.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-023.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-024.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-025.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-026.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-027.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-028.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-029.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44210 chore: rename css piano
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/english/intro.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/portuguese/intro.json
  client/src/pages/learn/responsive-web-design/learn-responsive-web-design-by-building-a-piano/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-responsive-web-design-by-building-a-piano/meta.json
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-001.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-002.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-003.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-004.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-005.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-006.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-007.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-008.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-009.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-010.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-011.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-012.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-013.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-014.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-015.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-016.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-017.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-018.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-019.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-020.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-021.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-022.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-023.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-024.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-025.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-026.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-027.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-028.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-029.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-030.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-031.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-032.md
  curriculum/challenges/english/01-responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-033.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44180 fix(curriculum): adjust test euler-227
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-227-the-chase.md
Labels: status: waiting review, scope: curriculum

#44204 chore: rename photo gallery
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/english/intro.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/portuguese/intro.json
  client/src/pages/learn/responsive-web-design/css-photo-gallery/index.md
  client/src/pages/learn/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-css-flexbox-by-building-a-photo-gallery/meta.json
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-001.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-002.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-003.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-004.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-005.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-006.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-007.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-008.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-009.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-010.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-011.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-012.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-013.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-014.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-015.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-016.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-017.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-018.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-019.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-020.md
  curriculum/challenges/english/01-responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-021.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#44218 fix(docs): updated the _theme.css to makes the code easier to read
  docs/_theme.css
Labels: scope: docs

#44102 docs: fix up verbiage
  docs/devops.md
Labels: status: waiting review, scope: docs

#44252 feat: reassign custom dimensions
  client/src/redux/ga-saga.js
Labels: platform: client

#44232 fix(curriculum): back End Development and APIs and Information Security projects description typo
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/file-metadata-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
Labels: status: waiting review, scope: curriculum

#44267 docs: update instructions
  docs/devops.md
Labels: scope: docs

#44243 fix(curriculum): typo in the description in Problem 29: Distinct powers
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-29-distinct-powers.md
Labels: status: waiting review, scope: curriculum

#44261 feat(client): rename test.tsx files to kebab-case
  client/src/components/Header/header.test.tsx
  client/src/components/Intro/intro.test.tsx
  client/src/components/profile/components/time-line.test.tsx
  client/src/components/search/searchBar/search-bar.test.tsx
Labels: status: waiting review, platform: client

#43977 fix: getting of fallback issued date for fullstack certificate
  api-server/src/server/boot/certificate.js
  api-server/src/server/boot_tests/certificate.test.js
Labels: status: waiting review, platform: api

#44241 chore(curriculum): add instructions 09
  curriculum/challenges/english/09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/english/09-information-security/information-security-projects/sha-1-password-cracker.md
Labels: scope: curriculum

#44274 fix(config): build all-langs.js before server
  .eslintignore
  .gitignore
  package.json
  tools/scripts/build/ensure-env.ts
Labels: scope: tools/scripts

#44256 fix: adjust patreon night colors
  client/src/components/Donation/Donation.css
Labels: platform: client

#44234 feat(storybook): add theme toggle
  tools/ui-components/.storybook/preview.js
  tools/ui-components/src/button.stories.tsx
  tools/ui-components/src/button.types.ts
  tools/ui-components/src/global.css
Labels: scope: tools/scripts

#44279 feat: allow for dynamic hints
  client/src/client/frame-runner.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  docs/how-to-work-on-coding-challenges.md
Labels: status: discussing, scope: docs, platform: client

#44290 docs: explain dynamic hints in more depth
  docs/how-to-work-on-coding-challenges.md
Labels: scope: docs

#43835 feat(tools): add Alert component
  tools/ui-components/src/alert/alert.stories.tsx
  tools/ui-components/src/alert/alert.test.tsx
  tools/ui-components/src/alert/alert.tsx
  tools/ui-components/src/alert/index.tsx
  tools/ui-components/src/close-button/close-button.stories.tsx
  tools/ui-components/src/close-button/close-button.test.tsx
  tools/ui-components/src/close-button/close-button.tsx
  tools/ui-components/src/close-button/index.tsx
  tools/ui-components/src/colors.css
  tools/ui-components/src/index.ts
  tools/ui-components/tailwind.config.js
Labels: scope: tools/scripts

#44304 fix(curriculum): added whitespace after MathJax tag
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-331-cross-flips.md
Labels: status: waiting review, scope: curriculum

#44160 chore(curriculum): add instructions 08
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
Labels: status: waiting review, scope: curriculum

#43794 chore(client): migrate TestSuite component to TypeScript
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/templates/Challenges/components/test-suite.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
Labels: status: waiting review, platform: client

#44305 fix(curriculum): Edit the title of Project Euler Problem 283
  curriculum/challenges/_meta/project-euler/meta.json
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-283-integer-sided-triangles-for-which-the-area--perimeter-ratio-is-integral.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#43967 feat: show project preview
  client/gatsby-node.js
  client/i18n/locales/english/translations.json
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/preview.css
  client/src/templates/Challenges/components/preview.tsx
  client/src/templates/Challenges/components/project-preview-modal.css
  client/src/templates/Challenges/components/project-preview-modal.tsx
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/src/templates/Challenges/utils/frame.js
  client/utils/gatsby/challenge-page-creator.js
  cypress/integration/learn/challenges/project-preview.js
  cypress/plugins/index.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#44308 fix(curriculum): Fix a format issue
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html.md
Labels: status: waiting review, scope: curriculum

#44281 fix(curriculum): separate tag into two
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-124-ordered-radicals.md
Labels: status: waiting review, scope: curriculum

#44309 fix(curriculum): Fix a typo in 09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/english/09-information-security/information-security-projects/port-scanner.md
Labels: status: waiting review, scope: curriculum

#44285 fix(cirriculum): add better testcase for insert-an-element-into-a-max-heap challenge
  curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.md
Labels: status: waiting review, scope: curriculum

#44316 fix(docs): change outdated reference to /utils/dasherize.js
  docs/curriculum-file-structure.md
Labels: status: waiting review, scope: docs

#44257 fix: donation clean up
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Donation/donate-completion.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation-text-components.tsx
  client/src/components/Donation/donation.css
  client/src/components/layouts/learn.tsx
  client/src/pages/donate.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: platform: client

#44335 feat: add seasonal learn alert
  client/i18n/locales/english/translations.json
  client/src/components/Intro/index.tsx
  client/src/components/helpers/link.tsx
  client/src/components/layouts/global.css
  client/src/pages/learn.tsx
  config/donation-settings.js
Labels: platform: client, scope: i18n

#43752 feat(client): ts-migration for Introduction templates
  client/src/redux/prop-types.ts
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/templates/Introduction/components/certification-card.tsx
  client/src/templates/Introduction/components/claim-cert-steps.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/ajax.ts
Labels: status: waiting review, platform: client

#44228 fix: block name in block intro pages
  client/src/pages/learn/responsive-web-design/learn-accessibility-by-building-a-quiz/index.md
  client/src/pages/learn/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/index.md
  client/src/pages/learn/responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/index.md
  client/src/pages/learn/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/index.md
  client/src/pages/learn/responsive-web-design/learn-css-grid-by-building-a-magazine/index.md
  client/src/pages/learn/responsive-web-design/learn-css-variables-by-building-a-city-skyline/index.md
  client/src/pages/learn/responsive-web-design/learn-html-by-building-a-cat-photo-app/index.md
  client/src/pages/learn/responsive-web-design/learn-html-forms-by-building-a-registration-form/index.md
  client/src/pages/learn/responsive-web-design/learn-intermediate-css-by-building-a-picasso-painting/index.md
  client/src/pages/learn/responsive-web-design/learn-responsive-web-design-by-building-a-piano/index.md
  client/src/pages/learn/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/index.md
  client/src/pages/learn/responsive-web-design/learn-typography-by-building-a-nutrition-label/index.md
Labels: status: waiting review, platform: client

#44339 fix: failing CI issues
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
Labels: platform: client
