Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-10, with the labels that each got.

#43644 feat(actions): autoclose workflow
  .github/workflows/autoclose.yml
Labels: scope: tools/scripts

#43645 docs: add hacktoberfest note
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scope: tools/scripts

#43335 fix: cert rendering temporary
  client/src/components/landing/landing.css
  client/src/templates/Introduction/SuperBlockIntro.js
  client/src/templates/Introduction/components/CertChallenge.js
  client/src/templates/Introduction/components/ClaimCertSteps.js
  cypress/integration/learn/responsive-web-design/claim-cert-from-learn.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#43647 fix(curriculum): Fix a typo in "Problem 141: Investigating progressive numbers, n, which are also square"
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-141-investigating-progressive-numbers-n-which-are-also-square.md
Labels: status: waiting review, scope: curriculum

#43617 feat: enable reset in multifile editor
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/classic/EditorTabs.js
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/getTargetEditor.js
  curriculum/test/test-challenges.js
  utils/sort-challengefiles.js
  utils/sort-challengefiles.test.js
Labels: platform: client, scope: tools/scripts

#43666 fix(tools): translation workflow
  .github/workflows/no-prs-to-translation.yml
Labels: scope: tools/scripts

#43653 fix: wrong flash message when changing email
  api-server/src/server/boot/authentication.js
  client/i18n/locales/english/translations.json
Labels: status: waiting review, platform: api, platform: client, scope: i18n

#43685 fix(curriculum): Remove outdated video
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/testing-objects-for-properties.md
Labels: scope: curriculum

#43684 fix(tools): apply invalid label
  .github/workflows/autoclose.yml
Labels: status: waiting review, scope: tools/scripts

#43682 fix(docs): modified grammar and phrasing in docs and comments
  client/src/utils/create-types.ts
  client/src/utils/curriculum-helpers.ts
  client/src/utils/index.ts
  docs/FAQ.md
  docs/how-to-open-a-pull-request.md
Labels: status: waiting review, scope: docs, platform: client

#43586 feat(docs): add how to contribute to rdbms repos
  docs/_sidebar.md
  docs/how-to-work-on-tutorials-that-use-coderoad.md
Labels: status: waiting review, scope: docs

#43699 refactor: enforce consistent camelCase in const names, add comments, condense multiple single-line comments into one multi-line comment
  api-server/src/server/utils/donation.js
  curriculum/test/test-challenges.js
Labels: status: waiting review, platform: api

#43707 chore: migrate to jsx element
  client/src/assets/images/components/alibaba-logo.tsx
  client/src/assets/images/components/amazon-logo.tsx
  client/src/assets/images/components/apple-logo.tsx
  client/src/assets/images/components/as-seen-in-text.tsx
  client/src/assets/images/components/google-logo.tsx
  client/src/assets/images/components/microsoft-logo.tsx
  client/src/assets/images/components/spotify-logo.tsx
  client/src/assets/images/components/tencent-logo.tsx
Labels: status: waiting review, platform: client

#43662 refactor(editor): improve naming and comments
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#43704 fix: link to react documentation
  curriculum/challenges/english/03-front-end-development-libraries/react/set-state-with-this.setstate.md
  curriculum/challenges/english/03-front-end-development-libraries/react/use-proptypes-to-define-the-props-you-expect.md
Labels: status: waiting review, scope: curriculum

#43695 fix: reset regex.lastIndex when tests use test method
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-one-or-more-criminals-in-a-hunt.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/ignore-case-while-matching.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-a-literal-string-with-different-possibilities.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-beginning-string-patterns.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-ending-string-patterns.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/match-literal-strings.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/reuse-patterns-using-capture-groups.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/specify-only-the-lower-number-of-matches.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/specify-upper-and-lower-number-of-matches.md
Labels: status: waiting review, scope: curriculum

#43743 fix: correct theme when viewing certifications challenges solutions
  client/src/components/layouts/prism-night.css
Labels: platform: client

#43730 fix: reset editor display on user interaction
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#43745 fix: stop using .night to control theme
  client/src/redux/night-mode-saga.js
  client/src/templates/Challenges/components/help-modal.css
Labels: platform: client

#43576 feat: added warning for unreachable server
  client/i18n/locales/chinese-traditional/translations.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/translations.json
  client/i18n/locales/italian/translations.json
  client/i18n/locales/portuguese/translations.json
  client/src/components/Flash/flash.css
  client/src/components/OfflineWarning/offline-warning.css
  client/src/components/OfflineWarning/offline-warning.tsx
  client/src/components/layouts/Default.js
  client/src/redux/action-types.js
  client/src/redux/failed-updates-epic.js
  client/src/redux/failed-updates-epic.test.js
  client/src/redux/index.js
  client/src/redux/update-complete-epic.js
Labels: status: waiting review, platform: client, scope: i18n

#43747 feat: auto clean client cache when SHOW_UPCOMING_CHANGES value changes
  tools/scripts/build/ensure-env.js
Labels: scope: tools/scripts

#44076 fix(curriculum): change user story to match test suite
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
Labels: status: waiting review, scope: curriculum
