Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-02, with the labels that each got.

#40849 fix(tools): Download all languages from Crowdin
  .github/workflows/crowdin-i18n-curriculum-download.yml
Labels: scope: learn, scope: tools/scripts

#40569 feat(dev): add Cypress and Puppeteer to GitPod
  .gitpod.yml
  cypress-install.sh
  package.json
Labels: scope: tools/scripts, status: blocked, status: need to test locally, status: work in progress

#40451 fix(learn): update the return Object.values & solution
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-union-on-two-sets.md
Labels: language: English, scope: learn

#40071 feat(client): add project links to certificate
  client/src/client-only-routes/ShowCertification.js
  client/src/client-only-routes/ShowProjectLinks.js
  client/src/components/SolutionViewer/ProjectModal.js
  client/src/components/SolutionViewer/SolutionViewer.js
  client/src/components/layouts/project-links.css
  client/src/components/profile/components/TimeLine.js
  client/src/components/settings/Certification.js
Labels: platform: client, scope: UI, status: need to test locally, status: ready for QA

#40225 fix(client): give useful error in solutionform
  client/src/components/formHelpers/Form.test.js
  client/src/components/formHelpers/FormFields.js
  client/src/components/formHelpers/FormValidators.js
  client/src/components/formHelpers/index.js
  client/src/components/settings/Certification.js
  client/src/templates/Challenges/projects/SolutionForm.js
  client/src/templates/Challenges/projects/backend/Show.js
  client/src/templates/Challenges/projects/frontend/Show.js
  client/src/templates/Challenges/redux/challenge-modal-epic.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
Labels: platform: client, scope: UI, status: ready for QA

#40774 fix(learn): replace single bactick with <code> tag for Crowdin
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/use-model.find-to-search-your-database.md
Labels: scope: learn

#40837 Fix(learn): corrected the typo in a QA with Chai lesson
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.md
Labels: language: English, scope: learn

#40751 fix: remove clunky sentence
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings.md
Labels: language: English, scope: learn

#40671 fix(docs): Add WSL2 setup issues warning to clone repo section
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#40589 fix(learn): add output type verbiage
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/top-rank-per-group.md
Labels: language: English, scope: learn

#40473 feat(curriculum): add extension tests for css-flexbox curriculum modules
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-a-column-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-rows-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-justify-content-property-in-the-tweet-embed.md
Labels: language: English, scope: learn, status: need to test locally, status: needs update

#40872 fix(tools): Integrate certificate and comment dictionaries into the Curriculum project on Crowdin
  curriculum/crowdin.yml
  tools/crowdin/actions/hide-non-translated-strings/index.js
  tools/crowdin/utils/files.js
  tools/crowdin/utils/strings.js
Labels: scope: learn, scope: tools/scripts

#40888 fix(tools): Use endsWith instead of regex
  tools/crowdin/utils/strings.js
Labels: scope: learn, scope: tools/scripts

#40880 fix(tools): upgrade warning to throw
  tools/challenge-parser/translation-parser/translation-parser.js
  tools/challenge-parser/translation-parser/translation-parser.test.js
Labels: scope: learn

#40875 chore(client): refactor & organise config
  .gitignore
  client/.gitignore
  client/config/.gitkeep
  client/gatsby-config.js
  client/i18n/config.js
  client/src/__mocks__/gatsby.js
  client/src/client-only-routes/ShowSettings.js
  client/src/client-only-routes/ShowSettings.test.js
  client/src/client-only-routes/ShowUnsubscribed.js
  client/src/components/Donation/DonateForm.js
  client/src/components/Donation/PaypalButton.js
  client/src/components/Header/components/Login.js
  client/src/components/Intro/components/IntroDescription.js
  client/src/components/createExternalRedirects.js
  client/src/components/helpers/CurrentChallengeLink.js
  client/src/components/profile/Profile.js
  client/src/components/profile/components/Camper.js
  client/src/components/profile/components/HeatMap.js
  client/src/components/profile/components/TimeLine.js
  client/src/components/search/WithInstantSearch.js
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/classic/MobileLayout.js
  client/src/templates/Challenges/components/HelpModal.js
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/build.js
  client/src/utils/ajax.js
  client/src/utils/get-words.js
  client/utils/buildChallenges.js
  client/webpack-workers.js
  config/client/.gitkeep
  curriculum/test/test-challenges.js
  tools/scripts/build/ensure-env.js
Labels: platform: client

#40869 fix(learn): abstract comments from code
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/define-the-head-and-body-of-an-html-document.md
Labels: scope: i18n, scope: learn

#40830 fix: correct Rosetta Code Knight's tour solution
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/knights-tour.md
Labels: language: English, scope: learn

#40766 Fix 'wrap' and 'wrap-reverse' definitions.
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-wrap-property-to-wrap-a-row-or-column.md
Labels: language: English, scope: learn

#40894 feat(client): add github to validation list
  client/src/components/formHelpers/FormFields.js
  client/src/components/formHelpers/FormValidators.js
  client/src/components/formHelpers/index.js
Labels: platform: client, scope: UI, status: ready for QA

#40898 update(curriculum): explicitise use-the-env-file
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.md
Labels: language: English, scope: learn

#40862 feat(dev): add Cypress and Puppeteer to GitPod
  .gitpod.yml
  cypress-install.sh
  package.json
Labels: scope: tools/scripts, status: ready for QA

#40922 fix(tools, crowdin): do not skip downloading untranslated files
  .github/workflows/crowdin-i18n-curriculum-download.yml
Labels: scope: tools/scripts

#40921 fix(learn): Add inline code blocks to for i18n
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-class-declarations-by-styling-id-attributes.md
Labels: language: English, scope: learn

#40923 fix(i18n): remove Chinese: + Spanish: from translations
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/espanol/translations.json
Labels: language: Chinese, language: Spanish

#40935 fix(i18n): update Chinese meta-tags.json
  client/i18n/locales/chinese/meta-tags.json
Labels: language: Chinese, scope: i18n

#40937 feat: enable i18n
  client/i18n/allLangs.js
  utils/is-audited.js
Labels: platform: client, scope: i18n, scope: tools/scripts, status: blocked

#40934 feat(i18n, client): convert cert to big string
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/translations.json
  client/i18n/translations-schema.js
  client/src/client-only-routes/ShowCertification.js
Labels: platform: client, scope: i18n, status: ready for QA

#40933 add: python git github keywords
  client/i18n/locales/english/meta-tags.json
Labels: language: English, scope: i18n

#40931 fix : contributor's chat room link
  tools/contributor/README.md
Labels: scope: docs

#40914 fix(client): remove `outline: none` on Menu button
  client/src/components/Header/components/universalNav.css
Labels: platform: client, scope: a11y

#40904 fix: helmet install and csp lessons
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy.md
Labels: scope: learn

#40806 docs: tweaks for translations
  docs/FAQ.md
  docs/devops.md
  docs/how-to-help-with-video-challenges.md
  docs/how-to-open-a-pull-request.md
  docs/how-to-proofread-files.md
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-translate-files.md
  docs/how-to-work-on-coding-challenges.md
  docs/how-to-work-on-the-news-theme.md
  docs/moderator-handbook.md
Labels: scope: docs

#40977 chore(i8n,client): processed translations
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/espanol/translations.json
Labels: platform: client, scope: i18n

#40899 fix(client): block donation modal
  client/src/components/Donation/DonationModal.js
  client/src/redux/donation-saga.js
  client/src/redux/index.js
  client/src/templates/Challenges/components/CompletionModal.js
  client/src/templates/Challenges/redux/current-challenge-saga.js
  client/src/templates/Challenges/redux/current-challenge-saga.test.js
  client/src/templates/Challenges/redux/index.js
  cypress/integration/learn/donate/donation-block-completion-modal.js
Labels: platform: client, scope: UI, status: needs update

#40942 fix(curriculum): remove mention of null from challenge
  curriculum/challenges/english/03-front-end-libraries/react/render-conditionally-from-props.md
Labels: language: English, scope: learn

#40996 fix(i18n): motivational phrases and quotes in Spanish
  client/i18n/locales/espanol/motivation.json
Labels: language: Spanish, scope: i18n

#40901 fix: regex-criminal-in-hunt-challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-one-or-more-criminals-in-a-hunt.md
Labels: scope: learn

#40950 feat(learn): add backend solution url to help post
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: platform: client, status: ready for QA, type: feature request

#40936 feat(i18n, client): replace language select
  client/src/components/Header/Header.test.js
  client/src/components/Header/components/NavLinks.js
Labels: platform: client, scope: i18n, status: ready for QA

#41006 fix(client): display challenge completion status inline
  client/src/templates/Challenges/components/Challenge-Title.js
  client/src/templates/Challenges/components/__snapshots__/ChallengeTitle.test.js.snap
Labels: platform: client, status: ready for QA

#40973 fix(client): increment cert. month adding sharing to LinkedIn
  client/src/client-only-routes/ShowCertification.js
Labels: platform: client, status: ready for QA

#41034 fix(i18n): update Chinese translation of `news`
  client/i18n/locales/chinese/translations.json
Labels: language: Chinese, platform: client

#41036 fix(client): allow editor links for Py submissions
  client/src/components/formHelpers/Form.js
  client/src/components/formHelpers/FormFields.js
  client/src/components/formHelpers/index.js
  client/src/templates/Challenges/projects/SolutionForm.js
Labels: platform: client

#40925 docs: add cypress-gitpod guide
  docs/how-to-add-cypress-tests.md
Labels: language: English, scope: docs

#40909 fix(learn): mongoose set up instructions
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose.md
Labels: scope: learn

#40847 feat(learn): add tests to use a callback function in the sort method
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array.md
Labels: language: English, scope: learn

#40699 fix(learn): update seed code for D3.js challenge
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart.md
Labels: language: English, scope: learn, status: need to test locally

#40801 fix(learn): backslashes in description & hint text
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/split-a-character-string-based-on-change-of-character.md
Labels: scope: learn

#40802 fix(learn): Fix the public assets folder confusion by giving it its own folder
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/serve-static-assets.md
Labels: scope: learn

#40945 fix: correct tests descriptions
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/vector-cross-product.md
Labels: scope: learn

#41038 fix(test): confirm that Python projects can be submitted
  cypress/integration/learn/challenges/projects.js
Labels: scope: tools/scripts

#41045 docs: update readme links
  README.md
Labels: scope: docs

#41052 fix(client): undent dents caused by dedent
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: platform: client, platform: forum

#40803 feat: move Repl.it links to first challenge in backend projects
  curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/meet-the-node-console.md
  curriculum/challenges/english/05-apis-and-microservices/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/install-and-set-up-mongoose.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.md
Labels: scope: learn, scope: projects-backend

#41056 chore(i8n,client): processed translations
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/espanol/translations.json
Labels: crowdin-sync

#41058 fix(docs): Do not skip untranslated files in download
  .github/workflows/crowdin-i18n-docs-download..yml
Labels: scope: docs, scope: tools/scripts

#41064 fix(i18n, client): use placeholder on map
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/translations.json
  client/src/components/Map/index.js
Labels: platform: client, scope: i18n

#41091 fix(client): add key to Fragment in SuperBlockIntro
  client/src/templates/Introduction/SuperBlockIntro.js
Labels: platform: client

#41067 refactor: only use dasherized superBlock
  client/gatsby-node.js
  client/src/__mocks__/challenge-nodes.js
  client/src/assets/icons/index.js
  client/src/components/Map/index.js
  client/src/pages/learn/apis-and-microservices/index.md
  client/src/pages/learn/coding-interview-prep/index.md
  client/src/pages/learn/data-analysis-with-python/index.md
  client/src/pages/learn/data-visualization/index.md
  client/src/pages/learn/front-end-libraries/index.md
  client/src/pages/learn/information-security/index.md
  client/src/pages/learn/javascript-algorithms-and-data-structures/index.md
  client/src/pages/learn/machine-learning-with-python/index.md
  client/src/pages/learn/quality-assurance/index.md
  client/src/pages/learn/responsive-web-design/index.md
  client/src/pages/learn/scientific-computing-with-python/index.md
  client/src/templates/Challenges/components/Challenge-Title.js
  client/src/templates/Challenges/components/ChallengeTitle.test.js
  client/src/templates/Introduction/SuperBlockIntro.js
  client/src/templates/Introduction/components/CertChallenge.js
  client/src/templates/Introduction/components/SuperBlockIntro.js
  client/utils/gatsby/challengePageCreator.js
  curriculum/getChallenges.js
Labels: platform: client

#41114 fix(tools, i18n): Configure Crowdin to only download docs for specific languages for which we currently accept translations
  .github/workflows/crowdin-i18n-docs-download..yml
  config/crowdin/docs/crowdin.yml
Labels: scope: docs, scope: tools/scripts

#41089 fix(learn): update challenge for crowdin
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/declare-javascript-variables.md
Labels: scope: i18n, scope: learn

#41137 fix(docs): typo
  docs/how-to-open-a-pull-request.md
Labels: scope: docs

#41134 fix: updated solution for Convert JSON Data to HTML
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/convert-json-data-to-html.md
Labels: language: English, scope: learn, status: need to test locally

#41141 chore(i8n,learn): processed translations
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.md
  curriculum/challenges/chinese/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.md
  curriculum/challenges/chinese/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.md
  curriculum/challenges/chinese/05-apis-and-microservices/basic-node-and-express/serve-json-on-a-specific-route.md
  curriculum/challenges/espanol/01-responsive-web-design/applied-visual-design/learn-about-tertiary-colors.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/factorialize-a-number.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/find-the-longest-word-in-a-string.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/finders-keepers.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/repeat-a-string-repeat-a-string.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/return-largest-numbers-in-arrays.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/reverse-a-string.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/title-case-a-sentence.md
Labels: crowdin-sync, language: Spanish, scope: learn

#41143 fix(tools): Create separate steps for Chinese and Spanish download workflows
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-docs-download..yml
Labels: platform: client, scope: learn, scope: tools/scripts

#41139 fix(client): add t to ShowProjectLinks props
  client/src/components/SolutionViewer/ProjectModal.js
Labels: platform: client, scope: learn, type: critical path

#41144 fix(learn): Added another test to check for invalid characters
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames.md
Labels: scope: learn

#41148 fix(learn): Remove repeated definition tag in challenge
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/nest-one-array-within-another-array.md
Labels: language: English, scope: learn

#40926 fix: rework Project Euler - Problem 57
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-57-square-root-convergents.md
Labels: scope: learn, status: need to test locally

#41163 chore: pin mongodb for warnings - again
  .github/dependabot.yml
  api-server/package-lock.json
  api-server/package.json
Labels: platform: api

#41124 fix(client): Don't truncate challenge titles
  client/src/templates/Challenges/components/challenge-title.css
Labels: platform: client, scope: UI

#41154 fix(learn): Improve the clarity on a challenge sentence
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/passing-values-to-functions-with-arguments.md
Labels: scope: learn

#41170 fix(tools): remove gitpod checks from the PR
  .gitpod.yml
Labels: scope: tools/scripts

#41161 fix(learn): fix some code tags, capitalization and punctuation in challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-boolean-values.md
Labels: scope: learn

#41157 fix(tools): no i18n workflow
  .github/workflows/no-prs-to-translation.yml
Labels: scope: i18n, scope: tools/scripts

#41178 fix: Update default branch name to main for contributor-tools dashboard app
  tools/contributor/dashboard-app/client/src/components/FilenameResults.js
  tools/contributor/dashboard-app/client/src/components/Pareto.js
  tools/contributor/dashboard-app/client/src/components/PrResults.js
  tools/contributor/dashboard-app/server/tools/get-prs.js
  tools/contributor/sample.env
Labels: scope: tools/scripts

#41094 feat(client): add common links to formValidators regex
  client/src/components/formHelpers/FormFields.js
  client/src/components/formHelpers/FormValidators.js
  client/src/components/formHelpers/index.js
Labels: platform: client, status: need to test locally, status: ready for QA

#41190 feat(i18n): url validation translations
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/translations.json
  client/src/components/formHelpers/FormValidators.js
Labels: platform: client, scope: i18n, status: ready for QA

#40944 fix: correct function call in test description
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/emirp-primes.md
Labels: scope: learn

#40949 fix: correct function call in test description
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/s-expressions.md
Labels: scope: learn

#41068 fix(learn): correct test result
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/knapsack-problem-unbounded.md
Labels: language: English, scope: learn

#41183 feat(learn): add project tests
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
Labels: scope: learn

#41196 chore(i8n,docs): processed translations
  docs/i18n/chinese/FAQ.md
  docs/i18n/chinese/_sidebar.md
  docs/i18n/chinese/devops.md
  docs/i18n/chinese/how-to-add-cypress-tests.md
  docs/i18n/chinese/how-to-open-a-pull-request.md
  docs/i18n/chinese/how-to-proofread-files.md
  docs/i18n/chinese/how-to-translate-files.md
  docs/i18n/chinese/how-to-translate-the-website.md
  docs/i18n/chinese/index.md
  docs/i18n/chinese/moderator-handbook.md
  docs/i18n/espanol/FAQ.md
  docs/i18n/espanol/_sidebar.md
  docs/i18n/espanol/devops.md
  docs/i18n/espanol/how-to-add-cypress-tests.md
  docs/i18n/espanol/how-to-open-a-pull-request.md
  docs/i18n/espanol/how-to-translate-files.md
  docs/i18n/espanol/how-to-translate-the-website.md
  docs/i18n/espanol/index.md
  docs/i18n/espanol/moderator-handbook.md
Labels: crowdin-sync, scope: docs

#41191 fixed tests for link to external pages challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements.md
Labels: scope: learn

#41197 chore(i8n,learn): processed translations
  curriculum/challenges/chinese/01-responsive-web-design/applied-visual-design/use-the-strong-tag-to-make-text-bold.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-css/override-class-declarations-by-styling-id-attributes.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document.md
  curriculum/challenges/chinese/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/add-key-value-pairs-to-javascript-objects.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/check-for-the-presence-of-an-element-with-indexof.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/create-complex-multi-dimensional-arrays.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object.keys.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-data-structures/modify-an-array-stored-in-an-object.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/comparison-with-the-greater-than-operator.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-addition.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-multiplication.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-subtraction.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/create-decimal-numbers-with-javascript.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/declare-javascript-variables.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/decrement-a-number-with-javascript.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/divide-one-number-by-another-with-javascript.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/multiply-two-numbers-with-javascript.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/quoting-strings-with-single-quotes.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/store-multiple-values-in-one-variable-using-javascript-arrays.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/storing-values-with-the-assignment-operator.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-case-sensitivity-in-variables.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/use-bracket-notation-to-find-the-last-character-in-a-string.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/catch-arguments-passed-in-the-wrong-order-when-calling-a-function.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/catch-missing-open-and-closing-parenthesis-after-a-function-call.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/catch-mixed-usage-of-single-and-double-quotes.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/catch-use-of-assignment-operator-instead-of-equality-operator.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/prevent-infinite-loops-with-a-valid-terminal-condition.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/use-caution-when-reinitializing-variables-inside-a-loop.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/use-the-javascript-console-to-check-the-value-of-a-variable.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/debugging/use-typeof-to-check-the-type-of-a-variable.md
Labels: crowdin-sync, scope: learn

#41198 chore(i8n,client): processed translations
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/chinese/translations.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/espanol/translations.json
Labels: crowdin-sync, platform: client

#41186 fix: parse ::directives correctly
  tools/challenge-parser/package-lock.json
  tools/challenge-parser/package.json
  tools/challenge-parser/parser/__fixtures__/ast-directives.json
  tools/challenge-parser/parser/__fixtures__/ast-imports-extra.json
  tools/challenge-parser/parser/__fixtures__/with-directives.md
  tools/challenge-parser/parser/__fixtures__/with-imports-extra.md
  tools/challenge-parser/parser/__snapshots__/index.acceptance.test.js.snap
  tools/challenge-parser/parser/index.acceptance.test.js
  tools/challenge-parser/parser/index.js
  tools/challenge-parser/parser/plugins/replace-imports.js
  tools/challenge-parser/parser/plugins/replace-imports.test.js
  tools/challenge-parser/parser/plugins/restore-directives.js
  tools/challenge-parser/parser/plugins/restore-directives.test.js
  tools/challenge-parser/parser/tools/full-parse.js
  tools/challenge-parser/parser/tools/parse-md.js
Labels: scope: learn

#41214 fix: only log errors when challenges update
  tools/challenge-parser/parser/index.js
Labels: platform: client

#41160 fix: update notification bar z-index
  client/src/components/Flash/flash.css
Labels: platform: client

#41158 fix: update certification page padding-bottom
  client/src/client-only-routes/ShowCertification.js
Labels: platform: client, scope: UI

#41223 fix: validate keys script
  client/i18n/validate-keys.js
Labels: scope: tools/scripts

#41230 fix: small typo
  docs/devops.md
Labels: scope: docs

#41227 docs: enable chinese link
  docs/_translations.md
Labels: scope: docs, scope: i18n

#41185 refactor: simplify challenge.block usage
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot_tests/challenge.test.js
  client/gatsby-node.js
  client/src/templates/Challenges/classic/Show.js
  client/src/templates/Challenges/components/Challenge-Description.js
  client/src/templates/Challenges/components/Challenge-Title.js
  client/src/templates/Challenges/components/ChallengeTitle.test.js
  client/src/templates/Challenges/components/Side-Panel.js
  client/src/templates/Challenges/components/__snapshots__/ChallengeTitle.test.js.snap
  client/src/templates/Introduction/SuperBlockIntro.js
  client/utils/gatsby/challengePageCreator.js
  curriculum/getChallenges.js
  curriculum/schema/challengeSchema.js
  curriculum/test/test-challenges.js
Labels: platform: api, platform: client

#40927 Dry certification config
  api-server/src/server/boot/certificate.js
  api-server/src/server/boot/randomAPIs.js
  api-server/src/server/utils/constantStrings.json
  api-server/src/server/utils/superBlockCertTypeMap.js
  config/certification-settings.js
  config/misc.js
Labels: platform: api

#41232 docs(i18n): enable portuguese
  .github/workflows/crowdin-i18n-docs-download..yml
  docs/_translations.md
  docs/i18n/portuguese/FAQ.md
  docs/i18n/portuguese/_sidebar.md
  docs/i18n/portuguese/devops.md
  docs/i18n/portuguese/how-to-add-cypress-tests.md
  docs/i18n/portuguese/how-to-catch-outgoing-emails-locally.md
  docs/i18n/portuguese/how-to-help-with-video-challenges.md
  docs/i18n/portuguese/how-to-open-a-pull-request.md
  docs/i18n/portuguese/how-to-proofread-files.md
  docs/i18n/portuguese/how-to-setup-freecodecamp-locally.md
  docs/i18n/portuguese/how-to-setup-wsl.md
  docs/i18n/portuguese/how-to-translate-files.md
  docs/i18n/portuguese/how-to-translate-the-website.md
  docs/i18n/portuguese/how-to-use-docker-on-windows-home.md
  docs/i18n/portuguese/how-to-work-on-coding-challenges.md
  docs/i18n/portuguese/how-to-work-on-the-docs-theme.md
  docs/i18n/portuguese/how-to-work-on-the-news-theme.md
  docs/i18n/portuguese/index.md
  docs/i18n/portuguese/moderator-handbook.md
Labels: scope: docs, scope: i18n

#41231 fix(docs): repair image links
  docs/how-to-catch-outgoing-emails-locally.md
  docs/how-to-open-a-pull-request.md
  docs/how-to-proofread-files.md
  docs/how-to-translate-files.md
Labels: scope: docs, scope: i18n

#41233 fix: ensure babel presets load
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: client

#41224 fix(client): Private timeline doesn't hide certs
  client/src/components/settings/Privacy.js
Labels: platform: client

#41234 fix(gitpod): add curriculum build to GitPod
  .gitpod.yml
Labels: scope: tools/scripts, type: bug

#41241 feat(tool): Script to mark translated strings on Crowdin as "Done"
  tools/crowdin/one-off-scripts/mark-translated-strings-as-done.js
  tools/crowdin/utils/get-languages.js
  tools/crowdin/utils/strings.js
Labels: scope: i18n, scope: tools/scripts

#41086 fix(client) fixed icon height in containers
  client/src/components/layouts/global.css
Labels: platform: client

#41242 fix(client): correct spelling in bootstrap docs
  client/i18n/locales/english/intro.json
  client/i18n/locales/espanol/intro.json
Labels: platform: client

#41243 fix(tool): Added more files to restrict from direct translations
  .github/workflows/no-prs-to-translation.yml
Labels: scope: i18n, scope: tools/scripts

#41246 feat: use en as i18n fallback
  client/i18n/config.js
Labels: platform: client, scope: UI, scope: i18n

#41226 docs: update moderator handbook
  docs/moderator-handbook.md
Labels: scope: docs, status: discussing

#41257 fix(curriculum): use user's url in url shortner tests
  curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.md
Labels: scope: projects-backend

#41254 fix(learn): Use backticks around back slash character
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/reuse-patterns-using-capture-groups.md
Labels: language: English, scope: learn

#41260 fix: make missing scripts fail linting/testing
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#41249 fix: error reporting
  client/src/client/frame-runner.js
  curriculum/test/test-challenges.js
Labels: scope: tools/scripts

#41262 docs: s/maim/main/g
  docs/devops.md
Labels: scope: docs

#41179 chore(learn): audit front end libraries
  curriculum/challenges/english/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-our-buttons.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/call-out-optional-actions-with-btn-info.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/create-a-block-element-bootstrap-button.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/create-a-bootstrap-button.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/create-bootstrap-wells.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/ditch-custom-css-for-bootstrap.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/label-bootstrap-buttons.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/use-a-span-to-target-inline-elements.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/warn-your-users-of-a-dangerous-action-with-btn-danger.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-libraries/jquery/delete-your-jquery-functions.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-the-children-of-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-the-same-element-with-multiple-jquery-selectors.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/extract-state-logic-to-redux.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/use-provider-to-connect-redux-to-react.md
  curriculum/challenges/english/03-front-end-libraries/react/access-props-using-this.props.md
  curriculum/challenges/english/03-front-end-libraries/react/add-event-listeners.md
  curriculum/challenges/english/03-front-end-libraries/react/add-inline-styles-in-react.md
  curriculum/challenges/english/03-front-end-libraries/react/bind-this-to-a-class-method.md
  curriculum/challenges/english/03-front-end-libraries/react/create-a-component-with-composition.md
  curriculum/challenges/english/03-front-end-libraries/react/create-a-controlled-input.md
  curriculum/challenges/english/03-front-end-libraries/react/create-a-simple-jsx-element.md
  curriculum/challenges/english/03-front-end-libraries/react/create-a-stateful-component.md
  curriculum/challenges/english/03-front-end-libraries/react/create-a-stateless-functional-component.md
  curriculum/challenges/english/03-front-end-libraries/react/introducing-inline-styles.md
  curriculum/challenges/english/03-front-end-libraries/react/render-conditionally-from-props.md
  curriculum/challenges/english/03-front-end-libraries/react/render-state-in-the-user-interface.md
  curriculum/challenges/english/03-front-end-libraries/react/use--for-a-more-concise-conditional.md
  curriculum/challenges/english/03-front-end-libraries/react/use-advanced-javascript-in-react-render-method.md
  curriculum/challenges/english/03-front-end-libraries/react/use-array.filter-to-dynamically-filter-an-array.md
  curriculum/challenges/english/03-front-end-libraries/react/use-state-to-toggle-an-element.md
  curriculum/challenges/english/03-front-end-libraries/react/write-a-simple-counter.md
  curriculum/challenges/english/03-front-end-libraries/redux/create-a-redux-store.md
  curriculum/challenges/english/03-front-end-libraries/redux/define-a-redux-action.md
  curriculum/challenges/english/03-front-end-libraries/redux/define-an-action-creator.md
  curriculum/challenges/english/03-front-end-libraries/redux/get-state-from-the-redux-store.md
  curriculum/challenges/english/03-front-end-libraries/redux/use-middleware-to-handle-asynchronous-actions.md
  curriculum/challenges/english/03-front-end-libraries/redux/use-the-spread-operator-on-arrays.md
  curriculum/challenges/english/03-front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while.md
  curriculum/challenges/english/03-front-end-libraries/sass/create-reusable-css-with-mixins.md
  curriculum/challenges/english/03-front-end-libraries/sass/split-your-styles-into-smaller-chunks-with-partials.md
  curriculum/challenges/english/03-front-end-libraries/sass/store-data-with-sass-variables.md
  curriculum/challenges/english/03-front-end-libraries/sass/use-each-to-map-over-items-in-a-list.md
  curriculum/challenges/english/03-front-end-libraries/sass/use-if-and-else-to-add-logic-to-your-styles.md
Labels: scope: i18n, scope: learn

#41259 docs: update DevOps manual for api change
  docs/devops.md
Labels: scope: docs

#41248 fix(client): react-i18next old method warning
  client/i18n/config.js
Labels: platform: client

#41276 fix(client,i18n): Use block for front end / back end projects and back end challenge right breadcrumb
  client/src/templates/Challenges/projects/backend/Show.js
  client/src/templates/Challenges/projects/frontend/Show.js
Labels: platform: client, scope: i18n, scope: learn

#41278 fix: prevent parser throwing when err is null
  tools/challenge-parser/parser/index.js
Labels: scope: tools/scripts

#41300 tools: disable schema validation
  client/i18n/schema-validation.js
Labels: scope: tools/scripts
