Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-09, with the labels that each got.

#43356 feat(client):add july 2021 footer
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#43380 fix: button width and text not matching
  client/src/templates/Challenges/components/completion-modal.css
Labels: status: waiting review, scope: UI, platform: client

#43376 fix: remove stray files
  curriculum/challenges/italian/13-relational-databases/learn-relational-databases/learn-advanced-bash-by-building.md
  curriculum/challenges/portuguese/13-relational-databases/learn-relational-databases/learn-advanced-bash-by-building.md
Labels: scope: curriculum, scope: i18n

#43385 fix(tools): correct files -> challengeFiles
  tools/challenge-helper-scripts/utils.js
Labels: scope: tools/scripts

#42383 fix(client): avoid calling the api for signed out users
  client/src/components/Donation/DonateForm.tsx
  client/src/components/Donation/PaypalButton.tsx
  client/src/components/Donation/paypal-button.test.tsx
Labels: platform: client

#43418 fix(curriculum): typo in euler problem 260
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-260-stone-game.md
Labels: scope: curriculum

#43416 fix(curriculum): typo in parsing html and saving data challenge #43414
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/parsing-html-and-saving-data.md
Labels: scope: curriculum

#43397 feat: enable translated certs
  config/i18n/all-langs.js
Labels: scope: i18n

#43394 fix: conflicting info updated
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/prevent-object-mutation.md
Labels: status: waiting review, scope: curriculum

#42182 feat(curriculum): CSS Box Model project
  client/i18n/locales/english/intro.json
  client/utils/help-category-map.json
  curriculum/challenges/_meta/css-box-model/meta.json
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-001.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-002.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-003.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-004.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-005.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-006.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-007.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-008.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-009.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-010.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-011.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-012.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-013.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-014.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-015.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-016.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-017.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-018.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-019.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-020.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-021.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-022.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-023.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-024.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-025.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-026.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-027.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-028.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-029.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-030.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-031.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-032.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-033.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-034.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-035.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-036.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-037.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-038.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-039.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-040.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-041.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-042.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-043.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-044.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-045.md
  curriculum/challenges/english/01-responsive-web-design/css-box-model/part-046.md
  utils/preformatted-block-names.json
Labels: status: waiting review, scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#43425 fix(curriculum): specify array is returned from the function
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method.md
Labels: status: waiting review, scope: curriculum

#43364 feat: piano project
  client/i18n/locales/english/intro.json
  client/utils/help-category-map.json
  curriculum/challenges/_meta/css-piano/meta.json
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-001.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-002.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-003.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-004.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-005.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-006.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-007.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-008.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-009.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-010.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-011.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-012.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-013.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-014.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-015.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-016.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-017.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-018.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-019.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-020.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-021.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-022.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-023.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-024.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-025.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-026.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-027.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-028.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-029.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-030.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-031.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-032.md
  curriculum/challenges/english/01-responsive-web-design/css-piano/part-033.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#42857 feat(client): Migrate JS files to TSX files - Challenges(HelpModal, Preview, VideoModal, Side-Panel)
  client/src/declarations.d.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/HelpModal.js
  client/src/templates/Challenges/components/Preview.js
  client/src/templates/Challenges/components/Side-Panel.js
  client/src/templates/Challenges/components/VideoModal.js
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/components/preview.tsx
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/templates/Challenges/components/video-modal.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
  client/utils/gatsby/challenge-page-creator.js
Labels: status: waiting review, platform: client

#43433 feat: add Stripe card form
  api-server/src/server/boot/donate.js
  api-server/src/server/utils/donation.js
  client/i18n/locales/english/translations.json
  client/src/components/Donation/DonateForm.tsx
  client/src/components/Donation/Donation.css
  client/src/components/Donation/DonationModal.tsx
  client/src/components/Donation/PayPalButtonScriptLoader.tsx
  client/src/components/Donation/PaypalButton.tsx
  client/src/components/Donation/paypal-button.test.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/redux/action-types.js
  client/src/redux/donation-saga.js
  client/src/redux/index.js
  client/src/utils/ajax.ts
Labels: platform: api, platform: client, scope: i18n

#43487 description: removed "-" on line 29
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/build-javascript-objects.md
Labels: scope: curriculum

#43486 fix: remove name requirment from donation
  api-server/src/server/utils/donation.js
Labels: platform: api

#43411 fix: message removed when not logged in
  client/src/components/Donation/DonateCompletion.tsx
  client/src/components/Donation/DonateForm.tsx
Labels: status: waiting review, platform: client

#43434 feat(Cypress): hotkey tests
  client/src/templates/Challenges/video/Show.tsx
  cypress/integration/learn/challenge-hot-keys.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#43506 feat(actions): remove codesee map from renovate prs
  .github/workflows/codesee-arch-diagram.yml
Labels: scope: tools/scripts

#43490 refactor(client): migrating ActionRow.js to TypeScript
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/classic/action-row.tsx
Labels: status: waiting review, platform: client

#43497 Consistency of writing
  README.md
Labels: status: waiting review, scope: docs

#43513 refactor: minor clean up of editor
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#43512 test: ignore ChunkLoadError
  cypress/support/index.js
Labels: scope: tools/scripts

#43514 test: fix wait for hotkey navigation
  cypress/integration/learn/challenge-hot-keys.js
Labels: scope: tools/scripts

#43495 feat(curriculum): add solution
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-an-es6-javascript-map.md
Labels: status: waiting review, scope: curriculum

#41813 fix: replace JS algorithms and data structures bitly links
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional.md
Labels: status: waiting review, scope: curriculum

#41815 fix: replace frontend libraries bitly links
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/add-font-awesome-icons-to-our-buttons.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/call-out-optional-actions-with-btn-info.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/center-text-with-bootstrap.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/create-a-block-element-bootstrap-button.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/create-a-bootstrap-button.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/create-a-custom-heading.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/ditch-custom-css-for-bootstrap.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/line-up-form-elements-responsively-with-bootstrap.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/make-images-mobile-responsive.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/responsively-style-checkboxes.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/responsively-style-radio-buttons.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/style-text-inputs-as-form-controls.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/taste-the-bootstrap-button-color-rainbow.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/use-a-span-to-target-inline-elements.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/use-responsive-design-with-bootstrap-fluid-containers.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/use-the-bootstrap-grid-to-put-elements-side-by-side.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/warn-your-users-of-a-dangerous-action-with-btn-danger.md
Labels: scope: curriculum

#43523 feat: enable japanese docs
  .github/workflows/crowdin-i18n-docs.download.yml
  docs/_translations.md
Labels: scope: docs, scope: tools/scripts

#43519 refactor: use the view zones to place the widgets
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#43524 fix(curriculum): Css fix for issue #43517: Example css code does not demonstrate hover animation
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-css-animation-to-change-the-hover-state-of-a-button.md
Labels: status: waiting review, scope: curriculum

#42939 feat(client): ts-migrate (/client/src/components/layouts/Certification.js)
  client/src/components/layouts/certification.tsx
  client/src/components/layouts/index.ts
Labels: status: waiting review, platform: client

#43539 feat(i18n): add last chinese cert
  config/i18n/all-langs.js
Labels: scope: i18n

#43537 feat: update editable region behaviour
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#43503 fix: redundant scrollbar on codeally Iframe
  client/src/components/layouts/global.css
  client/src/templates/Challenges/codeally/show.tsx
Labels: platform: client

#43162 fix(curriculum): adjust implementation-of-social-auth tests
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md
Labels: status: waiting review, scope: curriculum

#43550 chore: clean up comments
  tools/challenge-helper-scripts/tsconfig.json
Labels: scope: tools/scripts

#43545 fix(curriculum): allow optional final css semi-colon
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/center-an-element-horizontally-using-the-margin-property.md
Labels: scope: curriculum

#43554 fix(curriculum): Fix a typo in "Problem 119: Digit power sum"
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-119-digit-power-sum.md
Labels: scope: curriculum

#43557 chore(tools): ignore i18n branches
  .github/workflows/codesee-arch-diagram.yml
Labels: scope: tools/scripts

#43549 fix: errors with multiple editor tabs
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/classic/EditorTabs.js
  utils/sort-files.js
  utils/sort-files.test.js
Labels: platform: client, scope: tools/scripts

#43558 fix(tools): different condition
  .github/workflows/codesee-arch-diagram.yml
Labels: scope: tools/scripts

#43553 docs: document i18n videos
  docs/how-to-test-translations-locally.md
  docs/index.html
Labels: scope: docs

#43559 chore: remove survey from the curriculum page
  client/i18n/locales/english/translations.json
  client/src/components/Intro/index.js
Labels: platform: client, scope: i18n

#43571 fix(curriculum): typo in word-frequency.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/word-frequency.md
Labels: status: waiting review, scope: curriculum

#43373 fix(curriculum): changed external links to news articles in 4 challenges
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-hex-code-for-specific-colors.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/euler-method.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hash-join.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/y-combinator.md
Labels: status: waiting review, scope: curriculum

#43579 refactor(client): remove unused axios dependents
  client/package.json
  client/src/utils/handled-error.test.ts
  client/src/utils/handled-error.ts
Labels: platform: client

#42869 feat: localize videos
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/components/VideoPlayer.tsx
  client/src/templates/Challenges/video/Show.tsx
  curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/introduction-why-program.md
  curriculum/schema/challengeSchema.js
Labels: status: waiting review, scope: curriculum, platform: client

#43532 fix: move ActionRow outside the ReflexContainer
  client/src/components/layouts/learn.css
  client/src/templates/Challenges/classic/DesktopLayout.js
  client/src/templates/Challenges/classic/MultifileEditor.js
Labels: platform: client

#43541 feat(typescript): Add typescript support for UI components library
  .eslintrc.json
  babel.config.js
  jest.transform.js
  package-lock.json
  package.json
  tools/ui-components/.babelrc.js
  tools/ui-components/.storybook/main.js
  tools/ui-components/package-lock.json
  tools/ui-components/package.json
  tools/ui-components/src/button.stories.tsx
  tools/ui-components/src/button.test.tsx
  tools/ui-components/src/button.tsx
  tools/ui-components/src/button.types.ts
  tools/ui-components/src/index.ts
  tools/ui-components/tsconfig.json
Labels: scope: tools/scripts

#43600 fix: code block newline
  tools/challenge-helper-scripts/helpers/get-step-template.js
  tools/challenge-helper-scripts/helpers/get-step-template.test.js
Labels: scope: tools/scripts

#43597 fix(curriculum): strip comments from code when testing
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords.md
Labels: scope: curriculum

#43619 feat(i18n): enable front-end dev cert in Espanol
  config/i18n/all-langs.js
Labels: scope: i18n

#43618 fix(links): Fixed 4 files with broken links
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/parsing-html-and-saving-data.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-csv-and-txt.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-from-databases.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-introduction.md
Labels: scope: curriculum

#43631 fix(curriculum): Remove videoUrl using old image srcs
  curriculum/challenges/english/01-responsive-web-design/basic-css/size-your-images.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.md
Labels: status: waiting review, scope: curriculum
