Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2021-03, with the labels that each got.

#41239 fix(i18n): add i18next keys for ShowProjectLinks
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/ShowProjectLinks.js
Labels: platform: client

#41334 fix(client): update both monaco deps
  client/package-lock.json
  client/package.json
Labels: platform: client

#41327 fix(learn): Clarify date format expectations for the Date Format challenge
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/date-format.md
Labels: scope: learn, status: ready for QA

#41225 fix: clarify case for already placed valid number
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
Labels: scope: learn

#41358 fix(actions): include docs in no-translation
  .github/workflows/no-prs-to-translation.yml
Labels: scope: tools/scripts

#41349 Fix: remove a colon in rosetta-code/happy-numbers
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/happy-numbers.md
Labels: scope: learn

#41332 chore(api): remove unused code and endpoints
  api-server/package-lock.json
  api-server/package.json
  api-server/src/common/models/article.js
  api-server/src/common/models/article.json
  api-server/src/common/models/nonprofit.json
  api-server/src/common/models/pledge.json
  api-server/src/common/models/popularity.js
  api-server/src/common/models/popularity.json
  api-server/src/public/browserconfig.xml
  api-server/src/public/favicon.ico
  api-server/src/public/fonts/Lato-Bold.ttf
  api-server/src/public/fonts/Lato-Light.ttf
  api-server/src/public/fonts/Lato-Regular.ttf
  api-server/src/public/fonts/Ubuntu-Regular.ttf
  api-server/src/public/fonts/UbuntuMono-Regular.ttf
  api-server/src/public/fonts/glyphicons-halflings-regular.eot
  api-server/src/public/fonts/saxmono.ttf
  api-server/src/public/images/freeCodeCamp-puck.svg
  api-server/src/public/js/.jshintrc
  api-server/src/public/js/calculator.js
  api-server/src/public/js/lib/fontawesome/fa-brands.js
  api-server/src/public/js/lib/fontawesome/fa-brands.min.js
  api-server/src/public/js/lib/fontawesome/fa-regular.js
  api-server/src/public/js/lib/fontawesome/fa-regular.min.js
  api-server/src/public/js/lib/fontawesome/fa-solid.js
  api-server/src/public/js/lib/fontawesome/fa-solid.min.js
  api-server/src/public/js/lib/fontawesome/fontawesome-all.js
  api-server/src/public/js/lib/fontawesome/fontawesome-all.min.js
  api-server/src/public/js/lib/fontawesome/fontawesome.js
  api-server/src/public/js/lib/fontawesome/fontawesome.min.js
  api-server/src/public/json/bootcamps.json
  api-server/src/public/json/cats.json
  api-server/src/public/robots.txt
  api-server/src/server/README.md
  api-server/src/server/index.js
  api-server/src/server/middleware.json
  api-server/src/server/model-config.json
  api-server/src/server/models/about.js
  api-server/src/server/models/about.json
  api-server/src/server/utils/about.js
  api-server/src/server/views/resources/calculator.jade
  api-server/src/server/views/resources/the-fastest-web-page-on-the-internet.jade
Labels: platform: api, status: ready for QA

#41329 fix(client): update store after any submission
  client/i18n/locales/english/translations.json
  client/src/components/formHelpers/FormFields.js
  client/src/components/formHelpers/FormValidators.js
  client/src/components/formHelpers/index.js
  client/src/templates/Challenges/projects/SolutionForm.js
Labels: platform: client, status: ready for QA

#41279 fix(learn): rework Rosetta Code Hailstone Sequence
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hailstone-sequence.md
Labels: scope: learn

#41299 fix: block-cta-wrapper breaking the layout in mobile view.
  client/src/templates/Introduction/intro.css
Labels: platform: client

#41365 feat(tools): automatic crowdin prs
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-client-ui-upload.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-curriculum-upload.yml
  .github/workflows/crowdin-i18n-docs-download..yml
  .github/workflows/crowdin-i18n-docs-upload.yml
Labels: scope: tools/scripts

#41366 fix(tools): only camperbot translates
  .github/workflows/no-prs-to-translation.yml
Labels: scope: tools/scripts

#41367 docs: codify trans tag
  docs/how-to-translate-the-website.md
Labels: scope: docs, scope: i18n

#41374 fix: update the fastest page with meta
  client/static/the-fastest-web-page-on-the-internet/index.html
Labels: platform: client

#41336 chore: audit data visualisation challenges
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3-element.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-attributes-to-the-circle-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-axes-to-a-visualization.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-classes-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-document-elements-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-inline-styling-to-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-labels-to-d3-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-labels-to-scatter-plot-circles.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-styles-based-on-data.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-color-of-an-svg-element.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-the-presentation-of-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-linear-scale-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-scatterplot-with-svg-circles.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/display-shapes-with-svg.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/dynamically-change-the-height-of-each-bar.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/dynamically-set-the-coordinates-for-each-bar.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/invert-svg-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/learn-about-svg-in-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/select-a-group-of-elements-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/set-a-domain-and-a-range-on-a-scale.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/style-d3-labels.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/update-the-height-of-an-element-dynamically.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-a-pre-defined-scale-to-place-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-dynamic-scales.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-the-d3.max-and-d3.min-functions-to-find-minimum-and-maximum-values-in-a-dataset.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/work-with-data-in-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/work-with-dynamic-data-in-d3.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/change-text-with-click-events.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/convert-json-data-to-html.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-geolocation-data-to-find-a-users-gps-coordinates.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/post-data-with-the-javascript-xmlhttprequest-method.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/pre-filter-json-to-get-the-data-you-need.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/render-images-from-data-sources.md
Labels: scope: i18n, scope: learn

#41379 fix(tools): implement better error handling
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-docs-download..yml
Labels: scope: tools/scripts

#41380 feat(tools): Script to delete all translations of a language on Crowdin
  tools/crowdin/one-off-scripts/delete-all-translations-for-a-language.js
  tools/crowdin/sample.env
  tools/crowdin/utils/strings.js
Labels: scope: i18n, scope: tools/scripts

#41400 fix(tools): Rename job names for Crowdin Docs project workflows
  .github/workflows/crowdin-i18n-docs-download..yml
  .github/workflows/crowdin-i18n-docs-upload.yml
Labels: scope: i18n, scope: tools/scripts

#41326 docs: establish i18n for message boxes
  docs/index.html
Labels: scope: docs, status: ready for QA

#41280 fix(learn): correct tests description
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/factors-of-a-mersenne-number.md
Labels: scope: learn

#41282 fix(learn): rework Rosetta Code Count the Coins
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/count-the-coins.md
Labels: scope: learn

#41382 fix(learn): revert backslash change
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript-rpg-game/part-026.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escaping-literal-quotes-in-strings.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-mixed-usage-of-single-and-double-quotes.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/s-expressions.md
Labels: scope: learn

#41422 fix: Remove forward slash from <source> tag
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element.md
Labels: scope: learn

#41283 fix(learn): Added more robust logic for the remove test case in Create A Hash Table
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-hash-table.md
Labels: scope: learn

#41337 fix(learn): Rework Euler Problem 182
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-182-rsa-encryption.md
Labels: scope: learn

#41359 fix(client): modernize stripe form
  client/package-lock.json
  client/package.json
  client/src/client-only-routes/ShowCertification.js
  client/src/components/Donation/DonateForm.js
  client/src/components/Donation/DonateFormChildViewForHOC.js
  client/src/components/Donation/StripeCardForm.js
Labels: platform: client

#41333 fix(learn): Rework Euler Problem 461
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-461-almost-pi.md
Labels: scope: learn

#41340 fix(curriculum) Improved readability and grammar
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-readability-with-high-contrast-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-links-navigable-with-html-access-keys.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.md
Labels: scope: learn, status: ready for QA

#41437 fix(tools): update automated message
  .github/workflows/no-prs-to-translation.yml
Labels: scope: tools/scripts

#41434 Fix letter-frequency.md: remove wrong spaces and make quotes consistent
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/letter-frequency.md
Labels: scope: learn

#41446 docs: update devops flight-manuals
  docs/devops.md
Labels: scope: docs, status: ready for QA

#41440 fix(learn): Change Codepen template link
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-markdown-previewer.md
  curriculum/challenges/english/03-front-end-libraries/front-end-libraries-projects/build-a-random-quote-machine.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.md
Labels: scope: learn

#41281 fix(learn): make tests and test descriptions more explicit
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/top-rank-per-group.md
Labels: scope: learn

#41455 fix(docs): Added missing word to sentence in devops.md
  docs/devops.md
Labels: scope: docs

#41456 fix(learn): Improve tests for the Nest an Anchor Element within a Paragraph challenge
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
Labels: scope: learn

#41384 fix(i18n,client): translatable cta url
  client/i18n/config.js
  client/i18n/locales.test.js
  client/i18n/locales/chinese/links.json
  client/i18n/locales/english/links.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/links.json
  client/i18n/schema-validation.js
  client/i18n/validate-keys.js
  client/src/components/Donation/DonationTextComponents.js
  client/src/components/Footer/__snapshots__/Footer.test.js.snap
  client/src/components/Footer/index.js
  client/src/components/Map/index.js
  client/src/templates/Challenges/components/Challenge-Title.js
  client/src/templates/Introduction/components/Block.js
Labels: platform: client, scope: i18n, status: ready for QA

#41458 feat(tools): Add a PR labeler action to the repo
  .github/ISSUE_TEMPLATE/bug-report--issues-with-coding-challenges.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-docs-download..yml
  .github/workflows/labeler.yaml
  tools/contributor/lib/validation/valid-labels.js
  tools/contributor/one-off-scripts/add-test-locally-label.js
Labels: scope: tools/scripts

#41487 chore: delete housekeeping workflows & dependabot
  .github/dependabot.yml
  .github/workflows/housekeeping.yml
Labels: scope: tools/scripts

#41457 fix(client): change repl.it validation to replit for migration
  client/src/components/formHelpers/FormValidators.js
Labels: platform: client, status: ready for QA

#41505 Fix: Redundant word on english devops.md
  docs/devops.md
Labels: scope: docs

#41498 fix(curriculum): Remove end of line chars after code blocks
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-elements-by-id-using-jquery.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-priority-queue-class.md
Labels: scope: curriculum

#41506 fix(docs) Moderator handbook grammar and spelling improvements
  docs/moderator-handbook.md
Labels: scope: docs

#41507 fix: suppress warning for seedless challenges
  curriculum/getChallenges.js
  tools/challenge-parser/translation-parser/index.js
Labels: scope: tools/scripts

#41508 fix(curriculum): Add 3 more certs to Chinese curriculum
  utils/is-audited.js
Labels: scope: tools/scripts

#41502 test(api): suppress expected log
  api-server/src/server/utils/redirection.test.js
Labels: platform: api

#41497 Fix: Typo on motivation json file for spanish
  client/i18n/locales/espanol/motivation.json
Labels: platform: client, scope: i18n

#41488 chore: remove extraneous files from contributor tools
  tools/contributor/CODE_OF_CONDUCT.md
  tools/contributor/LICENSE.md
  tools/contributor/README.md
Labels: scope: tools/scripts

#41425 fix(learn): rework Project Euler 63
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-63-powerful-digit-counts.md
Labels: scope: curriculum

#41513 revert(curriculum): add 3 more certs to Chinese curriculum
  utils/is-audited.js
Labels: scope: tools/scripts, status: ready for QA

#41503 docs: change node alias from stable to lts
  docs/devops.md
Labels: scope: docs, status: ready for QA

#41517 fix: address crowdin issues
  .github/workflows/crowdin-i18n-curriculum-download.yml
  docs/devops.md
Labels: scope: docs, scope: tools/scripts

#41519 fix(curriculum): Replace single-line blocks with multi-line blocks for Responsive Web Design
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-links-navigable-with-html-access-keys.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-add-keyboard-focus-to-an-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/animate-elements-continually-using-an-infinite-animation-count.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-gradual-css-linear-gradient.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-how-bezier-curves-work.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-bezier-curve.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/modify-fill-mode-of-an-animation.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-bezier-curve-to-move-a-graphic.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-css-linear-gradient-to-create-a-striped-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/add-borders-around-your-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-the-color-of-text.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-all-other-styles-by-using-important.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-class-declarations-by-styling-id-attributes.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-class-declarations-with-inline-styles.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-styles-in-subsequent-css.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/set-the-id-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-margin-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-padding-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-rgb-values-to-color-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-a-submit-button-to-a-form.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/turn-an-image-into-a-link.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.md
Labels: scope: curriculum

#41525 fix(curriculum) replace single-line blocks with multi-line blocks for…
  curriculum/challenges/english/03-front-end-libraries/bootstrap/add-font-awesome-icons-to-our-buttons.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/add-id-attributes-to-bootstrap-elements.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/center-text-with-bootstrap.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/create-a-block-element-bootstrap-button.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/use-a-span-to-target-inline-elements.md
  curriculum/challenges/english/03-front-end-libraries/bootstrap/use-responsive-design-with-bootstrap-fluid-containers.md
  curriculum/challenges/english/03-front-end-libraries/jquery/change-text-inside-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/change-the-css-of-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/clone-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/disable-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/remove-classes-from-an-element-with-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-a-specific-child-of-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-elements-by-class-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-even-elements-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-html-elements-with-selectors-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-the-children-of-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/target-the-parent-of-an-element-using-jquery.md
  curriculum/challenges/english/03-front-end-libraries/jquery/use-appendto-to-move-elements-with-jquery.md
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/connect-redux-to-react.md
  curriculum/challenges/english/03-front-end-libraries/react/introducing-inline-styles.md
  curriculum/challenges/english/03-front-end-libraries/react/use--for-a-more-concise-conditional.md
  curriculum/challenges/english/03-front-end-libraries/react/use-array.filter-to-dynamically-filter-an-array.md
  curriculum/challenges/english/03-front-end-libraries/react/use-proptypes-to-define-the-props-you-expect.md
  curriculum/challenges/english/03-front-end-libraries/redux/copy-an-object-with-object.assign.md
  curriculum/challenges/english/03-front-end-libraries/redux/use-the-spread-operator-on-arrays.md
Labels: scope: curriculum

#41524 fix(learn): specify connect-mongo version in adnode
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.md
Labels: scope: curriculum

#41531 fixed the grammar of the description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/golf-code.md
Labels: scope: curriculum

#41492 Stock Price Checker: Change "form data" to "query parameter"
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
Labels: scope: curriculum

#41537 fix(tests): add validation of comment translations
  curriculum/package-lock.json
  curriculum/package.json
  curriculum/schema/challengeSchema.js
  curriculum/test/test-challenges.js
  curriculum/test/utils/extract-css-comments.test.js
  curriculum/test/utils/extract-script-js-comments.js
  curriculum/test/utils/extract-script-js-comments.test.js
  curriculum/test/utils/plugins/get-css-comments.js
  curriculum/test/utils/plugins/get-script-js-comments.js
  tools/challenge-parser/translation-parser/__fixtures__/challenge-objects.js
  tools/challenge-parser/translation-parser/index.js
  tools/challenge-parser/translation-parser/index.test.js
Labels: scope: tools/scripts

#41538 fix(curriculum): Improve test to allow any valid function call for Write Reusable JavaScript with Functions challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/write-reusable-javascript-with-functions.md
Labels: scope: curriculum

#41539 fix(curriculum): add line to seed code
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file.md
Labels: scope: curriculum

#41438 fix(client): code blocks overflowing parents
  client/src/components/layouts/global.css
  client/src/components/layouts/prism.css
  client/src/templates/Challenges/video/show.css
Labels: platform: client, scope: UI

#41459 fix(learn): correct the instructions for functional tests
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
Labels: scope: curriculum, scope: projects-backend

#41516 fix(i18n): translate block names in completion modal
  client/src/templates/Challenges/classic/Show.js
  client/src/templates/Challenges/components/CompletionModal.js
  client/src/templates/Challenges/components/CompletionModalBody.js
  client/src/templates/Challenges/components/CompletionModalBody.test.js
  client/src/templates/Challenges/components/__snapshots__/CompletionModalBody.test.js.snap
  client/src/templates/Challenges/projects/backend/Show.js
  client/src/templates/Challenges/projects/frontend/Show.js
  client/src/templates/Challenges/video/Show.js
Labels: platform: client, status: ready for QA

#41565 fix(client): fix v7 certlocation
  client/src/templates/Introduction/SuperBlockIntro.js
  client/src/templates/Introduction/components/CertChallenge.js
Labels: platform: client, status: ready for QA

#41566 fix(test): handle NavLinks for Chinese locale
  client/src/components/Header/Header.test.js
Labels: platform: client

#41570 fix(client): split Editor panes correctly
  client/src/templates/Challenges/classic/MultifileEditor.js
Labels: platform: client, scope: UI

#41572 revert: remove nowrap rule (2f0b9ec)
  client/src/components/layouts/prism.css
Labels: platform: client

#41567 fix(client): get translationPending in video chals
  client/src/templates/Challenges/video/Show.js
  curriculum/schema/challengeSchema.js
Labels: platform: client

#41556 feat(client): style code block scrollbar
  client/src/templates/Challenges/video/show.css
Labels: platform: client, scope: UI

#41573 MotivationES-Update
  client/i18n/locales/espanol/motivation.json
Labels: platform: client, scope: i18n

#41526 fix(curriculum) replace single-line blocks with multi-line blocks for…
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-classes-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-document-elements-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-inline-styling-to-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-linear-scale-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/select-a-group-of-elements-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/update-the-height-of-an-element-dynamically.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/work-with-dynamic-data-in-d3.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/change-text-with-click-events.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/render-images-from-data-sources.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-and-add-to-sets-in-es6.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-items-from-a-set-in-es6.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/typed-arrays.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/use-.has-and-.size-on-an-es6-set.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/execute-a-markov-algorithm.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/loop-over-multiple-arrays-simultaneously.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sort-disjoint-sublist.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/top-rank-per-group.md
Labels: scope: curriculum, status: ready for QA

#41574 fix(tests): expand client testing for Espanol
  client/src/components/Header/Header.test.js
Labels: platform: client

#41557 fix(docs): upgrade to mongodb 4.0
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-setup-wsl.md
Labels: scope: docs

#41554 fix(learn): rework Rosetta Code Harshad or Niven series
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/harshad-or-niven-series.md
Labels: scope: curriculum, status: ready for QA

#41576 fix(curriculum): Replace inline code blocks with multi-line code blocks for JavaScript Algorithms and Data Structures
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/add-new-properties-to-a-javascript-object.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-addition.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-division.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-multiplication.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/compound-assignment-with-augmented-subtraction.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/counting-cards.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/declare-string-variables.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/decrement-a-number-with-javascript.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/delete-properties-from-a-javascript-object.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escaping-literal-quotes-in-strings.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-whole-numbers-with-javascript.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/generate-random-whole-numbers-within-a-range.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/increment-a-number-with-javascript.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/initializing-variables-with-the-assignment-operator.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/shopping-list.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/store-multiple-values-in-one-variable-using-javascript-arrays.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/storing-values-with-the-assignment-operator.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-the-parseint-function-with-a-radix.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-the-parseint-function.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/use-the-javascript-console-to-check-the-value-of-a-variable.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/learn-about-functional-programming.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-javascript-calorie-counter/part-018.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/make-code-more-reusable-with-the-this-keyword.md
Labels: scope: curriculum

#41586 fix: Simplify wording to make more sense
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/count-backwards-with-a-for-loop.md
Labels: scope: curriculum

#41585 chore(ci): deprecate node 12
  .github/workflows/cypress.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#41590 fix(tools): adjust ownership of files
  .github/CODEOWNERS
Labels: scope: tools/scripts, status: ready for QA

#41603 feat(tools): add team reviewers
  tools/crowdin/actions/pr-creator/action.yml
  tools/crowdin/actions/pr-creator/index.js
Labels: scope: i18n, scope: tools/scripts

#41606 fix(curriculum): Improve wording of test text
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-rgb-values-to-color-elements.md
Labels: scope: curriculum

#41591 fix(actions): update workflows, add auto-approval
  .github/workflows/crowdin-i18n-client-ui-download.yml
  .github/workflows/crowdin-i18n-curriculum-download.yml
  .github/workflows/crowdin-i18n-docs-download..yml
  .github/workflows/dependency-update.yml
Labels: scope: tools/scripts, status: ready for QA

#41611 fix(tools): new token
  .github/workflows/dependency-update.yml
Labels: scope: tools/scripts

#41607 docs: fix npm to v6
  docs/devops.md
Labels: scope: docs

#41615 fix(client): polyfill path with path-browserify
  client/gatsby-node.js
  client/package-lock.json
  client/package.json
Labels: platform: client

#41614 fix: wrap own properties and not just own
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-own-properties.md
Labels: scope: curriculum, status: ready for QA

#41599 fix: update package files, lerna config
  api-server/package.json
  client/package.json
  client/plugins/fcc-source-challenges/package.json
  client/plugins/gatsby-remark-node-identity/package.json
  curriculum/package.json
  lerna.json
  package.json
  tools/challenge-helper-scripts/package.json
  tools/challenge-parser/package.json
  tools/contributor/dashboard-app/client/package.json
  tools/contributor/dashboard-app/server/package.json
  tools/contributor/lib/package.json
  tools/contributor/one-off-scripts/package.json
  tools/contributor/package.json
  tools/crowdin/package.json
  tools/scripts/build/package.json
  tools/scripts/seed/package.json
Labels: platform: api, platform: client, scope: i18n, scope: tools/scripts

#41650 chore: remove approval workflow
  .github/workflows/dependency-update.yml
Labels: scope: tools/scripts

#41501 fix(curriculum): Regex fix for Create a Variable for a Specific Area
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-a-variable-for-a-specific-area.md
Labels: scope: curriculum

#41645 fix(curriculum): malformed paragraph in react/redux
  curriculum/challenges/english/03-front-end-libraries/react-and-redux/moving-forward-from-here.md
Labels: scope: curriculum, status: ready for QA

#41562 refactor: explicit mocking for analytics
  client/jest.config.js
  client/src/analytics/__mocks__/index.js
  client/src/client-only-routes/ShowSettings.test.js
  client/src/components/Header/Header.test.js
  client/src/components/Intro/Intro.test.js
  client/src/components/landing/Landing.test.js
  client/src/components/profile/Profile.test.js
  client/src/components/settings/Certification.test.js
  client/src/redux/failed-updates-epic.test.js
  client/src/redux/ga-saga.test.js
  client/src/templates/Challenges/components/CompletionModal.test.js
  client/utils/gatsby/layoutSelector.test.js
Labels: platform: client, status: ready for QA

#41648 Isolate production analytics
  client/src/analytics/index.js
  config/analytics-settings.js
Labels: platform: client

#41674 fix(i18n): only reject changed challenge md files
  .github/workflows/no-prs-to-translation.yml
Labels: scope: tools/scripts

#41681 fix(client): add DEV_SSR false flag to gatsby-config
  client/gatsby-config.js
Labels: platform: client

#41682 fix(actions): remove node 12
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#41696 fix: typo in instructions
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
Labels: scope: curriculum

#41689 chore(i18n,curriculum): updates
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/learn-about-functional-programming.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.md
Labels: scope: curriculum

#41686 fix/ownProps
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/iterate-over-all-properties.md
Labels: scope: curriculum

#41651 Update footer links to March 2021
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#41678 fix(docs): improve i18n contribution guidelines
  docs/FAQ.md
  docs/_sidebar.md
  docs/how-to-proofread-files.md
  docs/how-to-translate-files.md
  docs/how-to-translate-the-website.md
  docs/how-to-work-on-localized-client-webapp.md
  docs/index.md
Labels: scope: docs

#41693 fix(tools): Update createStepFile function in new curriculum helper script
  tools/challenge-helper-scripts/create-next-step.js
  tools/challenge-helper-scripts/create-step-between.js
  tools/challenge-helper-scripts/utils.js
  tools/challenge-parser/parser/index.js
Labels: scope: tools/scripts

#41703 fix(curriculum): change tests to allow more solutions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulating-complex-objects.md
Labels: scope: curriculum
