Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-08, with the labels that each got.

#47108 fix: Change instructions for Set up a Template Engine challenge to make user implement res.render()
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
Labels: status: waiting review, status: blocked, scope: curriculum

#47101 chore(curriculum): add a missing period
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/remove-a-package-from-your-dependencies.md
Labels: status: waiting review, scope: curriculum

#47112 fix(curriculum): minor typo in the Twitch JSON API challenge
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/use-the-twitch-json-api.md
Labels: status: waiting review, scope: curriculum

#47116 feat(tools): validate curriculum PRs
  .github/workflows/i18n-prs.yml
Labels: scope: tools/scripts

#47119 fix(curriculum): add missing code tag
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6998d.md
Labels: scope: curriculum

#47130 fix: resolve typos in catdog classifier
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier.md
Labels: scope: curriculum

#47129 fix(curriculum): Changed Mongoose version to avoid warnings in boilerplate's Node console when working on Mongoose challenges
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
Labels: scope: curriculum

#47127 feat(i18n): check no slug duplicates
  tools/challenge-auditor/index.ts
Labels: scope: tools/scripts

#47088 fix(curriculum): removed the mention of 6 spaces for easier understanding
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: status: waiting review, scope: curriculum

#47137 fix: create config before auditing i18n challenges
  .github/workflows/i18n-prs.yml
Labels: scope: tools/scripts

#47067 fix(curriculum): correct and improve the instruction
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb2c990dc218d6c85f89b2.md
Labels: status: waiting review, scope: curriculum

#47142 fix: create config before audit
  .github/workflows/i18n-prs.yml
  package.json
Labels: scope: tools/scripts

#47139 fix(curriculum): updated JS debugging challenge run-test
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-off-by-one-errors-when-using-indexing.md
Labels: status: waiting review, scope: curriculum

#47143 fix(validation): create .env before config
  .github/workflows/i18n-builds.yml
  .github/workflows/i18n-prs.yml
Labels: scope: tools/scripts

#47133 chore: remove mongo reference
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#46956 fix(curriculum): improve test in use-const-for-action-types challenge
  curriculum/challenges/english/03-front-end-development-libraries/redux/use-const-for-action-types.md
Labels: status: waiting review, scope: curriculum

#47126 feat: show reset button after submitting the code once
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting update, platform: client

#47152 Fix/update cat photo app bug of not checking type attribute
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804de.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f1a80975fc4bcae0edb3497.md
Labels: scope: curriculum, status: waiting update

#47169 fix(curriculum): Extended description
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537c9eecea6a335db6da79.md
Labels: scope: curriculum

#47193 fix(curriculum): typo in step 6 of CatPhotoApp project
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: scope: curriculum

#47182 fix(curriculum) changed wording on step 55
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe9cb47809106eda2f2c9.md
Labels: status: waiting review, scope: curriculum

#47171 fix(curriculum): allow whitespaces after closing tags
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: status: waiting review, scope: curriculum

#47150 fix(curriculum): update test regex to allow whitespaces
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/create-a-javascript-promise.md
Labels: status: waiting review, scope: curriculum

#46951 fix(client): worker executor task once
  client/src/templates/Challenges/utils/worker-executor.js
  client/src/templates/Challenges/utils/worker-executor.test.js
Labels: status: waiting review, platform: client

#47058 Fix: better description for steps 12&15 in registration form
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5cb8875ab6a0610f05071.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f803d5241e6a0433a523a1.md
Labels: status: waiting review, scope: curriculum

#47161 feat: add superblock intro to curriculum data API
  tools/scripts/build/build-external-curricula-data.ts
  tools/scripts/build/external-data-schema.js
Labels: status: waiting review, scope: tools/scripts

#47218 fix(curriculum): make test a little more lenient for reg form step 36
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad0a812d9890938524f50.md
Labels: scope: curriculum

#47205 fix(curriculum): remove ambiguous sentence from a11y quiz step 42
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f8f8bcd4370f6509078e.md
Labels: status: waiting review, scope: curriculum

#47213 fix(curriculum): clarify instructions for cafe menu step 41
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3cade9fa77275d9f4efe62.md
Labels: status: waiting review, scope: curriculum

#46755 fix(client/i18n): javascript alert translatible
  client/i18n/locales/english/translations.json
  client/src/client/frame-runner.ts
  client/src/templates/Challenges/components/preview.tsx
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client, scope: i18n

#47181 fix: Colored Markers Step 2 - tighten up tests
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61695ab9f6ffe951c16d03dd.md
Labels: status: waiting review, scope: curriculum

#47215 fix: 'logs' route should always have :_id param
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
Labels: status: waiting review, scope: curriculum

#47224 fix(curriculum): PhotoGallery Step 5
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537c9eecea6a335db6da79.md
Labels: status: waiting review, scope: curriculum

#47226 fix(curriculum): add missing instructions for lang attribute
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6140c7e645d8e905819f1dd4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/61437d575fb98f57fa8f7f36.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619665c9abd72906f3ad30f9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98ca.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fd5a93fd62bb35968adeab.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612e6afc009b450a437940a1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6996a.md
Labels: status: waiting review, scope: curriculum

#47208 fix(curriculum): use DOM for link element tests
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619665c9abd72906f3ad30f9.md
Labels: status: waiting review, scope: curriculum

#47201 fix(curriculum): dead links in data analyzer python
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
  curriculum/challenges/english/09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/english/09-information-security/information-security-projects/sha-1-password-cracker.md
Labels: status: waiting review, scope: curriculum

#47222 fix(curriculum): Made output for sample code in snippet clearer - Multidimensional Array Access
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-multi-dimensional-arrays-with-indexes.md
Labels: status: blocked, scope: curriculum

#47159 fix: adjust grid map css
  client/src/templates/Introduction/intro.css
Labels: status: waiting update, platform: client

#47250 chore(i18n,client): improve Japanese meta tags
  client/i18n/locales/japanese/meta-tags.json
Labels: status: waiting review, platform: client, scope: i18n

#46138 feat: move rdb order to middle of superblocks
  client/src/__mocks__/challenge-nodes.ts
  client/src/components/Map/__snapshots__/map.test.tsx.snap
  client/src/components/Map/index.tsx
  client/src/resources/cert-and-project-map.ts
  curriculum/utils.js
  curriculum/utils.test.ts
  cypress/integration/default/landing.js
  cypress/integration/default/learn/index.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#47210 refactor(curriculum): colored markers step 16
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61764c602bee6974e7790f35.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/617b65579ce424bf5f02ca73.md
Labels: status: waiting review, scope: curriculum

#47229 fix(curriculum) more comprehensive test for 24 game
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/24-game.md
Labels: status: waiting review, scope: curriculum

#47268 fix(curriculum): fix reference to class and selector names (Balance Sheet Step 45)
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62017b6f47454059bf2d3bd1.md
Labels: scope: curriculum

#47265 fix(curriculum): change selectors to properties (Balance Sheet Step 31)
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fdac1e31692f9a9ad97295.md
Labels: scope: curriculum

#47264 fix(curriculum): clarify instructions
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
Labels: status: waiting review, scope: curriculum

#47039 docs: typos & other grammar updates to moderator-handbook
  docs/images/github/xkcd-free-speech.png
  docs/moderator-handbook.md
Labels: status: waiting review, scope: docs

#47267 fix(ui): update a link for new campers
  client/src/pages/learn.tsx
Labels: status: waiting review, platform: client

#46969 fix(client): Fix print media queries for certificate
  client/src/client-only-routes/show-certification.tsx
  client/src/pages/certification.css
Labels: status: waiting review, platform: client

#47211 fix(curriculum): Clarified Description
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
Labels: status: waiting review, scope: curriculum

#47306 feat: enable Ukrainian RWD
  config/i18n/all-langs.ts
Labels: status: waiting review, scope: i18n

#47293 feat: expose submit types to API
  client/utils/challenge-types.js
  tools/scripts/build/build-external-curricula-data.test.ts
  tools/scripts/build/build-external-curricula-data.ts
Labels: platform: client, scope: tools/scripts

#47323 docs: update link to article
  docs/how-to-setup-wsl.md
Labels: scope: docs

#47322 chore: enable german crowdin downloads
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
Labels: scope: tools/scripts

#47321 chore: replace Codepen - Show National Contiguity with a Force Directed Graph
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-national-contiguity-with-a-force-directed-graph.md
Labels: status: waiting review, scope: curriculum

#47288 fix(curriculum):Added note for identifier
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f50473cc0196c6dd3892a.md
Labels: scope: curriculum

#47262 fix(curriculum): use regex for background color tests
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61a489b8579e87364b2d2cdb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61a4ada3aabeec822b2975d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61a5ca57f50ded36d33eef96.md
Labels: status: waiting review, scope: curriculum

#47303 fix: make ctrl+enter work on mac
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#47331 fix(curriculum): Reworded Challenge Editor
  docs/how-to-work-on-practice-projects.md
  tools/challenge-editor/client/src/components/buttons/InsertStep.tsx
  tools/challenge-editor/client/src/components/tools/Tools.tsx
Labels: scope: docs, scope: tools/scripts

#47253 fix(curriculim): improve hints for Cat Photo App step 46
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
Labels: status: waiting review, scope: curriculum

#47335 Add inspiring quote
  client/i18n/locales/english/motivation.json
Labels: platform: client, scope: i18n

#47312 feat: enable german
  client/i18n/locales/german/links.json
  client/i18n/locales/german/meta-tags.json
  client/i18n/locales/german/motivation.json
  client/i18n/locales/german/trending.json
  client/src/utils/algolia-locale-setup.ts
  config/i18n/all-langs.ts
Labels: status: waiting review, platform: client, scope: i18n

#47326 fix(UI): make possible to reset challenge after tests pass
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: client

#47347 chore(i18n,client): Adding meta-tags.json, links.json and motivation.json in German
  client/i18n/locales/german/links.json
  client/i18n/locales/german/meta-tags.json
  client/i18n/locales/german/motivation.json
Labels: status: waiting review, platform: client, scope: i18n

#47333 fix(curriculum): force directed graph example link
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-national-contiguity-with-a-force-directed-graph.md
Labels: status: waiting review, scope: curriculum

#47357 fix(curriculum): make TODO comment in CatPhotoApp project untranslatable
  curriculum/dictionaries/english/comments-to-not-translate.json
  curriculum/dictionaries/english/comments.json
Labels: status: waiting review

#47359 fix: disable german in the dropdown
  config/i18n/all-langs.ts
Labels: status: waiting review, scope: i18n

#47363 docs: update discord mod handbook
  docs/moderator-handbook.md
Labels: scope: docs

#47362 feat: allow languages to be hidden
  client/src/components/Header/components/nav-links.tsx
  config/i18n/all-langs.ts
Labels: platform: client, scope: i18n

#47370 fix/Learn Typography by building a Nutrition Label:Step 22
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f42a021625f656101ef93.md
Labels: scope: curriculum

#47369 fix(tools): update nav test
  cypress/integration/default/learn/header/universal-navigation.js
Labels: scope: tools/scripts

#47373 update the Chinese forum link in menu
  client/i18n/locales/chinese/links.json
Labels: platform: client, scope: i18n

#47378 fix: add comma to fix typo
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/understand-functional-programming-terminology.md
Labels: status: waiting review, scope: curriculum

#47352 chore(client): clean-up lower-jaw logic
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: client

#47334 chore(client): Typescript migration of __mocks__/gatsby.js
  client/src/__mocks__/gatsby.ts
Labels: status: waiting review, platform: client

#47390 docs: update private command syntax
  docs/moderator-handbook.md
Labels: scope: docs

#47385 feat: add search link to help modal
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/help-modal.css
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
Labels: platform: client, scope: i18n

#47389 fix(curriculum): explain media queries
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ebcba99bfa46a15370b11.md
Labels: scope: curriculum

#47365 feat: add lang code to iframe
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client, scope: i18n

#47361 docs: document how to deploy language
  docs/_sidebar.md
  docs/how-to-enable-new-languages.md
  docs/language-lead-handbook.md
Labels: status: waiting review, scope: docs
