Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-12, with the labels that each got.

#47174 feat: get footer from cdn
  .gitignore
  .prettierignore
  client/i18n/locales.test.ts
  client/i18n/locales/arabic/trending.json
  client/i18n/locales/chinese-traditional/trending.json
  client/i18n/locales/chinese/trending.json
  client/i18n/locales/english/trending.json
  client/i18n/locales/espanol/trending.json
  client/i18n/locales/german/trending.json
  client/i18n/locales/italian/trending.json
  client/i18n/locales/japanese/trending.json
  client/i18n/locales/portuguese/trending.json
  client/i18n/locales/ukrainian/trending.json
  client/i18n/schema-validation.ts
  client/i18n/schema/trendingSchema.js
  package-lock.json
  package.json
  tools/scripts/build/download-trending.ts
  tools/scripts/build/package.json
Labels: platform: client, scope: i18n, scope: tools/scripts

#48558 fix(docs): update references to comments.js
  docs/how-to-work-on-coding-challenges.md
Labels: status: waiting review, scope: docs

#48612 fix(actions): errors in mobile cypress action
  .github/workflows/e2e-mobile.yml
  cypress/e2e/mobile-learn/test-challenges.js
Labels: scope: tools/scripts

#48621 fix(curriculum): take browser difference into account (CSS Penguin Step 75)
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d1c5fc9f8941a400955da.md
Labels: status: waiting review, scope: curriculum

#48592 fix(curriculum): consistent stylesheet import (CSS Box Model)
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad69970.md
Labels: status: waiting review, scope: curriculum

#48652 fix(i18n): download english trending for fallback
  tools/scripts/build/download-trending.ts
Labels: scope: tools/scripts

#48654 fix(UI): make 'Tests' heading translatable
  client/src/templates/Challenges/components/test-suite.tsx
Labels: status: waiting review, platform: client

#48668 fix(curriculum): typo - make a word plural
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy.md
Labels: scope: curriculum

#48639 fix(a11y): enhance accessibility of prismjs code examples
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/components/prism-formatted.tsx
  client/src/templates/Challenges/utils/index.ts
Labels: scope: a11y, platform: client

#48669 fix(curriculum): improve readability
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.md
Labels: scope: curriculum

#48675 docs(component-library): Fix typo in table
  docs/how-to-work-on-the-component-library.md
Labels: status: waiting review, scope: docs

#48677 fix(curriculum): typo in test output
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.md
Labels: status: waiting review, scope: curriculum

#48674 chore: bump prettier and lint-staged
  client/src/templates/Challenges/codeally/show.tsx
  package-lock.json
  package.json
  tools/scripts/lint/validate-keys.ts
Labels: platform: client, scope: tools/scripts

#48681 fix(curriculum): Typo in map test description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.md
Labels: status: waiting review, scope: curriculum

#48676 fix(curriculum): switch from getUserInput to code
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-arrow-functions-with-parameters.md
Labels: scope: curriculum

#48694 chore(tools/scripts): Upgrade CodeSee workflow to version 2
  .github/workflows/codesee-diagram.yml
Labels: scope: tools/scripts

#48529 feat: make toggle tab setting permanent in monaco editor
  client/i18n/locales/english/translations.json
  client/src/declarations.d.ts
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client, scope: i18n

#48211 fix(bug): Make table and button consistent in settings and certification page.
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/layouts/global.css
  client/src/components/profile/components/time-line.tsx
  client/src/components/profile/components/timeline.css
  client/src/components/settings/certification.css
  client/src/components/solution-display-widget/index.tsx
Labels: status: waiting review, platform: client

#48423 fix(curriculum): Wrong code that previously passes fetch challenge now fails
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method.md
Labels: status: waiting review, scope: curriculum

#47848 fix: regex test for building a magezine project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d3fff5186b57123d97e2.md
Labels: status: waiting review, scope: curriculum

#48701 feat: enable TypeScript for Cypress
  .eslintrc.json
  .github/workflows/e2e-web.yml
  cypress.config.js
  cypress/e2e/default/learn/challenges/backend.ts
  cypress/tsconfig.json
  tsconfig-base.json
Labels: status: waiting review, scope: tools/scripts

#48717 fix: Typo in Quality Assurance Project
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
Labels: status: waiting review, scope: curriculum

#48727 fix: strict step and wrong spacing of step in CatPhotoApp
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07be6ef7412fbad0c5626b.md
Labels: status: waiting review, scope: curriculum

#48724 docs : Update how-to-catch-outgoing-emails-locally.md
  docs/how-to-catch-outgoing-emails-locally.md
Labels: scope: docs

#48733 fix(tools): challenge editor - input text color
  tools/challenge-editor/client/src/components/tools/Tools.css
Labels: scope: tools/scripts

#48739 chore: replace nonprofit with charity
  client/i18n/locales/english/translations.json
  cypress/e2e/default/learn/donate/donate-page-default.js
  cypress/e2e/default/learn/donate/donate-page-donor.js
Labels: platform: client, scope: i18n, scope: tools/scripts

#48734 feat(Cypress): give basic structure to cypress typescript files
  cypress/e2e/default/learn/challenges/backend.ts
  cypress/e2e/default/learn/challenges/code-storage.ts
  cypress/e2e/default/learn/challenges/codeally.ts
  cypress/support/commands.js
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/selectors.ts
  cypress/tsconfig.json
Labels: scope: tools/scripts

#47254 feat: certification qr
  client/package.json
  client/src/client-only-routes/show-certification.tsx
  client/src/pages/certification.css
  package-lock.json
Labels: status: waiting review, platform: client

#48748 chore: make too many lockfiles error more explicit
  .github/workflows/node.js-tests.yml
Labels: status: waiting review, scope: tools/scripts

#48750 docs: instruction about adding packages in ui-component library
  docs/how-to-work-on-the-component-library.md
Labels: status: waiting review, scope: docs

#48568 feat: use system theme if default
  client/src/components/layouts/default.tsx
Labels: status: waiting review, platform: client

#48760 feat(docs): update `how-to-catch-outgoing-emails-locally.md`
  docs/how-to-catch-outgoing-emails-locally.md
Labels: scope: docs

#48742 Fix: Change "monsterStats" element to "#monsterStats"
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a23d1c5f1c93161f3582ae.md
Labels: scope: curriculum

#48763 docs: adding code tags on id word
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/5d5a813321b9e3db6c106a46.md
Labels: scope: curriculum

#48766 fix(a11y): hide spacer span
  client/src/assets/icons/spacer.tsx
Labels: status: waiting review, platform: client

#48287 feat: add RTL language layout
  client/src/components/Header/components/universal-nav.css
  client/src/components/layouts/default.tsx
  client/src/components/layouts/fonts.css
  client/src/components/layouts/rtl-layout.css
  client/static/fonts/noto-sans-arabic/NotoSansArabic-Black.woff
  client/static/fonts/noto-sans-arabic/NotoSansArabic-Bold.woff
  client/static/fonts/noto-sans-arabic/NotoSansArabic-Light.woff
  client/static/fonts/noto-sans-arabic/NotoSansArabic-Regular.woff
  config/i18n.ts
Labels: status: waiting review, platform: client

#48697 feat: add the ability to create a download button
  tools/ui-components/src/button/button.stories.tsx
  tools/ui-components/src/button/button.test.tsx
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/button/types.ts
  tools/ui-components/src/link/types.ts
Labels: status: waiting review, scope: tools/scripts

#48513 feat(client): remove inline values in GreenPass component
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#48117 fix(ci): add node 18 build, test variants
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/i18n-validate-builds.yml
  .github/workflows/i18n-validate-prs.yml
  .github/workflows/node.js-find-unused.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: status: blocked, scope: tools/scripts

#48798 docs: update pre-req to Node.js 18
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#48793 fix(curriculum): Update title and text of rest elements challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-parameter-to-reassign-array-elements.md
Labels: status: waiting review, scope: curriculum

#46379 feat(donation): simplify donation client
  .eslintignore
  .gitignore
  .prettierignore
  api-server/src/server/utils/donation.js
  api-server/src/server/utils/stripeHelpers.js
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/patreon-button.tsx
  client/src/components/Donation/paypal-button-script-loader.tsx
  client/src/components/Donation/paypal-button.test.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/Donation/types.ts
  client/src/components/Donation/walletsButton.tsx
  client/src/pages/donate.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/donation-saga.js
  client/src/redux/donation-saga.test.js
  client/src/redux/index.js
  client/src/utils/analyticsStrings.test.ts
  client/src/utils/analyticsStrings.ts
  config/donation-settings.ts
Labels: status: waiting review, platform: api, platform: client, scope: i18n

#48789 fix: first sentence in step 32 JS course.
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62fc20387ef88d1d1998aac5.md
Labels: status: waiting review, scope: curriculum

#48783 fix(curriculum): sentence construction in build an RPG project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a255dae245b52317da824a.md
Labels: status: waiting review, scope: curriculum

#48803 chore(client): add Arabic freeCodeCamp about
  client/i18n/locales/arabic/links.json
Labels: status: waiting review, platform: client, scope: i18n

#48812 docs: remove extra line breaks in the FAQ
  docs/FAQ.md
Labels: status: waiting review, scope: docs

#48769 feat: swap to logical properties for spacing
  client/src/components/Donation/donation.css
  client/src/components/Footer/footer.css
  client/src/components/FourOhFour/404.css
  client/src/components/Header/components/universal-nav.css
  client/src/components/Intro/intro.css
  client/src/components/helpers/toggle-button.css
  client/src/components/landing/landing.css
  client/src/components/layouts/global.css
  client/src/components/profile/components/portfolio.css
  client/src/components/search/searchBar/searchbar-base.css
  client/src/components/search/searchPage/search-page-hits.css
  client/src/components/settings/honesty.css
  client/src/components/settings/toggle-setting.css
  client/src/pages/certification.css
  client/src/pages/common-pages.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/challenge-title.css
  client/src/templates/Challenges/components/completion-modal.css
  client/src/templates/Challenges/components/test-suite.css
  client/src/templates/Challenges/video/show.css
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: client

#48785 fix(client): i18n project and certification titles in settings, profile and certification page
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/profile/components/certifications.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/certification.js
Labels: platform: client, scope: i18n

#48816 fix(curriculum): typo in make an RPG game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3cfc8328d3351b95d4f61.md
Labels: status: waiting review, scope: curriculum

#48808 chore: add best practices for styling a component in codebase
  docs/codebase-best-practices.md
Labels: status: waiting review, scope: docs

#48512 feat: mark user editable regions in help post
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: status: waiting review, platform: client

#48830 fix(client): add loader to default layouts
  client/src/components/layouts/default.tsx
Labels: status: waiting review, platform: client

#48831 fix(curriculum): fix typos in step 66 of new JS RBG project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c1154d3ae11aee80353f.md
Labels: status: waiting review, scope: curriculum

#48702 feat(UI): visualize input clear button
  client/i18n/locales/english/translations.json
  client/src/assets/icons/Magnifier.tsx
  client/src/assets/icons/inputReset.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/Header/index.tsx
  client/src/components/search/searchBar/search-bar-optimized.tsx
  client/src/components/search/searchBar/search-bar.tsx
  client/src/components/search/searchBar/searchbar-base.css
  client/src/components/search/searchBar/searchbar.css
Labels: status: waiting review, platform: client, scope: i18n

#48843 fix: Typo in codebase best practices
  docs/codebase-best-practices.md
Labels: scope: docs

#48860 fix(curriculum): Grammar in step 48 of build an rpg
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7c071219da921758a35bb.md
Labels: status: waiting review, scope: curriculum

#48867 docs: clean up some typos
  docs/how-to-contribute-to-the-codebase.md
  docs/how-to-setup-freecodecamp-locally.md
Labels: status: waiting review, scope: docs

#48829 fix(curriculum): clarify element in role-playing-game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7bfabe119461eb13ccbd6.md
Labels: status: waiting review, scope: curriculum

#48885 docs: improved the syntax in the codebase best practice docs
  docs/codebase-best-practices.md
Labels: status: waiting review, scope: docs
