Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-10, with the labels that each got.

#47679 chore(client,i18n): update Japanese footer Oct 22
  client/i18n/locales/japanese/trending.json
Labels: platform: client, scope: i18n

#47690 fix(curriculum): correct typos
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/24-game.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md
Labels: scope: curriculum

#47705 fix(curriculum): Remove comma and correct the sentence
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/discordian-date.md
Labels: scope: curriculum

#47692 Added missing backticks to variables
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
Labels: scope: curriculum

#47694 fix(curriculum): Update data viz demo project URLs
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.md
Labels: scope: curriculum

#47718 fix(curriculum): falsy bouncer - do not mutate the original array
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/falsy-bouncer.md
Labels: scope: curriculum

#47776 fix(curriculum): correct typos in make an RPG
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3b49686792938718b90d3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7bfabe119461eb13ccbd6.md
Labels: status: waiting review, scope: curriculum

#47786 Update challenge description for array concat
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/add-elements-to-the-end-of-an-array-using-concat-instead-of-push.md
Labels: scope: curriculum, hacktoberfest-accepted

#47793 chore: removed unnecessary comment
  utils/get-lines.js
Labels: scope: tools/scripts

#47801 chore: replaced `substr` with `substring`
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-13-large-sum.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/iban.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/longest-common-subsequence.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
Labels: status: waiting review, scope: curriculum

#47785 Updated FAQ with Grammar Changes
  docs/FAQ.md
Labels: scope: docs

#47811 feat: spam automation
  .github/workflows/autoclose.yml
  .github/workflows/spam.yml
Labels: scope: tools/scripts

#47787 fix: allow flex inside media queries when testing
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
Labels: status: waiting review, scope: curriculum, hacktoberfest-accepted

#47700 Document improvements
  docs/how-to-help-with-video-challenges.md
Labels: status: waiting review, scope: docs

#47819 fix(curriculum): fix the text going against the guidelines In step 20 of building a skyline project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153a3952facd25a83fe8083.md
Labels: status: waiting review, scope: curriculum

#47832 fix: sudo enable writes to locale files
  .github/workflows/crowdin-download.client-ui.yml
Labels: scope: tools/scripts

#47807 feat: reorder chinese map
  config/i18n/all-langs.ts
Labels: status: waiting review, scope: i18n

#47835 test: pretty i18n files on download
  .github/workflows/crowdin-download.client-ui.yml
Labels: scope: tools/scripts

#47839 test: crowdin client downloads
  .github/workflows/crowdin-download.client-ui.yml
Labels: scope: tools/scripts

#47845 docs: sync devops manual with pipelines
  docs/devops.md
Labels: scope: docs

#47818 fix(curriculum): put a verb in singular by removing a letter
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.md
Labels: scope: curriculum

#47844 docs: update all-langs.js link
  docs/how-to-work-on-localized-client-webapp.md
Labels: status: waiting review, scope: docs

#47834 docs: add newbie guideline and template
  docs/how-to-open-a-pull-request.md
  docs/index.html
  docs/moderator-handbook.md
Labels: scope: docs

#47739 fix(curriculum): make the description clearer for discordian-date
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/discordian-date.md
Labels: status: waiting review, scope: curriculum

#47780 docs: improved keywords in index.html file
  docs/index.html
Labels: scope: docs

#47862 fix(curriculum): typos in new JavaScript make an RPG game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c7322e42962ad53ad204.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d35660db4040ba292193.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d81f539f004776dd9b1e.md
Labels: status: waiting review, scope: curriculum

#47764 fix(a11y): make console pane output keyboard accessible
  client/src/templates/Challenges/components/output.css
  client/src/templates/Challenges/components/output.tsx
Labels: status: waiting review, scope: a11y, platform: client

#47885 feat: more aggressive autoclose on .gitignore
  .github/workflows/autoclose.yml
Labels: scope: tools/scripts

#47892 fix(UI): fixed substring typo in excercise tracker
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
Labels: status: waiting review, scope: curriculum

#47898 fix(autoclose): get the files before counting them
  .github/workflows/autoclose.yml
Labels: scope: tools/scripts

#47909 fix(curriculum): typos in making RPG game project at new JS
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8e4dc6a60f85bf256a0cb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8ed36d7a7915dfa444ba2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8ee154c8946678775c4a4.md
Labels: status: waiting review, scope: curriculum

#47922 fix(curriculum): correct typos in back end development and apis
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/create-a-model.md
Labels: status: waiting review, scope: curriculum

#47890 fix: separate string to view code/project
  client/i18n/locales/english/translations.json
  client/src/components/settings/certification.test.tsx
  client/src/components/solution-display-widget/index.tsx
Labels: status: waiting review, platform: client, scope: i18n, hacktoberfest-accepted

#47940 fix: cypress third-party ignore docs
  .github/workflows/cypress-third-party.yml
Labels: status: waiting review, scope: tools/scripts

#47946 docs: clearer tone for non-native speakers
  docs/how-to-open-a-pull-request.md
Labels: scope: docs

#47953 fix(curriculum): survey form descendant typo
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
Labels: scope: curriculum

#47938 docs(moderator): create onboarding guide for fCC moderators
  docs/moderator-onboarding-guide.md
Labels: scope: docs

#47955 docs: add issue assignment template
  docs/moderator-handbook.md
Labels: scope: docs

#47960 chore: add section about how the articles are built
  docs/language-lead-handbook.md
Labels: status: waiting review, scope: docs

#47231 feat(tools): Flex and Spacer components - UI Components
  tools/ui-components/src/flex/flex.stories.tsx
  tools/ui-components/src/flex/flex.tsx
  tools/ui-components/src/flex/index.ts
  tools/ui-components/src/flex/types.ts
  tools/ui-components/src/spacer/index.ts
  tools/ui-components/src/spacer/spacer.stories.tsx
  tools/ui-components/src/spacer/spacer.tsx
  tools/ui-components/src/spacer/types.ts
Labels: status: waiting review, scope: tools/scripts

#47964 revert(tools): Flex and Spacer components - UI Components
  tools/ui-components/src/flex/flex.stories.tsx
  tools/ui-components/src/flex/flex.tsx
  tools/ui-components/src/flex/index.ts
  tools/ui-components/src/flex/types.ts
  tools/ui-components/src/spacer/index.ts
  tools/ui-components/src/spacer/spacer.stories.tsx
  tools/ui-components/src/spacer/spacer.tsx
  tools/ui-components/src/spacer/types.ts
Labels: scope: tools/scripts

#47630 fix(learn): Cafe Menu Step 13 - add checks for more than 1 style element
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477ae9675db8bb7655b30.md
Labels: status: waiting review, scope: curriculum

#47659 feat(client,seo): add structured data for courses
  client/src/components/landing/index.tsx
  client/src/components/seo/index.tsx
  client/src/components/seo/seo.test.tsx
Labels: status: waiting review, platform: client

#47942 fix(curriculum): Added definition of vh and rem
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f1922fcbd2410527b3bd89.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f803d5241e6a0433a523a1.md
Labels: status: waiting review, scope: curriculum

#47681 fix(curriculum): instructions and tests for a11y quiz step 56
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148da157cc0bd0d06df5c0a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dc095264000dce348bf5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dcaaf2e8750e6cb4501a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dd31d210990f0fb140f8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148defa9c01520fb9d178a0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dfab9b54c110577de165.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e0bcc13efd10f7d7a6a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e161ecec9511941f8833.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e28706b34912340fd042.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e335c1edd512d00e4691.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e41c728f65138addf9cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e5aeb102e3142de026a2.md
Labels: status: waiting review, scope: curriculum

#47894 fix(curriculum): update front end demo project urls
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-markdown-previewer.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-random-quote-machine.md
Labels: scope: curriculum

#47281 fix(curriculum): colored markers - clarify meta tag description
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616965351e74d4689eb6de30.md
Labels: status: waiting review, scope: curriculum

#47978 fix: update url and status in sd-markup
  client/src/components/seo/index.tsx
Labels: status: waiting review, platform: client

#47883 fix(api): write variable names in correct manner
  api-server/src/server/utils/donation.test.js
Labels: status: waiting review, platform: api

#47841 fix(learn): update verbiage to emphasize on `\n` instead of `\r`
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings.md
Labels: status: waiting review, scope: curriculum

#47813 chore(client): ts migrate builders.js
  client/src/templates/Challenges/rechallenge/builders.ts
  client/src/templates/Challenges/utils/build.ts
Labels: status: waiting review, platform: client

#47799 fix(client): prevent submitting forms in iframe
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client, scope: i18n

#47990 fix(curriculum): faster solution for primes
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-primes.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-10-summation-of-primes.md
Labels: status: waiting review, scope: curriculum

#47989 fix: do not display breadcrumbs with iframe
  client/src/templates/Challenges/codeally/show.tsx
Labels: status: waiting review, platform: client, hacktoberfest-accepted

#47997 fix(e2e): reduce load on the CI
  .github/workflows/cypress-third-party.yml
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#47935 fix(curriculum): updated ES5 and ES6 class description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function.md
Labels: status: waiting review, scope: curriculum

#47991 feat(client): add page for users blocked by okta
  client/src/pages/blocked.css
  client/src/pages/blocked.tsx
Labels: platform: client

#47992 feat(api): add redirect for users blocked by okta
  api-server/src/server/component-passport.js
Labels: status: blocked, platform: api

#47998 chore: only run one spec with electron
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#47680 fix(curriculum): recursion challenges that abuse global space
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-countdown.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller.md
Labels: status: waiting review, scope: curriculum

#48005 fix: small error in front-end libs intro
  client/i18n/locales/english/intro.json
Labels: platform: client, status: waiting triage, scope: i18n

#48017 chore(curriculum): fix phrase that goes against our challenges guideline
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f1922fcbd2410527b3bd89.md
Labels: status: waiting review, scope: curriculum

#47808 fix(learn): colored markers - step 5 - validation
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616965351e74d4689eb6de30.md
Labels: status: waiting review, scope: curriculum, hacktoberfest-accepted

#47974 fix(client): remove unused files
  client/src/assets/icons/donate-with-PayPal.tsx
  client/src/assets/icons/intro-information.tsx
  client/src/components/Donation/donation-text-components.tsx
  client/src/components/Donation/duration-amount-options.tsx
  client/src/components/Donation/paypal-button-script-loader.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Flash/redux/index.ts
  client/src/components/Header/components/user-state.tsx
  client/src/components/helpers/form/block-save-wrapper.tsx
  client/src/components/search/searchPage/empty-search.tsx
  client/src/components/search/searchPage/no-results.tsx
  client/src/components/search/searchPage/search-page-hits.tsx
Labels: status: waiting review, platform: client

#48004 chore(client): remove exports for unused types
  client/src/components/Header/components/Login.tsx
  client/src/components/Header/components/auth-or-profile.tsx
  client/src/components/Header/components/menu-button.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Header/index.tsx
  client/src/components/formHelpers/form-validators.tsx
  client/src/redux/prop-types.ts
  client/src/redux/types.ts
Labels: status: waiting review, platform: client

#48045 fix: lint only the curriculum for curriculum PRs
  .github/workflows/crowdin-download.curriculum.yml
  package.json
Labels: status: waiting review, scope: tools/scripts

#47586 feat: mobile curriculum testing
  .github/workflows/mobile-curriculum-tests.yml
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/divide-one-decimal-by-another-with-javascript.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/initializing-variables-with-the-assignment-operator.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/quoting-strings-with-single-quotes.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/stand-in-line.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/add-methods-after-inheritance.md
  cypress/integration/mobile-learn/test-challenges.js
Labels: status: waiting review, scope: curriculum, scope: tools/scripts

#48046 chore(tools): download untranslated files
  .github/workflows/crowdin-download.curriculum.yml
Labels: scope: tools/scripts

#48059 refactor: rename workflow files
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/github-autoclose.yml
  .github/workflows/github-labeler.yaml
  .github/workflows/github-no-i18n-via-prs.yml
  .github/workflows/github-spam.yml
  .github/workflows/i18n-validate-builds.yml
  .github/workflows/i18n-validate-prs.yml
Labels: scope: tools/scripts

#48003 feat(client): add growthbook
  client/gatsby-browser.js
  client/gatsby-ssr.js
  client/package.json
  client/src/components/Intro/index.tsx
  client/src/components/Intro/research-banner.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
  config/read-env.js
  package-lock.json
  sample.env
  tools/scripts/build/ensure-env.ts
Labels: platform: client, scope: tools/scripts

#48093 docs: typo on how to open pull request document
  docs/how-to-open-a-pull-request.md
Labels: status: waiting review, scope: docs

#48100 fix(curriculum): change `if` to if to help translation
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2aec2f09d454253aad6c.md
Labels: scope: curriculum

#47838 fix(tools/script): add tests for hotkeys when instruction is clicked
  cypress/e2e/default/learn/challenges/multifile.js
Labels: scope: tools/scripts

#47959 fix: test remove element from max heap failing as expected
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.md
Labels: status: waiting review, scope: curriculum

#48010 fix(curriculum): build a city skyline instruction updated
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d5.md
Labels: status: waiting review, scope: curriculum

#48086 chore(utils): migrate block-nameify to TS and add unit tests
  .gitignore
  .prettierignore
  utils/block-nameify.d.ts
  utils/block-nameify.test.ts
  utils/block-nameify.ts
Labels: status: waiting review, scope: tools/scripts

#48025 feat: add docs for News launches
  docs/how-to-enable-new-languages.md
Labels: scope: docs

#48122 fix(curriculum): typo in js rpg challenge
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa234322d4ad3e8bce42cc.md
Labels: scope: curriculum

#48134 docs: clear typo in language lead document
  docs/language-lead-handbook.md
Labels: status: waiting review, scope: docs

#48015 Fix(learn): Rework Euler Problem 125
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-125-palindromic-sums.md
Labels: status: waiting review, scope: curriculum

#48130 chore(client): add Arabic i18n json files
  client/i18n/locales/arabic/links.json
  client/i18n/locales/arabic/meta-tags.json
  client/i18n/locales/arabic/motivation.json
  client/i18n/locales/arabic/trending.json
Labels: status: waiting review, platform: client, scope: i18n

#48127 feat(crowdin): add arabic language to download workflow
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
Labels: status: waiting review, scope: tools/scripts

#47836 feat(tools): introduce knip to find unused files, dependencies & exports
  config/knip/knip.dev.json
  config/knip/knip.json
  package-lock.json
  package.json
Labels: status: waiting review, hacktoberfest-accepted

#48014 fix(UI): replace button with icons in challenge lower jaw
  client/src/assets/icons/help.tsx
  client/src/assets/icons/reset.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/lower-jaw.tsx
  cypress/e2e/default/learn/challenges/multifile.js
Labels: status: waiting update, platform: client, scope: tools/scripts

#47759 fix(curriculum): typos in challenge description
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/state-name-puzzle.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537c9eecea6a335db6da79.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2999ec27ec516655eba6.md
Labels: status: waiting review, scope: curriculum

#48149 chore: add knip to ci
  .github/workflows/node.js-find-unused.yml
Labels: scope: tools/scripts

#48169 feat(client): replace preview icon with a clearer one
  client/src/templates/Challenges/classic/action-row.tsx
Labels: platform: client

#47791 test(e2e): add tests for navigating Menu with keyboard
  cypress/e2e/default/learn/header/universal-navigation.js
  cypress/support/e2e.js
  package-lock.json
  package.json
Labels: status: waiting review, scope: tools/scripts, hacktoberfest-accepted

#47870 fix(client): preserve scroll position of preview iframe
  client/src/templates/Challenges/components/preview.tsx
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client, hacktoberfest-accepted

#48143 fix(server): default to log `fcc` namespaces, unless env set
  api-server/package.json
  api-server/src/development-start.js
  api-server/src/server/index.js
Labels: status: waiting review, platform: api

#48158 fix(curriculum): Faster Euler tests for prime seive problems
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-128-hexagonal-tile-differences.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-47-distinct-primes-factors.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-50-consecutive-prime-sum.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-51-prime-digit-replacements.md
Labels: status: waiting review, scope: curriculum

#48177 chore(client): add Arabic meta tags and translated links
  client/i18n/locales/arabic/links.json
  client/i18n/locales/arabic/meta-tags.json
Labels: status: waiting review, platform: client, scope: i18n

#47628 fix(learn): check if input has only one type attribute
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
Labels: status: waiting review, scope: curriculum

#48180 docs(i18n): add list of translatable footer links
  docs/language-lead-handbook.md
Labels: scope: docs

#48204 docs: fix typo in the wsl setup guide
  docs/how-to-setup-wsl.md
Labels: scope: docs

#48179 fix(curriculum): add descriptive hint for skyline project step 22
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98de.md
Labels: status: waiting review, scope: curriculum

#48196 fix(curriculum): Added description texts about spaces in step 154 #48160
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa226207f33d3ad4c6f546.md
Labels: status: waiting review, scope: curriculum

#48218 fix(curriculum): add ending dots for consistency (Build a Survey Form)
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
Labels: scope: curriculum

#48154 feat(client): clear ESLint comment in learn layout
  client/src/components/Donation/donation-modal.tsx
  client/src/components/layouts/learn.tsx
Labels: status: waiting review, platform: client

#48142 feat: remove playwright webkit
  cypress.config.js
  package-lock.json
  package.json
Labels: status: waiting review, scope: tools/scripts

#48210 fix(curriculum): several typos and grammar errors
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-multi-dimensional-arrays-with-indexes.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-misspelled-variable-and-function-names.md
  curriculum/challenges/english/03-front-end-development-libraries/react-and-redux/connect-redux-to-the-messages-app.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-description-to-your-package.json.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-144-investigating-multiple-reflections-of-a-laser-beam.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-147-rectangles-in-cross-hatched-grids.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-256-tatami-free-rooms.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-314-the-mouse-on-the-moon.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-334-spilling-the-beans.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-385-ellipses-inside-triangles.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/align-columns.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/averages-pythagorean-means.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/compare-a-list-of-strings.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/count-the-coins.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sha-256.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
Labels: status: waiting review, scope: curriculum

#48239 Fixed Grammar in Steps 8 and 10 of Accessibility Quiz Challenge
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/613e275749ebd008e74bb62e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6140883f74224508174794c0.md
Labels: scope: curriculum

#48261 fix(tools): fail-safe cleanup
  package.json
Labels: status: waiting review

#48258 refactor: s/all-langs/i18n/g
  .eslintignore
  .gitignore
  .prettierignore
  api-server/src/server/component-passport.js
  api-server/src/server/utils/redirection.js
  client/i18n/config.js
  client/i18n/locales.test.ts
  client/i18n/schema-validation.ts
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/app-mount-notifier.test.tsx
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/components/time-line.tsx
  config/i18n.ts
  curriculum/getChallenges.js
  curriculum/utils.js
  curriculum/utils.test.ts
  cypress/e2e/default/learn/header/universal-navigation.js
  tools/challenge-auditor/index.ts
  tools/scripts/build/ensure-env.ts
  utils/is-audited.js
Labels: platform: api, platform: client, scope: i18n, scope: tools/scripts

#48237 docs(mod-guide): clarify how to deal with solutions
  docs/moderator-handbook.md
Labels: status: waiting review, scope: docs

#48240 fix(curriculum): use `getComputedStyle` to check css value
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148da157cc0bd0d06df5c0a.md
Labels: status: waiting review, scope: curriculum

#48178 chore(client): Don't re-create preview iframe from scratch on each test run
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: status: waiting review, platform: client

#48254 fix(curriculum): corrected wrong usage of it's contraction
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-021.md
  curriculum/challenges/english/04-data-visualization/d3-dashboard/step-105.md
Labels: status: waiting review, scope: curriculum, hacktoberfest-accepted

#48269 fix(curriculum): changed wording of step 11 and 12 for easier understanding
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d4a84b756d9c4b8255093.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d50b93ba424d6282c99cf.md
Labels: status: waiting review, scope: curriculum

#47022 feat(client): add "completed x of y" in completion modal
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/completion-modal-body.test.tsx
  client/src/templates/Challenges/components/completion-modal-body.tsx
  client/src/templates/Challenges/components/completion-modal.test.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
Labels: status: waiting review, platform: client, scope: i18n

#48268 feat(client): add icon in setting page button
  client/src/components/solution-display-widget/index.tsx
Labels: status: waiting review, platform: client

#48144 feat(client): refactor universal nav missing types
  client/src/components/Header/components/menu-button.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Header/index.tsx
  client/src/components/helpers/link.tsx
Labels: status: waiting review, platform: client

#48279 docs: add notes about the deployments
  docs/how-to-enable-new-languages.md
Labels: scope: docs

#48245 feat(client): add rtl direction attribute to html element
  client/src/html.tsx
  config/i18n.ts
Labels: status: waiting review, platform: client

#48286 fix(curriculum): improve a hint in the new JS RPG project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8f14fe6d1fc72454648c7.md
Labels: scope: curriculum

#48241 feat: disable find hotkey in editor
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#48289 chore(client,i18n): Update Chinese trending articles
  client/i18n/locales/chinese/trending.json
Labels: status: waiting review, scope: i18n

#47221 fix(curriculum): Added introduction to meta tag
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62bb4009e3458a128ff57d5d.md
Labels: status: waiting review, scope: curriculum

#48282 fix(curriculum): alter description of build a city skyline step 102
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e992f.md
Labels: status: waiting review, scope: curriculum

#48161 fix(curriculum): build a city skyline step 20 instruction updated
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98dc.md
Labels: status: waiting review, scope: curriculum

#48321 docs: correct typo in moderator handbook
  docs/moderator-handbook.md
Labels: status: waiting review, scope: docs

#48280 fix(curriculum): describe different browser behavior (Survey Form)
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
Labels: status: waiting review, scope: curriculum

#48208 fix(curriculum): add lesson to registration form practice project for adding method attribute
  curriculum/challenges/_meta/learn-html-forms-by-building-a-registration-form/meta.json
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5cb8875ab6a0610f05071.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5d2776c854e069560fbe6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5dc35c07ac1078f140916.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f803d5241e6a0433a523a1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f805f813eaf2049bc2ceea.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f80e0081e0f2052ae5b505.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f81167d0d4910809f88945.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f81616cff80508badf9ad5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f83e7bfc09900959f41e20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f84ec41116b209c280ba91.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f852f645b5310a8264f555.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f85a62fb30c80bcea0cedb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8604682407e0d017bbf7f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8618d191b940d62038513.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab4a123ce4b04526b082b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab8367d35de04e5cb7929.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab9f17fa294054b74228c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fabf0dd4959805dbae09e6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac4095512d3066053d73c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac8d7fdfaee0796934f20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60faca286cb48b07f6482970.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facde2d0dc61085b41063f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facf914c7b9b08d7510c2c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad0a812d9890938524f50.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad6dfcc0d930a59becf12.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad8e6148f310bba7890b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad99e09f9d30c1657e790.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadb18058e950c73925279.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadce90f85c50d0bb0dd4f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadd972e6ffe0d6858fa2d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadfa2b540b70dcfa8b771.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc219d333e37046f474a6e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc22d1e64d1b04cdd4e602.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc236dc04532052926fdac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe1bc30415f042faea936.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe3936796ac04959285a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe4f4ec18cd04dc470c56.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe69ee377c6055e192a46.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe7d8aae62c05bcc9e7eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe8a5ceb0e90618db06d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe947a868ec068f7850f6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe9cb47809106eda2f2c9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffec2825da1007509ddd06.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffecefac971607ae73c60f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffefd6479a3d084fb77cbc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62b30924c5e4ef0daba23b5e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff8b9dab5ac88e4d3d43a3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff8e998d3e7eae14d6ae3b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff919a7b5612c0670923a5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/63541ef4f96cd82e8e6c788a.md
Labels: status: waiting review, scope: curriculum, scope: i18n, hacktoberfest-accepted

#48306 fix (curriculum): Improved sentences in challenges-english.
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8eff21c0b0f6ebe5b8e38.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a94114ce0b8918b487390f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa25fcb5837d43b4d9873d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62ba17beef16c563069a65d8.md
Labels: status: waiting review, scope: curriculum

#48320 feat(client): refactor the buttons leading to the certifcations intro
  client/src/components/Map/__snapshots__/map.test.tsx.snap
  client/src/components/Map/index.tsx
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: client

#48297 feat(curriculum): test for extensions
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
Labels: scope: curriculum
