Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-06, with the labels that each got.

#46270 fix(client): add mathjax to intermediate-algorithm-scripting
  client/src/templates/Challenges/components/side-panel.tsx
  client/src/utils/script-loaders.ts
Labels: platform: client

#46261 fix(curriculum): external twitch link in CIP
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/use-the-twitch-json-api.md
Labels: status: waiting review, scope: curriculum

#46290 fix(curriculum): hint and test weren't matching in step 82 of the Picasso Painting project
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c515c0.md
Labels: status: waiting review, scope: curriculum

#46280 fix(curriculum): external LAS sequence link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/look-and-say-sequence.md
Labels: status: waiting review, scope: curriculum

#46285 fix(curriculum): external shall sort link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-shell-sort.md
Labels: status: waiting review, scope: curriculum

#46287 feat(client): center login button
  client/src/components/Header/components/Login.tsx
  client/src/components/Header/components/login.css
  client/src/components/Header/components/universal-nav.css
Labels: scope: UI, platform: client

#46297 fix(curriculum): change `;` to `:` in description
  curriculum/challenges/english/01-responsive-web-design/css-grid/divide-the-grid-into-an-area-template.md
Labels: status: waiting review, scope: curriculum

#46272 feat: show reset step button contexually
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, scope: UI, platform: client

#46289 fix(curriculum): external knight's tour link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/knights-tour.md
Labels: scope: curriculum

#46277 fix(curriculum): clarify that 'g flag' signifies 'global flag'
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/find-more-than-the-first-match.md
Labels: status: waiting review, scope: curriculum

#46274 fix: order entries in available-superblocks.json
  tools/scripts/build/build-external-curricula-data.ts
  tools/scripts/build/mobile-curriculum.test.ts
Labels: scope: tools/scripts

#46281 fix(curriculum): external amicable pairs link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/amicable-pairs.md
Labels: scope: curriculum

#46283 fix(curriculum): external sutherland algorithm link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sutherland-hodgman-polygon-clipping.md
Labels: scope: curriculum

#46284 fix(curriculum): external comb sort link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-comb-sort.md
Labels: scope: curriculum

#46286 fix(curriculum): external lu decomposition link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/lu-decomposition.md
Labels: scope: curriculum

#46306 fix(curriculum): external mode link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/averages-mode.md
Labels: status: waiting review, scope: curriculum

#46304 fix(curriculum): external gray code link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/gray-code.md
Labels: status: waiting review, scope: curriculum

#46288 fix(curriculum): external symmetric difference link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/symmetric-difference.md
Labels: status: waiting review, scope: curriculum

#46305 fix(curriculum): external hofstadter link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hofstadter-q-sequence.md
Labels: status: waiting review, scope: curriculum

#46273 test: tighten up two more cypress tests
  client/src/components/settings/user-token.tsx
  client/src/templates/Challenges/codeally/show.tsx
  cypress/integration/learn/responsive-web-design/intro-page.js
  cypress/integration/settings/user-token.js
Labels: platform: client, scope: tools/scripts

#46308 fix(curriculum): external lzw compression link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/lzw-compression.md
Labels: status: waiting review, scope: curriculum

#46307 fix(curriculum): external happy number link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/happy-numbers.md
Labels: status: waiting review, scope: curriculum

#46154 fix(client): prevent lower jaw breaking on code evaluation
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: client

#46309 fix(client): reduce line number bar width
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#46312 fix(learn): add example in building a set of colored markers
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61764c602bee6974e7790f35.md
Labels: status: waiting review, scope: curriculum

#46313 test: reduce flake on multifileCertProject
  cypress/integration/learn/challenges/multifileCertProject.js
Labels: status: waiting review, scope: tools/scripts

#45530 feat(client): shortcuts legend modal available on pressing the `?` key
  api-server/src/common/models/user.json
  api-server/src/server/boot/settings.js
  api-server/src/server/utils/publicUserProps.js
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-settings.tsx
  client/src/components/profile/profile.test.tsx
  client/src/components/settings/about.tsx
  client/src/components/settings/keyboard-shortcuts.tsx
  client/src/redux/index.js
  client/src/redux/keyboard-shortcuts-mode-saga.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/src/templates/Challenges/components/shortcuts-modal.css
  client/src/templates/Challenges/components/shortcuts-modal.tsx
  client/src/templates/Challenges/redux/index.js
  config/constants.js
  cypress/integration/learn/challenge-hot-keys.js
  cypress/integration/learn/challenges/output.js
  tools/scripts/seed/certifiedUserData.js
  tools/scripts/seed/seedAuthUser.js
Labels: platform: api, platform: client, scope: i18n, scope: tools/scripts

#46302 Added quotations around 'Question #'
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145ed1f22caab087630aaad.md
Labels: status: waiting review, scope: curriculum

#46300 fix(curriculum): increase readability of the introduction
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object.keys.md
Labels: status: discussing, scope: curriculum

#46303 fix(curriculum): external stooge sort link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-stooge-sort.md
Labels: status: waiting review, scope: curriculum

#46335 removed unneeded check for semicolon
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/increment-a-number-with-javascript.md
Labels: status: waiting review, scope: curriculum

#46343 fix(curriculum): typo in step 18 of piano project
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ea4c4993aba52ab4aa32e.md
Labels: status: waiting review, scope: curriculum

#46353 fix(curriculum): Add test output to not change strings assigned to variables
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/declare-a-read-only-variable-with-the-const-keyword.md
Labels: status: waiting review, scope: curriculum

#46348 fix(curriculum): external longest subsequence link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/longest-increasing-subsequence.md
Labels: status: waiting review, scope: curriculum

#45964 fix(client-UI): view button takes full width
  client/src/components/settings/certification.js
  client/src/components/solution-display-widget/index.tsx
Labels: status: waiting review, platform: client

#46362 fix(curriculum): external luhn test link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/luhn-test-of-credit-card-numbers.md
Labels: scope: curriculum

#46363 fix(curriculum): external heronian link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/heronian-triangles.md
Labels: scope: curriculum

#46322 fix(curriculum): external dot product link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/dot-product.md
Labels: scope: curriculum

#46329 fix(curriculum): external kaprekar link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/kaprekar-numbers.md
Labels: status: waiting review, scope: curriculum

#46365 fix(curriculum): external subleq link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/subleq.md
Labels: scope: curriculum

#46344 fix(curriculum): external soundex links in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/soundex.md
Labels: scope: curriculum

#46377 fix(curriculum): external sudoku links in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sudoku.md
Labels: status: waiting review, scope: curriculum

#46376 fix(curriculum): external USA link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/count-the-coins.md
Labels: status: waiting review, scope: curriculum

#46360 fix(curriculum): external y-combinator links in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/y-combinator.md
Labels: status: waiting review, scope: curriculum

#46374 fix(curriculum): external Paul Graham link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/accumulator-factory.md
Labels: status: waiting review, scope: curriculum

#46239 fix(UI): Remove 'CTRL + Enter' on CTA for mobile
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/classic/show.tsx
  config/misc.js
  cypress/integration/learn/challenges/multifile.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#46064 feat(client): re-enable failed update re-submission
  client/src/redux/accept-terms-saga.js
  client/src/redux/codeally-saga.js
  client/src/redux/donation-saga.js
  client/src/redux/failed-updates-epic.js
  client/src/redux/failed-updates-epic.test.js
  client/src/redux/fetch-user-saga.js
  client/src/redux/report-user-saga.js
  client/src/redux/save-challenge-saga.js
  client/src/redux/settings/settings-sagas.js
  client/src/redux/settings/update-email-saga.js
  client/src/redux/show-cert-saga.js
  client/src/redux/user-token-saga.js
  client/src/templates/Challenges/utils/index.ts
  client/src/templates/Challenges/utils/post-update.ts
  client/src/utils/ajax.ts
  cypress/integration/learn/challenges/failed-updates.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#46112 fix: improved the instructions for RWD challenges
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc17d3bf86c76b9248c6eb4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: status: waiting review, scope: curriculum

#46383 feat: release RWD in Portuguese
  config/i18n/all-langs.ts
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61696ef7ac756c829f9e4048.md
  curriculum/challenges/portuguese/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61696ef7ac756c829f9e4048.md
  curriculum/dictionaries/english/comments.json
  curriculum/dictionaries/portuguese/comments.json
Labels: scope: curriculum, scope: i18n

#46323 fix(curriculum): external strand sort link in cip
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-strand-sort.md
Labels: status: waiting review, scope: curriculum

#46321 fix(curriculum): external straddling link in cip
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/straddling-checkerboard.md
Labels: scope: curriculum, status: waiting update

#46395 Remove .only from test
  cypress/integration/learn/challenges/multifile.js
Labels: status: waiting review, scope: tools/scripts

#46399 fix(curriculum): external ludic link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/ludic-numbers.md
Labels: status: waiting review, scope: curriculum

#46398 fix(curriculum): fix external 9 billion names' link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/9-billion-names-of-god-the-integer.md
Labels: status: waiting review, scope: curriculum

#46392 fix(curriculum): external josephus link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/josephus-problem.md
Labels: status: waiting review, scope: curriculum

#46390 fix(curriculum): external zig zag link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/zig-zag-matrix.md
Labels: status: waiting review, scope: curriculum

#46366 fix: set _csrf to be httpOnly
  api-server/src/server/middlewares/csurf.js
  client/gatsby-browser.js
Labels: status: waiting review, platform: api, platform: client

#46350 fix(client): remove multiple redirects after account deletion
  client/src/client-only-routes/show-settings.tsx
  client/src/redux/settings/danger-zone-saga.js
Labels: status: waiting review, platform: client

#46387 fix(curriculum): external Hash join links in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hash-join.md
Labels: status: waiting review, scope: curriculum

#46400 docs: add guide to releasing RWD for an i18n client
  docs/how-to-test-translations-locally.md
Labels: scope: docs

#46217 fix:enable default mouse/touch events on monaco content widget
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: status: waiting review, scope: UI, platform: client

#46421 chore: improve spelling
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: platform: client, scope: i18n

#46431 fix(curriculum): typo in step 50 of magazine project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c004ffc8434252940dc3.md
Labels: scope: curriculum

#46427 fix(curriculum): missing `:root` test to skyline css challenge
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e993d.md
Labels: status: waiting review, scope: curriculum

#46425 fix(curriculum): change property `name` to `firstName`
  curriculum/challenges/english/03-front-end-development-libraries/react/create-a-stateful-component.md
Labels: status: waiting review, scope: curriculum

#46416 Fix(curruiculum):external React state and useState link in FEDL
  curriculum/challenges/english/03-front-end-development-libraries/react/set-state-with-this.setstate.md
Labels: status: waiting review, scope: curriculum

#46396 fix(curriculum): external IBAN link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/iban.md
Labels: status: waiting review, scope: curriculum

#46415 fix(curriculum): external create react link in FEDL
  curriculum/challenges/english/03-front-end-development-libraries/react-and-redux/moving-forward-from-here.md
Labels: status: waiting review, scope: curriculum

#46282 fix(curriculum): external bead sorting algorithm link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-bead-sort.md
Labels: status: waiting review, scope: curriculum

#46397 fix(curriculum): external gamma link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/gamma-function.md
Labels: status: waiting review, scope: curriculum

#46440 fix: grammar error in step 68 of project 2 (css cafe menu) in new RWB
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3f26fa39591db45e5cd7a0.md
Labels: status: waiting review, scope: curriculum

#46437 fix(curriculum): incomplete sentence in step 65 of magazine project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d4d57b965358c9fa38bf.md
Labels: scope: curriculum

#46349 fix(curriculum): external state name link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/state-name-puzzle.md
Labels: status: waiting review, scope: curriculum

#46436 Chore(curriculum): removing copywriten wiki content
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/create-decimal-numbers-with-javascript.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/word-blanks.md
Labels: status: waiting review, scope: curriculum

#46422 fix: slightly improve logging from promises
  client/src/client/workers/test-evaluator.ts
Labels: platform: client

#46445 feat(curriculum) Update euler-168 with more flexible problem
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-168-number-rotations.md
Labels: scope: curriculum

#46389 Fix(curriculum): external RMS link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/averages-root-mean-square.md
Labels: status: waiting review, scope: curriculum

#46458 fix(curriculum): add MathJax syntax in Project Euler Problem 326
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-326-modulo-summations.md
Labels: status: waiting review, scope: curriculum

#46417 fix(curriculum): external blog link in FEDL
  curriculum/challenges/english/03-front-end-development-libraries/react/use-the-lifecycle-method-componentwillmount.md
Labels: status: waiting review, scope: curriculum

#46433 fix?(curriculum): external google sheet in data analysis
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/introduction-to-data-analysis.md
Labels: status: waiting review, scope: curriculum

#46434 Fix(curriculum): external Tower of Hanoi link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/towers-of-hanoi.md
Labels: status: waiting review, scope: curriculum

#46469 fix(docs): updated links for cypress-tests guide to work in GitHub
  docs/how-to-add-cypress-tests.md
Labels: status: waiting review, scope: docs

#46465 chore(curriculum): strandize links in projects
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/english/09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
  curriculum/challenges/english/09-information-security/information-security-projects/sha-1-password-cracker.md
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/book-recommendation-engine-using-knn.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/linear-regression-health-costs-calculator.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/neural-network-sms-text-classifier.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/rock-paper-scissors.md
Labels: status: waiting review, scope: curriculum

#46480 fix(actions): drop npm caching
  .github/workflows/codesee-diagram.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: status: waiting review, scope: tools/scripts

#46479 feat: add workflow for new contributors
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/crowdin-upload.docs.yml
  .github/workflows/welcome-new-lgtm.yml
Labels: status: waiting review, scope: tools/scripts

#46486 fix(cirriculum): unclear instructions fixed
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98f1.md
Labels: status: waiting review, scope: curriculum

#46490 fix(curriculum): remove reference to Mad Libs
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/word-blanks.md
Labels: scope: curriculum

#46432 chore(curriculum): BEDA strandlize links
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/file-metadata-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/request-header-parser-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/meet-the-node-console.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/announce-new-users.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-strategies.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/communicate-by-emitting.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/create-new-middleware.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/handle-a-disconnect.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/hashing-your-passwords.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-put-a-profile-together.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/logging-a-user-out.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/registration-of-new-users.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-passport.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http-ii.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-browser.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-string-contains-a-substring.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-falls-within-a-specific-range.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-a-string.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-an-array.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-variable-or-function-is-defined.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-array-contains-an-item.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-has-a-property.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-is-an-instance-of-a-constructor.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-one-value-is-below-or-at-least-as-large-as-another.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-regular-expressions-to-test-a-string.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-the-double-equals-to-assert-equality.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-the-triple-equals-to-assert-strict-equality.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
Labels: status: waiting review, scope: curriculum

#46418 chore(curriculum): Front End catagories links standardized
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/caesars-cipher.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-markdown-previewer.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-random-quote-machine.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-caesars-cipher-project/caesars-cipher.md
Labels: status: waiting review, scope: curriculum

#46471 Update use-array.map-to-dynamically-render-elements.md
  curriculum/challenges/english/03-front-end-development-libraries/react/use-array.map-to-dynamically-render-elements.md
Labels: scope: curriculum

#45802 fix(a11y): improve challenge test suite results accessibility
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/test-suite.css
  client/src/templates/Challenges/components/test-suite.tsx
  cypress/integration/learn/common-components/helpButton.js
Labels: status: waiting review, scope: a11y, platform: client, scope: i18n, scope: tools/scripts

#46482 fix(curriculum)missing test in step 27 of city skyline project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e3.md
Labels: status: waiting review, scope: curriculum

#46347 fix(curriculum): external cocktail link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sorting-algorithms-cocktail-sort.md
Labels: status: waiting review, scope: curriculum

#46499 chore(i18n, doc): fix links that don't work for translated pages
  docs/how-to-add-cypress-tests.md
Labels: status: waiting review, scope: docs

#46512 fix(actions): typo in workflow title
  .github/workflows/no-prs-to-translation.yml
Labels: scope: tools/scripts

#46503 feat(i18n): enable italian new RWD
  config/i18n/all-langs.ts
Labels: status: waiting review, scope: i18n

#46514 docs: change rocket chat links to discord
  docs/FAQ.md
  docs/_sidebar.md
  docs/devops.md
  docs/how-to-open-a-pull-request.md
  docs/how-to-proofread-files.md
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-test-translations-locally.md
  docs/how-to-translate-files.md
  docs/how-to-work-on-coding-challenges.md
  docs/how-to-work-on-localized-client-webapp.md
  docs/moderator-handbook.md
Labels: status: waiting review, scope: docs

#46401 feat: show sign in button for unauthenticated users
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  cypress/integration/learn/challenges/multifile.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#46476 fix(curriculum): external HFFS links in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hofstadter-figure-figure-sequences.md
Labels: status: waiting review, scope: curriculum

#46489 fix(curriculum): tests for background-color in skyline project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98de.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98eb.md
Labels: status: waiting review, scope: curriculum

#46491 fix(curriculum): faster solution for euler10
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-10-summation-of-primes.md
Labels: status: waiting review, scope: curriculum

#46367 refactor: stop adding jwt to headers
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/middlewares/request-authorization.test.js
  api-server/src/server/utils/getSetAccessToken.js
  api-server/src/server/utils/getSetAccessToken.test.js
Labels: status: waiting review, platform: api

#46524 fix(curriculum): wrong selector on step 79 of building a magazine
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f693e0728f77c87f3020.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f6f7d8914c78e93136ca.md
Labels: status: waiting review, scope: curriculum

#46528 fix(actions): delete welcome workflow
  .github/workflows/welcome-new-lgtm.yml
Labels: scope: tools/scripts

#46529 feat: new contributor welcome
  .github/workflows/welcome.yml
Labels: status: waiting review, scope: tools/scripts

#46531 fix(curriculum): make space optional
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
Labels: status: waiting review, scope: curriculum

#46526 fix(curriculum): add info about environment variables and replit
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
Labels: status: waiting review, scope: curriculum

#46535 fix: invalid template syntax
  .github/workflows/welcome.yml
Labels: scope: tools/scripts

#45957 fix(a11y): improve RWD challege grid accessibility
  client/i18n/locales/english/translations.json
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, scope: a11y, platform: client, scope: i18n

#46532 fix(curriculum): change text in user story to match test case
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
Labels: status: waiting review, scope: curriculum

#46554 fix(curriculum): anchor tag to replit starter project
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/request-header-parser-microservice.md
Labels: scope: curriculum

#46553 fix(curriculum): var keyword to global-scope-and-functions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
Labels: status: waiting review, scope: curriculum

#46543 fix(curriculum): improve explanation of prefers-reduced-motion
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e41c728f65138addf9cc.md
Labels: status: waiting review, scope: curriculum

#46519 fix(new RWD): steps with code blocks at the end of Catphotos Project's sentences
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc1798ff86c76b9248c6eb3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc17dc8f86c76b9248c6eb5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc24073f86c76b9248c6ebb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc24165f86c76b9248c6ebc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa371beacea3f48c6300af.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb5ecbeacea3f48c6300b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae0543cbd2bbdab94e333.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
Labels: status: waiting review, scope: curriculum

#46570 fix(curriculum): remove extra 'the' in cafe menu step 23
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed60a5decd94ab66986.md
Labels: scope: curriculum

#46577 fix(curriculum): remove keyword from the word "blue"
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61b315e76a63b3ecbbb11b75.md
Labels: status: waiting review, scope: curriculum

#46578 fix(curriculum): move the period outside of the code block
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6169b284950e171d8d0bb16a.md
Labels: status: waiting review, scope: curriculum

#46587 chore(docs): update courses flight manual
  docs/courses-vscode-extension.md
Labels: scope: docs

#46585 fix(curriculum): missing dot in class selector in step 24 of colored markers
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/617b92b9de349513466f6156.md
Labels: status: waiting review, scope: curriculum

#46588 fix(client): handle verification of full-stack cert once
  client/src/redux/settings/settings-sagas.js
Labels: platform: client

#46494 fix(curriculum): ignore extra spaces after opening main tag
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: status: waiting review, scope: curriculum

#46592 fix(curriculum): links navigating to nothing
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/communicate-by-emitting.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/handle-a-disconnect.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-put-a-profile-together.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/registration-of-new-users.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.md
Labels: status: waiting review, scope: curriculum

#46599 docs: Grammar and typos corrected
  docs/how-to-work-on-the-docs-theme.md
Labels: scope: docs

#46597 fix(curriculum, i18n): solve issues in crowdin comments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escaping-literal-quotes-in-strings.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do...while-loops.md
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
  curriculum/challenges/english/10-coding-interview-prep/algorithms/find-the-symmetric-difference.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/search-within-a-linked-list.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-414-kaprekar-constant.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/amicable-pairs.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/execute-a-markov-algorithm.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61a4a6e908bc34725b4c25ac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad99e09f9d30c1657e790.md
Labels: status: waiting review, scope: curriculum

#46533 fix(curriculum): external S-expressions link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/s-expressions.md
Labels: status: waiting review, scope: curriculum

#46388 fix(curriculum): external comma external link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/comma-quibbling.md
Labels: status: waiting review, scope: curriculum

#46608 fix(ui-components): add an & prefix to custom variant
  tools/ui-components/tailwind.config.js
Labels: scope: tools/scripts

#46617 fix(challenge-editor): Windows compatibility
  package-lock.json
  tools/challenge-editor/client/package.json
Labels: scope: tools/scripts

#46610 fix(tools): welcomer workflow
  .github/workflows/welcome.yml
Labels: scope: tools/scripts

#46604 chore: update stripe
  client/package.json
  package-lock.json
  renovate.json
Labels: platform: client

#46619 fix: allow arbitrary names if they are quoted
  .eslintrc.json
  package-lock.json
  package.json
Labels: status: waiting review

#46624 feat: update the new rwd intro
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: client, scope: i18n

#46625 fix(curriculum): correct a typo in link
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
Labels: status: waiting review, scope: curriculum

#46442 fix: use certification hours consistently
  client/i18n/locales/english/translations.json
  client/src/components/Map/index.tsx
  config/certification-settings.ts
  cypress/integration/learn/index.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#46627 fix: inject user's script.js contents correctly
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: client

#46615 test(curriculum): reduce react test flakiness
  curriculum/challenges/english/03-front-end-development-libraries/react/render-conditionally-from-props.md
Labels: scope: curriculum

#46634 feat: new italian footer
  client/i18n/locales/italian/trending.json
Labels: platform: client, scope: i18n

#46641 feat: only 3 attempts before showing buttons
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: platform: client

#46406 fix: make superblock data paths match normal paths
  package-lock.json
  tools/scripts/build/build-external-curricula-data.test.ts
  tools/scripts/build/build-external-curricula-data.ts
  tools/scripts/build/external-data-schema.js
  tools/scripts/build/mobile-curriculum.test.ts
  tools/scripts/build/package.json
Labels: status: waiting review, scope: tools/scripts

#46648 typo(curriculum): adding code block around height
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d03dadadb6509a16f4f5f.md
Labels: scope: curriculum

#46647 fix(curriculum): inaccuracy in dna pairing challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/dna-pairing.md
Labels: scope: curriculum

#46649 fix: allow for additional solution of step 77 of Learn CSS Variables by Building a City Skyline
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e9916.md
Labels: scope: curriculum

#46652 fix: allow for additional solution of step 78 of Learn CSS Variables by Building a City Skyline
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e9917.md
Labels: status: waiting review, scope: curriculum

#46589 fix: show completion modal
  client/src/templates/Challenges/classic/editor-tabs.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/utils/challenge-types.js
  cypress/integration/learn/challenges/projects.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#46651 fix(curriculum): typo in backend challenge
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/chain-middleware-to-create-a-time-server.md
Labels: status: waiting review, scope: curriculum

#46676 fix: workflow again
  .github/workflows/welcome.yml
Labels: status: waiting review, scope: tools/scripts

#45890 Change Link Regex Tests to DOM queries
  client/src/templates/Challenges/rechallenge/transformers.js
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cb2e27333b1ab2b955.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f0286404aefb0562a4fdf9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c5157a.md
Labels: status: waiting review, scope: curriculum, platform: client

#46657 fix(client): validation test is typing a file, that doesn't exist
  client/i18n/schema-validation.js
Labels: status: waiting review, platform: client, scope: i18n

#46687 fix: misspelling of 'between' on line 11
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords.md
Labels: status: waiting review, scope: curriculum

#46696 fix(curriculum) Simplify Cat-App step 6 text
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: scope: curriculum
