Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-07, with the labels that each got.

#46714 fix: collapse rosetta
  client/src/templates/Introduction/components/block.tsx
Labels: status: waiting review, platform: client

#46720 fix(curriculum): missing code block and a better code seed
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sedols.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62b30924c5e4ef0daba23b5e.md
Labels: status: waiting review, scope: curriculum

#46680 feat(docs): new language lead handbook
  docs/_sidebar.md
  docs/language-lead-handbook.md
Labels: status: waiting review, scope: docs

#46736 fix: make test check for exact version of mongoose and mongodb
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
Labels: scope: curriculum

#46701 fix(curriculum): require meta charset for cat photo project
  curriculum/challenges/_meta/learn-html-by-building-a-cat-photo-app/meta.json
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ec.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ee.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62bb4009e3458a128ff57d5d.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#46744 fix(curriculum): add quotes in test description
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
Labels: status: waiting review, scope: curriculum

#46749 fix(curriculum): remove whitespace when testing user input
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md
Labels: status: waiting review, scope: curriculum

#46760 fix(curriculum) add starting footer tag to seed code
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46ede1ff8fec5ba656b44c.md
Labels: scope: curriculum

#46753 fix(curriculum): update test to accept array destructuring
  curriculum/challenges/english/03-front-end-development-libraries/redux/use-const-for-action-types.md
Labels: status: waiting review, scope: curriculum

#46706 fix(curriculum): allow valid link tags in curriculum
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cb2e27333b1ab2b955.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6140c7e645d8e905819f1dd4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61696ef7ac756c829f9e4048.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/614385513d91ae5c251c2052.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f0286404aefb0562a4fdf9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c5157a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b80da8676fb3227967a731.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612e83ec2eca1e370f830511.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f34ecc1091b4fd5a8a484.md
Labels: status: waiting review, scope: curriculum

#46457 chore(curriculum): remove wiki reference from cip
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/compare-a-list-of-strings.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cramers-rule.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cumulative-standard-deviation.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/discordian-date.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/i-before-e-except-after-c.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sedols.md
Labels: status: waiting review, scope: curriculum, platform: client, scope: i18n

#46767 docs: update Chat Server to Discord server
  README.md
Labels: status: waiting review

#46759 Corrected a typo
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.md
Labels: scope: curriculum

#46768 docs: mobile contribution doc
  docs/_sidebar.md
  docs/how-to-setup-freecodecamp-mobile-app-locally.md
Labels: status: waiting review, scope: docs

#46778 chore: update stray chat links
  .github/workflows/no-prs-to-translation.yml
  README.md
Labels: status: waiting review, scope: tools/scripts

#46567 docs(docs,i18n): update docs to conform with new translation flow
  docs/FAQ.md
  docs/how-to-translate-files.md
  docs/index.md
Labels: status: waiting review, scope: docs

#46780 fixed typo: "condider" to "consider"
  curriculum/challenges/english/09-information-security/information-security-projects/sha-1-password-cracker.md
Labels: scope: curriculum

#46782 fix: add test to validate result format has space between count value and text - Counting Cards challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/counting-cards.md
Labels: scope: curriculum

#46764 feat: footer jun 22
  client/i18n/locales/english/trending.json
Labels: status: waiting review, platform: client, scope: i18n

#46789 fix: Fixed typos for 'self closing link element' in multiple files
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cb2e27333b1ab2b955.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6140c7e645d8e905819f1dd4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61696ef7ac756c829f9e4048.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f0286404aefb0562a4fdf9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b80da8676fb3227967a731.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612e83ec2eca1e370f830511.md
Labels: status: waiting review, scope: curriculum

#46790 fix: remove duplicate test and make small change to recently added test for Counting Cards challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/counting-cards.md
Labels: scope: curriculum

#46792 Fix(curriculum) Less strict whitespace in HTML Form 15
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f805f813eaf2049bc2ceea.md
Labels: scope: curriculum

#46795 Fix/line goes against doc skyline project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98cd.md
Labels: scope: curriculum

#46796 fix: update a link URL to www.freecodecamp.org
  curriculum/challenges/english/03-front-end-development-libraries/redux/create-a-redux-store.md
Labels: status: waiting review, scope: curriculum

#46793 fix: Changed instructions to clarify the task for cafe menu step 14
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477ae34c1239cafe128be.md
Labels: status: waiting review, scope: curriculum

#46784 feat(challenge-editor): make work in gitpod
  .gitpod.yml
  package-lock.json
  tools/challenge-editor/api/package.json
  tools/challenge-editor/api/sample.env
  tools/challenge-editor/api/server.ts
  tools/challenge-editor/client/package.json
  tools/challenge-editor/client/sample.env
  tools/challenge-editor/client/src/components/block/Block.tsx
  tools/challenge-editor/client/src/components/buttons/CreateEmptySteps.tsx
  tools/challenge-editor/client/src/components/buttons/CreateNextStep.tsx
  tools/challenge-editor/client/src/components/buttons/DeleteStep.tsx
  tools/challenge-editor/client/src/components/buttons/InsertStep.tsx
  tools/challenge-editor/client/src/components/buttons/SaveChallenge.tsx
  tools/challenge-editor/client/src/components/buttons/UpdateStepTitles.tsx
  tools/challenge-editor/client/src/components/editor/Editor.tsx
  tools/challenge-editor/client/src/components/landing/Landing.tsx
  tools/challenge-editor/client/src/components/superblock/SuperBlock.tsx
  tools/challenge-editor/client/src/utils/handleRequest.ts
Labels: status: waiting review, scope: tools/scripts

#46800 docs: remove duplicated commands
  docs/how-to-work-on-the-docs-theme.md
Labels: scope: docs

#46804 fix(curriculum): move editable region to expose selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f35e5c44359872a137bd98f.md
Labels: scope: curriculum

#46802 docs: expand language lead handbook
  docs/images/crowdin/pre-translate1.png
  docs/images/crowdin/pre-translate2.png
  docs/images/crowdin/pre-translate3.png
  docs/language-lead-handbook.md
Labels: scope: docs

#46803 fix(curriculum): add a closing parenthesis
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter.md
Labels: status: waiting review, scope: curriculum

#46808 fix(docs): typos in language lead handbook
  docs/language-lead-handbook.md
Labels: scope: docs

#46777 feat: add title to "ask for help" forum requests
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: status: waiting review, platform: client

#46812 fix: updated typo in english cramers-rule
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cramers-rule.md
Labels: scope: curriculum

#46820 fix(curriculum): typos in rosetta code
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cramers-rule.md
Labels: status: waiting review, scope: curriculum

#46832 Removed missing data from challenge text
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.md
Labels: status: waiting review, scope: curriculum

#46825 fix(curriculum): Dead code example in
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups.md
Labels: status: waiting review, scope: curriculum

#46839 docs: clarifications on translation flow
  docs/how-to-translate-files.md
  docs/images/crowdin/context.png
  docs/language-lead-handbook.md
Labels: status: waiting review, scope: docs

#46838 fix: update i18n keys
  client/i18n/locales/chinese-traditional/links.json
  client/i18n/locales/chinese/links.json
  client/i18n/locales/espanol/links.json
  client/i18n/locales/italian/links.json
  client/i18n/locales/japanese/links.json
  client/i18n/locales/portuguese/links.json
  client/i18n/locales/ukrainian/links.json
Labels: status: waiting review, platform: client, scope: i18n

#46844 fix(curriculum): add code block to input element in cat photo app step 36
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d8.md
Labels: status: waiting review, scope: curriculum

#46842 removed jargon text in line 10 that goes against challenge document #…
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d9.md
Labels: scope: curriculum

#46823 chore: rename project type from bonfire to jsProject
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/utils/challenge-types.js
  config/constants.js
  curriculum/test/test-challenges.js
Labels: status: waiting review, platform: client

#46853 Fix description inaccuracy in the step 12 of the 'Colored Markers' project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d50b93ba424d6282c99cf.md
Labels: status: waiting review, scope: curriculum

#46847 fix: use shx for cross-platform cp
  package-lock.json
  tools/challenge-editor/api/package.json
  tools/challenge-editor/client/package.json
Labels: scope: tools/scripts

#46864 fix: catphotoapp step 6 - change h1 to h2 in last sentence
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: scope: curriculum

#46859 fix(curriculum): corrected grammar in line 12 of the description section of learn HTML forms.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
Labels: status: waiting review, scope: curriculum

#46865 fix: removing line from skyline project level 18
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98da.md
Labels: status: waiting review, scope: curriculum

#46861 fix: regex correction for meta tags
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cbcb6ba47918c1da92.md
Labels: status: waiting review, scope: curriculum

#46860 fix(curriculum): correct registration form step 33 instructions
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facde2d0dc61085b41063f.md
Labels: status: waiting review, scope: curriculum

#46862 chore: resolve issues identified on crowdin
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804df.md
Labels: status: waiting review, scope: curriculum

#46866 fix(curriculum): fitting an instruction text to fcc document
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
Labels: status: waiting review, scope: curriculum

#46561 fix(ui): "sign in" button hidden at small devices
  client/src/components/Header/components/Login.tsx
  client/src/components/Header/components/menu-button.tsx
  client/src/components/Header/components/universal-nav.css
  cypress/integration/learn/header/universal-navigation.js
Labels: status: waiting review, scope: UI, platform: client, scope: tools/scripts

#46878 temp: rollback firefox to 101
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#46869 feat: remove random id from forum topic title
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: status: waiting review, platform: client

#46751 fix: use regex to filter tests in Sudoku Solver
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
Labels: status: waiting review, scope: curriculum

#46791 fix: save project to redux on submit
  client/src/templates/Challenges/redux/completion-epic.js
Labels: status: waiting review, platform: client

#46875 fix(curriculum) Convert C to F function - more ideomatic name
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/convert-celsius-to-fahrenheit.md
Labels: status: waiting review, scope: curriculum

#46831 fix(curriculum): fix the instruction and the test to match the hint (CatPhotoApp Step3)
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc17d3bf86c76b9248c6eb4.md
Labels: status: waiting review, scope: curriculum

#46888 fix(i18n): configure search Japanese publication
  client/src/utils/algolia-locale-setup.ts
Labels: platform: client

#46890 chore: resolve more crowdin issues
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c5159c.md
Labels: scope: curriculum

#46870 feat: simplify client logic
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Introduction/components/block.tsx
  client/utils/challenge-types.js
Labels: status: waiting review, platform: client

#46900 fix(curriculum): removed extra line from npm challenge
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
Labels: status: waiting review, scope: curriculum

#46896 fix: clarify that label should contain text in survey form project
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
Labels: status: waiting review, scope: curriculum

#46883 fix(docs): improved readability in READ.md
  web/README.md
Labels: status: waiting review

#46911 fix: first mongo challenge description
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
Labels: scope: curriculum

#46908 docs: add how to translate info boxes headers
  docs/language-lead-handbook.md
Labels: scope: docs

#46927 fix(curriculum): typo in step 73
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e9911.md
Labels: status: waiting review, scope: curriculum

#46935 fix(curriculum): 'switches' to 'squishes' typo
  curriculum/challenges/english/11-machine-learning-with-python/tensorflow/neural-networks-activation-functions.md
Labels: status: waiting review, scope: curriculum

#46922 fix(curriculum): missing codeblock around anchor element
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
Labels: status: waiting review, scope: curriculum

#46932 fix(a11y): change headings in footer to h2
  client/src/components/Footer/__snapshots__/footer.test.tsx.snap
  client/src/components/Footer/footer.css
  client/src/components/Footer/index.tsx
Labels: scope: a11y, platform: client

#46937 fix: expand projects on map
  client/src/templates/Introduction/components/block.tsx
Labels: platform: client

#46939 fix: allow users to submit after editing
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#46761 chore(client): typescript migration - utils/build.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client

#46950 fix(docs): changed link in FAQ.md file
  docs/FAQ.md
Labels: status: waiting review, scope: docs

#46945 Fix: replace typo with correct test number
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.md
Labels: status: waiting review, scope: curriculum

#46948 feat: remove the mention of recurring donations.
  client/i18n/locales/english/translations.json
  client/src/pages/donate.tsx
  cypress/integration/learn/donate/donate-page-donor.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#46408 chore(curriculum): prepare tests for recursion-protection
  curriculum/challenges/english/03-front-end-development-libraries/react-and-redux/manage-state-locally-first.md
  curriculum/challenges/english/03-front-end-development-libraries/react/use-a-ternary-expression-for-conditional-rendering.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/step-139.md
Labels: status: waiting review, scope: curriculum

#46959 fix: added extra test to prevent incorrect solution from passing for the Wherefore art thou challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/wherefore-art-thou.md
Labels: status: waiting review, scope: curriculum

#46703 chore(client): Typescript migrate of i18n-schema-validation
  client/i18n/schema-validation.js
  client/i18n/schema-validation.ts
  client/package.json
Labels: status: waiting review, platform: client, scope: i18n

#46968 feat(tools): audit i18n challenges
  .github/workflows/i18n-builds.yml
  package.json
  tools/challenge-auditor/index.ts
  tsconfig.json
Labels: scope: tools/scripts

#46971 feat: Set keyboardShortcuts to true for authUser in seedAuthUser.js
  tools/scripts/seed/seedAuthUser.js
Labels: status: waiting review, scope: tools/scripts

#46967 fix(curriculum) - simplify example of property access
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-variables.md
Labels: status: waiting review, scope: curriculum

#46976 fix(docs): Missing period at the end of setup mobile app locally document
  docs/how-to-setup-freecodecamp-mobile-app-locally.md
Labels: status: waiting review, scope: docs

#46974 i18n: add missing translation for Japanese
  client/i18n/locales/japanese/meta-tags.json
Labels: status: waiting review, platform: client, scope: i18n

#46973 Adding meta-tags in Portuguese
  client/i18n/locales/portuguese/meta-tags.json
Labels: status: waiting review, platform: client, scope: i18n

#46981 Adding meta-tags in Ukranian
  client/i18n/locales/ukrainian/meta-tags.json
Labels: platform: client, scope: i18n

#46897 fix(curriculum): tests can't pass with style tags in step 15 of cafe menu
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477aefa51bfc29327200b.md
Labels: status: waiting review, scope: curriculum

#46960 fix(curriculum): clarify hint
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/logging-a-user-out.md
Labels: status: waiting review, scope: curriculum

#47011 docs: remove last remaining DANGER
  docs/how-to-translate-files.md
Labels: status: waiting review, scope: docs

#47012 fix(curriculum): Typo in building a picasso painting step 50
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c515a7.md
Labels: status: waiting review, scope: curriculum

#47016 fix(curriculum): wrap logo in a code block
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612eaf56b7ba3257fdbfb0db.md
Labels: scope: curriculum

#47014 Update fix/update-challenges-for-step-22-registration-form
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f85a62fb30c80bcea0cedb.md
Labels: scope: curriculum

#46963 chore(i18n): Updated italian/meta-tags.json
  client/i18n/locales/italian/meta-tags.json
Labels: status: waiting review, platform: client, scope: i18n

#47004 feat: add some description for secure multiplayer project
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
Labels: status: waiting review, scope: curriculum

#46985 fix: clarify instructions for catphotoapp step 6
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
Labels: status: waiting review, scope: curriculum

#47026 fix(curriculum): add missing code block
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fd67a656743144844941cb.md
Labels: scope: curriculum

#46556 chore: utils/index.js is updated to .ts
  .gitignore
  .prettierignore
  utils/index.ts
Labels: status: waiting update, scope: tools/scripts

#46980 fix(docs): Fixed Typo in language lead handbook
  docs/language-lead-handbook.md
Labels: status: waiting review, scope: docs

#46986 fix(client): handle empty editor contents
  client/src/templates/Challenges/utils/build.ts
Labels: status: waiting review, platform: client

#47027 fix: changed example text from dangerous website to something different
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc24073f86c76b9248c6ebb.md
Labels: scope: curriculum

#47035 docs: swap example pr title
  docs/how-to-open-a-pull-request.md
Labels: scope: docs

#47034 fix(curriculum): fix hint to match its test in CatPhotoApp Step 29
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae0543cbd2bbdab94e333.md
Labels: status: waiting review, scope: curriculum

#47033 fix(curriculum): remove duplicate test from CatPhotoApp Step 23
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
Labels: status: waiting review, scope: curriculum

#46993 docs: add challenge-editor instructions
  docs/how-to-work-on-practice-projects.md
Labels: status: waiting review, scope: docs

#46906 chore: make curriculum helpers external
  client/package.json
  client/src/client/frame-runner.ts
  client/src/client/workers/test-evaluator.ts
  client/src/utils/__fixtures/curriculum-helpers-css.ts
  client/src/utils/__fixtures/curriculum-helpers-html.ts
  client/src/utils/__fixtures/curriculum-helpers-javascript.ts
  client/src/utils/__fixtures/curriculum-helpers-remove-white-space.ts
  client/src/utils/css-help.test.ts
  client/src/utils/css-help.ts
  client/src/utils/curriculum-helpers.test.ts
  client/src/utils/curriculum-helpers.ts
  package-lock.json
Labels: platform: client

#47052 fix: update Information Security with HelmetJS text
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.md
Labels: scope: curriculum

#47050 fix: update Advanced Node and Express text
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-strategies.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/hashing-your-passwords.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-passport.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.md
Labels: status: waiting review, scope: curriculum

#47047 fix(curriculum): make use .env file challenge clearer
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/use-the-.env-file.md
Labels: status: waiting review, scope: curriculum

#47020 feat: move blur example from step 34 to step 35 rothko
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6998c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6998d.md
Labels: status: waiting review, scope: curriculum

#47019 feat(curriculum): remove space requirement in steps 43&46 of cat photo app project
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
Labels: status: waiting review, scope: curriculum

#47031 fix(docs): inconsistent spacing in theme_CSS
  docs/_theme.css
Labels: status: waiting review, scope: docs

#47017 fix: step 30 registration form add test against wrong code
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md
Labels: status: waiting review, scope: curriculum

#46983 fix: allow HTML multiline tag syntax
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f332a88dc25a0fd25c7687a.md
Labels: status: waiting review, scope: curriculum

#47018 fix: step 65 don't accept wrong syntax
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0a81099d9a697b550.md
Labels: status: waiting review, scope: curriculum

#47046 docs: editing the curriculum file structure page
  docs/curriculum-file-structure.md
Labels: status: waiting review, scope: docs

#46924 fix: substitute moment in npm challenges
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/remove-a-package-from-your-dependencies.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-caret-character-to-use-the-latest-minor-version-of-a-dependency.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency.md
Labels: status: waiting review, scope: curriculum

#47036 chore: resolve type coercion todo comment
  client/src/components/FourOhFour/index.tsx
Labels: status: waiting review, platform: client

#46639 fix(curriculum): remove media query requirement, general improvements
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537485c4f2a624f18d7794.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537a8054753e2f1f2a1574.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537bb9b1a29430ac15ad38.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537c5f81f0cf325b4a854c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537c9eecea6a335db6da79.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537d86bdc3dd343688fceb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/615380dff67172357fcf0425.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153893900438b4643590367.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153897c27f6334716ee5abe.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/615389bd81347947ea7ba896.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153908a366afb4d57185c8d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/615392916d83fa4f02f7e2cf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153938dce8b294ff8f5a4e9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153947986535e5117e60615.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61539e07e7430b528fbffe21.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61539f32a206bd53ec116465.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153a04847abee57a3a406ac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153a3485f0b20591d26d2a1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153a3952facd25a83fe8083.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153a3ebb4f7f05b8401b716.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/615f171d05def3218035dc85.md
Labels: status: waiting review, scope: curriculum

#46855 chore(curriculum): validate registration form project
  curriculum/challenges/_meta/learn-html-forms-by-building-a-registration-form/meta.json
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f027099a15b00485563dd2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f027c87bc98f050395c139.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f0286404aefb0562a4fdf9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f02e7361b68405e27b62a5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f030d388cb74067cf291c3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f1922fcbd2410527b3bd89.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f1a5e2d2c23707a4f9a660.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f1a9cbd23023082e149fee.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5c3e399ff1a05629964e4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5cb8875ab6a0610f05071.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5d2776c854e069560fbe6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5dc35c07ac1078f140916.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f803d5241e6a0433a523a1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f805f813eaf2049bc2ceea.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f80e0081e0f2052ae5b505.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f81167d0d4910809f88945.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f81616cff80508badf9ad5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f83e7bfc09900959f41e20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f84ec41116b209c280ba91.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f852f645b5310a8264f555.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f85a62fb30c80bcea0cedb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8604682407e0d017bbf7f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8618d191b940d62038513.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab4a123ce4b04526b082b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab8367d35de04e5cb7929.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab9f17fa294054b74228c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fabf0dd4959805dbae09e6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac4095512d3066053d73c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac8d7fdfaee0796934f20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60faca286cb48b07f6482970.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facde2d0dc61085b41063f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facf914c7b9b08d7510c2c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad0a812d9890938524f50.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad6dfcc0d930a59becf12.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad8e6148f310bba7890b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad99e09f9d30c1657e790.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadb18058e950c73925279.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadce90f85c50d0bb0dd4f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadd972e6ffe0d6858fa2d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadfa2b540b70dcfa8b771.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc219d333e37046f474a6e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc22d1e64d1b04cdd4e602.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc236dc04532052926fdac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe1bc30415f042faea936.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe3936796ac04959285a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe4f4ec18cd04dc470c56.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe69ee377c6055e192a46.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe7d8aae62c05bcc9e7eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe8a5ceb0e90618db06d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe947a868ec068f7850f6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe9cb47809106eda2f2c9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffec2825da1007509ddd06.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffecefac971607ae73c60f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffefd6479a3d084fb77cbc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62b30924c5e4ef0daba23b5e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62cc5b1779e4d313466f73c5.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#47048 fix: update Basic Node and Express challenge text
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/use-body-parser-to-parse-post-requests.md
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/use-the-.env-file.md
Labels: status: waiting review, scope: curriculum

#46849 fix(curriculum): text going against challenge docs
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98dd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e9928.md
Labels: status: waiting review, scope: curriculum

#47059 fix(curriculum): test case for arguments optional
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional.md
Labels: status: waiting review, scope: curriculum

#47076 fix(curriculum): Change the typo from ad to as
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.md
Labels: status: waiting review, scope: curriculum

#47066 fix(curriculum): remove reference to a label element that doesn't exist
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4ab1b435f13ab6550052.md
Labels: status: waiting review, scope: curriculum

#47077 fix(curriculum): missing code block
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md
Labels: status: waiting review, scope: curriculum

#47070 doc: change wording of PR guidance
  docs/how-to-open-a-pull-request.md
Labels: status: waiting review, scope: docs

#47080 chore(curriculum): change the decription in chain middleware
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/chain-middleware-to-create-a-time-server.md
Labels: status: waiting review, scope: curriculum
