Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-05, with the labels that each got.

#45818 fix(curriculum): Add periods at the end of hints
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-subset-check-on-two-sets-of-data.md
Labels: status: waiting review, scope: curriculum

#45783 fix(curriculum): change example to valid HTML
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/define-the-head-and-body-of-an-html-document.md
Labels: status: waiting review, scope: curriculum

#45841 chore: convert error test to TypeScript
  client/src/__tests__/integration/handled-error.test.ts
Labels: platform: client

#45793 feat: migrate locale test to ts v2
  client/i18n/locales.test.ts
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/header.test.tsx
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/components/time-line.tsx
  config/i18n/all-langs.ts
Labels: status: waiting review, platform: client, scope: i18n

#45843 fix(curriculum): incorrect hint
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e0.md
Labels: scope: curriculum

#45837 fix: resolve conflict between clients
  package-lock.json
  tools/challenge-editor/client/package.json
Labels: scope: tools/scripts

#45847 chore: certification test to TypeScript
  client/src/components/settings/certification.test.tsx
Labels: platform: client

#45849 chore(ui-components): rename HelpBlock files to kebab-case
  tools/ui-components/src/help-block/help-block.stories.tsx
  tools/ui-components/src/help-block/help-block.test.tsx
  tools/ui-components/src/help-block/help-block.tsx
  tools/ui-components/src/help-block/index.ts
  tools/ui-components/src/help-block/types.ts
Labels: scope: tools/scripts

#45855 chore: correct comments in GitHub workflows files
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/crowdin-upload.docs.yml
Labels: scope: tools/scripts

#45856 fix(curriculum): correct usage of element and tag in magazine project (step 1)
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/61437d575fb98f57fa8f7f36.md
Labels: scope: curriculum

#45803 fix(a11y): place textarea between the jaws
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#45858 feat: migrate to issue forms
  .github/ISSUE_TEMPLATE/01--issues-with-coding-challenges.md
  .github/ISSUE_TEMPLATE/01--issues-with-coding-challenges.yml
  .github/ISSUE_TEMPLATE/02--issues-with-software-on-platforms.md
  .github/ISSUE_TEMPLATE/02--issues-with-software-on-platforms.yml
  .github/ISSUE_TEMPLATE/03--issues-with-content-on-articles-and-docs.md
  .github/ISSUE_TEMPLATE/03--issues-with-content-on-articles-and-docs.yml
  .github/ISSUE_TEMPLATE/04--feature-request-for-freecodecamp-org-s-platforms.md
  .github/ISSUE_TEMPLATE/04--feature-request-for-freecodecamp-org-s-platforms.yml
Labels: scope: tools/scripts

#44564 feat: convert RWD cert projects
  api-server/src/server/boot/challenge.js
  client/src/redux/save-challenge-saga.js
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Challenges/redux/code-storage-epic.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/src/utils/challenge-request-helpers.ts
  client/src/utils/solution-display-type.ts
  client/utils/challenge-types.js
  client/utils/gatsby/challenge-page-creator.js
  curriculum/challenges/_meta/build-a-personal-portfolio-webpage-project/meta.json
  curriculum/challenges/_meta/build-a-product-landing-page-project/meta.json
  curriculum/challenges/_meta/build-a-survey-form-project/meta.json
  curriculum/challenges/_meta/build-a-technical-documentation-page-project/meta.json
  curriculum/challenges/_meta/build-a-tribute-page-project/meta.json
  curriculum/challenges/_meta/responsive-web-design-projects/meta.json
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
  cypress/integration/learn/challenge-hot-keys.js
  cypress/integration/learn/challenges/multifileCertProject.js
  cypress/integration/learn/donate/donation-block-completion-modal.js
  cypress/integration/learn/responsive-web-design/show-cert-from-superblock.js
  cypress/support/commands.js
Labels: status: waiting review, scope: curriculum, platform: api, platform: client, scope: i18n, scope: tools/scripts

#45867 fix(curriculum) fix typo lets -> let's
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/create-complex-multi-dimensional-arrays.md
Labels: scope: curriculum

#45860 fix(curriculum): updated wording on understanding uninitialized variables
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-uninitialized-variables.md
Labels: scope: curriculum

#45869 fix: update rwd example urls
  curriculum/challenges/.markdownlint.yaml
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
Labels: scope: curriculum

#45870 feat(i18n,esp):SciCompPy and DataAnalysisPy certs fully translated and proofread
  config/i18n/all-langs.ts
Labels: scope: i18n

#45871 fix: hot reload
  client/utils/build-challenges.js
Labels: platform: client

#45868 feat: a/b test lock icon button
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation.css
  client/src/components/Donation/stripe-card-form.tsx
  client/src/redux/ga-saga.js
  client/src/redux/index.js
  client/src/utils/A-B-tester.test.ts
  client/src/utils/A-B-tester.ts
  config/donation-settings.js
Labels: platform: client

#45808 feat(donation): set donor cookie
  client/src/redux/donation-saga.js
Labels: platform: client

#45876 chore: set permissions for GitHub actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yaml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#45891 fix(client): remove duplicate css properties
  client/src/templates/Introduction/intro.css
Labels: platform: client

#45889 fix(client): remove duplicate css properties
  client/src/components/Donation/donation.css
  client/src/templates/Challenges/video/show.css
Labels: platform: client

#45544 fix(a11y): beta RWD course toggle button accessibility
  client/i18n/locales/english/translations.json
  client/src/assets/icons/dropdown.tsx
  client/src/assets/icons/green-not-completed.tsx
  client/src/assets/icons/green-pass.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/intro.css
Labels: scope: a11y, status: waiting update, platform: client, scope: i18n

#45848 chore(ui-components): simplify color tokens
  docs/how-to-work-on-the-component-library.md
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/colors.css
  tools/ui-components/src/form-control/form-control-static.tsx
  tools/ui-components/src/form-control/form-control.tsx
  tools/ui-components/src/help-block/help-block.test.tsx
  tools/ui-components/src/help-block/help-block.tsx
  tools/ui-components/tailwind.config.js
Labels: scope: docs, scope: tools/scripts

#45844 feat: client overhaul proof of concept
  .eslintrc.json
  .github/workflows/node.js-tests.yml
  .prettierignore
  curriculum-server/.gitignore
  curriculum-server/package.json
  curriculum-server/source-curriculum.ts
  curriculum-server/tsconfig.json
  tsconfig-base.json
  web/.gitignore
  web/README.md
  web/next-env.d.ts
  web/package.json
  web/src/data-fetching/get-curriculum.ts
  web/src/page-templates/challenge.tsx
  web/src/page-templates/superblock.tsx
  web/src/pages/learn/[...id].tsx
  web/src/pages/learn/[superblock]/[blockOrId].tsx
  web/src/pages/learn/[superblock]/[blockOrId]/[dashedName]/[id].tsx
  web/tsconfig.json
Labels: scope: tools/scripts

#45879 chore(deps): Included dependency review
  .github/workflows/dependency-review.yml
Labels: scope: tools/scripts

#45902 fix(client): remove duplicate css properties
  client/src/components/Header/components/universal-nav.css
  client/src/templates/Challenges/video/show.css
Labels: platform: client

#45865 feat: release RWD from beta
  client/i18n/locales/english/intro.json
  client/src/pages/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-grid-by-building-a-magazine/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-intermediate-css-by-building-a-picasso-painting/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-responsive-web-design-by-building-a-piano/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/index.md
  client/src/pages/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/index.md
  client/src/pages/learn/javascript-algorithms-and-data-structures/basic-javascript-rpg-game/index.md
  client/src/pages/learn/javascript-algorithms-and-data-structures/functional-programming-spreadsheet/index.md
  client/src/pages/learn/javascript-algorithms-and-data-structures/intermediate-javascript-calorie-counter/index.md
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/legacy-links.tsx
  client/src/utils/is-a-cert.ts
  config/certification-settings.ts
  config/i18n/all-langs.ts
  curriculum/challenges/_meta/learn-basic-css-by-building-a-cafe-menu/meta.json
  curriculum/utils.js
  curriculum/utils.test.ts
  cypress/integration/landing.js
  cypress/integration/learn/index.js
  cypress/integration/learn/responsive-web-design/intro-page.js
  cypress/integration/legacy/redirects/challenges.js
  tools/challenge-editor/api/configs/superBlockList.ts
Labels: status: waiting review, scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#45910 fix(client): remove unneeded explicit padding-bottom
  client/src/components/Footer/footer.css
Labels: platform: client

#45906 fix: use new RWD cert projects for all i18n's
  curriculum/challenges/chinese-traditional/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/chinese-traditional/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/chinese-traditional/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/chinese-traditional/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/chinese-traditional/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/chinese/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/espanol/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/espanol/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/espanol/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/espanol/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/espanol/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/italian/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/italian/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/italian/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/italian/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/italian/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/italian/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/italian/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/italian/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/italian/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/italian/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
  curriculum/challenges/japanese/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/japanese/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/japanese/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/japanese/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/japanese/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/japanese/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/japanese/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/japanese/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/japanese/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/japanese/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
  curriculum/challenges/ukrainian/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/ukrainian/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/ukrainian/01-responsive-web-design/responsive-web-design-projects/build-a-survey-form.md
  curriculum/challenges/ukrainian/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/ukrainian/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
Labels: scope: curriculum, scope: i18n

#45900 fix(curriculum): varius fixes for responsive web design beta files
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804da.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb2c990dc218d6c85f89b2.md
Labels: status: waiting review, scope: curriculum

#45909 fix(client): duplicates and zero length units
  client/src/components/layouts/global.css
Labels: platform: client

#45921 fix(api): add needsModeration flag to user document root
  api-server/src/common/models/user.json
  api-server/src/server/boot/challenge.js
Labels: platform: api

#45918 fix(curriculum): correct challenge title of Project Euler Problem 421
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-421-prime-factors-of-n151.md
Labels: scope: curriculum

#45911 fix: remove unexpected duplicate "height" property
  client/src/components/Header/components/universal-nav.css
Labels: platform: client

#45923 fix: cert project links going to english
  client/src/templates/Introduction/components/block.tsx
Labels: platform: client

#45913 fix(curriculum): more fixes for rwd beta
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3c866d28d7ad0de6470505.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ea.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc575c8d6a74d05e68af77.md
Labels: scope: curriculum

#45925 fix: code duplication in tests for create-language-redirect
  client/src/components/create-language-redirect.test.ts
Labels: platform: client

#45929 fix(API): user object on account reset
  api-server/src/server/boot/user.js
Labels: platform: api

#45934 chore(i18n): new italian footer
  client/i18n/locales/italian/trending.json
Labels: platform: client, scope: i18n

#45932 fix(curriculum): more typos for rwd
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f344f9c805cd193c33d829c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed6199b0cdef1d2be8f.md
Labels: scope: curriculum

#45936 feat: banner for updated RWD
  client/i18n/locales/english/intro.json
  client/src/templates/Introduction/components/legacy-links.tsx
Labels: platform: client, scope: i18n

#45935 feat: allow source element
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
Labels: scope: curriculum

#45933 fix: tribute page
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
Labels: scope: curriculum

#45953 fix(client): Code solution modal on timeline
  client/src/components/SolutionViewer/ProjectModal.tsx
Labels: platform: client

#45942 feat: improve file insertion
  client/gatsby-node.js
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/rechallenge/builders.test.js
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/build.js
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cb2e27333b1ab2b955.md
Labels: scope: curriculum, platform: client

#45954 fix: add scrollable anchor to grid project block
  client/src/templates/Introduction/components/block.tsx
Labels: platform: client

#45976 fix(curriculum): delete unnecessary escape character
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa2407b521be39a3de7be1.md
Labels: scope: curriculum

#45980 fix(ci): update workspaces to pass NodeJS CI
  .github/workflows/node.js-tests-upcoming.yml
Labels: scope: tools/scripts

#45941 fix(curriculum): extra word in step 47 cafe menu project
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3cade99dda4e6071a85dfd.md
Labels: status: waiting review, scope: curriculum

#45982 fix(curriculum): change hint from `legend` element to `p` element
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e8.md
Labels: scope: curriculum

#45984 fix(curriculum): typo in build-a-personal-portfolio-webpage.md file (#45983)
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
Labels: scope: curriculum

#45979 fix(curriculum): Missing code tags in hint for `strong`
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d4.md
Labels: scope: curriculum

#45969 made `media-quary`'s tests lenient
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
Labels: scope: curriculum

#45988 fix(curriculum): wrong word in step 71 of cafe menu project
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f459cf202c2a3472fae6a9f.md
Labels: scope: curriculum

#45972 chore(client): reorder and rename rwd changes
  client/i18n/locales/english/intro.json
  client/src/__mocks__/challenge-nodes.ts
  client/src/components/Map/__snapshots__/map.test.tsx.snap
  client/src/components/Map/index.tsx
  cypress/integration/landing.js
  cypress/integration/learn/index.js
  cypress/integration/learn/responsive-web-design/intro-page.js
  tools/challenge-editor/api/configs/superBlockList.ts
Labels: platform: client, scope: i18n, scope: tools/scripts

#45958 Add link to SQLite download in SQLite lesson
  curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/relational-databases-and-sqlite.md
Labels: status: waiting review, scope: curriculum

#45998 feat(tests): update euler-51 with faster solution
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-51-prime-digit-replacements.md
Labels: scope: curriculum

#45862 fix: simplify completedChallenges updates
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot_tests/challenge.test.js
  api-server/src/server/boot_tests/fixtures.js
Labels: status: waiting review, platform: api

#46013 docs(API): update command for spinning an instance
  docs/devops.md
Labels: scope: docs

#46000 fix: interfering style elements
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/utils/css-help.ts
Labels: platform: client

#46019 fix: remove update-current-challenge call
  client/src/templates/Challenges/redux/current-challenge-saga.js
Labels: platform: client

#45636 feat: add ask for help button
  client/i18n/locales/english/translations.json
  client/src/assets/icons/lightbulb.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: platform: client, scope: i18n

#45995 fix: grammar/spelling accessiblity quiz
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61329b210dac0b08047fd6ab.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614796cb8086be482d60e0ac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487b77d4a37707073a64e5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e41c728f65138addf9cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e5aeb102e3142de026a2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614ccc21ea91ef1736b9b578.md
Labels: scope: curriculum

#46020 fix (curriculum): fixed missing backtick on line 143
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md
Labels: scope: curriculum

#46028 fix: comments out update-my-current-challenge call
  client/src/templates/Challenges/redux/current-challenge-saga.js
Labels: platform: client

#46022 fix(client): added `.text-center` to modal title
  client/src/components/profile/components/time-line.tsx
Labels: platform: client

#46016 feat: add ecosystem file for pm2
  api-server/ecosystem.config.js
Labels: platform: api

#46035 fix: make pm2 name match deployment env
  api-server/ecosystem.config.js
Labels: platform: api

#46037 feat: combine editor submission and execution calls
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: platform: client

#46029 chore: check if canClaimCert before calling backend
  client/src/redux/settings/settings-sagas.js
Labels: platform: client

#46038 fix(client): show checkmark for completed challenges in new RWD
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#46042 chore: return 404 for update-my-current-challenge
  api-server/src/server/boot/certificate.js
  api-server/src/server/boot/randomAPIs.js
  api-server/src/server/boot/settings.js
  api-server/src/server/utils/deprecatedEndpoint.js
  api-server/src/server/utils/disabled-endpoints.js
Labels: platform: api

#46050 fix: temporarily prevent the client from retrying
  client/src/redux/failed-updates-epic.js
Labels: platform: client

#46053 test: skip the failed-updates-epic tests for now
  client/src/redux/failed-updates-epic.test.js
Labels: platform: client

#46054 fix: optional chaining on fallback fullstack date
  api-server/src/server/boot/certificate.js
Labels: platform: api

#46067 feat: add two second debounce to confirm username validity check intention
  client/src/redux/settings/settings-sagas.js
Labels: platform: client

#45999 feat(tests): update euler-47 with faster solution
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-47-distinct-primes-factors.md
Labels: status: waiting review, scope: curriculum

#46074 fix: handle Sentry donation errors
  api-server/src/server/utils/donation.js
Labels: platform: api

#46066 fix(curriculum): allow for multiple classes on nav links for technical-doc project
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
Labels: scope: curriculum

#45857 chore: TS migrate `MultifileEditor`
  client/src/declarations.d.ts
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: status: waiting review, platform: client

#45688 feat: update endpoints
  client/src/client-only-routes/show-settings.tsx
  client/src/redux/index.js
  client/src/redux/settings/action-types.js
  client/src/redux/settings/index.js
  client/src/redux/settings/settings-sagas.js
  client/src/redux/sound-mode-saga.js
  client/src/utils/ajax.ts
Labels: platform: client

#46047 fix(a11y): improve accessibility on completed Step heading
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, scope: a11y, platform: client

#46081 fix(cirriculum): typo is fixed
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed6199b0cdef1d2be8f.md
Labels: scope: curriculum

#46075 chore(client): typescript migration - utils/frame.js
  client/src/templates/Challenges/utils/frame.js
  client/src/templates/Challenges/utils/frame.ts
  curriculum/package.json
Labels: status: waiting review, platform: client

#46082 fix(client): prevent iframe from duplicating by using preventDefault
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client

#46072 fix(curriculum): vague skyline step 51
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98fb.md
Labels: scope: curriculum

#46034 fix(curriculum): extra test and hint to cafe menu step 53
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f716bee5838c354c728a7c5.md
Labels: status: waiting review, scope: curriculum

#46096 removed password library external link in quality assurance
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-strategies.md
Labels: status: waiting review, scope: curriculum

#46107 fix(curriculum): changed external link to news link
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.md
Labels: status: waiting review, scope: curriculum

#46108 fix(curriculum): fix hint to match its test in Step 88 of RWD Cafe Menu
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e7a4750dd05b5a673920.md
Labels: status: waiting review, scope: curriculum

#46089 Fix: strict Rothko painting
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad69970.md
Labels: status: waiting review, scope: curriculum

#46018 fix(curriculum): 'Adjust the Tone of a Color' test assertion
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-tone-of-a-color.md
Labels: status: waiting review, scope: curriculum

#46105 feat(ui-components): create Link component
  tools/ui-components/src/base.css
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/link/index.ts
  tools/ui-components/src/link/link.stories.tsx
  tools/ui-components/src/link/link.test.tsx
  tools/ui-components/src/link/link.tsx
  tools/ui-components/src/link/types.ts
Labels: scope: tools/scripts

#46120 fix(curriculum): strict url checking in the anchor
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e9.md
Labels: scope: curriculum

#46123 fix: throw sound into local storage
  client/src/redux/settings/settings-sagas.js
Labels: status: waiting review, platform: client

#46127 chore(api): update dependencies & apply audit
  api-server/package.json
  package-lock.json
Labels: status: waiting review, platform: api

#46130 fix(curriculum): external w3 img link in old RWD
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/align-elements-using-the-justify-content-property.md
Labels: scope: curriculum

#46147 fix(curriculum): put correct marker in the hint of step 85 of markers project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61b0a1b2af494934b7ec1a72.md
Labels: status: waiting review, scope: curriculum

#46141 fix(curriculum): add switch statement spaces for consistency
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/multiple-identical-options-in-switch-statements.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replacing-if-else-chains-with-switch.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/selecting-from-many-options-with-switch-statements.md
Labels: scope: curriculum

#45600 revert: cypress temporary workaround
  cypress/integration/learn/challenges/backend.js
  cypress/integration/learn/challenges/codeally.js
  cypress/integration/settings/username-change.js
  cypress/support/commands.js
Labels: status: waiting review, scope: tools/scripts

#46144 fix(curriculum): external wiki link in JS A&DS
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/dna-pairing.md
Labels: scope: curriculum

#46159 fix(curriculum): external floating link in JS
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/create-decimal-numbers-with-javascript.md
Labels: scope: curriculum

#46158 fix(curriculum): external card counting link in JS
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/counting-cards.md
Labels: scope: curriculum

#46157 fix(curriculum): external Mad Libs link in JS steps
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/constructing-strings-with-variables.md
Labels: scope: curriculum

#46118 fix: display certs on profile for username with upper chars
  client/src/components/profile/components/certifications.tsx
  client/src/components/settings/username.tsx
  cypress/integration/settings/username-change.js
  cypress/integration/user/certifications.js
  cypress/support/commands.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#46143 fix(curriculum): removed link in JS basic-JavaScript
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulating-complex-objects.md
Labels: scope: curriculum, status: waiting update

#46085 feat: add a leading submitChallenge debounce
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#46164 fix: remove parentheses around element type
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d0.md
Labels: scope: curriculum

#46170 fix(curriculum): external golf wiki link in JS
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/golf-code.md
Labels: status: waiting review, scope: curriculum

#46168 fix(a11y):add main landmark to super block intro
  client/src/templates/Introduction/super-block-intro.tsx
Labels: status: waiting review, scope: a11y, platform: client

#46169 fix(curriculum): external ROT13 link in JS projects
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/caesars-cipher.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-caesars-cipher-project/caesars-cipher.md
Labels: status: waiting review, scope: curriculum

#46172 test: allow CI to install current Cypress version
  .github/workflows/cypress.yml
Labels: scope: tools/scripts

#46171 fix(curriculum): external roman numeral links in JS projects
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/roman-numeral-converter.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-roman-numeral-converter-project/roman-numeral-converter.md
Labels: status: waiting review, scope: curriculum

#46174 fix(curriculum): IX should be 9, not 0
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-roman-numeral-converter-project/roman-numeral-converter.md
Labels: scope: curriculum

#46160 fix: use standard path names for chunks
  client/webpack-workers.js
Labels: status: waiting review, platform: client

#46175 fix(curriculum): Typo on line 24
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/roman-numeral-converter.md
Labels: scope: curriculum

#46176 chore: delete _headers file from Netlify days
  client/static/_headers
Labels: platform: client

#46179 test: ignore Firefox specific runtime errors
  cypress/support/index.js
Labels: scope: tools/scripts

#46180 fix: update path of webpack bundles
  client/webpack-workers.js
Labels: platform: client

#46183 fix: update open graph data
  docs/index.html
Labels: scope: docs

#46181 feat: add project name on timeline for challenges completed RWD
  client/src/components/profile/components/time-line.tsx
Labels: platform: client

#46182 chore: update directions in for HTML/CSS Quiz
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6140827cff96e906bd38fc2b.md
Labels: scope: curriculum

#46184 fix(cirriculum): term confusion is fixed step 14
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477ae34c1239cafe128be.md
Labels: scope: curriculum

#46191 fix(curriculum): external calenders wiki in code interview
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/discordian-date.md
Labels: status: waiting review, scope: curriculum

#46189 fix(curriculum): external SEDOL wiki link in code interview
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sedols.md
Labels: status: waiting review, scope: curriculum

#46185 fix(new RWD): remove charset case sensitivity
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/613297a923965e0703b64796.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6140c7e645d8e905819f1dd4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c51579.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612e77aba7ca691f598feb02.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6996b.md
Labels: scope: curriculum

#46221 fix(curriculum): external selfDescriptiveInt link in code interview prep
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/self-describing-numbers.md
Labels: status: waiting review, scope: curriculum

#46071 fix(curriculum): made steps' description clearer
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b715301bbf667badc04a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad8e6148f310bba7890b1.md
Labels: status: waiting review, scope: curriculum

#46080 fix(curriculum): remove extrernal link to github pug
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.md
Labels: scope: curriculum, status: waiting update

#46132 fix(curriculum): external userstories in interview prep
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-markdown-previewer.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-random-quote-machine.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-camper-leaderboard.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-light-bright-app.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-pinterest-clone.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-pong-game.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-recipe-box.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-roguelike-dungeon-crawler-game.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-simon-game.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-tic-tac-toe-game.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-wikipedia-viewer.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-the-game-of-life.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/manage-a-book-trading-club.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/map-data-across-the-globe.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/p2p-video-chat-application.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-national-contiguity-with-a-force-directed-graph.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-the-local-weather.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/use-the-twitch-json-api.md
Labels: status: waiting review, scope: curriculum

#46192 fix(curriculum): external algebra links in code interview
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cramers-rule.md
Labels: scope: curriculum

#46218 fix(curriculum): external associative array in code interview
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hash-from-two-arrays.md
Labels: status: waiting review, scope: curriculum

#46228 fix(curriculum): external list wiki link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/compare-a-list-of-strings.md
Labels: status: waiting review, scope: curriculum

#46226 fix(curriculum): external deviation wiki link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cumulative-standard-deviation.md
Labels: status: waiting review, scope: curriculum

#46216 fix(curriculum): clearer description for CatPhotoApp Step 12
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md
Labels: status: waiting review, scope: curriculum

#46086 feat: instruction hiding with button
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor-tabs.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
Labels: status: waiting review, platform: client, scope: i18n

#46214 fix(curriculum): missing instruction in sedols.md
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sedols.md
Labels: status: waiting review, scope: curriculum

#46076 fix(curriculum): make instructions for cafe css step 24 specificer
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed63e0fa262326eef05.md
Labels: status: waiting review, scope: curriculum

#46219 fix(curriculum): external algorithms wiki link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/linear-congruential-generator.md
Labels: status: waiting review, scope: curriculum

#46231 fix(cypress): disable electron due to timeouts
  .github/workflows/cypress.yml
Labels: status: waiting review, scope: tools/scripts

#45989 feat(tools): introduce generic data API with versioning
  .gitignore
  tools/scripts/build/build-curriculum.ts
  tools/scripts/build/build-external-curricula-data.ts
  tools/scripts/build/build-mobile-curriculum.js
  tools/scripts/build/mobile-curriculum.test.js
  tools/scripts/build/mobile-curriculum.test.ts
Labels: status: waiting review, scope: tools/scripts

#46235 test: reduce flake
  .github/workflows/cypress.yml
  cypress/integration/learn/challenges/projects.js
  cypress/integration/learn/responsive-web-design/show-cert-from-superblock.js
  cypress/support/commands.js
  cypress/support/index.js
Labels: scope: tools/scripts

#46238 chore(tools): update filename and versioning API
  tools/scripts/build/build-curriculum.ts
  tools/scripts/build/build-external-curricula-data.ts
  tools/scripts/build/mobile-curriculum.test.ts
Labels: scope: tools/scripts

#46243 fix(curriculum): external FRACTAN link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/fractran.md
Labels: scope: curriculum

#46242 fix(curriculum): external metric link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/levenshtein-distance.md
Labels: scope: curriculum

#46248 fix(curriculum): assert length of array in rwd-quiz test
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e41c728f65138addf9cc.md
Labels: scope: curriculum

#46245 fix(curriculum): external monkey and coconuts links in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/sailors-coconuts-and-a-monkey-problem.md
Labels: scope: curriculum

#46240 fix(curriculum): external Babbage wiki link in CIP
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/babbage-problem.md
Labels: scope: curriculum
