Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-09, with the labels that each got.

#47432 fix(curriculum): change descriptions of id from properties to attributes
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff8b9dab5ac88e4d3d43a3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff8e998d3e7eae14d6ae3b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff919a7b5612c0670923a5.md
Labels: status: waiting review, scope: curriculum

#47435 fix(curriculum): Fix typo in step 96 of learn CSS variables project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e9929.md
Labels: status: waiting review, scope: curriculum

#47431 fix(curriculum): better wording for exercise challenge's description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/mutate-an-array-declared-with-const.md
Labels: scope: curriculum

#46251 feat: add preview popout window
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/preview-portal.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
Labels: status: waiting review, platform: client, scope: i18n

#47380 feat(curriculum): Add links for the MP3 files
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-drum-machine.md
Labels: status: waiting review, scope: curriculum

#47427 fix(UI): restore keyboard accessibility
  client/src/components/Header/components/nav-links.tsx
Labels: platform: client

#47448 fix(curriculum): Clarify understand-string-immutability
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understand-string-immutability.md
Labels: scope: curriculum

#47470 fix(curriculum): typo in 65 of building a magazine project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d4d57b965358c9fa38bf.md
Labels: status: waiting review, scope: curriculum

#47461 fix(curriculum): change the instruction text
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8604682407e0d017bbf7f.md
Labels: status: waiting review, scope: curriculum

#47481 fix(curriculum): Update Registration Form step 29 seed code to correctly render a checkbox
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab8367d35de04e5cb7929.md
Labels: scope: curriculum

#47320 fix(curriculum): Split Cat App Step 12 into two parts
  curriculum/challenges/_meta/learn-html-by-building-a-cat-photo-app/meta.json
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa2407b521be39a3de7be1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa30b9eacea3f48c6300ad.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa3589eacea3f48c6300ae.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa371beacea3f48c6300af.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa37b9eacea3f48c6300b0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb5ecbeacea3f48c6300b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb655eeacea3f48c6300b3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804da.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804db.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804de.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ea.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ec.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ee.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efada803cbd2bbdab94e332.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae0543cbd2bbdab94e333.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae16e3cbd2bbdab94e334.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb23e70dc218d6c85f89b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb2c990dc218d6c85f89b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc4f528d6a74d05e68af74.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc518e8d6a74d05e68af75.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc54138d6a74d05e68af76.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc575c8d6a74d05e68af77.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07be6ef7412fbad0c5626b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07c98cdb9413cbd4b16750.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07fb1579dc934717801375.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d48e7b435f13ab6550051.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4ab1b435f13ab6550052.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4d04b435f13ab6550053.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f1a80975fc4bcae0edb3497.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f1a89f1190aff21ae42105a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62bb4009e3458a128ff57d5d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62dabe2ef403a12d5d295273.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/7cf9b03d81a65668421804c3.md
Labels: status: blocked, scope: curriculum, scope: i18n

#47501 fix(curriculum): update description on step 15 of Building a City Skyline
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d7.md
Labels: status: waiting review, scope: curriculum

#47422 fix(curriculum): Provide Example for Media Query
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ec19d5268da7074941f84.md
Labels: scope: curriculum

#47358 docs: update devops documents for client
  docs/devops.md
Labels: status: waiting review, scope: docs

#47504 refactor: add explanation of instruction width
  client/src/templates/Challenges/classic/editor.css
Labels: status: waiting review, platform: client

#47502 changed the description of the instructions
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc1798ff86c76b9248c6eb3.md
Labels: scope: curriculum

#47506 fix(learn): lack of block code declaration
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/practice-comparing-different-values.md
Labels: scope: curriculum

#47500 misc: correct typo in README.md
  README.md
Labels: status: waiting review

#47508 fix(tools): download more ram
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#47259 feat: volume slider campfire mode
  client/i18n/locales/english/translations.json
  client/src/components/settings/sound.css
  client/src/components/settings/sound.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: client, scope: i18n

#47463 fix: update lower jaw on ctrl enter
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/components/ResetModal.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/index.js
  cypress/integration/default/learn/challenges/multifile.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#47524 fix: download ram more often
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: status: waiting review, scope: tools/scripts

#47526 fix(curriculum): Changed 'though' to 'through' on line 22.
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.md
Labels: status: waiting review, scope: curriculum

#47503 fix(curriculum): change the instruction text in step 31
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fabf0dd4959805dbae09e6.md
Labels: scope: curriculum

#47527 Fixed type on Step 4 of Build a Registration Form
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f0286404aefb0562a4fdf9.md
Labels: status: waiting review, scope: curriculum

#47529 fix: forum post template correct html comment
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: status: waiting review, platform: client

#47553 fix(docs): Documentation Grammatical Errors.
  README.md
  docs/FAQ.md
  docs/curriculum-file-structure.md
Labels: status: waiting review, scope: docs

#47561 fix: german motivation - remove extraneous chars
  client/i18n/locales/german/motivation.json
Labels: platform: client, scope: i18n

#47565 fix: lint json
  .prettierignore
  client/i18n/locales/chinese-traditional/intro.json
  client/i18n/locales/chinese/intro.json
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/english/trending.json
  client/i18n/locales/espanol/intro.json
  client/i18n/locales/german/intro.json
  client/i18n/locales/german/trending.json
  client/i18n/locales/italian/intro.json
  client/i18n/locales/japanese/intro.json
  client/i18n/locales/japanese/trending.json
  client/i18n/locales/portuguese/intro.json
  client/i18n/locales/portuguese/trending.json
  client/i18n/locales/ukrainian/intro.json
  client/i18n/locales/ukrainian/trending.json
Labels: platform: client, scope: i18n

#47575 fix(docs): typo in how to work on coding challenges
  docs/how-to-work-on-coding-challenges.md
Labels: status: waiting review, scope: docs

#47560 fix: enable German in the language selector
  config/i18n/all-langs.ts
Labels: status: waiting review, scope: i18n

#47583 fix(curriculum): fix typo in building a city skylines step 15
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d7.md
Labels: scope: curriculum

#47578 fix(client): remove dedent to dedent forum posts
  client/package.json
  client/src/templates/Challenges/redux/create-question-epic.js
  package-lock.json
Labels: status: waiting review, platform: client

#47585 fix(tools): silence the bot
  .github/workflows/no-prs-to-translation.yml
Labels: status: waiting review, scope: tools/scripts

#47550 feat(docs): update forum moderation section
  docs/moderator-handbook.md
Labels: scope: docs, status: waiting update

#47595 feat(tools): run prettier on JSON
  .github/workflows/crowdin-download.client-ui.yml
Labels: scope: tools/scripts

#45866 fix(a11y): improve keyboard accessibility in tablist
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: status: waiting review, scope: a11y, platform: client

#47594 fix(curriculum): make notation of class names consistent
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98da.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98dd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98e9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e990f.md
Labels: scope: curriculum

#47609 fix(curriculum): change step tests to use expected/found values
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc4f528d6a74d05e68af74.md
Labels: status: waiting review, scope: curriculum

#47587 fix(curriculum): fix test 3 hint on cat photo app
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc2385ff86c76b9248c6eb7.md
Labels: status: waiting review, scope: curriculum

#47567 fix: allow user to add one unsaved item at a time
  api-server/src/server/boot/settings.js
  client/src/components/settings/PreventableButton.jsx
  client/src/components/settings/portfolio.tsx
Labels: status: waiting review, platform: api, platform: client

#47625 fix: change keyword for code highlighting on forum
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: platform: client

#47638 chore(i18n): update Ukrainian links
  client/i18n/locales/ukrainian/links.json
Labels: platform: client, scope: i18n

#47569 feat: update footer Sept 22
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n, status: merge conflict

#47643 feat(client): add inspiring quote
  client/i18n/locales/english/motivation.json
Labels: status: waiting review, platform: client, scope: i18n

#47640 fix(client): prevent sound on every render
  client/src/components/settings/sound.tsx
Labels: status: waiting review, platform: client

#46644 fix(client): making misclicking sign out harder
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/Header/index.tsx
Labels: status: waiting review, platform: client

#45562 fix: certification to private on private timeline
  api-server/src/server/boot/certificate.js
  client/i18n/locales/english/translations.json
  client/src/components/Flash/redux/flash-messages.ts
  client/src/components/settings/privacy.tsx
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: api, platform: client, scope: i18n

#47654 fix: stop mutating store when toggling settings
  client/src/components/settings/privacy.tsx
Labels: status: waiting review, platform: client

#47656 fix(api): reorder certificate early returns
  api-server/src/server/boot/certificate.js
Labels: status: waiting review, platform: api

#47651 fix(curriculum): Update Cat Photo App Step 11/12
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ddbd81294d8ddc1510a8e56.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62dabe2ef403a12d5d295273.md
Labels: status: waiting review, scope: curriculum

#47664 fix(curriculum): typos in create RPG game in new JavaScript
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8e49f4df7af5ae2d7a616.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8f35bde1750791f58773f.md
Labels: status: waiting review, scope: curriculum

#47671 fix(docs): Update docs for Docsify port 3400
  docs/how-to-work-on-the-docs-theme.md
Labels: scope: docs

#47662 add how to give proofreader permissions on crowdin
  docs/language-lead-handbook.md
Labels: scope: docs

#47673 fix(curriculum): turn quote into code block to fix translation
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a2401b9842721796b72850.md
Labels: scope: curriculum

#47525 feat: standardize view button text
  client/i18n/locales/english/translations.json
  client/src/components/profile/components/time-line.test.tsx
  client/src/components/settings/certification.test.tsx
  client/src/components/solution-display-widget/index.tsx
Labels: status: waiting review, platform: client, scope: i18n

#47667 docs: Add note to local setup for WSL users to skip mongodb creation step.
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#46380 feat: use updateMySocials not updateUserFlag
  client/src/client-only-routes/show-settings.test.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/social-icons.tsx
  client/src/components/profile/profile.test.tsx
  client/src/components/profile/profile.tsx
  client/src/components/settings/internet.tsx
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/settings/action-types.js
  client/src/redux/settings/index.js
  client/src/redux/settings/settings-sagas.js
  client/src/utils/ajax.ts
Labels: status: waiting review, platform: client
