Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-11, with the labels that each got.

#47349 fix(learn): advanced-node-and-express username field
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/announce-new-users.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-strategies.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/authentication-with-socket.io.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/clean-up-your-project-with-modules.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/communicate-by-emitting.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/create-new-middleware.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/handle-a-disconnect.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/hashing-your-passwords.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-put-a-profile-together.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/how-to-use-passport-strategies.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/logging-a-user-out.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/registration-of-new-users.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/send-and-display-chat-messages.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-passport.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-the-environment.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/use-a-template-engines-powers.md
Labels: status: waiting review, scope: curriculum, hacktoberfest-accepted

#48354 feat: October footer
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#48266 fix(curriculum): improve testing in regex challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters.md
Labels: scope: curriculum, status: waiting update, hacktoberfest-accepted

#47263 feat(tools): Implement basic functionality of table component
  tools/ui-components/src/index.ts
  tools/ui-components/src/table/index.ts
  tools/ui-components/src/table/table.stories.tsx
  tools/ui-components/src/table/table.tsx
  tools/ui-components/src/table/types.ts
Labels: status: waiting review, scope: tools/scripts

#48369 fix: drop npm caches in CI
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/node.js-find-unused.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#48373 chore(ci): remove headless from cypress config
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
Labels: status: waiting review, scope: tools/scripts

#48366 fix(curriculum): update code order to help with confusion
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-parameter-to-reassign-array-elements.md
Labels: status: waiting review, scope: curriculum

#48370 chore: update dotenv to v16
  package-lock.json
  package.json
Labels: status: waiting review

#48386 feat(.eslintrc): ignore no-unused-vars on underscore
  .eslintrc.json
  api-server/src/server/middlewares/error-handlers.js
  client/src/__mocks__/gatsby.ts
  client/src/client/frame-runner.ts
Labels: platform: api, platform: client

#48384 fix(curriculum): replace Github OAuth article link
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md
Labels: scope: curriculum

#48378 refactor: consistent layout imports
  client/src/components/layouts/index.ts
  client/utils/gatsby/layout-selector.tsx
Labels: platform: client

#48385 feat(client): add a confirmation modal on signout
  client/i18n/locales/english/translations.json
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/layouts/default.tsx
  client/src/components/signout-modal/index.tsx
  client/src/components/signout-modal/signout-modal.css
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/selectors.js
  client/src/redux/types.ts
  cypress/e2e/default/learn/header/universal-navigation.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#48388 fix: confirm modal
  client/i18n/locales/english/translations.json
  client/src/components/Header/components/nav-links.tsx
Labels: platform: client, scope: i18n

#48356 feat(tools): FormContext link FormGroup with its children
  tools/ui-components/src/form-context/form-context.tsx
  tools/ui-components/src/form-context/index.ts
  tools/ui-components/src/form-context/types.ts
Labels: status: waiting review, scope: tools/scripts

#48415 chore(client, i18n): update Japanese footer Nov 22
  client/i18n/locales/japanese/trending.json
Labels: status: waiting review, platform: client, scope: i18n

#48345 fix(curriculum): max heap remove element method
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.md
Labels: scope: curriculum, status: waiting update

#47596 feat(client): move legacy rwd button to bottom of map
  .eslintignore
  .gitignore
  .prettierignore
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Map/__snapshots__/map.test.tsx.snap
  client/src/components/Map/index.tsx
  client/src/components/Map/map.test.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/superblock-map-titles.ts
  config/i18n.ts
  config/superblock-order.test.ts
  config/superblock-order.ts
  curriculum/utils.js
  curriculum/utils.test.ts
  cypress/e2e/default/landing.js
  cypress/e2e/default/learn/index.js
  package.json
  tools/challenge-auditor/index.ts
  tools/scripts/build/ensure-env.ts
  utils/is-audited.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#48434 feat(api): example middleware
  api/index.ts
  api/middleware/index.ts
  api/package.json
  api/utils/index.ts
  package-lock.json
Labels: platform: api

#48422 fix(curriculum): update object example in Using Objects for Lookups
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups.md
Labels: status: waiting review, scope: curriculum

#48445 chore(UI): modify 'slow down' message
  client/i18n/locales/english/translations.json
Labels: platform: client, scope: i18n

#46424 feat: update gatsby config for chinese
  client/gatsby-config.js
  client/src/__mocks__/gatsby.ts
Labels: status: waiting review, platform: client

#46220 chore(client): update chinese redirects
  client/src/components/create-language-redirect.test.ts
  client/src/components/create-language-redirect.ts
Labels: status: waiting review, platform: client

#48447 fix(lint): stop tripping over docs
  .eslintignore
  .prettierignore
Labels: status: waiting review

#48436 fix(curriculum): clarify test cases
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/get-query-parameter-input-from-the-client.md
Labels: status: waiting review, scope: curriculum

#48350 feat: add university and seasonal alerts
  client/i18n/locales/english/translations.json
  client/src/components/Intro/index.tsx
  client/src/components/Intro/intro.test.tsx
  client/src/components/Intro/learn-alert.tsx
  client/src/components/Intro/research-banner.tsx
  client/src/components/layouts/global.css
  client/src/pages/learn.tsx
Labels: status: waiting review, platform: client, type: feature request, scope: i18n

#48417 fix(component-library): add color variables to css build
  tools/ui-components/src/base.css
Labels: scope: tools/scripts

#48426 fix: renamed report_id to thread_id in report a thread test
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
Labels: status: waiting review, scope: curriculum

#48377 docs: reduce abstraction and make it easier to read
  docs/_sidebar.md
  docs/how-to-contribute-to-the-codebase.md
  docs/how-to-enable-new-languages.md
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-work-on-the-docs-theme.md
  docs/troubleshooting-development-issues.md
Labels: status: waiting review, scope: docs

#48327 refactor(client): space between passed icons and their sibling
  client/src/assets/icons/green-not-completed.tsx
  client/src/assets/icons/green-pass.tsx
  client/src/templates/Challenges/components/__snapshots__/challenge-title.test.tsx.snap
  client/src/templates/Challenges/components/__snapshots__/completion-modal-body.test.tsx.snap
  client/src/templates/Challenges/components/challenge-title.css
  client/src/templates/Challenges/components/challenge-title.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: client

#48477 docs: updates for environment and other nits
  docs/_sidebar.md
  docs/how-to-contribute-to-the-codebase.md
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-work-on-the-docs-theme.md
  docs/index.md
Labels: status: waiting review, scope: docs

#48503 fix(curriculum,i18n): remove code tags from name
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d30350883802921bfcccc.md
Labels: scope: curriculum

#48483 fix(curriculum): Fixing global variable abuse in functional JS challenges
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-the-filter-method-on-a-prototype.md
Labels: scope: curriculum

#48322 feat(client): change the layout of lowerjaw hint and test to flex
  client/src/templates/Challenges/classic/editor.css
Labels: status: waiting review, platform: client

#48446 feat(curriculum): add empty lines in catPhotoApp project
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc1798ff86c76b9248c6eb3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc17d3bf86c76b9248c6eb4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc17dc8f86c76b9248c6eb5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc2385ff86c76b9248c6eb7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23f9bf86c76b9248c6eba.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc24614f86c76b9248c6ebd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa3589eacea3f48c6300ae.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa371beacea3f48c6300af.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa37b9eacea3f48c6300b0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb5ecbeacea3f48c6300b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb655eeacea3f48c6300b3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804da.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ea.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ee.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efada803cbd2bbdab94e332.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae0543cbd2bbdab94e333.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae16e3cbd2bbdab94e334.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f05a1d8e233dff4a68508d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07be6ef7412fbad0c5626b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07c98cdb9413cbd4b16750.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07fb1579dc934717801375.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d48e7b435f13ab6550051.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4ab1b435f13ab6550052.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4d04b435f13ab6550053.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62bb4009e3458a128ff57d5d.md
Labels: status: waiting review, scope: curriculum

#48508 feat(client): remove CAP and GAP scripts
  client/package.json
  client/static/misc/cap.js
  client/static/misc/gap-dev.js
  client/static/misc/gap-org-chinese.js
  client/static/misc/gap-org.js
  client/utils/tags.test.tsx
  client/utils/tags.tsx
  package-lock.json
  package.json
Labels: status: waiting review, platform: client

#48504 fix(curriculum): fix hint for main tag placement (CatPhotoApp Step 5)
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc2385ff86c76b9248c6eb7.md
Labels: scope: curriculum

#48517 fix(curriculum): remove typo in personal-library.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md
Labels: scope: curriculum

#48522 fix(curriculum): change 'markdown' to 'markup' (CatPhotoApp Step 69)
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62bb4009e3458a128ff57d5d.md
Labels: scope: curriculum

#48530 fix(UI): prevent Chinese & Japanese headings in lower jaw getting wrapped
  client/src/templates/Challenges/classic/editor.css
Labels: status: waiting review, platform: client

#48524 fix(curriculum): changed filter description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array.md
Labels: scope: curriculum

#48531 fix(curriculum): remove comments and extra code
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/wherefore-art-thou.md
Labels: status: waiting review, scope: curriculum

#48534 fix(curriculum) - typo in example
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups.md
Labels: status: waiting review, scope: curriculum

#48564 fix(curriculum): Typo in challenge description
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619be8ce4ea49008c5bfbc30.md
Labels: status: waiting review, scope: curriculum

#48231 fix(UI): remove vertical scrollbar from body
  client/src/components/layouts/global.css
  client/src/components/layouts/learn.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/components/side-panel.css
Labels: status: waiting review, platform: client

#48374 feat: add instructions to import in replit
  client/src/pages/learn/back-end-development-and-apis/basic-node-and-express/index.md
  client/src/pages/learn/back-end-development-and-apis/managing-packages-with-npm/index.md
  client/src/pages/learn/back-end-development-and-apis/mongodb-and-mongoose/index.md
  client/src/pages/learn/information-security/information-security-with-helmetjs/index.md
  client/src/pages/learn/quality-assurance/advanced-node-and-express/index.md
  client/src/pages/learn/quality-assurance/quality-assurance-and-testing-with-chai/index.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/file-metadata-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/request-header-parser-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/meet-the-node-console.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/english/09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
  curriculum/challenges/english/09-information-security/information-security-projects/sha-1-password-cracker.md
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/rock-paper-scissors.md
Labels: scope: curriculum, status: waiting update, platform: client

#48575 fix(curriculum): More Open Ended Instructions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/reverse-a-string.md
Labels: status: waiting review, scope: curriculum

#48584 fix(curriculum): remove an extra space in a hint
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.md
Labels: status: waiting review, scope: curriculum

#48540 fix(curriculum): change submit button value from Submit to Send
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f685797bd30df9784e8c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f829ac6a920ebf5797d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f8f8bcd4370f6509078e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145fb5018cb5b100cb2a88c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145fc3707fc3310c277f5c8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614796cb8086be482d60e0ac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6147a14ef5668b5881ef2297.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614878f7a412310647873015.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487b77d4a37707073a64e5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487da611a65307e78d2c20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487f703571b60899055cf9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614880dc16070e093e29bc56.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614883b6fa720e09fb167de9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614884c1f5d6f30ab3d78cde.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61488ecfd05e290b5712e6da.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148d99cdc7acd0c519862cb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148da157cc0bd0d06df5c0a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dc095264000dce348bf5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dcaaf2e8750e6cb4501a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dd31d210990f0fb140f8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148defa9c01520fb9d178a0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dfab9b54c110577de165.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e0bcc13efd10f7d7a6a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e161ecec9511941f8833.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e28706b34912340fd042.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e335c1edd512d00e4691.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e41c728f65138addf9cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e5aeb102e3142de026a2.md
Labels: status: waiting review, scope: curriculum

#48572 fix(curriculum): wrap 'total' in code tags (Balance Sheet Step 56)
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620192a767533a7ad19d96d7.md
Labels: scope: curriculum

#48608 fix(docs): Add German language link inside certifications
  docs/index.md
Labels: status: waiting review, scope: docs

#48615 fix(curriculum): add blank line above <p> in cat photo app challenge
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc17dc8f86c76b9248c6eb5.md
Labels: status: waiting review, scope: curriculum

#48610 fix(curriculum): replace instance of var with let
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
Labels: scope: curriculum

#48624 fix(docs): add instructions for including files in sidebar
  docs/how-to-work-on-the-docs-theme.md
Labels: scope: docs

#48628 feat: add additional test cases
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/implement-the-filter-method-on-a-prototype.md
Labels: status: waiting review, scope: curriculum
