Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-01, with the labels that each got.

#44635 fix(curriculum): spelling of cinnamon in RWD Camper Cafe Menu
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-053.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-054.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-055.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-056.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-057.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-058.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-059.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-060.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-061.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-062.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-063.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-064.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-065.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-066.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-067.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-068.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-069.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-070.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-071.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-072.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-073.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-074.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-075.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-076.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-077.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-078.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-079.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-080.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-081.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-082.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-083.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-084.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-085.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-086.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-087.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-088.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-089.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-090.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-091.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-092.md
Labels: status: waiting review, scope: curriculum

#44615 fix(curriculum): remove extra "\" from description
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-004.md
Labels: status: waiting review, scope: curriculum

#44631 fix(curriculum): typos in Beta Colored Markers section
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-022.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-080.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-088.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-089.md
Labels: status: waiting review, scope: curriculum

#44625 fix: rwd beta - ferris wheel step 1 html test
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/step-001.md
Labels: status: waiting review, scope: curriculum

#44652 fix(curriculum): typos in Nutrition Label section
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/step-025.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/step-053.md
Labels: scope: curriculum

#44657 fix: always render bottom jaw in correct position
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#44633 fix(curriculum): allow usage of gray in css
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-081.md
Labels: status: waiting review, scope: curriculum

#44569 fix(curriculum): improved test for linked list challenge
  curriculum/challenges/english/10-coding-interview-prep/data-structures/add-elements-at-a-specific-index-in-a-linked-list.md
Labels: status: waiting review, scope: curriculum

#44661 fix(curriculum): RWD Beta A11y Quiz convert to placeholder attr
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-038.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-039.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-040.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-041.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-042.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-043.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-044.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-045.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-046.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-047.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-048.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-049.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-050.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-051.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-052.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-053.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-054.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-055.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-056.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-057.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-058.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-059.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-060.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-061.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-062.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-063.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-064.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-065.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-066.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-067.md
Labels: status: waiting review, scope: curriculum

#44658 fix: prevent data url render
  api-server/src/server/boot/settings.js
  client/src/components/helpers/avatar-renderer.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/settings/about.tsx
Labels: platform: api, platform: client

#44663 chore(challenges-utils): Typescript migration of Challenges util
  client/src/templates/Challenges/utils/index.ts
Labels: status: waiting review, platform: client

#44641 fix(curriculum): typos in Beta Registration Form
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/step-023.md
Labels: scope: curriculum

#44669 refactor: remove redundant code
  client/src/redux/index.js
  client/src/redux/settings/action-types.js
Labels: platform: client

#44672 chore(challenges-utils): Typescript migration of Challenges util test
  client/src/templates/Challenges/utils/index.test.ts
  client/src/templates/Challenges/utils/index.ts
Labels: platform: client

#44644 fix(curriculum): typos in Rothko Painting section
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-025.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-035.md
Labels: scope: curriculum

#44674 chore: migrate crowdin workflows
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/crowdin-upload.docs.yml
Labels: scope: tools/scripts

#44678 fix(curriculum): "withing" changed to "within"
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-023.md
Labels: status: waiting review, scope: curriculum

#44685 fix(curriculum): change tests to make them pass on Firefox
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-049.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-060.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-066.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/step-028.md
Labels: status: waiting review, scope: curriculum

#44681 fix(curriculum): typos in Accessibility Quiz section
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-008.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-017.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-019.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-020.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-028.md
Labels: status: waiting review, scope: curriculum

#44670 fix: order import (again)
  .eslintrc.json
  client/src/redux/index.js
  client/src/templates/Introduction/components/legacy-links.tsx
  curriculum/getChallenges.js
Labels: platform: client

#44695 fix: lint error
  client/src/templates/Challenges/utils/index.test.ts
Labels: platform: client

#44505 feat: add framework for rwd cert projects
  api-server/src/common/models/user.json
  api-server/src/common/utils/index.js
  api-server/src/server/boot/challenge.js
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/challenge-title.tsx
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/utils/challenge-types.js
  client/utils/gatsby/challenge-page-creator.js
  curriculum/schema/challengeSchema.js
Labels: status: waiting review, platform: api, platform: client

#44688 fix(curriculum): clarify instruction regarding color
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-090.md
Labels: scope: curriculum

#44701 docs: add FAQ about paths to being a moderator
  docs/FAQ.md
Labels: scope: docs

#44692 chore: create renaming script
  tools/challenge-helper-scripts/rename-challenge-files.js
Labels: scope: tools/scripts

#44195 feat(curriculum): add log with function call to challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.md
Labels: status: discussing, scope: curriculum

#44421 fix: get jquery from cdn
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.js
  curriculum/challenges/_meta/jquery/meta.json
  curriculum/test/test-challenges.js
Labels: scope: curriculum, platform: client, scope: i18n

#44707 fix(tools): update order for linting errors
  tools/challenge-helper-scripts/rename-challenge-files.js
Labels: scope: tools/scripts

#44439 chore(client): typescript migrate _mocks_/challenge-nodes.js
  client/src/__mocks__/challenge-nodes.ts
Labels: platform: client

#44512 fix(curriculum): add a function call to seed contents
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/apply-functional-programming-to-convert-strings-to-url-slugs.md
Labels: status: waiting review, scope: curriculum

#44704 fix(curriculum): possible typo and simplification
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-026.md
Labels: scope: curriculum

#44717 fix(curriculum): "locaton" changed to "location"
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-038.md
Labels: scope: curriculum

#44714 fix: prevent timeout errors
  client/src/templates/Challenges/utils/worker-executor.js
  client/src/templates/Challenges/utils/worker-executor.test.js
Labels: platform: client

#44699 fix: workflow run errors
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/crowdin-upload.docs.yml
Labels: scope: tools/scripts

#43744 fix(client): SASS - show error messages instead of timeout
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: platform: client

#44693 fix(curriculum): typos in BETA Balance Sheet section
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-034.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-046.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-050.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-051.md
Labels: status: waiting review, scope: curriculum

#44727 fix(curriculum): correct spelling error
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-037.md
Labels: scope: curriculum

#44542 fix: make gatsby id static for hot reloading
  client/plugins/fcc-source-challenges/create-challenge-nodes.js
  client/plugins/fcc-source-challenges/gatsby-node.js
Labels: status: waiting review, platform: client

#44729 fix(curriculum): typos in BETA Piano Build section
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/step-013.md
Labels: scope: curriculum

#44737 fix(curriculum): remove obnoxious, bloated library use
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
Labels: scope: curriculum

#44741 fix: more workflow tweaks
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.curriculum.yml
Labels: scope: tools/scripts

#44722 fix: keep challengeFile order on update
  client/src/templates/Challenges/redux/index.js
Labels: platform: client

#44728 fix: small lint fix in challenges functions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/refactor-global-variables-out-of-functions.md
Labels: scope: curriculum

#44742 chore(client): remove holiday donation banner
  client/i18n/locales/english/translations.json
  client/src/components/Intro/index.tsx
  client/src/components/layouts/global.css
  client/src/pages/learn.tsx
Labels: platform: client, scope: i18n

#44757 fix(curriculum): typo in cat photo app
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-046.md
Labels: scope: curriculum

#44749 feat: update footer January 22
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#44711 fix(curriculum): make english to i18n easier
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-026.md
Labels: scope: curriculum

#44768 Fix typo mentioned in issue #44761
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-047.md
Labels: scope: curriculum

#44766 fix(curriculum): add another element in test to ensure correct implementation of class
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-linked-list-class.md
Labels: scope: curriculum

#43041 feat(curriculum): add tests to anonymous-message-board
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
Labels: status: blocked, scope: curriculum

#44764 feat: increate minimum challenge requirement AB test
  client/i18n/locales/english/translations.json
  client/src/components/Donation/donation-text-components.tsx
  client/src/pages/donate.tsx
  client/src/redux/index.js
  config/donation-settings.js
  cypress/integration/learn/donate/donate-page-default.js
Labels: platform: client, scope: i18n, scope: tools/scripts

#44723 fix: stop injecting extra comments into preview
  client/src/templates/Challenges/rechallenge/builders.js
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: client

#44780 refactor: apply fixed from codefactor
  client/src/components/Header/components/universal-nav.css
  client/src/components/Intro/intro.css
  client/src/components/landing/landing.css
  client/src/templates/Challenges/components/tool-panel.css
  client/src/templates/Introduction/intro.css
  docs/_theme.css
Labels: scope: docs, platform: client

#44791 fix(curriculum): fix casing of Dense keyword in quiz
  curriculum/challenges/english/11-machine-learning-with-python/tensorflow/natural-language-processing-with-rnns-sentimental-analysis.md
Labels: scope: curriculum

#44770 feat: refactor the refactor challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/refactor-global-variables-out-of-functions.md
Labels: scope: curriculum

#44804 fix(curriculum): move img tag to editable region
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/step-024.md
Labels: scope: curriculum

#44799 fix(curriculum): improve wording
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-018.md
Labels: scope: curriculum, status: waiting update

#44812 fix(curriculum): remove redundant part of description
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/call-out-optional-actions-with-btn-info.md
Labels: status: waiting review, scope: curriculum

#44779 feat: upgrade to tailwind 3
  tools/ui-components/package-lock.json
  tools/ui-components/package.json
  tools/ui-components/tailwind.config.js
Labels: status: waiting review, scope: tools/scripts

#44574 chore: remove verify-can-claim-cert logic
  api-server/src/server/boot/certificate.js
  client/i18n/locales/english/translations.json
  client/src/redux/index.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/templates/Introduction/components/certification-card.tsx
  client/src/templates/Introduction/components/claim-cert-steps.tsx
  client/src/utils/ajax.ts
  cypress/integration/learn/challenges/projects.js
  cypress/integration/learn/responsive-web-design/show-cert-from-superblock.js
  cypress/plugins/index.js
  cypress/support/commands.js
Labels: status: waiting review, platform: api, platform: client, scope: i18n, scope: tools/scripts

#44815 fix(curriculum): wording
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-025.md
Labels: status: waiting review, scope: curriculum

#44786 fix: keyboard accessibility on curriculum map
  client/src/components/layouts/global.css
Labels: status: waiting review, scope: a11y, platform: client

#44823 fix(curriculum): correct typo In Step 075
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/step-075.md
Labels: status: waiting review, scope: curriculum

#44837 fix: typo in javascript-algorithms-and-data-structures > object-orien…
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/understand-own-properties.md
Labels: scope: curriculum

#44826 feat(tools): enable japanese download
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
Labels: scope: tools/scripts

#44822 fix: make sure a11y help widget is not obscured
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#44842 fix(curriculum): Typo in HTML Cat App step-036.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-036.md
Labels: status: waiting review, scope: curriculum

#44807 fix(curriculum): typo in step 10
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/step-010.md
Labels: status: waiting review, scope: curriculum

#44833 fix: handle missing document in preview frame
  client/src/templates/Challenges/utils/frame.js
Labels: platform: client

#44849 chore(docs): remove outdated info in cypress/gitpod
  docs/how-to-add-cypress-tests.md
Labels: scope: docs

#44847 chore: install tailwindcss in workspace
  package-lock.json
  tools/ui-components/package-lock.json
  tools/ui-components/package.json
Labels: status: waiting review, scope: tools/scripts

#44816 fix(curriculum): Improved instructions in rothko painting lesson
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-012.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-014.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-015.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-020.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-021.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-022.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-034.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-035.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-041.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-042.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-044.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-045.md
Labels: scope: curriculum

#44877 fix(curriculum): typo on step 43
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-043.md
Labels: scope: curriculum

#44868 docs: add learntocode RPG
  docs/how-to-translate-files.md
Labels: scope: docs

#44784 feat: JAWS 2022 bugfix for monaco editor
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, scope: a11y, platform: client

#44724 fix: handle the sorting of transformed files
  client/gatsby-node.js
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/redux/index.js
  client/utils/gatsby/challenge-page-creator.js
  curriculum/getChallenges.js
  curriculum/test/test-challenges.js
  utils/sort-challengefiles.js
Labels: platform: client, scope: tools/scripts

#44775 fix(curriculum): added test using a tree that is not a binary search tree
  curriculum/challenges/english/10-coding-interview-prep/data-structures/check-if-binary-search-tree.md
Labels: status: waiting review, scope: curriculum

#44800 fix(curriculum): update challenge tests to pass a valid solution
  curriculum/challenges/english/03-front-end-development-libraries/react/add-inline-styles-in-react.md
Labels: scope: curriculum

#44893 chore: migrate to nanoid 3
  api-server/package.json
  api-server/src/common/models/user.js
  package-lock.json
Labels: platform: api

#44911 fix: show-cert... Cypress tests
  client/src/components/settings/Certification.js
  cypress/integration/learn/responsive-web-design/show-cert-from-superblock.js
Labels: platform: client, scope: tools/scripts

#44917 fix(tools): update autoclose workflow
  .github/workflows/autoclose.yml
Labels: scope: tools/scripts

#44918 fix(client): include labels in editor tabs buttons
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/editor-tabs.tsx
Labels: platform: client

#44906 correcting typo adaquate = adequate
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-028.md
Labels: scope: curriculum

#44891 fix(curriculum): allow code on new lines for camper-cafe
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-002.md
Labels: scope: curriculum

#44913 fix(curriculum): correct tests for Firefox
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/step-008.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/step-014.md
Labels: status: waiting review, scope: curriculum

#44869 feat(learn, i18n): enable japanese certifications
  client/i18n/locales/japanese/links.json
  client/i18n/locales/japanese/meta-tags.json
  client/i18n/locales/japanese/motivation.json
  client/i18n/locales/japanese/trending.json
  client/src/utils/algolia-locale-setup.ts
  config/i18n/all-langs.ts
Labels: platform: client, scope: i18n

#44941 fix(curriculum): change typo "Searborn" to "Seaborn"
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer.md
Labels: status: waiting review, scope: curriculum

#44937 fix: prevent scroll jumping on /settings
  client/src/components/settings/Certification.js
  client/src/components/settings/certification.css
Labels: platform: client

#44949 fix(editor): remove MDN reference tool-tips
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client

#44971 Fixed Typo in step-028.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/step-028.md
Labels: scope: curriculum

#44959 fix(learn, i18n): fix help tags to create help post in Japanese subforum
  client/i18n/locales/japanese/links.json
Labels: platform: client, scope: i18n

#44829 fix(curriculum):RWD Beta Update doctype tests
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/step-001.md
Labels: scope: curriculum

#44839 fix(curriculum): typos in BETA City Skyline section
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/step-022.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/step-024.md
Labels: scope: curriculum

#44970 chore(tools): convert color-system to TypeScript
  tools/ui-components/src/color-system/color-system.stories.tsx
  tools/ui-components/src/color-system/color-system.tsx
  tools/ui-components/src/color-system/types.ts
  tools/ui-components/src/colors.css
  tools/ui-components/src/declarations.d.ts
Labels: scope: tools/scripts
