Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-03, with the labels that each got.

#45292 docs: bump mongodb version
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#45162 feat: create mobile curriculum data on build
  .gitignore
  tools/scripts/build/build-curriculum.js
  tools/scripts/build/build-mobile-curriculum.js
Labels: status: waiting review, scope: tools/scripts

#45291 fix(ui-components): make Alert not dismissable
  tools/ui-components/src/alert/alert.stories.tsx
  tools/ui-components/src/alert/alert.test.tsx
  tools/ui-components/src/alert/alert.tsx
  tools/ui-components/src/alert/index.ts
Labels: scope: tools/scripts

#45290 fix(curriculum): remove outdated text
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
Labels: status: waiting review, scope: curriculum

#45312 fix(curriculum): formatting on project euler 356
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-356-largest-roots-of-cubic-polynomials.md
Labels: status: waiting review, scope: curriculum

#45320 fix(curriculum): add comma to fix syntax in example
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
Labels: scope: curriculum

#45220 feat: display multifile projects
  api-server/src/server/boot/challenge.js
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/SolutionViewer/ProjectModal.tsx
  client/src/components/SolutionViewer/SolutionViewer.tsx
  client/src/components/profile/components/time-line.test.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/certification.js
  client/src/components/solution-display-widget/index.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/project-preview-modal.tsx
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/utils/__fixtures/completed-challenges.ts
  client/src/utils/solution-display-type.test.ts
  client/src/utils/solution-display-type.ts
  client/utils/gatsby/challenge-page-creator.js
  client/utils/test-utils.jsx
  utils/polyvinyl.js
Labels: status: waiting review, platform: api, platform: client, scope: i18n, scope: tools/scripts

#45318 docs: update the challenge helpers
  docs/how-to-work-on-practice-projects.md
Labels: scope: docs

#44794 fix(a11y): remove unnecessary link on course heading
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/intro.css
Labels: scope: a11y, platform: client

#45336 fix: skip untranslated files
  .github/workflows/crowdin-download.curriculum.yml
Labels: scope: tools/scripts

#45337 chore(docs): remove news theme docs
  docs/_sidebar.md
  docs/how-to-work-on-the-news-theme.md
Labels: scope: docs

#45169 feat: release rdbms to production
  api-server/src/server/boot/certificate.js
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-settings.tsx
  client/src/components/settings/webhook-token.tsx
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
  client/utils/build-challenges.js
  client/utils/challenge-types.js
  curriculum/challenges/english/13-relational-databases/build-a-number-guessing-game-project/build-a-number-guessing-game.md
  curriculum/challenges/english/13-relational-databases/build-a-periodic-table-database-project/build-a-periodic-table-database.md
  curriculum/challenges/english/13-relational-databases/learn-advanced-bash-by-building-a-kitty-ipsum-translator/build-a-kitty-ipsum-translator.md
  curriculum/challenges/english/13-relational-databases/learn-bash-and-sql-by-building-a-bike-rental-shop/build-a-bike-rental-shop.md
  curriculum/challenges/english/13-relational-databases/learn-bash-by-building-a-boilerplate/build-a-boilerplate.md
  curriculum/challenges/english/13-relational-databases/learn-bash-scripting-by-building-five-programs/build-five-programs.md
  curriculum/challenges/english/13-relational-databases/learn-git-by-building-an-sql-reference-object/build-an-sql-reference-object.md
  curriculum/challenges/english/13-relational-databases/learn-nano-by-building-a-castle/build-a-castle.md
  curriculum/challenges/english/13-relational-databases/learn-relational-databases-by-building-a-mario-database/build-a-mario-database.md
  curriculum/challenges/english/13-relational-databases/learn-sql-by-building-a-student-database-part-1/build-a-student-database-part-1.md
  curriculum/challenges/english/13-relational-databases/learn-sql-by-building-a-student-database-part-2/build-a-student-database-part-2.md
  curriculum/utils.js
  curriculum/utils.test.js
  cypress/integration/landing.js
  cypress/integration/learn/challenges/codeally.js
  cypress/integration/learn/common-components/webhookToken.js
  cypress/integration/learn/index.js
  tools/scripts/seed/seedAuthUser.js
Labels: scope: curriculum, platform: api, platform: client, scope: i18n, scope: tools/scripts

#45347 revert: release rdbms to production
  api-server/src/server/boot/certificate.js
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-settings.tsx
  client/src/components/settings/webhook-token.tsx
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
  client/utils/build-challenges.js
  client/utils/challenge-types.js
  curriculum/challenges/english/13-relational-databases/build-a-number-guessing-game-project/build-a-number-guessing-game.md
  curriculum/challenges/english/13-relational-databases/build-a-periodic-table-database-project/build-a-periodic-table-database.md
  curriculum/challenges/english/13-relational-databases/learn-advanced-bash-by-building-a-kitty-ipsum-translator/build-a-kitty-ipsum-translator.md
  curriculum/challenges/english/13-relational-databases/learn-bash-and-sql-by-building-a-bike-rental-shop/build-a-bike-rental-shop.md
  curriculum/challenges/english/13-relational-databases/learn-bash-by-building-a-boilerplate/build-a-boilerplate.md
  curriculum/challenges/english/13-relational-databases/learn-bash-scripting-by-building-five-programs/build-five-programs.md
  curriculum/challenges/english/13-relational-databases/learn-git-by-building-an-sql-reference-object/build-an-sql-reference-object.md
  curriculum/challenges/english/13-relational-databases/learn-nano-by-building-a-castle/build-a-castle.md
  curriculum/challenges/english/13-relational-databases/learn-relational-databases-by-building-a-mario-database/build-a-mario-database.md
  curriculum/challenges/english/13-relational-databases/learn-sql-by-building-a-student-database-part-1/build-a-student-database-part-1.md
  curriculum/challenges/english/13-relational-databases/learn-sql-by-building-a-student-database-part-2/build-a-student-database-part-2.md
  curriculum/utils.js
  curriculum/utils.test.js
  cypress/integration/landing.js
  cypress/integration/learn/challenges/codeally.js
  cypress/integration/learn/common-components/webhookToken.js
  cypress/integration/learn/index.js
  tools/scripts/seed/seedAuthUser.js
Labels: scope: curriculum, platform: api, platform: client, scope: i18n, scope: tools/scripts

#45349 fix: unrevert verbiage changes
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  curriculum/challenges/english/13-relational-databases/build-a-number-guessing-game-project/build-a-number-guessing-game.md
  curriculum/challenges/english/13-relational-databases/build-a-periodic-table-database-project/build-a-periodic-table-database.md
  curriculum/challenges/english/13-relational-databases/learn-advanced-bash-by-building-a-kitty-ipsum-translator/build-a-kitty-ipsum-translator.md
  curriculum/challenges/english/13-relational-databases/learn-bash-and-sql-by-building-a-bike-rental-shop/build-a-bike-rental-shop.md
  curriculum/challenges/english/13-relational-databases/learn-bash-by-building-a-boilerplate/build-a-boilerplate.md
  curriculum/challenges/english/13-relational-databases/learn-bash-scripting-by-building-five-programs/build-five-programs.md
  curriculum/challenges/english/13-relational-databases/learn-git-by-building-an-sql-reference-object/build-an-sql-reference-object.md
  curriculum/challenges/english/13-relational-databases/learn-nano-by-building-a-castle/build-a-castle.md
  curriculum/challenges/english/13-relational-databases/learn-relational-databases-by-building-a-mario-database/build-a-mario-database.md
  curriculum/challenges/english/13-relational-databases/learn-sql-by-building-a-student-database-part-1/build-a-student-database-part-1.md
  curriculum/challenges/english/13-relational-databases/learn-sql-by-building-a-student-database-part-2/build-a-student-database-part-2.md
  cypress/integration/learn/index.js
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#45360 fix:(RWD beta): correct parent selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61329b210dac0b08047fd6ab.md
Labels: status: waiting review, scope: curriculum

#45341 fix(curriculum): clarify unix value must be of type number (Timestamp Microservice)
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
Labels: status: waiting review, scope: curriculum

#45285 fix(tools): use correct superblock paths
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/fs-utils.test.ts
  tools/challenge-helper-scripts/fs-utils.ts
Labels: scope: tools/scripts

#45365 fix(ci/cd): chill-out on weekends
  .github/workflows/codesee-diagram.yml
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/crowdin-upload.docs.yml
Labels: scope: tools/scripts

#45366 feat: footer March
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#45386 feat(client): match .freecodecamp.org for submissions
  client/src/components/formHelpers/form-validators.tsx
Labels: platform: client

#45387 fix(i18n): correct wording
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: client, scope: i18n

#45388 fix(docs): move relevant text into the tab
  docs/how-to-setup-freecodecamp-locally.md
Labels: status: waiting review, scope: docs

#45375 fix: use an invalid TLD for the test URL
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
Labels: status: waiting review, scope: curriculum

#45242 fix(curriculum) : Make tests stricter for challenge "Decrement a number with javascript"
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/decrement-a-number-with-javascript.md
Labels: status: waiting review, scope: curriculum

#45393 feat: A/B testconfetti on block donation modal
  client/i18n/locales/english/translations.json
  client/package.json
  client/src/components/Donation/donation-modal.tsx
  client/src/redux/donation-saga.js
  client/src/utils/fire-confetti.ts
  package-lock.json
Labels: platform: client, scope: i18n

#45401 chore: update CI tests
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#45407 fix: use keys in curriculum.json
  client/utils/build-challenges.js
  curriculum/getChallenges.js
  curriculum/utils.js
  curriculum/utils.test.ts
  tools/scripts/build/build-mobile-curriculum.js
  tsconfig.json
Labels: platform: client, scope: tools/scripts

#45402 chore: changed article links in it footer
  client/i18n/locales/italian/trending.json
Labels: platform: client, scope: i18n

#45411 refactor: clean up tags tests
  cypress/integration/tags.js
Labels: scope: tools/scripts

#45385 fix: webhook process
  api-server/src/common/models/user.json
  api-server/src/server/boot/authentication.js
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/user.js
  api-server/src/server/middlewares/delete-user-token.js
  api-server/src/server/model-config.json
  api-server/src/server/models/user-token.json
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-settings.tsx
  client/src/components/Flash/redux/flash-messages.ts
  client/src/components/settings/user-token.css
  client/src/components/settings/user-token.tsx
  client/src/components/settings/webhook-delete-modal.tsx
  client/src/components/settings/webhook-token.tsx
  client/src/redux/action-types.js
  client/src/redux/codeally-saga.js
  client/src/redux/index.js
  client/src/redux/user-token-saga.js
  client/src/redux/webhook-saga.js
  client/src/templates/Challenges/codeally/show.tsx
  client/src/utils/ajax.ts
  client/src/utils/tone/index.ts
  cypress/integration/settings/user-token.js
  tools/scripts/seed/seedAuthUser.js
Labels: status: waiting review, platform: api, platform: client, scope: i18n, scope: tools/scripts

#45429 feat: encode user tokens
  api-server/src/server/boot/authentication.js
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/user.js
  api-server/src/server/middlewares/user-token.js
  client/src/redux/codeally-saga.js
  client/src/redux/user-token-saga.js
Labels: status: waiting review, platform: api, platform: client

#45346 feat: add database cert alert
  client/i18n/locales/english/intro.json
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/components/legacy-links.tsx
  client/src/utils/is-a-cert.ts
  client/src/utils/is-new-responsive-web-design-cert.ts
Labels: status: waiting review, platform: client, scope: i18n

#45369 fix(ui-components): correct the setup of tailwind default styles
  tools/ui-components/.storybook/preview.js
  tools/ui-components/package.json
  tools/ui-components/src/base.css
  tools/ui-components/src/button.css
  tools/ui-components/src/global.css
  tools/ui-components/src/index.ts
Labels: status: waiting review, scope: tools/scripts

#45440 fix: resolve lint error in paypal-button
  client/src/components/Donation/paypal-button.tsx
Labels: platform: client

#45435 fix: clean up donate-saga error
  client/i18n/locales/english/translations.json
  client/src/redux/donation-saga.js
Labels: platform: client, scope: i18n

#45439 feat(docs): add user token workflow
  docs/_sidebar.md
  docs/user-token-workflow.md
Labels: scope: docs

#45447 Chore: Typescript Migration for Index.js file
  client/src/components/helpers/index.ts
Labels: platform: client

#45354 feat: visual distinction between instructions and code
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: blocked, platform: client

#45451 fix(curriculum): removed repeated word in challenge
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/618a16d21bd3dad1bb3aa8ef.md
Labels: scope: curriculum

#45450 feat: add dark theme editor highlight color
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#45424 fix(curriculum): augment test for adding tracks property
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.md
Labels: status: waiting review, scope: curriculum

#45446 fix(curriculum): update meta naming inconsistencies
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/613297a923965e0703b64796.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61329b210dac0b08047fd6ab.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61329d52e5010e08d9b9d66b.md
Labels: status: waiting review, scope: curriculum

#45448 chore: fixed mistakes in the source string
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e7.md
Labels: scope: curriculum

#45460 fix(curriculum): add missing quotation marks
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/everything-be-true.md
Labels: scope: curriculum

#45457 fix(curriculum): error in asserting initial state of redux store
  curriculum/challenges/english/03-front-end-development-libraries/redux/write-a-counter-with-redux.md
Labels: scope: curriculum

#45442 chore: resolve flagged Crowdin issues
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/add-a-box-shadow-to-a-card-like-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-hue-of-a-color.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-graphic-using-css.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-bezier-curve-to-move-a-graphic.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-css-linear-gradient-to-create-a-striped-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-a-variable-for-a-specific-area.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/create-a-custom-css-variable.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/inherit-styles-from-the-body-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-styles-in-subsequent-css.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-a-media-query-to-change-a-variable.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-abbreviated-hex-code.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-hex-code-for-specific-colors.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/comment-out-html.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/align-elements-using-the-justify-content-property.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-wrap-property-to-wrap-a-row-or-column.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-css-grid-units-to-change-the-size-of-columns-and-rows.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/convert-celsius-to-fahrenheit.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/remove-items-using-splice.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-uninitialized-variables.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-doubly-linked-list.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-hash-table.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-map-data-structure.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-trie-search-tree.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-an-es6-javascript-map.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/implement-heap-sort-with-a-min-heap.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/incidence-matrix.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-subset-check-on-two-sets-of-data.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/perform-a-union-on-two-sets.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/reverse-a-doubly-linked-list.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-107-minimal-network.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-2-even-fibonacci-numbers.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-257-angular-bisectors.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-323-bitwise-or-operations-on-random-integers.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-371-licence-plates.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-438-integer-part-of-polynomial-equations-solutions.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-450-hypocycloid-and-lattice-points.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-473-phigital-number-base.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-64-odd-period-square-roots.md
  curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-9-special-pythagorean-triplet.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804db.md
Labels: scope: curriculum

#45428 feat: release rdbms as beta
  api-server/src/server/boot/certificate.js
  client/i18n/locales/english/intro.json
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
  client/src/templates/Introduction/components/legacy-links.tsx
  client/utils/build-challenges.js
  client/utils/challenge-types.js
  curriculum/utils.js
  curriculum/utils.test.ts
  cypress/integration/landing.js
  cypress/integration/learn/challenges/codeally.js
  cypress/integration/learn/index.js
Labels: platform: api, platform: client, scope: i18n, scope: tools/scripts

#45497 fix(curriculum): Change typo on step 76
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46fc57528aa1c4b5ea7c2e.md
Labels: status: waiting review, scope: curriculum

#45488 docs: add development guide for ui-components
  docs/_sidebar.md
  docs/how-to-work-on-the-component-library.md
Labels: scope: docs

#45494 fix(curriculum): allow spaces before brackets
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-bracket-notation-to-find-the-first-character-in-a-string.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-bracket-notation-to-find-the-nth-character-in-a-string.md
Labels: status: waiting review, scope: curriculum

#45499 feat: a/b test lock icon
  client/package.json
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation.css
  client/src/components/Donation/security-lock-icon.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/redux/donation-saga.js
  client/src/utils/fire-confetti.ts
  config/donation-settings.js
  package-lock.json
Labels: status: waiting review, platform: client

#45483 fix(curriculum): fix method listings to improve readability of description
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-an-es6-javascript-map.md
Labels: status: waiting review, scope: curriculum

#45370 feat: add block description to mobile curriculum
  curriculum/getChallenges.js
  tools/scripts/build/build-mobile-curriculum.js
  tools/scripts/build/mobile-curriculum.test.js
  tools/scripts/build/mobileSchema.js
Labels: status: waiting review, scope: tools/scripts

#45507 fix(tests): do not build mobile on i18n tests
  tools/scripts/build/build-curriculum.js
Labels: scope: tools/scripts

#45480 chore(ui-components): minor adjustments in Button component
  .eslintrc.json
  tools/ui-components/src/button/button.stories.tsx
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/button/types.ts
Labels: status: waiting review, scope: tools/scripts

#45509 fix(curriculum): update instructions on step 49
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e1.md
Labels: scope: curriculum

#45512 docs: consistent spelling in how to work on component library
  docs/how-to-work-on-the-component-library.md
Labels: scope: docs

#45525 fix: disable code folding when editable regions present
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#45517 fix(curriculum,i18n): issues in the source string
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb23e70dc218d6c85f89b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4d04b435f13ab6550053.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/7cf9b03d81a65668421804c3.md
Labels: scope: curriculum

#45558 fix: only test mobile curriculum on english
  tools/scripts/build/mobile-curriculum.test.js
Labels: scope: tools/scripts

#45564 chore(curriculum): Remove colors being used as keywords
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-hue-of-a-color.md
Labels: status: waiting review, scope: curriculum

#45560 fix(client): add loader for email sign up
  client/src/pages/email-sign-up.test.js
  client/src/pages/email-sign-up.tsx
Labels: platform: client

#45577 fix(curriculum): over-write -> overwrite
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-a-variable-for-a-specific-area.md
Labels: scope: curriculum

#45576 fix(curriculum): clear up confusion of array index example
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-array-data-with-indexes.md
Labels: scope: curriculum

#45399 feat(tools): add helpblock component
  tools/ui-components/src/helpblock/helpblock.stories.tsx
  tools/ui-components/src/helpblock/helpblock.test.tsx
  tools/ui-components/src/helpblock/helpblock.tsx
  tools/ui-components/src/helpblock/index.ts
  tools/ui-components/src/helpblock/types.ts
Labels: status: waiting review, scope: tools/scripts

#44700 feat: let users save cert project code to db
  api-server/src/common/models/user.js
  api-server/src/common/models/user.json
  api-server/src/common/utils/index.js
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/user.js
  api-server/src/server/middlewares/error-handlers.js
  api-server/src/server/utils/publicUserProps.js
  client/i18n/locales/english/translations.json
  client/src/components/Flash/redux/flash-messages.ts
  client/src/components/layouts/default.tsx
  client/src/components/profile/profile.test.tsx
  client/src/redux/action-types.js
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/save-challenge-saga.js
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/utils/build.js
  client/src/templates/Introduction/components/block.tsx
  client/src/utils/ajax.ts
  client/src/utils/challenge-request-helpers.ts
  client/src/utils/tone/index.ts
  cypress/integration/learn/responsive-web-design/intro-page.js
Labels: status: waiting review, platform: api, platform: client, scope: i18n, scope: tools/scripts

#45541 feat(ui-components): add info variant and hover state to Button component
  tools/ui-components/src/button/button.stories.tsx
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/button/types.ts
  tools/ui-components/src/colors.css
  tools/ui-components/tailwind.config.js
Labels: scope: tools/scripts
