Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2022-04, with the labels that each got.

#45593 fix: cypress
  cypress/integration/learn/challenges/backend.js
  cypress/integration/learn/challenges/codeally.js
  cypress/integration/settings/username-change.js
  cypress/support/commands.js
Labels: scope: tools/scripts

#45578 feat/create initial form control component
  tools/ui-components/src/colors.css
  tools/ui-components/src/form-control/form-control-feedback.tsx
  tools/ui-components/src/form-control/form-control-static.tsx
  tools/ui-components/src/form-control/form-control.stories.tsx
  tools/ui-components/src/form-control/form-control.test.tsx
  tools/ui-components/src/form-control/form-control.tsx
  tools/ui-components/src/form-control/index.ts
  tools/ui-components/src/form-control/types.ts
  tools/ui-components/tailwind.config.js
Labels: scope: tools/scripts

#45580 fix(curriculum): copy edit for grammar
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-links-navigable-with-html-access-keys.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.md
Labels: status: waiting review, scope: curriculum

#45601 chore(challenges-utils): Typescript migration of Challenges util postUpdate$.js
  client/src/redux/failed-updates-epic.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/utils/post-update.ts
  client/src/templates/Challenges/utils/postUpdate$.js
Labels: platform: client

#45406 fix: make crtl+s save to appropriate location
  client/i18n/locales/english/translations.json
  client/src/components/Flash/redux/flash-messages.ts
  client/src/redux/save-challenge-saga.js
  client/src/templates/Challenges/classic/editor.tsx
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: client, scope: i18n

#45603 fix(a11y): update light theme code example color contrast ratios
  client/src/components/layouts/prism.css
Labels: status: waiting review, scope: a11y, platform: client

#45624 chore(client): migrate i18n/configForTest.js to TS
  client/i18n/config-for-tests.ts
  client/i18n/configForTests.js
  client/src/components/app-mount-notifier.test.tsx
Labels: platform: client, scope: i18n

#45625 fix(curriculum): remove style note
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/access-array-data-with-indexes.md
Labels: status: waiting review, scope: curriculum

#45622 fix(curriculum,i18n): issues in the source string
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facf914c7b9b08d7510c2c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
Labels: status: waiting review, scope: curriculum

#45627 feat: change monaco shortcut
  client/src/templates/Challenges/classic/editor.tsx
  cypress/integration/learn/common-components/editor.js
Labels: platform: client, scope: tools/scripts

#45637 feat: add secure donation border to donation form
  client/i18n/locales/english/translations.json
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation.css
  client/src/components/Donation/stripe-card-form.tsx
  config/donation-settings.js
Labels: status: waiting review, platform: client, scope: i18n

#45640 fixed a typo in basic-node-and-express intro
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#45638 feat: update footer Apr 2022
  client/i18n/locales/english/trending.json
Labels: platform: client, scope: i18n

#45586 Chore: Added article links in italian footer
  client/i18n/locales/italian/trending.json
Labels: status: waiting update, platform: client, scope: i18n

#45645 fix: handle missing sound saga payloads
  client/src/redux/sound-mode-saga.js
Labels: platform: client

#45641 fix(curriculum): include note about counting spaces by .length property
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/find-the-length-of-a-string.md
Labels: scope: curriculum

#45653 fix(curriculum): adjusted hint img src
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537d86bdc3dd343688fceb.md
Labels: status: waiting review, scope: curriculum

#45568 chore: migrate instructions to learn
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/book-recommendation-engine-using-knn.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/linear-regression-health-costs-calculator.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/neural-network-sms-text-classifier.md
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/rock-paper-scissors.md
Labels: status: waiting review, scope: curriculum

#45677 fix(curriculum): improve the wording of a challenge
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614206033d366c090ca7dd42.md
Labels: scope: curriculum

#45672 fix: add message about third-party cookies
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/components/settings/user-token.tsx
  client/src/templates/Challenges/codeally/show.tsx
  cypress/integration/settings/user-token.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#45635 fix: fallback to english challenges
  .github/workflows/node.js-tests.yml
  client/utils/build-challenges.js
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript-rpg-game/step-129.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming-spreadsheet/step-063.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming-spreadsheet/step-122.md
  curriculum/dictionaries/english/comments.json
  curriculum/getChallenges.js
  curriculum/getChallenges.test.js
  curriculum/schema/challengeSchema.js
  curriculum/test/test-challenges.js
Labels: status: waiting review, scope: curriculum, platform: client, scope: tools/scripts

#45673 fix(learn): Change width for piano on step 28
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ebe7fe6d07e6b76d1cae2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ebedec97e096c8bf64999.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ebf9a210f2b6d77001e68.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ec0490ae8626e9adf82e4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ec19d5268da7074941f84.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612ec29c84b9a6718b1f5cec.md
Labels: status: waiting review, scope: curriculum

#43920 feat(tools): add sentry to client for error handling
  api-server/src/server/index.js
  api-server/src/server/middlewares/sentry-error-handler.js
  api-server/src/server/middlewares/sentry-request-handler.js
  client/gatsby-config.js
  client/package.json
  client/src/utils/report-error.ts
  config/read-env.js
  config/secrets.js
  package-lock.json
  sample.env
  tools/scripts/build/ensure-env.ts
Labels: status: waiting review, platform: api, platform: client, scope: tools/scripts, hacktoberfest-accepted

#45602 Updates find the length of a string challenge instructions per issue #45486
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/find-the-length-of-a-string.md
Labels: status: waiting review, scope: curriculum

#45665 feat(ui-components): add states and full-width support to Button component
  tools/ui-components/src/button/button.css
  tools/ui-components/src/button/button.stories.tsx
  tools/ui-components/src/button/button.test.tsx
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/button/types.ts
  tools/ui-components/src/colors.css
  tools/ui-components/tailwind.config.js
Labels: status: waiting review, scope: tools/scripts

#45714 fix: change sentence for correct backticks usage
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f59029474c0d3dc1c8b8.md
Labels: scope: curriculum

#45713 chore: typescript migration of components/settings/Honesty.test.js
  client/src/components/settings/Honesty.test.tsx
  client/src/components/settings/__snapshots__/Honesty.test.tsx.snap
Labels: platform: client

#45716 fix: wcag contrast issue on search icon
  client/src/components/Intro/intro.css
  client/src/components/layouts/global.css
Labels: platform: client

#45706 feat/add props form control
  tools/ui-components/src/form-control/form-control.stories.tsx
  tools/ui-components/src/form-control/form-control.tsx
  tools/ui-components/src/form-control/types.ts
Labels: scope: tools/scripts

#45579 fix(a11y): beta RWD feedback for code check
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, scope: a11y, platform: client

#45723 fix: create config files before linting
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/build.js
  package.json
Labels: status: waiting review, platform: client

#45730 fix: remove alt text from icons
  client/i18n/locales/english/translations.json
  client/src/assets/icons/API-icon.tsx
  client/src/assets/icons/D3-icon.tsx
  client/src/assets/icons/Database-icon.tsx
  client/src/assets/icons/JavaScript-icon.tsx
  client/src/assets/icons/React-icon.tsx
  client/src/assets/icons/Tensorflow-icon.tsx
  client/src/assets/icons/algorithm.tsx
  client/src/assets/icons/analytics.tsx
  client/src/assets/icons/clipboard.tsx
  client/src/assets/icons/python-icon.tsx
  client/src/assets/icons/responsive-design.tsx
  client/src/assets/icons/shield.tsx
  client/src/components/Map/__snapshots__/map.test.tsx.snap
Labels: status: waiting review, platform: client, scope: i18n

#45726 chore: migrate client/components/formHelpers/Form.test.js to TS
  client/src/components/formHelpers/form.test.tsx
  client/src/components/formHelpers/form.tsx
Labels: status: waiting review, platform: client

#45732 fix(curriculum): correct reg-form instruction
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5c3e399ff1a05629964e4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5cb8875ab6a0610f05071.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5d2776c854e069560fbe6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5dc35c07ac1078f140916.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f803d5241e6a0433a523a1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f805f813eaf2049bc2ceea.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f80e0081e0f2052ae5b505.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f81167d0d4910809f88945.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f81616cff80508badf9ad5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f83e7bfc09900959f41e20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f84ec41116b209c280ba91.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f852f645b5310a8264f555.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f85a62fb30c80bcea0cedb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8604682407e0d017bbf7f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f8618d191b940d62038513.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab4a123ce4b04526b082b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab8367d35de04e5cb7929.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab9f17fa294054b74228c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fabf0dd4959805dbae09e6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac4095512d3066053d73c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac8d7fdfaee0796934f20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60faca286cb48b07f6482970.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facde2d0dc61085b41063f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60facf914c7b9b08d7510c2c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad0a812d9890938524f50.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad6dfcc0d930a59becf12.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad8e6148f310bba7890b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad99e09f9d30c1657e790.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadb18058e950c73925279.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadce90f85c50d0bb0dd4f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadd972e6ffe0d6858fa2d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fadfa2b540b70dcfa8b771.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc219d333e37046f474a6e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc22d1e64d1b04cdd4e602.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fc236dc04532052926fdac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe1bc30415f042faea936.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe3936796ac04959285a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe4f4ec18cd04dc470c56.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe69ee377c6055e192a46.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe7d8aae62c05bcc9e7eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe8a5ceb0e90618db06d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe947a868ec068f7850f6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffe9cb47809106eda2f2c9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffec2825da1007509ddd06.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffecefac971607ae73c60f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60ffefd6479a3d084fb77cbc.md
Labels: scope: curriculum

#45735 fix: remove Coding Interview Prep from audited uk certs
  config/i18n/all-langs.ts
Labels: status: waiting review, scope: i18n

#45737 fix(curriculum): change description and instructions to correct project
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/rock-paper-scissors.md
Labels: status: waiting review, scope: curriculum

#45727 fix(learn): update tests round in Fib Word challenge
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/fibonacci-word.md
Labels: status: waiting review, scope: curriculum

#45746 fix(curriculum): test to check the ".canvas" selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6997f.md
Labels: status: waiting review, scope: curriculum

#45747 fix(curriculum): ”bold“should it be cited
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201782cc420715562f36271.md
Labels: status: waiting review, scope: curriculum

#45750 feat(i18n,esp):quality assurance cert fully translated and proofread
  config/i18n/all-langs.ts
Labels: scope: i18n

#45671 feat(ui-components): add support for link to Button component
  tools/ui-components/src/button/button.stories.tsx
  tools/ui-components/src/button/button.test.tsx
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/button/types.ts
Labels: status: waiting update, scope: tools/scripts

#45748 fix(curriculum): allow spaces before opening parenthesis in .log call
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/use-typeof-to-check-the-type-of-a-variable.md
Labels: status: waiting review, scope: curriculum

#45768 fix: correct usage of element and tag in cafe menu project (step 2)
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3313e74582ad9d063e3a38.md
Labels: status: waiting review, scope: curriculum

#45776 docs: update the security policy
  docs/security.md
Labels: scope: docs

#45777 fix(curriculum): change alt text in example to match the image
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.md
Labels: scope: curriculum

#45775 feat: add security.txt file
  client/static/security.txt
Labels: platform: client

#45587 feat: enable RWD on i18n
  client/src/resources/cert-and-project-map.ts
  curriculum/getChallenges.js
  curriculum/utils.js
  curriculum/utils.test.ts
Labels: status: waiting review, platform: client

#45781 docs: update the security policy
  docs/security.md
Labels: scope: docs

#45786 fix: allow sentryClientDSN to be null
  tools/scripts/build/ensure-env.ts
Labels: scope: tools/scripts

#45789 fix(curriculum): typo of through instead of though
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb2c990dc218d6c85f89b2.md
Labels: status: waiting review, scope: curriculum

#45799 fix(tests): windows pathing
  tools/challenge-helper-scripts/helpers/get-project-info.test.ts
  tools/challenge-helper-scripts/helpers/get-project-info.ts
  tools/challenge-helper-scripts/helpers/project-metadata.test.ts
Labels: scope: tools/scripts

#45798 add sign in instruction and a clearing cookies warning
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#45782 chore: a couple more places to update security policy
  .github/ISSUE_TEMPLATE/01--issues-with-coding-challenges.md
  .github/ISSUE_TEMPLATE/02--issues-with-software-on-platforms.md
  docs/FAQ.md
Labels: status: waiting review, scope: docs, scope: tools/scripts

#45804 fix(test): remove build from mobile curriculum test
  tools/scripts/build/mobile-curriculum.test.js
Labels: scope: tools/scripts

#45820 fix(curriculum): add missing backtick to hint text
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f7de4487b64919bb4aa5e.md
Labels: status: waiting review, scope: curriculum
