Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-02, with the labels that each got.

#49218 fix: allow cypress 3rd party TS config files
  .github/workflows/e2e-third-party.yml
Labels: scope: tools/scripts

#49213 chore: migrate sass test to TypeScript
  cypress/e2e/default/learn/challenges/sass.ts
Labels: scope: tools/scripts

#49161 fix(curriculum): Changed verbiage of the cat photo app lesson step 56.
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc4f528d6a74d05e68af74.md
Labels: status: waiting review, scope: curriculum

#49223 fix(curriculum): nest package versions in code blocks
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-caret-character-to-use-the-latest-minor-version-of-a-dependency.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency.md
Labels: status: waiting review, scope: curriculum

#49219 fix: validate upcoming changes better
  curriculum/challenges/_meta/build-a-caesars-cipher-project/meta.json
  curriculum/challenges/_meta/build-a-cash-register-project/meta.json
  curriculum/challenges/_meta/build-a-palindrome-checker-project/meta.json
  curriculum/challenges/_meta/build-a-roman-numeral-converter-project/meta.json
  curriculum/challenges/_meta/build-a-telephone-number-validator-project/meta.json
  curriculum/getChallenges.js
Labels: scope: curriculum, scope: i18n

#49228 fix(client): move console in multi-file editor
  client/src/templates/Challenges/classic/desktop-layout.tsx
Labels: platform: client

#49210 feat(client): make the console RTL
  client/src/components/layouts/rtl-layout.css
Labels: platform: client, status: waiting triage

#49157 fix(client): cert project help post sans editable region
  client/src/templates/Challenges/redux/create-question-epic.js
  client/src/templates/Challenges/redux/create-question-epic.test.js
Labels: platform: client

#49242 fix(client): handle edits without editable region
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: client

#48451 fix(UI): keep portal preview open
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/Hotkeys.tsx
  client/src/templates/Challenges/components/preview-portal.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/redux/selectors.js
  client/utils/gatsby/challenge-page-creator.js
Labels: status: waiting review, platform: client

#49259 refactor(tools): fix selector type error in the footer.ts
  cypress/e2e/default/learn/common-components/footer.ts
Labels: status: waiting review, scope: tools/scripts

#49250 fix(curriculum): make step 43 of learn typography project easier to read
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f6b2d164f81809efd9bdc.md
Labels: status: waiting review, scope: curriculum

#49286 fix(curriculum): renaming tabs for uniformity in responsive design
  client/src/templates/Challenges/classic/mobile-layout.tsx
Labels: status: waiting review, platform: client

#49290 chore: remove info key
  client/i18n/locales/english/translations.json
Labels: platform: client, scope: i18n

#49202 feat: transfer The Odin Project to its own superblock
  client/i18n/locales/english/intro.json
  client/src/assets/icons/index.tsx
  client/src/assets/icons/viking-helmet.tsx
  client/src/pages/learn/the-odin-project/index.md
  client/src/pages/learn/the-odin-project/top-build-a-recipe-page-project/index.md
  client/src/pages/learn/the-odin-project/top-learn-html-foundations/index.md
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/superblock-map-titles.ts
  client/utils/help-category-map.json
  config/certification-settings.ts
  config/superblock-order.test.ts
  config/superblock-order.ts
  curriculum/challenges/_meta/top-build-a-recipe-project/meta.json
  curriculum/challenges/_meta/top-learn-html-foundations/meta.json
  curriculum/challenges/english/16-the-odin-project/top-build-a-recipe-project/top-build-a-recipe-project.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/elements-and-tags-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/elements-and-tags-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-h.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/understand-ordered-and-unordered-list-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/understand-ordered-and-unordered-list-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/understand-ordered-and-unordered-list-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-g.md
  curriculum/utils.js
  curriculum/utils.test.ts
  tools/challenge-auditor/index.ts
  tools/challenge-editor/api/configs/super-block-list.ts
  tools/challenge-helper-scripts/fs-utils.ts
  tools/scripts/build/build-external-curricula-data.test.ts
Labels: status: waiting review, scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#49251 fix(curriculum): make step 16 of learn accessibility project easier to read
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614202874ca576084fca625f.md
Labels: status: waiting review, scope: curriculum

#49289 feat(client): turn default layout to a functional component
  client/src/components/layouts/default.tsx
Labels: status: waiting review, platform: client

#49240 fix(curriculum): soften regex test ad-node
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-iii.md
Labels: status: waiting review, scope: curriculum

#49275 fix(curriculum): delete repeated sentence on data visualization with D3 project
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/change-styles-based-on-data.md
Labels: status: waiting review, scope: curriculum

#49298 feat: enable mobile auth endpoints (#49298
  api-server/package.json
  api-server/src/common/models/user.js
  api-server/src/server/boot/authentication.js
  api-server/src/server/middleware.json
  api-server/src/server/middlewares/rate-limit.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/middleware.js
  package-lock.json
Labels: platform: api

#49296 fix(curriculum): fix bad use of comma in d3 course "add a tooltip to a d3 element step"
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3-element.md
Labels: status: waiting review, scope: curriculum

#49299 fix(curriculum): better order of tests for Nutrition Step 33
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f5486b8fd4b71633f69b0.md
Labels: status: waiting review, scope: curriculum

#49003 refactor(client): cleanup honesty policy section
  client/i18n/locales/english/translations.json
  client/src/components/settings/__snapshots__/Honesty.test.tsx.snap
  client/src/components/settings/honesty.css
  client/src/components/settings/honesty.tsx
  client/src/resources/honesty-policy.tsx
  cypress/e2e/default/settings/certifications.ts
  cypress/support/commands.ts
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#49320 chore: rename redux actions
  client/gatsby-browser.js
  client/gatsby-ssr.js
  client/src/components/Intro/intro.test.tsx
  client/src/components/app-mount-notifier.test.tsx
  client/src/components/profile/components/time-line.test.tsx
  client/src/components/profile/components/timeline-buttons.test.js
  client/src/components/settings/certification.test.tsx
  client/src/redux/cookie-values.js
  client/src/redux/create-store.js
  client/src/redux/fetch-user-saga.js
  client/src/redux/root-epic.js
  client/src/redux/root-reducer.js
  client/src/redux/root-saga.js
  client/utils/gatsby/layout-selector.test.tsx
Labels: status: waiting review, platform: client

#49319 chore: rename icons
  client/src/assets/icons/api.tsx
  client/src/assets/icons/certification.tsx
  client/src/assets/icons/d3.tsx
  client/src/assets/icons/database.tsx
  client/src/assets/icons/freecodecamp.tsx
  client/src/assets/icons/index.tsx
  client/src/assets/icons/input-reset.tsx
  client/src/assets/icons/javascript.tsx
  client/src/assets/icons/magnifier.tsx
  client/src/assets/icons/python.tsx
  client/src/assets/icons/react.tsx
  client/src/assets/icons/tensorflow.tsx
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Header/components/nav-logo.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/search/searchBar/search-bar-optimized.tsx
Labels: status: waiting review, platform: client

#49318 chore: rename mockfiles in jest config
  client/src/__mocks__/file-mock.ts
  client/src/__mocks__/style-mock.ts
  jest.config.js
Labels: status: waiting review, platform: client

#49194 fix(api): update mobile-auth ratelimit config
  api-server/src/server/middlewares/rate-limit.js
Labels: status: waiting review, platform: api

#49308 feat(client): pull percentage challenge data from redux
  client/src/components/layouts/default.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  client/src/templates/Challenges/components/completion-modal.tsx
Labels: status: waiting review, platform: client

#48696 fix(client): add type to warn misuse of attributes in formControl
  tools/ui-components/src/form-control/types.ts
Labels: status: waiting review, scope: tools/scripts

#49333 chore: rename curriculum tooling
  curriculum/test/test-challenges.js
  curriculum/test/utils/challenge-titles.js
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review

#49155 refactor(client): turn image validation component into subComponent
  client/src/components/settings/about.tsx
Labels: status: waiting review, platform: client

#49332 chore: rename e2e tests
  cypress/e2e/default/show-certification.js
Labels: status: waiting review, scope: tools/scripts

#49337 Chore : Migrate universal-navigation.js
  config/i18n.ts
  cypress/e2e/default/learn/header/universal-navigation.ts
Labels: scope: tools/scripts

#49322 chore(curriculum) : Added backticks and class reference to bar word
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
Labels: status: waiting review, scope: curriculum

#49334 fix(curriculum): remove attributes from Building a registration Form
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
Labels: scope: curriculum

#49349 fix(curriculum): nutrition label step 53 instruction
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f7de4487b64919bb4aa5e.md
Labels: scope: curriculum

#49328 fix: update github actions trigger configs
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: status: waiting review, scope: tools/scripts

#49230 feat(tools): sentry apm and other telemetry
  api-server/package.json
  api-server/src/server/index.js
  package-lock.json
Labels: platform: api

#49365 refactor: fix hidden eslint errors
  client/i18n/schema-validation.ts
  client/src/components/SolutionViewer/SolutionViewer.tsx
  client/src/components/helpers/full-width-row.tsx
  client/src/components/seo/index.tsx
  client/src/components/solution-display-widget/index.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/rechallenge/builders.ts
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Challenges/utils/frame.ts
  client/src/templates/Challenges/utils/index.ts
  client/src/utils/ajax.ts
  client/src/utils/challenge-request-helpers.ts
  client/src/utils/report-error.ts
  client/src/utils/solution-display-type.ts
  client/src/utils/superblock-map-titles.ts
  config/donation-settings.ts
  config/i18n.ts
  config/superblock-order.ts
  tools/challenge-editor/api/routes/block-route.ts
  tools/challenge-editor/api/routes/index-route.ts
  tools/challenge-editor/api/routes/save-route.ts
  tools/challenge-editor/api/routes/step-route.ts
  tools/challenge-editor/api/routes/super-block-route.ts
  tools/challenge-editor/api/routes/tools-route.ts
  tools/challenge-editor/api/utils/get-blocks.ts
  tools/challenge-editor/api/utils/get-step-contents.ts
  tools/challenge-editor/api/utils/get-steps.ts
  tools/challenge-editor/api/utils/save-step.ts
  tools/challenge-helper-scripts/commands.ts
  tools/challenge-helper-scripts/utils.ts
  tools/scripts/build/schema/trending-schema.ts
  tools/ui-components/src/color-system/color-system.stories.tsx
  tools/ui-components/src/color-system/color-system.tsx
  tools/ui-components/src/form-control/form-control-feedback.tsx
  tools/ui-components/src/form-control/form-control-static.tsx
  tools/ui-components/utils/gen-component-script.ts
  tools/ui-components/utils/gen-component-template.ts
  utils/get-lines.ts
  utils/index.ts
  utils/validate.ts
Labels: platform: client, scope: i18n, scope: tools/scripts

#49366 chore(curriculum): added code tags in links and images questions of the odin project
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-h.md
Labels: scope: curriculum

#49217 refactor(client): delete block save wrapper
  client/src/components/formHelpers/__snapshots__/block-save-wrapper.test.tsx.snap
  client/src/components/formHelpers/block-save-wrapper.test.tsx
  client/src/components/formHelpers/block-save-wrapper.tsx
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form.tsx
  client/src/components/formHelpers/index.tsx
  client/src/templates/Challenges/projects/tool-panel.tsx
Labels: status: waiting review, platform: client

#49358 fix(curriculum): Fix awkward phrasing
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings.md
Labels: scope: curriculum

#49374 chore: remove crowdin scripts
  .github/labeler.yml
  package-lock.json
  package.json
  tools/crowdin/actions/convert-chinese/action.yml
  tools/crowdin/actions/convert-chinese/index.js
  tools/crowdin/actions/hide-non-translated-strings/action.yml
  tools/crowdin/actions/hide-non-translated-strings/index.js
  tools/crowdin/actions/hide-specific-string/action.yml
  tools/crowdin/actions/hide-specific-string/index.js
  tools/crowdin/actions/pr-creator/action.yml
  tools/crowdin/actions/pr-creator/index.js
  tools/crowdin/actions/remove-deleted-files/action.yml
  tools/crowdin/actions/remove-deleted-files/index.js
  tools/crowdin/actions/unhide-specific-string/action.yml
  tools/crowdin/actions/unhide-specific-string/index.js
  tools/crowdin/one-off-scripts/delete-all-translations-for-a-language.js
  tools/crowdin/one-off-scripts/mark-translated-strings-as-done.js
  tools/crowdin/package.json
  tools/crowdin/sample.env
  tools/crowdin/utils/auth-header.js
  tools/crowdin/utils/delay.js
  tools/crowdin/utils/dirs.js
  tools/crowdin/utils/files.js
  tools/crowdin/utils/get-languages.js
  tools/crowdin/utils/make-request.js
  tools/crowdin/utils/strings.js
Labels: scope: i18n, scope: tools/scripts

#49383 revert(tools): sentry apm and other telemetry
  api-server/package.json
  api-server/src/server/index.js
  package-lock.json
Labels: platform: api

#49372 fix(client): console height in multi-file editor
  client/src/templates/Challenges/classic/desktop-layout.tsx
Labels: status: waiting review, platform: client

#49409 fix(client): site crashing when leaving rdb challenge
  client/src/components/layouts/default.tsx
  client/src/templates/Challenges/codeally/show.tsx
Labels: platform: client

#49276 refactor(client): clean extra code in donate form
  client/src/components/Donation/donate-form.tsx
Labels: status: waiting review, platform: client

#49410 fix(curriculum): test to check for body element
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/61967e74a8e3690ab6292daa.md
Labels: scope: curriculum

#49415 fix(curriculum): remove instruction about run button click
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/understanding-boolean-values.md
Labels: scope: curriculum

#49404 fix(client): misaligned buttons in the RWD certification
  client/src/templates/Challenges/codeally/codeally.css
  client/src/templates/Challenges/codeally/show.tsx
Labels: status: waiting review, platform: client

#49417 fix(curriculum): add test cases to ensure single whitespace
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/reuse-patterns-using-capture-groups.md
Labels: status: waiting review, scope: curriculum

#49424 chore(docs): updated the description of `npm run seed` in the how-to-setup-freecodecamp-locally page
  docs/how-to-setup-freecodecamp-locally.md
Labels: status: waiting review, scope: docs

#49235 refactor(tools): import close button props and stop reassigning its value
  tools/ui-components/src/close-button/close-button.tsx
  tools/ui-components/src/close-button/index.tsx
Labels: status: waiting review, scope: tools/scripts

#49009 fix(learn): Improved the verbiage of the colored marker project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61695c4aad56f95497c19583.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616965351e74d4689eb6de30.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61696ef7ac756c829f9e4048.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d3a67ccf800ad94ec89ae.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d47bc9eedc4bc7f621bec.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d50b93ba424d6282c99cf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61764c602bee6974e7790f35.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61764fdda535587e1fefb3aa.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/617bd6ec666b1da2587e4e37.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/618a00ed1ca871a2b3aca0cb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/618a0b2befb143baefab632b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/618a1275e873dcc803c2d1aa.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/618a132676346ac9f7fd59dd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/618a16873520a8d088ffdf44.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/619b72a0db211f1c29afb906.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/619b7396e57b771f903be90d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/619b74fa777a2b2473c94f82.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/619b761916dac02643940022.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/619b7c3c83de403126b69c1e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/619b7fd56aa2253778bcf5f7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61a5d7ef1cfcf45764df07a2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61b093329e7fc020b43b1bb5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61b0a44a6b865738ba49b9fb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61b31287fb580ae75a486047.md
Labels: status: waiting review, scope: curriculum

#49343 fix(client): pre code having extra spaces when code elements are stacked
  client/src/components/layouts/rtl-layout.css
Labels: status: waiting review, platform: client

#49384 fix(curriculum): replace blockquotes with pre blocks
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/finding-a-remainder-in-javascript.md
Labels: status: waiting review, scope: curriculum

#49419 fix(curriculum): update user function to user object
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/serialization-of-a-user-object.md
Labels: status: waiting review, scope: curriculum

#49216 feat(client): change the save buttons from disabled to aria-disabled
  client/src/components/helpers/toggle-button.css
  client/src/components/settings/about.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/honesty.css
  client/src/components/settings/internet.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/privacy.tsx
  client/src/components/settings/username.tsx
  cypress/e2e/default/settings/username-change.ts
Labels: status: waiting review, platform: client, scope: tools/scripts

#49427 feat(tools): revert the quick solution in cypress tests
  cypress/e2e/default/learn/challenges/backend.ts
  cypress/e2e/default/learn/challenges/codeally.ts
  cypress/e2e/default/settings/username-change.ts
Labels: status: waiting review, scope: tools/scripts

#49148 feat(client): make portfolio section in profile support RTL layout
  client/src/components/layouts/rtl-layout.css
  client/src/components/profile/components/portfolio.tsx
Labels: status: waiting review, platform: client

#49352 Chore migrate es6-to-basic-javascript.js
  cypress/e2e/default/learn/redirects/es6-to-basic-javascript.ts
  cypress/tsconfig.json
Labels: status: waiting review, scope: tools/scripts

#49431 feat(client) make pre in instruction ltr when the layout is rtl
  client/src/components/layouts/rtl-layout.css
Labels: status: waiting review, platform: client

#49433 fix(curriculum):removed "non-virtual" phrase
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-scatterplot-graph.md
  curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-treemap-diagram.md
Labels: scope: curriculum

#49381 feat(client): move the block donation modal logic to an epic.
  client/src/components/Donation/donation-modal.tsx
  client/src/templates/Challenges/components/completion-modal.test.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/selectors.js
  client/src/utils/get-completion-percentage.ts
Labels: status: waiting review, platform: client

#49391 refactor(client): clean extra component and extra unneeded imports
  client/src/components/formHelpers/block-save-button.tsx
  client/src/components/formHelpers/form.test.tsx
  client/src/components/formHelpers/form.tsx
  client/src/components/formHelpers/index.tsx
  client/src/components/helpers/form/__snapshots__/block-save-button.test.tsx.snap
  client/src/components/helpers/form/block-save-button.test.tsx
  client/src/components/helpers/form/block-save-button.tsx
  client/src/templates/Challenges/projects/solution-form.tsx
Labels: status: waiting review, platform: client

#49436 fix(curriculum): remove target attribute seed code [cat-photo-app step-13]
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/62dabe2ef403a12d5d295273.md
Labels: status: waiting review, scope: curriculum

#49443 fix(sentry): disable sentry temporarily
  api-server/src/server/index.js
  api-server/src/server/middleware.json
Labels: platform: api

#49439 feat(client): make skip to content button translatable
  client/i18n/locales/english/translations.json
  client/src/components/Header/index.tsx
  client/src/components/layouts/default.tsx
Labels: status: waiting review, platform: client, scope: i18n

#49451 Chore: Convert show-certification.js to Typescript.
  cypress/e2e/default/show-certification.ts
Labels: scope: tools/scripts

#49450 chore: convert heading-challenge.js to typescript
  cypress/e2e/default/learn/redirects/heading-challenge.ts
Labels: scope: tools/scripts

#49448 fix(client): submit button size for external projects
  client/src/components/helpers/form/__snapshots__/block-save-button.test.tsx.snap
  client/src/components/helpers/form/block-save-button.tsx
  client/src/components/settings/about.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/internet.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/username.tsx
Labels: status: waiting review, platform: client

#49452 fix(curriculum): fix Fibonacci sequence text
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers.md
Labels: status: waiting review, scope: curriculum

#49380 fix: optional video ids the odin project
  client/src/templates/Challenges/odin/Show.tsx
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/elements-and-tags-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/introduction-to-html-css-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/links-and-images-question-h.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/understand-ordered-and-unordered-list-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/understand-ordered-and-unordered-list-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/working-with-text-question-g.md
Labels: status: waiting review, scope: curriculum, platform: client

#49067 fix: remove unused className spacer from spacer helper
  client/src/components/helpers/spacer.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/settings/__snapshots__/settings-button.test.js.snap
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
Labels: status: waiting review, platform: client

#49458 fix(client): provide return types for get-completion-percentage
  client/src/templates/Challenges/redux/selectors.js
  client/src/utils/get-completion-percentage.ts
Labels: platform: client

#49291 refactor(client): fix types in the nav-links file
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Header/index.tsx
Labels: platform: client

#49468 refactor(client): remove react lazy loader library
  client/package.json
  client/src/components/helpers/image-loader.tsx
  client/src/components/helpers/index.ts
  client/src/components/helpers/lazy-image.tsx
  client/src/components/landing/components/campers-image.tsx
  client/src/components/landing/components/testimonials.tsx
  client/src/declarations.d.ts
  package-lock.json
Labels: status: waiting review, platform: client

#49461 fix: update `absolutePath` variable value
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/serve-an-html-file.md
Labels: scope: curriculum

#49473 refactor: clean up errors + unused code
  api/db/index.ts
  api/routes/auth0.ts
  api/routes/test.ts
Labels: platform: api

#49476 refactor(client): stop the homepage image from changing the layout
  client/src/components/landing/components/campers-image.tsx
  client/src/components/landing/landing.css
Labels: status: waiting review, platform: client

#49474 refactor(client): default `challengeFiles` to array
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: status: waiting review, platform: client

#49406 refactor(api): user token db query
  api-server/src/server/boot/user.js
Labels: platform: api

#49426 fix(curriculum): remove grammatical mistakes
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value.md
Labels: status: blocked, scope: curriculum

#49169 fix(curriculum): worked on early feedbacks for js role playing game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/5d5a813321b9e3db6c106a46.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a240c67f3dbb1a1e6d95ee.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a24190868ca51c0b6e83c7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a255dae245b52317da824a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a257659d0d1e2456f24ba2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3a488b24fb32b91155d56.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3b506dbaead396f58a701.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3b79d520a7f3d0e25afd6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3c0ab883fd9435cd5c518.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3c2fccf186146b59c6e96.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7beb1ad61211ac153707f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7bf06d2ad9d1c5024e833.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7c071219da921758a35bb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8a9d876b2580943ba9351.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8ab0e27cbaf0b54ba8a42.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b1762b7775124622e1a3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b3cc436db8139cc5fc09.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b6536156c51500739b41.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b711ab7a12161c7d9b67.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c151b23bf21bc7c4fcba.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c465fa7b0c252f4a8f0c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c5db7888af27af23f0dd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c8cee8e5cf2e001789b4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8cce1b0c32c33017cf2e9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d0337d7c67377a4a76c6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d143f2a58e3b6d6e9c33.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d1c72e8bb13c2074d93c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d24c97461b3ddb9397c8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8dfcf7fb1044d2f478fd1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8e21398ad61520edb724f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8e271f8e3d1541f9624ad.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8e4dc6a60f85bf256a0cb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8ee154c8946678775c4a4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8eff21c0b0f6ebe5b8e38.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8f06fb318666fef69f91e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8f14fe6d1fc72454648c7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8f256b813a476cae51f49.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa1fed3d4e873366ff3131.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa20e9cf1be9358f5aceae.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa21971e3b743844849985.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62fc211760bfc220f4734800.md
Labels: scope: curriculum, status: waiting update

#49378 feat(next-api): basic authentication setup
  api/index.ts
  api/middleware/index.ts
  api/package.json
  api/plugins/fastify-jwt-authz.test.ts
  api/plugins/fastify-jwt-authz.ts
  api/routes/test.ts
  api/tsconfig.json
  package-lock.json
  sample.env
Labels: status: waiting review, platform: api

#49464 chore(cypress): `email-change.js` to ts
  cypress/e2e/default/settings/email-change.ts
Labels: scope: tools/scripts

#49519 Chore (settings) - Rename tabindex to tabIndex
  client/src/components/settings/about.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/internet.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/privacy.tsx
  client/src/components/settings/username.tsx
Labels: platform: client

#49524 fix(curriculum): ensure left alignment of output in translations
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings.md
Labels: status: waiting review, scope: curriculum

#49525 fix: replaced reduce method with for loop
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-the-rest-parameter-with-function-parameters.md
Labels: scope: curriculum

#49537 fix(curriculum): grammatical errors
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f522dea4f776f64dc3e91.md
Labels: status: waiting review, scope: curriculum

#49510 refactor(client): togglebutton's layout from float to flex
  client/src/components/helpers/toggle-button.css
Labels: status: waiting review, platform: client

#49538 fix(curriculum): removed confusing sentence
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/use-prototype-properties-to-reduce-duplicate-code.md
Labels: status: waiting review, scope: curriculum

#49534 fix(curriculum): changed instructions for clarity
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/create-a-model.md
Labels: status: waiting review, scope: curriculum

#49520 fix(cirriculum): Adjust wording of error messages in "replacing-if-else-chains-with-switch"
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/replacing-if-else-chains-with-switch.md
Labels: status: waiting review, scope: curriculum

#49516 feat(client): make the new help icon clearer
  client/src/assets/icons/help.tsx
Labels: status: waiting review, platform: client

#49477 fix(ui): preserve monaco tab trap on resize
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, scope: a11y, scope: UI

#49542 fix(cirriculum): reword exercise instructions to clarify required schema
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/create-a-model.md
Labels: scope: curriculum

#49528 feat(client): show error, warn, and info in FCC debug console
  client/src/client/workers/test-evaluator.ts
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: client

#49278 feat(client): remove the Media component for our Card component
  client/i18n/locales/english/translations.json
  client/src/components/layouts/rtl-layout.css
  client/src/components/profile/components/portfolio.css
  client/src/components/profile/components/portfolio.tsx
Labels: status: waiting review, platform: client, scope: i18n

#49465 fix(client): added conditional to check for 0
  client/src/templates/Challenges/components/completion-modal-body.tsx
Labels: status: waiting review, platform: client

#49551 fix(curriculum): Clarify hints in Step 40 of the Skyline project
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98f0.md
Labels: status: waiting review, scope: curriculum
