Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-06, with the labels that each got.

#50435 refactor(config): superblocks and map
  .eslintignore
  .gitignore
  .prettierignore
  client/i18n/locales.test.ts
  client/src/assets/icons/index.tsx
  client/src/components/Map/index.tsx
  client/src/components/seo/index.tsx
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/components/legacy-links.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/is-a-cert.ts
  client/src/utils/superblock-map-titles.ts
  config/certification-settings.ts
  config/i18n.ts
  config/superblock-order.test.ts
  config/superblock-order.ts
  config/superblocks.test.ts
  config/superblocks.ts
  curriculum/utils.js
  curriculum/utils.test.ts
  cypress/e2e/default/landing.ts
  cypress/e2e/default/learn/challenges/projects.ts
  cypress/e2e/default/learn/index.ts
  cypress/e2e/default/learn/responsive-web-design/show-cert-from-superblock.ts
  docs/how-to-enable-new-languages.md
  docs/language-lead-handbook.md
  tools/challenge-auditor/index.ts
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/fs-utils.test.ts
  tools/challenge-helper-scripts/fs-utils.ts
  tools/scripts/build/build-external-curricula-data.test.ts
  tools/scripts/build/build-external-curricula-data.ts
  utils/is-audited.js
Labels: status: waiting review, scope: docs, platform: client, scope: i18n, scope: tools/scripts

#50389 fix(client): stop preview in new window from disappearing on parent resize
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/preview-portal.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/redux/selectors.js
Labels: status: waiting review, platform: client

#50475 feat(tools): repair-meta script
  curriculum/package.json
  docs/how-to-work-on-practice-projects.md
  tools/challenge-helper-scripts/repair-meta.ts
Labels: scope: docs, scope: tools/scripts

#50564 feat(client): AB test loading donation elements individually
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation.css
Labels: status: waiting review, platform: client

#50555 feat(client): add duplicate account warning
  client/i18n/locales/english/translations.json
  client/src/components/Intro/components/intro-description.tsx
  client/src/components/Intro/index.tsx
  client/src/components/layouts/learn.tsx
  client/src/components/settings/danger-zone.tsx
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
  client/src/pages/email-sign-up.tsx
  cypress/e2e/default/user/privacy-terms.ts
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#50527 chore(build): remove unused packagese, add needed packages, add eslint caching
  client/package.json
  client/src/templates/Challenges/classic/mobile-layout.tsx
  knip.jsonc
  package.json
  pnpm-lock.yaml
Labels: status: waiting review, platform: client

#50271 feat: update my username endpoint
  api/package.json
  api/prisma/schema.prisma
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas.ts
  api/tsconfig.json
  pnpm-lock.yaml
Labels: status: waiting review, platform: api

#50419 feat(api): deprecate get account endpoint
  api-server/src/server/boot/user.js
  api/src/routes/deprecated-endpoints.ts
Labels: platform: api

#50087 fix: updated reset and help buttons
  client/src/assets/icons/help.tsx
  client/src/assets/icons/reset.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: learn

#50571 fix(client): underline links for all languages
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: learn

#50575 fix(curriculum) require creating store
  curriculum/challenges/english/03-front-end-development-libraries/redux/write-a-counter-with-redux.md
Labels: status: waiting review, scope: curriculum

#50622 refactor: register fastify-sentry directly
  api/src/app.ts
  api/src/plugins/fastify-sentry.ts
Labels: status: waiting review, platform: api

#50167 feat: add progress bar to lower jaw
  client/src/components/ProgressBar/progress-bar-inner.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  cypress/e2e/default/learn/challenges/progress-bar.ts
Labels: platform: learn, scope: tools/scripts

#50572 test(client): created unit test suite for OfflineWarning component
  client/src/components/OfflineWarning/offline-warning.test.tsx
Labels: status: waiting review, platform: learn

#50614 chore(deps): upgrade eslint
  .eslintrc.json
  client/src/components/profile/components/camper.tsx
  client/src/declarations.d.ts
  client/src/utils/scrollbar-width.ts
  package.json
  pnpm-lock.yaml
  tools/challenge-helper-scripts/repair-meta.ts
  tools/ui-components/src/form-group/form-group.test.tsx
Labels: status: waiting review, platform: learn, scope: tools/scripts

#50616 fix(curriculum): changed description for anchor tag in learn-html-by-building-a-cat-photo-app
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e9.md
Labels: status: waiting review, scope: curriculum

#50525 feat(api): allow redirection with message
  api/package.json
  api/src/plugins/redirect-with-message.test.ts
  api/src/plugins/redirect-with-message.ts
  pnpm-lock.yaml
Labels: platform: api

#50408 feat(client): AB test displaying the progress donation modal multiple times
  client/src/components/growth-book/growth-book-redux-connector.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/donation-saga.js
  client/src/redux/index.js
  client/src/redux/selectors.js
  client/src/redux/types.ts
Labels: status: waiting review, platform: learn

#50623 fix: stop returning donationEmails
  api-server/src/server/utils/publicUserProps.js
Labels: platform: api

#50620 refactor: remove dasherize
  .gitignore
  .prettierignore
  client/gatsby-node.js
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/utils/get-completion-percentage.ts
  client/utils/gatsby/challenge-page-creator.js
  curriculum/challenges/_meta/build-a-caesars-cipher-project/meta.json
  curriculum/challenges/_meta/build-a-cash-register-project/meta.json
  curriculum/challenges/_meta/build-a-celestial-bodies-database-project/meta.json
  curriculum/challenges/_meta/build-a-data-graph-explorer-project/meta.json
  curriculum/challenges/_meta/build-a-financial-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-graphing-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-multi-function-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-number-guessing-game-project/meta.json
  curriculum/challenges/_meta/build-a-palindrome-checker-project/meta.json
  curriculum/challenges/_meta/build-a-periodic-table-database-project/meta.json
  curriculum/challenges/_meta/build-a-personal-portfolio-webpage-project/meta.json
  curriculum/challenges/_meta/build-a-product-landing-page-project/meta.json
  curriculum/challenges/_meta/build-a-roman-numeral-converter-project/meta.json
  curriculum/challenges/_meta/build-a-salon-appointment-scheduler-project/meta.json
  curriculum/challenges/_meta/build-a-survey-form-project/meta.json
  curriculum/challenges/_meta/build-a-technical-documentation-page-project/meta.json
  curriculum/challenges/_meta/build-a-telephone-number-validator-project/meta.json
  curriculum/challenges/_meta/build-a-tribute-page-project/meta.json
  curriculum/challenges/_meta/build-a-world-cup-database-project/meta.json
  curriculum/challenges/_meta/build-three-math-games-project/meta.json
  curriculum/challenges/_meta/learn-advanced-bash-by-building-a-kitty-ipsum-translator/meta.json
  curriculum/challenges/_meta/learn-bash-and-sql-by-building-a-bike-rental-shop/meta.json
  curriculum/challenges/_meta/learn-bash-by-building-a-boilerplate/meta.json
  curriculum/challenges/_meta/learn-bash-scripting-by-building-five-programs/meta.json
  curriculum/challenges/_meta/learn-git-by-building-an-sql-reference-object/meta.json
  curriculum/challenges/_meta/learn-nano-by-building-a-castle/meta.json
  curriculum/challenges/_meta/learn-relational-databases-by-building-a-mario-database/meta.json
  curriculum/challenges/_meta/learn-sql-by-building-a-student-database-part-1/meta.json
  curriculum/challenges/_meta/learn-sql-by-building-a-student-database-part-2/meta.json
  curriculum/challenges/_meta/project-euler-problems-1-to-100/meta.json
  curriculum/challenges/_meta/project-euler-problems-101-to-200/meta.json
  curriculum/challenges/_meta/project-euler-problems-201-to-300/meta.json
  curriculum/challenges/_meta/project-euler-problems-301-to-400/meta.json
  curriculum/challenges/_meta/project-euler-problems-401-to-480/meta.json
  curriculum/challenges/_meta/top-build-a-recipe-project/meta.json
  curriculum/challenges/_meta/top-learn-css-foundations-projects/meta.json
  curriculum/challenges/_meta/top-learn-css-foundations/meta.json
  curriculum/challenges/_meta/top-learn-html-foundations/meta.json
  curriculum/get-challenges.js
  utils/index.ts
  utils/slugs.test.ts
  utils/slugs.ts
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, scope: tools/scripts

#50645 fix(curriculum): remove an unneccessary preposition
  curriculum/challenges/english/17-college-algebra-with-python/learn-how-to-graph-systems-of-equations/graphing-systems.md
Labels: status: waiting review, scope: curriculum

#50671 chore: remove old babel-core + plugins
  api-server/.babelrc
  api-server/package.json
  pnpm-lock.yaml
Labels: platform: api

#50685 fix(curriculum): fixed whitespacing
  curriculum/challenges/english/03-front-end-development-libraries/react/pass-an-array-as-props.md
Labels: status: waiting review, scope: curriculum

#50697 feat: /status/ping endpoint
  api/src/app.ts
  api/src/routes/status.test.ts
  api/src/routes/status.ts
Labels: platform: api

#50678 fix(curriculum): regex to handle whitespaces between spread operator and value
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/copy-an-array-with-the-spread-operator.md
Labels: status: waiting review, scope: curriculum

#50334 feat(api): add update-my-about endpoint
  api/src/routes/protocol.test.ts
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas.ts
Labels: platform: api

#50710 fix(docs): update set up note for clarity
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#50694 fix(docs): correct typos
  docs/how-to-catch-outgoing-emails-locally.md
  docs/how-to-setup-wsl.md
Labels: status: waiting review, scope: docs

#50039 test(e2e): fix flaky firefox tests
  cypress.config.js
  cypress/e2e/default/learn/challenges/multifile.ts
Labels: status: waiting review, scope: tools/scripts

#50695 fix(docs): update news repo prep instructions
  docs/how-to-enable-new-languages.md
Labels: scope: docs

#50737 fix(curriculum): correct hint typo
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612eaf56b7ba3257fdbfb0db.md
Labels: status: waiting review, scope: curriculum

#50664 fix: improvements in the instruction
  curriculum/challenges/english/03-front-end-development-libraries/sass/use-each-to-map-over-items-in-a-list.md
Labels: status: waiting review, scope: curriculum

#50676 refactor: remove unused 'flag' variable
  client/src/resources/cert-and-project-map.ts
Labels: status: waiting review, platform: learn

#50765 chore: simplify develop scripts
  client/package.json
  package.json
Labels: status: waiting review, platform: learn

#50679 fix(styles): fix whitespace in code instructions
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: learn

#50738 fix(curriculum): introduce css max in accessibility-quiz
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/613e275749ebd008e74bb62e.md
Labels: scope: curriculum

#50465 feat: use component library's dropdown component in learn
  .eslintignore
  .prettierignore
  client/package.json
  client/src/components/profile/components/time-line.test.tsx
  client/src/components/settings/certification.test.tsx
  client/src/components/solution-display-widget/index.tsx
  client/src/templates/Challenges/components/tool-panel.css
  client/src/templates/Challenges/components/tool-panel.tsx
  client/tailwind.config.js
  cypress/e2e/default/learn/common-components/help-button.ts
  pnpm-lock.yaml
  tools/ui-components/.storybook/preview.js
  tools/ui-components/package.json
  tools/ui-components/src/drop-down/drop-down.stories.tsx
  tools/ui-components/src/drop-down/drop-down.test.tsx
  tools/ui-components/src/drop-down/drop-down.tsx
  tools/ui-components/src/drop-down/menu-item/menu-item.tsx
  tools/ui-components/src/global-element-styles.css
  tools/ui-components/src/index.ts
  tools/ui-components/src/normalize.css
  tools/ui-components/tailwind.config.js
Labels: status: waiting review, platform: learn, scope: tools/scripts

#50782 fix(client): C# icon
  client/src/assets/icons/c-sharp-logo.tsx
Labels: status: waiting review, platform: learn

#50497 feat(api): add :email unsubscribe/:email to the deprecated
  api/jest.utils.ts
  api/src/app.ts
  api/src/routes/deprecated-endpoints.test.ts
  api/src/routes/deprecated-unsubscribe.test.ts
  api/src/routes/deprecated-unsubscribe.ts
Labels: status: waiting review, platform: api

#50778 fix(client): show check code button after reset
  client/src/templates/Challenges/classic/lower-jaw.tsx
  cypress/e2e/default/learn/challenges/multifile.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#50722 fix(curriculum): Explicitly tell campers to use the > selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614090d5a22b6f0a5a6b464c.md
Labels: status: waiting review, scope: curriculum

#50011 feat(UI): take back to learn map after finishing a block
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/index.js
  client/utils/gatsby/challenge-page-creator.js
  cypress/e2e/default/learn/challenges/navigation.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#50784 fix(curriculum): Rephrase step 36 so a css question gets added
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f02240ff8f09f7ec913c.md
Labels: scope: curriculum

#50772 fix(a11y): prevent monaco tab key status from announcing on page load
  client/src/templates/Challenges/classic/editor.tsx
Labels: scope: a11y, scope: UI, status: waiting update, platform: learn

#50799 fix(learn): update hints for pseudo selectors challenge
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fd7a160ed17960e971f28b.md
Labels: status: waiting review, scope: curriculum

#50814 fix(types): adding proper yearsTopContributor type
  client/src/components/profile/components/camper.tsx
  client/src/redux/prop-types.ts
Labels: status: waiting review, platform: learn

#50816 chore(curriculum): tell campers what break tags are used for
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f8f8bcd4370f6509078e.md
Labels: scope: curriculum

#50689 fix(curriculum): modified instruction structuring
  curriculum/challenges/english/03-front-end-development-libraries/react/pass-an-array-as-props.md
Labels: status: waiting review, scope: curriculum

#50684 fix(api): require CSRF token for user routes
  api/src/routes/settings.test.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
Labels: status: waiting review, platform: api

#50809 fix(types): four-oh-four props, global i18next definition for returnNull
  client/i18n/config-for-tests.ts
  client/i18n/config.js
  client/src/components/FourOhFour/index.tsx
  client/src/i18next.d.ts
  client/src/pages/404.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#50766 feat(curriculum): add questions to C# challenges
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/add-looping-logic-to-your-code-using-the-do-while-and-while-statements-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/branch-the-flow-of-code-using-the-switch-case-construct-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/challenge-project-develop-branching-and-looping-structures-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/control-variable-scope-and-logic-using-code-blocks-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/evaluate-boolean-expressions-to-make-decisions-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/guided-project-develop-conditional-branching-and-looping-structures-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/iterate-through-a-code-block-using-the-for-statement-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/add-decision-logic-to-your-code-using-if-else-and-else-if-statements-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/call-methods-from-the-dot-net-class-library-using-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/challenge-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/create-readable-code-with-conventions-whitespace-and-comments-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/guided-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/install-and-configure-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/store-and-iterate-through-sequences-of-data-using-arrays-and-the-foreach-statement-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/challenge-project-create-a-mini-game.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/create-c-sharp-methods-that-return-values.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/create-c-sharp-methods-with-parameters.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/guided-project-plan-a-petting-zoo-visit.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/write-your-first-c-sharp-method.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/challenge-project-debug-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/create-and-throw-exceptions-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/guided-project-debug-and-handle-exceptions-in-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/implement-exception-handling-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/implement-the-visual-studio-code-debugging-tools-for-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/review-the-principles-of-code-debugging-and-exception-handling.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/challenge-project-work-with-variable-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/choose-the-correct-data-type-in-your-c-sharp-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/convert-data-types-using-casting-and-conversion-techniques-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/format-alphanumeric-data-for-presentation-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/guided-project-work-with-variable-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/modify-the-content-of-string-using-built-in-string-data-type-methods-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/perform-operations-on-arrays-using-helpers-methods-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-and-print-student-grades.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-final-gpa.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/perform-basic-operations-on-numbers-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/perform-basic-string-formatting-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/store-and-retrieve-data-using-literal-and-variable-values-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/write-your-first-c-sharp-code.md
Labels: status: waiting review, scope: curriculum

#50830 fix(curriculum): modified instructions
  curriculum/challenges/english/03-front-end-development-libraries/react/introducing-inline-styles.md
Labels: scope: curriculum

#50721 feat(api): POST user/user-token
  api/package.json
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/utils/env.ts
  api/src/utils/user-token.ts
  pnpm-lock.yaml
Labels: status: waiting review, platform: api

#50829 fix(curriculum): Changed wording for instructions
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98fe.md
Labels: scope: curriculum

#50838 feat(client): clean some unused strings in translations.json
  client/i18n/locales/english/translations.json
Labels: platform: learn, scope: i18n

#50748 fix(UI): make page layout able to change seamlessly
  client/package.json
  client/src/templates/Challenges/classic/show.tsx
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn

#50825 test: speed up seeding when testing
  cypress.config.js
  cypress/e2e/default/learn/challenges/codeally.ts
  cypress/e2e/default/learn/challenges/failed-updates.ts
  cypress/e2e/default/learn/challenges/multifile-cert-project.ts
  cypress/e2e/default/learn/challenges/navigation.ts
  cypress/e2e/default/learn/challenges/progress-bar.ts
  cypress/e2e/default/learn/challenges/projects.ts
  cypress/e2e/default/learn/donate/donate-page-donor.ts
  cypress/e2e/default/learn/donate/donation-block-completion-modal.ts
  cypress/e2e/default/learn/header/universal-navigation.ts
  cypress/e2e/default/learn/responsive-web-design/intro-page.ts
  cypress/e2e/default/learn/responsive-web-design/show-cert-from-superblock.ts
  cypress/e2e/default/settings/certifications.ts
  cypress/e2e/default/settings/email-change.ts
  cypress/e2e/default/settings/user-token.ts
  cypress/e2e/default/show-certification.ts
  cypress/e2e/default/top-contributor.ts
  cypress/e2e/default/user/certifications.ts
  cypress/e2e/default/user/privacy-terms.ts
  cypress/e2e/default/user/report-user.ts
  cypress/e2e/third-party/donate-page.ts
  tools/scripts/seed/seed-demo-user.js
Labels: status: waiting review, scope: tools/scripts

#50810 fix(types): adding correct redirect-home props to fix some ts-ignores
  client/src/components/create-redirect.ts
  client/src/pages/certification.tsx
  client/src/pages/settings.tsx
  client/src/pages/unsubscribed.tsx
  client/src/pages/user.tsx
Labels: status: waiting review, platform: learn

#50668 fix: improvement in instructions
  curriculum/challenges/english/03-front-end-development-libraries/react/create-a-component-with-composition.md
Labels: status: waiting review, scope: curriculum

#50822 fix(curriculum): use helper instead of regex to test css
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f769702e6e33127d14aa120.md
Labels: status: waiting review, scope: curriculum

#50811 fix(types): adding correct unsubscribed component props
  client/src/client-only-routes/show-unsubscribed.tsx
  client/src/pages/unsubscribed.tsx
Labels: status: waiting review, platform: learn

#50700 feat: the cascade of css questions The Odin Project
  client/i18n/locales/english/intro.json
  client/src/pages/learn/the-odin-project/top-learn-css-specificity/index.md
  curriculum/challenges/_meta/top-learn-css-specificity/meta.json
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-specificity/the-cascade-of-css-question-h.md
Labels: scope: curriculum, platform: learn, scope: i18n

#50831 fix: stop creating config before starting client
  client/package.json
Labels: status: waiting review, platform: learn

#50650 add(docs): adding PR tip from discourse form
  docs/moderator-handbook.md
Labels: scope: docs, status: waiting update

#50835 fix(curriculum): Made Formatting Changes to Magazine Lesson
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6143a778bffc206ac6b1dbe3.md
Labels: scope: curriculum

#50848 fix(client): tighten test evaluator
  client/src/client/workers/test-evaluator.ts
Labels: platform: learn

#50849 fix(client): ensure __runTest is used
  client/src/templates/Challenges/rechallenge/builders.ts
  client/src/templates/Challenges/utils/build.ts
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62b46e3a8d4be31be5af793d.md
Labels: scope: curriculum, platform: learn
