Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-09, with the labels that each got.

#51453 fix(curriculum): syntax error on c# question
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-final-gpa.md
Labels: status: waiting review, scope: curriculum

#51474 fix(curriculum): verbiage, return type, multiple arguments
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulate-arrays-with-push.md
Labels: status: waiting review, scope: curriculum

#51215 fix(client): add hours back to certifications
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
  cypress/e2e/default/show-certification.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#51421 feat: added a warning modal for the testing/staging site
  client/i18n/locales/english/translations.json
  client/src/components/layouts/default.tsx
  client/src/components/staging-warning-modal/index.tsx
  client/src/components/staging-warning-modal/staging-warning-modal.test.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#51458 fix(curriculum): check individual properties
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/61410126fa3a6d2b3cda502e.md
Labels: scope: curriculum

#51437 feat: adding explanation for id selector for cafe menu project
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed60785e1f3e9850b6e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed60a5decd94ab66986.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed6199b0cdef1d2be8f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed63c7807a4f1e6d054.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed63e0fa262326eef05.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed656a336993abd9f7c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed69db0a491745e2bb6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed6cf6eab5f15f5cfe6.md
Labels: status: waiting review, scope: curriculum

#51470 Assert methods updated for Test in Cat Photo Step 12
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md
Labels: scope: curriculum

#51345 fix: destructuring issue fixed
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/accessing-nested-objects.md
Labels: status: waiting review, scope: curriculum

#51490 docs: revising typos and adding clarity to steps for creating a PR
  docs/how-to-open-a-pull-request.md
Labels: scope: docs

#51286 fix(tools): use download-trending when offline
  client/tools/download-trending.ts
Labels: status: waiting review, platform: learn

#51456 fix: stop using env.json outside the client
  tools/scripts/build/build-curriculum.ts
  tools/scripts/build/build-external-curricula-data.test.ts
Labels: scope: tools/scripts

#51485 chore: migrate constants to TS
  .gitignore
  .prettierignore
  api/package.json
  api/src/reset.d.ts
  api/src/routes/settings.ts
  config/constants.test.ts
  config/constants.ts
  pnpm-lock.yaml
Labels: platform: api

#51495 fix: adjust codeowners for curriculum
  .github/CODEOWNERS
Labels: scope: tools/scripts

#51492 feat(docs): document curriculum helpers
  docs/_sidebar.md
  docs/curriculum-help.md
Labels: scope: docs

#51361 feat: replace tabs components
  client/src/components/layouts/global.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
  tools/ui-components/src/index.ts
Labels: platform: learn, scope: tools/scripts

#51368 feat(e2e): playwright - add global login setup and teardown, show certificate tests
  .github/workflows/e2e-playwright.yml
  e2e/LoginAuth.json
  e2e/global-setup.ts
  e2e/playwright.config.ts
  e2e/show-certificate-else.spec.ts
  e2e/show-certificate-own.spec.ts
Labels: status: waiting review, scope: tools/scripts

#51499 refactor: cleanup playwright tests
  .github/workflows/e2e-playwright.yml
  .gitignore
  e2e/.gitignore
  e2e/LoginAuth.json
  e2e/global-setup.ts
  e2e/landing.spec.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/show-certificate-own.spec.ts
  e2e/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: scope: tools/scripts

#51479 fix(curriculum,tests): use computed styles for cat painting step 8
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646c5ace05e4be4211407935.md
Labels: status: waiting review, scope: curriculum

#51448 fix: type error for solution display widget's dropdown
  client/src/components/solution-display-widget/index.tsx
  tools/ui-components/src/drop-down/drop-down.tsx
Labels: status: waiting review, platform: learn, scope: tools/scripts

#51512 refactor: remove extra variables definations
  client/src/components/settings/about.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/internet.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/video/show.tsx
Labels: platform: learn

#51511 fix: Use new Twitter icon
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/profile/components/social-icons.tsx
  client/src/components/share/share-template.tsx
Labels: platform: learn

#51522 feat: remove extra CSS file
  client/src/pages/common-pages.css
Labels: platform: learn

#51417 chore: use new c-sharp help category
  client/i18n/locales/english/links.json
  client/src/templates/Challenges/ms-trophy/show.tsx
  client/src/templates/Challenges/video/show.tsx
  curriculum/challenges/_meta/add-logic-to-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/create-and-run-simple-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/create-methods-in-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/debug-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/foundational-c-sharp-with-microsoft-certification-exam/meta.json
  curriculum/challenges/_meta/work-with-variable-data-in-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/write-your-first-code-using-c-sharp/meta.json
  curriculum/schema/challenge-schema.js
  cypress/e2e/default/learn/challenges/c-sharp.ts
  tools/scripts/build/external-data-schema.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, scope: tools/scripts

#51501 refactor(e2e,playwright): input labels to test perf and improve coverage for landing page
  client/src/assets/images/components/as-seen-in-text.tsx
  client/src/components/Map/index.tsx
  client/src/components/landing/components/as-seen-in.tsx
  client/src/components/landing/components/big-call-to-action.tsx
  client/src/components/landing/components/campers-image.tsx
  client/src/components/landing/components/faq.tsx
  client/src/components/landing/components/landing-top.tsx
  client/src/components/landing/components/testimonials.tsx
  e2e/landing.spec.ts
  e2e/playwright.config.ts
Labels: platform: learn

#51533 fix(api): use reset.d.ts in development
  api/tsconfig.json
Labels: platform: api

#51142 feat: create Docker images for api-server
  .github/workflows/temporary-container-checks.yml
  api-server/ecosystem.config.js
  api-server/package.json
  cypress/plugins/index.js
  docker-compose.yml
  docker/api/Dockerfile
  pnpm-lock.yaml
Labels: platform: api, scope: tools/scripts

#51543 chore: remove redundant job
  .github/workflows/node.js-tests.yml
Labels: status: waiting review, scope: tools/scripts

#51546 refactor: polish dockerfiles
  client/serve/pm2-start.sh
  client/serve/serve.json
  client/serve/serve.sh
  docker/api/Dockerfile
  docker/new-api/Dockerfile
  docker/web/Dockerfile
Labels: platform: learn

#51539 feat(client): AB test adding mutitier donation modal
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation.css
  client/src/components/Donation/patreon-button.tsx
  client/src/components/Donation/utils.ts
  client/src/redux/types.ts
  shared/config/donation-settings.ts
Labels: platform: learn, scope: i18n

#51553 refactor(e2e,playwright): add playwright test labels to show-certificate test and refactor the test code for show-certificate
  client/src/client-only-routes/show-certification.tsx
  e2e/show-certificate-else.spec.ts
  e2e/show-certificate-own.spec.ts
Labels: platform: learn

#51559 fix(curriculum): typo in css flexbox step-21
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153a04847abee57a3a406ac.md
Labels: scope: curriculum

#51506 fix: claim legacy and full stack certifications
  api-server/src/server/boot/certificate.js
  api-server/src/server/boot_tests/certificate.test.js
  shared/config/certification-settings.ts
Labels: platform: api

#51563 fix(test): seed before Cypress C# tests
  cypress/e2e/default/learn/challenges/c-sharp.ts
Labels: scope: tools/scripts

#51577 fix(curriculum): warn about glitch.com
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.md
Labels: status: waiting review, scope: curriculum

#51593 fix(curriculum): typo fix
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/get-data-from-post-requests.md
Labels: status: waiting review, scope: curriculum

#51598 feat: restrict stripe card
  api-server/src/server/utils/donation.js
  client/src/components/Donation/donate-form.tsx
  cypress/e2e/third-party/donate-page.ts
Labels: platform: api, platform: learn, scope: tools/scripts

#51594 refactor: better error reporting during api testing
  api/src/routes/challenge.test.ts
  api/src/routes/protocol.test.ts
  api/src/routes/settings.test.ts
Labels: platform: api

#51599 fix: app must serve files from public folder
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/serve-static-assets.md
Labels: status: waiting review, scope: curriculum

#51586 fix(client): certTitle when sharing cert
  client/src/client-only-routes/show-certification.tsx
  cypress/e2e/default/show-certification.ts
Labels: platform: learn, scope: tools/scripts

#51600 feat(api): update-my-portfolio
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas.ts
Labels: platform: api

#51552 feat(e2e, playwright): adding data labels for learn page html
  client/src/components/Intro/components/intro-description.tsx
  client/src/components/Intro/index.tsx
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
  e2e/learn.spec.ts
Labels: status: waiting review, platform: learn

#51108 fix: improve universal navbar UI
  client/src/assets/icons/microsoft-logo.tsx
  client/src/components/Header/components/exam-nav.css
  client/src/components/Header/components/exam-nav.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Header/header.css
  client/src/components/Header/index.tsx
  client/src/components/layouts/global.css
  client/src/components/layouts/variables.css
  client/src/components/search/searchBar/searchbar-base.css
  client/src/components/search/searchBar/searchbar.css
  client/src/pages/certification.css
  cypress/e2e/default/learn/common-components/navbar.ts
  tools/ui-components/src/global-element-styles.css
Labels: status: waiting review, platform: learn, scope: tools/scripts

#51605 fix(docs): update link to `config/i18n.ts`
  docs/how-to-enable-new-languages.md
Labels: status: waiting review, scope: docs

#51374 feat: store sound settings in local storage
  api-server/src/common/models/user.json
  api-server/src/server/boot/settings.js
  api-server/src/server/utils/publicUserProps.js
  api/prisma/schema.prisma
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schemas.ts
  client/src/client-only-routes/show-settings.tsx
  client/src/redux/fetch-user-saga.js
  client/src/redux/settings/settings-sagas.js
  client/src/utils/ajax.ts
Labels: status: waiting review, platform: api, platform: learn

#51604 feat(api): return flash.wrong-updating if invalid request
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas.ts
Labels: platform: api

#51513 feat: remove extra dropdown CSS properties
  client/src/components/layouts/global.css
  client/src/components/layouts/rtl-layout.css
  client/src/templates/Challenges/components/tool-panel.css
Labels: platform: learn

#51510 Fix: Update Arguments Optional test to match instructions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional.md
Labels: status: waiting review, scope: curriculum

#51603 fix(curriculum): remove unnecessary class instruction
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad6996f.md
Labels: status: waiting review, scope: curriculum

#51595 refactor(api): error formatting
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/schemas.ts
  api/src/utils/error-formatting.test.ts
  api/src/utils/error-formatting.ts
Labels: platform: api

#51610 feat(api): handle OPTIONS requests
  api/src/plugins/cors.ts
Labels: platform: api

#51540 feat: make projectsFor a React component
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/settings/certification.tsx
Labels: platform: learn

#51406 feat: change header structure in the landing page
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation.css
  client/src/components/Map/index.tsx
  client/src/components/landing/components/faq.tsx
  client/src/components/landing/components/testimonials.tsx
Labels: platform: learn

#51608 feat(api): sync api and api-server CORS headers
  api/src/plugins/cors.ts
  api/src/server.test.ts
Labels: status: waiting update, platform: api

#51619 feat(e2e,playwright): Docs for contribution best practices
  docs/how-to-add-playwright-tests.md
Labels: status: waiting review, scope: docs

#51606 chore(client): remove hours from C# cert
  client/i18n/locales/english/translations.json
  client/src/assets/icons/freecodecamp.tsx
  client/src/assets/icons/microsoft-logo.tsx
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-project-links.tsx
  cypress/e2e/default/show-certification.ts
  tools/scripts/seed/certified-user-data.js
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#51622 chore(deps): update Cypress to version 12
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/temporary-container-checks.yml
  cypress.config.js
  cypress/e2e/default/landing.ts
  cypress/e2e/default/learn/challenges/code-storage.ts
  cypress/e2e/default/learn/challenges/codeally.ts
  cypress/e2e/default/learn/challenges/failed-updates.ts
  cypress/e2e/default/learn/challenges/multifile-cert-project.ts
  cypress/e2e/default/learn/challenges/multifile.ts
  cypress/e2e/default/learn/challenges/navigation.ts
  cypress/e2e/default/learn/challenges/output.ts
  cypress/e2e/default/learn/common-components/help-button.ts
  cypress/e2e/default/learn/common-components/navbar.ts
  cypress/e2e/default/learn/common-components/search-bar.ts
  cypress/e2e/default/learn/donate/donation-block-completion-modal.ts
  cypress/e2e/default/learn/header/universal-navigation.ts
  cypress/e2e/default/learn/index.ts
  cypress/e2e/default/learn/responsive-web-design/basic-css/index.ts
  cypress/e2e/default/learn/responsive-web-design/intro-page.ts
  cypress/e2e/default/show-certification.ts
  cypress/e2e/default/tags.js
  cypress/e2e/default/top-contributor.ts
  cypress/e2e/default/user/certifications.ts
  cypress/e2e/default/user/privacy-terms.ts
  cypress/e2e/third-party/donate-page.ts
  cypress/support/commands.ts
  package.json
  pnpm-lock.yaml
Labels: scope: tools/scripts

#51625 fix: uri encode forum title
  client/src/templates/Challenges/redux/create-question-epic.js
Labels: platform: learn

#51524 feat: swap table component
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/layouts/global.css
  client/src/components/layouts/rtl-layout.css
  client/src/components/profile/components/__snapshots__/timeline-buttons.test.js.snap
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/certification.css
  client/src/components/settings/certification.tsx
  tools/ui-components/src/index.ts
  tools/ui-components/src/table/table.test.tsx
  tools/ui-components/src/table/table.tsx
Labels: platform: learn, scope: tools/scripts

#51639 fix: remove unnecessary initialization
  client/src/templates/Challenges/classic/show.tsx
Labels: platform: learn

#51640 test: improve output flake by removing chaining
  cypress/e2e/default/learn/challenges/output.ts
Labels: scope: tools/scripts

#51620 refactor: make renderHelpButton a component
  client/src/components/settings/internet.tsx
Labels: platform: learn

#51527 fix(UI): position the tool panel buttons appropriately
  client/src/components/layouts/variables.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/components/tool-panel.css
Labels: status: waiting review, platform: learn

#51551 feat(api/client): use server response as flash msg for c#
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/user.js
  client/i18n/locales/english/translations.json
  client/src/components/Flash/index.tsx
  client/src/components/Flash/redux/flash-messages.ts
  client/src/redux/ms-username-saga.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/utils/error-messages.ts
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: api, platform: learn, scope: i18n

#51628 feat(e2e,playwright):migrate common components help button tests
  client/src/templates/Challenges/components/tool-panel.tsx
  e2e/help-button.spec.ts
Labels: platform: learn

#51666 docs: fix a typo
  docs/how-to-add-playwright-tests.md
  docs/moderator-onboarding-guide.md
Labels: status: waiting review, scope: docs

#51621 feat: send failed challengeFiles to GA
  client/src/redux/ga-saga.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: platform: learn

#51668 fix(curriculum): Move editable region to include the full selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646c5ace05e4be4211407935.md
Labels: status: waiting review, scope: curriculum

#51661 fix: allow at least 100 loops before breaking out
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: learn

#51655 fix(curriculum): updated the control scope C# test question to match Microsoft qu…
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/control-variable-scope-and-logic-using-code-blocks-in-c-sharp.md
Labels: status: waiting review, scope: curriculum

#51669 fix(a11y): mobile tab navigation
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
Labels: scope: a11y, scope: UI, platform: learn

#51677 refactor(api): import ts-reset in entrypoint
  api/src/reset.d.ts
  api/src/server.ts
  api/tsconfig.json
Labels: platform: api

#51683 fix(tools): move connected to mongo log
  tools/scripts/seed/seed-demo-user.js
Labels: scope: tools/scripts

#51273 fix: "lowerjaw-qoute" typo
  client/src/templates/Challenges/classic/editor.css
Labels: platform: learn

#51685 feat: disable naming-convenction rule
  .eslintrc.json
  api/jest.utils.ts
  api/src/routes/challenge.test.ts
  api/src/server.test.ts
  client/src/components/Donation/paypal-button-script-loader.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/growth-book/growth-book-redux-connector.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/components/helpers/avatar-renderer.tsx
  client/src/components/settings/about.tsx
  client/src/components/settings/portfolio.tsx
  client/src/declarations.d.ts
  client/src/templates/Challenges/utils/frame.ts
  client/src/utils/solution-display-type.ts
  client/utils/gatsby/layout-selector.test.tsx
  tools/client-plugins/browser-scripts/index.d.ts
  tools/client-plugins/browser-scripts/python-runner.ts
  tools/ui-components/src/drop-down/drop-down.tsx
Labels: platform: api, platform: learn, scope: tools/scripts

#50040 feat(api): create save challenge route
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/schemas.ts
  api/src/utils/common-challenge-functions.ts
Labels: platform: api
