Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-03, with the labels that each got.

#49547 fix: description and hint of Learn Accessibility by Building a Quiz - Step 41
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f685797bd30df9784e8c.md
Labels: status: waiting review, scope: curriculum

#49563 fix(curriculum): `favouriteFoods` to `favoriteFoods`
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/create-a-model.md
Labels: status: waiting review, scope: curriculum

#49564 fix(curriculum): instruction about css td width property
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62018c3e94434a71af1d5eaa.md
Labels: status: waiting review, scope: curriculum

#49567 fix: add more explicit return types
  api/middleware/index.ts
  api/utils/index.ts
  client/src/components/Header/index.tsx
Labels: status: waiting review, platform: api, platform: client

#48181 feat: statistics calculator
  client/i18n/locales/english/intro.json
  client/src/pages/learn/2022/javascript-algorithms-and-data-structures/learn-advanced-array-methods-by-building-a-statistics-calculator/index.md
  client/utils/help-category-map.json
  curriculum/challenges/_meta/learn-advanced-array-methods-by-building-a-statistics-calculator/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635060a5c03c950f46174cb5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507b5ac8a55134223374c7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507bcbfe4ede356e624395.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507c19151201368ee3e16c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507c4b63731437227b0134.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507d810f1a2e38f1908fd8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507e4562cdde3a28e8de1b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507ebb0c50ce3b9d669cd9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507fc6cc29083cc44df2fb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6350805fe0fe283dd347b0dc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635080d80b72803e973841da.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6350854411ffb73feb6bb84e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63508577f69f41409275f877.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635085da54fc2041e0303e75.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635085f80bd9b5429faa40c4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6350866cce4c6d43bdf607c8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63508750f040a348a440a0bf.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635089e3bd3e144f2db4094f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63508abbff1c4c5210d68cc5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63508bb4afb069534e81f33b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63508c898d753754757bd5e3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635090f47eb6d9563a6fed05.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635091f8dbf554575fb5aa0c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352e79d15aae30fac58f48e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352e80e024e89111600edfb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352e93db104661305c5f658.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352e96d2604f813c656750b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ea3a5b79e614ee2282fd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ebd3ab962c168a122e85.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ec8b9c70fd17b8c7ba3f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ecef9f045519063da9b3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352edee8a4de01ad693f0e4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ee566a59d31d24bde74b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f09b1e53a420e7873344.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f179bdca23221298a5ba.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f2526dccb523150b64fb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f2a24eb71b24284ca2b6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352faf71a9db52631864634.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fbb93a91a8272f838d42.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fcb156834128001ea945.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fce75b2d3b2924930f1e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fe473d53592a40ae403b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fed209792d2b89e92ea1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ff27e0e51b2c7dce0010.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ffe4cfafa72d595a0007.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6353004b235d7a2e0b913f2b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6353024f5eab012fa2f57eec.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6353028147d3c7309017216a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635302be760d6031d11a06cd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6374249d3fbf2a5b079ba036.md
  utils/preformatted-block-names.json
Labels: scope: curriculum, platform: client, scope: i18n, scope: tools/scripts

#49592 fix(curriculum): clarify example switch statement
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/selecting-from-many-options-with-switch-statements.md
Labels: scope: curriculum

#49566 feat(client): improve card accessibility
  client/src/components/profile/components/portfolio.css
  client/src/components/profile/components/portfolio.tsx
Labels: status: waiting review, platform: client

#49599 fix: update CODEOWNERS so pnpm-lock is not owned
  .github/CODEOWNERS
Labels: scope: tools/scripts

#49571 fix(client): prevent word wrap in Chinese & Japanese button text
  client/src/components/profile/components/portfolio.css
Labels: status: waiting review, platform: client

#49560 feat(client): warn endpoint url submission
  client/i18n/locales/english/translations.json
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form-validators.tsx
Labels: platform: client, scope: i18n

#49550 feat: depromisify fastify-jwt-authz
  api/plugins/fastify-jwt-authz.test.ts
  api/plugins/fastify-jwt-authz.ts
Labels: platform: api

#49576 fix: first sentence in Cafe Menu Step 51.
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f7b88d37b1f98386f04edc0.md
Labels: scope: curriculum

#49597 fix(curriculum): specifies the cafe's street address
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e7a4750dd05b5a673920.md
Labels: status: waiting review, scope: curriculum

#47219 feat(ui-components): add ControlLabel component
  tools/ui-components/src/control-label/control-label.stories.tsx
  tools/ui-components/src/control-label/control-label.tsx
  tools/ui-components/src/control-label/index.ts
  tools/ui-components/src/control-label/types.ts
Labels: status: waiting review, scope: tools/scripts

#49616 fix(client): add return type to component
  tools/ui-components/src/control-label/control-label.tsx
Labels: scope: tools/scripts

#49613 feat(api): validate environment variables before use
  api/db/index.ts
  api/index.ts
  api/utils/env.ts
Labels: platform: api

#49548 fix: pass expected object to isAudited
  utils/is-audited.js
Labels: scope: tools/scripts

#49574 feat: use pnpm to manage pm2
  .npmrc
  api-server/ecosystem.config.js
  docs/devops.md
  package.json
  pnpm-lock.yaml
Labels: status: waiting review, scope: docs, platform: api

#49591 fix: lang attribute issue in step-67
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804ec.md
Labels: status: waiting review, scope: curriculum

#49608 feat(client): clean extra CSS properties
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: client

#49619 fix(tools): rename and update seed user config
  package.json
  tools/scripts/seed/certified-user-data.js
  tools/scripts/seed/seed-demo-user.js
Labels: scope: tools/scripts

#49620 fix(tools): rename and update curriculum scripts
  client/utils/build-challenges.js
  curriculum/get-challenges.acceptance.test.js
  curriculum/get-challenges.js
  curriculum/get-challenges.test.js
  curriculum/test/test-challenges.js
  tools/challenge-auditor/index.ts
  tools/scripts/build/build-curriculum.ts
Labels: platform: client, scope: tools/scripts

#49624 fix(docs): update wsl instructions for pnpm
  docs/how-to-setup-freecodecamp-locally.md
  docs/how-to-setup-wsl.md
Labels: scope: docs

#49626 chore(client): rename and update analytics
  client/src/redux/donation-saga.js
  client/src/utils/analytics-strings.test.ts
  client/src/utils/analytics-strings.ts
Labels: platform: client

#49633 fix(curriculum): fixed the spelling error of 'attribute'
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.md
Labels: scope: curriculum

#49636 fix: remove use-node-version + update devops docs
  .npmrc
  docs/devops.md
  package.json
Labels: scope: docs

#49628 feat(client): add type reset
  client/package.json
  client/src/reset.d.ts
  pnpm-lock.yaml
Labels: status: waiting review, platform: client

#49499 feat(api): sessions management
  api/index.ts
  api/middleware/index.ts
  api/package.json
  api/plugins/fastify-jwt-authz.ts
  api/plugins/session-auth.ts
  api/routes/auth0.ts
  api/routes/test.ts
  api/utils/env.ts
  pnpm-lock.yaml
Labels: platform: api

#49646 docs(devops): correct build command for updates
  docs/devops.md
Labels: scope: docs

#49635 chore(cypress): TS Migration: projects.ts, show-cert-from-superblock.ts and challenges.ts
  .github/workflows/e2e-web.yml
  cypress/e2e/default/learn/challenges/projects.js
  cypress/e2e/default/learn/challenges/projects.ts
  cypress/e2e/default/learn/responsive-web-design/show-cert-from-superblock.ts
  cypress/e2e/default/legacy/redirects/challenges.ts
  cypress/tsconfig.json
Labels: scope: tools/scripts

#49643 refactor(client): delete honest-Policy file
  client/src/components/settings/__snapshots__/Honesty.test.tsx.snap
  client/src/components/settings/honesty.tsx
  client/src/resources/honesty-policy.tsx
Labels: status: waiting review, platform: client

#49638 fix(curriculum): use `#<name>` for element id reference
  curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/handle-click-events-with-javascript-using-the-onclick-property.md
Labels: status: waiting review, scope: curriculum

#49637 chore: cache pnpm store
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/i18n-validate-builds.yml
  .github/workflows/i18n-validate-prs.yml
  .github/workflows/node.js-find-unused.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#49662 fix: only cache pnpm store once
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
Labels: scope: tools/scripts

#49629 fix(curriculum): Changed the paragraph about map/filter/reduce in ES6 JS
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-the-rest-parameter-with-function-parameters.md
Labels: status: waiting review, scope: curriculum

#49665 fix(curriculum): Fixing a typo in curriculum
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad69993.md
Labels: scope: curriculum

#49661 fix(curriculum): add missing code elements in challenge 15 of The Odin Project
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-boilerplate-question-c.md
Labels: status: waiting review, scope: curriculum

#49668 fix: typo in Information Security with HelmetJS
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/avoid-inferring-the-response-mime-type-with-helmet.nosniff.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/mitigate-the-risk-of-clickjacking-with-helmet.frameguard.md
Labels: status: waiting review, scope: curriculum

#49690 feat(client): turn nav-links component functional
  client/src/components/Header/components/nav-links.tsx
Labels: platform: client

#49691 fix(deps): add missing dependencies + fix knip
  .github/workflows/node.js-find-unused.yml
  client/package.json
  client/plugins/fcc-source-challenges/package.json
  package.json
  pnpm-lock.yaml
  tools/challenge-parser/package.json
  tools/ui-components/package.json
Labels: platform: client, scope: tools/scripts

#49663 fix(client): use translated string for 'Certification' in timeline
  client/src/components/profile/components/time-line.tsx
Labels: status: waiting review, platform: client

#49683 fix(curriculum): remove unnecessary commas
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac4095512d3066053d73c.md
Labels: scope: curriculum

#49699 chore(tools): remove crowdin configs
  config/crowdin/client/crowdin.yml
  config/crowdin/curriculum/crowdin.yml
  config/crowdin/docs/crowdin.yml
Labels: scope: i18n

#49703 chore(deps): add missing dependencies
  api-server/package.json
  client/package.json
  curriculum/package.json
  package.json
  pnpm-lock.yaml
Labels: platform: api, platform: client

#49413 feat(db): add prisma as ORM
  api/README.md
  api/db/index.ts
  api/db/prisma.ts
  api/index.ts
  api/package.json
  api/prisma/schema.prisma
  api/routes/auth0.ts
  api/routes/test.ts
  api/tools/docker-compose.yml
  api/utils/env.ts
  pnpm-lock.yaml
  sample.env
Labels: platform: api

#48567 feat(UI): implement ToggleButton component
  tools/ui-components/src/index.ts
  tools/ui-components/src/toggle-button/index.ts
  tools/ui-components/src/toggle-button/toggle-button.stories.tsx
  tools/ui-components/src/toggle-button/toggle-button.test.tsx
  tools/ui-components/src/toggle-button/toggle-button.tsx
  tools/ui-components/src/toggle-button/types.ts
Labels: status: waiting update, scope: tools/scripts

#49480 fix(UI): remove the ButtonSpacer
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/client-only-routes/show-unsubscribed.tsx
  client/src/client-only-routes/show-user.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/FourOhFour/index.tsx
  client/src/components/Intro/components/IntroDescription.tsx
  client/src/components/Intro/index.tsx
  client/src/components/Map/index.tsx
  client/src/components/helpers/button-spacer.tsx
  client/src/components/helpers/index.ts
  client/src/components/helpers/spacer.tsx
  client/src/components/landing/components/certifications.tsx
  client/src/components/landing/components/landing-top.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/profile/components/certifications.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/profile.tsx
  client/src/components/settings/__snapshots__/settings-button.test.js.snap
  client/src/components/settings/about.tsx
  client/src/components/settings/certification.js
  client/src/components/settings/danger-zone.tsx
  client/src/components/settings/delete-modal.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/privacy.tsx
  client/src/components/settings/reset-modal.tsx
  client/src/components/settings/sound.tsx
  client/src/components/settings/toggle-setting.tsx
  client/src/components/settings/user-token.tsx
  client/src/components/signout-modal/index.tsx
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
  client/src/pages/blocked.tsx
  client/src/pages/donate.tsx
  client/src/pages/email-sign-up.tsx
  client/src/pages/learn.tsx
  client/src/pages/update-email.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/odin/Show.tsx
  client/src/templates/Challenges/projects/backend/Show.tsx
  client/src/templates/Challenges/projects/frontend/Show.tsx
  client/src/templates/Challenges/video/Show.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  client/src/templates/Introduction/intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: status: waiting review, platform: client

#49659 fix(learn): progress bar label alignment
  client/src/components/Donation/donation.css
  client/src/components/Footer/footer.css
  client/src/components/FourOhFour/404.css
  client/src/components/Header/components/universal-nav.css
  client/src/components/Intro/intro.css
  client/src/components/landing/landing.css
  client/src/components/layouts/global.css
  client/src/components/layouts/variables.css
  client/src/components/search/searchBar/searchbar.css
  client/src/components/settings/honesty.css
  client/src/pages/blocked.css
  client/src/pages/blocked.tsx
  client/src/pages/certification.css
  client/src/pages/email-sign-up.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/codeally/codeally.css
  client/src/templates/Challenges/components/challenge-description.css
  client/src/templates/Introduction/intro.css
  tools/challenge-editor/client/src/index.css
Labels: status: waiting review, platform: client, scope: tools/scripts

#49536 feat: create a demo type provider for typebox
  api/index.ts
  api/package.json
  api/routes/validation-test.ts
  api/schemas/example.ts
  pnpm-lock.yaml
Labels: platform: api

#49711 feat: replace rimraf with rm -rf
  package.json
  pnpm-lock.yaml
  tools/ui-components/package.json
Labels: scope: tools/scripts

#49709 feat(api): setup jest in new api
  api/index.test.ts
  api/jest.config.ts
  api/package.json
  api/plugins/fastify-jwt-authz.test.ts
  api/utils/env.ts
  api/utils/index.test.ts
  package.json
  pnpm-lock.yaml
  sample.env
Labels: status: waiting review, platform: api

#49386 refactor(api): remove rx from `boot/user.js`
  api-server/src/server/boot/user.js
Labels: platform: api

#49684 fix(curriculum): update "SVG canvas" to "SVG" in D3 course
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-attributes-to-the-circle-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-axes-to-a-visualization.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-labels-to-d3-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/add-labels-to-scatter-plot-circles.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-linear-scale-with-d3.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/create-a-scatterplot-with-svg-circles.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/set-a-domain-and-a-range-on-a-scale.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-a-pre-defined-scale-to-place-elements.md
  curriculum/challenges/english/04-data-visualization/data-visualization-with-d3/use-dynamic-scales.md
  curriculum/dictionaries/english/comments.json
Labels: scope: curriculum

#49738 chore: rename templates in kebab-case
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/challenge-description.tsx
  client/src/templates/Challenges/components/hotkeys.tsx
  client/src/templates/Challenges/components/reset-modal.tsx
  client/src/templates/Challenges/components/video-player.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/video/show.tsx
  client/utils/gatsby/challenge-page-creator.js
Labels: status: waiting review, platform: client

#49744 fix(client): misaligned quotes on the 404 page
  client/src/components/FourOhFour/404.css
  client/src/components/FourOhFour/index.tsx
Labels: status: waiting review, platform: client

#49726 refactor(client): clean landing page CSS file
  client/src/components/landing/landing.css
Labels: status: waiting review, platform: client

#49705 feat(client): expose nav donate button for non-donor
  .eslintignore
  .gitignore
  .prettierignore
  client/src/components/Header/components/menu-button.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/Header/components/universal-nav.tsx
  config/misc.js
  config/misc.ts
  cypress/e2e/default/learn/common-components/navbar.ts
  cypress/e2e/default/learn/header/universal-navigation.ts
Labels: status: waiting review, platform: client, scope: tools/scripts

#49723 fix(UI): give the spacer a few standard sizes
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/client-only-routes/show-unsubscribed.tsx
  client/src/client-only-routes/show-user.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/FourOhFour/index.tsx
  client/src/components/Intro/components/intro-description.tsx
  client/src/components/Intro/index.tsx
  client/src/components/Map/index.tsx
  client/src/components/helpers/spacer.tsx
  client/src/components/landing/components/certifications.tsx
  client/src/components/landing/components/landing-top.tsx
  client/src/components/profile/components/certifications.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/profile.tsx
  client/src/components/settings/about.tsx
  client/src/components/settings/certification.js
  client/src/components/settings/danger-zone.tsx
  client/src/components/settings/delete-modal.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/privacy.tsx
  client/src/components/settings/reset-modal.tsx
  client/src/components/settings/sound.tsx
  client/src/components/settings/toggle-setting.tsx
  client/src/components/settings/user-token.tsx
  client/src/components/signout-modal/index.tsx
  client/src/pages/blocked.tsx
  client/src/pages/donate.tsx
  client/src/pages/email-sign-up.tsx
  client/src/pages/learn.tsx
  client/src/pages/update-email.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/video/show.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  client/src/templates/Introduction/intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: status: waiting review, platform: client

#49700 fix: delete an artefact from gatsby-config.js
  client/gatsby-config.js
Labels: platform: client

#49647 fix(client): stop margin from pushing outline out of the container
  client/src/components/Header/components/universal-nav.css
  client/src/components/Header/components/universal-nav.tsx
  cypress/e2e/default/learn/common-components/navbar.ts
Labels: status: waiting review, platform: client, scope: tools/scripts

#49578 fix(learn): implement box-sizing correctly
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6143d2842b497779bad947de.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144d66a5358db0c80628757.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144d7dbdd3e580da730ff45.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144de308591ec10e27d5383.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144e1ba93e435127a7f516d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144ee46a9d6e614c598cc05.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144ee790af79815ad15a832.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144f1410990ea17187a722b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144f3818bfbc51844152e36.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144f42204c8c8195f1f3345.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6144f47b7c631e1a6f304dd5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b07081759c2c691166a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b0d764e4192e5712ed92.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b185ef37522f688316b0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b30464daf630848c21d4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b4b150434734143db6f2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b5623efa8f369f2c3643.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148b59ef318e03875f35c4a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148bd62bbb8c83a5f1fc1b3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148be3d605d6b3ca9425d11.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148be82ca63c63daa8cca49.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148bf49fcc7913f05dbf9b7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148bfc43df3bc40fe0e6405.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c004ffc8434252940dc3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c224ecb157439bc5247c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c434bd731d45617a76c6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c5036ddad94692a66230.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c58bace368497fb11bcf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c6aa9981d74af202125e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148c721e74ecd4c619ae51c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148ceaf5d897d4d8b3554b3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148cf094b3f2b4e8a032c63.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d0b863d10d50544ace0e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d1bdf39c5b5186f5974b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d1f9eb63c252e1f8acc4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d2444d01ab541e64a1e4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d33e31fccf558696c745.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d3fff5186b57123d97e2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d4d57b965358c9fa38bf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d7720f0db36775db868a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d94fdf6a5d6899f8ff15.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148d9825b50a3698aeee644.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e162e255676ae0da6a76.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e19c3e26436be0155690.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e246146b646cf4255f0c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e2dcdd60306dd77d41cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e4d6861a486f60681f36.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e5a204d99e70343a63e4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e62a6f768f71c4f04828.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148e789329dc9736ce59b85.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f34ebedc2274bceeb99c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f600cde42b7670c2611f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f693e0728f77c87f3020.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/6148f6f7d8914c78e93136ca.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/614e0e503b110f76d3ac2ff6.md
Labels: status: waiting review, scope: curriculum

#49656 fix(client): allow endpoint on projects
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form.tsx
Labels: status: waiting review, platform: client

#49491 feat (client): turn classic show into a functional component
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/hotkeys.tsx
Labels: status: waiting update, platform: client

#49796 fix(curriculum): remove `-webkit-clip-path` from sr-only and its test
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fdac1e31692f9a9ad97295.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fdaea3999cb19d76ce717b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fdaf9ff894b6a084ecdc1b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fdafe6f07fd7a1c6785bc2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fdb04d9939f0a26ca51c2b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620159cd5431aa34bc6a4c9c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62015a5da1c95c358f079ebb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62015cd2654a1139321a89d2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62015d8942384c3aed48329e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620167374bb8b4455cd11125.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620174ed519dd7506c1a4b61.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620175b3710a0951cfa86edf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201782cc420715562f36271.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620179bc0a6a2358c72b90ad.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62017b6f47454059bf2d3bd1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62017f47c87be96457c49f46.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62017fa5bbef406580ceb44f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62018243f046a368fab8ffb6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201830cb0c74b69f1b41635.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620186f4b6b8356d2def576b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62018ba1aa263770c953be66.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62018c3e94434a71af1d5eaa.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62018ec29b3ae674f40bef31.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/62019093fe30e278e797d2f6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620191707bc65579ddd3ce15.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620192a767533a7ad19d96d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201995d9ab88e80f1989dce.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/620199c7a7a32c81d4db3410.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a1a7af32c287bd6b8183.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a1cc668a34888f5b2f52.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a20d742f5c89736c8cfb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a42e39bf3b95b6a33bf3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a4adcc6414968b391592.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a5258af7b398b030bfaf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/6201a59be346d399c21d10b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/64076bbeba941114b0027b6a.md
Labels: status: waiting review, scope: curriculum

#49615 feat(client): rename portofolio file to portfolio-projects
  client/src/client-only-routes/show-settings.tsx
  client/src/components/profile/components/portfolio-projects.css
  client/src/components/profile/components/portfolio-projects.tsx
  client/src/components/profile/profile.tsx
  client/src/components/settings/portfolio.tsx
  client/src/redux/prop-types.ts
Labels: platform: client, status: merge conflict

#49798 feat: redirect generation script
  tools/scripts/redirect-gen.ts
Labels: scope: tools/scripts

#49808 fix(docs): instruction of how to install local development environment
  .gitpod.yml
  docs/how-to-add-cypress-tests.md
Labels: status: waiting review, scope: docs

#49695 feat(curriculum): make college algebra with python live
  api-server/src/server/boot/certificate.js
  client/i18n/locales/english/intro.json
  client/src/components/settings/__snapshots__/settings-button.test.js.snap
  client/src/redux/selectors.js
  client/src/resources/cert-and-project-map.ts
  client/utils/help-category-map.json
  config/superblock-order.test.ts
  config/superblock-order.ts
  curriculum/challenges/_meta/build-a-data-graph-explorer-project/meta.json
  curriculum/challenges/_meta/build-a-financial-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-graphing-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-multi-function-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-multi-function-calculator/meta.json
  curriculum/challenges/_meta/build-three-math-games-project/meta.json
  curriculum/challenges/_meta/college-algebra-with-python-conclusion/meta.json
  curriculum/challenges/_meta/learn-applications-of-linear-systems/meta.json
  curriculum/challenges/_meta/learn-business-applications-of-college-algebra/meta.json
  curriculum/challenges/_meta/learn-common-factors-and-square-roots/meta.json
  curriculum/challenges/_meta/learn-exponents-and-logarithms/meta.json
  curriculum/challenges/_meta/learn-fractions-and-decimals/meta.json
  curriculum/challenges/_meta/learn-functions-and-graphing/meta.json
  curriculum/challenges/_meta/learn-how-to-graph-systems-of-equations/meta.json
  curriculum/challenges/_meta/learn-how-to-solve-for-x/meta.json
  curriculum/challenges/_meta/learn-how-to-solve-systems-of-equations/meta.json
  curriculum/challenges/_meta/learn-linear-functions/meta.json
  curriculum/challenges/_meta/learn-parent-graphs-and-polynomials/meta.json
  curriculum/challenges/_meta/learn-quadratic-equations/meta.json
  curriculum/challenges/_meta/learn-ratios-and-proportions/meta.json
  curriculum/challenges/_meta/learn-simple-and-compound-interest/meta.json
  curriculum/challenges/english/00-certifications/college-algebra-with-python-certification/college-algebra-with-python-certification.yml
  curriculum/challenges/english/17-college-algebra-with-python/build-a-data-graph-explorer-project/build-a-data-graph-explorer.md
  curriculum/challenges/english/17-college-algebra-with-python/build-a-financial-calculator-project/build-a-financial-calculator.md
  curriculum/challenges/english/17-college-algebra-with-python/build-a-graphing-calculator-project/build-a-graphing-calculator.md
  curriculum/challenges/english/17-college-algebra-with-python/build-a-multi-function-calculator-project/build-a-multi-function-calculator.md
  curriculum/challenges/english/17-college-algebra-with-python/build-three-math-games-project/build-three-math-games.md
  curriculum/challenges/english/17-college-algebra-with-python/college-algebra-with-python-conclusion/more-resources-in-colab.md
  curriculum/challenges/english/17-college-algebra-with-python/college-algebra-with-python-conclusion/spreadsheets-and-additional-resources.md
  curriculum/challenges/english/17-college-algebra-with-python/learn-exponents-and-logarithms/exponents-and-logarithms.md
  curriculum/challenges/english/17-college-algebra-with-python/learn-fractions-and-decimals/fractions-and-decimals-extra.md
  curriculum/challenges/english/17-college-algebra-with-python/learn-how-to-graph-systems-of-equations/graphing-systems.md
  curriculum/challenges/english/17-college-algebra-with-python/learn-how-to-solve-for-x/how-to-solve-for-x-extra.md
  curriculum/utils.test.ts
  cypress/e2e/default/landing.ts
  cypress/e2e/default/learn/index.ts
  cypress/e2e/default/settings/certifications.ts
  cypress/e2e/default/user/certifications.ts
Labels: status: waiting review, scope: curriculum, platform: api, platform: client, scope: i18n, scope: tools/scripts

#49746 feat: comment on i18n failure
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#49791 feat(api): API documentation with Swagger UI
  api/app.ts
  api/package.json
  api/utils/env.ts
  pnpm-lock.yaml
  sample.env
Labels: status: waiting review, platform: api

#49782 feat(client): add unique message for the alerts
  client/i18n/locales/english/translations.json
Labels: status: waiting review, platform: client, scope: i18n

#49579 chore(a11y): standardize keyboard focus
  client/src/components/Donation/donation.css
  client/src/components/Header/components/universal-nav.css
  client/src/components/layouts/global.css
  client/src/components/layouts/variables.css
  client/src/components/profile/components/portfolio-projects.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/components/challenge-title.css
  client/src/templates/Challenges/components/output.css
  client/src/templates/Introduction/intro.css
  client/static/css/bootstrap.min.css
Labels: platform: client

#49645 fix(curriculum) - Correct HTML Forms registration step 17
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f805f813eaf2049bc2ceea.md
Labels: status: waiting review, scope: curriculum

#49479 feat(client): isolate progress bar
  client/src/components/ProgressBar/index.tsx
  client/src/components/ProgressBar/progress-bar-inner.tsx
  client/src/components/ProgressBar/progress-bar.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/__snapshots__/completion-modal-body.test.tsx.snap
  client/src/templates/Challenges/components/completion-modal-body.test.tsx
  client/src/templates/Challenges/components/completion-modal-body.tsx
  client/src/templates/Challenges/components/completion-modal.css
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/video/show.tsx
  cypress/e2e/default/learn/challenges/progress-bar.ts
Labels: status: waiting review, platform: client, scope: tools/scripts

#49745 fix(curriculum) - clearer RecordCollection instructions
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/record-collection.md
Labels: scope: curriculum

#49812 chore(api): compile TS into /dist (#49812
  .gitignore
  api/.gitignore
  api/package.json
  api/src/app.ts
  api/src/db/prisma.ts
  api/src/middleware/index.ts
  api/src/plugins/fastify-jwt-authz.test.ts
  api/src/plugins/fastify-jwt-authz.ts
  api/src/plugins/session-auth.ts
  api/src/routes/auth0.ts
  api/src/routes/test.ts
  api/src/routes/validation-test.ts
  api/src/schemas/example.ts
  api/src/server.test.ts
  api/src/server.ts
  api/src/utils/env.ts
  api/src/utils/index.test.ts
  api/src/utils/index.ts
  api/tsconfig.build.json
  api/tsconfig.json
  package.json
Labels: platform: api

#49885 fix(client): remove unused i18next variable
  client/i18n/locales/english/translations.json
Labels: platform: client, scope: i18n

#49880 feat(api): dev login
  api/README.md
  api/package.json
  api/src/app.ts
  api/src/routes/auth.ts
  api/src/server.ts
  api/src/utils/env.ts
  sample.env
Labels: platform: api

#49892 chore: use pnpm v8 for deps
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/i18n-validate-builds.yml
  .github/workflows/i18n-validate-prs.yml
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
  .gitpod.Dockerfile
  .npmrc
  api-server/package.json
  client/package.json
  client/plugins/fcc-source-challenges/package.json
  client/plugins/gatsby-remark-node-identity/package.json
  curriculum-server/package.json
  curriculum/package.json
  docs/how-to-setup-freecodecamp-locally.md
  package.json
  pnpm-lock.yaml
  tools/challenge-helper-scripts/package.json
  tools/challenge-parser/package.json
  tools/scripts/build/package.json
  tools/scripts/seed/package.json
  tools/ui-components/package.json
  web/package.json
Labels: scope: docs, platform: api, platform: client, scope: tools/scripts

#49878 fix: add `.keepOpen()` method explanation and examples to `chai-http` challenges
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.md
Labels: status: waiting review, scope: curriculum

#49897 fix: use superblock name in intro.md for new projects
  tools/challenge-helper-scripts/create-project.ts
Labels: status: waiting review, scope: tools/scripts

#49814 fix(client): import TFunction from i18next in profile componenets
  client/src/components/layouts/default.tsx
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/profile/profile.tsx
  client/src/components/search/searchBar/search-bar.tsx
Labels: status: waiting review, platform: client

#49818 fix(client): import Tfunction from i18next in privacy inputs
  client/src/components/settings/privacy.tsx
Labels: status: waiting review, platform: client

#49819 fix(client): import tfunction from i18next in show components
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/preview-portal.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/projects/tool-panel.tsx
  client/src/templates/Challenges/video/show.tsx
Labels: status: waiting review, platform: client

#49820 fix(client): import TFunction from i18next for challenges context
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: platform: client

#49817 fix(client): import TFunction from i18next in forms
  client/src/components/settings/username.tsx
  client/src/pages/email-sign-up.tsx
  client/src/pages/update-email.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
Labels: status: waiting review, platform: client

#49859 refactor(client): wrong TFunction type in searchBar
  client/src/components/search/searchBar/search-bar-optimized.tsx
  client/src/components/search/searchBar/search-bar.tsx
Labels: status: waiting review, platform: client

#49831 fix(client): remove boolean value for non boolean attribute
  client/src/components/Header/components/nav-links.tsx
Labels: status: waiting review, platform: client

#49825 fix(client): align multifileEditor and editor types
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
Labels: status: waiting review, platform: client

#49904 fix(curriculum): check for assignment operator
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/divide-one-decimal-by-another-with-javascript.md
Labels: status: waiting review, scope: curriculum
