Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-08, with the labels that each got.

#51115 fix: invert boolean check for i18n ctas
  client/src/templates/Introduction/components/block.tsx
Labels: platform: learn

#51107 feat(client): remove handle select amount
  client/src/components/Donation/donate-form.tsx
Labels: platform: learn

#51032 fix(landing): fixed trending guides breakpoint and spacing
  client/src/components/Footer/footer.css
Labels: status: waiting review, platform: learn

#51119 fix(curriculum): typo in instructions
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/635bde33c91c80540eae239b.md
Labels: status: waiting review, scope: curriculum

#51058 fix(curriculum): Use child combinator for label location
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f5d2776c854e069560fbe6.md
Labels: status: waiting review, scope: curriculum

#50996 feat(client): remove extra form elements in the settings
  client/src/components/settings/email.tsx
  client/src/components/settings/keyboard-shortcuts.tsx
  client/src/components/settings/scrollbar-width.tsx
  client/src/components/settings/sound.tsx
  client/src/components/settings/theme.tsx
  client/src/components/settings/toggle-button-setting.tsx
  client/src/components/settings/toggle-radio-setting.tsx
  client/src/components/settings/toggle-setting.css
Labels: status: waiting review, platform: learn

#51120 refactor: move client-only utils inside client
  client/src/components/profile/components/time-line.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor-tabs.tsx
  client/src/templates/Challenges/utils/get-target-editor.ts
  client/src/utils/__fixtures__/completed-challenges.ts
  client/src/utils/solution-display-type.test.ts
  client/utils/__fixtures__/challenges.ts
  client/utils/gatsby/challenge-page-creator.js
  client/utils/index.ts
  client/utils/sort-challengefiles.js
  client/utils/sort-challengefiles.test.js
  utils/index.ts
  utils/preformatted-words.json
Labels: platform: learn, scope: tools/scripts

#51132 test(api): count userTokens before getting user
  api/src/routes/user.test.ts
Labels: platform: api

#51016 feat(api): check ms trophy urls exist
  api-server/src/server/boot/challenge.js
  api-server/src/server/utils/ms-learn-utils.js
  api-server/src/server/utils/ms-learn-utils.test.js
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Flash/redux/flash-messages.ts
  client/src/components/formHelpers/form-validators.test.tsx
  client/src/components/formHelpers/form-validators.tsx
  client/src/redux/error-saga.js
  client/src/redux/settings/update-email-saga.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/utils/certificate-missing-message.ts
  client/src/utils/error-messages.ts
  client/src/utils/really-weird-error-message.ts
  client/src/utils/reported-error-message.ts
  client/src/utils/standard-error-message.ts
  utils/validate.test.ts
  utils/validate.ts
Labels: status: waiting review, platform: api, platform: learn, scope: i18n, scope: tools/scripts

#51131 chore(client): bump prisma to v5
  api/package.json
  api/prisma/schema.prisma
  pnpm-lock.yaml
Labels: status: waiting update, platform: api

#51062 feat(api): create endpoints for exams
  api-server/package.json
  api-server/src/common/models/user.js
  api-server/src/common/models/user.json
  api-server/src/common/utils/index.js
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/user.js
  api-server/src/server/boot_tests/challenge.test.js
  api-server/src/server/boot_tests/fixtures.js
  api-server/src/server/model-config.json
  api-server/src/server/models/exam.json
  api-server/src/server/utils/__mocks__/exam.js
  api-server/src/server/utils/exam-schemas.js
  api-server/src/server/utils/exam.js
  api-server/src/server/utils/exam.test.js
  api-server/src/server/utils/publicUserProps.js
  config/constants.js
  pnpm-lock.yaml
Labels: status: waiting review, platform: api

#50429 feat: require JSDoc in new api
  .eslintrc.json
  api/package.json
  api/src/app.ts
  api/src/middleware/index.ts
  api/src/routes/auth.ts
  api/src/routes/challenge.ts
  api/src/routes/deprecated-endpoints.ts
  api/src/routes/deprecated-unsubscribe.ts
  api/src/routes/donate.ts
  api/src/routes/helpers/challenge-helpers.ts
  api/src/routes/settings.ts
  api/src/routes/status.ts
  api/src/routes/user.ts
  api/src/utils/common-challenge-functions.ts
  api/src/utils/error-formatting.ts
  api/src/utils/get-challenges.ts
  api/src/utils/index.ts
  api/src/utils/normalize.ts
  api/src/utils/progress.ts
  api/src/utils/user-token.ts
  api/src/utils/validation.ts
  package.json
  pnpm-lock.yaml
Labels: status: waiting update, platform: api

#51143 fix(test): confirm the decoded token is correct
  api/src/routes/user.test.ts
Labels: status: waiting review, platform: api

#50637 feat(api): email service
  api/package.json
  api/src/app.ts
  api/src/plugins/mail-providers/nodemailer.ts
  api/src/plugins/mail-providers/ses.ts
  api/src/plugins/mailer.test.ts
  api/src/plugins/mailer.ts
  api/src/utils/env.ts
  pnpm-lock.yaml
  sample.env
Labels: status: waiting review, platform: api

#51123 refactor: move client specific scripts inside client
  .gitpod.yml
  client/package.json
  client/tools/create-env.ts
  client/tools/download-trending.ts
  client/tools/read-env.ts
  client/tools/schema/trending-schema.ts
  client/tsconfig.json
  package.json
  pnpm-lock.yaml
  tools/scripts/build/package.json
Labels: platform: learn, scope: tools/scripts

#51172 feat: make fluid an option in container component
  tools/ui-components/src/container/container.stories.tsx
Labels: scope: tools/scripts

#51177 chore: remove unused parts of prisma schema
  api/prisma/schema.prisma
Labels: platform: api

#51174 docs: mention the seed:certified-user command in the setup guide
  docs/how-to-setup-freecodecamp-locally.md
Labels: status: waiting review, scope: docs

#51176 refactor: DRY using Certification enum
  client/src/components/settings/certification.tsx
  client/src/redux/selectors.js
  client/src/resources/cert-and-project-map.ts
  client/utils/index.ts
  config/certification-settings.ts
Labels: status: waiting review, platform: learn

#51112 feat(api): improve performance with profanity filter replacement
  api-server/package.json
  api-server/src/common/models/user.js
  api/package.json
  api/src/routes/settings.ts
  pnpm-lock.yaml
Labels: platform: api

#51189 refactor(client): simplify certification config
  client/config/cert-and-project-map.ts
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/ProgressBar/progress-bar.tsx
  client/src/components/settings/certification.tsx
  client/src/redux/prop-types.ts
  client/src/redux/settings/settings-sagas.js
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/tsconfig.json
Labels: status: waiting review, platform: learn

#51125 fix(client): make exam client work with new endpoints
  client/i18n/locales/english/translations.json
  client/package.json
  client/src/components/Flash/redux/flash-messages.ts
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  client/src/templates/Challenges/exam/components/exam-results.tsx
  client/src/templates/Challenges/exam/components/exit-exam-modal.tsx
  client/src/templates/Challenges/exam/components/finish-exam-modal.tsx
  client/src/templates/Challenges/exam/exam.css
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/redux/selectors.js
  client/src/utils/ajax.ts
  client/src/utils/format-seconds.ts
  client/src/utils/tone/index.ts
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/guided-project-debug-and-handle-exceptions-in-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/foundational-c-sharp-with-microsoft-certification-exam/foundational-c-sharp-with-microsoft-certification-exam.md
  pnpm-lock.yaml
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#51188 fix: map header having a hover effect
  client/src/templates/Introduction/intro.css
Labels: platform: learn

#51187 fix: dropdown svg margin that move the text from the center
  tools/ui-components/src/drop-down/drop-down.tsx
Labels: status: waiting review, scope: tools/scripts

#51201 chore(client): add static robots.txt
  client/static/robots.txt
Labels: platform: learn

#51129 feat(e2e): adding playwright and migrate landing page e2e tests
  .eslintignore
  .eslintrc.json
  .github/workflows/e2e-playwright.yml
  .gitignore
  docs/how-to-add-playwright-tests.md
  e2e/landing.spec.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tsconfig.json
  jest.config.js
  package.json
  playwright-install.sh
  pnpm-lock.yaml
  tools/challenge-parser/parser/plugins/add-seed.test.js
Labels: status: waiting review, scope: docs, scope: tools/scripts

#51219 feat(e2e): Update e2e-playwright.yml test job name
  .github/workflows/e2e-playwright.yml
Labels: scope: tools/scripts

#51217 fix: ensure examResults are falsy before starting
  client/src/templates/Challenges/redux/completion-epic.js
Labels: platform: learn

#51220 feat(e2e): adding strategy for playwright github action tests
  .github/workflows/e2e-playwright.yml
Labels: scope: tools/scripts

#51216 feat(e2e): adding playwright and migrate landing page e2e tests
  .eslintignore
  .eslintrc.json
  .github/workflows/e2e-playwright.yml
  .gitignore
  docs/how-to-add-playwright-tests.md
  e2e/landing.spec.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tsconfig.json
  jest.config.js
  package.json
  playwright-install.sh
  pnpm-lock.yaml
  tools/challenge-parser/parser/plugins/add-seed.test.js
Labels: scope: docs, scope: tools/scripts

#51210 refactor(api): remove extraneous lookup
  api-server/src/server/boot/certificate.js
Labels: platform: api

#51234 docs: update reply template
  docs/reply-templates.md
Labels: scope: docs

#51249 chore: downgrade babel back to 7.22.9
  client/package.json
  pnpm-lock.yaml
Labels: platform: learn

#51253 revert(deps): update babel monorepo to v7.22.10
  client/package.json
  pnpm-lock.yaml
Labels: platform: learn

#51232 refactor: convert is-audited to TypeScript
  .gitignore
  .prettierignore
  client/src/components/Map/index.tsx
  client/src/templates/Introduction/components/block.tsx
  config/superblocks.test.ts
  config/superblocks.ts
  curriculum/get-challenges.js
  curriculum/utils.js
  tools/challenge-auditor/index.ts
  utils/is-audited.js
  utils/is-audited.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#51209 feat: return certSlug on /certificate/showCert
  api-server/src/server/boot/certificate.js
Labels: platform: api

#51260 fix: allow submissions to complete if signed out
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/completion-epic.test.js
Labels: status: waiting review, platform: learn

#51261 feat: add aa test in react component
  client/src/components/Donation/donation-modal.tsx
Labels: status: waiting review, platform: learn

#51195 fix(client): exam solution widget
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/SolutionViewer/exam-results-modal.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/certification.tsx
  client/src/components/solution-display-widget/index.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/redux/selectors.js
  client/src/utils/solution-display-type.ts
  cypress/e2e/default/learn/challenges/projects.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#51266 refactor: move types to config from client
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Donation/types.ts
  config/donation-settings.ts
Labels: platform: learn

#51198 feat: show upcoming certifications
  api-server/src/common/models/user.json
  api-server/src/server/boot/certificate.js
  api-server/src/server/utils/publicUserProps.js
  client/config/cert-and-project-map.test.ts
  client/config/cert-and-project-map.ts
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-project-links.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/components/ProgressBar/progress-bar.tsx
  client/src/components/settings/certification.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Introduction/components/cert-challenge.tsx
  config/certification-settings.ts
  pnpm-lock.yaml
  tools/scripts/build/package.json
  tools/scripts/build/reset.d.ts
  tools/scripts/seed/certified-user-data.js
  tools/scripts/seed/seed-demo-user.js
Labels: status: waiting review, platform: api, platform: learn, scope: tools/scripts

#51262 fix: clean expose_donate_button AB test
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.tsx
  config/misc.ts
Labels: platform: learn, status: waiting triage

#51164 fix: add test for i18n CTAs
  client/src/redux/prop-types.ts
  client/src/templates/Introduction/components/block.test.tsx
Labels: status: waiting review, platform: learn

#51221 refactor: remove ts expect error in timeLine file
  client/src/components/profile/components/time-line.tsx
Labels: status: waiting review, platform: learn

#51270 fix: note added for frontend libraries superblock page
  client/src/templates/Introduction/components/super-block-intro.tsx
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-markdown-previewer.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-random-quote-machine.md
Labels: scope: curriculum, platform: learn

#51185 feat: replace bootstrap component with container component
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/client-only-routes/show-unsubscribed.tsx
  client/src/components/landing/components/as-seen-in.tsx
  client/src/components/landing/components/landing-top.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/profile/profile.tsx
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
  client/src/pages/blocked.tsx
  client/src/pages/donate.tsx
  client/src/pages/email-sign-up.tsx
  client/src/pages/learn.tsx
  client/src/pages/update-email.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/video/show.tsx
  client/src/templates/Introduction/intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  tools/ui-components/src/index.ts
  tools/ui-components/tailwind.config.js
Labels: status: waiting review, platform: learn, scope: tools/scripts

#51184 feat: generate types for ui-components
  .eslintignore
  .prettierignore
  tools/ui-components/.gitignore
  tools/ui-components/package.json
  tools/ui-components/rollup.config.js
  tools/ui-components/src/drop-down/drop-down.tsx
  tools/ui-components/tsconfig.json
Labels: status: waiting review, scope: tools/scripts

#51288 fix: allow SHOW_UPCOMING_CHANGES=true on staging
  client/tools/create-env.ts
Labels: platform: learn

#51287 fix(testimonials): Fixed alt text accessibility
  client/i18n/locales/english/translations.json
  client/src/components/landing/components/campers-image.tsx
  client/src/components/landing/components/testimonials.tsx
Labels: platform: learn, scope: i18n

#51282 fix: remove split function to blocklist alphabet
  config/constants.js
Labels: status: waiting review

#47313 feat(ui-components): implement basic Tabs component
  pnpm-lock.yaml
  tools/ui-components/package.json
  tools/ui-components/src/base.css
  tools/ui-components/src/tabs/index.ts
  tools/ui-components/src/tabs/tabs.stories.tsx
  tools/ui-components/src/tabs/tabs.test.tsx
  tools/ui-components/src/tabs/tabs.tsx
Labels: status: waiting review, scope: tools/scripts

#51326 refactor: remove extra fragment import
  client/src/components/profile/components/certifications.tsx
Labels: platform: learn

#51277 refactor(Playwright): separate kernel dep from generic installation
  docs/how-to-add-playwright-tests.md
  package.json
Labels: status: waiting review, scope: docs

#51318 feat: remove slim width row
  client/src/components/helpers/index.ts
  client/src/components/helpers/slim-width-row.tsx
Labels: status: waiting review, platform: learn

#51329 fix(a11y): search input
  client/src/components/Header/components/universal-nav.css
  client/src/components/search/searchBar/search-bar.tsx
Labels: status: waiting review, scope: a11y, platform: learn

#51279 fix(curriculum): remove color wheel mention
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/617bc3386dc7d07d6469bf20.md
Labels: status: waiting review, scope: curriculum

#51324 feat: add missing properties in Col component
  tools/ui-components/src/col/col.tsx
  tools/ui-components/src/col/types.ts
Labels: status: waiting review, scope: tools/scripts

#51202 fix: show outline around backend challenges link
  client/src/templates/Introduction/intro.tsx
  cypress/e2e/default/learn/responsive-web-design/basic-css/index.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#51275 refactor: clean extra wrapper around challenge header
  client/src/templates/Challenges/components/__snapshots__/challenge-title.test.tsx.snap
  client/src/templates/Challenges/components/challenge-title.css
  client/src/templates/Challenges/components/challenge-title.tsx
Labels: status: waiting review, platform: learn

#51359 fix(curriculum): wrong instruction for CSS
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646f4e46e81f7021d5fd9c1d.md
Labels: status: waiting review, scope: curriculum

#51355 fix(curriculum): test variable collision with common user variable
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.md
Labels: status: waiting review, scope: curriculum

#51316 feat: remove abstraction in formFields
  client/src/components/formHelpers/form-fields.tsx
  client/src/components/formHelpers/form.test.tsx
Labels: status: waiting review, platform: learn

#51274 fix(curriculum): update tests for spread challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-parameter-to-reassign-array-elements.md
Labels: status: waiting review, scope: curriculum

#51363 chore: fire downloads on mondays and wednesdays
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-download.docs.yml
Labels: scope: tools/scripts

#51276 feat(e2e): adding playwright e2e tests for /learn page
  e2e/learn.spec.ts
Labels: status: waiting update

#51358 test(ui-components): inactive tab should be hidden
  tools/ui-components/src/tabs/tabs.test.tsx
Labels: scope: tools/scripts

#51353 fix(curriculum): add C# content suggestions from MS
  client/i18n/locales/english/intro.json
  client/src/templates/Challenges/projects/frontend/show.tsx
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/add-looping-logic-to-your-code-using-the-do-while-and-while-statements-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/branch-the-flow-of-code-using-the-switch-case-construct-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/challenge-project-develop-branching-and-looping-structures-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/control-variable-scope-and-logic-using-code-blocks-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/evaluate-boolean-expressions-to-make-decisions-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/guided-project-develop-conditional-branching-and-looping-structures-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/iterate-through-a-code-block-using-the-for-statement-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/trophy-add-logic-to-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/add-decision-logic-to-your-code-using-if-else-and-else-if-statements-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/call-methods-from-the-dot-net-class-library-using-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/challenge-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/create-readable-code-with-conventions-whitespace-and-comments-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/guided-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/install-and-configure-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/store-and-iterate-through-sequences-of-data-using-arrays-and-the-foreach-statement-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/trophy-create-and-run-simple-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/challenge-project-create-a-mini-game.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/create-c-sharp-methods-that-return-values.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/create-c-sharp-methods-with-parameters.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/guided-project-plan-a-petting-zoo-visit.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/trophy-create-methods-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/write-your-first-c-sharp-method.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/challenge-project-debug-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/create-and-throw-exceptions-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/guided-project-debug-and-handle-exceptions-in-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/implement-exception-handling-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/implement-the-visual-studio-code-debugging-tools-for-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/review-the-principles-of-code-debugging-and-exception-handling.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/trophy-debug-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/challenge-project-work-with-variable-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/choose-the-correct-data-type-in-your-c-sharp-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/convert-data-types-using-casting-and-conversion-techniques-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/format-alphanumeric-data-for-presentation-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/guided-project-work-with-variable-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/modify-the-content-of-string-using-built-in-string-data-type-methods-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/perform-operations-on-arrays-using-helpers-methods-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/trophy-work-with-variable-data-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-and-print-student-grades.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-final-gpa.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/perform-basic-operations-on-numbers-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/perform-basic-string-formatting-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/store-and-retrieve-data-using-literal-and-variable-values-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/trophy-write-your-first-code-using-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/write-your-first-c-sharp-code.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#51272 fix(curriculum): check individual properties instead of shorthand
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/614100d7d335bb2a5ff74f1f.md
Labels: status: waiting review, scope: curriculum

#51366 test(ui-components): title should be tag-like text
  tools/ui-components/src/button/button.test.tsx
Labels: scope: tools/scripts

#50636 feat: coderoad endpoint
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/schemas.ts
  api/src/utils/get-challenges.ts
Labels: status: waiting review, platform: api

#51387 revert: update babel monorepo
  client/package.json
  curriculum/package.json
  package.json
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
  tools/ui-components/package.json
Labels: platform: learn, scope: tools/scripts

#51401 fix: add build jobs to CI to make renovate behave
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-web.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#51402 revert(deps): update babel monorepo
  client/package.json
  curriculum/package.json
  package.json
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
  tools/ui-components/package.json
Labels: platform: learn, scope: tools/scripts

#51354 feat(client/curriclum): make C# live
  api-server/src/server/boot/certificate.js
  api-server/src/server/boot/user.js
  api-server/src/server/utils/certTypes.json
  client/config/cert-and-project-map.ts
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/components/Map/index.tsx
  client/src/components/landing/components/certifications.tsx
  client/src/components/profile/profile.test.tsx
  client/src/components/settings/certification.test.tsx
  client/src/components/settings/certification.tsx
  client/src/pages/certification.css
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  config/certification-settings.ts
  config/superblocks.ts
  curriculum/challenges/_meta/add-logic-to-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/create-and-run-simple-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/create-methods-in-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/debug-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/foundational-c-sharp-with-microsoft-certification-exam/meta.json
  curriculum/challenges/_meta/work-with-variable-data-in-c-sharp-console-applications/meta.json
  curriculum/challenges/_meta/write-your-first-code-using-c-sharp/meta.json
  curriculum/utils.test.ts
  cypress/e2e/default/landing.ts
  cypress/e2e/default/learn/index.ts
  cypress/e2e/default/settings/certifications.ts
  cypress/e2e/default/user/certifications.ts
  docs/how-to-enable-new-languages.md
  e2e/landing.spec.ts
  tools/challenge-editor/api/configs/super-block-list.ts
  tools/scripts/build/build-external-curricula-data.test.ts
Labels: scope: curriculum, scope: docs, platform: api, platform: learn, scope: i18n, scope: tools/scripts

#51404 fix(CI): adjust job queue and remove wasteful runs
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-web.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#51415 fix(CI): switch checks high progress langs
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#51373 refactor: use challengeTypes instead of magic numbers
  api/src/routes/challenge.ts
Labels: platform: api

#51369 fix: type error in drop down
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: platform: learn

#51411 feat: accept modal bears AB test
  client/src/assets/icons/cup.tsx
  client/src/assets/icons/heart.tsx
  client/src/components/Donation/donation-modal.tsx
Labels: status: waiting review

#51423 refactor: stop sharing api/client specific config
  api-server/config/cors-settings.js
  api-server/config/secrets.js
  api-server/src/server/boot/authentication.js
  api-server/src/server/boot/challenge.js
  api-server/src/server/boot/donate.js
  api-server/src/server/component-passport.js
  api-server/src/server/datasources.production.js
  api-server/src/server/index.js
  api-server/src/server/middlewares/constant-headers.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/middlewares/sentry-error-handler.js
  api-server/src/server/middlewares/sentry-request-handler.js
  api-server/src/server/middlewares/sentry-tracing-handler.js
  api-server/src/server/middlewares/user-token.js
  api-server/src/server/passport-providers.js
  api-server/src/server/utils/donation.js
  api-server/src/server/utils/donation.test.js
  api-server/src/server/utils/getSetAccessToken.js
  api-server/src/server/utils/redirection.js
  api/src/routes/challenge.ts
  client/config/analytics-settings.ts
  client/config/misc.ts
  client/src/analytics/index.ts
  client/src/components/Header/components/universal-nav.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/preview-portal.tsx
  config/analytics-settings.js
Labels: platform: api, platform: learn

#51424 fix: use env.ts to get JWT_SECRET
  api/src/routes/challenge.ts
Labels: platform: api

#51289 feat: create docker images for client
  .dockerignore
  .github/workflows/temporary-container-checks.yml
  client/package.json
  docker-compose.yml
  docker/web/Dockerfile
  docker/web/pm2-start.sh
  docker/web/serve.json
  docker/web/serve.sh
Labels: platform: learn, scope: tools/scripts

#51439 fix(curriculum/client): C# instructions
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/ms-trophy/link-ms-user.tsx
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/add-looping-logic-to-your-code-using-the-do-while-and-while-statements-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/branch-the-flow-of-code-using-the-switch-case-construct-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/challenge-project-develop-branching-and-looping-structures-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/control-variable-scope-and-logic-using-code-blocks-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/evaluate-boolean-expressions-to-make-decisions-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/guided-project-develop-conditional-branching-and-looping-structures-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/iterate-through-a-code-block-using-the-for-statement-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/add-logic-to-c-sharp-console-applications/trophy-add-logic-to-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/add-decision-logic-to-your-code-using-if-else-and-else-if-statements-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/call-methods-from-the-dot-net-class-library-using-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/challenge-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/create-readable-code-with-conventions-whitespace-and-comments-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/guided-project-develop-foreach-and-if-elseif-else-structures-to-process-array-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/install-and-configure-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/store-and-iterate-through-sequences-of-data-using-arrays-and-the-foreach-statement-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-and-run-simple-c-sharp-console-applications/trophy-create-and-run-simple-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/challenge-project-create-a-mini-game.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/create-c-sharp-methods-that-return-values.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/create-c-sharp-methods-with-parameters.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/guided-project-plan-a-petting-zoo-visit.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/trophy-create-methods-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/create-methods-in-c-sharp-console-applications/write-your-first-c-sharp-method.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/challenge-project-debug-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/create-and-throw-exceptions-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/guided-project-debug-and-handle-exceptions-in-a-c-sharp-console-application-using-visual-studio-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/implement-exception-handling-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/implement-the-visual-studio-code-debugging-tools-for-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/review-the-principles-of-code-debugging-and-exception-handling.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/debug-c-sharp-console-applications/trophy-debug-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/challenge-project-work-with-variable-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/choose-the-correct-data-type-in-your-c-sharp-code.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/convert-data-types-using-casting-and-conversion-techniques-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/format-alphanumeric-data-for-presentation-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/guided-project-work-with-variable-data-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/modify-the-content-of-string-using-built-in-string-data-type-methods-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/perform-operations-on-arrays-using-helpers-methods-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/work-with-variable-data-in-c-sharp-console-applications/trophy-work-with-variable-data-in-c-sharp-console-applications.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-and-print-student-grades.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/guided-project-calculate-final-gpa.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/perform-basic-operations-on-numbers-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/perform-basic-string-formatting-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/store-and-retrieve-data-using-literal-and-variable-values-in-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/trophy-write-your-first-code-using-c-sharp.md
  curriculum/challenges/english/19-foundational-c-sharp-with-microsoft/write-your-first-code-using-c-sharp/write-your-first-c-sharp-code.md
Labels: scope: curriculum, platform: learn, scope: i18n

#51425 fix(curriculum): display C# training URL link appropriately
  client/src/templates/Challenges/components/challenge-description.css
  client/src/templates/Challenges/ms-trophy/link-ms-user.css
Labels: status: waiting review, platform: learn

#51446 fix(curriculum): Update the misspelling in cat painting project
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/6476f5c17f99146071ee884c.md
Labels: status: waiting review, scope: curriculum
