Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-05, with the labels that each got.

#50206 fix: ensure correct types for project links
  client/src/client-only-routes/show-project-links.tsx
  client/src/resources/cert-and-project-map.ts
Labels: status: waiting review, platform: client

#50235 feat(client): revert the change to language icon
  client/src/assets/icons/language-globe.tsx
Labels: platform: client

#50117 feat(client): add react suspense and lazy loading
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
Labels: status: waiting update, platform: client

#50250 fix(client): window title in rdb challenges
  client/src/templates/Challenges/codeally/show.tsx
Labels: status: waiting review, platform: client

#50248 fix(api): allow fastify to set content-type dynamically
  api/src/plugins/security.ts
  api/src/server.test.ts
Labels: platform: api

#50245 Chore(curriculum): removed unnecessary code tags in football team cards project to help localization
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf8ec006a776ff5f6e3c68.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf90d4696d8f00851873a4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf91b0ff6e9300ead140cc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf920228531a0145abd0b3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf93472de77d01bf8474bf.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63d120a05ee93f38353b84c0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e02a333354343b595d64ca.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e0334b7a24bd3c96aca4de.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a0a860790eebe61bf908.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/641fcfd468185384ac218b7d.md
Labels: status: waiting review, scope: curriculum

#50247 chore(curriculum): fixed inaccuracies and added code tags in fcc author page new JS project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641d9a19bff38d34d5a5edb8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da42481d90c4314c99e94.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641daa5ea050f24a7cade6e6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641daae5e18eae4b562633e4.md
Labels: status: waiting review, scope: curriculum

#50243 feat(client): add faq section to landing page
  client/i18n/locales/english/translations.json
  client/src/components/landing/components/faq.tsx
  client/src/components/landing/components/testimonials.tsx
  client/src/components/landing/index.tsx
  client/src/components/landing/landing.css
  cypress/e2e/default/landing.ts
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#50200 feat(tools): use context to set dropup in the dropdown
  tools/ui-components/src/drop-down/drop-down-button/drop-down-toggle.tsx
  tools/ui-components/src/drop-down/drop-down-button/index.ts
  tools/ui-components/src/drop-down/drop-down.stories.tsx
  tools/ui-components/src/drop-down/drop-down.test.tsx
  tools/ui-components/src/drop-down/drop-down.tsx
Labels: status: waiting review, scope: tools/scripts

#50264 chore: codesee ignores gitignore
  .github/workflows/codesee-diagram.yml
Labels: scope: tools/scripts

#50268 fix(client): LanguageList export
  client/src/components/Header/components/language-list.tsx
  client/src/components/Header/components/universal-nav.tsx
Labels: status: waiting review, platform: client

#50272 chore(curriculum): fixed variable name in spam filter project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/642349b5b7bae31af21cd5f8.md
Labels: status: waiting review, scope: curriculum

#50254 fix: remove comments from code examples
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f29ce62aea65eb041758c8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/641fcfd468185384ac218b7d.md
Labels: scope: curriculum

#50242 fix - clarify text, example, and seed code
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.md
Labels: scope: curriculum

#50274 feat(client): add progress donation modal cta rotation
  client/i18n/locales/english/translations.json
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation.css
Labels: status: waiting review, platform: client, scope: i18n

#50284 feat(tools): add tests for language selector
  cypress/e2e/default/learn/header/lang-selector.ts
Labels: status: waiting review, scope: tools/scripts

#47683 fix: remove tool panel buttons from mobile layout
  client/src/components/layouts/learn.tsx
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: status: waiting review, scope: UI, platform: client

#50269 fix(curriculum): Be more explicit about using parameters
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/testing-objects-for-properties.md
Labels: status: waiting review, scope: curriculum

#50294 feat: better lang selector tests
  cypress/e2e/default/learn/header/lang-selector.ts
Labels: scope: tools/scripts

#50256 feat(client): polish the styles for the lang button
  client/src/assets/icons/language-globe.tsx
  client/src/components/Header/components/menu-button.tsx
  client/src/components/Header/components/universal-nav.css
Labels: status: waiting review, platform: client

#50088 feat: replace code lock epic with saga
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/code-lock-epic.js
  client/src/templates/Challenges/redux/code-storage-epic.js
  client/src/templates/Challenges/redux/index.js
Labels: status: waiting review, platform: client

#49780 feat(client): delete generic success message in the alert
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  client/i18n/locales/english/translations.json
  client/src/components/Flash/redux/flash-messages.ts
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: api, platform: client, scope: i18n

#50289 test: add test utilities
  api/jest.utils.ts
  api/src/server.test.ts
Labels: platform: api

#50286 feat(api): add keyboard shortcut endpoint
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
Labels: status: waiting review, platform: api

#50316 chore(i18n,learn): include 2 translated certs in Portuguese curriculum
  config/superblock-order.ts
Labels: status: waiting review

#50305 feat(api): add subscribe to quincy email endpoint
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
Labels: status: waiting review, platform: api

#50323 fix(client): allow user code to build after update
  client/src/templates/Challenges/redux/index.js
Labels: platform: client

#50288 chore(curriculum): fixed a test and some text in odin project's css foundations
  curriculum/challenges/english/16-the-odin-project/top-learn-css-foundations-projects/css-foundations-exercise-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-css-foundations-projects/css-foundations-exercise-b.md
Labels: scope: curriculum

#50326 docs: enabling new languages link to handbook
  docs/language-lead-handbook.md
Labels: scope: docs

#50337 chore(curriculum): fixed header names in algebra with Python course
  curriculum/challenges/english/17-college-algebra-with-python/learn-functions-and-graphing/functions-and-graphing-extra.md
  curriculum/challenges/english/17-college-algebra-with-python/learn-functions-and-graphing/functions.md
  curriculum/challenges/english/17-college-algebra-with-python/learn-functions-and-graphing/graphing.md
Labels: status: waiting review, scope: curriculum

#50325 test: unlock when syntax error fixed
  client/src/templates/Challenges/components/output.tsx
  cypress/e2e/default/learn/challenge-hot-keys.ts
  cypress/e2e/default/learn/challenges/backend.ts
  cypress/e2e/default/learn/challenges/javascript.ts
  cypress/e2e/default/learn/challenges/output.ts
  cypress/support/selectors.ts
Labels: platform: client, scope: tools/scripts

#50257 feat: add exercise C The Odin Project
  curriculum/challenges/english/16-the-odin-project/top-learn-css-foundations-projects/css-foundations-exercise-c.md
Labels: status: waiting review, scope: curriculum

#50345 fix(docs): correct typos
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#50336 fix(client): error flash when toggling send quincy email in settings
  client/src/components/settings/email.tsx
Labels: platform: client

#50287 feat: add exercise E The Odin Project
  curriculum/challenges/english/16-the-odin-project/top-learn-css-foundations-projects/css-foundations-exercise-e.md
Labels: status: waiting review, scope: curriculum

#50349 fix(client): show certification border to visitors
  client/src/pages/certification.css
Labels: status: waiting review, platform: client

#50278 feat: add exercise D The Odin Project
  curriculum/challenges/english/16-the-odin-project/top-learn-css-foundations-projects/css-foundations-exercise-d.md
Labels: status: waiting review, scope: curriculum

#50358 fix(curriculum): Added missing full stop after 'entirely'.
  curriculum/challenges/english/03-front-end-development-libraries/jquery/remove-an-element-using-jquery.md
Labels: status: waiting review, scope: curriculum

#50363 docs: troubleshooting Gitpod ports
  docs/how-to-setup-freecodecamp-locally.md
Labels: scope: docs

#50364 fix(docs): Gitpod not GitPod
  docs/how-to-add-cypress-tests.md
  docs/how-to-setup-freecodecamp-locally.md
  docs/troubleshooting-development-issues.md
Labels: scope: docs

#50244 feat(client): remove the height from the space component
  client/src/components/helpers/spacer.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/pages/__snapshots__/email-sign-up.test.js.snap
Labels: status: waiting review, platform: client

#50300 feat(api): add update privacy terms endpoint
  api/src/app.ts
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/routes/test.ts
Labels: status: waiting review, platform: api

#50394 fix(tools): api settings test
  api/src/routes/settings.test.ts
Labels: platform: api

#50392 docs: improve new api's mongodb setup guide
  api/README.md
Labels: platform: api

#50352 feat(client): delete a not valid variable
  client/src/components/helpers/avatar-renderer.tsx
  config/misc.ts
  tools/scripts/seed/certified-user-data.js
  tools/scripts/seed/seed-demo-user.js
Labels: status: waiting review, platform: client, scope: tools/scripts

#50380 feat/AB-test-modal-bear
  client/src/assets/images/components/bear-block-completion-modal.tsx
  client/src/assets/images/components/bear-progress-modal.tsx
  client/src/components/Donation/donation-modal.tsx
Labels: status: waiting review, platform: client

#50387 fix(curriculum): better user understanding in Step-93
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d2f0e9440bc27caee1cec.md
Labels: status: waiting review, scope: curriculum

#50395 fix(curriculum): test suite no longer dependent on user variable
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.md
Labels: scope: curriculum

#50403 feat: deprecated endpoint
  api/src/app.ts
  api/src/routes/deprecated-endpoints.test.ts
  api/src/routes/deprecated-endpoints.ts
Labels: status: waiting review, platform: api

#50406 test: stop mocking FREECODECAMP_NODE_ENV
  api/src/server.test.ts
Labels: platform: api

#50356 feat: add exam environment
  api-server/src/server/boot/challenge.js
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/assets/icons/index.tsx
  client/src/components/layouts/default.tsx
  client/src/pages/learn/example-certification/example-certification-exam/index.md
  client/src/pages/learn/example-certification/index.md
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/selectors.js
  client/src/resources/cert-and-project-map.ts
  client/src/templates/Challenges/exam/components/exam-results.tsx
  client/src/templates/Challenges/exam/components/finish-exam-modal.tsx
  client/src/templates/Challenges/exam/exam.css
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/redux/selectors.js
  client/utils/challenge-types.js
  client/utils/gatsby/challenge-page-creator.js
  config/certification-settings.ts
  config/superblock-order.test.ts
  config/superblock-order.ts
  curriculum/challenges/_meta/example-certification-exam/meta.json
  curriculum/challenges/english/00-certifications/example-certification/example-certifcation.yml
  curriculum/challenges/english/99-example-certification/example-certification-exam/certification-exam.md
  curriculum/dictionaries/english/comments-to-not-translate.json
  curriculum/dictionaries/english/comments.json
  curriculum/schema/challenge-schema.js
  curriculum/utils.js
  curriculum/utils.test.ts
  tools/challenge-auditor/index.ts
  tools/challenge-helper-scripts/fs-utils.ts
  tools/scripts/build/build-external-curricula-data.test.ts
  utils/is-audited.js
Labels: status: waiting review, scope: curriculum, platform: api, platform: client, scope: i18n, scope: tools/scripts

#50275 feat(api): add csrf protection
  api/jest.utils.test.ts
  api/jest.utils.ts
  api/package.json
  api/src/app.ts
  api/src/routes/auth.ts
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/server.test.ts
  api/src/utils/env.ts
  api/tsconfig.json
  pnpm-lock.yaml
Labels: status: waiting review, platform: api

#50418 feat(api): add json protocol to prisma client
  api/prisma/schema.prisma
Labels: status: waiting review, platform: api

#50332 feat(api): add socials links endpoint
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
Labels: status: waiting review, platform: api

#50304 feat(api): create account delete endpoint
  api/jest.utils.ts
  api/src/app.ts
  api/src/db/prisma.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
Labels: platform: api, status: waiting triage

#50423 fix(api): socials endpoint test
  api/src/routes/settings.test.ts
Labels: platform: api

#50428 refactor(test): remove extra undefined mark
  api/src/routes/settings.test.ts
Labels: status: waiting review, platform: api

#50416 Array literal spread syntax fixed
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-the-spread-operator-to-evaluate-arrays-in-place.md
Labels: scope: curriculum

#50360 feat(client): change of container & anchor's css on project hover
  client/src/components/profile/components/portfolio-projects.css
  client/src/components/profile/components/portfolio-projects.tsx
Labels: status: waiting update, platform: client

#50400 feat(client): add contribute button on header's navbar
  client/i18n/locales/arabic/links.json
  client/i18n/locales/chinese-traditional/links.json
  client/i18n/locales/chinese/links.json
  client/i18n/locales/english/links.json
  client/i18n/locales/english/translations.json
  client/i18n/locales/espanol/links.json
  client/i18n/locales/german/links.json
  client/i18n/locales/italian/links.json
  client/i18n/locales/japanese/links.json
  client/i18n/locales/portuguese/links.json
  client/i18n/locales/ukrainian/links.json
  client/src/components/Header/components/nav-links.tsx
Labels: status: waiting update, platform: client, scope: i18n

#50445 refactor(client): remove extra operation
  client/src/client-only-routes/show-certification.tsx
Labels: status: waiting review, platform: client

#50447 fix(curriculum): improve clunky wording in css markers step 5
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616965351e74d4689eb6de30.md
Labels: scope: curriculum

#50464 fix(client): typo in function name
  client/src/components/Header/components/language-list.tsx
Labels: status: waiting review, platform: client

#50468 chore: add unsubscribeIds to demo users
  tools/scripts/seed/certified-user-data.js
  tools/scripts/seed/seed-demo-user.js
Labels: status: waiting review, scope: tools/scripts

#50479 chore(i18n, learn): added 2 translated certs to Italian curriculum
  config/superblock-order.ts
Labels: status: waiting review

#50488 fix(curriculum): Font Awesome icons wording update
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/add-font-awesome-icons-to-all-of-our-buttons.md
Labels: status: waiting review, scope: curriculum

#50485 fix(api): rename account delete endpoint
  api/src/app.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
Labels: platform: api

#50466 fix(api): cleanup test dbs after use
  api/src/db/prisma.ts
Labels: platform: api

#50496 fix(api-server): a typo in the info message for resubscribe
  api-server/src/server/boot/randomAPIs.js
Labels: status: waiting review, platform: api

#50502 refactor(api): stop returning streak
  api-server/src/common/models/user.js
  api-server/src/server/boot/user.js
  api-server/src/server/utils/publicUserProps.js
  client/src/components/profile/profile.test.tsx
Labels: platform: api, platform: client

#50500 fix(api): update new api schema
  api/prisma/schema.prisma
Labels: platform: api

#50506 chore: move update socials schema
  api/src/routes/settings.ts
  api/src/schemas.ts
Labels: status: waiting review, platform: api

#50481 refactor: stop storing sessionMeta in redux
  client/src/redux/fetch-user-saga.js
  client/src/redux/index.js
  client/src/redux/types.ts
  client/src/utils/ajax.ts
Labels: platform: client

#50510 docs: fix link
  docs/how-to-setup-freecodecamp-locally.md
Labels: status: waiting review, scope: docs

#50507 chore: remove unused code
  client/src/assets/icons/spacer.tsx
  client/src/client/frame-runner.ts
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Header/index.tsx
  client/src/components/Map/index.tsx
  client/src/components/search/redux/index.js
  client/src/components/seo/index.tsx
  client/src/redux/selectors.js
Labels: platform: client

#50519 chore: use latest mongo driver in seed script
  pnpm-lock.yaml
  tools/scripts/seed/certified-user-data.js
  tools/scripts/seed/package.json
  tools/scripts/seed/seed-demo-user.js
Labels: scope: tools/scripts

#50367 feat(client): show the default 404 page only when profile fails
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
Labels: status: waiting review, platform: client

#50432 feat(api): reset progress endpoint
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schemas.ts
Labels: status: waiting review, platform: api

#50520 fix(tools): deduplicate workflows
  .github/workflows/node.js-tests-upcoming.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#50473 docs: general cleanup and maintenance
  docs/FAQ.md
  docs/_sidebar.md
  docs/devops.md
  docs/how-to-enable-new-languages.md
  docs/how-to-setup-freecodecamp-mobile-app-locally.md
  docs/how-to-work-on-coding-challenges.md
  docs/how-to-work-on-localized-client-webapp.md
  docs/how-to-work-on-practice-projects.md
  docs/how-to-work-on-the-component-library.md
  docs/how-to-work-on-the-docs-theme.md
  docs/moderator-handbook.md
  docs/reply-templates.md
  docs/security-hall-of-fame.md
Labels: status: waiting review, scope: docs

#50528 revert: show the default 404 page only when profile fails
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
Labels: platform: client

#50529 revert(client): add react suspense and lazy loading
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
Labels: status: blocked, platform: client

#50539 fix(curriculum): proposed fix for some issues found in source files
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f50473cc0196c6dd3892a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da6570acf7545931ce477.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cdefa704f232675ed98aa.md
Labels: scope: curriculum

#50457 fix(a11y): completed-step focus accessibility
  client/src/templates/Introduction/intro.css
Labels: platform: client

#50482 refactor(api): stop returning sessionMeta
  api-server/src/server/boot/user.js
  api-server/src/server/models/donation.js
Labels: status: waiting review, platform: api

#50513 refactor: remove unused parts of api-server
  api-server/src/server/utils/getDynamicPropsForUser.js
  api-server/src/server/utils/publicUserProps.js
  api-server/src/server/utils/user-stats.js
  api-server/src/server/utils/user-stats.test.js
Labels: platform: api

#50556 fix: only show loader message on layout
  client/src/components/helpers/__snapshots__/loader.test.tsx.snap
  client/src/components/helpers/loader.tsx
Labels: platform: client

#50534 fix: relocate CodeAlly banner to fit layout
  client/src/templates/Challenges/codeally/show.tsx
Labels: status: waiting review, platform: client

#50560 fix(curriculum): rounding issue in getter/setter challenge
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.md
Labels: status: waiting review, scope: curriculum
