Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2023-01, with the labels that each got.

#48889 fix(docs): formatting and verbosity
  docs/codebase-best-practices.md
Labels: scope: docs

#48892 Fixing typos in docs/user-token-workflow.md
  docs/user-token-workflow.md
Labels: scope: docs

#48866 feat: add note about env access location
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/use-the-.env-file.md
Labels: scope: curriculum

#48861 fix(client): Improve alert component
  client/src/components/Flash/flash.css
  client/src/components/Flash/index.tsx
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: client

#48824 fix: spacing issue in RTL layout
  client/src/components/Header/components/universal-nav.css
  client/src/components/layouts/rtl-layout.css
Labels: status: waiting review, platform: client

#48823 test(UI): add tests to the table spec
  tools/ui-components/src/table/table.test.tsx
Labels: status: waiting review, scope: tools/scripts

#48799 chore(curriculum): fix captilization in the comments.json
  curriculum/dictionaries/english/comments.json
Labels: status: waiting review

#48887 Update Step 31 to specify the input file should be nested
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab9f17fa294054b74228c.md
Labels: status: waiting review, scope: curriculum

#48820 fix(client): expose donate button on navigation bar
  .eslintignore
  .gitignore
  .prettierignore
  client/i18n/locales/english/translations.json
  client/src/components/Header/components/menu-button.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/Header/components/universal-nav.tsx
  config/misc.js
  config/misc.ts
  cypress/e2e/default/learn/common-components/navbar.js
  cypress/e2e/default/learn/header/universal-navigation.js
Labels: platform: client, scope: i18n, scope: tools/scripts

#48900 fix: update comment to match dictionary
  curriculum/challenges/arabic/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/chinese-traditional/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/chinese/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/espanol/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/german/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/italian/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/japanese/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/portuguese/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
  curriculum/challenges/ukrainian/02-javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions.md
Labels: scope: curriculum, scope: i18n

#48903 refactor: better error logging
  curriculum/test/test-challenges.js
  tools/challenge-parser/translation-parser/index.js
Labels: scope: tools/scripts

#48896 fix(curriculum): add missing backslashes in hint text for JavaScript RPG project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b0b5053f16111b0b6b5f.md
Labels: status: waiting review, scope: curriculum

#48915 chore(UI):move new RWD to top for ES
  config/superblock-order.ts
  curriculum/utils.test.ts
Labels: status: waiting review, scope: UI, platform: client, scope: i18n

#48897 fix(curriculum): Learn CSS Variables by Building a City Skyline Step 40
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98f0.md
Labels: status: waiting review, scope: curriculum

#48921 revert(client): improve alert component
  client/src/components/Flash/flash.css
  client/src/components/Flash/index.tsx
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: client

#48919 fix(curriculum): Add Missing Backticks
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c151b23bf21bc7c4fcba.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8c89e4272512d44fc1c66.md
Labels: status: waiting review, scope: curriculum

#48832 chore(i18n): translate motivational messages into Chinese
  client/i18n/locales/chinese/motivation.json
Labels: status: waiting review, platform: client, scope: i18n

#48762 fix(client): set fcc-sound value in local storage
  client/src/redux/fetch-user-saga.js
  client/src/utils/tone/index.ts
Labels: status: waiting review, platform: client

#48939 fix(curriculum,i18n): make field names translatable
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/file-metadata-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/request-header-parser-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/meet-the-node-console.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-voting-app.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-an-image-search-abstraction-layer.md
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/chart-the-stock-market.md
Labels: status: waiting review, scope: curriculum

#48932 docs: update command for running a single cypress test
  docs/how-to-add-cypress-tests.md
Labels: status: waiting review, scope: docs

#48941 fix(a11y): donation faq
  client/src/components/Donation/donation-text-components.tsx
  client/src/components/Donation/donation.css
Labels: status: waiting review, scope: a11y, platform: client

#48901 feat(docs): add authors analytics manual
  docs/_sidebar.md
  docs/authors-analytics-manual.md
  docs/images/google-analytics/filter-by-author.png
  docs/images/google-analytics/search-by-language.png
Labels: scope: docs

#48929 feat(curriculum): Learn CSS Transforms by Building a Penguin - Support CSS rotate property use case
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/6196d1ac33c68d27dcda5796.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d229b0e542520cd91c685.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d2d4e80400325ff89664a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d2ebc81ba81271460850d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d32c7fa21f32aaa91d499.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d333b738e3c2b5d58b095.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/619d337765b9f02c10e93722.md
Labels: status: waiting review, scope: curriculum

#48934 fix(client): add message to loader
  client/i18n/locales/english/translations.json
  client/src/components/helpers/__snapshots__/loader.test.tsx.snap
  client/src/components/helpers/loader.css
  client/src/components/helpers/loader.tsx
  client/src/components/layouts/default.tsx
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: client, scope: i18n

#48949 fix(i18n,client): translate view certificate button
  client/i18n/locales/english/translations.json
  client/src/components/profile/components/certifications.tsx
Labels: platform: client, scope: i18n

#48890 fix(a11y): accessible names for cert buttons/links in Settings
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/profile/components/time-line.test.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/certification.js
  client/src/components/settings/certification.test.tsx
  client/src/components/solution-display-widget/index.tsx
  client/src/components/solution-display-widget/solution-display-widget.css
  client/src/templates/Introduction/components/cert-challenge.tsx
Labels: status: waiting review, scope: a11y, platform: client, scope: i18n

#48935 refactor: remove a lot of unused code
  client/package.json
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Header/components/nav-links.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/save-challenge-saga.js
  client/src/redux/selectors.js
  client/src/redux/types.ts
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/components/shortcuts-modal.tsx
  client/src/templates/Challenges/components/video-modal.tsx
  client/src/templates/Challenges/projects/tool-panel.tsx
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/current-challenge-saga.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/redux/selectors.js
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/utils/A-B-tester.test.ts
  client/src/utils/path-parsers.ts
  client/utils/challenge-types.js
  config/knip/knip.json
  package-lock.json
  package.json
  tools/scripts/build/download-trending.ts
  tools/scripts/build/schema/trending-schema.ts
Labels: status: waiting update, platform: client, scope: tools/scripts

#48811 fix(client): GA to GTM Migration
  client/package.json
  client/src/analytics/index.ts
  client/src/analytics/index.tsx
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/app-mount-notifier.test.tsx
  client/src/components/layouts/certification.tsx
  client/src/components/layouts/default.tsx
  client/src/components/profile/components/time-line.test.tsx
  client/src/pages/donate.tsx
  client/src/pages/learn.tsx
  client/src/redux/donation-saga.js
  client/src/redux/donation-saga.test.js
  client/src/redux/ga-saga.js
  client/src/redux/ga-saga.test.js
  client/src/redux/selectors.js
  client/src/templates/Challenges/components/ResetModal.tsx
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/components/video-modal.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/utils/A-B-tester.test.ts
  client/src/utils/A-B-tester.ts
  config/analytics-settings.js
  package-lock.json
Labels: status: waiting review, platform: client

#48957 chore: drop faker-js
  client/package.json
  package-lock.json
Labels: platform: client

#48966 chore(client): remove the mentioning of Node Package Manager from Intro.json
  client/i18n/locales/english/intro.json
Labels: platform: client, scope: i18n

#48622 refactor(tools/scripts): convert validate and get-lines to TS
  .gitignore
  .prettierignore
  utils/get-lines.js
  utils/get-lines.test.ts
  utils/get-lines.ts
  utils/validate.js
  utils/validate.test.ts
  utils/validate.ts
Labels: status: waiting review, scope: tools/scripts

#48520 fix: run comment translation logic on english builds
  curriculum/getChallenges.js
Labels: status: waiting update

#48978 feat(docs): update analytics images
  docs/authors-analytics-manual.md
Labels: status: waiting review, scope: docs

#48944 fix(UI): refactor the searchbar from flex to grid
  client/src/components/Header/components/universal-nav.css
  client/src/components/search/searchBar/searchbar-base.css
  client/src/components/search/searchBar/searchbar.css
Labels: status: waiting review, platform: client

#48959 chore(curriculum) : fixed capitalization of "API" in timestamp project
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
Labels: status: waiting review, scope: curriculum

#48960 feat(client): increase the line height in RTL
  client/src/components/layouts/rtl-layout.css
Labels: status: waiting review, platform: client

#48970 fix(curriculum): Exercise Tracker - Create user URL - remove trailing slash
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
Labels: status: waiting review, scope: curriculum

#48982 Step 14 starts completed .Remove target="_blank" from seed
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa2407b521be39a3de7be1.md
Labels: status: waiting review, scope: curriculum

#48988 Feature: convert some cypress tests
  cypress/e2e/default/learn/challenges/multifile.ts
  cypress/e2e/default/learn/challenges/multifileCertProject.ts
  cypress/e2e/default/learn/challenges/project-preview.ts
Labels: scope: tools/scripts

#48989 fix(curriculum): update javascript challenge description
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/subtract-one-number-from-another-with-javascript.md
Labels: scope: curriculum

#48886 fix(curriculum): add backticks in role playing game project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b6536156c51500739b41.md
Labels: status: waiting review, scope: curriculum

#48873 fix(curriculum): improve instruction for binary search algorithm
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-binary-search.md
Labels: status: waiting review, scope: curriculum

#49000 chore(curriculum): fixed sentence in step 55 of nutritional label
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f7ecb09de9a938ef94756.md
Labels: status: waiting review, scope: curriculum

#49002 fix(curriculum): spelling mistake from axix to axis
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/sea-level-predictor.md
Labels: scope: curriculum

#49001 Feat: Convert 8 more Cypress files to Typescript
  cypress/e2e/default/learn/challenges/multifile-cert-project.ts
  cypress/e2e/default/learn/coding-interview-prep/intro-page.ts
  cypress/e2e/default/learn/common-components/editor.ts
  cypress/e2e/default/learn/common-components/footer.ts
  cypress/e2e/default/learn/common-components/help-button.ts
  cypress/e2e/default/learn/donate/donate-page-default.ts
  cypress/e2e/default/learn/index.ts
  cypress/e2e/default/learn/redirects/breadcrumbs.ts
  cypress/e2e/default/learn/responsive-web-design/basic-css/index.ts
Labels: scope: tools/scripts

#49008 chore(curriculum): fixed sentence in step 63 of nutrition label
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f8bfe0f30a1a3c340356b.md
Labels: scope: curriculum

#49040 fix(curriculum): fixed typo in challenge description
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a3c8bf3980c14c438d2aed.md
Labels: status: waiting review, scope: curriculum

#49043 fix(curriculum): Capitalize abbreviation JSON
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/serve-json-on-a-specific-route.md
Labels: scope: curriculum

#49034 fix(client): changed the reset button in JS course
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/lower-jaw.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: status: waiting review, platform: client, scope: i18n

#49014 fix(docs): button padding in mobile device
  docs/_theme.css
Labels: status: waiting review, scope: docs

#49057 feat(client): add ES GTM id
  client/src/analytics/index.ts
  config/analytics-settings.js
Labels: platform: client

#46314 feat: restrict update flag endpoint
  api-server/src/server/boot/settings.js
Labels: status: waiting review, platform: api

#49060 fix: add personal information heading
  client/i18n/locales/english/translations.json
  client/src/components/settings/about.tsx
Labels: status: waiting review, platform: client, scope: i18n

#49022 Feat: Convert landing page test to Typescript
  cypress/e2e/default/landing.ts
  cypress/e2e/default/learn/index.ts
Labels: scope: tools/scripts

#49048 feat: converting more cypress test files
  cypress/e2e/default/learn/challenges/failed-updates.ts
  cypress/e2e/third-party/donate-page.ts
Labels: scope: tools/scripts

#49068 fix(a11y): remove tab stop on code panel
  client/src/templates/Challenges/classic/mobile-layout.tsx
Labels: status: waiting review, scope: a11y, platform: client

#49078 fix(curriculum): remove incorrect hints from quality assurance projects
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
Labels: status: waiting review, scope: curriculum

#48996 fix: update copyright year in README.md and LICENSE.md
  LICENSE.md
  README.md
Labels: status: waiting review

#48911 feat(client): fix the position of flash message
  client/src/components/Flash/index.tsx
  client/src/components/layouts/global.css
  cypress/e2e/default/learn/challenges/multifile-cert-project.ts
Labels: status: waiting review, platform: client, scope: tools/scripts

#49115 feat(workflow): create update license yearly action
  .github/workflows/update-license.yaml
Labels: status: waiting review, scope: tools/scripts

#49113 Chore: Convert user tests
  cypress/e2e/default/user/certifications.ts
  cypress/e2e/default/user/privacy-terms.ts
  cypress/e2e/default/user/report-user.ts
Labels: status: waiting review, scope: tools/scripts

#49083 refactor(client): clear extra div around the delete and reset panel
  client/src/components/settings/danger-zone.tsx
Labels: status: waiting review, platform: client

#49102 refactor(client): cleanup right section of breadcrumbs
  client/src/components/layouts/rtl-layout.css
  client/src/templates/Challenges/components/challenge-title.css
Labels: status: waiting review, platform: client

#49096 fix(a11y): add tabstop on info panel
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/mobile-layout.tsx
  client/src/templates/Challenges/components/side-panel.css
Labels: status: waiting review, scope: a11y, platform: client

#49100 refactor(client): move margin and padding to inline values
  client/src/components/Footer/footer.css
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/components/challenge-title.css
  client/src/templates/Challenges/odin/show.css
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: client

#49070 fix(curriculum): add word nesting & comments to nutrition-label-step-43
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f6b2d164f81809efd9bdc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f7de4487b64919bb4aa5e.md
Labels: status: waiting review, scope: curriculum

#48998 fix: removed special characters from RTL titles (english)
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulate-arrays-with-pop.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulate-arrays-with-push.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulate-arrays-with-shift.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/manipulate-arrays-with-unshift.md
Labels: scope: curriculum

#49120 fix(tools/scripts): convert more tests to TypeScript
  cypress/e2e/default/learn/challenge-hot-keys.ts
  cypress/e2e/default/learn/challenges/output.ts
  cypress/e2e/default/learn/common-components/search-bar.ts
Labels: status: waiting review, scope: tools/scripts

#49129 refactor(client): clear selector type error in editor cypress test
  cypress/e2e/default/learn/common-components/editor.ts
Labels: status: waiting review, scope: tools/scripts

#49075 fix: multiple issues the odin project
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/odin/Show.tsx
  client/src/templates/Challenges/odin/show.css
  client/src/templates/Introduction/components/block.tsx
  tools/crowdin/utils/strings.js
Labels: status: waiting review, platform: client, scope: i18n, scope: tools/scripts

#49122 feat(client): remove bloating CSS from RTL file
  client/src/components/layouts/rtl-layout.css
Labels: status: waiting review, platform: client

#48751 feat(client): add jest snapshot for settings button and certification…
  client/src/__mocks__/completed-challenges.json
  client/src/__mocks__/edges.json
  client/src/components/profile/components/__snapshots__/timeline-buttons.test.js.snap
  client/src/components/profile/components/timeline-buttons.test.js
  client/src/components/settings/__snapshots__/settings-button.test.js.snap
  client/src/components/settings/settings-button.test.js
Labels: status: waiting review, platform: client

#49123 fix(client) broken donate button text alignment in RTL layout
  client/src/components/layouts/rtl-layout.css
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: client

#49134 chore(curriculum): Remove an incorrect sentence
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function.md
Labels: status: waiting review, scope: curriculum

#49082 feat(client): allow full width component to carry key prop
  client/src/components/helpers/full-width-row.tsx
  client/src/components/settings/portfolio.tsx
Labels: status: waiting review, platform: client

#49142 fix(a11y): Save buttons on Settings page
  client/src/components/settings/about.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/internet.tsx
  client/src/components/settings/privacy.tsx
  client/src/components/settings/username.tsx
Labels: status: waiting review, scope: a11y, platform: client

#49145 fix(client): use translated cert name for Legacy Full Stack Certification
  client/src/components/settings/certification.js
Labels: platform: client

#49143 fix(tools/scripts): convert additional specs to TypeScript
  cypress/e2e/default/learn/donate/donate-page-donor.ts
  cypress/e2e/default/learn/donate/donation-block-completion-modal.ts
  cypress/e2e/default/learn/responsive-web-design/intro-page.ts
  cypress/e2e/default/settings/certifications.ts
  cypress/e2e/default/settings/image-picture-check.ts
  cypress/e2e/default/settings/settings.ts
  cypress/e2e/default/settings/user-token.ts
  cypress/e2e/default/settings/username-change.ts
  cypress/e2e/default/top-contributor.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
Labels: scope: tools/scripts

#48591 feat: mobile auth
  api-server/package.json
  api-server/src/common/models/user.js
  api-server/src/server/boot/authentication.js
  api-server/src/server/middleware.json
  api-server/src/server/middlewares/rate-limit.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/middleware.js
  package-lock.json
Labels: status: waiting review, platform: api

#49159 feat(client): change the delete email to support email
  client/src/components/settings/delete-modal.tsx
Labels: status: waiting review, platform: client

#49139 Chore(curriculum) - Clarify Cat Photo App Step 15
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa30b9eacea3f48c6300ad.md
Labels: scope: curriculum

#49125 feat(tools): add system pallet to ui components color
  tools/ui-components/src/colors.css
Labels: status: waiting review, scope: tools/scripts

#49160 fix(cirriculum): Clarify instructions in step 61 of cat photo app project
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e5.md
Labels: status: waiting review, scope: curriculum

#49167 fix(curriculum): make Rosetta Farey solution/tests match definition
  curriculum/challenges/english/10-coding-interview-prep/rosetta-code/farey-sequence.md
Labels: status: waiting review, scope: curriculum

#49168 fix(curriculum): add test for multiple ol elements
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d2.md
Labels: status: waiting review, scope: curriculum

#49140 feat: split odin project block in two
  client/i18n/locales/english/intro.json
  client/src/templates/Challenges/odin/show.css
  client/src/templates/Introduction/components/block.tsx
  client/utils/help-category-map.json
  curriculum/challenges/_meta/the-odin-project-projects/meta.json
  curriculum/challenges/_meta/the-odin-project/meta.json
  curriculum/challenges/english/10-coding-interview-prep/the-odin-project-projects/project-create-a-recipe-page.md
Labels: scope: curriculum, scope: UI, platform: client, scope: i18n

#49195 fix(curriculum): wrap span texts into code block
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f7de4487b64919bb4aa5e.md
Labels: status: waiting review, scope: curriculum

#49199 fix(curriculum): clarify instructions for accessibility-quiz step-57
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148da157cc0bd0d06df5c0a.md
Labels: status: waiting review, scope: curriculum

#49204 fix(curriculum): Include paragraph tags in edit region
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e9.md
Labels: scope: curriculum

#49212 revert: mobile auth for unblocking deployments
  api-server/package.json
  api-server/src/common/models/user.js
  api-server/src/server/boot/authentication.js
  api-server/src/server/middleware.json
  api-server/src/server/middlewares/rate-limit.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/middleware.js
  package-lock.json
Labels: platform: api
