Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-11, with the labels that each got.

#56994 fix(curriculum): watch the video below typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656cd4b014d03a1baf452429.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656d23d22a488510bca0e418.md
Labels: status: waiting review, scope: curriculum, new english course

#56987 feat(curriculum): add content for semantic HTML review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-semantic-html/671a83934b61f64cefe87a61.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56988 feat(curriculum): adding content for HTML forms and tables review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-html-tables-and-forms/671a872c17382a582e455c4c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57024 feat(curriculum): adding content to computer basic review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-computer-basics/671a87e6dcef5b5bd765e5ed.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57022 feat(curriculum): adding content for HTML chapter review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-html/671a883163d5ab5d47145880.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56767 feat(curriculum): add project board lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-project-idea-board/index.md
  curriculum/challenges/_meta/lab-project-idea-board/meta.json
  curriculum/challenges/english/25-front-end-development/lab-project-idea-board/67051431a73f1ca25d9a6f25.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57030 chore(curriculum): use ast helpers step 5 case converter
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657efa642593c5746acc5c81.md
Labels: status: waiting review, scope: curriculum

#57026 feat(curriculum): add test for not removing spaces in step 67 of todo app
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/671682cd6d7aa95f0078f35f.md
Labels: status: waiting review, scope: curriculum

#57019 fix: aa test supporting copy and background
  client/src/components/landing/components/landing-top-b.tsx
  client/src/components/landing/landing.css
  client/src/pages/index.tsx
  e2e/landing.spec.ts
Labels: platform: learn, scope: tools/scripts

#57031 feat(curriculum): adding content for basic css review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-basic-css/671a887a7e62c75e9ab1ee4a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57033 feat(curriculum): adding content for design fundamentals review
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-design-fundamentals/671a892927fdba60db05edfe.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57035 feat(curriculum): adding content for css absolute and review units review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-relative-and-absolute-units/671a8f8350c20a7439015c98.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57032 feat(curriculum): adding content for background and borders review
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-backgrounds-and-borders/671a88d636cebc5fbd407b78.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57046 feat(curriculum): adding content for pseudo-classes review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-pseudo-classes/671a907bad4538752765f2ff.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56570 fix(UI): Script displayed in preview when using specific css
  client/src/templates/Challenges/utils/frame.ts
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477ae9675db8bb7655b30.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/25-front-end-development/workshop-cafe-menu/5f3477ae9675db8bb7655b30.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  e2e/iframe-script.spec.ts
Labels: status: waiting review, scope: curriculum, platform: learn, scope: tools/scripts

#57043 fix(curriculum): use "an" with HTML heading tags
  curriculum/challenges/english/01-responsive-web-design/basic-css/inherit-styles-from-the-body-element.md
  curriculum/challenges/english/03-front-end-development-libraries/bootstrap/label-bootstrap-wells.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f51e4e5b24a6e80eccce1.md
  curriculum/challenges/english/16-the-odin-project/top-build-a-recipe-project/top-build-a-recipe-project.md
  curriculum/challenges/english/25-front-end-development/lab-contact-form/66f26c32ec6f90df01a44f60.md
  curriculum/challenges/english/25-front-end-development/lab-event-hub/66ebd4ae2812430bb883c787.md
  curriculum/challenges/english/25-front-end-development/workshop-nutritional-label/615f51e4e5b24a6e80eccce1.md
Labels: scope: curriculum

#57048 feat(curriculum): adding content to css colors review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-colors/671a90c1cf517678b130419e.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57049 feat(curriculum): adding content for styling forms review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-styling-forms/671a915858de057ad84c5dbd.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57060 fix(curriculum): Cafe menu whitespace clarification
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3c866dd0d0275f01d4d847.md
Labels: status: waiting review, scope: curriculum

#57059 feat(curriculum): adding content for CSS flexbox review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-flexbox/671a940c69cdee833d4cc312.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56644 feat(client): handle quiz finish and exit
  client/i18n/locales/english/translations.json
  client/package.json
  client/src/templates/Challenges/hooks/index.ts
  client/src/templates/Challenges/hooks/use-page-leave.ts
  client/src/templates/Challenges/quiz/exit-quiz-modal.tsx
  client/src/templates/Challenges/quiz/finish-quiz-modal.tsx
  client/src/templates/Challenges/quiz/show.tsx
  client/src/templates/Challenges/redux/index.js
  client/src/templates/Challenges/redux/selectors.js
  e2e/quiz-challenge.spec.ts
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#57054 chore(curriculum): add fcc authors page workshop to FSD cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-fcc-authors-page/index.md
  curriculum/challenges/_meta/workshop-fcc-authors-page/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641d9a19bff38d34d5a5edb8.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da3c6b6fbd742bff6ee40.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da42481d90c4314c99e94.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da465273051435d332b15.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da4b16937be43ba24c63d.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da51a9810e74411262fcc.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5462576784453146ec2.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5abaac81844a54adb03.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5dd6cd6db44f58b7787.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da615af82bf454215a992.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da6570acf7545931ce477.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da6dcb6e4c9463d54c75b.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da7071d0d45467cd59977.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da73b09e7f046c758e0ed.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da791d0c34a472b8d15b6.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da7bfbc7f0f477438ad8a.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da803d9892447d059804e.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da836581c254815f785fe.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da86294fd9f485d3c2bf0.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da895fb7ec648a5bdf19c.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da8db2a036048ebe6999e.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da97c987a514959ada414.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da9aceb788e49a73ebcc9.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da9ea9b847a49fe6ee9b6.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daa5ea050f24a7cade6e6.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daa8c2c3e364ac3650b37.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daabed8d0584b1150c953.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daae5e18eae4b562633e4.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641dab13c1b6f14b9828e6b1.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#57062 feat(curriculum): adding content for CSS typography review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-typography/671a9528fc4f1487cf265444.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57063 feat(curriculum): add lecture blocks to the end of HTML
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-importance-of-accessibility-and-good-html-structure/index.md
  client/src/pages/learn/full-stack-developer/lecture-importance-of-semantic-html/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-forms/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-html-tools/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-tables/index.md
  curriculum/challenges/_meta/lecture-html-fundamentals/meta.json
  curriculum/challenges/_meta/lecture-importance-of-accessibility-and-good-html-structure/meta.json
  curriculum/challenges/_meta/lecture-importance-of-semantic-html/meta.json
  curriculum/challenges/_meta/lecture-working-with-forms/meta.json
  curriculum/challenges/_meta/lecture-working-with-html-tools/meta.json
  curriculum/challenges/_meta/lecture-working-with-tables/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/670839051794aa19fcef6dc8.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a51e9e4fd8b8552eeb758.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5310d7e46b8a34d48dfd.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5326a7606a8a766cbedb.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a533e6041c28ad680eb8f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5361ef88158b25fbfba7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a536f8386288b9ed0a154.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a537f05f3798bd4f57d2d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a538c029f9e8c1687460e.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a539b887ec68c593cdc4b.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a53ae8f1ad28c8a1ed0f0.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a53cf67140d8cd85d4b0f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a549231b8728f7171ed9d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54a6675c168faa84252d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54bc58319c8fe6f78ad4.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54ce90c19e9038f481d7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54dff9dc439089f1a219.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54f29d783890d1f94740.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5507d857a891139abc7f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a551975938a916c74802c.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55b5c0c14493328fe36e.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55dd1d86bc939606e204.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55eb7791559421ff0cd3.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55fbc2d95a9453151caf.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/67298243760ae980de5266db.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672985445d7da807c6b4f406.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672990ecf71a852804ababe7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/6729959bf9c8e835f46b3f78.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995ac85fd943657c2ede5.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995bda6c67e369aaf8588.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995c9e6f69436dbcccc79.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995d673bd3237200b9e7c.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995e43674fb3775b9ec5d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995f16ed97837b365a9f6.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995ffdfd2f337f5f215f8.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/6729960ed6e2ca3825940e97.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/6729963b1ab11638753cf082.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/6729974ec29be33cb00eb54d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4cd3d59756726657efb8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4cf959443073a6774908.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-html-tools/672a4fa7d335bc7cfb63a392.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-html-tools/672a511bb408ec81c592eb68.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-tables/672a4e04a24858778f57ebfe.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, platform: learn, scope: i18n

#56995 feat(curriculum): add a2 cert exam
  client/config/cert-and-project-map.ts
  client/i18n/locales/english/intro.json
  client/src/pages/learn/a2-english-for-developers/a2-english-for-developers-certification-exam/index.md
  curriculum/challenges/_meta/a2-english-for-developers-certification-exam/meta.json
  curriculum/challenges/english/00-certifications/a2-english-for-developers-certification/a2-english-for-developers-certification.yml
  curriculum/challenges/english/21-a2-english-for-developers/a2-english-for-developers-certification-exam/6721db5d9f0c116e6a0fe25a.md
Labels: scope: curriculum, platform: learn, scope: i18n

#57061 fix(curriculum): reword Cat Photo App step 1
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
Labels: scope: curriculum

#57080 fix(api): increase max message size for sentry
  api/src/plugins/error-handling.ts
Labels: platform: api

#57078 chore(curriculum): remove node and express challenges
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-exercise-tracker/index.md
  client/src/pages/learn/full-stack-developer/lab-file-metadata-microservice/index.md
  client/src/pages/learn/full-stack-developer/lab-request-header-parser-microservice/index.md
  client/src/pages/learn/full-stack-developer/lab-timestamp-microservice/index.md
  client/src/pages/learn/full-stack-developer/lab-url-shortener-microservice/index.md
  client/src/pages/learn/full-stack-developer/quiz-backend-javascript/index.md
  client/src/pages/learn/full-stack-developer/quiz-tooling-and-deployment/index.md
  client/src/pages/learn/full-stack-developer/workshop-node-and-express/index.md
  client/src/pages/learn/full-stack-developer/workshop-npm-packages/index.md
  curriculum/challenges/_meta/lab-exercise-tracker/meta.json
  curriculum/challenges/_meta/lab-file-metadata-microservice/meta.json
  curriculum/challenges/_meta/lab-request-header-parser-microservice/meta.json
  curriculum/challenges/_meta/lab-timestamp-microservice/meta.json
  curriculum/challenges/_meta/lab-url-shortener-microservice/meta.json
  curriculum/challenges/_meta/quiz-backend-javascript/meta.json
  curriculum/challenges/_meta/quiz-tooling-and-deployment/meta.json
  curriculum/challenges/_meta/workshop-node-and-express/meta.json
  curriculum/challenges/_meta/workshop-npm-packages/meta.json
  curriculum/challenges/english/25-front-end-development/lab-exercise-tracker/5a8b073d06fa14fcfde687aa.md
  curriculum/challenges/english/25-front-end-development/lab-file-metadata-microservice/bd7158d8c443edefaeb5bd0f.md
  curriculum/challenges/english/25-front-end-development/lab-request-header-parser-microservice/bd7158d8c443edefaeb5bdff.md
  curriculum/challenges/english/25-front-end-development/lab-timestamp-microservice/bd7158d8c443edefaeb5bdef.md
  curriculum/challenges/english/25-front-end-development/lab-url-shortener-microservice/bd7158d8c443edefaeb5bd0e.md
  curriculum/challenges/english/25-front-end-development/quiz-backend-javascript/66f1b11026394bcdb7c42473.md
  curriculum/challenges/english/25-front-end-development/quiz-tooling-and-deployment/66fd6f0370213be90fed82ec.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb0367417b2b2512bed.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb0367417b2b2512bee.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb0367417b2b2512bef.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb0367417b2b2512bf0.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb1367417b2b2512bf1.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb1367417b2b2512bf2.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb1367417b2b2512bf3.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb1367417b2b2512bf4.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb2367417b2b2512bf5.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb2367417b2b2512bf6.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb2367417b2b2512bf7.md
  curriculum/challenges/english/25-front-end-development/workshop-node-and-express/587d7fb2367417b2b2512bf8.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb3367417b2b2512bfb.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb3367417b2b2512bfc.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512bfd.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512bfe.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512bff.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512c00.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c01.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c02.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c03.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c04.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: scope: curriculum, status: waiting update, platform: learn, scope: i18n, full stack cert

#56819 fix(learn): 404 re-rendering on-click
  client/src/components/search/redux/index.js
Labels: platform: learn

#57086 fix(client): review pages
  client/src/templates/Challenges/generic/show.tsx
  curriculum/get-challenges.js
  curriculum/schema/challenge-schema.js
Labels: status: waiting review, platform: learn

#57087 fix(curriculum): accept both arrow and regular empty function
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cd91d28bebe226f765d86.md
Labels: status: waiting review, scope: curriculum

#57093 fix(curriculum): multiple typos in CSS Animations
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/review-css-animations/index.md
  curriculum/challenges/_meta/review-css-animations/meta.json
  curriculum/challenges/english/25-front-end-development/review-css-animations/671a999cc77b7f9bceb4caeb.md
Labels: scope: curriculum, platform: learn, scope: i18n

#57081 refactor(curriculum): authors workshop step 7 description and tests update
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5462576784453146ec2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57083 refactor:description and tests for authors workshop step 01
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641d9a19bff38d34d5a5edb8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57068 fix(curriculum): update current year
  curriculum/challenges/english/21-a2-english-for-developers/learn-introductions-in-an-online-team-meeting/657ccdeb0919a803c00c8cbd.md
Labels: status: waiting review, scope: curriculum

#57096 fix(curriculum): Wrapped up CSS properties within the code element
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#57020 chore: update react-instancesearch to v7
  client/i18n/locales/english/translations.json
  client/package.json
  client/src/components/search/searchBar/search-bar.tsx
  client/src/components/search/searchBar/search-hits.tsx
  client/src/components/search/searchBar/search-suggestion.tsx
  client/src/components/search/searchBar/searchbar.css
  client/src/components/search/searchBar/types.ts
  client/src/components/search/with-instant-search.tsx
  e2e/fixtures/algolia-eight-hits.json
  e2e/fixtures/algolia-five-hits.json
  e2e/fixtures/algolia-no-hits.json
  e2e/search-bar.spec.ts
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#57094 fix(curriculum): prevent dataArrIndex from being updated in TODO app
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64faf874364ec308f875f636.md
Labels: scope: curriculum, new javascript course

#57057 feat(curriculum): adding content for CSS layouts and effects review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-layout-and-effects/671a9311a289ae7fff25d88e.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57079 fix(api): delete user's exam attempts with account
  api/__mocks__/env-exam.ts
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/routes/protected/user.test.ts
Labels: platform: api

#57120 feat(curriculum): adding content to css variables review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-variables/671a98fbaabfba994e3d9a7c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57055 refactor(client): allow TS worker to initialize itself and have the client check readiness
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/typescript-worker-handler.ts
  tools/client-plugins/browser-scripts/index.d.ts
  tools/client-plugins/browser-scripts/package.json
  tools/client-plugins/browser-scripts/python-worker.ts
  tools/client-plugins/browser-scripts/tsconfig.json
  tools/client-plugins/browser-scripts/typescript-worker.ts
  tools/client-plugins/browser-scripts/utils/format.js
  tools/client-plugins/browser-scripts/webpack.config.cjs
Labels: platform: learn, scope: tools/scripts

#57109 feat(curriculum): adding content to responsive web design review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-responsive-web-design/671a98927af7829722697dc2.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56333 feat(curriculum): add markdown converter lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-markdown-to-html-converter/index.md
  curriculum/challenges/_meta/lab-markdown-to-html-converter/meta.json
  curriculum/challenges/english/25-front-end-development/lab-markdown-to-html-converter/66f55eac933ff64ce654ca74.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57134 fix(curriculum): Move blank line inside callback
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657dfeef78fe0364bd241d7f.md
Labels: status: waiting review, scope: curriculum

#57105 feat(curriculum): adding content to css positioning review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-positioning/671a967424a00e8c6561b182.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57103 feat(curriculum): adding content for attribute selectors review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-attribute-selectors/671a95990b86b68961340adc.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57097 chore(deps): bump @freecodecamp/ui to 3.1.0
  client/package.json
  pnpm-lock.yaml
Labels: platform: learn

#56808 feat(client): display intro of FSD blocks in block header
  client/src/templates/Introduction/components/block-header.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/intro.css
  curriculum/schema/challenge-schema.js
  curriculum/schema/meta-schema.js
  shared/config/blocks.ts
Labels: status: waiting review, platform: learn, full stack cert

#56742 chore(curriculum): add ferris wheel workshop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-ferris-wheel/index.md
  curriculum/challenges/_meta/workshop-ferris-wheel/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140c7e645d8e905819f1dd4.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140c9d35015ae0ba0c250e8.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cbeec34e970dfe75e710.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cd32d018ed0f600eefce.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cdebd39d6a101e747529.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cfc08ca9c5128c3e6478.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d0069049f5139d78da40.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d10d50636e14695013b2.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d1a351e88f159ed54fca.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d263016325162fd076fe.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d2b687a2cd17bac5730c.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d36b8b747718b50d4b7a.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d3dc359b371b1a21d783.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d4bc9db3c81c51a09ab7.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d94b5fab7f1d73c9bedb.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140dc5e13d0c81e7496f182.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140dd77e0bc5a1f70bd7466.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140de31b1f5b420410728ff.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140df547f09402144e40b92.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140e0d875ec16262f26432b.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140f4b5c1555a2960de1e5f.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/614100d7d335bb2a5ff74f1f.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/61410126fa3a6d2b3cda502e.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6141019eadec6d2c6c6f007b.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6141026ec9882f2d39dcf2b8.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6169ab1aaeb4cd1174def700.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6169b1357fcb701bb5efc619.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6169b284950e171d8d0bb16a.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/617ace7d831f9c16a569b38a.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57108 Fix(curriculum): pyramid step43 update tests & clarify instruction
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f23b53db70af0f2620e78.md
Labels: scope: curriculum

#57051 chore(curriculum): remove dsa blocks from JS modules
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-cash-register/index.md
  client/src/pages/learn/full-stack-developer/lab-depth-first-search/index.md
  client/src/pages/learn/full-stack-developer/lab-hash-table-class/index.md
  client/src/pages/learn/full-stack-developer/lab-linked-list-class/index.md
  client/src/pages/learn/full-stack-developer/lab-nth-fibonacci-number-generator/index.md
  client/src/pages/learn/full-stack-developer/lab-pokemon-search-app/index.md
  client/src/pages/learn/full-stack-developer/lab-quicksort-algorithm/index.md
  client/src/pages/learn/full-stack-developer/lab-roman-numeral-converter/index.md
  client/src/pages/learn/full-stack-developer/lab-stack-class/index.md
  client/src/pages/learn/full-stack-developer/lab-telephone-number-validator/index.md
  client/src/pages/learn/full-stack-developer/quiz-dynamic-programming/index.md
  client/src/pages/learn/full-stack-developer/quiz-graphs-and-trees/index.md
  client/src/pages/learn/full-stack-developer/quiz-javascript-data-structures/index.md
  client/src/pages/learn/full-stack-developer/quiz-javascript-object-oriented-programming/index.md
  client/src/pages/learn/full-stack-developer/quiz-javascript-problem-solving-and-algorithmic-thinking/index.md
  client/src/pages/learn/full-stack-developer/quiz-searching-and-sorting-algorithms/index.md
  client/src/pages/learn/full-stack-developer/quiz-security-and-privacy/index.md
  client/src/pages/learn/full-stack-developer/quiz-web-standards/index.md
  client/src/pages/learn/full-stack-developer/review-security-and-privacy/index.md
  curriculum/challenges/_meta/lab-cash-register/meta.json
  curriculum/challenges/_meta/lab-depth-first-search/meta.json
  curriculum/challenges/_meta/lab-hash-table-class/meta.json
  curriculum/challenges/_meta/lab-linked-list-class/meta.json
  curriculum/challenges/_meta/lab-nth-fibonacci-number-generator/meta.json
  curriculum/challenges/_meta/lab-pokemon-search-app/meta.json
  curriculum/challenges/_meta/lab-quicksort-algorithm/meta.json
  curriculum/challenges/_meta/lab-roman-numeral-converter/meta.json
  curriculum/challenges/_meta/lab-stack-class/meta.json
  curriculum/challenges/_meta/lab-telephone-number-validator/meta.json
  curriculum/challenges/_meta/quiz-dynamic-programming/meta.json
  curriculum/challenges/_meta/quiz-graphs-and-trees/meta.json
  curriculum/challenges/_meta/quiz-javascript-data-structures/meta.json
  curriculum/challenges/_meta/quiz-javascript-object-oriented-programming/meta.json
  curriculum/challenges/_meta/quiz-javascript-problem-solving-and-algorithmic-thinking/meta.json
  curriculum/challenges/_meta/quiz-searching-and-sorting-algorithms/meta.json
  curriculum/challenges/_meta/quiz-security-and-privacy/meta.json
  curriculum/challenges/_meta/quiz-web-standards/meta.json
  curriculum/challenges/_meta/review-security-and-privacy/meta.json
  curriculum/challenges/english/25-front-end-development/lab-cash-register/aa2e6f85cab2ab736c9a9b24.md
  curriculum/challenges/english/25-front-end-development/lab-depth-first-search/587d825d367417b2b2512c96.md
  curriculum/challenges/english/25-front-end-development/lab-hash-table-class/66f1805aac05f00a7028fbcc.md
  curriculum/challenges/english/25-front-end-development/lab-linked-list-class/66dadcf18df3a76104054d95.md
  curriculum/challenges/english/25-front-end-development/lab-nth-fibonacci-number-generator/66d9af3897e7d75a895b72c2.md
  curriculum/challenges/english/25-front-end-development/lab-pokemon-search-app/6555c1d3e11a1574434cf8b5.md
  curriculum/challenges/english/25-front-end-development/lab-quicksort-algorithm/587d825a367417b2b2512c89.md
  curriculum/challenges/english/25-front-end-development/lab-roman-numeral-converter/657bdc8ba322aae1eac38390.md
  curriculum/challenges/english/25-front-end-development/lab-stack-class/587d8250367417b2b2512c5f.md
  curriculum/challenges/english/25-front-end-development/lab-telephone-number-validator/657bdcb9a322aae1eac38391.md
  curriculum/challenges/english/25-front-end-development/quiz-dynamic-programming/66edd5ffe490bef99ea99395.md
  curriculum/challenges/english/25-front-end-development/quiz-graphs-and-trees/66edd5c8ac5314f8e80a3fc0.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-data-structures/66edd5583761e4f6dae19606.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-object-oriented-programming/66edd5267b52f8f617d8364f.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-problem-solving-and-algorithmic-thinking/66edd4bc0ce399f475ad6f9b.md
  curriculum/challenges/english/25-front-end-development/quiz-searching-and-sorting-algorithms/66edd476078cf3f3bc654271.md
  curriculum/challenges/english/25-front-end-development/quiz-security-and-privacy/66f1b0a939e913ccd3d4fa18.md
  curriculum/challenges/english/25-front-end-development/quiz-web-standards/66f1a0fcab4dfe9fcdcb269d.md
  curriculum/challenges/english/25-front-end-development/review-security-and-privacy/6724e6548eec94290a26f410.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56782 feat: adding library manager
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-library-manager/index.md
  curriculum/challenges/_meta/workshop-library-manager/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116c175a77cb64c5c10d49.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579bf.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c0.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c1.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c2.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c3.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c4.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67190ce4fe18911edc2018d2.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57151 feat(curriculum): add remaining lectures
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-introduction-to-javascript-libraries-and-frameworks/index.md
  client/src/pages/learn/full-stack-developer/lecture-welcome-to-freecodecamp/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-data-in-react/index.md
  curriculum/challenges/_meta/lecture-introduction-to-javascript-libraries-and-frameworks/meta.json
  curriculum/challenges/_meta/lecture-welcome-to-freecodecamp/meta.json
  curriculum/challenges/_meta/lecture-working-with-data-in-react/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e3a9cc78faaf4248d335.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e867bbf41cc5b11648c4.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e86f590727c5e7e9ec5e.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e879c78ee6c61db25b90.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e883fbc50ec642237caf.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e88cc46e6dc679420040.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e89acc80e0c6afebb682.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734ddabad59e593a49afafe.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734e2c5780912abd874e79c.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734e2dcb965e5ac0ea38e0f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/6734e3ceee2da4b0301719b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500abfe36cd015b67b1b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500b41af8500191febedc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500bfe1f41601c1ddb1a2.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57164 fix(curriculum): remove duplicate JavaScript lecture
  curriculum/challenges/_meta/lecture-understanding-core-javascript-fundamentals/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-understanding-core-javascript-fundamentals/6732c6802f4ee8602402176d.md
Labels: scope: curriculum, scope: i18n, full stack cert

#57169 fix(curriculum): typo in TODO app
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/660d9cb6cc6415e6ca0509d8.md
Labels: scope: curriculum

#57157 chore: update /exams response
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exams.ts
Labels: platform: api

#57156 chore(curriculum): adding content to css grid review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-grid/671a99394bedfb9a5bc687c4.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57155 feat: simplify code transformation
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: learn

#57159 chore(curriculum): adding content for the css prep exam review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css/671a9a0a140c2b9d6a75629f.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57158 chore(curriculum): adding content to css animations review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-css-animations/671a999cc77b7f9bceb4caeb.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57168 chore(curriculum): adding content to JS strings review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-strings/6723c1946e4cd7909a836bb4.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57178 chore(curriculum): adding content to JS variables and datatypes review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-variables-and-data-types/6723be264695fb7e619fe1fa.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57023 fix(client): python duplicated input
  tools/client-plugins/browser-scripts/python-worker.ts
Labels: scope: tools/scripts

#56974 feat(curriculum): Added Bash and SQL Quiz
  curriculum/challenges/english/25-front-end-development/quiz-bash-and-sql/66f1affc0ef4fcca423d4688.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57025 feat(curriculum): add music filter workshop to FSDC
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-music-instrument-filter/index.md
  curriculum/challenges/_meta/workshop-music-instrument-filter/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/6720fc487ab844522b5aa036.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/6721089b71655f803ce3bef2.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/67210c430ddf4889785aca66.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/67210ef0bbb7c895a7351b0d.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/672110bda073669bcc2302e6.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/6721128fdf008f9fd484486a.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/6721134b2844faa0be27c791.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/6721145f25a6b9a1a5d19461.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/67211aa4a8959cc122dfa0bb.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/672134eef863b05aaee80c75.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/67213641373a23696b74424b.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/672137c47fa88d6f753f6d0b.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/67213ce0a2ba1278a38df3a5.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/672146dde7104896adb274ae.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57179 chore(curriculum): add JS functions review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-functions/6723c5b8601a40a100bb59c9.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57185 fix(curriculum): remove truthy and falsy script from lecture block
  curriculum/challenges/_meta/lecture-working-with-numbers-booleans-and-the-math-object/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/67327205e292dbdb1ffa0c21.md
Labels: scope: curriculum, scope: i18n, full stack cert

#57150 feat: add sign out ga event
  client/src/analytics/call-ga.ts
  client/src/components/signout-modal/index.tsx
Labels: status: waiting review, platform: learn

#57177 feat(client): stop transforming jsx extensions
  client/src/templates/Challenges/rechallenge/transformers.js
  shared/utils/polyvinyl.ts
Labels: platform: learn

#56978 feat: add story telling workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-storytelling-app/index.md
  curriculum/challenges/_meta/workshop-storytelling-app/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671f99a5dc221afb86fa2dc0.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa1717ba9ea1a5fa028e0.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa22e99042b1e91fe9d2e.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa3adf532d9231b2c25b8.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa47e415d88263d349a10.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa537114e412950b62089.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa769540d152e53327f4b.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa7ed8364b130b5c55d2e.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa82dc39e4c320352f371.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa93b5eee8737af8bafde.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fae2d8e402a405a930e44.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671faec4b3733242b2c10989.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671faf18fd8b7b448a308bf3.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671faf4ac1e19245df4db7f5.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fafbae959c048d82bac8d.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/6724da4a41a727b89d2541c3.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57195 chore(curriculum): adding content for booleans review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-comparisons-and-conditionals/6723c554025f449f4f39c3f5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57182 chore(curriculum): update merge sort tests
  curriculum/challenges/english/10-coding-interview-prep/algorithms/implement-merge-sort.md
Labels: status: waiting review, scope: curriculum

#57212 fix(curriculum): remove mentions of span in HTML chapter
  curriculum/challenges/_meta/lecture-html-fundamentals/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/670803abcb3e980233da4768.md
  curriculum/challenges/english/25-front-end-development/quiz-basic-html/66df3b712c41c499e9d31e5b.md
  curriculum/challenges/english/25-front-end-development/review-basic-html/67072fc183c7ca6c588feb4d.md
  curriculum/challenges/english/25-front-end-development/review-html/671a883163d5ab5d47145880.md
Labels: status: waiting review, scope: curriculum, scope: i18n, full stack cert

#57209 fix(client): compute step number from challenge order
  client/src/redux/prop-types.ts
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
Labels: status: waiting review, platform: learn

#57171 feat(curriculum): adding content to numbers and booleans review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-math/6723c463e51a2d9b747d7529.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56976 feat(curriculum): add greeting card workshop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-greeting-card/index.md
  curriculum/challenges/_meta/workshop-greeting-card/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6720b1f2680ec706ed534acf.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6720b3191bbafd269bae0ae8.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6720b7f3155a9278d6b6a8b8.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6720bbb38f697e2364f41c0e.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6728fda085006772a247e779.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6729005c87b6320356ac1140.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/672b42241c0c6515f26786f4.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/672b4434dd6d6a1edc405419.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/672e410ddd98b409594890b6.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/672e44e811e610232fead333.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67332db0f793bf08f2a18528.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67332e9debcc820d18e3e169.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67332fff82eb28128f08ec2c.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333082ab35e414eb4ea70d.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6733319f1d586b1923e029e3.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/673332a6b63f9f1e1f81ba9b.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/673333130a2c40204162f0c7.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/6733352ce2a5642827b4f7f0.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/673337337f794d3025ded433.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/673338ebd152d736d1bd2aa4.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333a3a400b0a3c68854bcc.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333aa0e231d43e7556c644.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333b1d5f4a7340a121973a.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333ba820f99c43904c9eff.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333c34e357d34620217615.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333d70431f8a4b02596f3c.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-card/67333f5462f7aa53fc47bb2f.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57154 chore(curriculum): update ferris workshop tests
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140c7e645d8e905819f1dd4.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140c9d35015ae0ba0c250e8.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cbeec34e970dfe75e710.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cd32d018ed0f600eefce.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cdebd39d6a101e747529.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140cfc08ca9c5128c3e6478.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d0069049f5139d78da40.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d10d50636e14695013b2.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d1a351e88f159ed54fca.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d263016325162fd076fe.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d2b687a2cd17bac5730c.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d36b8b747718b50d4b7a.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d4bc9db3c81c51a09ab7.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140d94b5fab7f1d73c9bedb.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140dc5e13d0c81e7496f182.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140dd77e0bc5a1f70bd7466.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140de31b1f5b420410728ff.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140df547f09402144e40b92.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140e0d875ec16262f26432b.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6140f4b5c1555a2960de1e5f.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/614100d7d335bb2a5ff74f1f.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/61410126fa3a6d2b3cda502e.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6141019eadec6d2c6c6f007b.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6141026ec9882f2d39dcf2b8.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6169ab1aaeb4cd1174def700.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6169b1357fcb701bb5efc619.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/6169b284950e171d8d0bb16a.md
  curriculum/challenges/english/25-front-end-development/workshop-ferris-wheel/617ace7d831f9c16a569b38a.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57200 fix: search conditional rendering
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Header/index.tsx
  client/src/components/layouts/default.tsx
  e2e/search-bar-optimized.spec.ts
Labels: platform: learn, scope: tools/scripts

#57219 chore(curriculum): adding content to arrays review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-arrays/6723c66f623701a3cdf72130.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57124 fix(curriculum): coding interview breadth/depth first images
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/10-coding-interview-prep/data-structures/breadth-first-search.md
  curriculum/challenges/english/10-coding-interview-prep/data-structures/depth-first-search.md
Labels: scope: curriculum, platform: learn, scope: i18n

#57119 chore(curriculum): update codeprep hash tests
  curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-hash-table.md
Labels: scope: curriculum

#57110 chore(curriculum) : use deepEqual Breadth first search code prep
  curriculum/challenges/english/10-coding-interview-prep/data-structures/breadth-first-search.md
Labels: scope: curriculum

#57224 fix(curriculum): add space in CSS variables intro
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n

#57216 fix(curriculum): A2 English Conversation Starters typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657cd0e53b947df11ce91026.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657cd962b45f48127c183d7b.md
Labels: status: waiting review, scope: curriculum, new english course

#57218 feat(tools): create a bash testing script
  tools/scripts/test_challenges.sh
Labels: scope: tools/scripts

#57084 feat: validate portfolio image correctly
  client/src/components/profile/components/portfolio.tsx
  e2e/portfolio.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#57082 refactor(client): convert fill in the blanks show.tsx to function
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
Labels: status: waiting review, platform: learn

#57230 fix(client): display correct donation message
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/templates/Introduction/components/super-block-intro.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#57190 chore(curriculum): use better asserts lab availability table
  curriculum/challenges/english/25-front-end-development/lab-availability-table/66b36358ed4f261d64840c24.md
Labels: status: waiting review, scope: curriculum, full stack cert

#56482 feat(curriculum): add permutation generator lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-permutation-generator/index.md
  curriculum/challenges/_meta/lab-permutation-generator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-permutation-generator/66fe4f33a2cc9b33f4d5cd9b.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56941 feat(client): display FSD in multi-level accordion
  client/i18n/locales/english/intro.json
  client/package.json
  client/src/assets/icons/dropdown.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Introduction/components/super-block-accordion.css
  client/src/templates/Introduction/components/super-block-accordion.tsx
  client/src/templates/Introduction/intro.css
  client/src/templates/Introduction/super-block-intro.tsx
  pnpm-lock.yaml
Labels: platform: learn, scope: i18n, full stack cert

#57242 fix(curriculum): remove videoId from dialogue-4-chatting-about-gadgets
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/65a3dafe5c945761cef35199.md
Labels: status: waiting review, scope: curriculum, new english course

#56622 feat(curriculum): create css-positioning quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-positioning/66ed8ffcf45ce3ece4053eb5.md
Labels: status: waiting review, scope: curriculum, hacktoberfest-accepted, full stack cert

#57248 chore(curriculum): adding JS loops review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-loops/6723c837cd3276aa73e6da25.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57238 chore(curriculum): adding content to objects review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-objects/6723c77d1a44b8a7599277dd.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57225 chore(curriculum): update tests lab product page
  curriculum/challenges/english/25-front-end-development/lab-product-landing-page/587d78af367417b2b2512b04.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57194 chore(curriculum): update lab orbit and earlier asserts
  curriculum/challenges/english/25-front-end-development/lab-bookmark-manager-app/66def5467aee701733aaf8cc.md
  curriculum/challenges/english/25-front-end-development/lab-contact-form/66f26c32ec6f90df01a44f60.md
  curriculum/challenges/english/25-front-end-development/lab-event-flyer-page/66e45c8140f9fda5c105ae26.md
  curriculum/challenges/english/25-front-end-development/lab-event-hub/66ebd4ae2812430bb883c787.md
  curriculum/challenges/english/25-front-end-development/lab-favorite-icon-toggler/66bf6bacf178eac7b96d4f5e.md
  curriculum/challenges/english/25-front-end-development/lab-fortune-teller/66c06d618d075c7f7f1b890a.md
  curriculum/challenges/english/25-front-end-development/lab-leap-year-calculator/66c06fad3475cd92421b9ac2.md
  curriculum/challenges/english/25-front-end-development/lab-lightbox-viewer/66db57ad34c7089b9b41bfd6.md
  curriculum/challenges/english/25-front-end-development/lab-moon-orbit/66a37f37ef5823a313de8c26.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57193 chore(curriculum): update book inventory app tests
  curriculum/challenges/english/25-front-end-development/lab-book-inventory-app/66a207974c806a19d6607073.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57251 chore(curriculum): adding content to higher order functions review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-higher-order-functions/6723ca6c6db3deb21cb1bf19.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57249 chore(curriculum): adding content for JS fundamentals review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-fundamentals/6723ca166fe90eb0a3146848.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57210 feat(curriculum): add missing quizzes
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/quiz-javascript-classes/index.md
  client/src/pages/learn/full-stack-developer/quiz-javascript-maps-sets-and-json/index.md
  curriculum/challenges/_meta/quiz-javascript-classes/meta.json
  curriculum/challenges/_meta/quiz-javascript-maps-sets-and-json/meta.json
  curriculum/challenges/english/25-front-end-development/quiz-javascript-classes/67358ac128957c865dcf3ddf.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-maps-sets-and-json/67358be1c7903489c0a7db78.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57254 chore(curriculum): adding content to DOM review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-dom-manipulation-and-click-events-with-javascript/6723cc7a8e7aa3b9befd4bac.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57112 chore(curriculum): refactor steps 8 - 13 author project
  curriculum/challenges/_meta/workshop-fcc-authors-page/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5abaac81844a54adb03.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5dd6cd6db44f58b7787.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da615af82bf454215a992.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da6570acf7545931ce477.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da6dcb6e4c9463d54c75b.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da7071d0d45467cd59977.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da73b09e7f046c758e0ed.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da791d0c34a472b8d15b6.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da7bfbc7f0f477438ad8a.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da803d9892447d059804e.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da836581c254815f785fe.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da86294fd9f485d3c2bf0.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da895fb7ec648a5bdf19c.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da8db2a036048ebe6999e.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da97c987a514959ada414.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da9aceb788e49a73ebcc9.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da9ea9b847a49fe6ee9b6.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daa5ea050f24a7cade6e6.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daa8c2c3e364ac3650b37.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daabed8d0584b1150c953.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daae5e18eae4b562633e4.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641dab13c1b6f14b9828e6b1.md
Labels: status: waiting review, scope: curriculum, scope: i18n, full stack cert

#57265 feat(curriculum): adding content for debugging review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-debugging-javascript/6723cd54fc196dbd053f9dfb.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57050 feat(curriculum): add css-flexbox-quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: scope: curriculum, status: waiting update, full stack cert

#57045 chore(curriculum): explain FCC Authors step 2 better
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da3c6b6fbd742bff6ee40.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57264 feat(curriculum): adding content to events review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-events/6723cc0ca05ce9b87a319ceb.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57267 fix(client): set flex to 1 when preview and console is not shown
  client/src/templates/Challenges/classic/desktop-layout.tsx
Labels: platform: learn

#56799 feat: add bank account OOP lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-bank-account-manager/index.md
  curriculum/challenges/_meta/lab-bank-account-manager/meta.json
  curriculum/challenges/english/25-front-end-development/lab-bank-account-manager/6718d2d59337c822ecb697ff.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, status: merge conflict, full stack cert

#57279 fix(curriculum): Updated intro of Math object lecture
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#57270 chore(curriculum): teach how to run a python file
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator.md
Labels: scope: curriculum

#57269 chore(curriculum): add missing comprehension check questions for css grid lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226732b19aa1cacd0a75c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/6732267ecab2151ced471cd4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/6732268d05c3661d32a0fee8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/6732269a7aa2ca1d6b6574fe.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57292 fix: Project Euler MathJax
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/challenge-description.tsx
Labels: platform: learn

#57277 chore: set default login state playwright
  e2e/c-sharp.spec.ts
  e2e/cert-username-case-navigation.spec.ts
  e2e/certification.spec.ts
  e2e/challenge-reset-modal.spec.ts
  e2e/challenge-title.spec.ts
  e2e/code-storage.spec.ts
  e2e/codeally.spec.ts
  e2e/completion-modal.spec.ts
  e2e/delete-modal.spec.ts
  e2e/desktop-layout.spec.ts
  e2e/donate-page-default.spec.ts
  e2e/donation-modal.spec.ts
  e2e/edit-profile-modal.spec.ts
  e2e/editor.spec.ts
  e2e/email-settings.spec.ts
  e2e/exam-results-modal.spec.ts
  e2e/exam-results.spec.ts
  e2e/exam-show-non-qualified.spec.ts
  e2e/exam-show-qualified.spec.ts
  e2e/exam-started-show.spec.ts
  e2e/exam-survey.spec.ts
  e2e/exam-token.spec.ts
  e2e/exit-exam-modal.spec.ts
  e2e/finish-exam-modal.spec.ts
  e2e/flash.spec.ts
  e2e/form-helper.spec.ts
  e2e/global-setup.ts
  e2e/header.spec.ts
  e2e/help-modal.spec.ts
  e2e/hotkeys.spec.ts
  e2e/image-picture-check.spec.ts
  e2e/internet-presence-settings.spec.ts
  e2e/learn.spec.ts
  e2e/link-ms-user.spec.ts
  e2e/mobile-layout.spec.ts
  e2e/ms-trophy-show.spec.ts
  e2e/multifile-cert-projects.spec.ts
  e2e/navigation-from-last-challenge.spec.ts
  e2e/profile.spec.ts
  e2e/progress-bar.spec.ts
  e2e/progress-reset-modal.spec.ts
  e2e/quincy-email-sign-up.spec.ts
  e2e/quiz-challenge.spec.ts
  e2e/report-user.spec.ts
  e2e/scrollbar-width.spec.ts
  e2e/settings.spec.ts
  e2e/shortcuts-modal.spec.ts
  e2e/show-cert-from-superblock.spec.ts
  e2e/show-certificate-else.spec.ts
  e2e/show-certificate-own.spec.ts
  e2e/show.spec.ts
  e2e/signin.spec.ts
  e2e/signout-modal.spec.ts
  e2e/solution-viewer.spec.ts
  e2e/third-party-donation.spec.ts
  e2e/update-about-me.spec.ts
  e2e/update-email.spec.ts
  e2e/update-stripe-card-default.spec.ts
  e2e/username-change.spec.ts
  playwright.config.ts
Labels: scope: tools/scripts

#57298 fix(curriculum): Updated `semiPrime` test
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-187-semiprimes.md
Labels: status: waiting review, scope: curriculum

#57300 fix(curriculum): typo in Step 117 console error
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/650757918a9e97418dc3d71a.md
Labels: status: waiting review, scope: curriculum

#57303 feat(curriculum): adding content for the date review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-dates/6723ced0ba0b42c2a0ac14d2.md
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#57301 feat(curriculum): adding content for regex review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-regular-expressions/6723cdfa4ae237bf6b7e32eb.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57302 feat(curriculum): adding content for form validation review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-form-validation-with-javascript/6723ce555ff2dfc0cc04b69a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57294 fix: import css to explanation component
  client/src/templates/Challenges/components/challenge-explanation.tsx
Labels: status: waiting review, scope: UI, platform: learn

#57310 chore(api): remove `version` field from docker-compose.yml
  api/tools/docker-compose.yml
Labels: platform: api

#57306 feat(curriculum): add content for audio and video review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-audio-and-video/6723cf27c6e9a0c3f3041385.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57316 feat(curriculum): adding content for classes review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-classes/6723d13d756751caf871d59c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57318 chore(curriculum): replacing placeholder links with correct links for css colors lecture
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672aa7678e05e35d42e33522.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc4ff5e7a4bbdee8ba013.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc51370c789be459186b4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc523324694be91d90d96.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc5344330d7bee2f9c2ed.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc544196a17bf28594e64.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57317 chore(curriculum): adding correct links for pseudo class lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672aa74f761c065c9828a95e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672bbe9171a5cca90f2edeea.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672bbe9d6ec03ea954d92ff7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672bbeaa5afdc5a98d5ab8ff.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672bbeb6eefd7ca9c003ea00.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672bbec3b86dbdaa07a5a5be.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-pseudo-classes-and-pseudo-elements-in-css/672bbed37c6f51aa3a15e78c.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57327 fix(curriculum): fix grammar for intro text to quizzes
  curriculum/challenges/english/25-front-end-development/quiz-advanced-react/66f1ad049d7a6ac0886cc2ba.md
  curriculum/challenges/english/25-front-end-development/quiz-asynchronous-javascript/66edd630f7666cfa54b404d0.md
  curriculum/challenges/english/25-front-end-development/quiz-bash-and-sql/66f1affc0ef4fcca423d4688.md
  curriculum/challenges/english/25-front-end-development/quiz-bash-commands/66f1af4fedf643c78d024c5e.md
  curriculum/challenges/english/25-front-end-development/quiz-bash-scripting/66f1afbd9998e9c985d8e73b.md
  curriculum/challenges/english/25-front-end-development/quiz-basic-css/66ed8fa2f45ce3ece4053eab.md
  curriculum/challenges/english/25-front-end-development/quiz-basic-html/66df3b712c41c499e9d31e5b.md
  curriculum/challenges/english/25-front-end-development/quiz-computer-basics/66ed8fb9f45ce3ece4053eac.md
  curriculum/challenges/english/25-front-end-development/quiz-css-accessibility/66ed8fc1f45ce3ece4053ead.md
  curriculum/challenges/english/25-front-end-development/quiz-css-animations/66ed8fc9f45ce3ece4053eae.md
  curriculum/challenges/english/25-front-end-development/quiz-css-attribute-selectors/66ed8fd0f45ce3ece4053eaf.md
  curriculum/challenges/english/25-front-end-development/quiz-css-backgrounds-and-borders/66ed8fd7f45ce3ece4053eb0.md
  curriculum/challenges/english/25-front-end-development/quiz-css-colors/66ed8fe1f45ce3ece4053eb1.md
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
  curriculum/challenges/english/25-front-end-development/quiz-css-grid/66ed8fedf45ce3ece4053eb3.md
  curriculum/challenges/english/25-front-end-development/quiz-css-layout-and-effects/66ed8ff4f45ce3ece4053eb4.md
  curriculum/challenges/english/25-front-end-development/quiz-css-libraries-and-frameworks/66f1aeb60b11aec5abe83c2e.md
  curriculum/challenges/english/25-front-end-development/quiz-css-positioning/66ed8ffcf45ce3ece4053eb5.md
  curriculum/challenges/english/25-front-end-development/quiz-css-pseudo-classes/66ed9002f45ce3ece4053eb6.md
  curriculum/challenges/english/25-front-end-development/quiz-css-relative-and-absolute-units/66ed9009f45ce3ece4053eb7.md
  curriculum/challenges/english/25-front-end-development/quiz-css-typography/66ed9010f45ce3ece4053eb8.md
  curriculum/challenges/english/25-front-end-development/quiz-css-variables/66ed9018f45ce3ece4053eb9.md
  curriculum/challenges/english/25-front-end-development/quiz-debugging-javascript/66edd10913f078e7669eca81.md
  curriculum/challenges/english/25-front-end-development/quiz-design-fundamentals/66ed901ff45ce3ece4053eba.md
  curriculum/challenges/english/25-front-end-development/quiz-dom-manipulation-and-click-event-with-javascript/66edd07682767adff3a6231e.md
  curriculum/challenges/english/25-front-end-development/quiz-form-validation-with-javascript/66edd3403d7077eece6dc4b6.md
  curriculum/challenges/english/25-front-end-development/quiz-git/66f1b06a5a5d10cc100af620.md
  curriculum/challenges/english/25-front-end-development/quiz-html-accessibility/66ed9026f45ce3ece4053ebb.md
  curriculum/challenges/english/25-front-end-development/quiz-html-tables-and-forms/66ed902df45ce3ece4053ebc.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-arrays/66edcccbba6dacdb65a59067.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-audio-and-video/66edd3b3096349f06cf688bb.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-classes/67358ac128957c865dcf3ddf.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-comparisons-and-conditionals/66edc47c11492ac5cf258ad9.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-dates/66edd3711bb9f7efa73aef91.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-events/66edd0ac31fea6e678eb925a.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-functional-programming/66edd4f31ff19bf5573bf64b.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-functions/66edcc779993c0da6906dbb9.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-fundamentals/66edcd875b0d91de1fbbb492.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-higher-order-functions/66edcdd18a4ef8df16e6bb7e.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-loops/66edcd49e73385dd4df54ac7.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-maps-sets-and-json/67358be1c7903489c0a7db78.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-math/66edc3ab8c6413c344f401bf.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-objects/66edcd0ecb4b25dc64a34804.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-regular-expressions/66edd3011f18f4ee1bd9d28b.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-strings/66edc31c44f1b9c1d5c5ebca.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-variables-and-data-types/66edc25ae5ea80bf6f785552.md
  curriculum/challenges/english/25-front-end-development/quiz-local-storage-and-crud/66edd3f9bef926f129990425.md
  curriculum/challenges/english/25-front-end-development/quiz-nano/66f1b03b922a53cb231e1c0d.md
  curriculum/challenges/english/25-front-end-development/quiz-react-basics/66f1a2009e65c9a40a26d51e.md
  curriculum/challenges/english/25-front-end-development/quiz-react-state-and-hooks/66f1a417757b6ca4eecd89d6.md
  curriculum/challenges/english/25-front-end-development/quiz-recursion/66edd43cded6bff30944b676.md
  curriculum/challenges/english/25-front-end-development/quiz-relational-database/66f1af82732957c895f0b21a.md
  curriculum/challenges/english/25-front-end-development/quiz-responsive-web-design/66ed9034f45ce3ece4053ebd.md
  curriculum/challenges/english/25-front-end-development/quiz-semantic-html/66ed903cf45ce3ece4053ebe.md
  curriculum/challenges/english/25-front-end-development/quiz-styling-forms/66ed9043f45ce3ece4053ebf.md
  curriculum/challenges/english/25-front-end-development/quiz-testing/66f1aeffc5774ac692112a7e.md
  curriculum/challenges/english/25-front-end-development/quiz-typescript/66f1ae758b77cfc3e4da6151.md
  curriculum/challenges/english/25-front-end-development/quiz-web-performance/66f1adcf97e3e4c1bd89ebf5.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57332 fix(curriculum): shorten regex to relevant code
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/671141d8e32fe934c26fa1be.md
Labels: status: waiting review, scope: curriculum

#57250 fix(client): render chapter-level review and exam as standalone link
  client/i18n/locales/english/intro.json
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/super-block-accordion.css
  client/src/templates/Introduction/components/super-block-accordion.tsx
  curriculum/schema/superblock-structure-schema.js
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#57309 feat(curriculum): adding content for functional programming review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript-functional-programming/6723d2c154dd19d0025f7cd9.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57319 chore(curriculum): adding questions for maps and sets lecture
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733ab269b378bf724c9ac71.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733dd694f91d61a5272b4ac.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57308 feat(curriculum): adding content for recursion review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-recursion/6723d1f0568292cd394d6fb6.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57333 fix(client): add white-space pre-wrap to editor-lower-jaw code
  client/src/templates/Challenges/classic/editor.css
Labels: status: waiting review, platform: learn

#57350 feat(curriculum): adding content to local storage and CRUD review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-local-storage-and-crud/6723d0ac516099c902394e8b.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57326 fix(curriculum): applied a few corrections to the strings quiz
  curriculum/challenges/english/25-front-end-development/quiz-javascript-strings/66edc31c44f1b9c1d5c5ebca.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57016 feat(curriculum): new questions for front end recursion quiz.
  curriculum/challenges/english/25-front-end-development/quiz-recursion/66edd43cded6bff30944b676.md
Labels: status: waiting review, scope: curriculum, hacktoberfest-accepted, full stack cert
