Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-05, with the labels that each got.

#54587 fix(curriculum): Update code example for step 18 of pyramid project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f07d231941bc11719f664.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54606 fix: use boolean value for acceptedPrivacyTerms
  tools/scripts/seed/seed-demo-user.js
Labels: scope: tools/scripts

#54605 fix: send CSRF-Token with GET requests
  client/src/utils/ajax.ts
Labels: platform: learn

#54613 refactor(client): simplify form logic
  client/src/components/settings/internet.tsx
Labels: platform: learn

#54375 feat: add project block for basic functions The Odin Project
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-basic-function-projects/meta.json
  curriculum/challenges/english/16-the-odin-project/top-basic-function-projects/top-basic-functions-exercise-a.md
  curriculum/challenges/english/16-the-odin-project/top-basic-function-projects/top-basic-functions-exercise-b.md
  curriculum/challenges/english/16-the-odin-project/top-basic-function-projects/top-basic-functions-exercise-c.md
  curriculum/challenges/english/16-the-odin-project/top-basic-function-projects/top-basic-functions-exercise-d.md
Labels: status: discussing, scope: curriculum, platform: learn, scope: i18n

#54594 fix(curriculum): correct form button text for todo app
  curriculum/challenges/_meta/learn-localstorage-by-building-a-todo-app/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb1c4dc0feb219149a7c7d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb285637fa1e1c222033e3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb29348a60361ccd45c1e2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fefebad99209211ec30537.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff0313700dad264d19dfe4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff04cc33779427a6412449.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff068e0426eb288874ed79.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff23daf176a92de95f24dc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff24b80431f62ec6b93f65.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65003986d17d1e1865b269c0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650046832f92c01a35834bca.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650048b0764f9c1b798200e2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65004ba581d03d1d5628b41c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/659ebe52d74b132a1d75c891.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/6632420f81f3cc554a5e540b.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new javascript course

#54621 fix(api): allow "" for social, not undefined
  api/src/routes/settings.test.ts
  api/src/schemas/settings/update-my-socials.ts
Labels: platform: api

#54627 fix(api): return missing isXCertified
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schemas/user/get-session-user.ts
  api/src/utils/create-user.ts
Labels: platform: api

#54285 feat: add bio component to profile page
  client/i18n/locales/english/translations.json
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
  client/src/components/profile/components/bio.tsx
  client/src/components/profile/components/camper.css
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/social-icons.tsx
  client/src/components/profile/profile.test.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#54620 feat: convert intro page test to playwright
  cypress/e2e/default/learn/coding-interview-prep/intro-page.ts
  e2e/intro-page.spec.ts
Labels: scope: tools/scripts

#54377 fix: updated donation progress with heading
  client/i18n/locales/english/translations.json
  client/src/components/Intro/learn-alert.tsx
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: learn, scope: i18n

#54629 chore(curriculum): remove deleted English block
  client/i18n/locales/english/intro.json
  client/src/pages/learn/a2-english-for-developers/learn-how-to-follow-basic-email-convention/index.md
  curriculum/challenges/_meta/learn-how-to-express-agreement-or-disagreement/meta.json
  curriculum/challenges/_meta/learn-how-to-follow-basic-email-convention/meta.json
  curriculum/challenges/_meta/learn-how-to-offer-technical-support-and-guidance/meta.json
  curriculum/challenges/_meta/learn-how-to-provide-explanations-when-helping-others/meta.json
  curriculum/challenges/_meta/learn-how-to-request-and-receive-guidance/meta.json
  curriculum/challenges/_meta/learn-how-to-share-progress-and-accomplishments/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-follow-basic-email-convention/dialogue-placeholder.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#54635 test: ensure shortcuts enabled before testing
  e2e/hotkeys.spec.ts
  e2e/shortcuts-modal.spec.ts
  e2e/utils/request.ts
Labels: status: waiting review, scope: tools/scripts

#54595 fix(UI): make the progression arrows be centered
  client/src/components/Map/index.tsx
  client/src/components/Map/map.css
Labels: platform: learn

#54672 fix: Learn How to Talk About Hobbies and Interests - Step 28
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657e76356b6af6c07fe338c1.md
Labels: status: waiting review, scope: curriculum, new english course

#54653 fix(learn): Added hint for 'this' keyword
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03686c5ea863533ec71f4.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54562 fix(client): english audio playback consistency
  client/src/templates/Challenges/components/scene/scene.tsx
Labels: platform: learn

#54676 fix: delete already covered project preview test by Playwright
  cypress/e2e/default/learn/challenges/project-preview.ts
Labels: status: waiting review, scope: tools/scripts

#54666 feat: convert intro page rwd to Playwright
  cypress/e2e/default/learn/responsive-web-design/intro-page.ts
  e2e/intro-page-rwd.spec.ts
Labels: scope: tools/scripts

#54014 feat(curriculum): add English curriculum block 7.1 document code
  curriculum/challenges/_meta/learn-how-to-document-code-for-a-project/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65ddb2ee481da72f38f076ad.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65ddb38c14e76d317c6128e6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e44fdc3b0d5813ee7fc300.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e452611e67af1a07314eb6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e4642c66bb7a29b328111e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e46524078f872c3a871f9f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e4660946dec02eb08f1a0d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e466b7e1db1530a27f413b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e468fe7454d936320fe31c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5c959087282242cf23f03.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5ca3d8fd484268f4336d4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5caebc431182877f90758.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5cc619608ce2bf40e3ce8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5cd292dbe212e2af21c9e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5cf002c98ea3289bf2bea.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5d04819aa7c35cf23028c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5d1128a3a2137ff818dd6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e84a436d691712a7769ea9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e85c512d559f216cacd3c4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e865a63c108a2f651b58c4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8668b12eaa63202034f84.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8677731fef734895ac330.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8687c037bd7373bac6bb8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8697e64f1883a30a759e5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e86cac39492642332416e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e86e39e990f4461c9e23a7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e870a2ad67264ba3aac3f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e92d17a7e3c777c5a2f4b1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e932555f5de583b53ac688.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93353894747864641dc5c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93446e44ce704166696fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e935d6ca6d6b082cf59682.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9376e45814e0c248c2262.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9393152c63010e8d14dce.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93a6cca356414bb39c4a6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93b241e3f2216db6801e8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93be2cbc1da18d7602a31.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e943b74900112d64038331.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e99114ec85863bbd32be2d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e992a27a99bd3fce984132.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9932d9cab2348221a1139.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e993f3248e434a5a47744c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e994e2f526634d09c0814a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e99595bee9924f07b5abc3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9965b96af115148dc3d79.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9972a13329b53a5aff71f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e997de10f05355b0354cf8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9988f286c8457cc809619.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9991e59d4b959920e8c7d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e999be5746e45b5a8bb757.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e99a2986903b5c9f4bc720.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#54617 chore: upgrade TypeScript to 5.4.5
  package.json
  pnpm-lock.yaml
Labels: status: waiting review

#54665 feat: convert scrollbar test to playwright
  cypress/e2e/default/settings/scrollbar-width.ts
  e2e/scrollbar-width.spec.ts
Labels: scope: tools/scripts

#54597 fix: test catch if function is empty
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656479aa5f298441c190bf8f.md
Labels: status: waiting review, scope: curriculum, new python course

#54000 feat(api): add email subscription endpoints to new API
  api/src/app.ts
  api/src/routes/auth-dev.test.ts
  api/src/routes/email-subscription.test.ts
  api/src/routes/email-subscription.ts
  api/src/schema.test.ts
  api/src/schemas.ts
  api/src/schemas/email-subscription/resubscribe.ts
  api/src/schemas/email-subscription/unsubscribe.ts
  api/src/utils/create-user.ts
Labels: status: waiting review, platform: api

#54352 feat(curriculum): add English curriculum block 8.3 expressing agreement or disagreement
  curriculum/challenges/_meta/learn-how-to-express-agreement-or-disagreement/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661750f15f41cc866197183d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617513e3855718810b088d0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617528c1b07688acdfea4e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661752fbc765ec8c13f96616.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66175386c145ea8d96b0adf9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617562f72eb2a9387252430.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617569f81323494d7c80fa4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661757150c7a75961a574a39.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66175792ec93b19771c55c62.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661757e285095e986fed9c27.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66177150856cd6d0ca504c9f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661771a11af289d1ec5c72f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661772551b64ddd40c834b1e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661772f42e1412d5bfe4c655.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617962704224fe969a76811.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661796e4635cd3eb1c8c78a4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661797b505f2d3ed4b170d74.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66179829f664e3ee9b42ce5f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617994636fa13f16060b12b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617aea9ccdd68f7088368d1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617af3ab73475f87b53a59d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617afa03e1a7bf99f123c52.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b04b6e9139fb30d059d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b087df2220fcc00514ec.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b1efe920c2ffea40b54d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b23534265c00d6b800fd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b2b0388c600232500e28.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b34260704803d74a6e07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b3d0e2de65050f11351c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b41fe23fc0066e715317.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b494880f74079c400fa2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b500a7049808f3a2a593.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b53e5eda8e09c6c67d28.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b674eb480b0c8d3d6031.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b81046e7b11287a7bef8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b9b4bb38f916a2c01f8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617bae50ecd231987654d2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/dialogue-placeholder.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#54682 fix(curriculum): Updated description for step 61 of pyramid project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f359af3e32e0f1a6880b7.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54631 fix(curriculum): fix tests for step 43 of shopping cart project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f02a4ef92d711ec1ff618c.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54626 fix(curriculum): fix tests for step 6 of the todo project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64e4e78a7ea4a168de4e6a38.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54332 feat(curriculum): add English curriculum block 8.2 updates and plans on tasks or projects
  curriculum/challenges/_meta/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613cf7cb0b2704934764852.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d00727a7a64a5e010243.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d0773359964ab8812659.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d0d1d40e384aeecfa9c0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d3c56e46394b97da3c30.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d3fe6615374be0d10008.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d46936e9374c24cfaaab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d4fc79abb74c83b07fab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d550a08c194cd27607ec.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d67b2a2a134d2b6275a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d6c3e74a984d6fcbd013.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d709407b9f4dc100b47b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d803f9d4884e2a882a99.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d89075d1ac4e6773a94b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614abad2657585c6229fb4a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ac949f89655d25e9d43c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ad58c102e15df06c96d5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ae3e02cc465ebee68851.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b1f8ee220c5f79df89b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b2714761f45fe3b17294.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b326f956cf605cd03775.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b3e52a6aca60bc3417fb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b4a8ff3874612a8df77c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b53003e92d6182e98978.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b572f81cb561d4ac39da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614bde62b7db56b9448285e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614be2a21b4426bfcd25919.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614be98fc11336c52aa3093.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614befe8e1dc16ca27b7b65.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c03efeb2cb6d2227d0b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c0ec11b55c6d849fbe3a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c12f91d2286dcd1f0fe4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c1d0e9e1976e3b524435.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c2262f754e6e85d2ff1a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/dialogue-placeholder.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#54696 fix: english audio again
  client/src/templates/Challenges/components/scene/scene.tsx
Labels: platform: learn

#54691 fix(curriculum): A typo in the English course
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65b629dbf8298669fb4c1572.md
Labels: status: waiting review, scope: curriculum, new english course

#54124 feat(curriculum): add English curriculum block 6.3 clarification on code understanding
  curriculum/challenges/_meta/learn-how-to-ask-for-clarification-on-code-understanding/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f422e03c1be26ee37dbcf1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f424048ab85171c45e9a08.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f425b9d9686e76a354a7ee.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f4264c34d9b678ecd79ad3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f4271a0a61e57af14a9b35.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f42789b0fe157c08cf04eb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f434b6c6a3ba9743d08e22.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f435edbd8f519aba51cc93.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f437964aed009f178dd167.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f4386ef80894a17d6b1f3d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f439533bb1c4a3ab360b62.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f439b8a46608a46ba94c73.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43a3a8b2c8ba627c31e46.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43aa270f998a70375bb23.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43b8a961e01a96a940470.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43c96b08a08ac434de6cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f50a13853f93ef6c7337c1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f510b35d792af24e985351.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f511638aa1de0b9d53963e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52ee449926c59b5c3a407.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52f215010605aa4da8804.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52f761f23715bce60f9ce.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52fb434a8875cb666ede5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f53033b856ff5e687644e4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f530793181a05f4e44a36a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f569d173ab3d5100c42fd0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f56b281bb51c5493d3e598.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f56b6445b35b558688bc4d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f56e358123475af6d0f245.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5703b434254615ec3b886.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f587dd775b4e74643cf3db.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5884cd3c21a9bd49f4b00.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f58a1bc78dd4a0a22a8168.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f58b427db077a36de24777.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f58d630872fea94e0f91f5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f592180269c1b38c771164.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5928f3ee01db4e8b9d7fe.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5936de4e017b74ea663db.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f59409f39a43b8d90b53f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f594d096c1aebb60e5194d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f598d3a104b7c50aea53ab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f5d9324c65ef3adab297.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f6f53aaa73f21560a9cc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f7d103c247f4d7e10b34.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f9e9cfbda7f9c04e8af7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6fb76ea5932fe4ba266c6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6fc00be7facffe0898c6d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/dialogue-placeholder.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#54706 feat: add more profile e2e tests
  e2e/profile.spec.ts
  tools/scripts/seed/seed-demo-user.js
  tools/scripts/seed/user-data.js
Labels: scope: tools/scripts

#54701 refactor(e2e): create editor helpers
  e2e/code-storage.spec.ts
  e2e/editor.spec.ts
  e2e/hotkeys.spec.ts
  e2e/multifile-editor.spec.ts
  e2e/output.spec.ts
  e2e/preview.spec.ts
  e2e/progress-bar.spec.ts
  e2e/reset-modal.spec.ts
  e2e/shortcuts-modal.spec.ts
  e2e/utils/editor.ts
Labels: scope: tools/scripts

#54698 chore(curriculum): remove angular brackets from python console
  client/src/templates/Challenges/classic/xterm.tsx
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
  e2e/editor.spec.ts
Labels: scope: curriculum, platform: learn, scope: tools/scripts

#54707 fix(client): alignment issue in the title of step-based blocks
  client/src/templates/Introduction/intro.css
Labels: platform: learn

#54677 test(playwright): speed up bread-crumb.spec.ts
  e2e/bread-crumb.spec.ts
Labels: scope: tools/scripts

#54720 chore(client): remove unused scripts
  client/package.json
Labels: status: waiting review, platform: learn

#54715 fix: completion modal button now displays Command + Enter if user is on MacOS
  client/src/templates/Challenges/components/completion-modal.tsx
  e2e/completion-modal.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54723 refactor: handle Gatsby's dev page conditionally
  e2e/profile.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54722 refactor(api): simplify schema export
  api/src/routes/certificate.ts
  api/src/routes/challenge.ts
  api/src/routes/deprecated-endpoints.ts
  api/src/routes/donate.ts
  api/src/routes/email-subscription.ts
  api/src/routes/settings.ts
  api/src/routes/user.ts
  api/src/schema.test.ts
  api/src/schemas.ts
Labels: platform: api

#54695 fix(curriculum): typo in string manipulation python project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555201d9b7fc917399f9f0b.md
Labels: status: waiting review, scope: curriculum, new python course

#54683 feat: convert report user test to Playwright
  client/src/client-only-routes/show-user.tsx
  cypress/e2e/default/user/report-user.ts
  e2e/report-user.spec.ts
Labels: platform: learn, scope: tools/scripts

#54712 fix: clean up portfolio
  client/i18n/locales/english/translations.json
  client/src/components/profile/components/__snapshots__/timeline-buttons.test.js.snap
  client/src/components/profile/components/certifications.css
  client/src/components/profile/components/certifications.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/components/heatmap.css
  client/src/components/profile/components/portfolio-projects.tsx
  client/src/components/profile/components/stats.tsx
  client/src/components/profile/components/time-line.tsx
Labels: platform: learn, scope: i18n

#54746 fix(curriculum): replace rows[2] with rows[rows.length - 1] in step 20 of JS building a pyramid generator project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f09a2694b59c3a10ee304.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54779 fix(client): badge title alignment and privacy settings message
  client/i18n/locales/english/translations.json
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/profile.tsx
Labels: platform: learn, scope: i18n

#54753 chore(curriculum): acknowledge exceptions in Luhn algorithm
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/65687b182c2a8fb1470e0b97.md
Labels: scope: curriculum, new python course

#54782 chore(curriculum): remove `__locals` from password generator project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564683821b2ee3174e7250e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656469e62377ab34a5bcb8d1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65646ab6bced52360f44670f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65647c71a5d2bd431596f629.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65649a631440b757f9f7b428.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564c67db26c417561ab510d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656eec2f40d18056cc58b229.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656ef5bc5c0cd464be1df675.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656f0d6bc60b58b9777a36c9.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/657db2114b4029241956f5d6.md
Labels: scope: curriculum, new python course

#54785 chore(curriculum): remove `__locals` from merge sort algorithm project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/655cd899f8de09431eabb40c.md
Labels: scope: curriculum, new python course

#54781 test(playwright): minor update to signin.spec.ts
  e2e/signin.spec.ts
Labels: scope: tools/scripts

#54748 fix: delete already covered exam test by Playwright
  cypress/e2e/default/learn/challenges/c-sharp-exam.ts
Labels: scope: tools/scripts

#54197 feat(curriculum): add English curriculum block 7.2 Reading and understanding code documentation
  curriculum/challenges/_meta/learn-how-to-read-and-understand-code-documentation/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd595245455d0dca3434ba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5a9680a9540e9787dec5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5c89285ea50f25bd0241.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5d1a6cb7f10f77a06163.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5da902959d0fda781aa3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5dfc174596101eae1107.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5f2abfdbc510942d76f8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5f86457b4910e35b51c9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd620e9ba99c116c42c361.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd63be9afd7611d2a9b788.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65ffa914bc44081a196fa6f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65ffa9d80e7ffb1ab9b4df1c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff2b49779301d9bdab6fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff336d7553c1df86f7968.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff428290eaa1e5819c119.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff57ce568cf1ed9702fbf.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000a440c2f492ddee509f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000ac46e87f52e84328b95.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000eeeec06b6338a5c5caf.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000f74c71b623407a8394e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000fec4b5a8c348421fada.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/6600107b9dffa8350e0c4ee8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660011289b5237359f69c76b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660011d015f7d43626524ef8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660012a18576e836ea18fa0b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660012ff748bf2375c31b591.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660013ce54713f37ecac079d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/6600144958b1d33857b0309f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660014d3f5b02038de6ac35c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660019617debd03c767e0a3d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001985c091f13cda6d4f4d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001a1c9df0a83d8e8c670a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001a935988e43e1183bd38.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001b1aa59adc3ea4b024b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001b8d0518d03f18b19715.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001be61f20a33f8a45f3cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001cac957f0740252c2611.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001d1ffd0e0b40a8cbf0c7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001d8b878f5141214f2d77.md
Labels: scope: curriculum, scope: i18n, new english course

#54754 chore(curriculum): remove pyodide from Luhn algorithm project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/6565a536ba1f9f25bd30e88b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/65687f47f9001dd35bdcd5ab.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/656880227dab4bd8fbc02d41.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/656b47dc2cf39e37025dc033.md
Labels: scope: curriculum, new python course

#54768 feat(curriculum): add review DOM manipulation project
  client/i18n/locales/english/intro.json
  client/src/pages/learn/javascript-algorithms-and-data-structures-v8/review-dom-manipulation-by-building-a-rock-paper-scissors-game/index.md
  curriculum/challenges/_meta/build-a-cash-register-project/meta.json
  curriculum/challenges/_meta/build-a-palindrome-checker-project/meta.json
  curriculum/challenges/_meta/build-a-pokemon-search-app-project/meta.json
  curriculum/challenges/_meta/build-a-roman-numeral-converter-project/meta.json
  curriculum/challenges/_meta/build-a-telephone-number-validator-project/meta.json
  curriculum/challenges/_meta/learn-advanced-array-methods-by-building-a-statistics-calculator/meta.json
  curriculum/challenges/_meta/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/meta.json
  curriculum/challenges/_meta/learn-basic-algorithmic-thinking-by-building-a-number-sorter/meta.json
  curriculum/challenges/_meta/learn-basic-oop-by-building-a-shopping-cart/meta.json
  curriculum/challenges/_meta/learn-basic-string-and-array-methods-by-building-a-music-player/meta.json
  curriculum/challenges/_meta/learn-fetch-and-promises-by-building-an-fcc-authors-page/meta.json
  curriculum/challenges/_meta/learn-functional-programming-by-building-a-spreadsheet/meta.json
  curriculum/challenges/_meta/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/meta.json
  curriculum/challenges/_meta/learn-intermediate-oop-by-building-a-platformer-game/meta.json
  curriculum/challenges/_meta/learn-localstorage-by-building-a-todo-app/meta.json
  curriculum/challenges/_meta/learn-modern-javascript-methods-by-building-football-team-cards/meta.json
  curriculum/challenges/_meta/learn-recursion-by-building-a-decimal-to-binary-converter/meta.json
  curriculum/challenges/_meta/learn-regular-expressions-by-building-a-spam-filter/meta.json
  curriculum/challenges/_meta/learn-the-date-object-by-building-a-date-formatter/meta.json
  curriculum/challenges/_meta/review-dom-manipulation-by-building-a-rock-paper-scissors-game/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d0ab797cb716189ffcc0a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d18c574456976d11b6e87.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d2f8056542a8066fd6cc6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d4008cee64e05dfb08f0d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d5697d80fef0eea026672.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d5bebe2eef6128a0b1e75.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new javascript course

#54786 chore(curriculum): remove `__locals` from binary search tree project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c4eb814cc977c95cd7df0e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c4f09e074dd8d37830ea00.md
Labels: scope: curriculum, new python course

#54778 fix(curriculum): fixed strict regex
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657c9f0af0e3d61abde1c005.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54759 chore(curriculum): remove pyodide from case converter project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657e928716b77b2277980276.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657f025ec86c3d7c4177b6be.md
Labels: scope: curriculum, new python course

#54783 chore(curriculum): remove `__locals` from shortest path project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65576ff7888f9e96f52a4be1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557709b0aee699a6a00528c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557712d77ce2d9bd7e63afd.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557716aadbd2d9c42c0e69a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/655771d889132f9ccd341060.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65577236b056379d5dbc7000.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/655773b0591c5f9f4045883e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557924d47c325bf27afbe51.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6566195b0a021bb660b2b4b1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65661b72d6745ebec6a96923.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65774ae7c3eee66fe79b9459.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65789506b30453080f77470c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6578b13757611e2825beb8a5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6578b57361f2f132a02e2a18.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6579dd49fa8a8e1fd06b85a9.md
Labels: scope: curriculum, new python course

#54755 chroe(curriculum): remove pyodide from cipher project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553a572f7a65718f1e42e18.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6554d25dc5ceaa354307a77e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555231eac4d9f19bd3d44b5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/65552a9593755e1fb2f5ab50.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555d6e12c95701172b55709.md
Labels: scope: curriculum, new python course

#54757 chore(curriculum): remove pyodide from merge sort algorithm
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/655cd899f8de09431eabb40c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/6564a9fe51964c229d5b7f4c.md
Labels: scope: curriculum, new python course

#54758 chore(curriculum): remove pyodide from expense tracker project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658212ba98182f3e855e85f9.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582267ef39f5047411c1743.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823040bdb32949d4c1a96f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823e87c9741750a22085a7.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824561f3478e5371a33ae5.md
Labels: scope: curriculum, new python course

#54760 chore(curriculum): remove pyodide from tower of hanoi puzzle project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc8b1faf9c60304ca8a9b6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc8ea01436383a88256d7f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc90949ff85e3b37be40d0.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc916138dbe03bdfe6cec6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc92a9718fb53ca3d1bad7.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dce5f6ff907c2b2c47bb05.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64ddd280d69fa818ca782d50.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64ddd4fbb4b598199acf5ec5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64de1469fccce61940f498c4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64de4bccf5becb208a48ca97.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/657b6a4a49faec5c600287ba.md
Labels: scope: curriculum, new python course

#54763 chore(curriculum): remove pyodide from binary search tree project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c4eb814cc977c95cd7df0e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c4f09e074dd8d37830ea00.md
Labels: scope: curriculum, new python course

#54771 chore(curriculum): remove `__locals` from Luhn algorithm
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/6565a536ba1f9f25bd30e88b.md
Labels: scope: curriculum, new python course

#54772 chore(curriculum): remove `__locals` from case converter project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657e928716b77b2277980276.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657f025ec86c3d7c4177b6be.md
Labels: scope: curriculum, new python course

#54762 chore(curriculum): remove pyodide from password generator project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564683821b2ee3174e7250e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656469e62377ab34a5bcb8d1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65646ab6bced52360f44670f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65647c71a5d2bd431596f629.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65649a631440b757f9f7b428.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564c67db26c417561ab510d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656eec2f40d18056cc58b229.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656ef5bc5c0cd464be1df675.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656f0d6bc60b58b9777a36c9.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/657db2114b4029241956f5d6.md
Labels: status: waiting review, scope: curriculum, new python course

#54764 chore(curriculum): remove pyodide from final scicompy projects
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
Labels: status: waiting review, scope: curriculum, new python course

#54756 chore(curriculum): remove pyodide from shortest path algorithm project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65576ff7888f9e96f52a4be1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557709b0aee699a6a00528c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557712d77ce2d9bd7e63afd.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557716aadbd2d9c42c0e69a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/655771d889132f9ccd341060.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65577236b056379d5dbc7000.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/655773b0591c5f9f4045883e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6557924d47c325bf27afbe51.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6566195b0a021bb660b2b4b1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65661b72d6745ebec6a96923.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65774ae7c3eee66fe79b9459.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/65789506b30453080f77470c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6578b13757611e2825beb8a5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6578b57361f2f132a02e2a18.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-algorithm-design-by-building-a-shortest-path-algorithm/6579dd49fa8a8e1fd06b85a9.md
Labels: status: waiting review, scope: curriculum, new python course

#54792 fix(client): privacy settings message on profile page
  client/i18n/locales/english/translations.json
  client/src/components/profile/profile.tsx
Labels: platform: learn, scope: i18n

#54790 fix(curriculum): allow if statement conditions to use parentheses in merge sort project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/6569b743630ee592a65a7e2f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/657f59751d5a5c9b069ae0f3.md
Labels: status: waiting review, scope: curriculum, new python course

#54808 fix(curriculum): small fixes in cat painting project
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646c5ace05e4be4211407935.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646ce8bb4b35544d501c7184.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/64770351e8586671ec0911f0.md
Labels: status: waiting review, scope: curriculum

#54784 chore(curriculum): remove `__locals` from tower of hanoi puzzle project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc8b1faf9c60304ca8a9b6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc8ea01436383a88256d7f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc90949ff85e3b37be40d0.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc916138dbe03bdfe6cec6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64dc92a9718fb53ca3d1bad7.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64ddd280d69fa818ca782d50.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64ddd4fbb4b598199acf5ec5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64de1469fccce61940f498c4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/64de4bccf5becb208a48ca97.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/657b6a4a49faec5c600287ba.md
Labels: status: waiting review, scope: curriculum, new python course

#54802 chore(curriculum): remove non-existing data structures challenges from meta
  curriculum/challenges/_meta/data-structures/meta.json
Labels: scope: curriculum, scope: i18n

#54747 feat: signout helper function for Playwright
  e2e/utils/logout.ts
Labels: scope: tools/scripts

#54832 chore(curriculum): remove strugglers `__pyodide` and `__locals`
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/6564a9fe51964c229d5b7f4c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6554d25dc5ceaa354307a77e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555231eac4d9f19bd3d44b5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/65552a9593755e1fb2f5ab50.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555d6e12c95701172b55709.md
  curriculum/challenges/english/20-upcoming-python/learn-python-by-building-a-blackjack-game/64b163c20e59cbd4a64940b0.md
Labels: status: waiting review, scope: curriculum

#54811 feat(curriculum): split certification projects + add bisection method project
  client/i18n/locales/english/intro.json
  client/src/pages/learn/scientific-computing-with-python/build-a-budget-app-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-a-polygon-area-calculator-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-a-probability-calculator-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-a-time-calculator-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-an-arithmetic-formatter-project/index.md
  client/src/pages/learn/scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/index.md
  client/src/pages/learn/scientific-computing-with-python/scientific-computing-with-python-projects/index.md
  client/src/utils/curriculum-layout.ts
  curriculum/challenges/_meta/build-a-budget-app-project/meta.json
  curriculum/challenges/_meta/build-a-polygon-area-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-probability-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-time-calculator-project/meta.json
  curriculum/challenges/_meta/build-an-arithmetic-formatter-project/meta.json
  curriculum/challenges/_meta/learn-algorithm-design-by-building-a-shortest-path-algorithm/meta.json
  curriculum/challenges/_meta/learn-classes-and-objects-by-building-a-sudoku-solver/meta.json
  curriculum/challenges/_meta/learn-data-structures-by-building-the-merge-sort-algorithm/meta.json
  curriculum/challenges/_meta/learn-recursion-by-solving-the-tower-of-hanoi-puzzle/meta.json
  curriculum/challenges/_meta/learn-regular-expressions-by-building-a-password-generator/meta.json
  curriculum/challenges/_meta/learn-the-bisection-method-by-finding-the-square-root-of-a-number/meta.json
  curriculum/challenges/_meta/learn-tree-traversal-by-building-a-binary-search-tree/meta.json
  curriculum/challenges/_meta/scientific-computing-with-python-projects/meta.json
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-budget-app-project/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-polygon-area-calculator-project/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-probability-calculator-project/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-time-calculator-project/time-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-an-arithmetic-formatter-project/arithmetic-formatter.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6554d25dc5ceaa354307a77e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555231eac4d9f19bd3d44b5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/65552a9593755e1fb2f5ab50.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555d6e12c95701172b55709.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef181dad3d96b14a21a03e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef190c6b51e9b5a5f7ed29.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef19425d1b27b6c930bae6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef198fde24dfb7ff675b42.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef19ec318e2fb9066381e3.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1a1fcb527bba0ca82ccf.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1a50049cf9bada13266f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1a720d6e65bbb0d22463.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1aacca094bbcc2e2a3c8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1afca9a8f6be0d4150ba.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1be2b958cabf712296cd.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1c0a03fcabc04ded7e69.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1c34a541afc12dbb849d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1cb031de30c2cde64c12.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1cda150a59c3b8306944.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d104c2be9c4d8e22075.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d5e3d2927c5e0f4997b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d924ff2e5c7031c6ce8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1dd722f6e7c8294eeec4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1e10268f8ec9121446d1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1eac497754cafa12a26c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#54673 feat(curriculum): add English curriculum block 5.3 describe tech trends or updates
  curriculum/challenges/_meta/learn-how-to-discuss-tech-trends-and-updates/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635c3e30e02d224d4450eac.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635f9203e0ed42948db1e4c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635f9c305ad6d2a08cb6ad4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635fc67f6d0f82ad629e71d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635fdc8fdd98f2b56c3bcf8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663601a777cfc92cbaf8cb7c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66360374d980d82d3cccddf7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663604ab610a932dc9882194.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663606cc695a992e81ef521d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663608aa63d5b72f475b7718.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663609d95c99422fce1d3824.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66360b4ec92e49305fec41ce.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66360c141117e030da0c0cb3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636159376b91532f4f8e49b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66361836f505f333d344da43.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66361ad945006834b7eb7ccd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66361c43829cea3535e7a49a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663620974eb4a0369d76b6b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663621cf8781e93738b3e30f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66362350df72dc37d8c9ca40.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636242c12c019384fd78b5a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636263059a6703a80ee06aa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663626ee2c3a803af8cc2fd6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66362781eb0d663b5eabc353.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636285e6fcb733bdffaa986.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636ebb50b24c83f130344f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636ee901c0de13ff4f02edc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f20df76124410fe597e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f36bfde85f41809044c9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f47542d2a4421a433d8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f652561a9842e74b032a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f834a7b32443a43fa4e0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f90f25a10b442185e3b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638478a5f79414a5126bca3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384b3e267aef4c6daf5279.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384d37bfbd344d5c647fbd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384eb6677d974e02af573b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638510e8311f74fec51b839.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663855865f5d53510f9cd9a5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663856f8cf403151ac9d9e8a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663897f00196a953f16499c6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638994f7dbcb3548e458202.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389a37bc8a4b5539eab451.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389c04cffc4f55e6e0f798.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389e09cec2fa569567b15a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389ee34417c057109ed5f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a163d5757f57e5270598.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a290bc4a5458dd6ebf07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a5aaf619a15a1c5cfe6f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a7713695f25abd3f3c02.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a9a5dee1ac5b6a9db7d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638aa72831d185bdac55c12.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638abe5e8d43a5c7ed9d320.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/dialogue-placeholder.md
Labels: scope: curriculum, status: waiting update, scope: i18n, new english course

#54628 fix(curriculum): add dispatchevent to trigger onchange after value change in tests
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-cash-register-project/build-a-cash-register.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-palindrome-checker-project/build-a-palindrome-checker.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-roman-numeral-converter-project/build-a-roman-numeral-converter.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-telephone-number-validator-project/build-a-telephone-number-validator.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54845 fix(curriculum): typo in step 43 of Building a Cipher
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553995f412dd8122ed38e4a.md
Labels: status: waiting review, scope: curriculum, new python course

#54850 fix(curriculum): typo in step 4 of Building a Gradebook App
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/6626b8dcf5057f896f948440.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54827 fix(curriculum): removed __pyodide constant from pythontest evaluator
  tools/client-plugins/browser-scripts/python-test-evaluator.ts
Labels: scope: tools/scripts, new python course

#54828 fix(curriculum): removed line that creates __locals in python test ev…
  tools/client-plugins/browser-scripts/python-test-evaluator.ts
Labels: scope: tools/scripts, new python course

#54702 chore: bump pnpm to v9 and higher
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/curriculum-i18n.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/i18n-validate-builds.yml
  .github/workflows/i18n-validate-prs.yml
  .github/workflows/node.js-tests.yml
  .github/workflows/temporary-container-checks.yml
  .gitpod.Dockerfile
  api-server/package.json
  client/package.json
  curriculum-server/package.json
  curriculum/package.json
  docker/api/Dockerfile
  docker/new-api/Dockerfile
  docker/web/Dockerfile
  package.json
  pnpm-lock.yaml
  shared/package.json
  tools/challenge-helper-scripts/package.json
  tools/challenge-parser/package.json
  tools/client-plugins/browser-scripts/package.json
  tools/client-plugins/gatsby-remark-node-identity/package.json
  tools/client-plugins/gatsby-source-challenges/package.json
  tools/scripts/build/package.json
  tools/scripts/seed-exams/package.json
  tools/scripts/seed/package.json
  web/package.json
Labels: platform: api, platform: learn, scope: tools/scripts

#54863 fix(curriculum) : Wrap keywords inside backticks #54860
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553efd6ada3f42aa2d75448.md
Labels: status: waiting review, scope: curriculum

#54859 chore(deps): update curriculum-helpers to v3.4.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#54870 fix(client): space between years being top contributor
  client/src/components/profile/components/camper.tsx
Labels: platform: learn

#54874 fix(curriculum): restore commented function call in step 51, python cipher project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553efd6ada3f42aa2d75448.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553f3fc92741c2bf8ded140.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553f4f66099802c6ae94613.md
Labels: status: waiting review, scope: curriculum, new python course

#54858 chore(curriculum): make the bisection method project visible
  curriculum/challenges/_meta/learn-the-bisection-method-by-finding-the-square-root-of-a-number/meta.json
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef190c6b51e9b5a5f7ed29.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef198fde24dfb7ff675b42.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new python course

#54583 fix: made timeAgo function way shorter and viewCount shorter
  curriculum/challenges/_meta/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/643ee973c162ae017b3d30db.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443b612a30b3601404c9b61.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443c4d659395d0175cd121a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443c7e97bcc4401bc99d87b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443c98ac169e501eba36d04.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443cc3ed4a11e02329c4c0e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443ce08c89b250267c4225a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443cf1cca1fbb02a8a6e46e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443d0428d7c2402e9d78709.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443d6ab21742c031bea7778.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443fbba1e9df4038f5af689.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6444062a33ab4c03d0c2e9f5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64440a50d076c204051f2cc0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6444ec416a1fe1017e517bd8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6444ed90ff671201bf007af6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6444f08fae25f201f10083a9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6444f324c287170220eee013.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6446d8f9fce0fa0172473964.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644b6d20eabd7e0149383254.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644b736c83c5250181633899.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644b97360868a301bf9ba463.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644ba3c43bb57f020ca57834.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644baae059c58402a31e815a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644f360e888420013dbe705f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644f4bcf1c2afd0211cd945e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644f848af645ce012bd1a2bc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644fa585a5f9970173ca3cff.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644fb1d7f0257702a0c935cf.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644fba64caf60303c9540d14.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645763874fd6d901c273db29.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f06144bc0dc0143a5a3a2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f1cffc7f95e01db009f32.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f34e7925b68021ce0bcaa.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f7231271ab1012bc659b8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f764c37de33015ded1273.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f7879ebbdb201892e55e1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f8615fa144d01c476b22c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f958584305d02bf48fe5b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/646474a88d0d4a016f895ba8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64648c3254e52901e36e7703.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/646494e11d0cab03caee204c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64649b108df035051cb2ba2d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6576076879130f6cf7426e82.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65760954561c726e832a0cc8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65760ce115eb06716baeb361.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65760de70283687288fe70cf.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new javascript course

#54838 feat(curriculum): add available audios to scene.js
  curriculum/schema/scene-assets.js
Labels: status: waiting review, new english course

#54671 refactor(api): more, smaller tests
  api/__mocks__/exam.ts
  api/jest.utils.ts
  api/src/routes/challenge.test.ts
  api/src/utils/exam.test.ts
Labels: status: waiting review, platform: api

#54888 fix(curriculum): english 7.2 task 11 description
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65ffa9d80e7ffb1ab9b4df1c.md
Labels: status: waiting review, scope: curriculum

#54889 feat(curriculum): set isUpcomingChange flags to false in part 4 blocks
  curriculum/challenges/_meta/learn-how-to-clarify-information-in-different-interactions/meta.json
  curriculum/challenges/_meta/learn-how-to-discuss-popular-trends-in-technology/meta.json
  curriculum/challenges/_meta/learn-how-to-have-a-conversation-about-preferences-and-motivations/meta.json
Labels: scope: curriculum, scope: i18n, new english course

#54833 feat: convert multifile tests to Playwright
  cypress/e2e/default/learn/challenges/multifile.ts
  e2e/lower-jaw.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54773 fix(curriculum): Update description for Step 1 of the Luhn Algorithm Project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/6565a536ba1f9f25bd30e88b.md
Labels: status: waiting review, scope: curriculum, new python course

#54856 feat: convert basic css tests to Playwright
  e2e/basic-css.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54678 fix(UI): make the progression lines elastic
  client/src/assets/icons/completion-ribbon.tsx
  client/src/components/Map/index.tsx
  client/src/components/Map/map.css
Labels: status: waiting review, platform: learn

#54789 fix(curriculum): acknowledge tracebacks in binary search tree
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c646d4148ae3b2d1cbcac4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c9ddd336596e30a4266a50.md
Labels: status: waiting review, scope: curriculum, new python course

#54730 test(playwright): ensure the user is signed out after account deletion
  e2e/delete-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54481 test(playwright): add tests for editor theme selection logic
  e2e/editor.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54689 feat: convert projects to Playwright
  .github/workflows/e2e-web.yml
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/settings/certification.tsx
  client/src/components/solution-display-widget/index.tsx
  cypress/e2e/default/learn/challenges/projects.ts
  cypress/e2e/default/learn/responsive-web-design/show-cert-from-superblock.ts
  e2e/fixtures/js-ads-projects.json
  e2e/fixtures/tribute-page-css.json
  e2e/fixtures/tribute-page-html.json
  e2e/hotkeys.spec.ts
  e2e/projects.spec.ts
  e2e/shortcuts-modal.spec.ts
  e2e/utils/editor.ts
  e2e/utils/request.ts
  e2e/utils/user-agent.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54899 feat: convert "show certification" tests to Playwright
  cypress/e2e/default/show-certification.ts
  e2e/show-certificate-else.spec.ts
Labels: scope: tools/scripts

#54905 feat: teach the camper to look at the browser console
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-budget-app-project/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-polygon-area-calculator-project/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-probability-calculator-project/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-time-calculator-project/time-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-an-arithmetic-formatter-project/arithmetic-formatter.md
Labels: scope: curriculum, new python course

#54841 fix(curriculum): last assertion for review DOM project step 5
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d5697d80fef0eea026672.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54492 feat(curriculum): add English curriculum block 9.3 providing explanations to help others understand
  curriculum/challenges/_meta/learn-how-to-provide-explanations-when-helping-others/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626261426a32b191320ecbe.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662626b2e13cfe1d39bc40fd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262700a108801e85319172.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626273eb00c031f4988f129.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662629de1d3ccf2559a76a02.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262a51f3a76626829fe191.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262a982c6ae427498f9871.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262b58c53d902944183b44.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262b91a2380f2a02d20e94.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262c938943392c6aa23d39.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262d2afcdcf52e02a98d24.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262d74745ccb2efde7670e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263023754e892fd8fd3eee.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626346c3db7ed3eab925b8c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662634fa4dab0640457469f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626355a442bde41613ed03b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662635b73cca81426d091f59.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263606a953984372df559a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662636481f9a3a4467dcaec3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662637442baaf548015d56d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662637b4ae77ed48d6d5ba8d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263800f12d8d4a6edffdcd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263852d4e9534b53c82e2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263891f8b3f74c36cd90b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662638ca74be054d04c448fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662639212dc5664e08ec05f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626396c2fd2604f117731b2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263a41ce552c514cb6fc3e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263aace1c84e52a2974049.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263b5ca3878d54811f9ac2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263d28fe1eae5a2601d0d6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263d47baac2d5ad278e68c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66264a9e3e030663acc4109a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66264bc673d62766a8ab48bc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265cebc033f66a2a4451e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265d447926ae6b9e9af13e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265dd49cbab56d038d0d2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265e0ac3bdc26ddf3525f5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265e4a43ec6d6e9ba7cc79.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265ec39f8cf36fe615bd11.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265f07ee69a670cc620d1e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265f3bb6ec0c7186e0c621.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626676b898b1d721834736a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662668a5aa1437017755151d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/dialogue-placeholder.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#54804 fix(curriculum): test in password generator project, step 54
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564f834dd717998092cfd47.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564fd78ffff909b1531d3c3.md
Labels: status: waiting review, scope: curriculum, new python course

#54816 fix(curriculum): prevent hardcoding palidrome checker answers
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-palindrome-checker-project/build-a-palindrome-checker.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54857 feat: donate page donor tests to playwright
  cypress/e2e/default/learn/donate/donate-page-donor.ts
  e2e/donate-page-donor.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54807 fix(api): give expected default if field missing
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schemas/user/get-session-user.ts
  api/src/utils/normalize.test.ts
  api/src/utils/normalize.ts
Labels: status: waiting review, platform: api

#54915 fix(curriculum): Inconsistent uses of "a" and "an"
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc24073f86c76b9248c6ebb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa30b9eacea3f48c6300ad.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efada803cbd2bbdab94e332.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655dc43318591b975cdfe2d8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65606d06666e118ba86162be.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65606ed6ea2baca053327e9b.md
Labels: status: waiting review, scope: curriculum

#54913 fix(ui): restore python reset button
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: platform: learn

#54909 fix(curriculum): test fails if it's not list comprehension
  curriculum/challenges/english/07-scientific-computing-with-python/learn-classes-and-objects-by-building-a-sudoku-solver/660ac35d55a15d81afdedd76.md
Labels: status: waiting review, scope: curriculum, new python course

#54616 fix(curriculum): replace flaky solution
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-84-monopoly-odds.md
Labels: type: bug, status: waiting review, scope: curriculum

#54903 feat: convert "Donation Block Completion modal" tests to Playwright
  cypress/e2e/default/learn/donate/donation-block-completion-modal.ts
  e2e/donation-block-completion-modal.spec.ts
Labels: scope: tools/scripts

#54901 fix(api): update-my-username response body
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas/settings/update-my-username.ts
Labels: platform: api

#54876 feat: convert Codeally test to Playwright
  .github/workflows/temporary-container-checks.yml
  cypress/e2e/default/learn/challenges/codeally.ts
  e2e/codeally.spec.ts
Labels: scope: tools/scripts

#54830 feat: adding lessons for else if to pyramid project
  curriculum/challenges/_meta/learn-introductory-javascript-by-building-a-pyramid-generator/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f44f10ea40f300b896a5e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f455b044d3230ed971e98.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f45ccf4ca5c31f253005a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f46460f9c36330ebc07d8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f46b9c417a8341729a3ab.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4774e3e0df35a68bb5f2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f47afe4c98536715d5fa4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f487dc0c8fa38084f9754.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f48a419b40238e2b8b4d5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f48e1d3682f39e81843c4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4934fb48f63abd5ae371.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4990b1caa03b9dc97a43.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f49e32001983c90b75850.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4a1472f8e63d76162ce5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4a83373de83ea101685f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4ae5b3924c3fc3373973.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4b33e2a3364094ecb540.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4b641290da41b2cf0dd9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4c3b01c44743719c99e4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4cde8dd305450514a1cb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4cffb1459d45e34902d1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4de78f775e480ba2e451.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4e74f7fd3f4a99ac2e50.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4efcb8068e4cb470dca1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4f79e2a82a4e92290f44.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f505d02b2bd513a1c3468.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f50a21fe7645252804f2b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f5179b3b0ca558f6b4d4f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f51f1df0a8757934a5796.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f530d6e33d159e1bf4947.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f535ec33a285b33af3774.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f53ad3d39175c5d4335ac.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f540c2176ea5dec01306d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610bf6fa14d700beed1b109.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/661483051820c3c1ab4595e0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/66458f0a05df478aa627629e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/664599653fcd6e97104f9261.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new javascript course

#54822 fix(curriculum): prevent hardcoding pokemon
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54937 fix(curriculum): updated description of step 1 of pyramid project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660ee6e3a242da6bd579de69.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54928 fix: delete non-existing challenge from meta
  curriculum/challenges/_meta/learn-data-structures-by-building-the-merge-sort-algorithm/meta.json
Labels: status: waiting review, scope: curriculum, scope: i18n

#54877 fix(mailhog): use docker network address in containers
  api/src/plugins/mail-providers/nodemailer.ts
  api/src/utils/env.ts
Labels: status: waiting review, platform: api

#54914 chore(deps): remove @testing-library/jest-dom from client dep list
  client/package.json
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn

#54873 feat: convert universal navigation test to Playwright
  cypress/e2e/default/learn/header/universal-navigation.ts
  e2e/header.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54319 feat(curriculum): add English curriculum block 8.1 sharing progress and accomplishments
  curriculum/challenges/_meta/learn-how-to-share-progress-and-accomplishments/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66100326d773b61282509e50.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661003c35e5ba713abd2da6c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6610041a61d5ec13feffff07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6610056e633ce41466b6c5bc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661005bbe1801e14c303a57a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66100646290700150caff732.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661215c06938a71ad4101c93.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661216bbf6d9a51b409172a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661216ff45b1871b85f57a1a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612181d89fdfc1c2f44309d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661218bc905fb61c898221b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66121954a1cde81cd252ef26.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66121a02da620e1d25ff63d4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66121b3a462fe01da4816b39.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122a393fd32d2a4876ca95.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122a6093ba082abb2cd136.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122ab30afc8e2b1f42b78a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122b7d6f1f182bb1fe0338.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661253cc9fb5ee2d01a0d6a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661254cf9474ed2da90fec1b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66125530a1a9e92e0e08d594.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661255c3b6ea612e984a62b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66125666f8437c2f3616045e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661256fe823f142fb9858beb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66126744e24b0a31255718a7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661267c5ac355931ab1f933d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612693507cbd43269ae64e0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661269c4ccdd4132db7517b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66126a21821998335a86a34b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127192c932be37ed0217e7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661271c2b16aff3870604148.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612727ec0a11b390b8e92cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612752978bcc239ae7b60da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612757ffdc16b3a22b08427.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612762a058bb43b960e91ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127678c88f183c0312d8e8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127755a52efa3c9a73065b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661277970c67233d02f138de.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661278160653ee3d9040ed68.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127850c4415c3df1b4e99a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612792bc77de13e8f2af3ad.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612797faf03663ef83f4459.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661279c8d3bf0f3f6f23f21f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/dialogue-placeholder.md
Labels: scope: curriculum, status: waiting update, scope: i18n, new english course

#54947 refactor: remove unused completion-epic code
  client/src/redux/index.js
  client/src/templates/Challenges/redux/completion-epic.js
Labels: status: waiting review, platform: learn

#54948 refactor: remove unused CSS rules from help-modal.css
  client/src/templates/Challenges/components/help-modal.css
Labels: status: waiting review, platform: learn

#54907 fix(curriculum): rename calorie counter variables as functions
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63b6152e6aff882db819fc1e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63bf5230bccd1c2f5c13e1ce.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63bf5cf03b50bf36cfbe94ea.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54694 feat(client): handle lessons with syntax errors
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.ts
Labels: status: waiting review, platform: learn

#54966 chore: remove `button-group` class
  client/src/components/layouts/global.css
  client/src/templates/Challenges/components/tool-panel.tsx
Labels: status: waiting review, platform: learn

#54908 feat: convert portfolio test to Playwright
  client/src/components/settings/portfolio.tsx
  cypress/e2e/default/settings/portfolio.ts
  e2e/portfolio.spec.ts
  e2e/settings.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54749 feat: convert c-sharp test to playwright
  cypress/e2e/default/learn/challenges/c-sharp.ts
  e2e/c-sharp.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54939 feat: convert "user token" tests to Playwright
  client/src/components/settings/user-token.tsx
  cypress/e2e/default/settings/user-token.ts
  e2e/user-token.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54622 feat(curriculum): add first debugging project to JS curriculum
  client/i18n/locales/english/intro.json
  client/src/pages/learn/javascript-algorithms-and-data-structures-v8/learn-basic-debugging-by-building-a-random-background-color-changer/index.md
  curriculum/challenges/_meta/build-a-cash-register-project/meta.json
  curriculum/challenges/_meta/build-a-palindrome-checker-project/meta.json
  curriculum/challenges/_meta/build-a-pokemon-search-app-project/meta.json
  curriculum/challenges/_meta/build-a-roman-numeral-converter-project/meta.json
  curriculum/challenges/_meta/build-a-telephone-number-validator-project/meta.json
  curriculum/challenges/_meta/learn-advanced-array-methods-by-building-a-statistics-calculator/meta.json
  curriculum/challenges/_meta/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/meta.json
  curriculum/challenges/_meta/learn-basic-algorithmic-thinking-by-building-a-number-sorter/meta.json
  curriculum/challenges/_meta/learn-basic-debugging-by-building-a-random-background-color-changer/meta.json
  curriculum/challenges/_meta/learn-basic-oop-by-building-a-shopping-cart/meta.json
  curriculum/challenges/_meta/learn-basic-string-and-array-methods-by-building-a-music-player/meta.json
  curriculum/challenges/_meta/learn-fetch-and-promises-by-building-an-fcc-authors-page/meta.json
  curriculum/challenges/_meta/learn-form-validation-by-building-a-calorie-counter/meta.json
  curriculum/challenges/_meta/learn-functional-programming-by-building-a-spreadsheet/meta.json
  curriculum/challenges/_meta/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/meta.json
  curriculum/challenges/_meta/learn-intermediate-oop-by-building-a-platformer-game/meta.json
  curriculum/challenges/_meta/learn-localstorage-by-building-a-todo-app/meta.json
  curriculum/challenges/_meta/learn-modern-javascript-methods-by-building-football-team-cards/meta.json
  curriculum/challenges/_meta/learn-recursion-by-building-a-decimal-to-binary-converter/meta.json
  curriculum/challenges/_meta/learn-regular-expressions-by-building-a-spam-filter/meta.json
  curriculum/challenges/_meta/learn-the-date-object-by-building-a-date-formatter/meta.json
  curriculum/challenges/_meta/review-dom-manipulation-by-building-a-rock-paper-scissors-game/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/66323433f931ca32305a11f5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/663250b42513ef5975599c49.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/663255f28c59315db74d137b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/66325a250690a3612c1db0f6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/663260de72634166b0800fe9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/66326637df347d6ae9928853.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/66326913b729e16dd0127a36.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/6650c9a94d6e13d14a043a69.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new javascript course

#54925 fix: memoize completedPercentageSelector
  client/src/templates/Challenges/redux/completion-epic.test.js
  client/src/templates/Challenges/redux/selectors.js
Labels: status: waiting review, platform: learn

#54944 feat: convert "navigation tests spec" to Playwright
  cypress/e2e/default/learn/challenges/navigation.ts
  e2e/challenge-reset-modal.spec.ts
  e2e/editor.spec.ts
  e2e/fixtures/build-a-personal-portfolio-webpage.json
  e2e/lower-jaw.spec.ts
  e2e/navigation-from-last-challenge.spec.ts
  e2e/preview.spec.ts
  e2e/progress-bar.spec.ts
  e2e/projects.spec.ts
  e2e/utils/editor.ts
Labels: status: waiting review, scope: tools/scripts

#54976 chore(curriculum): remove empty videoUrl's
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-s-tag-to-strikethrough-text.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/improve-compatibility-with-browser-fallbacks.md
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/assigning-the-value-of-one-variable-to-another.md
Labels: status: waiting review, scope: curriculum

#54941 feat: delete and rename "Quincy's email tests" already convered by Playwright
  cypress/e2e/default/user/privacy-terms.ts
  e2e/quincy-email-sign-up.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54900 fix(UI): arrange the ribbon icons symmetrically
  client/src/assets/icons/completion-ribbon.tsx
Labels: status: waiting review, platform: learn

#54883 fix(api): reset all claimed certs during reset
  api/src/routes/auth-dev.test.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/utils/create-user.ts
Labels: status: waiting review, platform: api

#54989 feat(curriculum): add animations to block 6.3 of the English Curriculum
  curriculum/challenges/_meta/learn-how-to-ask-for-clarification-on-code-understanding/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f422e03c1be26ee37dbcf1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f424048ab85171c45e9a08.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f425b9d9686e76a354a7ee.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f4264c34d9b678ecd79ad3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f4271a0a61e57af14a9b35.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f42789b0fe157c08cf04eb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f434b6c6a3ba9743d08e22.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f435edbd8f519aba51cc93.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f437964aed009f178dd167.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f4386ef80894a17d6b1f3d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f439533bb1c4a3ab360b62.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f439b8a46608a46ba94c73.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43a3a8b2c8ba627c31e46.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43aa270f998a70375bb23.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43b8a961e01a96a940470.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f43c96b08a08ac434de6cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f50a13853f93ef6c7337c1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f510b35d792af24e985351.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f511638aa1de0b9d53963e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52ee449926c59b5c3a407.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52f215010605aa4da8804.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52f761f23715bce60f9ce.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f52fb434a8875cb666ede5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f53033b856ff5e687644e4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f530793181a05f4e44a36a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f569d173ab3d5100c42fd0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f56b281bb51c5493d3e598.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f56b6445b35b558688bc4d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f56e358123475af6d0f245.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5703b434254615ec3b886.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f587dd775b4e74643cf3db.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5884cd3c21a9bd49f4b00.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f58a1bc78dd4a0a22a8168.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f58b427db077a36de24777.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f58d630872fea94e0f91f5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f592180269c1b38c771164.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5928f3ee01db4e8b9d7fe.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f5936de4e017b74ea663db.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f59409f39a43b8d90b53f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f594d096c1aebb60e5194d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f598d3a104b7c50aea53ab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f5d9324c65ef3adab297.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f6f53aaa73f21560a9cc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f7d103c247f4d7e10b34.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6f9e9cfbda7f9c04e8af7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6fb76ea5932fe4ba266c6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/65f6fc00be7facffe0898c6d.md
Labels: scope: curriculum, scope: i18n, new english course

#54995 fix(curriculum): fix class names in cat painting project
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646ce9d790d2a44de5f99e04.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646ddd3f9f97a0667b964bdb.md
Labels: status: waiting review, scope: curriculum

#54979 fix(learn): render note on /responsive-web-design/basic-css/
  client/src/pages/learn/responsive-web-design/basic-css/index.md
Labels: platform: learn

#55002 fix(curriculum): three instructions/description for CAP
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-194-coloured-configurations.md
  curriculum/challenges/english/23-python-for-everybody/python-for-everybody/relational-databases-and-sqlite.md
Labels: status: waiting review, scope: curriculum

#54982 fix(curriculum): add example for arrow functions in Platformer Game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c72e52133d687e8e6a60f6.md
Labels: scope: curriculum, status: waiting update

#55038 fix(curriculum): fix typo in palindrome project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-palindrome-checker-project/build-a-palindrome-checker.md
Labels: status: waiting review, scope: curriculum

#55030 fix: adjust wording on donation page
  client/i18n/locales/english/translations.json
Labels: status: waiting review, platform: learn, scope: i18n

#55015 fix(curriculum): cleaner, better formated solution for Euler p9
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-9-special-pythagorean-triplet.md
Labels: status: waiting review, scope: curriculum

#54906 refactor(client): migrate lower jaw buttons to Button component
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: learn

#55026 fix(curriculum): Added clarification for what text-align does
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f344f9c805cd193c33d829c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477ae9675db8bb7655b30.md
Labels: status: waiting review, scope: curriculum

#55048 fix(curriculum): Corrected grammar of step-104
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464ad3c9b2e6cf58224cfa9.md
Labels: scope: curriculum
