Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-12, with the labels that each got.

#57345 feat: add donation animation ab test
  client/i18n/locales/english/translations.json
  client/src/assets/images/new-bear-animation.svg
  client/src/components/Donation/donation-modal-body.tsx
  client/src/components/Donation/donation.css
Labels: status: waiting review, platform: learn, scope: i18n

#57382 feat: update benefits text
  client/i18n/locales/english/translations.json
Labels: platform: learn, scope: i18n

#57379 chore(curriculum): update video links for code editor lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d26269456511aa3db614d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45583fd75a504136fbbb.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45651d83b450801efb3a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d456f4ac35950b300e93f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d457bcdd8b350ec2b6254.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57307 feat(curriculum): adding content for form maps and sets review page
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/quiz-javascript-maps-and-sets/index.md
  client/src/pages/learn/full-stack-developer/quiz-javascript-maps-sets-and-json/index.md
  client/src/pages/learn/full-stack-developer/review-javascript-maps-and-sets/index.md
  client/src/pages/learn/full-stack-developer/review-javascript-maps-sets-and-json/index.md
  curriculum/challenges/_meta/quiz-javascript-maps-and-sets/meta.json
  curriculum/challenges/_meta/review-javascript-maps-and-sets/meta.json
  curriculum/challenges/english/25-front-end-development/quiz-javascript-maps-and-sets/67358be1c7903489c0a7db78.md
  curriculum/challenges/english/25-front-end-development/review-javascript-maps-and-sets/6723d027b02e4cc6ee5944da.md
  curriculum/challenges/english/25-front-end-development/review-javascript-maps-sets-and-json/6723d027b02e4cc6ee5944da.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57357 fix(a11y): use div as logo container instead of ul
  client/src/components/landing/components/landing-top-b.tsx
Labels: status: waiting review, platform: learn

#57188 feat(curriculum): create tables and forms quiz
  curriculum/challenges/english/25-front-end-development/quiz-html-tables-and-forms/66ed902df45ce3ece4053ebc.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57362 fix(curriculum): Conversation Starters typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657dc71c76da6e475ad4eb4f.md
Labels: scope: curriculum

#57343 fix(curriculum): clarify wording for radio and checkbox options
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e2.md
Labels: status: waiting review, scope: curriculum

#57387 refactor: convert codeally show.tsx to function
  client/src/templates/Challenges/codeally/show.tsx
Labels: status: waiting review, platform: learn

#57395 refactor(client): convert frontend to functional component
  client/src/templates/Challenges/projects/frontend/show.tsx
Labels: platform: learn

#57355 chore(curriculum): mention PEMDAS in pyramid generator
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f383d4c772c12ff59904b.md
Labels: status: waiting review, scope: curriculum

#57392 refactor: convert mstrophy show.tsx to function
  client/src/templates/Challenges/ms-trophy/show.tsx
Labels: platform: learn

#57130 fix: separate footer from hits
  client/src/components/search/searchBar/no-hits-suggestion.tsx
  client/src/components/search/searchBar/search-bar-footer.tsx
  client/src/components/search/searchBar/search-bar.tsx
  client/src/components/search/searchBar/search-hits.tsx
  client/src/components/search/searchBar/search-suggestion.tsx
  client/src/components/search/searchBar/searchbar.css
Labels: status: waiting review, platform: learn

#57397 refactor: remove unnecessary useEffect
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/generic/show.tsx
  client/src/templates/Challenges/quiz/show.tsx
Labels: platform: learn

#57396 test: debug playwright ci with screenshots
  .github/workflows/e2e-playwright.yml
  playwright.config.ts
Labels: scope: tools/scripts

#57403 fix(curriculum): Typical Workday and Tasks typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-a-typical-workday-and-tasks/657e2c02a685f4ec9ec951ff.md
Labels: status: waiting review, scope: curriculum, new english course

#57415 fix(curriculum): replace 1080p code editor lecture videos to 4k
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d26269456511aa3db614d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45651d83b450801efb3a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d456f4ac35950b300e93f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d457bcdd8b350ec2b6254.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57389 fix(client): remove video component
  client/src/templates/Challenges/video/show.tsx
  client/utils/gatsby/challenge-page-creator.js
  shared/config/challenge-types.ts
Labels: status: waiting review, platform: learn

#57417 fix(curriculum): b1 english block layouts
  curriculum/challenges/_meta/learn-about-adverbial-phrases/meta.json
  curriculum/challenges/_meta/learn-about-speculation-and-requests/meta.json
  curriculum/challenges/_meta/learn-common-phrasal-verbs-and-idioms/meta.json
  curriculum/challenges/_meta/learn-determiners-and-advanced-use-of-articles/meta.json
  curriculum/challenges/_meta/learn-future-continuous-while-describing-actions/meta.json
  curriculum/challenges/_meta/learn-how-to-clarify-misunderstandings/meta.json
  curriculum/challenges/_meta/learn-how-to-describe-places-and-events/meta.json
  curriculum/challenges/_meta/learn-how-to-express-agreement/meta.json
  curriculum/challenges/_meta/learn-how-to-express-concerns/meta.json
  curriculum/challenges/_meta/learn-how-to-express-decisions-based-on-comparisons/meta.json
  curriculum/challenges/_meta/learn-how-to-express-disagreement/meta.json
  curriculum/challenges/_meta/learn-how-to-manage-a-conversation/meta.json
  curriculum/challenges/_meta/learn-how-to-plan-future-events/meta.json
  curriculum/challenges/_meta/learn-how-to-share-feedback/meta.json
  curriculum/challenges/_meta/learn-how-to-share-your-opinion/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-numbers-with-a-coworker/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-past-activities/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-past-experiences/meta.json
  curriculum/challenges/_meta/learn-how-to-use-adjectives-in-conversations/meta.json
  curriculum/challenges/_meta/learn-how-to-use-conditionals/meta.json
  curriculum/challenges/_meta/learn-how-to-use-modal-verbs/meta.json
  curriculum/challenges/_meta/learn-how-to-use-prepositions-according-to-context/meta.json
  curriculum/challenges/_meta/learn-how-to-use-reported-speech/meta.json
  curriculum/challenges/_meta/learn-present-perfect-while-talking-about-accessibility/meta.json
Labels: scope: curriculum, scope: i18n, new english course

#57311 feat(curriculum): adding content for async JS review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-asynchronous-javascript/6723d35bb07d1bd220d0f28d.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57398 refactor(client): use functional component for exams
  client/src/templates/Challenges/exam/show.tsx
Labels: status: waiting review, platform: learn

#57365 breaking(api): remove submission time from exam env
  api/__mocks__/env-exam.ts
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/exams.ts
  api/src/exam-environment/utils/exam.ts
Labels: platform: api

#56165 feat(curriculum): add blog post card lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-blog-post-card/index.md
  curriculum/challenges/_meta/lab-blog-post-card/meta.json
  curriculum/challenges/english/25-front-end-development/lab-blog-post-card/66eaddd04a9e533fba689001.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57432 refactor(client): stop passing around unused data
  client/gatsby-node.js
  client/src/templates/Challenges/redux/completion-epic.js
  client/src/templates/Challenges/redux/index.js
  client/utils/gatsby/challenge-page-creator.js
  curriculum/get-challenges.js
  curriculum/schema/challenge-schema.js
Labels: platform: learn

#57346 refactor: simplify is-audited logic
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/help-translate.tsx
  curriculum/get-challenges.js
  curriculum/utils.js
  shared/config/curriculum.test.ts
  shared/config/curriculum.ts
  shared/utils/is-audited.ts
  tools/challenge-auditor/index.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#57201 feat(api): add /submit-quiz-attempt endpoint
  api/prisma/schema.prisma
  api/src/plugins/__fixtures__/user.ts
  api/src/routes/protected/challenge.test.ts
  api/src/routes/protected/challenge.ts
  api/src/routes/protected/user.test.ts
  api/src/routes/protected/user.ts
  api/src/schemas.ts
  api/src/schemas/challenge/submit-quiz-attempt.ts
  api/src/schemas/user/get-session-user.ts
Labels: status: waiting review, platform: api

#57402 refactor(client): simplify transformation pipeline functions
  client/src/templates/Challenges/rechallenge/transformers.js
  client/src/templates/Challenges/utils/build.ts
Labels: platform: learn

#57383 fix(api): only query for potentially valid tokens
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
Labels: status: waiting review, platform: api

#57434 refactor(client): get next/prev paths directly from redux
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/components/hotkeys.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/generic/show.tsx
  client/src/templates/Challenges/ms-trophy/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/quiz/show.tsx
Labels: status: waiting review, platform: learn

#57429 fix(curriculum): Typo fixes in a2-english-for-developers
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-clarify-information-in-different-interactions/663c88890037230b817b9fef.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384d37bfbd344d5c647fbd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663897f00196a953f16499c6.md
Labels: status: waiting review, scope: curriculum, new english course

#57437 chore(curriculum): make step 14 cat photo app clearer
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/671141feba228a35cefba82d.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/671141feba228a35cefba82d.md
Labels: scope: curriculum

#57104 feat: reset editor layout button
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-settings.tsx
  client/src/components/settings/misc-settings.tsx
  client/src/redux/index.js
  client/src/redux/settings/action-types.js
  client/src/redux/settings/actions.js
  client/src/redux/settings/settings-sagas.js
  e2e/reset-editor-layout.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#57428 test: fix portfolio spec by introducing toPass with intervals
  e2e/portfolio.spec.ts
Labels: status: waiting review, scope: tools/scripts

#57360 feat(curriculum): add react basics review
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/review-react-basics/index.md
  curriculum/challenges/_meta/review-react-basics/meta.json
  curriculum/challenges/english/25-front-end-development/review-react-basics/67487e141bb6a7140a352e12.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56246 feat(curriculum): add weather app lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-weather-app/index.md
  curriculum/challenges/_meta/lab-weather-app/meta.json
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#57369 fix(curriculum): Decimal to Binary Converter - combine step 103 and 104
  curriculum/challenges/_meta/learn-recursion-by-building-a-decimal-to-binary-converter/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464b1384318a5087190950a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464b25851863b0a119eb7b1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464b3adeee9310bd37ff636.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464b8ccb1a5d612c2f857d1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464c6d6698a8027f8c9d6be.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/674dd79dcfa5690e16e59775.md
Labels: scope: curriculum, scope: i18n

#57458 chore(curriculum): remove link lecture video
  curriculum/challenges/_meta/lecture-working-with-links/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-links/67168343450957aa4335c56b.md
Labels: status: waiting review, scope: curriculum, scope: i18n, full stack cert

#57427 feat(curriculum): adding review JS content to prep exam review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-javascript/6723d3cfdd0717d3f1bf27e3.md
  curriculum/challenges/english/25-front-end-development/review-recursion/6723d1f0568292cd394d6fb6.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57421 fix(curriculum): Typical Workday and Tasks typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-a-typical-workday-and-tasks/657e5af613558ce1f6e1d501.md
Labels: status: waiting review, scope: curriculum, new english course

#57208 feat(curriculum): add voting system lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-voting-system/index.md
  curriculum/challenges/_meta/lab-voting-system/meta.json
  curriculum/challenges/english/25-front-end-development/lab-voting-system/673b567e3ba535dda140d278.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57461 fix(client/UI): add new icon for fsd
  client/src/assets/icons/code.tsx
  client/src/assets/icons/superblock-icon.tsx
Labels: status: waiting review, platform: learn, full stack cert

#57170 fix(curriculum): fix broken HTML in Calorie Counter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c217ccd939053ce4fa16d6.md
Labels: status: waiting review, scope: curriculum, new javascript course

#57467 fix(curriculum): typos in quiz intro
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#57353 feat: add gitpod help doc link
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/file-metadata-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/request-header-parser-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/timestamp-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice.md
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/meet-the-node-console.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/mongodb-and-mongoose/install-and-set-up-mongoose.md
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iii---put-method.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-an-api-response-using-chai-http-iv---put-method.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http-ii.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-on-api-endpoints-using-chai-http.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-browser.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-for-truthiness.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-string-contains-a-substring.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-falls-within-a-specific-range.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-a-string.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-an-array.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-a-variable-or-function-is-defined.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-array-contains-an-item.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-has-a-property.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-an-object-is-an-instance-of-a-constructor.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/test-if-one-value-is-below-or-at-least-as-large-as-another.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-assert.isok-and-assert.isnotok.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-regular-expressions-to-test-a-string.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-the-double-equals-to-assert-equality.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/use-the-triple-equals-to-assert-strict-equality.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/american-british-translator.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/metric-imperial-converter.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md
  curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md
  curriculum/challenges/english/09-information-security/information-security-projects/port-scanner.md
  curriculum/challenges/english/09-information-security/information-security-projects/secure-real-time-multiplayer-game.md
  curriculum/challenges/english/09-information-security/information-security-projects/sha-1-password-cracker.md
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet.hsts.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/avoid-inferring-the-response-mime-type-with-helmet.nosniff.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/configure-helmet-using-the-parent-helmet-middleware.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/disable-client-side-caching-with-helmet.nocache.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/disable-dns-prefetching-with-helmet.dnsprefetchcontrol.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/hash-and-compare-passwords-synchronously.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/hide-potentially-dangerous-information-using-helmet.hidepoweredby.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/mitigate-the-risk-of-clickjacking-with-helmet.frameguard.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/mitigate-the-risk-of-cross-site-scripting-xss-attacks-with-helmet.xssfilter.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/prevent-ie-from-opening-untrusted-html-with-helmet.ienoopen.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/set-a-content-security-policy-with-helmet.contentsecuritypolicy.md
  curriculum/challenges/english/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.md
Labels: status: waiting review, scope: curriculum

#57390 feat: add missing questions
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407a223891b6734563c89.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407be6af21d6766ed4b96.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407ca21117a67cf9521ca.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab82c1a9bbd0e3aabc39d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226afcd33991dd751937a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226b97d4a731e0577ae93.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672aa58c389eb9565978495d.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57465 feat(client/UI): add icons for chapters
  client/src/assets/icons/chapter-icon.tsx
  client/src/assets/icons/css.tsx
  client/src/assets/icons/freecodecamp-icon.tsx
  client/src/assets/icons/html.tsx
  client/src/templates/Introduction/components/super-block-accordion.css
  client/src/templates/Introduction/components/super-block-accordion.tsx
  shared/config/chapters.ts
Labels: status: waiting review, platform: learn, full stack cert

#57336 feat(curriculum): add fcc forum leaderboard lab to FSD cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-fcc-forum-leaderboard/index.md
  curriculum/challenges/_meta/lab-fcc-forum-leaderboard/meta.json
  curriculum/challenges/english/25-front-end-development/lab-fcc-forum-leaderboard/673c91f0b934834bc4a3ecc2.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57349 feat(client): move FSD superblock into Next superblock stage
  client/i18n/locales/english/translations.json
  client/src/components/Map/index.tsx
  curriculum/utils.js
  shared/config/curriculum.test.ts
  shared/config/curriculum.ts
Labels: platform: learn, scope: i18n

#57189 feat(curriculum): add maps and sets workshop to FSD cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-plant-nursery-catalog/index.md
  curriculum/challenges/_meta/workshop-plant-nursery-catalog/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/673339d96c56d36e963e888e.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6733b5632fb854bc6c58dc0d.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6733b5e6f210c1bd1afdf8b3.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/67349ba230cff237c0f2bdf2.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/67349d6e726b2c3c7f7301e8.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734a13a29acdf47f2b8e161.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734a2385c52c54d916a8b86.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734a606e5968a5a19b77171.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734a772196245601e4b80e0.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734ab61e916486c80c490d1.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734b36f1a3ce17e73327f24.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734bbc0bd741598f942352e.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734c10a327760a665b7d5b9.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734eee1f9498cd90f9ae340.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734f0ae9d1cf4dfd43a7805.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734f6290ebd5cfbc75996af.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6734fa225c6667121e589f7e.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/67350acfd2006f2777295b96.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/67351225403acd3d6f70ed6d.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6735145b0ee741461bdbaa49.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/673521668be7905059b2d555.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/673529d08c0d9c5a4193a465.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/673762590f4bc1771c3a1e97.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/673788448f390305b34aa814.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6737a1a073a0d14c6544d301.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6737a5058ff3015829ce3265.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6737a95d5b431860f96ca7bb.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6737ac8e4fe7ae6b91c806bd.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6737c6d5d66b5cc3dac09c7b.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6738a5c704680355e29e077c.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6738a8035efec45acd8fdbf9.md
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6738ad2fd11775752d23ddc2.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57202 feat(curriculum): add reusable footer React lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-reusable-footer/index.md
  curriculum/challenges/_meta/lab-reusable-footer/meta.json
  curriculum/challenges/english/25-front-end-development/lab-reusable-footer/673b02b03134b04637bf7055.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56243 feat(ui): add syncable dark mode
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-settings.test.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/multi-tier-donation-form.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/Donation/wallets-button.tsx
  client/src/components/Flash/redux/index.ts
  client/src/components/Header/components/nav-links.tsx
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/layouts/default.tsx
  client/src/components/profile/profile.test.tsx
  client/src/components/settings/misc-settings.tsx
  client/src/components/settings/theme.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  client/src/redux/settings/action-types.js
  client/src/redux/settings/actions.js
  client/src/redux/settings/settings-sagas.js
  client/src/redux/theme-saga.js
  client/src/redux/types.ts
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/utils/ajax.ts
  client/src/utils/tone/index.ts
  e2e/editor.spec.ts
  e2e/settings.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#57344 feat: add reusable navbar workshop to main
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-reusable-mega-navbar/index.md
  curriculum/challenges/_meta/workshop-reusable-mega-navbar/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6740495ba48aa94e5667b436.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/67457ff2dc531fbed928a0f0.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745c732dbeb7c04f346e6f7.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745c7b06a0b530602cb63fa.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745c89fba004707ded84453.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745cebbf97ef2129f3b9bab.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745d799beeb822076a4da9d.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745d9df333efe2543a1f457.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745dce846995b2a466594be.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745de9ce925b92d72df713a.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745e2aca895c935168e7d91.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, status: waiting update, platform: learn, scope: i18n, status: merge conflict, full stack cert

#57474 fix(curriculum): remove dot from player classname in step 48 of music player
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655220a3fa5c3c200bc8e938.md
Labels: scope: curriculum

#57464 chore(curriculum): adding computer basics videos
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672aa58c389eb9565978495d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac37104dc2530a769e6a4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac39a22b0cc30eb8fd65e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac3c5d0e9fd31835ff772.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac3f129efbf327742eb33.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac403a9ba7732b31c6480.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57476 chore(curriculum): add css debugging video to lecture block
  curriculum/challenges/english/25-front-end-development/lecture-debugging-css/672aa8c1ad423562a38b484d.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57290 chore(curriculum): add frontend to step superblock list
  tools/challenge-editor/client/src/components/block/block.tsx
Labels: scope: tools/scripts

#57205 feat(curriculum): add mood board lab for React props
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-mood-board/index.md
  curriculum/challenges/_meta/lab-mood-board/meta.json
  curriculum/challenges/english/25-front-end-development/lab-mood-board/673b3d6b7ef7318eef926d5a.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57101 fix(curriculum): enhance calorie counter step 45 test flexibility and accuracy
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c2164c0df38a382062c4af.md
Labels: status: waiting review, scope: curriculum

#57358 fix: search indicies
  client/src/utils/algolia-locale-setup.ts
Labels: status: waiting update, platform: learn

#57484 fix(client): suppress babel transform warning
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: platform: learn

#57488 chore(e2e): merge two beforeEach blocks into one
  e2e/global-setup.ts
  e2e/reset-editor-layout.spec.ts
  e2e/update-about-me.spec.ts
Labels: scope: tools/scripts

#57492 fix(curriculum): Change "resistent" to "resistant"
  curriculum/challenges/english/25-front-end-development/lab-tribute-page/bd7158d8c442eddfaeb5bd18.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57493 fix(curriculum): Morning and Evening typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557e5c6a854bfcad48808c4.md
Labels: status: waiting review, scope: curriculum

#57441 chore(curriculum) : add temp lab challenge type
  client/src/templates/Challenges/classic/desktop-layout.tsx
  curriculum/challenges/english/25-front-end-development/lab-availability-table/66b36358ed4f261d64840c24.md
  curriculum/challenges/english/25-front-end-development/lab-bank-account-manager/6718d2d59337c822ecb697ff.md
  curriculum/challenges/english/25-front-end-development/lab-blog-post-card/66eaddd04a9e533fba689001.md
  curriculum/challenges/english/25-front-end-development/lab-book-catalog-table/66ec4c8e9878d8441956516f.md
  curriculum/challenges/english/25-front-end-development/lab-book-inventory-app/66a207974c806a19d6607073.md
  curriculum/challenges/english/25-front-end-development/lab-book-organizer/67172b43f84bcd2dec238a3d.md
  curriculum/challenges/english/25-front-end-development/lab-bookmark-manager-app/66def5467aee701733aaf8cc.md
  curriculum/challenges/english/25-front-end-development/lab-business-card/6690e10ebe2181212abc9652.md
  curriculum/challenges/english/25-front-end-development/lab-checkout-page/66da326c02141df538f29ba5.md
  curriculum/challenges/english/25-front-end-development/lab-confidential-email-page/66bba6fff611169359d9d36a.md
  curriculum/challenges/english/25-front-end-development/lab-contact-form/66f26c32ec6f90df01a44f60.md
  curriculum/challenges/english/25-front-end-development/lab-date-conversion/66f686b8ebdb982fa8e14330.md
  curriculum/challenges/english/25-front-end-development/lab-email-masker/66b205e6eacba4c4e54ea434.md
  curriculum/challenges/english/25-front-end-development/lab-event-flyer-page/66e45c8140f9fda5c105ae26.md
  curriculum/challenges/english/25-front-end-development/lab-event-hub/66ebd4ae2812430bb883c787.md
  curriculum/challenges/english/25-front-end-development/lab-factorial-calculator/66c07238b01053abaf812065.md
  curriculum/challenges/english/25-front-end-development/lab-favorite-icon-toggler/66bf6bacf178eac7b96d4f5e.md
  curriculum/challenges/english/25-front-end-development/lab-football-team-cards/66e7ee20b79186306fc12da5.md
  curriculum/challenges/english/25-front-end-development/lab-fortune-teller/66c06d618d075c7f7f1b890a.md
  curriculum/challenges/english/25-front-end-development/lab-gradebook-app/66bb6a9c2dd58b73cd759034.md
  curriculum/challenges/english/25-front-end-development/lab-house-painting/66d6a7a3e1aa411e94bf2346.md
  curriculum/challenges/english/25-front-end-development/lab-inventory-management-program/66d75dd0aa65a71600dc669b.md
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
  curriculum/challenges/english/25-front-end-development/lab-job-application-form/66faac4139dbbd5dd632c860.md
  curriculum/challenges/english/25-front-end-development/lab-leap-year-calculator/66c06fad3475cd92421b9ac2.md
  curriculum/challenges/english/25-front-end-development/lab-lightbox-viewer/66db57ad34c7089b9b41bfd6.md
  curriculum/challenges/english/25-front-end-development/lab-lunch-picker-program/66db529d37ad966480ebb633.md
  curriculum/challenges/english/25-front-end-development/lab-markdown-to-html-converter/66f55eac933ff64ce654ca74.md
  curriculum/challenges/english/25-front-end-development/lab-moon-orbit/66a37f37ef5823a313de8c26.md
  curriculum/challenges/english/25-front-end-development/lab-newspaper-article/66ba762af611169359d9d369.md
  curriculum/challenges/english/25-front-end-development/lab-page-of-playing-cards/66be24cb4144f955b6bcc550.md
  curriculum/challenges/english/25-front-end-development/lab-palindrome-checker/657bdc55a322aae1eac3838f.md
  curriculum/challenges/english/25-front-end-development/lab-permutation-generator/66fe4f33a2cc9b33f4d5cd9b.md
  curriculum/challenges/english/25-front-end-development/lab-personal-portfolio/bd7158d8c242eddfaeb5bd13.md
  curriculum/challenges/english/25-front-end-development/lab-product-landing-page/587d78af367417b2b2512b04.md
  curriculum/challenges/english/25-front-end-development/lab-project-idea-board/67051431a73f1ca25d9a6f25.md
  curriculum/challenges/english/25-front-end-development/lab-pyramid-generator/66f2836c459cfb16ae76f24f.md
  curriculum/challenges/english/25-front-end-development/lab-quiz-game/66f17db06803d11a1bd19a20.md
  curriculum/challenges/english/25-front-end-development/lab-random-background-color-changer/66b62d0ad68488dd76228d6c.md
  curriculum/challenges/english/25-front-end-development/lab-real-time-counter/66bb3e20d3dc5b6d0a21f5dd.md
  curriculum/challenges/english/25-front-end-development/lab-recipe-page/668f08ea07b99b1f4a91acab.md
  curriculum/challenges/english/25-front-end-development/lab-regex-sandbox/66e028680eca7d21db7e1aee.md
  curriculum/challenges/english/25-front-end-development/lab-sentence-maker/66c057041df6394ca796bf33.md
  curriculum/challenges/english/25-front-end-development/lab-stylized-to-do-list/66c051d13a6a20255a963695.md
  curriculum/challenges/english/25-front-end-development/lab-survey-form/587d78af367417b2b2512b03.md
  curriculum/challenges/english/25-front-end-development/lab-technical-documentation-page/587d78b0367417b2b2512b05.md
  curriculum/challenges/english/25-front-end-development/lab-travel-agency-page/669e2f60e83c011754f711f9.md
  curriculum/challenges/english/25-front-end-development/lab-tribute-page/bd7158d8c442eddfaeb5bd18.md
  curriculum/challenges/english/25-front-end-development/lab-video-compilation-page/669e81368e52b3a5c35a2dc5.md
  curriculum/schema/challenge-schema.js
  shared/config/challenge-types.ts
Labels: scope: curriculum, platform: learn

#57483 fix: update image border lecture multiple choice question
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98db3bcdd545ab3b3c73.md
Labels: scope: curriculum, full stack cert

#57470 fix: do not check for browser extension in mobile app
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  tools/client-plugins/browser-scripts/frame-runner.ts
Labels: scope: curriculum, scope: tools/scripts

#57494 chore: audit block order
  curriculum/superblock-structure/full-stack.json
Labels: full stack cert

#57495 chore: remove used placeholders from intro.json
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n, full stack cert

#57496 fix: Improve description of task 19
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-describe-your-current-project/655bdc7e9c4116509df13f34.md
Labels: status: waiting review, scope: curriculum

#57487 fix(api): return after reply (save-challenge)
  api/src/routes/protected/challenge.test.ts
  api/src/routes/protected/challenge.ts
Labels: platform: api

#57435 feat: use growthbook to determine next and previous challenges
  client/gatsby-node.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/generic/show.tsx
  client/src/templates/Challenges/ms-trophy/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/quiz/show.tsx
  client/src/templates/Challenges/utils/challenge-paths.ts
  client/utils/gatsby/challenge-page-creator.js
  client/utils/gatsby/page-loading.ts
Labels: platform: learn

#57502 fix(curriculum): wording fixes
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab849aa1ef70eefd29364.md
  curriculum/challenges/english/25-front-end-development/review-basic-css/671a887a7e62c75e9ab1ee4a.md
  curriculum/challenges/english/25-front-end-development/review-css/671a9a0a140c2b9d6a75629f.md
  curriculum/challenges/english/25-front-end-development/workshop-colored-markers/61a49d15bdbb5e57cc6fd280.md
Labels: status: waiting review, scope: curriculum

#57498 refactor: organise icons
  client/src/assets/chapter-icon.tsx
  client/src/assets/icons/chapter-icon.tsx
  client/src/assets/icons/freecodecamp-icon.tsx
  client/src/assets/icons/freecodecamp-logo.tsx
  client/src/assets/icons/freecodecamp.tsx
  client/src/assets/superblock-icon.tsx
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Header/components/exam-nav.tsx
  client/src/components/Header/components/nav-logo.tsx
  client/src/components/Header/components/universal-nav.tsx
  client/src/components/Map/index.tsx
  client/src/templates/Introduction/components/super-block-accordion.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  shared/config/chapters.ts
Labels: platform: learn

#57173 fix(curriculum): less strict calorie count step 87
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e8fe3a6f022a05a04675.md
  curriculum/challenges/english/25-front-end-development/workshop-calorie-counter/63c9e8fe3a6f022a05a04675.md
Labels: status: waiting review, scope: curriculum, new javascript course

#56693 fix(curriculum): dice game step 14 add missing test
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e230500602983e01fff6e.md
Labels: status: waiting review, scope: curriculum

#57439 feat(curriculum): add music player workshop to FSD cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-music-player/index.md
  curriculum/challenges/_meta/workshop-music-player/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67471d60ce8e6268fe9e12f6.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6747237371f13173c9f6c27e.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674724ff8af92f7733e6d980.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6747257cdf5412781e138bb2.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6747274264e8a5799fb3e0b5.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674728eda5829d7b4c360643.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6747299cbed5107c6a00d64c.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67472ab9f570797dbb01568a.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67472eef7b4b7ba77b50929b.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67473042e8751eac62fafc82.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674735e3b28351b8b8f05807.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674757668684f9deaa6ac3c0.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674836ba82e9057dfee1849c.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674850b437668dd08edddbe2.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6748567229cc8fe3f706de02.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6748bab9827a356c39559214.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674dda6c6ae8bb538678e125.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674de4ee2039496c30a31b71.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674e2e4e04eb381ccfe92e15.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674e305b7bda7c1f4f37a930.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674e316e3892d32108ad2bb9.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674e34c42ee8f1237e4623cc.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674f489bf617af2bea9b92b5.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674f50cce486fb404751a29c.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674f534fa181f64a789ffcf9.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67503cecd563135d4f27b38e.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/675057ce9acd418619127da4.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67505d3a32d45997d2af4c0f.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/675069b67b8267b36fa550b3.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6750712ee950facad5edc203.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67516a431252ed30832fa7c6.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67516ca9b7fe6636208c5ab5.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67516e888477083c31614dc7.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67517ef2fae05b65108212db.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6751d5d32e58d065652e26a5.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6751e1c117350b7d3f356e1b.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6752c62efa90554c01415e7b.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6752ecd811c96d5dc33ae853.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6752edba757ff96404faf9e9.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/675304e7937e62902e08a3ab.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/675309b2795c2a9ae03b8812.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67532282ab9b95d7083617ee.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/675340b809683f45cae96539.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6757f2b25418da4f73e29eb6.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6758a61fc7e949923716ec41.md
  curriculum/challenges/english/25-front-end-development/workshop-music-player/67594f37fa0c684835f1b064.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57507 fix: labs not working
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/redux/selectors.js
  client/src/templates/Challenges/utils/build.ts
Labels: status: waiting review, platform: learn, full stack cert

#57510 fix(curriculum): remove usesMultifileEditor from quiz meta
  curriculum/challenges/_meta/quiz-advanced-react/meta.json
  curriculum/challenges/_meta/quiz-asynchronous-javascript/meta.json
  curriculum/challenges/_meta/quiz-bash-and-sql/meta.json
  curriculum/challenges/_meta/quiz-bash-commands/meta.json
  curriculum/challenges/_meta/quiz-bash-scripting/meta.json
  curriculum/challenges/_meta/quiz-css-libraries-and-frameworks/meta.json
  curriculum/challenges/_meta/quiz-debugging-javascript/meta.json
  curriculum/challenges/_meta/quiz-dom-manipulation-and-click-event-with-javascript/meta.json
  curriculum/challenges/_meta/quiz-form-validation-with-javascript/meta.json
  curriculum/challenges/_meta/quiz-git/meta.json
  curriculum/challenges/_meta/quiz-javascript-arrays/meta.json
  curriculum/challenges/_meta/quiz-javascript-audio-and-video/meta.json
  curriculum/challenges/_meta/quiz-javascript-comparisons-and-conditionals/meta.json
  curriculum/challenges/_meta/quiz-javascript-dates/meta.json
  curriculum/challenges/_meta/quiz-javascript-events/meta.json
  curriculum/challenges/_meta/quiz-javascript-functional-programming/meta.json
  curriculum/challenges/_meta/quiz-javascript-functions/meta.json
  curriculum/challenges/_meta/quiz-javascript-fundamentals/meta.json
  curriculum/challenges/_meta/quiz-javascript-higher-order-functions/meta.json
  curriculum/challenges/_meta/quiz-javascript-loops/meta.json
  curriculum/challenges/_meta/quiz-javascript-math/meta.json
  curriculum/challenges/_meta/quiz-javascript-objects/meta.json
  curriculum/challenges/_meta/quiz-javascript-regular-expressions/meta.json
  curriculum/challenges/_meta/quiz-javascript-strings/meta.json
  curriculum/challenges/_meta/quiz-javascript-variables-and-data-types/meta.json
  curriculum/challenges/_meta/quiz-local-storage-and-crud/meta.json
  curriculum/challenges/_meta/quiz-nano/meta.json
  curriculum/challenges/_meta/quiz-react-basics/meta.json
  curriculum/challenges/_meta/quiz-react-state-and-hooks/meta.json
  curriculum/challenges/_meta/quiz-recursion/meta.json
  curriculum/challenges/_meta/quiz-relational-database/meta.json
  curriculum/challenges/_meta/quiz-testing/meta.json
  curriculum/challenges/_meta/quiz-typescript/meta.json
  curriculum/challenges/_meta/quiz-web-performance/meta.json
Labels: status: waiting review, scope: curriculum, scope: i18n

#57466 fix(curriculum): display examples as a list
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6556be93f9fcb88ac9e88b0d.md
Labels: status: waiting review, scope: curriculum, new english course

#56290 feat(curriculum): add css colors lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-colored-boxes/index.md
  curriculum/challenges/_meta/lab-colored-boxes/meta.json
  curriculum/challenges/english/25-front-end-development/lab-colored-boxes/66f3f6eb66ea9dc41cdc30df.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56330 feat(curriculum): add functions lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-password-generator/index.md
  curriculum/challenges/_meta/lab-password-generator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-password-generator/66f53dc2c5bd6a11d6c3282f.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#56800 feat(curriculum): add functional programming lab to new cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-sorting-visualizer/index.md
  curriculum/challenges/_meta/lab-sorting-visualizer/meta.json
  curriculum/challenges/english/25-front-end-development/lab-sorting-visualizer/6716249b5405164036fd0b0d.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57514 fix: move `lab-permutation-generator/index.md` to right folder
  client/src/pages/learn/full-stack-developer/lab-permutation-generator/index.md
Labels: status: waiting review, platform: learn, full stack cert

#57515 fix: show completion modal for labs
  client/src/utils/curriculum-layout.ts
Labels: platform: learn

#57211 feat(curriculum): add form validation lab to FSD cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-customer-complaint-form/index.md
  curriculum/challenges/_meta/lab-customer-complaint-form/meta.json
  curriculum/challenges/english/25-front-end-development/lab-customer-complaint-form/67279fe50237291f80eed8b8.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57516 fix: separate saving logic from render logic
  client/src/redux/save-challenge-saga.js
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/components/reset-modal.tsx
  client/src/templates/Challenges/components/tool-panel.tsx
  shared/config/challenge-types.ts
Labels: platform: learn

#57478 fix(curriculum): incomplete hint messages
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-a-typical-workday-and-tasks/657e5d8f7f2274f2b1a8efcc.md
Labels: scope: curriculum

#57400 feat(curriculum): adding reusable profile card component workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-reusable-profile-card-component/index.md
  curriculum/challenges/_meta/workshop-reusable-profile-card-component/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef11f75254548672d998c.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e4691658.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e4691659.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e469165a.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e469165b.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e469165c.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e469165d.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57517 fix(curriculum): cat painting check for proper selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646ceb843412c74edee27a79.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646ceb843412c74edee27a79.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cf2249f02ca5233d9af7c.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6676a8b01e56ec1a1e07c202.md
Labels: scope: curriculum

#57462 feat(client): coming soon chapters, modules and blocks
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/super-block-accordion.css
  client/src/templates/Introduction/components/super-block-accordion.tsx
  curriculum/schema/superblock-structure-schema.js
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#57521 feat(curriculum): add B1 intro to intro.json
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n

#57520 chore(curriculum): add missing onLoad in react workshop
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6740495ba48aa94e5667b436.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57425 fix: check for total challenge completion before donation pop up
  client/src/redux/selectors.js
  e2e/donation-modal.spec.ts
  tools/scripts/seed/seed-demo-user.js
  tools/scripts/seed/user-data.js
Labels: platform: learn, scope: tools/scripts

#57324 refactor: use observer pattern to play scene
  client/src/templates/Challenges/components/scene/scene-subject.tsx
  client/src/templates/Challenges/components/scene/scene.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/generic/show.tsx
Labels: status: waiting review, platform: learn

#57426 fix(curriculum): Date Validation in Tests with Non-UTC Server Timezones
  curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md
Labels: status: waiting review, scope: curriculum

#57530 fix(client,curriculum): fix typo for the word 'available'
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-fortune-teller/index.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c1.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c2.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#57529 fix(curriculum): fix typo for "your" in one of the curriculum challenge
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579bf.md
Labels: status: waiting review, scope: curriculum

#57532 fix(api): extra 'at' in the certificate email template
  api/src/routes/protected/certificate.ts
Labels: platform: api

#57522 fix(client): translate alt text
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-certification.tsx
Labels: platform: learn, scope: i18n

#57253 chore(curriculum): remove jquery from basic-html-html5
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-a-submit-button-to-a-form.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/comment-out-html.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-bulleted-unordered-list.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-an-ordered-list.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/define-the-head-and-body-of-an-html-document.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/delete-html-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/fill-in-the-blank-with-placeholder-text.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/headline-with-the-h2-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/inform-with-the-paragraph-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/introduction-to-html5-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/make-dead-links-using-the-hash-symbol.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-many-elements-within-a-single-div-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/turn-an-image-into-a-link.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/uncomment-html.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-html5-to-require-a-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes.md
Labels: status: waiting review, scope: curriculum

#57477 fix(curriculum): test for values step 25 spreadsheet instructions
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/64496d80bc174a158c973080.md
Labels: status: waiting review, scope: curriculum

#57430 fix(ui): Issue with Exercise Accessibility on Mobile
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: learn

#57513 fix(curriculum): fix Building a Dice Game - Step 14 - passing with incorrect code
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e230500602983e01fff6e.md
Labels: status: waiting review, scope: curriculum

#57526 chore(curriculum): refactor HTML tables and form quiz content and intro text
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/quiz-html-tables-and-forms/66ed902df45ce3ece4053ebc.md
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#57523 fix(client): profile card background
  client/src/components/profile/profile.css
Labels: platform: learn

#57512 fix(tools): sync up unit tests with client tests
  client/src/templates/Challenges/utils/build.ts
  curriculum/test/test-challenges.js
Labels: platform: learn

#57533 fix: "What Are Best Practices for Hiding Content So It Doesn't Become Inaccessible?" multiple choice questions
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-accessibility-and-css/672c35a79fa53e00de9f2a49.md
Labels: scope: curriculum, full stack cert

#56785 fix(curriculum): granular chart tests in budget app
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-budget-app-project/budget-app.md
Labels: status: waiting review, scope: curriculum, new python course

#57537 fix(curriculum): examples as a list and typos
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6556bc95e6ce5d850d37dd07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655792631f21afaa40c611e1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557985a95ab6db1c4a31b6c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557995f0d97e1b2837a3081.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/65579a0e1613d5b31a034ee5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557aee56ed7dcb5506a66d6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557d6a229e541bfde2c560d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557d782bc7613c06aa7dafd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557db51366bf6c15a966fb0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557dc1aa6be93c1eb4e9efb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557dea8c258c1c2a767deb7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/6557e0adbee371c3ac455a01.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a235215bab7fa2a2e4bb7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a33bb8f2009ff7a7abfaa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a367638e3f401eb0235ea.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a3789069fc902eb2aaa4b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a39242197c9040ddedef2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a3cc030fb970687d6444d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a4a5af997350c187bd779.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a4fc35818d90f73f63ba0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a51cff12fb7117aa611f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a5bfadf47e1199f9b65eb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a5e76ca6f8d1b1a88e0f1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a78fdfac0e22b0c400e72.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a79e595bd202b4cd5e2d2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a7c5211e5252cf8a4ed01.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a7d752ffc542e5874af0b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a896f31ca6a32913d1106.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a8c9d2a0ea136a0fd3631.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655b2b5cc4ea3062f9811dec.md
Labels: scope: curriculum

#57527 fix: node and python icons
  client/src/assets/chapter-icon.tsx
  client/src/assets/icons/node.tsx
  shared/config/chapters.ts
Labels: status: waiting review, platform: learn, full stack cert

#57543 feat: prep b1 english for release
  client/gatsby-node.js
  client/i18n/locales/english/translations.json
  client/src/components/Map/index.tsx
  e2e/landing.spec.ts
  e2e/map.spec.ts
  shared/config/curriculum.test.ts
  shared/config/curriculum.ts
Labels: platform: learn, scope: i18n, scope: tools/scripts

#57539 feat: prep semantic html for release
  client/i18n/locales/english/intro.json
  client/src/templates/Introduction/components/super-block-accordion.tsx
  curriculum/challenges/_meta/lab-event-hub/meta.json
  curriculum/challenges/_meta/lecture-importance-of-semantic-html/meta.json
  curriculum/challenges/_meta/quiz-semantic-html/meta.json
  curriculum/challenges/_meta/review-semantic-html/meta.json
  curriculum/challenges/_meta/workshop-blog-page/meta.json
  curriculum/superblock-structure/full-stack.json
  curriculum/test/test-challenges.js
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#57538 chore: update HTML lectures intros
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n, full stack cert

#57320 fix(a11y): completion state of LinkBlock and LegacyLinkBlock
  client/i18n/locales/english/translations.json
  client/src/templates/Introduction/components/block.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#57553 fix: JS comments lecture multiple choice question
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49e65a1c855fe7bb3fdb.md
Labels: scope: curriculum, full stack cert

#57556 fix: js how can you change the casing of a string code example
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-string-methods/67326c1fdaf9c0c5ad1a2589.md
Labels: scope: curriculum, full stack cert

#57555 fix: js extract a substring multiple choice code example
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-string-methods/67326c15b3b2f0c5827927cc.md
Labels: scope: curriculum, full stack cert

#57558 fix: js replace parts of a string with another multiple choice question
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-string-methods/67326c29dcd98fc5ecc49779.md
Labels: scope: curriculum, full stack cert

#57561 fix: change challengeType in 5 labs (and formatting)
  curriculum/challenges/english/25-front-end-development/lab-fcc-forum-leaderboard/673c91f0b934834bc4a3ecc2.md
  curriculum/challenges/english/25-front-end-development/lab-mood-board/673b3d6b7ef7318eef926d5a.md
  curriculum/challenges/english/25-front-end-development/lab-reusable-footer/673b02b03134b04637bf7055.md
  curriculum/challenges/english/25-front-end-development/lab-voting-system/673b567e3ba535dda140d278.md
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
Labels: scope: curriculum

#57545 chore(curriculum): remove jquery from css flexbox
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/align-elements-using-the-align-items-property.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/align-elements-using-the-justify-content-property.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-a-column-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-rows-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-display-flex-to-position-two-boxes.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-items-property-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-align-self-property.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-basis-property-to-set-the-initial-size-of-an-item.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-column.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-direction-property-to-make-a-row.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-grow-property-to-expand-items.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-shorthand-property.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-shrink-property-to-shrink-items.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-flex-wrap-property-to-wrap-a-row-or-column.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-justify-content-property-in-the-tweet-embed.md
  curriculum/challenges/english/01-responsive-web-design/css-flexbox/use-the-order-property-to-rearrange-items.md
Labels: scope: curriculum

#57551 chore(curriculum): update survey form
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/english/25-front-end-development/lab-survey-form/587d78af367417b2b2512b03.md
Labels: scope: curriculum

#57562 fix: key characteristics of js arrays multiple choice questions
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/67329f508a6ec45b046700b3.md
Labels: scope: curriculum, full stack cert

#57563 fix(curriculum): fix some feedback answers on A2 block 1
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657dca763bc23c5fc3398d95.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657dd047e755e37d58f5084f.md
Labels: scope: curriculum, new english course

#57560 fix: trim whitespace from a string multiple choice question
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-string-methods/67326c3c3ab931c644cea05b.md
Labels: scope: curriculum, full stack cert

#57547 chore(curriculum): remove unused meta
  client/src/pages/learn/scientific-computing-with-python/learn-inheritance-by-building-an-equation-solver/index.md
Labels: platform: learn

#57559 fix: some typos in quizzes
  curriculum/challenges/english/25-front-end-development/quiz-javascript-objects/66edcd0ecb4b25dc64a34804.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-regular-expressions/66edd3011f18f4ee1bd9d28b.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-strings/66edc31c44f1b9c1d5c5ebca.md
Labels: scope: curriculum

#57566 fix(curriculum): typo in quiz question
  curriculum/challenges/english/25-front-end-development/quiz-javascript-strings/66edc31c44f1b9c1d5c5ebca.md
Labels: status: waiting review, scope: curriculum

#57554 fix(curriculum): update video id, review and quiz for basic html module
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/670803abcb3e980233da4768.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/6708143cab2b583ecd3324f5.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/6708382cf088b216580a9ff1.md
  curriculum/challenges/english/25-front-end-development/quiz-basic-html/66df3b712c41c499e9d31e5b.md
  curriculum/challenges/english/25-front-end-development/review-basic-html/67072fc183c7ca6c588feb4d.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57575 chore: replace curly quotes
  curriculum/challenges/english/25-front-end-development/lab-lightbox-viewer/66db57ad34c7089b9b41bfd6.md
  curriculum/challenges/english/25-front-end-development/lab-product-landing-page/587d78af367417b2b2512b04.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-accessibility-and-css/672c35a79fa53e00de9f2a49.md
  curriculum/challenges/english/25-front-end-development/lecture-common-design-tools/672bb619f0d4538d0528760d.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733aa9b006d29f4d11307a5.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a536f8386288b9ed0a154.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e3a9cc78faaf4248d335.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d26385dbe73203c4dac81.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d497cb1a1675e47bf7ea1.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49959621885e9d3e672c.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672c3a84fb8d4613776cc99e.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672c3a8fac7c5613b4bb75de.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/67329f508a6ec45b046700b3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d852175df50937f06061.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98be592cfb451f651451.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98cd77b6b7456b6ef2de.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226732b19aa1cacd0a75c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271a8998ddfd97578d095.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271c7581a27d9dd78f6d6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271fd11d063daf0cf8d20.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/67327217e70ee0db7913b255.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733692ffe1da034469f7917.md
  curriculum/challenges/english/25-front-end-development/quiz-css-attribute-selectors/66ed8fd0f45ce3ece4053eaf.md
  curriculum/challenges/english/25-front-end-development/quiz-css-backgrounds-and-borders/66ed8fd7f45ce3ece4053eb0.md
  curriculum/challenges/english/25-front-end-development/quiz-css-typography/66ed9010f45ce3ece4053eb8.md
  curriculum/challenges/english/25-front-end-development/quiz-debugging-javascript/66edd10913f078e7669eca81.md
  curriculum/challenges/english/25-front-end-development/quiz-form-validation-with-javascript/66edd3403d7077eece6dc4b6.md
  curriculum/challenges/english/25-front-end-development/quiz-git/66f1b06a5a5d10cc100af620.md
  curriculum/challenges/english/25-front-end-development/quiz-html-accessibility/66ed9026f45ce3ece4053ebb.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-classes/67358ac128957c865dcf3ddf.md
  curriculum/challenges/english/25-front-end-development/quiz-semantic-html/66ed903cf45ce3ece4053ebe.md
  curriculum/challenges/english/25-front-end-development/quiz-styling-forms/66ed9043f45ce3ece4053ebf.md
  curriculum/challenges/english/25-front-end-development/review-css-accessibility/671a955b74ab5588735800d1.md
  curriculum/challenges/english/25-front-end-development/review-css-flexbox/671a940c69cdee833d4cc312.md
  curriculum/challenges/english/25-front-end-development/review-css-pseudo-classes/671a907bad4538752765f2ff.md
  curriculum/challenges/english/25-front-end-development/review-css/671a9a0a140c2b9d6a75629f.md
  curriculum/challenges/english/25-front-end-development/review-debugging-javascript/6723cd54fc196dbd053f9dfb.md
  curriculum/challenges/english/25-front-end-development/review-dom-manipulation-and-click-events-with-javascript/6723cc7a8e7aa3b9befd4bac.md
  curriculum/challenges/english/25-front-end-development/review-form-validation-with-javascript/6723ce555ff2dfc0cc04b69a.md
  curriculum/challenges/english/25-front-end-development/review-javascript-arrays/6723c66f623701a3cdf72130.md
  curriculum/challenges/english/25-front-end-development/review-javascript-audio-and-video/6723cf27c6e9a0c3f3041385.md
  curriculum/challenges/english/25-front-end-development/review-javascript-events/6723cc0ca05ce9b87a319ceb.md
  curriculum/challenges/english/25-front-end-development/review-javascript-math/6723c463e51a2d9b747d7529.md
  curriculum/challenges/english/25-front-end-development/review-javascript-regular-expressions/6723cdfa4ae237bf6b7e32eb.md
  curriculum/challenges/english/25-front-end-development/review-javascript-variables-and-data-types/6723be264695fb7e619fe1fa.md
  curriculum/challenges/english/25-front-end-development/review-javascript/6723d3cfdd0717d3f1bf27e3.md
  curriculum/challenges/english/25-front-end-development/review-local-storage-and-crud/6723d0ac516099c902394e8b.md
  curriculum/challenges/english/25-front-end-development/review-react-basics/67487e141bb6a7140a352e12.md
  curriculum/challenges/english/25-front-end-development/workshop-cafe-menu/5f35e5c4321f818cdc4bed30.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc24614f86c76b9248c6ebd.md
  curriculum/challenges/english/25-front-end-development/workshop-colored-markers/61764c602bee6974e7790f35.md
  curriculum/challenges/english/25-front-end-development/workshop-colored-markers/617bbb6b97a83f6d1f7d6e38.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf33305293e1b35c1aef7f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57582 fix: add CDN link explanation
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-25-5-clock.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-drum-machine.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-javascript-calculator.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-markdown-previewer.md
  curriculum/challenges/english/03-front-end-development-libraries/front-end-development-libraries-projects/build-a-random-quote-machine.md
Labels: scope: curriculum

#57174 feat(curriculum): add magazine layout lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-magazine-layout/index.md
  curriculum/challenges/_meta/lab-magazine-layout/meta.json
  curriculum/challenges/english/25-front-end-development/lab-magazine-layout/6735a7370e0ae93a4577c689.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, status: waiting update, platform: learn, scope: i18n, full stack cert

#57145 fix(curriculum): give useful hint for step 50 of statistics calculator if you are missing the starting value of the reduce.
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fcb156834128001ea945.md
Labels: status: waiting review, scope: curriculum

#57599 fix(curriuculum): make magazine layout lab live
  curriculum/challenges/_meta/lab-magazine-layout/meta.json
Labels: status: waiting review, scope: curriculum, scope: i18n, full stack cert

#57600 fix(curriculum): small changes to answers in comprehension cheks
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672ac9705b07a64439b73b59.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab849aa1ef70eefd29364.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac37104dc2530a769e6a4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57585 chore(curriculum): update video ids for importance of accessibility lectures
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a51e9e4fd8b8552eeb758.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5310d7e46b8a34d48dfd.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5326a7606a8a766cbedb.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a533e6041c28ad680eb8f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5361ef88158b25fbfba7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a536f8386288b9ed0a154.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a537f05f3798bd4f57d2d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a538c029f9e8c1687460e.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a539b887ec68c593cdc4b.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a53ae8f1ad28c8a1ed0f0.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a53cf67140d8cd85d4b0f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a549231b8728f7171ed9d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54a6675c168faa84252d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54bc58319c8fe6f78ad4.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54ce90c19e9038f481d7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54dff9dc439089f1a219.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54f29d783890d1f94740.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5507d857a891139abc7f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a551975938a916c74802c.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55b5c0c14493328fe36e.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55dd1d86bc939606e204.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55eb7791559421ff0cd3.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55fbc2d95a9453151caf.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57548 chore(curriculum): update asserts for personal portfolio project
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/25-front-end-development/lab-personal-portfolio/bd7158d8c242eddfaeb5bd13.md
Labels: status: waiting review, scope: curriculum

#57549 chore(curriculum): update stylized todo list lab
  curriculum/challenges/english/25-front-end-development/lab-stylized-to-do-list/66c051d13a6a20255a963695.md
Labels: status: waiting review, scope: curriculum

#57569 chore: update lab intros
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#57571 chore(curriculum): remove jquery from responsive web design principles
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/create-a-media-query.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-an-image-responsive.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/make-typography-responsive.md
  curriculum/challenges/english/01-responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays.md
Labels: status: waiting review, scope: curriculum

#57597 feat(curriculum): set upcoming change flags from blocks 1-4 of the B1 cert to false
  curriculum/challenges/_meta/learn-how-to-describe-places-and-events/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-past-activities/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-past-experiences/meta.json
  curriculum/challenges/_meta/learn-present-perfect-while-talking-about-accessibility/meta.json
Labels: status: blocked, scope: curriculum, scope: i18n, new english course

#57572 chore(curriculum): remove jquery from css grid
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-columns-with-grid-template-columns.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-gaps-faster-with-grid-gap.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/add-rows-with-grid-template-rows.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-all-items-horizontally-using-justify-items.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-all-items-vertically-using-align-items.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-an-item-horizontally-using-justify-self.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/align-an-item-vertically-using-align-self.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-a-row-gap-using-grid-row-gap.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fill.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-flexible-layouts-using-auto-fit.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-grids-within-grids.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/create-your-first-css-grid.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/divide-the-grid-into-an-area-template.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/limit-item-size-using-the-minmax-function.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/reduce-repetition-using-the-repeat-function.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-css-grid-units-to-change-the-size-of-columns-and-rows.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-column-to-control-spacing.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.md
  curriculum/challenges/english/01-responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts.md
Labels: status: waiting review, scope: curriculum

#57602 fix(client): only show live certifications
  client/src/templates/Introduction/super-block-intro.tsx
  shared/config/certification-settings.ts
Labels: platform: learn

#57577 fix(curriculum): improve Library Manager tests
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c1.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c2.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c3.md
  curriculum/challenges/english/25-front-end-development/workshop-library-manager/67116d7584d0b469b14579c4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#57578 chore(curriculum): cleanup lab travel agency
  curriculum/challenges/english/25-front-end-development/lab-travel-agency-page/669e2f60e83c011754f711f9.md
Labels: status: waiting review, scope: curriculum

#57581 chore(curriculum): update technical documentation project
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/english/25-front-end-development/lab-technical-documentation-page/587d78b0367417b2b2512b05.md
Labels: status: waiting review, scope: curriculum

#57603 feat: add drum machine to new cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-drum-machine/index.md
  curriculum/challenges/_meta/lab-drum-machine/meta.json
  curriculum/challenges/english/25-front-end-development/lab-drum-machine/6762ec275cef87635acc4fe3.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57361 chore(curriculum): update step 12 and 13 music player tests
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/660ae8ad1475698da3c3c37d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/660aea8782242e8f4bcc42d8.md
Labels: scope: curriculum

#57604 chore(api): enable exam environment endpoints in prod
  api/src/exam-environment/generate/index.ts
  api/src/utils/env.ts
Labels: platform: api

#57612 fix(client): show icons on coming soon chapters
  client/src/templates/Introduction/components/super-block-accordion.tsx
Labels: status: waiting review, platform: learn, full stack cert

#57615 fix(client): update exam token return type
  client/src/components/settings/exam-token.tsx
  client/src/redux/prop-types.ts
Labels: status: waiting review, platform: learn
