Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-04, with the labels that each got.

#54233 chore: update curriculum-helpers to v3.2.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: status: waiting review, scope: tools/scripts

#54170 fix(curriculum): test for strict order in step 25 oop project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64a1d86b1294b2869cef1c18.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54266 fix: when in doubt, sudo?
  .github/workflows/crowdin-download.curriculum.yml
  tools/scripts/move-bf.sh
Labels: scope: tools/scripts

#54087 fix(client): show source code link when localhost exists
  client/src/utils/solution-display-type.ts
Labels: status: waiting review, platform: learn

#54267 fix(curriculum): Update instructions Learn String Manipulation by Building a Cypher Step 3
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/65951b637ddec63611c482c0.md
Labels: status: waiting review, scope: curriculum, new python course

#54152 fix: email authenication link messages
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
Labels: status: waiting review, platform: api

#54138 fix(curriculum) : dice game 84 and 85 restore small straights
  curriculum/challenges/_meta/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657e2ecee9f60092c89338d9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657e30e116d50c946b189925.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657e37e29b45c39a98482860.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657e390964da9f9bff8f3625.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new javascript course

#54174 chore(curriculum) add quotes to strings intermediate OOP
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/649a6b393a10a4357087b3f7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/649a75a844f2ea3a0060d807.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64aaf83d46b16a7b20a27051.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64ab06a9cc033b7d4a8bad2a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c70f78dbf5667a307a7d90.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c714ec1b844f7bc0723deb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c7173772c2497ce99b474c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c73367cce78a7fd65dd3be.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c7527100b19b09037ce5db.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64cb2e5bdfb23a67272a07c7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64cb4978631a4f6e3e1b964d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64cb4ebdc75b3a73a43da5ec.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/65afec8f02423144ef136a94.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/65b2bb4c279af3cd585ba777.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54187 fix(api): add msUsername index to prisma
  api/prisma/schema.prisma
Labels: status: waiting review, platform: api

#54220 fix(api): use port 27017
  api/README.md
  api/tools/docker-compose.yml
Labels: status: waiting review, platform: api

#54091 test(playwright): add exam-results-modal tests
  e2e/exam-results-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54144 fix(curriculum): Fix english curriculum courses challenge titles
  client/src/components/profile/components/time-line.tsx
Labels: status: waiting review, platform: learn

#54183 fix(api-server): fallback to username for cert
  api-server/src/server/boot/certificate.js
Labels: status: waiting review, platform: api

#54264 refactor(client): migrate donation modal
  client/src/components/Donation/donation-modal-body.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation.css
  cypress/e2e/default/learn/donate/donation-block-completion-modal.ts
  tools/ui-components/src/modal/modal.tsx
  tools/ui-components/src/modal/types.ts
Labels: platform: learn, scope: tools/scripts

#54280 fix(curriculum): Reordered lessons as per issue #54168
  curriculum/challenges/_meta/learn-advanced-array-methods-by-building-a-statistics-calculator/meta.json
  curriculum/challenges/_meta/learn-basic-algorithmic-thinking-by-building-a-number-sorter/meta.json
  curriculum/challenges/_meta/learn-functional-programming-by-building-a-spreadsheet/meta.json
  curriculum/challenges/_meta/learn-regular-expressions-by-building-a-spam-filter/meta.json
Labels: scope: curriculum, scope: i18n, new javascript course

#54163 feat(client): point claim cert links to corresponding sections on /settings
  client/src/components/settings/certification.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  cypress/e2e/default/learn/responsive-web-design/show-cert-from-superblock.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54179 feat: migrate challenge modals
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/completion-modal.css
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/help-modal.css
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/components/hotkeys.tsx
  client/src/templates/Challenges/components/project-preview-modal.tsx
  client/src/templates/Challenges/components/shortcuts-modal.css
  client/src/templates/Challenges/components/shortcuts-modal.tsx
  client/src/templates/Challenges/components/video-modal.css
  client/src/templates/Challenges/components/video-modal.tsx
  cypress/e2e/default/learn/challenges/codeally.ts
  cypress/e2e/default/learn/challenges/project-preview.ts
  cypress/e2e/default/learn/challenges/projects.ts
  e2e/completion-modal.spec.ts
  e2e/help-modal.spec.ts
  e2e/project-preview-modal.spec.ts
  e2e/shortcuts-modal.spec.ts
  e2e/video-modal.spec.ts
  tools/ui-components/src/modal/modal.stories.tsx
  tools/ui-components/src/modal/modal.tsx
  tools/ui-components/src/modal/types.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#54176 refactor(client): migrate C# modals
  client/src/components/SolutionViewer/exam-results-modal.tsx
  client/src/templates/Challenges/exam/components/exit-exam-modal.tsx
  client/src/templates/Challenges/exam/components/finish-exam-modal.tsx
  client/src/templates/Challenges/exam/components/foundational-c-sharp-survey-alert.tsx
  client/src/templates/Challenges/exam/components/foundational-c-sharp-survey.tsx
  client/src/templates/Challenges/exam/components/survey-modal.tsx
  client/src/templates/Challenges/exam/show.tsx
  cypress/e2e/default/learn/challenges/c-sharp-exam.ts
  e2e/exam-results-modal.spec.ts
  e2e/exit-exam-modal.spec.ts
  e2e/finish-exam-modal.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54261 fix: removed view project buttons from Python cert projects
  client/src/utils/solution-display-type.test.ts
  client/src/utils/solution-display-type.ts
Labels: platform: learn

#54281 fix: clean wallet amount on prop change
  client/src/components/Donation/wallets-button.tsx
Labels: platform: learn

#54283 feat: accept donation animation ab test
  client/src/assets/images/components/bear-block-completion-modal.tsx
  client/src/assets/images/components/bear-progress-modal.tsx
  client/src/components/Donation/donation-modal-body.tsx
  cypress/e2e/default/learn/donate/donation-block-completion-modal.ts
Labels: platform: learn, scope: tools/scripts

#54298 test: check for navigation, not text
  cypress/e2e/default/learn/challenges/projects.ts
Labels: scope: tools/scripts

#54195 feat(curriculum): Add play scene keyboard shortcut
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/hotkeys.tsx
  client/src/templates/Challenges/components/scene/scene.tsx
  client/src/templates/Challenges/components/shortcuts-modal.tsx
  client/src/templates/Challenges/dialogue/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/odin/show.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#54123 fix(client): use sans-serif font for titles instead of monospace
  client/src/components/Donation/donation.css
  client/src/components/Footer/footer.css
  client/src/components/landing/landing.css
  client/src/components/layouts/global.css
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: learn

#54276 feat(UI): added specific label for MacOS check-code button
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/lower-jaw.tsx
  e2e/lower-jaw.spec.ts
  e2e/progress-bar.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#54196 fix(curriculum): merge sort algorithm tests steps - 12,13,29
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/656706afd65547d22bee0b68.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/656707e11e671ed54c96f7ec.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/6569beee367427c90c74899e.md
Labels: scope: curriculum, status: waiting update, new python course

#54326 fix(curriculum): update instructions for step 24 of football team cards project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e062d6090ebb486a4eda3a.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54308 fix(tools): make the editing steps tool keep the challenge type
  tools/challenge-helper-scripts/commands.ts
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/helpers/get-step-template.test.ts
  tools/challenge-helper-scripts/helpers/get-step-template.ts
  tools/challenge-helper-scripts/utils.test.ts
  tools/challenge-helper-scripts/utils.ts
Labels: scope: tools/scripts

#54307 fix(curriculum): update description and tests for step - 29 football card project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e95e39860dc5b01ebe9be0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9667c881b61b1e338d276.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e96938d2a347b2734a1587.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e96eb94c97b6b31ee50f63.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9718d7d490bb3940d5a0a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9737f686c76b4078a60f4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f28972973504e7bb58b0b3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f28ef082d771e8bf71f94a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f293c804d6f9e9a83ca4c5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f29804e3ec00ea6fab1ec4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f29ce62aea65eb041758c8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a0a860790eebe61bf908.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a4a8087e6dec8ec47f16.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a5f09a785aed155c0a56.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a8e14fb388edd3242527.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2aa36fcdc63ee4e18fc37.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2ab4f6c52c5eec6d68de4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/641fc88d8fa7127f76e0324f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/641fcfd468185384ac218b7d.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54135 feat(curriculum) - set all the tests for step 47 to use matches
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb1c4dc0feb219149a7c7d.md
Labels: status: waiting review, scope: curriculum

#54262 feat(client): fallback image for portfolio page
  client/src/components/profile/components/portfolio-projects.tsx
Labels: platform: learn

#54342 fix: never flush logs after executing tests
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: status: waiting review, platform: learn

#54336 fix(curriculum): fixed grammar of "stay is in the order"
  curriculum/challenges/english/11-machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier.md
Labels: status: waiting review, scope: curriculum

#54299 feat: accept multiple modals ab test
  client/src/redux/selectors.js
Labels: status: waiting review, platform: learn

#54350 chore(api): refactor schemas into individual files
  api/src/schemas.ts
  api/src/schemas/certificate/cert-slug.ts
  api/src/schemas/certificate/certificate-verify.ts
  api/src/schemas/challenge/backend-challenge-completed.ts
  api/src/schemas/challenge/coderoad-challenge-completed.ts
  api/src/schemas/challenge/exam-challenge-completed.ts
  api/src/schemas/challenge/exam.ts
  api/src/schemas/challenge/modern-challenge-completed.ts
  api/src/schemas/challenge/ms-trophy-challenge-completed.ts
  api/src/schemas/challenge/project-completed.ts
  api/src/schemas/challenge/save-challenge.ts
  api/src/schemas/deprecated/index.ts
  api/src/schemas/donate/charge-stripe-card.ts
  api/src/schemas/settings/update-my-about.ts
  api/src/schemas/settings/update-my-classroom-mode.ts
  api/src/schemas/settings/update-my-email.ts
  api/src/schemas/settings/update-my-honesty.ts
  api/src/schemas/settings/update-my-keyboard-shortcuts.ts
  api/src/schemas/settings/update-my-portfolio.ts
  api/src/schemas/settings/update-my-privacy-terms.ts
  api/src/schemas/settings/update-my-profile-ui.ts
  api/src/schemas/settings/update-my-quincy-email.ts
  api/src/schemas/settings/update-my-socials.ts
  api/src/schemas/settings/update-my-theme.ts
  api/src/schemas/settings/update-my-username.ts
  api/src/schemas/types.ts
  api/src/schemas/user/delete-ms-username.ts
  api/src/schemas/user/delete-my-account.ts
  api/src/schemas/user/delete-user-token.ts
  api/src/schemas/user/get-session-user.ts
  api/src/schemas/user/post-ms-username.ts
  api/src/schemas/user/report-user.ts
  api/src/schemas/user/reset-my-progress.ts
  api/src/schemas/user/submit-survey.ts
Labels: platform: api

#54346 feat(client): add linkedIn credential id to share btn
  client/src/client-only-routes/show-certification.tsx
  e2e/certification.spec.ts
  shared/config/certification-settings.test.ts
  shared/config/certification-settings.ts
Labels: platform: learn, scope: tools/scripts

#54373 Revert "feat(client): add linkedIn credential id to share btn (#54346)"
  client/src/client-only-routes/show-certification.tsx
  e2e/certification.spec.ts
  shared/config/certification-settings.test.ts
  shared/config/certification-settings.ts
Labels: platform: learn, scope: tools/scripts

#54370 fix(curriculum): update tests for step 28 of Authors page
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641daae5e18eae4b562633e4.md
Labels: scope: curriculum, new javascript course

#54369 fix(curriculum): make the description of step 1 cafe menu easier to understand
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f33071498eb2472b87ddee4.md
Labels: scope: curriculum

#54376 feat(client): add linkedIn credential id to share btn
  client/src/client-only-routes/show-certification.tsx
  e2e/certification.spec.ts
  shared/config/certification-settings.test.ts
  shared/config/certification-settings.ts
Labels: platform: learn, scope: tools/scripts

#54165 fix(curriculum): nutrition label matches FDA guidelines
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f887466db4ba14b5342cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f89e055040ba294719d2f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f8bfe0f30a1a3c340356b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f8f1223601fa546e93f31.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f905fbd1017a65ca224eb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f94786869e1a7fec54375.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f951dff9317a900ef683f.md
Labels: status: waiting review, scope: curriculum

#54201 fix: make it easier to show and focus shortcuts modal
  client/src/templates/Challenges/components/hotkeys.tsx
Labels: status: waiting review, platform: learn

#54240 refactor: move joinArray & parseDate to utils
  client/src/components/profile/components/camper.tsx
  client/src/components/profile/components/utils/index.ts
  client/src/components/profile/components/utils/utils.ts
Labels: platform: learn

#54244 feat(curriculum): add English curriculum block 7.3 analyzing code documentation
  curriculum/challenges/_meta/learn-how-to-analyze-code-documentation/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606682f3fbb93838673920d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66066c563917c5874b792337.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660681a717d84e89da14f6f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660682b572c0bb8aa3075feb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606838ecf64478b53a51496.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660683e649f8fa8bbd5baac5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068414094b3a8c10a4770d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606846eba453e8c7bacb2f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660684bfc24bf48cfaaf9cfa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660686845b5e788def3527ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068a6d0bb2aa90f0d93979.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068ad667567091500128c5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068b650b681c91de9e19a0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068bf9c9046292705b856d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068c5cfc7a4992f2574ab2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068d4033a07d9393291ef0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068f5b2b7dda9450a7cc2c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068fc7aa2fe094c5cb84bd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606906b3f31fc953f1ee3b6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660694cf7803c598ce999171.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606952c28640e9941c8fa29.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660695c672854899d6862834.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660696292c16659a5e9ccf81.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660696cce3e4e79af4612466.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66069719acca7d9b59499ce9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606977e8f0b509bdac39012.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660697f307c6559c60e976f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606989c34f0be9d141130b1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/dialogue-placeholder.md
Labels: scope: curriculum, scope: i18n, new english course

#54294 fix(curriculum): removed hyphens searching for topic from coding pages
  client/src/templates/Challenges/components/help-modal.tsx
Labels: status: waiting review, platform: learn

#54383 fix(tools): better alert messaging
  tools/challenge-editor/client/src/utils/handle-request.ts
Labels: scope: tools/scripts

#54351 refactor(api): clean up route code
  api/src/routes/certificate.test.ts
  api/src/routes/certificate.ts
Labels: platform: api

#54349 feat: The Odin Project function basics
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-learn-function-basics/meta.json
  curriculum/challenges/english/16-the-odin-project/top-learn-function-basics/learn-function-basics-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-function-basics/learn-function-basics-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-function-basics/learn-function-basics-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-function-basics/learn-function-basics-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-function-basics/learn-function-basics-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-function-basics/learn-function-basics-question-f.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#54381 fix(curriculum): update tests for Football Teams step 25 to accept both types of functions
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e949b8327aa2aca2ca8eac.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54393 fix(client): forum search link for English challenges missing block name
  client/src/templates/Challenges/components/help-modal.test.tsx
  client/src/templates/Challenges/components/help-modal.tsx
Labels: platform: learn

#54364 fix: modified tests for step 10 of building a spam filter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cf198ec366c33d6504854.md
Labels: scope: curriculum, status: waiting update, new javascript course

#54407 fix(curriculum): updated step 27 of music player to accept let declaration
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65c64fe6c770a22db893e931.md
Labels: status: waiting review, scope: curriculum

#54412 chore(client): remove execute-challenge-saga log
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: platform: learn

#54374 fix(curriculum): update example description in accessibility quiz step 8
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/613e275749ebd008e74bb62e.md
Labels: status: waiting review, scope: curriculum

#54273 test(e2e): migrate image picture check tests to playwright
  cypress/e2e/default/settings/image-picture-check.ts
  e2e/image-picture-check.spec.ts
Labels: scope: tools/scripts

#54424 fix(curriculum): update editable regions for step 47 of calorie counter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c21774193de43bbc6a769f.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54419 fix(curriculum): update description and hint text of Date Formatter - Step 28
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65389de504d0f2ca10e92a57.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54433 fix(curriculum): feedback heading in english challenge
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657b05367b59300bcb5f18ef.md
Labels: status: waiting review, scope: curriculum, new english course

#54371 fix(curriculum): update test of TODO step 6 to allow for multiple function answers
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64e4e78a7ea4a168de4e6a38.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54422 fix(client): prevent dispatches during render
  client/src/client-only-routes/show-certification.tsx
  e2e/certification.spec.ts
Labels: platform: learn, scope: tools/scripts

#54428 chore(deps): update curriculum-helpers to v3.3.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#54416 feat(client): conditionally hide preview for new js project
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  e2e/action-row.spec.ts
  e2e/project-preview-modal.spec.ts
Labels: platform: learn, scope: tools/scripts

#54439 fix: show console on load for new js project
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
Labels: platform: learn

#54437 fix(client): full width border for console tab
  client/src/templates/Challenges/classic/classic.css
Labels: platform: learn

#54389 fix: restore missing reset button
  client/src/templates/Challenges/components/tool-panel.css
  client/src/templates/Challenges/components/tool-panel.tsx
  e2e/reset-modal.spec.ts
Labels: platform: learn, scope: tools/scripts

#54460 fix(curriculum): include example of return statement cipher step 66
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6554ad2463b8892748f8efdd.md
Labels: status: waiting review, scope: curriculum, new python course

#54459 fix(curriculum): clarify cipher instruction step 17
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/65520e6f2b9678799977f24d.md
Labels: status: waiting review, scope: curriculum, new python course

#54452 fix: defined ValueError in step 64 of Learn String Manipulation by Building a Cipher
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6554a88d5af937226f4a9121.md
Labels: status: waiting review, scope: curriculum, new python course

#54463 fix(curriculum): add reminder to include final colon for if and else statements
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/655261b2e1f2c197093f3993.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6553995f412dd8122ed38e4a.md
Labels: status: waiting review, scope: curriculum, new python course

#54444 fix(curriculum): change editable region for step 24 of cat painting
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cecc9eb5c4f4f73dafd07.md
Labels: status: waiting review, scope: curriculum

#54485 chore: allow all seeded users to be modified
  tools/scripts/seed/certified-user-data.js
  tools/scripts/seed/seed-demo-user.js
  tools/scripts/seed/user-data.js
Labels: status: waiting review, scope: tools/scripts

#54226 fix(UI): remove flash from update email flow
  api-server/src/common/models/user.js
  api-server/src/server/boot/settings.js
Labels: status: waiting update, platform: api

#54468 fix(curriculum): Updated the tests to accpet the answer irrespective of the order of concatenation
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f229d2dbe09ef2954a4a1.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54497 test: remove mocks from email signup spec
  e2e/email-sign-up.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54501 test: simplify action-row spec
  e2e/action-row.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54519 fix(client): use block instead of fields: blockName in graphql query
  client/src/templates/Challenges/codeally/show.tsx
Labels: platform: learn

#54510 fix(curriculum): description of Learn localStorage by Building a Todo App - Step 18
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650300a25b6f72964ab8aca6.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54426 fix(api): consistent responses from certificate/showCert
  api/src/routes/certificate.test.ts
  api/src/routes/certificate.ts
  api/src/schemas/certificate/cert-slug.ts
  api/src/utils/error-formatting.ts
Labels: platform: api

#54508 fix(curriculum): allow spaces in step 27 of Luhn algorithm
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/65687da2e60409c45595bbe1.md
Labels: scope: curriculum, status: waiting update, new python course

#54515 fix(client): hot-reloading challenges
  client/utils/build-challenges.js
Labels: status: waiting review, platform: learn

#54509 fix(curriculum): update tests for step 62 of pyramid project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f374d532dc41189cc9cc2.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54530 fix(api): /charge-stripe-card responses
  api/src/routes/donate.test.ts
  api/src/routes/donate.ts
  api/src/schemas/donate/charge-stripe-card.ts
Labels: status: waiting review, platform: api

#54531 fix(client): challenge description not using correct font
  client/src/templates/Challenges/classic/editor.css
Labels: status: waiting review, platform: learn

#54489 feat(curriculum): adding 1st review project for JS cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/javascript-algorithms-and-data-structures-v8/review-js-fundamentals-by-building-a-gradebook-app/index.md
  curriculum/challenges/_meta/build-a-cash-register-project/meta.json
  curriculum/challenges/_meta/build-a-palindrome-checker-project/meta.json
  curriculum/challenges/_meta/build-a-pokemon-search-app-project/meta.json
  curriculum/challenges/_meta/build-a-roman-numeral-converter-project/meta.json
  curriculum/challenges/_meta/build-a-telephone-number-validator-project/meta.json
  curriculum/challenges/_meta/learn-advanced-array-methods-by-building-a-statistics-calculator/meta.json
  curriculum/challenges/_meta/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/meta.json
  curriculum/challenges/_meta/learn-basic-algorithmic-thinking-by-building-a-number-sorter/meta.json
  curriculum/challenges/_meta/learn-basic-javascript-by-building-a-role-playing-game/meta.json
  curriculum/challenges/_meta/learn-basic-oop-by-building-a-shopping-cart/meta.json
  curriculum/challenges/_meta/learn-basic-string-and-array-methods-by-building-a-music-player/meta.json
  curriculum/challenges/_meta/learn-fetch-and-promises-by-building-an-fcc-authors-page/meta.json
  curriculum/challenges/_meta/learn-form-validation-by-building-a-calorie-counter/meta.json
  curriculum/challenges/_meta/learn-functional-programming-by-building-a-spreadsheet/meta.json
  curriculum/challenges/_meta/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/meta.json
  curriculum/challenges/_meta/learn-intermediate-oop-by-building-a-platformer-game/meta.json
  curriculum/challenges/_meta/learn-localstorage-by-building-a-todo-app/meta.json
  curriculum/challenges/_meta/learn-modern-javascript-methods-by-building-football-team-cards/meta.json
  curriculum/challenges/_meta/learn-recursion-by-building-a-decimal-to-binary-converter/meta.json
  curriculum/challenges/_meta/learn-regular-expressions-by-building-a-spam-filter/meta.json
  curriculum/challenges/_meta/learn-the-date-object-by-building-a-date-formatter/meta.json
  curriculum/challenges/_meta/review-js-fundamentals-by-building-a-gradebook-app/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/662693f82c91a66be46c881b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/6626a060c4006f793e10cb33.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/6626b4c58c027d86478ff5eb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/6626b8dcf5057f896f948440.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new javascript course

#54528 test: improve project preview modal spec
  e2e/project-preview-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54442 fix(learn) : update the quiz cert footer
  client/i18n/locales/english/translations.json
  client/src/client-only-routes/show-project-links.tsx
  e2e/certification.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#54272 fix(curriculum): clarify instructions with implicit return
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/6449842c6f6c84261075e4c9.md
Labels: scope: curriculum

#54500 feat: add note about the status of the english certification
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#54431 fix(curriculum) : allow a and b to be cast as numbers in step 41 of num sort
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/641130423e5f512d8972dae1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/64113124efd2852edafaf25f.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54535 fix(curriculum): punctuation for step 55 of forum leaderboard project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645763874fd6d901c273db29.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54520 test: try to make reset-modal.spec reliable
  e2e/reset-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54517 fix(curriculum): broken test in probability calculator project + new test
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/probability-calculator.md
Labels: status: waiting review, scope: curriculum, new python course

#54478 fix(a11y): make the focus outline not be cut off
  client/src/templates/Challenges/components/tool-panel.css
Labels: status: waiting review, platform: learn

#54538 fix(curriculum): update description and hint for js pyramid project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f0c34aad72dc712b97624.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54494 refactor(client): remove hasNoTests by challenge type
  client/src/templates/Challenges/redux/completion-epic.js
  curriculum/schema/__snapshots__/challenge-schema.test.js.snap
  curriculum/schema/challenge-schema.js
  shared/config/challenge-types.ts
Labels: status: waiting update, platform: learn

#54518 fix(api): remove cookie domain in development
  api-server/src/server/middlewares/csurf.js
  api-server/src/server/utils/getSetAccessToken.js
  api-server/src/server/utils/getSetAccessToken.test.js
  api/src/server.test.ts
  api/src/utils/env.ts
  e2e/challenge-title.spec.ts
  e2e/email-settings.spec.ts
  e2e/email-sign-up.spec.ts
  e2e/exam-results.spec.ts
  e2e/flash.spec.ts
  e2e/hotkeys.spec.ts
  e2e/internet-presence-settings.spec.ts
  e2e/reset-modal.spec.ts
  e2e/settings.spec.ts
  e2e/shortcuts-modal.spec.ts
Labels: status: waiting review, platform: api, scope: tools/scripts

#54455 fix(curriculum): change of not indicated a elements fail tests
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614796cb8086be482d60e0ac.md
Labels: status: waiting review, scope: curriculum

#54301 feat: added stats component to profile page
  client/i18n/locales/english/translations.json
  client/src/components/profile/components/heat-map.test.tsx
  client/src/components/profile/components/heat-map.tsx
  client/src/components/profile/components/heatmap.css
  client/src/components/profile/components/stats.css
  client/src/components/profile/components/stats.test.tsx
  client/src/components/profile/components/stats.tsx
  client/src/components/profile/profile.tsx
  e2e/profile.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#54395 feat: remove paypal webhook listener
  .github/workflows/e2e-third-party.yml
  api-server/config/secrets.js
  api-server/package.json
  api-server/src/development-start.js
  api-server/src/server/boot/donate.js
  api-server/src/server/middlewares/csurf.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/middlewares/request-authorization.test.js
  api-server/src/server/utils/__mocks__/donation.js
  api-server/src/server/utils/donation.js
  api-server/src/server/utils/donation.test.js
  pnpm-lock.yaml
  sample.env
Labels: status: waiting review, platform: api, scope: tools/scripts

#54542 fix(client): clarify what progress reset includes
  client/i18n/locales/english/translations.json
  client/src/components/settings/reset-modal.tsx
Labels: platform: learn, scope: i18n

#54548 fix(curriculum): not require braces step 79,80 platform game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c9db021d4d912906878f3a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c9dc4bd63a92295347c449.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54549 fix(curriculum): step 86 of the platform game now requests an truthy value
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64cab4d06512c95234256cbb.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54554 fix(curriculum): typo in hint message of Step 15 of Building a Dice Game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657c9b39c73e91177e95596a.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54443 chore(curriculum): remove unused solution and fix solution headings
  curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-product-landing-page-project/build-a-product-landing-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-survey-form-project/build-a-survey-form.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
  curriculum/challenges/english/14-responsive-web-design-22/build-a-tribute-page-project/build-a-tribute-page.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e5aeb102e3142de026a2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6141026ec9882f2d39dcf2b8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/6169b284950e171d8d0bb16a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/60a3e3396c7b40068ad69997.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f951dff9317a900ef683f.md
  curriculum/challenges/english/16-the-odin-project/top-build-a-recipe-project/top-build-a-recipe-project.md
Labels: status: waiting review, scope: curriculum

#54110 feat(curriculum): add bisection method project to Python
  client/i18n/locales/english/intro.json
  client/src/pages/learn/scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/index.md
  curriculum/challenges/_meta/learn-the-bisection-method-by-finding-the-square-root-of-a-number/meta.json
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef181dad3d96b14a21a03e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef190c6b51e9b5a5f7ed29.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef19425d1b27b6c930bae6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef198fde24dfb7ff675b42.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef19ec318e2fb9066381e3.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1a1fcb527bba0ca82ccf.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1a50049cf9bada13266f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1a720d6e65bbb0d22463.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1aacca094bbcc2e2a3c8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1afca9a8f6be0d4150ba.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1be2b958cabf712296cd.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1c0a03fcabc04ded7e69.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1c34a541afc12dbb849d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1cb031de30c2cde64c12.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1cda150a59c3b8306944.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d104c2be9c4d8e22075.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d5e3d2927c5e0f4997b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d924ff2e5c7031c6ce8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1dd722f6e7c8294eeec4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1e10268f8ec9121446d1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1eac497754cafa12a26c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new python course

#53963 feat(learn): create a progress indicator map
  client/src/assets/icons/completion-ribbon.tsx
  client/src/components/Map/index.tsx
  client/src/components/Map/map.css
  client/src/components/layouts/global.css
Labels: status: waiting update, platform: learn

#54566 test: use challenge with visible buttons for spec
  e2e/editor.spec.ts
  e2e/lower-jaw.spec.ts
  e2e/preview.spec.ts
  e2e/progress-bar.spec.ts
  e2e/reset-modal.spec.ts
Labels: scope: tools/scripts

#54185 feat: python error formatting
  e2e/editor.spec.ts
  tools/client-plugins/browser-scripts/python-worker.ts
Labels: status: waiting review, scope: tools/scripts

#54565 fix(api): only import types from ts-reset
  api/src/reset.d.ts
  api/src/server.ts
Labels: platform: api

#54575 chore: update curriculum-helpers to v3.3.2
  e2e/editor.spec.ts
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#54579 fix(curriculum): a tiny typo in step 6 of the js recursion project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6448fefcd6445d6b3d9d63db.md
Labels: status: waiting review, scope: curriculum, new javascript course
