Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-03, with the labels that each got.

#53941 fix(curriculum): Updated Cafe Menu Step 58 font casing
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e056bdde6ae6892ba2.md
Labels: status: waiting review, scope: curriculum

#53940 chore(curriculum): add quotes to strings in the Build a Palindrome Checker Project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-palindrome-checker-project/build-a-palindrome-checker.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53278 fix: images and alt attributes The Odin Project
  curriculum/challenges/english/16-the-odin-project/top-build-a-recipe-project/top-build-a-recipe-project.md
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-question-j.md
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-question-k.md
  curriculum/challenges/english/16-the-odin-project/top-learn-html-foundations/html-foundations-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-question-g.md
Labels: status: waiting review, scope: curriculum

#53944 chore(deps): update @freecodecamp/curriculum-helpers to 2.5.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#53946 refactor(test): improve build error message
  api/jest.utils.ts
Labels: platform: api

#53939 chore(curriculum): add quotes to text / strings in Build a Pokémon Search App Project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53949 fix: update tests of Table component to use getByRole
  tools/ui-components/src/table/table.test.tsx
Labels: status: waiting review, scope: tools/scripts

#53950 fix(curriculum): use python syntax for >= & <=
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/655a2a7210094920069b117c.md
Labels: status: waiting review, scope: curriculum, new python course

#53955 Chore(curriculum)(new javascript course): add quotes to strings in building football team cards
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf7e324c1831f8d936b3ae.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e95e39860dc5b01ebe9be0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9718d7d490bb3940d5a0a.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53957 chore(curriculum): add quotes to strings in SciCo with Python - time calculator project
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
Labels: status: waiting review, scope: curriculum, new python course

#53943 feat: The Odin Project Learn Operators and Variables
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-learn-variables-and-operators/meta.json
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-h.md
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-i.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#53978 fix(api): ms trophy validation
  api-server/src/server/boot/challenge.js
Labels: platform: api

#53981 fix(curriculum): set Learn Variables and Operators to upcoming change
  curriculum/challenges/_meta/top-learn-variables-and-operators/meta.json
Labels: scope: curriculum, scope: i18n

#53975 fix(curriculum): update description for step 5 of spam filter project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cdf57c3f7ee276e1d9b32.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53948 chore(curriculum):add quote to text and string in Building a Date Formatter project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65388bbcbf6928b83fc424d1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65388edfdf364fbb04e426f2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65389a63d3b1d6c764c0e10e.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53982 fix(curriculum): test for step 48 of dice game project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657d301f80931609b9a5d110.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53400 fix(curriculum): fixed broken test cases
  curriculum/challenges/english/10-coding-interview-prep/data-structures/remove-an-element-from-a-max-heap.md
Labels: status: waiting review, scope: curriculum

#53031 fix(e2e, playwright): [Playwright] Flaky test in multifile-editor.spec.ts
  e2e/multifile-editor.spec.ts
Labels: status: waiting review, scope: tools/scripts

#53740 feat: replace executeGA
  client/src/analytics/call-ga.test.ts
  client/src/analytics/call-ga.ts
  client/src/client-only-routes/show-certification.tsx
  client/src/components/Donation/donation-modal-body.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/pages/donate.tsx
  client/src/pages/learn.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/donation-saga.js
  client/src/redux/donation-saga.test.js
  client/src/redux/ga-saga.js
  client/src/redux/ga-saga.test.js
  client/src/redux/index.js
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/components/reset-modal.tsx
  client/src/templates/Challenges/components/video-modal.tsx
  client/src/templates/Challenges/redux/current-challenge-saga.js
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: status: waiting review, platform: learn

#53983 fix(api): ms validation new api
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/routes/helpers/challenge-helpers.test.ts
  api/src/routes/helpers/challenge-helpers.ts
Labels: platform: api

#53993 fix(curriculum): description missing part of expected result
  curriculum/challenges/english/07-scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator.md
Labels: status: waiting review, scope: curriculum, new python course

#53986 fix(client): show message if indentation error
  tools/client-plugins/browser-scripts/python-test-evaluator.ts
Labels: scope: tools/scripts

#53996 fix: test not passing with semicolon
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/6434759f78ec812264ff8f34.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53954 chore(curriculum): add quotes to strings in building a music player project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65364566e84e378837fbaf2a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655220a3fa5c3c200bc8e938.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6552303a9a78704f8ff072e9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655235c2e607297f00316650.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65547ee197840478a1b95f4b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655485321913feabbc5f00f8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6555de565387a2efe90a6ccc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6555e7acdbae972d3e8e0f5b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655727b2e1e49d6adf584442.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655729e68e49b277a6b448bd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65572e5aaf022790fb4a81b1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65573d0abe4d38cd6fa13f44.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6557421eb6a7a0f0500e3106.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655dc43318591b975cdfe2d8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65606d06666e118ba86162be.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65606ed6ea2baca053327e9b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65672adafbaa37a6cef886f7.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53990 fix(ui-components): replace ?? with the || operator in CloseButton
  tools/ui-components/src/close-button/close-button.stories.tsx
  tools/ui-components/src/close-button/close-button.tsx
Labels: status: waiting review, scope: tools/scripts

#53985 test: stop mocking env vars in jest.utils
  api/jest.utils.ts
  api/src/server.test.ts
  api/src/utils/env.ts
Labels: platform: api

#54007 fix(curriculum): fixed typo for clarity
  curriculum/challenges/english/01-responsive-web-design/basic-css/add-borders-around-your-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/add-rounded-corners-with-border-radius.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-the-color-of-text.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/change-the-font-size-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/give-a-background-color-to-a-div-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/make-circular-images-with-a-border-radius.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/set-the-font-family-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/set-the-id-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/size-your-images.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/specify-how-fonts-should-degrade.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/style-multiple-elements-with-a-css-class.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-a-css-class-to-style-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-an-id-attribute-to-style-an-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-attribute-selectors-to-style-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-css/use-css-selectors-to-style-elements.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-a-submit-button-to-a-form.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-placeholder-text-to-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/check-radio-buttons-and-checkboxes-by-default.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-text-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-an-ordered-list.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-many-elements-within-a-single-div-element.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-html5-to-require-a-field.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes.md
Labels: scope: curriculum, status: waiting update

#54015 chore: housekeeping (update + pin actions etc.)
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
  .github/workflows/crowdin-upload.client-ui.yml
  .github/workflows/crowdin-upload.curriculum.yml
  .github/workflows/curriculum-i18n.yml
  .github/workflows/e2e-mobile.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/e2e-web.yml
  .github/workflows/i18n-validate-builds.yml
  .github/workflows/i18n-validate-prs.yml
  .github/workflows/node.js-tests.yml
  .github/workflows/temporary-container-checks.yml
  .github/workflows/update-license.yaml
  curriculum/package.json
  tools/challenge-helper-scripts/package.json
Labels: scope: tools/scripts

#54006 fix(curriculum): add note to clarify instructions
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62ba17beef16c563069a65d8.md
Labels: status: waiting review, scope: curriculum

#54022 fix(client): typo in python worker handler
  client/src/templates/Challenges/utils/python-worker-handler.ts
Labels: platform: learn

#53739 refactor(client): migrate buttons on the settings page to ui-components
  client/src/components/Header/components/login.tsx
  client/src/components/Header/components/universal-nav.css
  client/src/components/formHelpers/form.test.tsx
  client/src/components/helpers/form/__snapshots__/block-save-button.test.tsx.snap
  client/src/components/helpers/form/block-save-button.tsx
  client/src/components/helpers/toggle-button.css
  client/src/components/layouts/global.css
  client/src/components/settings/__snapshots__/honesty.test.tsx.snap
  client/src/components/settings/about.tsx
  client/src/components/settings/certification.tsx
  client/src/components/settings/danger-zone.css
  client/src/components/settings/danger-zone.tsx
  client/src/components/settings/delete-modal.tsx
  client/src/components/settings/email.tsx
  client/src/components/settings/honesty.test.tsx
  client/src/components/settings/honesty.tsx
  client/src/components/settings/internet.tsx
  client/src/components/settings/portfolio.tsx
  client/src/components/settings/privacy.tsx
  client/src/components/settings/reset-modal.tsx
  client/src/components/settings/toggle-button-setting.tsx
  client/src/components/settings/toggle-radio-setting.tsx
  client/src/components/settings/username.tsx
  client/src/pages/update-email.tsx
  cypress/e2e/default/learn/challenges/projects.ts
  cypress/e2e/default/learn/responsive-web-design/show-cert-from-superblock.ts
  cypress/e2e/default/settings/image-picture-check.ts
  cypress/e2e/default/settings/portfolio.ts
  tools/ui-components/src/button/button.test.tsx
  tools/ui-components/src/button/button.tsx
  tools/ui-components/src/index.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54017 chore(deps): update @freecodecamp/curriculum-helpers to v3
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#54010 fix(curriculum): The Odin Project Learn Variables and Operators set image link to own CDN
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-question-b.md
Labels: scope: curriculum

#54004 chore(curriculum): put Python certification projects in separate folders
  client/i18n/locales/english/intro.json
  client/src/pages/learn/scientific-computing-with-python/build-a-budget-app-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-a-polygon-area-calculator-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-a-probability-calculator-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-a-time-calculator-project/index.md
  client/src/pages/learn/scientific-computing-with-python/build-an-arithmetic-formatter-project/index.md
  client/src/pages/learn/scientific-computing-with-python/scientific-computing-with-python-projects/index.md
  client/src/utils/curriculum-layout.ts
  curriculum/challenges/_meta/build-a-budget-app-project/meta.json
  curriculum/challenges/_meta/build-a-polygon-area-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-probability-calculator-project/meta.json
  curriculum/challenges/_meta/build-a-time-calculator-project/meta.json
  curriculum/challenges/_meta/build-an-arithmetic-formatter-project/meta.json
  curriculum/challenges/_meta/scientific-computing-with-python-projects/meta.json
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-budget-app-project/budget-app.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-polygon-area-calculator-project/polygon-area-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-probability-calculator-project/probability-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-a-time-calculator-project/time-calculator.md
  curriculum/challenges/english/07-scientific-computing-with-python/build-an-arithmetic-formatter-project/arithmetic-formatter.md
Labels: scope: curriculum, platform: learn, scope: i18n

#53969 test: speed up api tests
  api/jest.config.ts
  api/jest.utils.ts
Labels: status: waiting review, platform: api

#54035 fix(curriculum): add information about server restart
  curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/meet-the-node-console.md
Labels: status: waiting review, scope: curriculum

#54034 fix(curriculum): add information about npm init, shorten text
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
Labels: status: waiting review, scope: curriculum

#54038 fix(curriculum): hint label discrepancy
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/64497de936a2f322327e5c58.md
Labels: status: waiting review, scope: curriculum, new javascript course

#53931 feat(api): add multifile python projects to new api
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/utils/common-challenge-functions.ts
Labels: status: waiting review, platform: api

#52506 feat (curriculum): add instructions to data analysis in python project
  curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md
Labels: status: waiting review, scope: curriculum

#54019 test(playwright): added tests for delete-modal component
  e2e/delete-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54029 fix(ui): update CloseButton styles to match /learn
  cypress/e2e/default/learn/challenges/multifile-cert-project.ts
  tools/ui-components/src/close-button/close-button.tsx
Labels: status: waiting review, scope: tools/scripts

#54048 fix(curriculum): forum leaderboard project step 61 - added test cases for test method solution
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f7879ebbdb201892e55e1.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54027 chore: upgrade husky to v9
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: status: waiting review

#54057 fix: remove extra attribute on avatar renderer
  client/src/components/Header/components/auth-or-profile.tsx
Labels: platform: learn

#54023 chore(curriculum): add quotes to strings in OOP shopping cart
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63ec20a06fff670d37befbd9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63ee5d8f9e7168076e932fe2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63ee5e0f08e82208364c4128.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0224ceb16dc196d2c860a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0348a54a177272071a595.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f034d012f74627ce538d3a.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54066 fix(curriculum): All tests for the for...of loop in the Dice game should allow campers to use let or const
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-algorithmic-thinking-by-building-a-dice-game/657e0f2a6cb19c72b8760be5.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54071 feat: update multiple donation modals logic
  client/src/components/Intro/learn-alert.tsx
  client/src/redux/selectors.js
Labels: status: waiting review, platform: learn

#54074 feat: create sign_in and user_data GA events
  client/src/analytics/call-ga.ts
  client/src/components/Header/components/login.tsx
  client/src/components/growth-book/growth-book-redux-connector.tsx
  client/src/redux/selectors.js
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: learn

#54082 fix(curriculum): fixed the spelling of the word "grid"
  curriculum/challenges/english/07-scientific-computing-with-python/learn-classes-and-objects-by-building-a-sudoku-solver/65688f737b0ef396bf0c22d6.md
Labels: status: waiting review, scope: curriculum, new python course

#53456 fix(curriculum/python): improve password generator project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656470d517833a39bb8b5608.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656477845006313fbfea0ad1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656485a8a3496d4a36b1496a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/65649122c7f77f519aaf0975.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564b8c9349bd76dc037967b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564d68c34027a8072a704f4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564eebf0d2d6390b9377197.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564efa70114b591b74d5679.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564f0279e23ce924eedd1b2.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564f32b18480893cf7799fd.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564f834dd717998092cfd47.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6565bd4265158360de8e2ae7.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6565c084627071646f94c4b0.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6565c3a146bd5469b62bc59e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6565c4767f49286aec825c6d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656eec2f40d18056cc58b229.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656ef783bba6976de014eaa8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656ef89b4b486b7a16077864.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/656f04b20397d9a574cc7eb2.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6577319039f4f7de9251b822.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/657732654845d8e2fb1217e6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/657733bc97eb83efdb7e3988.md
Labels: status: waiting review, scope: curriculum, new python course

#54086 fix(curriculum): adjust test text to match instructions
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/announce-new-users.md
Labels: status: waiting review, scope: curriculum

#54044 feat(ui-components): implement Modal component with headlessui
  tools/ui-components/src/modal/modal.stories.tsx
  tools/ui-components/src/modal/modal.test.tsx
  tools/ui-components/src/modal/modal.tsx
  tools/ui-components/src/modal/types.ts
  tools/ui-components/src/normalize.css
  tools/ui-components/tailwind.config.js
Labels: scope: tools/scripts

#54090 fix(curriculum): convert find_if_bodies and find_while_bodies to find_bodies
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6577319039f4f7de9251b822.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/657732654845d8e2fb1217e6.md
Labels: scope: curriculum

#53072 fix: legacy certification name in profile page
  client/i18n/locales/english/translations.json
  e2e/profile.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#54098 fix(curriculum): clarify pronoun confusion in cafe project step 40
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3cade9fa77275d9f4efe62.md
Labels: status: waiting review, scope: curriculum

#54096 fix(curriculum): Improving rpg 17 with example markup
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a23c1d505bfa13747c8a9b.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54101 fix(curriculum): fix function name step 66 password generator project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/657dadf4d8b93c1704f3a57c.md
Labels: status: waiting review, scope: curriculum, new python course

#54032 fix: sign-out-modal playwright test
  e2e/signout-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#53999 chore: copy redirect + tests to new api
  api/src/routes/deprecated-unsubscribe.test.ts
  api/src/routes/deprecated-unsubscribe.ts
  api/src/utils/allowed-origins.ts
  api/src/utils/redirection.test.ts
  api/src/utils/redirection.ts
Labels: status: waiting review, platform: api

#54093 chore(deps): update curriculum-helpers to v3.0.1
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#54108 fix: add quotes around attribute value
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f01861f813e01564c95315.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f018f04e487e164dc27bd9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f01c9791a0aa1751c73760.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0224ceb16dc196d2c860a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f026d041bc6c1a3d5cba0f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0284532742c1b26c7a052.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0289df84a581bbdbd29b7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0295e673b661ccb299e8a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f029b96b9e9e1df93be951.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f02a4ef92d711ec1ff618c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f02b22cce1c11fe9604381.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f02bdeb9b428208b97eb6b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f02c6e18773921ba50aa53.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0311f5ea9382388d6124f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f033fdb1fbcc254999fcc3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03446c2ed3e264be6c7fc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0348a54a177272071a595.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f034d012f74627ce538d3a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03686c5ea863533ec71f4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f036ec91fdf238c90665f5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0370b340915399d31e5eb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0374d5351223a747c301d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f0378e173e3c3b7638b528.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f038a0ae041d3c5b0cdf23.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f038e671d3f73d5a041973.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f039dbcef7673e4e758fa3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03a7143a6ef3f7f3344f0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03ac2b428b2404a5a7518.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03af535682e4138fdb915.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f03b1ed5ab15420c057463.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63f6721d5110af243ef8f3d9.md
Labels: status: waiting review, scope: curriculum

#54132 Fix(curriculum): Reordered tasks block 3.1 and small corrections 3.2 English curriculum
  curriculum/challenges/_meta/learn-how-to-ask-and-share-about-educational-and-professional-background/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-hobbies-and-interests/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1985ae17886b05b382b1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b19bf7b32af6caf763ef7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1a03df3ec46eca276046.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1a27dc6daf6ffd52ff1f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1a637e4dc571f8f4d3d7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1a9581015573806e1e20.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1cc072206e7ac3db88b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1dfec76149836ea5c7d0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1e2fad2ffe84ab420a56.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1e66159fec86336a737b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1e9a62603587747f7f45.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1ee1de7216896b5b4361.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1f0585d48f8ac0b19654.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b1fe950c0df90346e5d12.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b201372864e91d4f5bb53.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b20338e0802931673c1e1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b20985d315095e5c3851d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b223e41ce6b9f9a01d214.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b2340be1593a6517fe77b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b23a413d28da927e087ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b23bc0e32f9aa9c62eb82.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b23f03b449aac2c517089.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b242d06512dadaea55056.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b24542024c8af092cd6c4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b24774d8cdab052ffe2a6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b2ec6c054efd71e503a27.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b2eeb31e435d89ecce6f3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b2f0b3bcfe7d9f4151854.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b2f3bf7a2cbdb58d959d5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b30ac03b523e6640deaf1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b30e1b9f035e7e656fd01.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f22f7d84784d8bd129c9a4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f230854698ec8c68b67fa4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f310fc37e701bfa451be47.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3146b4f4fb2c1f95c7335.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f31898ad2ed9c3b1a4c9b3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3212e767d81dbcfbeb0cc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3234e85f828dd1f45d384.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3641948909aecf182befe.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f365351cf89fedddcc281e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f365bc3c1491ee60db85a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f39df8d18f4814c75d3fba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f39f5bc6d49d15d7ae3d73.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3a19e8b77c4170ed0704d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3a5111de04c216a38d998.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3a5733a199c21ca589173.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3a66869afaa22af33a9a3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/65f3a7087f990a233ebb16ba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657da1d38bf3e693eb579be9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657ea950baa4a8c48e39d031.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657ea9f6e0214dc4f84c8229.md
Labels: scope: curriculum, scope: i18n

#54130 fix: errors if challenge file needs renaming
  tools/challenge-helper-scripts/helpers/project-metadata.test.ts
  tools/challenge-helper-scripts/helpers/project-metadata.ts
Labels: scope: tools/scripts

#54121 fix(curriculum): Added a note on how the players are numbered for team cards
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63c620161fc2b49ac340ffc4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63d1214a0ac7a9389793269b.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54009 feat(api): update my classroom mode
  api/prisma/oldschema.prisma
  api/prisma/schema.prisma
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas.ts
Labels: status: waiting review, platform: api

#54111 feat(challenge-editor): add english/task helper scripts
  curriculum/package.json
  tools/challenge-editor/client/src/components/block/block.tsx
  tools/challenge-helper-scripts/create-next-task.ts
  tools/challenge-helper-scripts/delete-task.ts
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
  tools/challenge-helper-scripts/helpers/new-challenge-prompts.ts
  tools/challenge-helper-scripts/helpers/new-task-prompts.ts
  tools/challenge-helper-scripts/helpers/task-helpers.ts
  tools/challenge-helper-scripts/insert-task.ts
  tools/challenge-helper-scripts/reorder-tasks.ts
  tools/challenge-helper-scripts/utils.ts
Labels: status: waiting review, scope: tools/scripts

#54109 fix(curriculum): remove replit reference
  client/src/pages/learn/back-end-development-and-apis/basic-node-and-express/index.md
  client/src/pages/learn/back-end-development-and-apis/managing-packages-with-npm/index.md
  client/src/pages/learn/back-end-development-and-apis/mongodb-and-mongoose/index.md
  client/src/pages/learn/information-security/information-security-with-helmetjs/index.md
Labels: status: waiting review, platform: learn

#54072 test: replace getByText by getByRole query
  tools/ui-components/src/drop-down/drop-down.test.tsx
Labels: status: waiting review, scope: tools/scripts

#53997 feat: use jwt_access_token for new api (in development)
  api/jest.utils.ts
  api/src/app.ts
  api/src/plugins/code-flow-auth.test.ts
  api/src/plugins/code-flow-auth.ts
  api/src/plugins/cookies.test.ts
  api/src/plugins/cookies.ts
  api/src/plugins/cors.ts
  api/src/routes/auth-dev.test.ts
  api/src/routes/auth-dev.ts
  api/src/routes/auth.test.ts
  api/src/routes/auth.ts
  api/src/routes/certificate.test.ts
  api/src/routes/certificate.ts
  api/src/routes/challenge.ts
  api/src/routes/donate.ts
  api/src/routes/helpers/auth-helpers.ts
  api/src/routes/settings.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/utils/env.ts
  api/src/utils/ids.ts
  api/src/utils/redirection.ts
  api/src/utils/tokens.test.ts
  api/src/utils/tokens.ts
  api/src/utils/user-token.ts
Labels: status: waiting review, platform: api

#54151 fix(curriculum) : remove typo in test code Technical Documentation Project
  curriculum/challenges/english/14-responsive-web-design-22/build-a-technical-documentation-page-project/build-a-technical-documentation-page.md
Labels: status: waiting review, scope: curriculum

#54155 fix(actions): update workflow name, better array
  .github/workflows/curriculum-i18n.yml
Labels: scope: tools/scripts

#54154 fix(cypress): rollback firefox
  .github/workflows/e2e-web.yml
Labels: scope: tools/scripts

#54085 fix(playwright): video-modal test
  e2e/video-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54104 test(playwright): shortcuts-modal improvements
  e2e/shortcuts-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#54092 chore: update multiple linting packages
  client/src/components/Intro/index.tsx
  client/src/components/Intro/intro.test.tsx
  client/src/components/helpers/loader.test.tsx
  client/src/components/settings/__snapshots__/honesty.test.tsx.snap
  client/src/components/settings/honesty.test.tsx
  package.json
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn

#54139 fix(client, ui-components): modal and close button discrepancies
  client/src/components/layouts/global.css
  tools/ui-components/src/modal/modal.tsx
  tools/ui-components/src/modal/types.ts
  tools/ui-components/tailwind.config.js
Labels: platform: learn, scope: tools/scripts

#54161 fix(ui-components): modal body alignment
  tools/ui-components/src/modal/modal.stories.tsx
  tools/ui-components/src/modal/modal.tsx
  tools/ui-components/src/modal/types.ts
Labels: scope: tools/scripts

#54181 chore: update curriculum-helpers to v3.1.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#54102 fix(curriculum): update instructions in Cat Photo App step1
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
Labels: status: waiting review, scope: curriculum

#54184 changed short name to dashed name
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/helpers/new-challenge-prompts.ts
Labels: scope: tools/scripts

#54173 fix(curriculum): set isUpcomingChange to false in meta.json files for Part 3 of the English Curriculum
  curriculum/challenges/_meta/learn-how-to-ask-and-share-about-educational-and-professional-background/meta.json
  curriculum/challenges/_meta/learn-how-to-discuss-roles-and-responsibilies/meta.json
  curriculum/challenges/_meta/learn-how-to-discuss-your-morning-or-evening-routine/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-hobbies-and-interests/meta.json
Labels: scope: curriculum, scope: i18n

#53824 feature(UI): Help modal form
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/help-modal.css
  client/src/templates/Challenges/components/help-modal.tsx
  client/src/templates/Challenges/redux/create-question-epic.js
  client/src/templates/Challenges/redux/index.js
  e2e/help-modal.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#54206 fix(client): Update misspelled word "backgrounds"
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n

#54208 fix: manually overwrite execute-brain.md
  .github/workflows/crowdin-download.curriculum.yml
  tools/scripts/move-bf.sh
Labels: scope: tools/scripts

#54145 fix: frontmatter for english challenge
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/65a84e922382a7bd112057ad.md
Labels: scope: curriculum

#54209 feat: make c# chinese live
  shared/config/superblocks.ts
Labels: status: waiting review

#54146 fix(curriculum): use get computed styles in step 46 of the access quiz
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614796cb8086be482d60e0ac.md
Labels: status: waiting review, scope: curriculum

#54171 fix: double signing test
  api/src/plugins/code-flow-auth.test.ts
Labels: status: waiting review, platform: api

#54205 fix: a href to an href
  curriculum/challenges/english/01-responsive-web-design/basic-css/override-styles-in-subsequent-css.md
  curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/turn-an-image-into-a-link.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145fb5018cb5b100cb2a88c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64649b108df035051cb2ba2d.md
  curriculum/challenges/english/16-the-odin-project/top-build-a-recipe-project/top-build-a-recipe-project.md
  curriculum/challenges/english/16-the-odin-project/top-links-and-images/links-and-images-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-links-and-images/links-and-images-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-links-and-images/links-and-images-question-c.md
Labels: status: waiting review, scope: curriculum

#54210 fix(UI): skip button outline visibility
  client/src/components/Header/header.css
Labels: status: waiting review, platform: learn

#54012 feat: The Odin Project Learn Data Types and Conditionals
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-learn-data-types-and-conditionals/meta.json
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-h.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-i.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-j.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-k.md
  curriculum/challenges/english/16-the-odin-project/top-learn-data-types-and-conditionals/learn-data-types-and-conditionals-question-l.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#54216 fix(curriculum): Typo in Links and Images lessons
  curriculum/challenges/english/16-the-odin-project/top-links-and-images/links-and-images-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-links-and-images/links-and-images-question-c.md
Labels: scope: curriculum

#54211 fix(curriculum): clarify random property
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/646d4a5b32a1cad6165df286.md
Labels: scope: curriculum, status: waiting update, new javascript course

#54212 chore(curriculum): add quotes to strings in JS number sorter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/64061a98f704a014b44afdb2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6406a9945fa5d23c225d31cc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6406adbca6b41d3d7cef85ab.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6410fcd1f731fd17cdb101a7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6411024727181d190ef03166.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6411108bc8b9c324f66aab4c.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54228 fix(curriculum): improved instructions for better understanding of function call
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b3cc436db8139cc5fc09.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54166 fix(ui-components): remove border width override from Tabs
  tools/ui-components/src/tabs/tabs.tsx
Labels: status: waiting review, scope: tools/scripts

#54237 fix(a11y): hide GreenPass icon of donation modal from a11y tree
  client/src/components/Donation/donation-text-components.tsx
Labels: platform: learn

#54186 feat: change ad.txt to admanager
  client/static/ads.txt
Labels: status: blocked, platform: learn

#54225 fix(curriculum) : clarify description on step 47 of password generator project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6564dd65c3c2fa873a83d213.md
Labels: status: waiting review, scope: curriculum, new python course

#54218 fix(api): update backend project validation
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/schemas.ts
Labels: status: waiting review, platform: api

#54050 fix(api): send msUsername in get session user endpoint
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schemas.ts
Labels: status: waiting review, platform: api

#54112 feat: migrate setting modals
  client/src/components/SolutionViewer/exam-results-modal.tsx
  client/src/components/SolutionViewer/project-modal.tsx
  client/src/components/layouts/global.css
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/delete-modal.tsx
  client/src/components/settings/reset-modal.tsx
  client/src/components/signout-modal/index.tsx
  client/src/components/staging-warning-modal/index.tsx
  client/src/components/staging-warning-modal/staging-warning-modal.test.tsx
  client/src/templates/Challenges/components/reset-modal.css
  client/src/templates/Challenges/components/reset-modal.tsx
  e2e/delete-modal.spec.ts
  e2e/lower-jaw.spec.ts
  e2e/reset-modal.spec.ts
  e2e/signout-modal.spec.ts
  e2e/solution-display-widget.spec.ts
  e2e/solution-viewer.spec.ts
  tools/ui-components/src/modal/modal.tsx
  tools/ui-components/src/modal/types.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#54217 fix(client): skip to content button overlapping the nav
  client/src/components/Header/header.css
Labels: status: waiting review, platform: learn

#54249 fix(tools): correct file name
  .github/workflows/crowdin-download.curriculum.yml
Labels: status: waiting review, scope: tools/scripts

#54251 fix(curriculum): grammatical error correction
  curriculum/challenges/english/16-the-odin-project/top-working-with-text/working-with-text-question-d.md
Labels: status: waiting review, scope: curriculum, odin project

#54253 fix(curriculum): typo on step 61
  curriculum/challenges/english/07-scientific-computing-with-python/learn-classes-and-objects-by-building-a-sudoku-solver/6569e481e67f123ad25c5d20.md
Labels: status: waiting review, scope: curriculum, new python course
