Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-08, with the labels that each got.

#55640 refactor(client): clean up gatsby-node
  client/gatsby-node.js
  client/utils/gatsby/challenge-page-creator.js
Labels: platform: learn

#55723 fix(curriculum): Typo in the english course
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/6581a95da053653b4593a650.md
Labels: status: waiting review, scope: curriculum

#55733 chore(curriculum): Accessibility Quiz HTML numbering
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145ee65e2e1530938cb594d.md
Labels: status: waiting review, scope: curriculum

#55462 fix(curriculum): clarify object access in Spreadsheet
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/646d4554721d43cb19a68bc4.md
Labels: status: waiting review, scope: curriculum, bookmark, new javascript course

#55514 test(e2e): add tests for the claim cert button on /settings
  client/src/components/settings/certification.tsx
  e2e/settings.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55629 fix(client): conditional rendering of breadcrumb/spacers
  client/src/components/layouts/default.tsx
Labels: status: waiting review, platform: learn

#55726 fix(client): improve editor performance
  client/src/templates/Challenges/redux/selectors.js
Labels: status: waiting review, platform: learn

#55531 fix(curriculum): improve rock, paper, scissors tests
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d4008cee64e05dfb08f0d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-dom-manipulation-by-building-a-rock-paper-scissors-game/663d5bebe2eef6128a0b1e75.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55544 fix(curriculum): update tests, remove self-closing
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/614385513d91ae5c251c2052.md
Labels: status: waiting review, scope: curriculum

#55545 fix(curriculum): update tests, remove self-closing
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62cc5b1779e4d313466f73c5.md
Labels: status: waiting review, scope: curriculum

#55547 fix(curriculum): update tests, remove self-closing
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612e83ec2eca1e370f830511.md
Labels: status: waiting review, scope: curriculum

#55548 feat(api): add update-stripe-card endpoint
  api/src/routes/donate.test.ts
  api/src/routes/donate.ts
  api/src/schemas.ts
  api/src/schemas/donate/update-stripe-card.ts
  client/src/utils/ajax.ts
Labels: status: waiting review, platform: api, platform: learn

#55729 fix(client): send body in update-stripe-card requests
  client/src/utils/ajax.ts
Labels: platform: learn

#55763 fix(client): parse learner code with DOMParser
  client/src/templates/Challenges/rechallenge/transformers.js
  curriculum/test/test-challenges.js
Labels: platform: learn

#55728 fix(curriculum): wording in Building a Spreadsheet step 55
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/646d3141790b3cb337dd611a.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55696 feat(curriculum): add blog workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-blog-page/index.md
  curriculum/challenges/_meta/workshop-blog-page/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669aff9f5488f1bea056416d.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fc7e141e4703748c558bf.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fc938d38e6e38ace9251e.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fcb06c3034a39f5431a38.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fcb5106eeb13ab7afcd09.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fd003cb89ee3c2402e041.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fd6fd12918e3de87854d4.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fdc11c9b0263fe0814a7a.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fdd3965f36f40af9615e5.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fde2081f65141ad703fe4.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/669fdfc9a5e3da42d2376609.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a334a1a7cca6354999f9bf.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a335e5888ffb367633200a.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a338be7f1dee383a0e0ecb.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a33a00514b40393a983c24.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a33ac0ae8e3139fb34afc3.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a33bd56208583aeb4837c4.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a33c449ffdf93b90c5821e.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a33e9bd3aa213cd23d9c57.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a49f685961e997e337cab1.md
  curriculum/challenges/english/25-front-end-development/workshop-blog-page/66a7e72adf226c02626715a3.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55722 test: fix flaky settings test
  e2e/settings.spec.ts
Labels: scope: tools/scripts

#55773 fix(curriculum): typos in building a Dice Game Step 13
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e0c2c6a9d37705146f34d.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55762 fix(curriculum): add location of if statement to requirement and hint
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610bf6fa14d700beed1b109.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55759 fix(client): left align modal content, large modal size
  client/src/components/profile/components/time-line.tsx
Labels: status: waiting review, scope: UI, platform: learn

#55706 fix(curriculum): add ternary example to music player step 70
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6555d729c9bfd7c3195f1948.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55529 fix(curriculum): remove extra parenthesis from Todo App Step 24 onward
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ec9343769e8f85c1e17e05.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ec94f0de20c086e09b0fc3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ec959a76336c8767f5cd4d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ec96761156a187ed32b274.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ec9b10356c2d8aa05d9ce1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ec9c55fdeef78bacd2fc3b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fac365aeb8ad70b69b366f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fac4d1773e7a719b1254de.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fac6a497811572b338e5e5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64faca774fd9fd74bc084cc9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64facf6180824876f70a2e86.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fad07f43a101779cb8692a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fad9cd2eeb1e7ca2ca8c8b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fadae4f2d51b7d5d8b98d8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fadff23375f27ff06c6d40.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fae068bcdc9c805bd8399e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64faedcd16a1e985c4c2dc94.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64faf0418e828c0114a558a7.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64faf65b22ad8d07df9be14d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64faf874364ec308f875f636.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fafac95328110a69bcb75f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb0fa0968f2b113b2d90e9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb1061ca838611ed6a7d6b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb1321e189a6136d200f77.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb1436adef3e145b4c3501.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb14d890415c14f93069ce.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb154a7c48cd159924bb18.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb1c4dc0feb219149a7c7d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb285637fa1e1c222033e3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fb29348a60361ccd45c1e2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fefebad99209211ec30537.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff0313700dad264d19dfe4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff04cc33779427a6412449.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff068e0426eb288874ed79.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff23daf176a92de95f24dc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff24b80431f62ec6b93f65.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65003986d17d1e1865b269c0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650046832f92c01a35834bca.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650048b0764f9c1b798200e2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65004ba581d03d1d5628b41c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65099dbd8f137d58e5c0ff16.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/6632420f81f3cc554a5e540b.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55576 fix(ui): render certification on profile page in ul
  client/src/components/profile/components/certifications.css
  client/src/components/profile/components/certifications.tsx
Labels: status: waiting review, platform: learn

#55556 fix(curriculum): always passing tests in Forum leaderboard
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f8615fa144d01c476b22c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/646474a88d0d4a016f895ba8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64649b108df035051cb2ba2d.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55539 fix(curriculum): always passing test in Shopping cart step 5
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-oop-by-building-a-shopping-cart/63ec1cb59f2a4c0be5b6dfa0.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55776 feat: cache manifest for one day
  client/serve/serve.json
Labels: platform: learn

#55785 refactor(client): render lower jaw via React portal
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: learn

#55771 chore(client): optimize landing images
  client/src/assets/images/landing/Emma.png
  client/src/assets/images/landing/Sarah.png
  client/src/assets/images/landing/Shawn.png
  client/src/assets/images/landing/wide-image.png
Labels: status: waiting review, platform: learn

#55786 fix(client): add key to map fragment
  client/src/components/Map/index.tsx
Labels: platform: learn

#55783 fix(curriculum): step 18 code checking too strict in spreadsheet project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/65ae458e23954c3469e0c209.md
Labels: scope: curriculum

#55552 feat(curriculum): add cat photo app workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/learn-basic-html-by-building-a-recipe-page/index.md
  client/src/pages/learn/front-end-development/workshop-cat-photo-app/index.md
  curriculum/challenges/_meta/front-end-development-certification-exam/meta.json
  curriculum/challenges/_meta/lab-recipe-page/meta.json
  curriculum/challenges/_meta/learn-basic-html-by-building-a-recipe-page/meta.json
  curriculum/challenges/_meta/workshop-cat-photo-app/meta.json
  curriculum/challenges/english/25-front-end-development/learn-basic-html-by-building-a-recipe-page/66731cd027ef3acb155669f5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66731cd027ef3acb155669f5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690b9626a66f51257ae5a91.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690b9a24f5b0f1300040c76.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690ba16cf76f613b4e36197.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690bb0b4062b114997f708a.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690bd5ad96139157eedf697.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690be42942f421648b119eb.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690be902f051416f668962b.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690bebfd5c918179ea4fd3a.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690beec809b4f184cab6914.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669840900adeba35e4ebb917.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669840c70aea8936930dba35.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698410269ace0373ec812b6.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698417821794837f14ca275.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698419d8f52cf3891f34853.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984218720e29393b1adad2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698429ba5761b39f8aad814.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669842cee55b683aa13ee758.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669842f261665d3b4a42df81.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984330a510e63bf0787898.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698440c54c8823cc60af8bc.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698444102ebd53d78cf66f8.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984484deb84b3e21e5b3d7.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984535d474083eec6bb8da.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698457295f6403fa49050b8.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698458e123b4f403936994d.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669845af34899240d9196258.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984881117baa41da8bbde0.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669848cd668e7242872f4861.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984905e95af5432faa28b1.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698491eff5f2e43c20c6503.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698496716e821448ba724a6.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984e0cb4febb50c3794edf.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984e8ab54bee517207be42.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984ec64a3652522e81c678.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984eef66cc1752d93b53f5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984fe8efbd8c53a78c9b62.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66985068aeb06e54562df39e.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669850ce0ccf395511ff4254.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698510677b5e655ba8c1017.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#55663 fix(api): UserRateLimit schema
  api/prisma/schema.prisma
  api/src/routes/auth.ts
Labels: platform: api

#55671 fix(api): modularize auth handlers
  api/src/app.ts
  api/src/plugins/auth.test.ts
  api/src/plugins/auth.ts
  api/src/plugins/auth0.test.ts
  api/src/plugins/bouncer.test.ts
  api/src/plugins/bouncer.ts
  api/src/plugins/code-flow-auth.test.ts
  api/src/plugins/code-flow-auth.ts
  api/src/plugins/cookies.ts
Labels: platform: api

#55618 fix(curriculum): disable loop protect for euler 187
  curriculum/challenges/_meta/project-euler-problems-101-to-200/meta.json
Labels: status: waiting review, scope: curriculum, scope: i18n

#55600 fix(curriculum): tests passing with seed code in Platformer game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/6482b4fef5fd6bcdfddad730.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c708fe06b0c3776f90faaf.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c7202620a5e17d8a3c777d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c74a8a4138c6032241d498.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/65b006efc74c675c2bdfccba.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55796 fix(curriculum): typo in step 2 of Building a Gradebook App
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/6626a060c4006f793e10cb33.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55798 refactor(client): move punctuation mark to translation string
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/reset-modal.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#55791 fix(curriculum): step 89 hasOwnProperty fix
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/646d4626420eeecd51f241c2.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55787 fix(client): only fetch completion data on challenge pages
  client/src/components/Progress/progress.tsx
  client/src/components/layouts/default.tsx
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/redux/completion-epic.test.js
  client/src/utils/get-completion-percentage.ts
Labels: status: waiting review, platform: learn

#55568 feat(learn): add blockType to block meta
  client/gatsby-node.js
  client/i18n/locales/english/translations.json
  client/src/redux/prop-types.ts
  curriculum/challenges/_meta/front-end-development-certification-exam/meta.json
  curriculum/challenges/_meta/lab-recipe-page/meta.json
  curriculum/challenges/_meta/workshop-blog-page/meta.json
  curriculum/challenges/_meta/workshop-cat-photo-app/meta.json
  curriculum/get-challenges.js
  curriculum/schema/__snapshots__/challenge-schema.test.js.snap
  curriculum/schema/challenge-schema.js
  curriculum/schema/meta-schema.js
  shared/config/blocks.ts
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#55739 fix(curriculum): Accessibility Quiz remove placeholder text
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f47393fbe70c4d885f9c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f59029474c0d3dc1c8b8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f685797bd30df9784e8c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f829ac6a920ebf5797d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145f8f8bcd4370f6509078e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145fb5018cb5b100cb2a88c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145fc3707fc3310c277f5c8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614796cb8086be482d60e0ac.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6147a14ef5668b5881ef2297.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614878f7a412310647873015.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487b77d4a37707073a64e5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487da611a65307e78d2c20.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61487f703571b60899055cf9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614880dc16070e093e29bc56.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614883b6fa720e09fb167de9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614884c1f5d6f30ab3d78cde.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/61488ecfd05e290b5712e6da.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148d99cdc7acd0c519862cb.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148da157cc0bd0d06df5c0a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dc095264000dce348bf5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dcaaf2e8750e6cb4501a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dd31d210990f0fb140f8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148defa9c01520fb9d178a0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148dfab9b54c110577de165.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e0bcc13efd10f7d7a6a9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e161ecec9511941f8833.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e28706b34912340fd042.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e335c1edd512d00e4691.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e41c728f65138addf9cc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6148e5aeb102e3142de026a2.md
Labels: scope: curriculum

#55800 fix(curriculum): recipe page block title
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/lab-recipe-page/meta.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#55767 refactor: use link helper over Gatsby's Link
  client/src/client-only-routes/show-update-email.tsx
  client/src/components/FourOhFour/index.tsx
  client/src/components/helpers/button-link.tsx
  client/src/components/settings/certification.tsx
  client/src/components/settings/email.tsx
  client/src/templates/Introduction/components/challenges.tsx
Labels: status: waiting update, platform: learn

#55639 feat(curriculum): add video compilation lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-video-compilation-page/index.md
  curriculum/challenges/_meta/lab-video-compilation-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-video-compilation-page/669e81368e52b3a5c35a2dc5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55633 feat(curriculum): add travel agency page lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-travel-agency-page/index.md
  curriculum/challenges/_meta/lab-travel-agency-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-travel-agency-page/669e2f60e83c011754f711f9.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55825 fix(curriculum): allow space before semi colon in for loop
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f1a00ac619ddc1e259a66.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55833 chore(curriculum): add placeholder fed blocks in intro.json
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n

#55757 feat(curriculum): add final exam table workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-final-exams-table/index.md
  curriculum/challenges/_meta/workshop-final-exams-table/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a98f42c7c06903e5f8dd07.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9b333487b9c14998539a5.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9b48a211a73155621d0df.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9b8f14b963916a3baa732.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9bb8578459a175432e7d0.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9bcf00f13a418368a272e.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9c006e4f58819396605b3.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9c14e3b34c719e34bae20.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9c7a4521d2b1b1ec6dcf0.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9ca099e3ecb1be10a2696.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9cb26ec6bd41cf6c82bc5.md
  curriculum/challenges/english/25-front-end-development/workshop-final-exams-table/66a9cd4ffa48cf1ef7333640.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55799 feat(curriculum): add greeting bot workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-greeting-bot/index.md
  curriculum/challenges/_meta/workshop-greeting-bot/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad8294a0ad902f1b31b612.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad8ab945d266383f318cbf.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad8d150264db3926eccfeb.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad984e92ce213a66f7e51c.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad998285df023b23dacdd3.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad9c633fa26d3c1475eae3.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ada3f46945763dd97f43f8.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adb844118ba74107ce771f.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adbc8a9793d64250f7e609.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adc42868cab843ccee87d9.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adc5919c1853448f119d11.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adc6046acc18453decf577.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adc82170acb1464bd348eb.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66adcf383276814776aba3ca.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66add47d27763c4862492c8c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55817 fix(curriculum): optional space after constructor
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/6482bc5d699f0acfc52bdc41.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55834 fix: block order and more placeholders
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#55591 fix(curriculum): tests passing with seed code in Statistic calculator
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507c19151201368ee3e16c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635085da54fc2041e0303e75.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63508750f040a348a440a0bf.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ea3a5b79e614ee2282fd.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55828 chore(api-server): use unified topology
  api-server/package.json
  api-server/src/server/datasources.production.js
  pnpm-lock.yaml
Labels: platform: api

#55814 fix(curriculum): fix incorrectly highlighted texts
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/662693f82c91a66be46c881b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-js-fundamentals-by-building-a-gradebook-app/6626b8dcf5057f896f948440.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55793 fix(curriculum): step 54 math.pow too strict
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6353004b235d7a2e0b913f2b.md
Labels: status: waiting review, scope: curriculum

#55503 fix(curriculum): retrying tests with delay for async challenges
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da836581c254815f785fe.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da86294fd9f485d3c2bf0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641daa8c2c3e364ac3650b37.md
Labels: status: waiting review, scope: curriculum

#55678 feat(curriculum): add book inventory lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-book-inventory-app/index.md
  curriculum/challenges/_meta/lab-book-inventory-app/meta.json
  curriculum/challenges/english/25-front-end-development/lab-book-inventory-app/66a207974c806a19d6607073.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55720 refactor: simplify page creation
  client/gatsby-node.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/dialogue/show.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/ms-trophy/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/video/show.tsx
  client/src/templates/Introduction/intro.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/utils/gatsby/challenge-page-creator.js
Labels: platform: learn

#55854 fix(curriculum): Typo in learn the bisection method step 18
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d924ff2e5c7031c6ce8.md
Labels: status: waiting review, scope: curriculum, new python course

#55853 fix(curriculum): update hint text to 'You should have' in the Luhn algorithm challenge
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/65687f47f9001dd35bdcd5ab.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/656b47dc2cf39e37025dc033.md
Labels: status: waiting review, scope: curriculum, new python course

#55829 feat(api): redirect auth requests if already signed in
  api/src/app.ts
  api/src/plugins/auth0.test.ts
  api/src/plugins/auth0.ts
  api/src/plugins/bouncer.test.ts
  api/src/plugins/bouncer.ts
  api/src/routes/auth.ts
Labels: status: waiting review, platform: api

#55815 feat(curriculum): add random background color changer lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-random-background-color-changer/index.md
  curriculum/challenges/_meta/lab-random-background-color-changer/meta.json
  curriculum/challenges/english/25-front-end-development/lab-random-background-color-changer/66b62d0ad68488dd76228d6c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55858 fix: use string keys to stop intro order changing
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n

#55701 chore(curriculum): convert survey form into lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-survey-form/index.md
  curriculum/challenges/_meta/lab-survey-form/meta.json
  curriculum/challenges/english/25-front-end-development/lab-survey-form/66a8e9ca371965b6ef5f2989.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55581 chore(curriculum): Spam Filter add quotes to strings
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cd18eb67c661d8a9e11f3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cd91d28bebe226f765d86.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cdebe67ec0f25a4798356.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/641cdf57c3f7ee276e1d9b32.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/642349b5b7bae31af21cd5f8.md
Labels: status: waiting review, scope: curriculum

#55676 chore(curriculum): add quotes to strings in Number Sorter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6407c627ddc93708c8dee796.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/641130423e5f512d8972dae1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-algorithmic-thinking-by-building-a-number-sorter/6621c5f02a5c272761db8661.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55731 feat(curriculum): adding hotel feedback form workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-hotel-feedback-form/index.md
  curriculum/challenges/_meta/workshop-hotel-feedback-form/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a8290a27c2c625e2355042.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a833e88d08593618f22285.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a8347f97a33e36ffc81b9f.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a83601cd819e37f0dccd14.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a8380d911e3f4270d5cadc.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a83bdcf425e7446900b7c4.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a83e5e491625454b6f62c3.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a83fec026a7a4631e084d2.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a84111965a0c46df6bbd0a.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a930b20f589b6664c51cb0.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a93730719e1f68410cce54.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a937e74920ba68ebe5e86d.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a93bbe65a26169dbf3bc39.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a93c95bc58e26a8fe95818.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9401c9d660d6bb15993e2.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9419e2d18476c645ce693.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a94ea5df66236ebed260e8.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9521bc70162712caf118d.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a954b2bcddba72076c1857.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9577022877d72d8f43b4f.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a95d0eff8168747805f1f3.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a96127422411756204bc1b.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a962954f4e0d76223b37ed.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9689b1bf24b7750898a1b.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a969951120be7818d8ee49.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a96b01f33ef178dfca9e42.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a972137acd1179fa3fe8a0.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a975260401487af226b290.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a975c259525b7bc2d5c776.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a97ca8c4cbae7d0bb6e0ad.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a97f40ddd40d7deb0618b7.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9824ac5d9f77ec304969f.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9836b339fed7f9a8fe35a.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9843525e9fa8046d709b7.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66ad24c7eb8c121000c603a6.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55724 fix(ui): confirmation safeguard danger zone
  client/i18n/locales/english/translations.json
  client/src/components/settings/delete-modal.tsx
  client/src/components/settings/reset-modal.tsx
  e2e/delete-modal.spec.ts
  e2e/progress-reset-modal.spec.ts
Labels: platform: learn, scope: i18n, scope: tools/scripts

#55842 fix(curriculum): update calorie counter step 77 to not allow extra addition
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e4d2ff41811dd640504f.md
Labels: scope: curriculum

#55832 fix(curriculum) allow space, update wording, include position prop in…
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64cb2e5bdfb23a67272a07c7.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55868 chore(deps): bump @freecodecamp/ui to 1.1.0
  client/package.json
  client/src/components/profile/components/__snapshots__/timeline-buttons.test.js.snap
  pnpm-lock.yaml
Labels: platform: learn

#55871 feat(curriculum): use correct terms skyline project step 4
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98cc.md
Labels: scope: curriculum

#55659 feat: add AB test landing page top
  client/config/growthbook-features-default.json
  client/i18n/locales/english/translations.json
  client/src/assets/images/landing/landing-page-b.svg
  client/src/components/Donation/donation.css
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/components/landing/components/landing-top-b.tsx
  client/src/components/landing/components/ui-images.tsx
  client/src/components/landing/index.tsx
  client/src/components/landing/landing.css
  e2e/landing.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#55881 fix(curriculum): mention browser console
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da42481d90c4314c99e94.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da465273051435d332b15.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55877 fix(api): send captured errors to Sentry.
  api/src/routes/certificate.ts
  api/src/routes/donate.ts
Labels: platform: api

#55699 chore(curriculum): fCC Forum Leaderboard add quotes to strings
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/643e9f727a93d80198228d57.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/6443c98ac169e501eba36d04.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64440a50d076c204051f2cc0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644f360e888420013dbe705f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/644fba64caf60303c9540d14.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/646474a88d0d4a016f895ba8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/64649b108df035051cb2ba2d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/657386f11fb8265660bfac75.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65738cc6cba1825b14806b3d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65760954561c726e832a0cc8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65760ce115eb06716baeb361.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/65760de70283687288fe70cf.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55826 fix(curriculum): Platformer Game specify argument for height property
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c74e0064a9080443af0796.md
Labels: status: waiting review, scope: curriculum

#55876 refactor(api): import add-donation schema
  api/src/routes/donate.ts
  api/src/schemas.ts
  api/src/schemas/donate/add-donation.ts
Labels: platform: api

#55792 refactor(client): replace Map's static query with page queries
  client/src/components/Map/index.tsx
  client/src/components/landing/components/certifications.tsx
  client/src/components/landing/index.tsx
  client/src/components/landing/landing.test.tsx
  client/src/pages/index.tsx
  client/src/pages/learn.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/utils/gatsby/challenge-page-creator.js
Labels: status: waiting review, platform: learn

#55891 fix(UI): fix faq section misaligned on homepage #54726
  client/src/components/landing/components/faq.tsx
  client/src/components/landing/landing.css
Labels: platform: learn

#55899 fix(curriculum): step 13 instructions incorrect
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e0c2c6a9d37705146f34d.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55808 fix(curriculum): update final option scoring description
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657cf677438e705eab9fd1f9.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55847 fix(curriculum): step 78 and step 80 too strict checking fix
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c9bab6998128282da063f9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c9dc4bd63a92295347c449.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55870 feat(curriculum): adding teacher bot workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-teacher-chatbot/index.md
  curriculum/challenges/_meta/workshop-teacher-chatbot/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b102ee0bdbad34a9f85ba0.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b5928b86e907fdfbf34e56.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b59829dba144ff1351220f.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b59b12a745e10011158f7b.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b59be6ab830800c4df9146.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6d482bbb9e12f2e5ee1ae.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6e39031393e30f2c48d0f.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6e62423e8a031d6c1f03d.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6e80d6c3f0b329c360283.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6efddeca35833cd6f0b03.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6f586767a1534f3097353.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6f80fca500635d1e8af8d.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6fdb76441c738719039fa.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b6ffb42b88e33943788abf.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b7049b7709ea3a9547c79d.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b70b8a611cbf3bcc5c6c5f.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b7137348cfb53fd3ec6c73.md
  curriculum/challenges/english/25-front-end-development/workshop-teacher-chatbot/66b7142e588c4a407a51cdb6.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55898 fix(curriculum): task 12 option feedback
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657b23ad0df43588a6eadfa4.md
Labels: status: waiting review, scope: curriculum, new english course

#55911 fix(curriculum): update description for random background color changer lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-random-background-color-changer/index.md
  curriculum/challenges/_meta/lab-random-background-color-changer/meta.json
  curriculum/challenges/english/25-front-end-development/lab-random-background-color-changer/66b62d0ad68488dd76228d6c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55843 feat(curriculum): add gradebook app lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-gradebook-app/index.md
  curriculum/challenges/_meta/lab-gradebook-app/meta.json
  curriculum/challenges/english/25-front-end-development/lab-gradebook-app/66bb6a9c2dd58b73cd759034.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55492 feat(curriculum): add business card lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-business-card/index.md
  curriculum/challenges/_meta/lab-business-card/meta.json
  curriculum/challenges/english/25-front-end-development/lab-business-card/6690e10ebe2181212abc9652.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55906 fix(curriculum): build pokemon note
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: scope: curriculum

#55873 feat(curriculum): add playing cards lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-playing-card-page/index.md
  curriculum/challenges/_meta/lab-page-of-playing-cards/meta.json
  curriculum/challenges/english/25-front-end-development/lab-page-of-playing-cards/66be24cb4144f955b6bcc550.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55670 feat(curriculum): add moon orbit lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-moon-orbit/index.md
  curriculum/challenges/_meta/lab-moon-orbit/meta.json
  curriculum/challenges/english/25-front-end-development/lab-moon-orbit/66a37f37ef5823a313de8c26.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55935 fix(curriculum): remove a code backtick for translation
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63bf47fd40599f29827f484d.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55925 fix(curriculum): replace head content regex
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f34ecc1091b4fd5a8a484.md
Labels: status: waiting review, scope: curriculum

#55924 fix(curriculum): replace head content regex
  curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612e83ec2eca1e370f830511.md
Labels: status: waiting review, scope: curriculum

#55923 fix(curriculum) replace head content regex
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62cc5b1779e4d313466f73c5.md
Labels: status: waiting review, scope: curriculum

#55922 fix(curriculum) replace head content regex
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-grid-by-building-a-magazine/614385513d91ae5c251c2052.md
Labels: status: waiting review, scope: curriculum

#55882 fix(curriculum) : update head step 4
  curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98cc.md
Labels: status: waiting review, scope: curriculum

#55585 fix(curriculum): tests passing with seed code in Calorie counter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63b60cfaca25bb27edd40f62.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63b61490e633a22b4593e62f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63bf461011fca327d3b60fa8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c8c15fd337ad24b9b68049.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e8fe3a6f022a05a04675.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55586 fix(curriculum): tests passing with seed code in Music player
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6555e39a5f4c6f138c7d9405.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65a60aa3efd8fa079c2d1537.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65c64fe6c770a22db893e931.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/660af462d18730978fdf5c50.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55908 feat(curriculum) : no jQuery cat photo app
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa2407b521be39a3de7be1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa37b9eacea3f48c6300b0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb5ecbeacea3f48c6300b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb655eeacea3f48c6300b3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d7.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804db.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804dd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804de.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e9.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efada803cbd2bbdab94e332.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae0543cbd2bbdab94e333.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efae16e3cbd2bbdab94e334.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb23e70dc218d6c85f89b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efb2c990dc218d6c85f89b2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc518e8d6a74d05e68af75.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc54138d6a74d05e68af76.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc575c8d6a74d05e68af77.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f07fb1579dc934717801375.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4ab1b435f13ab6550052.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5f0d4d04b435f13ab6550053.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/7cf9b03d81a65668421804c3.md
Labels: status: waiting review, scope: curriculum

#55907 feat(curriculum) : no jQuery in cafe menu
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f33294a6af5e9188dbdb8f3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f332a88dc25a0fd25c7687a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f332b23c2045fb843337579.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f344fbc22624a2976425065.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f344fc1520b6719f2e35605.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cbcb6ba47918c1da92.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed60a5decd94ab66986.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed69db0a491745e2bb6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f356ed6cf6eab5f15f5cfe6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f35e5c4321f818cdc4bed30.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3c866d5414453fc2d7b480.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3c866daec9a49519871816.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3c866de7a5b784048f94b1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3cade9993019e26313fa8e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3cade99dda4e6071a85dfd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e056bdde6ae6892ba2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e07276f782bb46b93d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0819d4f23ca7285e6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e087d56ed3ffdc36be.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0b431cc215bb16f55.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0e0c3feaebcf647ad.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f459fd48bdc98491ca6d1a3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e7a4750dd05b5a673920.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f4701b942c824109626c3d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f475e1c7f71a61d913836c6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f716ad029ee4053c7027a7a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f716bee5838c354c728a7c5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f7692f7c5b3ce22a57788b6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f7b87422a560036fd03ccff.md
Labels: status: waiting review, scope: curriculum

#55802 feat(curriculum): add availability table lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-availability-table/index.md
  curriculum/challenges/_meta/lab-availability-table/meta.json
  curriculum/challenges/english/25-front-end-development/lab-availability-table/66b36358ed4f261d64840c24.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55947 fix(curriculum): Typo in hint for Building a Dice Game - Step 14
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e230500602983e01fff6e.md
Labels: scope: curriculum

#55844 chore(curriculum): add newspaper article lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-newspaper-article/index.md
  curriculum/challenges/_meta/lab-newspaper-article/meta.json
  curriculum/challenges/english/25-front-end-development/lab-newspaper-article/66ba762af611169359d9d369.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55865 chore(curriculum): confidential email lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-confidential-email-page/index.md
  curriculum/challenges/_meta/lab-confidential-email-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-confidential-email-page/66bba6fff611169359d9d36a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55474 fix(curriculum): combining steps 7-9 in build a football team cards
  curriculum/challenges/_meta/learn-modern-javascript-methods-by-building-football-team-cards/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf90d4696d8f00851873a4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf91b0ff6e9300ead140cc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf920228531a0145abd0b3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63cf93472de77d01bf8474bf.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63d120a05ee93f38353b84c0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63d1214a0ac7a9389793269b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63d128eaedcc773d2ded2128.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63d12b9c7aaee43de1ba265d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e02a333354343b595d64ca.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e0334b7a24bd3c96aca4de.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e036373fc9173d284e165a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e03b86008bbb3e1c3de846.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e042661ad2663f0d468740.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e050bf935ac341b88326d6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e05557016dfd45ea49152c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e05c00b615bb46ac87273a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e060df21bca347b2d2b374.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e062d6090ebb486a4eda3a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e949b8327aa2aca2ca8eac.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e94dae6dcedbad73f2f6ee.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e954321b0a77ae4f6d9650.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e95a45dce95baf41dd4f78.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e95e39860dc5b01ebe9be0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9667c881b61b1e338d276.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e96938d2a347b2734a1587.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e96eb94c97b6b31ee50f63.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9718d7d490bb3940d5a0a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63e9737f686c76b4078a60f4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f28972973504e7bb58b0b3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f28ef082d771e8bf71f94a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f293c804d6f9e9a83ca4c5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f29804e3ec00ea6fab1ec4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f29ce62aea65eb041758c8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a0a860790eebe61bf908.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a4a8087e6dec8ec47f16.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a5f09a785aed155c0a56.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2a8e14fb388edd3242527.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2aa36fcdc63ee4e18fc37.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/63f2ab4f6c52c5eec6d68de4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/641fc88d8fa7127f76e0324f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-modern-javascript-methods-by-building-football-team-cards/641fcfd468185384ac218b7d.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#55874 feat(curriculum): add test number enumeration
  client/src/templates/Challenges/components/test-suite.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  e2e/output.spec.ts
  e2e/test-suite.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55926 fix(curriculum): updates to EC
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068f5b2b7dda9450a7cc2c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606952c28640e9941c8fa29.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660696292c16659a5e9ccf81.md
Labels: status: waiting review, scope: curriculum

#55949 feat(curriculum): add functions calculator workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-calculator/index.md
  curriculum/challenges/_meta/workshop-calculator/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc06012e46aa6bc9b8c001.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc095dfe1682753d2ab030.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc0a9e06e00b75d6782be9.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc0ba5881acb7692cfc4de.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc0de2920bec775f610424.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc0f1ae40802781b2ea972.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc10958d72e57907f898b2.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc12fa504b0479dac479a0.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc14ca14e65e7a9ebecb80.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc16abc30b367ba1d1f9ef.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc172af7159a7c67804544.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc1a3a39aef47d6473cb2f.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc1ccfefdd727e18c2ab20.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc1deb1f04647f2aabee2b.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc21d23238dc8240a8a182.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc26907ff6908402af0149.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc2739f687e484d50bb6f1.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc281d687975858049fd8d.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cdf76685e4cb5a8726e27b.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55956 fix(curriculum): swap test order
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-cash-register-project/build-a-cash-register.md
Labels: scope: curriculum

#55889 feat(curriculum): add factorial lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-factorial-calculator/index.md
  curriculum/challenges/_meta/lab-factorial-calculator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-factorial-calculator/66c07238b01053abaf812065.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert
