Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-09, with the labels that each got.

#55933 chore(curriculum): add cash register (JS only) lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-cash-register/index.md
  curriculum/challenges/_meta/lab-cash-register/meta.json
  curriculum/challenges/english/25-front-end-development/lab-cash-register/66c58d2477d7622ddc30ae06.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55982 fix(curriculum): missing back-tick for telephone-validator
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-telephone-number-validator-project/build-a-telephone-number-validator.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55976 fix(curriculum): typo in step 75 of JS lesson
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e3a83bb3e61a80eea564.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55686 chore(curriculum): Statistics Calculator add quotes to strings
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/63507b5ac8a55134223374c7.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55887 feat(curriculum): add sentence maker lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-sentence-maker/index.md
  curriculum/challenges/_meta/lab-sentence-maker/meta.json
  curriculum/challenges/english/25-front-end-development/lab-sentence-maker/66c057041df6394ca796bf33.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55768 feat(curriculum): add email masker lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-email-masker/index.md
  curriculum/challenges/_meta/lab-email-masker/meta.json
  curriculum/challenges/english/25-front-end-development/lab-email-masker/66b205e6eacba4c4e54ea434.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55992 fix(curriculum): missing comma for cat painting app step 47
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646de7b64467e96b7d35b5cd.md
Labels: status: waiting review, scope: curriculum

#55888 feat(curriculum): add fortune teller lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-fortune-teller/index.md
  curriculum/challenges/_meta/lab-fortune-teller/meta.json
  curriculum/challenges/english/25-front-end-development/lab-fortune-teller/66c06d618d075c7f7f1b890a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55980 fix(curriculum): Merge Sort algorithm step 10 requires spaces to pass
  curriculum/challenges/english/07-scientific-computing-with-python/learn-data-structures-by-building-the-merge-sort-algorithm/656680b0fc79f2c38a34d90e.md
Labels: scope: curriculum

#55916 feat(curriculum) : remove jQuery from legacy applied accessibility
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/add-an-accessible-date-picker.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-carefully-choosing-colors-that-convey-information.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-using-sufficient-contrast.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/improve-readability-with-high-contrast-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-links-navigable-with-html-access-keys.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-footer-landmark.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-nav-landmark.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-headings-to-show-hierarchical-relationships-of-content.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-add-keyboard-focus-to-an-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-content-in-the-article-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility.md
Labels: status: waiting review, scope: curriculum

#55921 feat(curriculum): remove jquery from applied visual design
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/add-a-box-shadow-to-a-card-like-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-background-color-property-of-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-color-of-various-elements-to-complementary-colors.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-hue-of-a-color.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-size-of-a-heading-element-versus-a-paragraph-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/animate-elements-at-variable-rates.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/animate-elements-continually-using-an-infinite-animation-count.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/animate-multiple-elements-at-variable-rates.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/center-an-element-horizontally-using-the-margin-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/change-an-elements-relative-position.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/change-animation-timing-with-keywords.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/change-the-position-of-overlapping-elements-with-the-z-index-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-gradual-css-linear-gradient.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-graphic-using-css.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-movement-using-css-animation.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-visual-balance-using-the-text-align-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/create-visual-direction-by-fading-an-element-from-left-to-right.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/decrease-the-opacity-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-about-complementary-colors.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-about-tertiary-colors.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-how-bezier-curves-work.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/learn-how-the-css-keyframes-and-animation-properties-work.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/lock-an-element-to-its-parent-with-absolute-positioning.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/lock-an-element-to-the-browser-window-with-fixed-positioning.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/make-a-css-heartbeat-using-an-infinite-animation-count.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-bezier-curve.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/modify-fill-mode-of-an-animation.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/move-a-relatively-positioned-element-with-css-offsets.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/push-elements-left-or-right-with-the-float-property.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-of-paragraph-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-weight-for-multiple-heading-elements.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-line-height-of-paragraphs.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-bezier-curve-to-move-a-graphic.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-a-css-linear-gradient-to-create-a-striped-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-css-animation-to-change-the-hover-state-of-a-button.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-css-transform-property-skewx-to-skew-an-element-along-the-x-axis.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-css-transform-property-skewy-to-skew-an-element-along-the-y-axis.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-change-the-size-of-an-element.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-scale-an-element-on-hover.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-em-tag-to-italicize-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-s-tag-to-strikethrough-text.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-strong-tag-to-make-text-bold.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-text-transform-property-to-make-text-uppercase.md
  curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-u-tag-to-underline-text.md
Labels: status: waiting review, scope: curriculum

#55863 feat(api): update mobile-login to match api-server
  api/src/routes/auth.test.ts
  api/src/routes/auth.ts
Labels: status: waiting review, platform: api

#55996 fix(curriculum): remove backticks around "ternary operator"
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa1eec891ed731db227a36.md
Labels: status: waiting review, scope: curriculum, new javascript course

#56001 fix(curriculum): remove redundant block for calculator workshop
  client/i18n/locales/english/intro.json
Labels: platform: learn, scope: i18n, frontend cert

#55890 feat(curriculum): add leap year lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-leap-year-calculator/index.md
  curriculum/challenges/_meta/lab-leap-year-calculator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-leap-year-calculator/66c06fad3475cd92421b9ac2.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56009 feat(curriculum): add quicksort lab to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-quicksort-algorithm/index.md
  curriculum/challenges/_meta/lab-quicksort-algorithm/meta.json
  curriculum/challenges/english/25-front-end-development/lab-quicksort-algorithm/66d97c3be4030e8f41a92083.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55946 refactor(client/challenge views): extract items into sharable components
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/assignments.css
  client/src/templates/Challenges/components/assignments.tsx
  client/src/templates/Challenges/components/fill-in-the-blanks.tsx
  client/src/templates/Challenges/components/multiple-choice-questions.tsx
  client/src/templates/Challenges/components/scene/scene.tsx
  client/src/templates/Challenges/components/video-player.tsx
  client/src/templates/Challenges/dialogue/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.css
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/video/show.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#56027 fix(curriculum): typo in Odin Project box-model-lesson-b/c/d
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-lesson-b.md
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-lesson-c.md
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-lesson-d.md
Labels: status: waiting review, scope: curriculum, odin project

#56023 fix(curriculum): learn advanced array methods step 59 delete
  curriculum/challenges/_meta/learn-advanced-array-methods-by-building-a-statistics-calculator/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/635302be760d6031d11a06cd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-advanced-array-methods-by-building-a-statistics-calculator/6374249d3fbf2a5b079ba036.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#56032 fix(curriculum): add empty line in box model assignment section
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-lesson-d.md
Labels: status: waiting review, scope: curriculum, odin project

#56025 refactor(client): remove unused handler code
  client/src/templates/Challenges/utils/python-worker-handler.ts
Labels: status: waiting review, platform: learn

#56036 fix(i18n): wrap semantic elements in <code> tags in intro.json
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#56045 update compliments
  client/i18n/locales/english/motivation.json
Labels: platform: learn, scope: i18n

#56004 feat(curriculum): add inventory management lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-inventory-management-program/index.md
  curriculum/challenges/_meta/lab-inventory-management-program/meta.json
  curriculum/challenges/english/25-front-end-development/lab-inventory-management-program/66d75dd0aa65a71600dc669b.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55167 feat(curriculum): New steps to teach lists
  curriculum/challenges/_meta/learn-lambda-functions-by-building-an-expense-tracker/meta.json
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658212ba98182f3e855e85f9.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65821c1c40ccac44adf38e6b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65821fcc010c3245718f2a06.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65822308ded1ba4632f66aa3.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658225d560369446ece5518b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582267ef39f5047411c1743.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65822773f4c60a479ec89f66.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65822934c8a0454803e3ef12.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65822bd82d708c4895080c35.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823040bdb32949d4c1a96f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582324b5d37fe4b622bc3c0.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582352cbdbcde4d0c4f7b0b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823634a308cb4d6bcc5fa6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658238f7604f154ea9a23e1e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823b0167fd894f4a7ea60a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823bbbdb4eaa4f9d20a0fb.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823cfc74aa564ffc460489.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823dde36392f505a39f7c7.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823e87c9741750a22085a7.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65823ff0d4b991510fade1a8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824111a09164518320088d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658244fdf4b0265334711664.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824561f3478e5371a33ae5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658246c28575d653d1f89b59.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824872894f59546e3084e2.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824a1b16631c54fa524154.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824c7b4e2da85597693dcf.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65824dfdb6815d563b2d3256.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582507654b3ed5712341382.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658252f6b1526d57b103d48a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658254db6e12485a48130f57.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658255d5f955175b270f251d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582575b8089f85b8b92d7c8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/658258c0e5fbe85c14c060cf.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65825a9520a0795c8afbef50.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65825b758fe85a5cebabc8c5.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65825cda2668995d5168e37c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65825e96b5db5f5dee6bf57c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582601b2987045e8e7da994.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582622cb6c11a5f4c5d79b4.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6582687859366a618424d84b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65826a6e9d189a623141c726.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/65826af5b226a5628aa154b1.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/66314f2add0a8b57da5d6d91.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/66694bfa435cef241f6f9a68.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/66694eaaeb7d253049fa7883.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/66694fc4bba24f33ca01fa5b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/666951d2e4b27e3a3c72ca5f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/6669539c1379793f9cb8917c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/666aae6a5d30a71f1fd7749f.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/666ab82c874add3c95145213.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/666ab9013cd5563f2b39947a.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new python course

#56026 feat(curriculum): add nth-fibonacci number generator lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-nth-fibonacci-number-generator/index.md
  curriculum/challenges/_meta/lab-nth-fibonacci-number-generator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-nth-fibonacci-number-generator/66d9af3897e7d75a895b72c2.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55920 fix closing editor panes
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/redux/action-types.js
  client/src/templates/Challenges/redux/actions.js
  client/src/templates/Challenges/redux/index.js
Labels: scope: UI, status: waiting update, platform: learn

#56059 chore: add more placeholders in intro.json
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#55957 feat(curriculum): add rock paper scissors workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-rps-game/index.md
  curriculum/challenges/_meta/workshop-rps-game/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf13fe7619e9a1d57c7b5e.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf315cff4d36b27da828ba.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf33305293e1b35c1aef7f.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf34fcb005e7b447141afd.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf35a75f891ab4f4e5497b.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66cf3639aca119b5c00b02d3.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d05da61ff145d7a46fe41b.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d064c7d79408da050f8b2f.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d068348ca093db469b4d59.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d0746099f6f3de3678fd26.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d076040c7d1cdf36525af9.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d081d79b1d57e1b42caabf.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d085d37aeffce2ef786de3.md
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d8fade439d513e5f77c906.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55886 feat(curriculum): add to-do list lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-stylized-to-do-list/index.md
  curriculum/challenges/_meta/lab-stylized-to-do-list/meta.json
  curriculum/challenges/english/25-front-end-development/lab-stylized-to-do-list/66c051d13a6a20255a963695.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55838 feat(curriculum): add real-time counter lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-real-time-counter/index.md
  curriculum/challenges/_meta/lab-real-time-counter/meta.json
  curriculum/challenges/english/25-front-end-development/lab-real-time-counter/66bb3e20d3dc5b6d0a21f5dd.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56013 feat: script to create projects
  package.json
Labels: status: waiting review

#55955 feat: adding loan qualification checker
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-loan-qualification-checker/index.md
  curriculum/challenges/_meta/workshop-loan-qualification-checker/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba41a77db20a93f9d7a1.md
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba975ee7230e29f6c4ac.md
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba975ee7230e29f6c4ad.md
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba975ee7230e29f6c4af.md
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba975ee7230e29f6c4b0.md
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba975ee7230e29f6c4b1.md
  curriculum/challenges/english/25-front-end-development/workshop-loan-qualification-checker/66c8ba975ee7230e29f6c4b2.md
Labels: scope: curriculum, status: waiting update, platform: learn, scope: i18n, frontend cert

#56024 feat(curriculum): add exercise tracker lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-exercise-tracker/index.md
  curriculum/challenges/_meta/lab-exercise-tracker/meta.json
  curriculum/challenges/english/25-front-end-development/lab-exercise-tracker/5a8b073d06fa14fcfde687aa.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56060 chore(curriculum, tools): move assignment headings out of question
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-lesson-j.md
  curriculum/challenges/english/16-the-odin-project/top-introduction-to-flexbox/introduction-flexbox-lesson-k.md
  curriculum/challenges/english/16-the-odin-project/top-learn-block-and-inline/learn-block-and-inline-lesson-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-lesson-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-lesson-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-lesson-c.md
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
Labels: scope: curriculum, scope: tools/scripts

#56070 fix(i18n): remove typo from To-do list intro
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#55919 fix: update upper jaw view zone when upper jaw height changes
  client/src/templates/Challenges/classic/editor.tsx
Labels: status: waiting review, platform: learn

#55997 fix(client): lower jaw test result announcements
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: status: waiting review, platform: learn

#55860 feat: transform JSX in scripts
  client/src/templates/Challenges/rechallenge/transformers.js
Labels: status: waiting review, platform: learn

#55587 fix(curriculum): test passing with seed code in Decimal to binary converter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/645ca62092c53f29f4ea9bf6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-recursion-by-building-a-decimal-to-binary-converter/6464a6d98c43acecb8a7867b.md
Labels: status: waiting review, scope: curriculum, new javascript course

#56091 fix(i18n) : Periodic Table Database intro fixes
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/13-relational-databases/build-a-periodic-table-database-project/build-a-periodic-table-database.md
Labels: scope: curriculum, platform: learn, scope: i18n

#56043 fix(UI): Resolved discrepancies in solution dropdown text
  client/i18n/locales/english/translations.json
  client/src/components/solution-display-widget/index.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#55918 feat: move session related challenge data to sessionStorage
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/donation-saga.js
  client/src/redux/donation-saga.test.js
  client/src/redux/index.js
  client/src/redux/selectors.js
  client/src/redux/session-completed-challenges.js
  client/src/redux/types.ts
  client/src/utils/session-storage.test.ts
  client/src/utils/session-storage.ts
Labels: status: waiting review, platform: learn

#56090 feat(client): display FED workshop blocks in grid layout
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/curriculum-layout.test.ts
  client/src/utils/curriculum-layout.ts
Labels: platform: learn

#56066 fix(UI): add B1-english icon to superblock
  client/src/assets/icons/b1-english.tsx
  client/src/assets/icons/superblock-icon.tsx
Labels: platform: learn

#56050 chore(curriculum): add url shortener lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-url-shortener-microservice/index.md
  curriculum/challenges/_meta/lab-url-shortener-microservice/meta.json
  curriculum/challenges/english/25-front-end-development/lab-url-shortener-microservice/bd7158d8c443edefaeb5bd0e.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56073 chore(curriculum): add celestial bodies database lab to front-end
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-celestial-bodies-database/index.md
  curriculum/challenges/_meta/lab-celestial-bodies-database/meta.json
  curriculum/challenges/english/25-front-end-development/lab-celestial-bodies-database/5f1a4ef5d5d6b5ab580fc6ae.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56103 fix(curriculum): wrap words in backticks in English course
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657b69e10d6606a0185d4d4f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657dce8ff35869721311a5e3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-conversation-starters-in-the-break-room/657dcee413423174ca3747f5.md
Labels: status: waiting review, scope: curriculum, new english course

#56107 fix(curriculum): update hotel feedback form
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a96127422411756204bc1b.md
Labels: status: waiting review, scope: curriculum

#56062 feat(curriculum): add npm challenges to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-npm-packages/index.md
  curriculum/challenges/_meta/workshop-npm-packages/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb3367417b2b2512bfb.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb3367417b2b2512bfc.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512bfd.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512bfe.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512bff.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb4367417b2b2512c00.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c01.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c02.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c03.md
  curriculum/challenges/english/25-front-end-development/workshop-npm-packages/587d7fb5367417b2b2512c04.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56069 chore(curriculum): add request header parser microservice lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-request-header-parser-microservice/index.md
  curriculum/challenges/_meta/lab-request-header-parser-microservice/meta.json
  curriculum/challenges/english/25-front-end-development/lab-request-header-parser-microservice/bd7158d8c443edefaeb5bdff.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56077 chore(curriculum): add world cup database lab to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-world-cup-database/index.md
  curriculum/challenges/_meta/lab-world-cup-database/meta.json
  curriculum/challenges/english/25-front-end-development/lab-world-cup-database/5f9771307d4d22b9d2b75a94.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56089 fix(curriculum): add number guessing game lab to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-number-guessing-game/index.md
  curriculum/challenges/_meta/lab-number-guessing-game/meta.json
  curriculum/challenges/english/25-front-end-development/lab-number-guessing-game/602da04c22201c65d2a019f4.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56106 fix(curriculum): backtick issues in various files
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660ef0f7c4b8e68ccd1f0786.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6672e579cc11472272ab23e6.md
  curriculum/challenges/english/16-the-odin-project/top-learn-block-and-inline/learn-block-and-inline-lesson-g.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a962954f4e0d76223b37ed.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a972137acd1179fa3fe8a0.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a97ca8c4cbae7d0bb6e0ad.md
Labels: status: waiting review, scope: curriculum

#56092 fix(curriculum): add instruction to include target=_blank attribute in step 64
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0a81099d9a697b550.md
Labels: status: waiting review, scope: curriculum

#56110 fix(curriculum): fix code block ending backticks for translation
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e230500602983e01fff6e.md
Labels: status: waiting review, scope: curriculum

#56084 feat(curriculum): adding mario database workshop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-mario-database/index.md
  curriculum/challenges/_meta/workshop-mario-database/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-mario-database/5f2c289f164c29556da632fd.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55936 fix(client): empty space below codePane after resizing classic layout
  client/src/templates/Challenges/classic/desktop-layout.tsx
Labels: type: bug, status: waiting review, scope: UI, platform: learn

#56118 fix(curriculum): standardize quotations
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9bf80558d780e848b2987.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9c09a7daa4f0ff92c4023.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9c0d0857f0a10a57af936.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9c11a0a090311dff55564.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9c16dd75dd212dc12363c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9c1ef134f3513e751c975.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e3a83bb3e61a80eea564.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e45519caf31b987fbb5f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e4d2ff41811dd640504f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e51b3a007a1eba1cd0f6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e55b4b06c11fff555c64.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e5eea8261d22856ead1c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e63bb1e32d23b6adbe44.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e6b7c0303524af2d0bc2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e769df38c92635c158ba.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e7d5b21eee2776ecc226.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e84c9fe8ca28c4101189.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e8fe3a6f022a05a04675.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9e94e9df7d72aed1c24bd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9ea23dbadbf2c2764e3f5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9ea9b16430f2d54522464.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9eb09bcfaa72e3da820a1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9eb4a5d68f12f32d9b440.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9ebb7b12bca3025b0a935.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9ec044acedf312c4974ff.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9f24afbc9cf324dcaa9a4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9f28bda3e3f336e21b6b4.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9f2bff625af342023512c.md
Labels: status: waiting review, scope: curriculum

#56094 feat(curriculum): add checkout page lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-checkout-page/index.md
  curriculum/challenges/_meta/lab-checkout-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-checkout-page/66da326c02141df538f29ba5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56126 chore(devcontainer): remove the broken setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: status: waiting review

#56083 feat(curriculum): adding boilerplate workshop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-bash-boilerplate/index.md
  curriculum/challenges/_meta/workshop-bash-boilerplate/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-bash-boilerplate/5ea8adfab628f68d805bfc5e.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56087 chore(curriculum): add periodic table database lab to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-periodic-table-database/index.md
  curriculum/challenges/_meta/lab-periodic-table-database/meta.json
  curriculum/challenges/english/25-front-end-development/lab-periodic-table-database/602d9ff222201c65d2a019f2.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56085 chore(curriculum): add salon appointment scheduler to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-salon-appointment-scheduler/index.md
  curriculum/challenges/_meta/lab-salon-appointment-scheduler/meta.json
  curriculum/challenges/english/25-front-end-development/lab-salon-appointment-scheduler/5f87ac112ae598023a42df1a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56056 feat(curriculum): add lightbox lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-lightbox-viewer/index.md
  curriculum/challenges/_meta/lab-lightbox-viewer/meta.json
  curriculum/challenges/english/25-front-end-development/lab-lightbox-viewer/66db57ad34c7089b9b41bfd6.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56116 feat(curriculum): adding kitty ipsum workshop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-kitty-ipsum-translator/index.md
  curriculum/challenges/_meta/workshop-kitty-ipsum-translator/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-kitty-ipsum-translator/602da0de22201c65d2a019f6.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56078 feat: AB test initial donation modal interval
  client/config/growthbook-features-default.json
  client/src/components/growth-book/growth-book-redux-connector.tsx
  client/src/redux/action-types.js
  client/src/redux/actions.js
  client/src/redux/index.js
  client/src/redux/selectors.js
  client/src/utils/random-between.ts
  e2e/donation-modal.spec.ts
  e2e/landing.spec.ts
  e2e/utils/add-growthbook-cookie.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#56128 feat(curriculum): adding bike rental shop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-bike-rental-shop/index.md
  curriculum/challenges/_meta/workshop-bike-rental-shop/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-bike-rental-shop/5f5b969a05380d2179fe6e18.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56096 feat(curriculum): add event flyer lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-event-flyer-page/index.md
  curriculum/challenges/_meta/lab-event-flyer-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-event-flyer-page/66e45c8140f9fda5c105ae26.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56113 feat(curriculum): adding 5 bash programs workshop to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-bash-five-programs/index.md
  curriculum/challenges/_meta/workshop-bash-five-programs/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-bash-five-programs/5f5904ac738bc2fa9efecf5a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56120 test(api): flaky rate-limit test
  api/src/routes/auth.test.ts
Labels: platform: api

#56123 refactor(gitpod): update playwright, add mailhog and other ports
  .github/workflows/docker-ghcr.yml
  .gitpod.yml
  docker/gitpod/Dockerfile
  package.json
  pnpm-lock.yaml
Labels: status: waiting review, scope: tools/scripts

#55273 fix(a11y): improve the second part of the donation modal
  client/src/components/Donation/donation-modal-body.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/Donation/donation-text-components.tsx
  client/src/components/Donation/donation.css
Labels: status: waiting review, platform: learn

#56114 feat(curriculum): adding student database workshops to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-sql-student-database-part-1/index.md
  client/src/pages/learn/front-end-development/workshop-sql-student-database-part-2/index.md
  curriculum/challenges/_meta/workshop-sql-student-database-part-1/meta.json
  curriculum/challenges/_meta/workshop-sql-student-database-part-2/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-sql-student-database-part-1/602da0c222201c65d2a019f5.md
  curriculum/challenges/english/25-front-end-development/workshop-sql-student-database-part-2/618590adb0730ca724e37672.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56133 fix(curriculum): luhn algorithm elaborate string slicing
  curriculum/challenges/english/07-scientific-computing-with-python/learn-how-to-work-with-numbers-and-strings-by-implementing-the-luhn-algorithm/656879c6f35a85a59c06b3a7.md
Labels: scope: curriculum

#56119 fix: inlining code examples in upper jaw
  client/src/components/layouts/global.css
  client/src/templates/Challenges/classic/editor.css
Labels: status: waiting review, platform: learn

#56127 feat(curriculum): adding sql reference object workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/workshop-sql-reference-object/index.md
  curriculum/challenges/_meta/workshop-sql-reference-object/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-sql-reference-object/5fa323cdaf6a73463d590659.md
Labels: scope: curriculum, platform: learn, scope: i18n, status: merge conflict, frontend cert

#56138 feat(curriculum-tests): check that ObjectId filenames match challenge ID
  curriculum/get-challenges.js
Labels: status: waiting review, platform: learn, scope: tools/scripts

#56046 feat(curriculum): add Linked list lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-linked-list-class/index.md
  curriculum/challenges/_meta/lab-linked-list-class/meta.json
  curriculum/challenges/english/25-front-end-development/lab-linked-list-class/66dadcf18df3a76104054d95.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56144 Revert "feat(client): display FED workshop blocks in grid layout (#56090)"
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/curriculum-layout.test.ts
  client/src/utils/curriculum-layout.ts
Labels: platform: learn

#56010 chore(curriculum): add pokemon search lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-pokemon-search-app/index.md
  curriculum/challenges/_meta/lab-pokemon-search-app/meta.json
  curriculum/challenges/english/25-front-end-development/lab-pokemon-search-app/6555c1d3e11a1574434cf8b5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56012 chore(curriculum): add personal portfolio lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-personal-portfolio/index.md
  curriculum/challenges/_meta/lab-personal-portfolio/meta.json
  curriculum/challenges/english/25-front-end-development/lab-personal-portfolio/bd7158d8c242eddfaeb5bd13.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56146 chore(curriculum): update survey form challenge ids
  curriculum/challenges/_meta/lab-survey-form/meta.json
  curriculum/challenges/english/25-front-end-development/lab-survey-form/587d78af367417b2b2512b03.md
Labels: scope: curriculum, scope: i18n, frontend cert

#56142 fix(curriculum): remove extra strip call from equation solver, step 25
  curriculum/challenges/english/07-scientific-computing-with-python/learn-interfaces-by-building-an-equation-solver/663a22ba7420c4d2f7fd2aec.md
Labels: type: bug, status: waiting review, scope: curriculum, new python course

#56132 feat(curriculum):Add new character and audios for B1
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/components/scene/scene-assets.tsx
  curriculum/schema/scene-assets.js
Labels: status: waiting review, scope: curriculum, platform: learn, new english course

#56147 chore(curriculum): update quick sort challenge ids
  curriculum/challenges/_meta/lab-quicksort-algorithm/meta.json
  curriculum/challenges/english/25-front-end-development/lab-quicksort-algorithm/587d825a367417b2b2512c89.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, scope: i18n, frontend cert

#56109 feat(UI): add c1-english icon
  client/src/assets/icons/c1-english.tsx
Labels: status: waiting review, scope: UI, platform: learn

#56136 feat(client): add worker messaging module
  client/src/templates/Challenges/utils/worker-messenger.ts
Labels: platform: learn

#56140 chore: bump @freecodecamp/ui to v1.2.0
  client/package.json
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn, scope: tools/scripts

#56152 feat(curriculum): Add 3 more characters to English Curriculum
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/components/scene/scene-assets.tsx
  curriculum/schema/scene-assets.js
Labels: status: waiting review, scope: curriculum, platform: learn, new english course

#56159 feat: allow TS to be used in challenges
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/utils/__fixtures__/challenges.ts
  client/utils/sort-challengefiles.js
  client/utils/sort-challengefiles.test.js
  tools/challenge-parser/parser/plugins/utils/get-file-visitor.js
Labels: platform: learn, scope: tools/scripts

#56129 chore(curriculum): add football team cards lab to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-football-team-cards/index.md
  curriculum/challenges/_meta/lab-football-team-cards/meta.json
  curriculum/challenges/english/25-front-end-development/lab-football-team-cards/66e7ee20b79186306fc12da5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56155 chore(curriculum): add roman numeral converter lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-roman-numeral-converter/index.md
  curriculum/challenges/_meta/lab-roman-numeral-converter/meta.json
  curriculum/challenges/english/25-front-end-development/lab-roman-numeral-converter/657bdc8ba322aae1eac38390.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56240 fix(curriculum): fix a typo in js course
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/660880e67dfed9eb6adb7178.md
Labels: status: waiting review, scope: curriculum, new javascript course

#56154 feat(curriculum): add technical documentation page lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-technical-documentation-page/index.md
  curriculum/challenges/_meta/lab-technical-documentation-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-technical-documentation-page/587d78b0367417b2b2512b05.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56153 feat(curriculum): add tribute page lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-tribute-page/index.md
  curriculum/challenges/_meta/lab-tribute-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-tribute-page/bd7158d8c442eddfaeb5bd18.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56245 chore(deps): update curriculum-helpers
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: status: waiting review, scope: tools/scripts

#56157 feat(curriculum): add event hub lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-event-hub/index.md
  curriculum/challenges/_meta/lab-event-hub/meta.json
  curriculum/challenges/english/25-front-end-development/lab-event-hub/66ebd4ae2812430bb883c787.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56164 feat(curriculum): add javascript trivia bot lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-javascript-trivia-bot/index.md
  curriculum/challenges/_meta/lab-javascript-trivia-bot/meta.json
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56250 fix(curriculum): update block order in front-end superblock
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/front-end-development-certification-exam/meta.json
  curriculum/challenges/_meta/lab-cash-register/meta.json
  curriculum/challenges/_meta/lab-celestial-bodies-database/meta.json
  curriculum/challenges/_meta/lab-exercise-tracker/meta.json
  curriculum/challenges/_meta/lab-linked-list-class/meta.json
  curriculum/challenges/_meta/lab-nth-fibonacci-number-generator/meta.json
  curriculum/challenges/_meta/lab-number-guessing-game/meta.json
  curriculum/challenges/_meta/lab-periodic-table-database/meta.json
  curriculum/challenges/_meta/lab-pokemon-search-app/meta.json
  curriculum/challenges/_meta/lab-quicksort-algorithm/meta.json
  curriculum/challenges/_meta/lab-random-background-color-changer/meta.json
  curriculum/challenges/_meta/lab-request-header-parser-microservice/meta.json
  curriculum/challenges/_meta/lab-roman-numeral-converter/meta.json
  curriculum/challenges/_meta/lab-salon-appointment-scheduler/meta.json
  curriculum/challenges/_meta/lab-url-shortener-microservice/meta.json
  curriculum/challenges/_meta/lab-world-cup-database/meta.json
  curriculum/challenges/_meta/workshop-bash-boilerplate/meta.json
  curriculum/challenges/_meta/workshop-bike-rental-shop/meta.json
  curriculum/challenges/_meta/workshop-castle/meta.json
  curriculum/challenges/_meta/workshop-kitty-ipsum-translator/meta.json
  curriculum/challenges/_meta/workshop-mario-database/meta.json
  curriculum/challenges/_meta/workshop-npm-packages/meta.json
  curriculum/challenges/_meta/workshop-sql-reference-object/meta.json
  curriculum/challenges/_meta/workshop-sql-student-database-part-1/meta.json
  curriculum/challenges/_meta/workshop-sql-student-database-part-2/meta.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55988 feat(curriculum): add house painting lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-house-painting/index.md
  curriculum/challenges/_meta/lab-house-painting/meta.json
  curriculum/challenges/english/25-front-end-development/lab-house-painting/66d6a7a3e1aa411e94bf2346.md
Labels: scope: curriculum, platform: learn, scope: i18n, frontend cert

#56261 fix(client): donation alert text color
  client/src/components/layouts/global.css
Labels: platform: learn

#56011 chore(curriculum): add product landing page lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-product-landing-page/index.md
  curriculum/challenges/_meta/lab-product-landing-page/meta.json
  curriculum/challenges/english/25-front-end-development/lab-product-landing-page/587d78af367417b2b2512b04.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56268 fix(curriculum): replace cash register id with existing id
  curriculum/challenges/_meta/lab-cash-register/meta.json
  curriculum/challenges/english/25-front-end-development/lab-cash-register/aa2e6f85cab2ab736c9a9b24.md
Labels: status: waiting review, scope: curriculum, scope: i18n, frontend cert

#55781 fix(client): change claim cert link to render as a button
  client/src/components/settings/certification.tsx
  e2e/academic-honesty.spec.ts
  e2e/projects.spec.ts
  e2e/settings.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#56269 fix(curriculum): rename block in intro.json
  client/i18n/locales/english/intro.json
Labels: type: bug, status: waiting review, platform: learn, scope: i18n

#55885 feat(curriculum): add favourite icon toggler lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-favorite-icon-toggler/index.md
  curriculum/challenges/_meta/lab-favorite-icon-toggler/meta.json
  curriculum/challenges/english/25-front-end-development/lab-favorite-icon-toggler/66bf6bacf178eac7b96d4f5e.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56014 feat(curriculum): add stack class lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-stack-class/index.md
  curriculum/challenges/_meta/lab-stack-class/meta.json
  curriculum/challenges/english/25-front-end-development/lab-stack-class/587d8250367417b2b2512c5f.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56145 chore(curriculum): add palindrome checker to frontend cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-palindrome-checker/index.md
  curriculum/challenges/_meta/lab-palindrome-checker/meta.json
  curriculum/challenges/english/25-front-end-development/lab-palindrome-checker/657bdc55a322aae1eac3838f.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56262 fix(curriculum): remove CSS block to match next step
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6143931a113bb80c45546287.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614394fb41985e0d2012a93e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6143956ed76ed60e012faa51.md
Labels: status: waiting review, scope: curriculum

#56274 fix(curriculum): Add missing quote in Python list example
  curriculum/challenges/english/07-scientific-computing-with-python/learn-lambda-functions-by-building-an-expense-tracker/66694bfa435cef241f6f9a68.md
Labels: status: waiting review, scope: curriculum

#56278 fix(tools): broken import
  tools/challenge-parser/parser/plugins/add-quizzes.js
Labels: status: waiting review, scope: tools/scripts

#55751 refactor(client): data sourcing for super-block-intro
  client/src/templates/Introduction/components/block.test.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/super-block-intro.tsx
Labels: status: waiting review, platform: learn

#56282 refactor: create and use all-section parser
  tools/challenge-parser/parser/plugins/add-assignment.js
  tools/challenge-parser/parser/plugins/add-fill-in-the-blank.js
  tools/challenge-parser/parser/plugins/add-quizzes.js
  tools/challenge-parser/parser/plugins/add-scene.js
  tools/challenge-parser/parser/plugins/add-seed.js
  tools/challenge-parser/parser/plugins/add-solution.js
  tools/challenge-parser/parser/plugins/add-tests.js
  tools/challenge-parser/parser/plugins/add-text.js
  tools/challenge-parser/parser/plugins/add-video-question.js
  tools/challenge-parser/parser/plugins/utils/find-all.js
  tools/challenge-parser/parser/plugins/utils/find-all.test.js
  tools/challenge-parser/parser/plugins/utils/get-section.js
  tools/challenge-parser/parser/plugins/utils/get-section.test.js
Labels: status: waiting review, scope: tools/scripts

#56279 chore(curriculum): add telephone number validator lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-telephone-number-validator/index.md
  curriculum/challenges/_meta/lab-telephone-number-validator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-telephone-number-validator/657bdcb9a322aae1eac38391.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56291 fix(curriculum): Add the accurate answer option
  curriculum/challenges/english/25-front-end-development/quiz-basic-html/66df3b712c41c499e9d31e5b.md
Labels: status: waiting review, scope: curriculum

#56293 fix(curriculum): typo in HTML quiz
  curriculum/challenges/english/25-front-end-development/quiz-basic-html/66df3b712c41c499e9d31e5b.md
Labels: status: waiting review, scope: curriculum

#56251 feat(curriculum): add quiz game lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-quiz-game/index.md
  curriculum/challenges/_meta/lab-quiz-game/meta.json
  curriculum/challenges/english/25-front-end-development/lab-quiz-game/66f17db06803d11a1bd19a20.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56296 fix(curriculum): typo error on css file
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3cade99dda4e6071a85dfd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e01f288a026d709587.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e03d719d5ac4738993.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e04559b939080db057.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e050279c7a4a7101d3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e05473f91f948724ab.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e056bdde6ae6892ba2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e06d34faac0447fc44.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e07276f782bb46b93d.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0819d4f23ca7285e6.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e087d56ed3ffdc36be.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0a81099d9a697b550.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0b431cc215bb16f55.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0e0c3feaebcf647ad.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0e9629bad967cd71e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0eaa7da26e3d34d78.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0f8c230bdd2349716.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3f26fa39591db45e5cd7a0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f459225127805351a6ad057.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f459a7ceb8b5c446656d88b.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f459cf202c2a3472fae6a9f.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f459fd48bdc98491ca6d1a3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45a05977e2fa49d9119437.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45a276c093334f0f6e9df4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45a5a7c49a8251f0bdb527.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45a66d4a2b0453301e5a26.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b0731d39e15d54df4dfc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b25e7ec2405f166b9de1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b3c93c027860d9298dbd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b45d099f3e621fbbb256.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b4c81cea7763550e40df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f45b715301bbf667badc04a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e270702a8456a664f0df.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e36e745ead58487aabf2.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e7a4750dd05b5a673920.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46e8284aae155c83015dee.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46ede1ff8fec5ba656b44c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f46fc57528aa1c4b5ea7c2e.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f4701b942c824109626c3d8.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f475bb508746c16c9431d42.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f716ad029ee4053c7027a7a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f716bee5838c354c728a7c5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f7b87422a560036fd03ccff.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f7b88d37b1f98386f04edc0.md
Labels: scope: curriculum

#56244 chore: update Knip to v5
  api-server/package.json
  api/__mocks__/exam.ts
  api/jest.utils.ts
  api/src/app.ts
  api/src/utils/env.ts
  api/src/utils/exam-types.ts
  api/src/utils/exam.ts
  client/package.json
  client/src/components/Donation/donation-text-components.tsx
  client/src/components/helpers/button-link.tsx
  client/src/components/profile/components/utils/utils.ts
  client/src/components/share/use-share.tsx
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  client/src/utils/math-jax.ts
  client/utils/gatsby/index.js
  curriculum/package.json
  knip.jsonc
  package.json
  pnpm-lock.yaml
  sample.env
  shared/utils/polyvinyl.js
  tools/challenge-editor/client/package.json
  tools/challenge-editor/client/src/setup-tests.ts
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
  tools/challenge-parser/parser/plugins/add-ids.js
  tools/client-plugins/browser-scripts/package.json
  tools/scripts/seed-exams/package.json
  tools/scripts/seed/package.json
  tools/scripts/seed/user-data.js
Labels: platform: api, platform: learn, scope: tools/scripts

#56068 feat(curriculum): add bookmark manager lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-bookmark-manager-app/index.md
  curriculum/challenges/_meta/lab-bookmark-manager-app/meta.json
  curriculum/challenges/english/25-front-end-development/lab-bookmark-manager-app/66def5467aee701733aaf8cc.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#55564 fix(curriculum): always passing tests in Pyramid generator
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660ef5105b8ba095307a0e50.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660ef55dd468079679ee0092.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f0ee51d7460ce88cd248d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f487dc0c8fa38084f9754.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4a1472f8e63d76162ce5.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4cde8dd305450514a1cb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f53ad3d39175c5d4335ac.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c6541c82551f95e765ab.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55715 fix(curriculum): ensure complete removal of myTaskArr and related loc…
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff24b80431f62ec6b93f65.md
Labels: status: waiting review, scope: curriculum

#56299 fix: remove comma from "Hi, Tom" text in example and closed captions
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656a2a7b05241026c429e3f0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656a2b1c7216c026fcd156c7.md
Labels: scope: curriculum

#56305 fix(client): lab preview modal text
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/show.tsx
Labels: platform: learn, scope: i18n

#56272 feat(curriculum): add pyramid generator lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-pyramid-generator/index.md
  curriculum/challenges/_meta/lab-pyramid-generator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-pyramid-generator/66f2836c459cfb16ae76f24f.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56317 fix(curriculum): cat photo app workshop update step 1
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66731cd027ef3acb155669f5.md
Labels: status: waiting review, scope: curriculum

#56319 fix(curriculum): cat photo app workshop step 3 and step 4
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690b9a24f5b0f1300040c76.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690ba16cf76f613b4e36197.md
Labels: status: waiting review, scope: curriculum

#56320 fix(curriculum): cat photo app workshop step 5 to 7
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690bb0b4062b114997f708a.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690bd5ad96139157eedf697.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690be42942f421648b119eb.md
Labels: status: waiting review, scope: curriculum

#56318 fix(curriculum): cat photo app workshop update step 2
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6690b9626a66f51257ae5a91.md
Labels: status: waiting review, scope: curriculum

#56340 fix(curriculum): cat photo app step 36 to 40
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984eef66cc1752d93b53f5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984fe8efbd8c53a78c9b62.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66985068aeb06e54562df39e.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669850ce0ccf395511ff4254.md
Labels: status: waiting review, scope: curriculum

#56322 fix(curriculum): cat photo app workshop step 11-15
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669840900adeba35e4ebb917.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669840c70aea8936930dba35.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698410269ace0373ec812b6.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698417821794837f14ca275.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698419d8f52cf3891f34853.md
Labels: status: waiting review, scope: curriculum

#56323 fix(curriculum): cat photo app workshop step 16-20
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984218720e29393b1adad2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698429ba5761b39f8aad814.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669842cee55b683aa13ee758.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669842f261665d3b4a42df81.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984330a510e63bf0787898.md
Labels: status: waiting review, scope: curriculum

#56349 fix(curriculum): replace placeholder link with actual cdn link
  curriculum/challenges/english/25-front-end-development/lab-recipe-page/668f08ea07b99b1f4a91acab.md
Labels: status: waiting review, scope: curriculum

#56338 fix(curriculum): cat photo app step 26 to 30
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698458e123b4f403936994d.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669845af34899240d9196258.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984881117baa41da8bbde0.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/669848cd668e7242872f4861.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984905e95af5432faa28b1.md
Labels: status: waiting review, scope: curriculum

#56337 fix(curriculum): cat photo app step 21 to 25
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698440c54c8823cc60af8bc.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698444102ebd53d78cf66f8.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984484deb84b3e21e5b3d7.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984535d474083eec6bb8da.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698457295f6403fa49050b8.md
Labels: status: waiting review, scope: curriculum

#56339 fix(curriculum): cat photo app step 31 to 35
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698491eff5f2e43c20c6503.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/6698496716e821448ba724a6.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984e0cb4febb50c3794edf.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984e8ab54bee517207be42.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/66984ec64a3652522e81c678.md
Labels: status: waiting review, scope: curriculum

#56342 feat(curriculum): add changes to the helper script for multiple-choice questions
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
Labels: status: waiting review, scope: tools/scripts

#56328 refactor: use fastify/rate-limit, drop express
  api/package.json
  api/src/app.ts
  api/src/routes/auth.test.ts
  api/src/routes/auth.ts
  pnpm-lock.yaml
Labels: platform: api

#56363 fix(curriculum): fixing syntax error
  curriculum/challenges/english/16-the-odin-project/top-learn-variables-and-operators/learn-variables-and-operators-lesson-i.md
Labels: status: waiting review, scope: curriculum

#56364 fix(client): render hint for failed test (not console logs) in editor
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: learn

#56358 chore(curriculum): add timestamp microservice lab to cert
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-timestamp-microservice/index.md
  curriculum/challenges/_meta/lab-timestamp-microservice/meta.json
  curriculum/challenges/english/25-front-end-development/lab-timestamp-microservice/bd7158d8c443edefaeb5bdef.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert

#56361 chore(curriculum): add file metadata microservice lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/front-end-development/lab-file-metadata-microservice/index.md
  curriculum/challenges/_meta/lab-file-metadata-microservice/meta.json
  curriculum/challenges/english/25-front-end-development/lab-file-metadata-microservice/bd7158d8c443edefaeb5bd0f.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, frontend cert
