Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2024-06, with the labels that each got.

#55062 fix(curriculum): move backtick in step 74
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/6555de565387a2efe90a6ccc.md
Labels: scope: curriculum

#55057 fix(client): Removed margin from completion indicators
  client/src/components/profile/components/camper.css
  client/src/components/profile/components/camper.tsx
  client/src/templates/Introduction/components/challenges.tsx
Labels: status: waiting review, platform: learn

#54921 feat(api): finish update-my-email endpoint
  api/src/plugins/code-flow-auth.test.ts
  api/src/plugins/code-flow-auth.ts
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas/settings/update-my-email.ts
  api/src/utils/tokens.test.ts
  api/src/utils/tokens.ts
Labels: status: waiting review, platform: api

#54855 feat: convert academic honstey tests to Playwright
  client/src/components/settings/certification.tsx
  cypress/e2e/default/settings/certifications.ts
  e2e/academic-honesty.spec.ts
  e2e/settings.spec.ts
Labels: platform: learn, scope: tools/scripts, status: merge conflict

#53729 feat(tools): automatically lowercase directories
  .github/workflows/crowdin-download.client-ui.yml
  .github/workflows/crowdin-download.curriculum.yml
Labels: status: waiting review, scope: tools/scripts

#54248 fix(a11y): disabled button color contrast
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: learn

#54965 feat: Convert "Certifications" spec to Playwright
  client/src/components/profile/components/certifications.tsx
  client/src/components/settings/username.tsx
  cypress/e2e/default/user/certifications.ts
  e2e/cert-username-case-navigation.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55044 chore(client): remove unused project-link css classes
  client/src/components/layouts/project-links.css
Labels: status: waiting review, platform: learn

#55034 feat: convert navbar test to Playwright
  cypress/e2e/default/learn/common-components/navbar.ts
  e2e/header.spec.ts
Labels: status: waiting review, scope: tools/scripts

#55073 fix: initialize tests on challenge mount
  client/src/templates/Challenges/codeally/show.tsx
  client/src/templates/Challenges/dialogue/show.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/ms-trophy/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  client/src/templates/Challenges/projects/frontend/show.tsx
  client/src/templates/Challenges/video/show.tsx
Labels: platform: learn

#55051 fix(UI): avoid overlapping the progression lines
  client/src/components/Map/map.css
Labels: status: waiting review, platform: learn

#55035 test: migrate email-change to playwright
  client/src/components/settings/email.tsx
  cypress/e2e/default/settings/email-change.ts
  e2e/email-settings.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55075 chore(ui): removed unused default-avatar classes
  client/src/assets/icons/default-avatar.tsx
  client/src/components/helpers/avatar-renderer.tsx
  client/src/components/profile/__snapshots__/profile.test.tsx.snap
Labels: platform: learn

#54920 fix(curriculum): separate unreachable code and scope for pyramid project
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c6541c82551f95e765ab.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c71600966a2191d3a64a.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c77d50636722e5b6be17.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c83b52583e245a079217.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55070 chore(client): remove redundant `border-color` rule from donation.css
  client/src/components/Donation/donation.css
Labels: status: waiting review, platform: learn

#55071 chore: delete web directory and curriculum server
  .eslintignore
  .eslintrc.json
  .github/workflows/node.js-tests.yml
  .prettierignore
  curriculum-server/.gitignore
  curriculum-server/package.json
  curriculum-server/source-curriculum.ts
  curriculum-server/tsconfig.json
  web/.gitignore
  web/README.md
  web/next-env.d.ts
  web/package.json
  web/src/data-fetching/get-curriculum.ts
  web/src/page-templates/challenge.tsx
  web/src/page-templates/superblock.tsx
  web/src/pages/learn/[...id].tsx
  web/src/pages/learn/[superblock]/[blockOrId].tsx
  web/src/pages/learn/[superblock]/[blockOrId]/[dashedName]/[id].tsx
  web/tsconfig.json
Labels: status: waiting review, scope: tools/scripts

#55082 fix(curriculum): typo - changed "occurrence" to "occurrences"
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-regular-expressions-by-building-a-spam-filter/642208bc4d44701c6fd6f65e.md
Labels: scope: curriculum

#54946 feat: convert c-sharp exam tests to Playwright
  client/src/templates/Challenges/exam/components/foundational-c-sharp-survey-alert.tsx
  cypress/e2e/default/learn/challenges/c-sharp-exam.ts
  e2e/exam-survey.spec.ts
  tools/scripts/seed/seed-demo-user.js
  tools/scripts/seed/seed-surveys.js
  tools/scripts/seed/user-data.js
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55092 fix(client): scicompy links to new projects
  client/config/cert-and-project-map.ts
Labels: platform: learn

#55088 fix(curriculum): less strict sudoku step 74
  curriculum/challenges/english/07-scientific-computing-with-python/learn-classes-and-objects-by-building-a-sudoku-solver/660ac44c7eec868220318297.md
Labels: status: waiting review, scope: curriculum

#55080 build: remove all node_modules when cleaning
  package.json
Labels: status: waiting review, scope: tools/scripts

#54994 feat: convert "mutlifile cert projects" spec to Playwright
  cypress/e2e/default/learn/challenges/multifile-cert-project.ts
  e2e/multifile-cert-projects.spec.ts
Labels: status: waiting review, scope: tools/scripts

#55031 feat: convert all redirect tests to Playwright
  .github/workflows/temporary-container-checks.yml
  cypress/e2e/default/learn/redirects/es6-to-basic-javascript.ts
  cypress/e2e/default/learn/redirects/heading-challenge.ts
  cypress/e2e/default/legacy/redirects/challenges.ts
  e2e/redirect.spec.ts
Labels: status: waiting review, scope: tools/scripts

#55089 fix(curriculum): spacing after periods
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a505171c360103cf718f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-your-morning-or-evening-routine/655a52d92a586612be333b16.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-a-typical-workday-and-tasks/657e44fe476035667aab9114.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-introductions-in-an-online-team-meeting/657e4e3b02a2128049c344c8.md
Labels: status: waiting review, scope: curriculum, new english course

#54990 fix(client): hover styles for focused button
  client/src/components/layouts/global.css
Labels: platform: learn, status: merge conflict

#54819 fix(curriculum): limit hardcoding roman numerals
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-roman-numeral-converter-project/build-a-roman-numeral-converter.md
Labels: status: waiting review, scope: curriculum

#55013 fix(curriculum): underscores in python for everybody challenge
  curriculum/challenges/english/23-python-for-everybody/python-for-everybody/visualizing-data-with-python.md
Labels: status: waiting review, scope: curriculum

#54761 feat: convert failed updates test to Playwright
  cypress/e2e/default/learn/challenges/failed-updates.ts
  e2e/failed-updates.spec.ts
Labels: scope: tools/scripts

#55102 fix: remove temporary container Cypress run
  .github/workflows/temporary-container-checks.yml
Labels: scope: tools/scripts

#54409 feat: Arrays and Loops The Odin Project
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-learn-arrays-and-loops/meta.json
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-arrays-and-loops/learn-arrays-and-loops-question-h.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#55101 fix(client): add padding to the user token section
  client/src/components/settings/user-token.tsx
  e2e/user-token.spec.ts
Labels: platform: learn, scope: tools/scripts

#55095 fix(curriculum): combine step 150 and step 151 in js beta build a RPG
  curriculum/challenges/_meta/learn-basic-javascript-by-building-a-role-playing-game/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa1fed3d4e873366ff3131.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa204c1e1d33348ff09944.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa20e9cf1be9358f5aceae.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2136fc49b836dfedb959.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa21971e3b743844849985.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa21ea8d9d9f396b95dd87.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa226207f33d3ad4c6f546.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa22aba186563bcbf2c395.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa234322d4ad3e8bce42cc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2469c77b363fdb4f0e06.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa252c3b1073415ba2b898.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa258da314ef42ba0a1858.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa25fcb5837d43b4d9873d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2626c3c10244b94c787b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa264d23cdaa45a20efada.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa26cca3cd3d46c431e73b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa27227399d647e1c37a3c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa27560def7048d7b4a095.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa27c40ca6f04ab8be5fac.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa28fb651bf14efa2dbb16.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2943669c9d5026af6985.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2999ec27ec516655eba6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa29d8f8f88152c91350ca.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2aec2f09d454253aad6c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2ba9cd881355a6f0a5a8.md
Labels: scope: curriculum, scope: i18n

#54561 Collapse example code blocks in challenge descriptions
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/utils/index.ts
Labels: status: waiting review, scope: UI, platform: learn

#55008 feat(curriculum): add animations to block 5.2 of the English Curriculum
  curriculum/challenges/_meta/learn-how-to-use-code-related-concepts-and-terms/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630b37556424464ba0f984e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630b49ade31b06586863453.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630b56594405466378bbfbb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630b687daf7dd66a730a0be.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630bb08c02b626826c937ae.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630bc7702367d68c7679dba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630bd815e1b146937422948.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630bf29b2e38669e3c15823.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6630e609d81a446cd663c521.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663246e8f661af779398be0e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66324c110747c079691211a1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66324d85e67a5c7a072a5b4d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66324f956a24867b039d95c4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663253fdb77eab7c9f3bbd16.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66325752419d337dc13ffd83.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6632fd7b0b9f8087ff8aa3ba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6632fe1b6548f7887488a767.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633008b3377e5894cf71629.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663301c3812e2e89c08dcc31.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633032bf786ff8a61b0c482.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66330444cf1ea28af44e980d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663308af5363be8c4a5c68b9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66330dac56ad868d51d5698c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66330fc6d2e3c38e148c8789.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66331263a35e868f3dade3de.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66331384245d028fd8b1be23.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663315286b7cff907e92ae25.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663316fdcce39d9144ae40cd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633203e58595e93ef54ba3b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633261bb572f2953f5abd13.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66334fd916a3a697e1d2c631.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663350023c7cb898358af702.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633511c7b197798ad5fd703.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663352b4860f03995736b6cd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663354f60aafd69a4c0138da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66339d408258519c61151a64.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66339e21256f099cd722292f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66339f1995bdea9d4aa28cd8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a14f17a4669e1c980d91.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a2a86218659eb77fb9a1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a45ce837ac9f95394eab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a64567c725a05a94b68f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a97f928771a163b59745.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633aa9cf90591a1f63a431e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633abfc050e82a29a76dd42.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633ad387b6914a3313339b3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633ae85f1fb7aa3ca13234d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/665632c4ace6cb00ab832023.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#55058 feat(curriculum): add animations to block 5.3 of the English Curriculum
  curriculum/challenges/_meta/learn-how-to-discuss-tech-trends-and-updates/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635c3e30e02d224d4450eac.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635f9203e0ed42948db1e4c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635fc67f6d0f82ad629e71d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6635fdc8fdd98f2b56c3bcf8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663601a777cfc92cbaf8cb7c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66360374d980d82d3cccddf7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663604ab610a932dc9882194.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663606cc695a992e81ef521d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663608aa63d5b72f475b7718.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663609d95c99422fce1d3824.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66360b4ec92e49305fec41ce.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66360c141117e030da0c0cb3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636159376b91532f4f8e49b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66361836f505f333d344da43.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66361ad945006834b7eb7ccd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66361c43829cea3535e7a49a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663620974eb4a0369d76b6b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663621cf8781e93738b3e30f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66362350df72dc37d8c9ca40.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636242c12c019384fd78b5a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636263059a6703a80ee06aa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663626ee2c3a803af8cc2fd6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66362781eb0d663b5eabc353.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636285e6fcb733bdffaa986.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636ebb50b24c83f130344f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636ee901c0de13ff4f02edc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f20df76124410fe597e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f36bfde85f41809044c9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f47542d2a4421a433d8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f652561a9842e74b032a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f834a7b32443a43fa4e0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f90f25a10b442185e3b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638478a5f79414a5126bca3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384b3e267aef4c6daf5279.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384d37bfbd344d5c647fbd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384eb6677d974e02af573b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638510e8311f74fec51b839.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663855865f5d53510f9cd9a5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663856f8cf403151ac9d9e8a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663897f00196a953f16499c6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638994f7dbcb3548e458202.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389a37bc8a4b5539eab451.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389c04cffc4f55e6e0f798.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389e09cec2fa569567b15a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389ee34417c057109ed5f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a163d5757f57e5270598.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a290bc4a5458dd6ebf07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a5aaf619a15a1c5cfe6f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a7713695f25abd3f3c02.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a9a5dee1ac5b6a9db7d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638aa72831d185bdac55c12.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638abe5e8d43a5c7ed9d320.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/666339cedcfb436e2c9fd550.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/666339dd9d6dc46efa85c8cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614abad2657585c6229fb4a.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new english course

#55112 fix(client): handle pyodide crashing
  tools/client-plugins/browser-scripts/python-worker.ts
Labels: scope: tools/scripts

#55119 fix(curriculums): Changed wording in description and hints for clarity
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f359af3e32e0f1a6880b7.md
Labels: scope: curriculum

#55129 feat(curriculum): set parts 5 and 6 of the English curriculum live
  client/i18n/locales/english/intro.json
  client/src/pages/learn/a2-english-for-developers/learn-how-to-ask-for-clarification-on-code-understanding/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-share-your-progress-in-weekly-stand-up-meetings/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/index.md
  curriculum/challenges/_meta/learn-how-to-ask-for-clarification-on-code-understanding/meta.json
  curriculum/challenges/_meta/learn-how-to-discuss-tech-trends-and-updates/meta.json
  curriculum/challenges/_meta/learn-how-to-help-a-coworker-troubleshoot-on-github/meta.json
  curriculum/challenges/_meta/learn-how-to-share-your-progress-in-weekly-stand-up-meetings/meta.json
  curriculum/challenges/_meta/learn-how-to-use-basic-programming-vocabulary-in-conversations/meta.json
  curriculum/challenges/_meta/learn-how-to-use-code-related-concepts-and-terms/meta.json
Labels: scope: curriculum, platform: learn, scope: i18n, new english course

#55140 chore: link in PR template follows new path
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: waiting review, scope: tools/scripts

#55147 fix(curriculum): correct typo in Building a Cipher step 87
  curriculum/challenges/english/07-scientific-computing-with-python/learn-string-manipulation-by-building-a-cipher/6555db4a7b788e15795674e5.md
Labels: scope: curriculum

#55134 fix (curriculum): remove code block for translation purpose
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64fefebad99209211ec30537.md
Labels: status: waiting review, scope: curriculum, scope: i18n, new javascript course

#55109 test(e2e): refactor search.spec.ts
  e2e/search-bar-optimized.spec.ts
  e2e/search.spec.ts
Labels: scope: tools/scripts

#55149 fix(curriculum): Add assertion tests for button click event and changeBackgroundColor function
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/66326913b729e16dd0127a36.md
Labels: status: waiting review, scope: curriculum, new javascript course

#54729 feat(api): api/users/get-public-profile
  api/src/app.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schema.test.ts
  api/src/schemas.ts
  api/src/schemas/api/users/get-public-profile.ts
  api/src/schemas/challenge/modern-challenge-completed.ts
  api/src/schemas/challenge/save-challenge.ts
  api/src/schemas/types.ts
  api/src/schemas/user/get-session-user.ts
  api/src/utils/normalize.ts
  api/src/utils/progress.ts
Labels: status: waiting review, platform: api

#55153 fix(curriculum): update instruction note phrasing
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660ef0f7c4b8e68ccd1f0786.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55120 fix(curriculum): fix findIndex issue in JS Todo step 11
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64e4eec13546c06d61a63d59.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55156 fix(tools): remove not allowed property
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/helpers/project-metadata.ts
Labels: type: bug, scope: tools/scripts

#54953 fix(api): unsubscribe all subscribed emails
  api/src/routes/email-subscription.test.ts
  api/src/routes/email-subscription.ts
Labels: status: waiting review, platform: api

#55152 fix(curriculum): improved reference phrasing for listed js methods
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#54839 feat(curriculum): add Projectile Trajectory project to SciComPy
  client/i18n/locales/english/intro.json
  client/src/pages/learn/scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/index.md
  curriculum/challenges/_meta/build-a-probability-calculator-project/meta.json
  curriculum/challenges/_meta/learn-encapsulation-by-building-a-projectile-trajectory-calculator/meta.json
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/65f569725359e10d345bc52a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/65fd4b3bedee044b4b957d33.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/65fd4bd84561a14d3e720061.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/660400f02cf3a76795b82d4e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/660fcf3e1b9bb056b2edb567.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6616ec0bf9ee8548ce6b0f08.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/662f9f65c50bd21d05ffdee9.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/662fa453ec8033322b3ab2e3.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/662fc35902038376c7a00b3c.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66335223f3e2a31d62d84367.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/663353465bfb14259717da93.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6633b26c4f2d603072ef0818.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6633b4d3271d5b3aea1c1195.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6633bdc3ca38c068c3735984.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6633bfcef57e1d70cc3142c6.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6633c06601c081735063b528.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/6634fa2417d7194b0c9425f9.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66475bab40e5125c84b03337.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66475d40dd42fb614f14fd03.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66475e40f3891c645d50135e.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66475f7b91d7c6681987739d.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/665d949e628d9f3fe305b6e8.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66601c3c460ee12fbd669d6a.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-encapsulation-by-building-a-projectile-trajectory-calculator/66671a41b55e531d08ab82b5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new python course

#54875 feat(api): GET /api/users/exists
  api/src/routes/helpers/is-restricted.ts
  api/src/routes/settings.ts
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  api/src/schemas.ts
  api/src/schemas/api/users/exists.ts
Labels: status: waiting review, platform: api

#55162 fix(curriculum): Step 103 Pyramid Generator Text
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f4e74f7fd3f4a99ac2e50.md
Labels: scope: curriculum, status: waiting update, new javascript course

#55068 chore(client): remove bootstrap.min.css
  client/package.json
  client/serve/serve.json
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/Donation/donate-completion.tsx
  client/src/components/Donation/donation-modal-body.tsx
  client/src/components/Donation/donation.css
  client/src/components/Donation/stripe-card-form.tsx
  client/src/components/Footer/footer.css
  client/src/components/Intro/learn-alert.tsx
  client/src/components/helpers/form/__snapshots__/block-save-button.test.tsx.snap
  client/src/components/landing/landing.css
  client/src/components/layouts/default.tsx
  client/src/components/layouts/global.css
  client/src/components/profile/components/portfolio-projects.css
  client/src/components/search/searchBar/searchbar.css
  client/src/components/settings/__snapshots__/honesty.test.tsx.snap
  client/src/components/settings/certification.tsx
  client/src/components/settings/danger-zone.tsx
  client/src/components/settings/scrollbar-width.css
  client/src/components/settings/toggle-setting.css
  client/src/components/solution-display-widget/index.tsx
  client/src/pages/blocked.tsx
  client/src/pages/certification.css
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/bread-crumb.tsx
  client/src/templates/Challenges/components/completion-modal.css
  client/src/templates/Challenges/components/completion-modal.tsx
  client/src/templates/Challenges/exam/components/exam-results.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  client/src/templates/Introduction/intro.css
  client/static/css/bootstrap.min.css
  client/utils/tags.tsx
  pnpm-lock.yaml
Labels: platform: learn

#55150 feat: prevent dialogs appearing when users run tests
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: learn

#55171 feat(api): send message to Sentry if duplicate accounts
  api/src/routes/helpers/auth-helpers.test.ts
  api/src/routes/helpers/auth-helpers.ts
Labels: platform: api

#55186 chore: remove duplicated build steps
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#55193 fix(node): set memory to 8 GiB for tests
  .github/workflows/curriculum-i18n.yml
  .github/workflows/node.js-tests.yml
  client/package.json
  package.json
Labels: platform: learn, scope: tools/scripts

#55166 test: check reporting user sends an email
  .github/workflows/e2e-playwright.yml
  api/src/routes/user.test.ts
  api/src/routes/user.ts
  e2e/report-user.spec.ts
  e2e/utils/mailhog.ts
Labels: status: waiting review, platform: api, scope: tools/scripts

#54646 fix(curriculum): quality assurance test query id
  curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md
Labels: status: waiting review, scope: curriculum

#54668 fix: update stripe wallets to use payment intent
  api-server/src/server/boot/donate.js
  api-server/src/server/middlewares/csurf.js
  api-server/src/server/middlewares/request-authorization.js
  api-server/src/server/utils/donation.js
  api-server/src/server/utils/stripeHelpers.js
  client/i18n/locales/english/translations.json
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/types.ts
  client/src/components/Donation/wallets-button.tsx
  client/src/utils/ajax.ts
  shared/config/donation-settings.ts
Labels: status: waiting review, platform: api, platform: learn, scope: i18n

#54769 chore(curriculum): add tests for globals in cash register
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-cash-register-project/build-a-cash-register.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55202 feat(curriculum): add animations to block 8.3 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661750f15f41cc866197183d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617513e3855718810b088d0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617528c1b07688acdfea4e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661752fbc765ec8c13f96616.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66175386c145ea8d96b0adf9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617562f72eb2a9387252430.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617569f81323494d7c80fa4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661757150c7a75961a574a39.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66175792ec93b19771c55c62.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661757e285095e986fed9c27.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66177150856cd6d0ca504c9f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661771a11af289d1ec5c72f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661772551b64ddd40c834b1e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661772f42e1412d5bfe4c655.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617962704224fe969a76811.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661796e4635cd3eb1c8c78a4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661797b505f2d3ed4b170d74.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66179829f664e3ee9b42ce5f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617994636fa13f16060b12b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617aea9ccdd68f7088368d1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617af3ab73475f87b53a59d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617afa03e1a7bf99f123c52.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b04b6e9139fb30d059d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b087df2220fcc00514ec.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b1efe920c2ffea40b54d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b23534265c00d6b800fd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b2b0388c600232500e28.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b34260704803d74a6e07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b3d0e2de65050f11351c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b500a7049808f3a2a593.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b53e5eda8e09c6c67d28.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b674eb480b0c8d3d6031.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b81046e7b11287a7bef8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b9b4bb38f916a2c01f8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617bae50ecd231987654d2e.md
Labels: status: waiting review, scope: curriculum, new english course

#55032 feat(curriculum): add animations to block 7.1 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65ddb2ee481da72f38f076ad.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65ddb38c14e76d317c6128e6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e44fdc3b0d5813ee7fc300.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e452611e67af1a07314eb6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e4642c66bb7a29b328111e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e46524078f872c3a871f9f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e4660946dec02eb08f1a0d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e466b7e1db1530a27f413b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5c959087282242cf23f03.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5ca3d8fd484268f4336d4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5caebc431182877f90758.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5cc619608ce2bf40e3ce8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5cd292dbe212e2af21c9e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5cf002c98ea3289bf2bea.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e5d1128a3a2137ff818dd6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e84a436d691712a7769ea9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e85c512d559f216cacd3c4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e865a63c108a2f651b58c4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8668b12eaa63202034f84.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8677731fef734895ac330.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8687c037bd7373bac6bb8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e8697e64f1883a30a759e5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e86cac39492642332416e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e86e39e990f4461c9e23a7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e870a2ad67264ba3aac3f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e92d17a7e3c777c5a2f4b1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e932555f5de583b53ac688.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93353894747864641dc5c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93446e44ce704166696fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e935d6ca6d6b082cf59682.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9376e45814e0c248c2262.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9393152c63010e8d14dce.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93a6cca356414bb39c4a6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93b241e3f2216db6801e8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e93be2cbc1da18d7602a31.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e943b74900112d64038331.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e99114ec85863bbd32be2d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e992a27a99bd3fce984132.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9932d9cab2348221a1139.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e993f3248e434a5a47744c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e994e2f526634d09c0814a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e99595bee9924f07b5abc3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9965b96af115148dc3d79.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9972a13329b53a5aff71f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e997de10f05355b0354cf8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9988f286c8457cc809619.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e9991e59d4b959920e8c7d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e999be5746e45b5a8bb757.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-document-code-for-a-project/65e99a2986903b5c9f4bc720.md
Labels: status: waiting review, scope: curriculum, new english course

#55201 feat(curriculum): add animations to block 9.3 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626261426a32b191320ecbe.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662626b2e13cfe1d39bc40fd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262700a108801e85319172.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626273eb00c031f4988f129.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662629de1d3ccf2559a76a02.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262a51f3a76626829fe191.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262a982c6ae427498f9871.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262b58c53d902944183b44.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262b91a2380f2a02d20e94.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262c938943392c6aa23d39.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262d2afcdcf52e02a98d24.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66262d74745ccb2efde7670e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263023754e892fd8fd3eee.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626346c3db7ed3eab925b8c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662634fa4dab0640457469f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626355a442bde41613ed03b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662635b73cca81426d091f59.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263606a953984372df559a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662636481f9a3a4467dcaec3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662637442baaf548015d56d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662637b4ae77ed48d6d5ba8d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263800f12d8d4a6edffdcd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263852d4e9534b53c82e2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263891f8b3f74c36cd90b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662638ca74be054d04c448fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662639212dc5664e08ec05f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626396c2fd2604f117731b2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263a41ce552c514cb6fc3e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263aace1c84e52a2974049.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263b5ca3878d54811f9ac2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263d28fe1eae5a2601d0d6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263d47baac2d5ad278e68c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66264a9e3e030663acc4109a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66264bc673d62766a8ab48bc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265cebc033f66a2a4451e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265d447926ae6b9e9af13e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265dd49cbab56d038d0d2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265e0ac3bdc26ddf3525f5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265e4a43ec6d6e9ba7cc79.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265ec39f8cf36fe615bd11.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265f07ee69a670cc620d1e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265f3bb6ec0c7186e0c621.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626676b898b1d721834736a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662668a5aa1437017755151d.md
Labels: status: waiting review, scope: curriculum, new english course

#55191 feat(curriculum): add animations to block 8.2 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613cf7cb0b2704934764852.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d00727a7a64a5e010243.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d0773359964ab8812659.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d3c56e46394b97da3c30.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d3fe6615374be0d10008.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d46936e9374c24cfaaab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d4fc79abb74c83b07fab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d550a08c194cd27607ec.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d67b2a2a134d2b6275a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d6c3e74a984d6fcbd013.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d709407b9f4dc100b47b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d803f9d4884e2a882a99.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6613d89075d1ac4e6773a94b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ac949f89655d25e9d43c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ad58c102e15df06c96d5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ae3e02cc465ebee68851.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b1f8ee220c5f79df89b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b2714761f45fe3b17294.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b326f956cf605cd03775.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b3e52a6aca60bc3417fb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b4a8ff3874612a8df77c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b53003e92d6182e98978.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b572f81cb561d4ac39da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614bde62b7db56b9448285e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614be2a21b4426bfcd25919.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614be98fc11336c52aa3093.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614befe8e1dc16ca27b7b65.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c03efeb2cb6d2227d0b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c0ec11b55c6d849fbe3a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c12f91d2286dcd1f0fe4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c1d0e9e1976e3b524435.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c2262f754e6e85d2ff1a.md
Labels: status: waiting review, scope: curriculum, new english course

#55128 feat(curriculum): add animations to block 7.2 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd595245455d0dca3434ba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5a9680a9540e9787dec5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5c89285ea50f25bd0241.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5d1a6cb7f10f77a06163.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5da902959d0fda781aa3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5dfc174596101eae1107.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5f2abfdbc510942d76f8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd5f86457b4910e35b51c9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65ffa914bc44081a196fa6f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65ffa9d80e7ffb1ab9b4df1c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff2b49779301d9bdab6fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff336d7553c1df86f7968.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff428290eaa1e5819c119.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff57ce568cf1ed9702fbf.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000a440c2f492ddee509f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000ac46e87f52e84328b95.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000eeeec06b6338a5c5caf.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000f74c71b623407a8394e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66000fec4b5a8c348421fada.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/6600107b9dffa8350e0c4ee8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660011289b5237359f69c76b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660011d015f7d43626524ef8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660012a18576e836ea18fa0b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660012ff748bf2375c31b591.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660013ce54713f37ecac079d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/6600144958b1d33857b0309f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660014d3f5b02038de6ac35c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660019617debd03c767e0a3d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001985c091f13cda6d4f4d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001a1c9df0a83d8e8c670a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001a935988e43e1183bd38.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001b1aa59adc3ea4b024b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001b8d0518d03f18b19715.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001be61f20a33f8a45f3cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001cac957f0740252c2611.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001d1ffd0e0b40a8cbf0c7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001d8b878f5141214f2d77.md
Labels: status: waiting review, scope: curriculum, new english course

#55179 feat(curriculum): add animations to block 8.1 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66100326d773b61282509e50.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661003c35e5ba713abd2da6c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6610041a61d5ec13feffff07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6610056e633ce41466b6c5bc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661005bbe1801e14c303a57a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66100646290700150caff732.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661215c06938a71ad4101c93.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661216bbf6d9a51b409172a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661216ff45b1871b85f57a1a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612181d89fdfc1c2f44309d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661218bc905fb61c898221b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66121954a1cde81cd252ef26.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66121a02da620e1d25ff63d4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66121b3a462fe01da4816b39.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122a393fd32d2a4876ca95.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122a6093ba082abb2cd136.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122ab30afc8e2b1f42b78a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122b7d6f1f182bb1fe0338.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661253cc9fb5ee2d01a0d6a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661254cf9474ed2da90fec1b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66125530a1a9e92e0e08d594.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661255c3b6ea612e984a62b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66125666f8437c2f3616045e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661256fe823f142fb9858beb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66126744e24b0a31255718a7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661267c5ac355931ab1f933d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612693507cbd43269ae64e0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661269c4ccdd4132db7517b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66126a21821998335a86a34b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127192c932be37ed0217e7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661271c2b16aff3870604148.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612727ec0a11b390b8e92cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612752978bcc239ae7b60da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612757ffdc16b3a22b08427.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612762a058bb43b960e91ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127678c88f183c0312d8e8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127755a52efa3c9a73065b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661277970c67233d02f138de.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661278160653ee3d9040ed68.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127850c4415c3df1b4e99a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612792bc77de13e8f2af3ad.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612797faf03663ef83f4459.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661279c8d3bf0f3f6f23f21f.md
Labels: status: waiting review, scope: curriculum, new english course

#55159 feat(curriculum): add animations to block 7.3 of the English Curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606682f3fbb93838673920d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66066c563917c5874b792337.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660681a717d84e89da14f6f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660682b572c0bb8aa3075feb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606838ecf64478b53a51496.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660683e649f8fa8bbd5baac5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068414094b3a8c10a4770d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606846eba453e8c7bacb2f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660684bfc24bf48cfaaf9cfa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660686845b5e788def3527ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068a6d0bb2aa90f0d93979.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068ad667567091500128c5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068b650b681c91de9e19a0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068bf9c9046292705b856d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068c5cfc7a4992f2574ab2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068d4033a07d9393291ef0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068f5b2b7dda9450a7cc2c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66068fc7aa2fe094c5cb84bd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606906b3f31fc953f1ee3b6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660694cf7803c598ce999171.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606952c28640e9941c8fa29.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660695c672854899d6862834.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660696292c16659a5e9ccf81.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660696cce3e4e79af4612466.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/66069719acca7d9b59499ce9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606977e8f0b509bdac39012.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660697f307c6559c60e976f7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606989c34f0be9d141130b1.md
Labels: status: waiting review, scope: curriculum, new english course

#55215 feat(curriculum): set parts 7, 8, and 9 of the English Curriculum live
  client/i18n/locales/english/intro.json
  client/src/pages/learn/a2-english-for-developers/learn-how-to-analyze-code-documentation/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-document-code-for-a-project/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-offer-technical-support-and-guidance/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-request-and-receive-guidance/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/index.md
  client/src/pages/learn/a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/index.md
  curriculum/challenges/_meta/learn-how-to-analyze-code-documentation/meta.json
  curriculum/challenges/_meta/learn-how-to-document-code-for-a-project/meta.json
  curriculum/challenges/_meta/learn-how-to-express-agreement-or-disagreement/meta.json
  curriculum/challenges/_meta/learn-how-to-offer-technical-support-and-guidance/meta.json
  curriculum/challenges/_meta/learn-how-to-provide-explanations-when-helping-others/meta.json
  curriculum/challenges/_meta/learn-how-to-read-and-understand-code-documentation/meta.json
  curriculum/challenges/_meta/learn-how-to-request-and-receive-guidance/meta.json
  curriculum/challenges/_meta/learn-how-to-share-progress-and-accomplishments/meta.json
  curriculum/challenges/_meta/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/meta.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new english course

#55214 fix: padding on dialogue challenge link
  client/src/templates/Introduction/intro.css
Labels: status: waiting review, platform: learn

#55213 chore: remove audioPath
  client/gatsby-node.js
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  client/src/templates/Challenges/odin/show.tsx
  curriculum/schema/__snapshots__/challenge-schema.test.js.snap
  curriculum/schema/challenge-schema.js
  tools/challenge-helper-scripts/create-this-challenge.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55200 feat: enable TOP for mobile app
  .github/workflows/e2e-mobile.yml
  e2e/mobile/mobile-learn.spec.ts
  tools/scripts/build/build-external-curricula-data.ts
Labels: status: waiting review, scope: tools/scripts

#55208 feat(api): send errors to Sentry
  api/src/app.ts
  api/src/routes/certificate.test.ts
  api/src/routes/certificate.ts
  api/src/routes/challenge.ts
  api/src/routes/email-subscription.ts
  api/src/routes/settings.ts
  api/src/routes/user.ts
  api/src/schemas/certificate/cert-slug.ts
  api/src/schemas/certificate/certificate-verify.ts
  api/src/schemas/challenge/backend-challenge-completed.ts
  api/src/schemas/challenge/coderoad-challenge-completed.ts
  api/src/schemas/challenge/modern-challenge-completed.ts
  api/src/schemas/challenge/project-completed.ts
  api/src/schemas/challenge/save-challenge.ts
  api/src/schemas/types.ts
  api/src/schemas/user/delete-user-token.ts
Labels: platform: api

#55204 docs: update README for Scientific Computing with Python Certification
  README.md
Labels: status: waiting review

#55205 fix(api): handle 4XX errors get-public-profile
  api-server/src/common/models/user.js
  api-server/src/server/boot/randomAPIs.js
  api-server/src/server/boot/user.js
Labels: platform: api

#55224 chore: uninstall cross-env
  api-server/package.json
  client/package.json
  curriculum/package.json
  package.json
  pnpm-lock.yaml
  tools/challenge-editor/client/package.json
  tools/challenge-helper-scripts/package.json
  tools/client-plugins/browser-scripts/package.json
Labels: platform: api, platform: learn, scope: tools/scripts

#55222 fix(UI): prevent blank cutoffs
  client/src/templates/Challenges/fill-in-the-blank/show.css
Labels: status: waiting review, platform: learn

#55046 fix(api): use challenge helper to update completed challenges
  api/src/routes/challenge.test.ts
  api/src/routes/challenge.ts
  api/src/routes/helpers/challenge-helpers.ts
  api/src/utils/common-challenge-functions.ts
Labels: status: waiting review, platform: api

#55240 chore(api): remove unused session handling
  api/package.json
  api/src/app.ts
  api/src/plugins/session-auth.ts
  api/src/routes/auth.ts
  api/src/routes/user.ts
  api/src/utils/env.ts
  pnpm-lock.yaml
Labels: platform: api

#55178 fix(api): narrow serializers for update-my-email
  api/src/schemas/settings/update-my-email.ts
Labels: status: waiting review, platform: api

#55219 fix(curriculum): Pokémon search app id "#type" to "#types"
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: scope: curriculum, status: waiting update

#55027 feat: Top Learn to Solve Problems and Understand Errors
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-learn-to-solve-problems-and-understand-errors/meta.json
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-a.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-b.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-c.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-d.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-e.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-f.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-g.md
  curriculum/challenges/english/16-the-odin-project/top-learn-to-solve-problems-and-understand-errors/learn-to-solve-problems-and-understand-errors-question-h.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#55245 fix(curriculum): cash register tests need valid global state
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-cash-register-project/build-a-cash-register.md
Labels: scope: curriculum

#55260 fix(api): clear cookies on account/delete
  api/src/routes/user.test.ts
  api/src/routes/user.ts
Labels: platform: api

#54978 fix(UI): minimize the fixed contents upper the editor
  client/config/misc.ts
  client/src/components/layouts/default.tsx
  client/src/templates/Challenges/classic/classic.css
  client/src/templates/Challenges/classic/editor-tabs.tsx
  client/src/templates/Challenges/classic/editor.css
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/bread-crumb.tsx
  client/utils/gatsby/layout-selector.tsx
  e2e/bread-crumb.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#55247 feat(tools/scripts): test project create tool
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/utils.test.ts
  tools/challenge-helper-scripts/utils.ts
Labels: scope: tools/scripts

#55246 fix(e2e): remove browserName from the focusEditor calls
  e2e/editor.spec.ts
  e2e/lower-jaw.spec.ts
  e2e/progress-bar.spec.ts
Labels: status: waiting review, scope: tools/scripts

#55265 build: give linting more memory
  .husky/pre-commit
  package.json
Labels: status: waiting review

#55272 fix(curriculum): update missing double quote in build telephone number
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-telephone-number-validator-project/build-a-telephone-number-validator.md
Labels: status: waiting review, scope: curriculum

#55192 fix(curriculum): trim string to be working selector
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/614796cb8086be482d60e0ac.md
Labels: status: waiting review, scope: curriculum

#54904 fix(curriculum) update assertion for typography link element
  curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-nutrition-label/615f34ecc1091b4fd5a8a484.md
Labels: status: waiting review, scope: curriculum

#55284 chore: updated the missing backticks
  curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fab8367d35de04e5cb7929.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646de5dc8988076a1d992afd.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646de8478d6f796bfbdccfb2.md
Labels: status: waiting review, scope: curriculum

#55282 fix(curriculum): typo in calorie counter step 69
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-form-validation-by-building-a-calorie-counter/63c9bf80558d780e848b2987.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55291 fix(curriculum): typo in alt text
  curriculum/challenges/english/10-coding-interview-prep/data-structures/add-a-new-element-to-a-binary-search-tree.md
Labels: scope: curriculum

#55296 fix(curriculum): typos
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da4b16937be43ba24c63d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/646d39c156fe94b7482c3ab6.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-functional-programming-by-building-a-spreadsheet/646d4813c17b37d1e261a566.md
Labels: status: waiting review, scope: curriculum

#55287 fix(curriculum): add back ticks to variable name Platformer Game step 20
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/649a75a844f2ea3a0060d807.md
Labels: scope: curriculum, new javascript course

#55066 fix(curriculum): prevent hardcoding cash register
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-cash-register-project/build-a-cash-register.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55180 fix(curriculum/ python): italicize definition case convertor project
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657e928716b77b2277980276.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657f425dbab54e11993c80f0.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-list-comprehension-by-building-a-case-converter-program/657f456223b8c1187b461987.md
Labels: scope: curriculum, new python course

#55221 fix(curriculum): update tests for pokemon search app
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: scope: curriculum, new javascript course

#55302 fix(curriculum): replace semi-colon with semicolons
  curriculum/challenges/english/01-responsive-web-design/basic-css/style-the-html-body-element.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646c5e727e56e743c9aed4a1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cecc9eb5c4f4f73dafd07.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cf1206cac5f51804f49cf.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cf48d8f8e1f535a1821d3.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cf6cbca98e258da65c979.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cf88aa884405a11ea5bcc.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cfc2b8e6fe95c20a819d5.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cfd853634255d02b64cc1.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/646cfde6ac612e5d60391f50.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/6476f5c17f99146071ee884c.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/6476f7a4827bcc61682f2347.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/6476fd4213318f6ee211028a.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/64770351e8586671ec0911f0.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-cat-painting/6477062778c85972eb648030.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8b1762b7775124622e1a3.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8cbd1e3595431d5a2b3f1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da3c6b6fbd742bff6ee40.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da42481d90c4314c99e94.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da465273051435d332b15.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da4b16937be43ba24c63d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660ee6e3a242da6bd579de69.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f23b53db70af0f2620e78.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610b741b54b90f0c0fb3d58.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610b9f7619764fad5fd516d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c1d97b1671140f95cfbb.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/6610c6541c82551f95e765ab.md
Labels: scope: curriculum

#55239 test(e2e): add donation-modal.spec.ts
  client/src/components/Donation/donation-modal-body.tsx
  e2e/donation-block-completion-modal.spec.ts
  e2e/donation-modal.spec.ts
Labels: platform: learn, scope: tools/scripts

#55306 fix(client): use translation string in button label
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/scene/scene.tsx
Labels: platform: learn, scope: i18n

#55292 fix(curriculum): update browser site URL, note about done callback
  curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-browser.md
Labels: scope: curriculum

#55314 fix(curriculum): is keyword is properly introduced after first usage
  curriculum/challenges/english/07-scientific-computing-with-python/learn-the-bisection-method-by-finding-the-square-root-of-a-number/65ef1d5e3d2927c5e0f4997b.md
  curriculum/challenges/english/07-scientific-computing-with-python/learn-tree-traversal-by-building-a-binary-search-tree/65c4f22498d22ed775ef8efb.md
Labels: scope: curriculum, status: waiting update, new python course

#55316 fix(curriculum): random background random color method placement in step 3
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-debugging-by-building-a-random-background-color-changer/663250b42513ef5975599c49.md
Labels: scope: curriculum

#55326 chore(e2e): use ControlOrMeta and remove browserName
  e2e/challenge-reset-modal.spec.ts
  e2e/donation-modal.spec.ts
  e2e/editor.spec.ts
  e2e/lower-jaw.spec.ts
  e2e/navigation-from-last-challenge.spec.ts
  e2e/output.spec.ts
  e2e/progress-bar.spec.ts
  e2e/projects.spec.ts
  e2e/utils/editor.ts
Labels: status: waiting review, scope: tools/scripts

#55321 fix(curriculum): remove DB from env instructions
  curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md
Labels: scope: curriculum

#55333 Revert c240bd4
  e2e/challenge-reset-modal.spec.ts
  e2e/donation-modal.spec.ts
  e2e/editor.spec.ts
  e2e/lower-jaw.spec.ts
  e2e/navigation-from-last-challenge.spec.ts
  e2e/output.spec.ts
  e2e/progress-bar.spec.ts
  e2e/projects.spec.ts
  e2e/utils/editor.ts
Labels: scope: tools/scripts

#55338 fix: flaky code-saving test
  e2e/multifile-cert-projects.spec.ts
Labels: status: waiting review, scope: tools/scripts

#55337 fix (curriculum): typo in step 16 of building a cafe menu
  curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cb2e27333b1ab2b955.md
Labels: scope: curriculum

#55339 fix(curriculum): fix text in RPG
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7bfabe119461eb13ccbd6.md
Labels: scope: curriculum, new javascript course

#55328 fix: separate checks for cases and case block code in date formatter
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65388edfdf364fbb04e426f2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65389a63d3b1d6c764c0e10e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-the-date-object-by-building-a-date-formatter/65389eff4893facbbe6eae67.md
Labels: scope: curriculum, new javascript course

#54975 feat(api): port /confirm-email to new api
  api/jest.utils.ts
  api/src/app.ts
  api/src/plugins/code-flow-auth.test.ts
  api/src/plugins/code-flow-auth.ts
  api/src/plugins/redirect-with-message.ts
  api/src/routes/settings.test.ts
  api/src/routes/settings.ts
  api/src/schemas.ts
  api/src/schemas/settings/confirm-email.ts
  api/src/utils/tokens.test.ts
  api/src/utils/tokens.ts
Labels: status: waiting review, platform: api

#55227 refactor(api): sensible default cookie config
  api/src/app.ts
  api/src/plugins/code-flow-auth.ts
  api/src/plugins/cookies.test.ts
  api/src/plugins/cookies.ts
  api/src/routes/auth-dev.test.ts
  api/src/routes/user.test.ts
Labels: platform: api

#55264 fix(api): use generic error message if CSRF error
  api/src/app.ts
  api/src/routes/challenge.ts
  api/src/routes/settings.test.ts
  api/src/schemas/certificate/cert-slug.ts
  api/src/schemas/certificate/certificate-verify.ts
  api/src/schemas/challenge/backend-challenge-completed.ts
  api/src/schemas/challenge/coderoad-challenge-completed.ts
  api/src/schemas/challenge/exam-challenge-completed.ts
  api/src/schemas/challenge/exam.ts
  api/src/schemas/challenge/modern-challenge-completed.ts
  api/src/schemas/challenge/project-completed.ts
  api/src/schemas/challenge/save-challenge.ts
  api/src/schemas/settings/update-my-classroom-mode.ts
  api/src/schemas/types.ts
  api/src/schemas/user/delete-my-account.ts
  api/src/schemas/user/delete-user-token.ts
  api/src/schemas/user/post-ms-username.ts
  api/src/schemas/user/report-user.ts
  api/src/schemas/user/reset-my-progress.ts
  api/src/utils/error-formatting.ts
Labels: platform: api

#55336 fix(api): handle concurrent challenge submissions
  api/src/utils/common-challenge-functions.ts
Labels: platform: api

#55110 feat: The Odin Project - Rock Paper Scissors Game
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/top-build-a-rock-paper-scissors-game/meta.json
  curriculum/challenges/english/16-the-odin-project/top-build-a-rock-paper-scissors-game/build-a-rock-paper-scissors-game.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, odin project

#55345 fix: flaky hotkey spec
  e2e/hotkeys.spec.ts
Labels: scope: tools/scripts

#55231 feat(curriculum): add new front end cert skeleton
  client/config/cert-and-project-map.ts
  client/i18n/locales/english/intro.json
  client/i18n/locales/english/translations.json
  client/src/assets/icons/superblock-icon.tsx
  client/src/components/settings/certification.tsx
  client/src/pages/learn/example-certification/example-certification-exam/index.md
  client/src/pages/learn/example-certification/index.md
  client/src/pages/learn/front-end-development/front-end-development-certification-exam/index.md
  client/src/pages/learn/front-end-development/index.md
  client/src/pages/learn/front-end-development/learn-basic-html-by-building-a-recipe-page/index.md
  client/src/templates/Introduction/components/super-block-intro.tsx
  curriculum/challenges/_meta/example-certification-exam/meta.json
  curriculum/challenges/_meta/front-end-development-certification-exam/meta.json
  curriculum/challenges/_meta/learn-basic-html-by-building-a-recipe-page/meta.json
  curriculum/challenges/english/00-certifications/example-certification/example-certifcation.yml
  curriculum/challenges/english/00-certifications/front-end-development-certification/front-end-development.yml
  curriculum/challenges/english/25-front-end-development/front-end-development-certification-exam/645147516c245de4d11eb7ba.md
  curriculum/challenges/english/25-front-end-development/learn-basic-html-by-building-a-recipe-page/66731cd027ef3acb155669f5.md
  curriculum/utils.js
  curriculum/utils.test.ts
  shared/config/certification-settings.ts
  shared/config/superblocks.ts
  tools/challenge-auditor/index.ts
  tools/challenge-editor/api/configs/super-block-list.ts
  tools/challenge-helper-scripts/fs-utils.ts
  tools/scripts/build/build-external-curricula-data.test.ts
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, scope: tools/scripts

#55353 chore: update curriculum-helpers to v3.6.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#55360 fix(curriculum): add missing closing double quote
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: status: waiting review, scope: curriculum, new javascript course

#55364 fix(client): only use contents from savedChallenges
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/saved-challenges.test.ts
  client/src/templates/Challenges/classic/saved-challenges.ts
  client/src/templates/Challenges/classic/show.tsx
Labels: status: waiting review, platform: learn

#55368 fix(client): conditionally render tag wrapper
  client/src/templates/Introduction/components/block.tsx
Labels: status: waiting review, scope: UI, platform: learn
