Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2025-07, with the labels that each got.

#61154 chore(curriculum): update magazine workshop steps 22–23 to use specific assert methods
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143cd08fe927072ca3a371d.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143cdf48b634a747de42104.md
Labels: status: waiting review, scope: curriculum

#61174 fix(curriculum): typo in daily challenge
  curriculum/challenges/english/99-dev-playground/daily-coding-challenges-python/python-challenge-14.md
Labels: scope: curriculum

#61112 chore(curriculum): reorganize semantic html lectures
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-understanding-nuanced-semantic-elements/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-semantics-for-text-and-time/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-specialized-semantic-elements/index.md
  curriculum/challenges/_meta/lecture-importance-of-semantic-html/meta.json
  curriculum/challenges/_meta/lecture-understanding-nuanced-semantic-elements/meta.json
  curriculum/challenges/_meta/lecture-working-with-specialized-semantic-elements/meta.json
  curriculum/challenges/_meta/lecture-working-with-text-and-time-semantic-elements/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-understanding-nuanced-semantic-elements/6729959bf9c8e835f46b3f78.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-nuanced-semantic-elements/672995ac85fd943657c2ede5.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-nuanced-semantic-elements/672995bda6c67e369aaf8588.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-specialized-semantic-elements/672995ffdfd2f337f5f215f8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-specialized-semantic-elements/6729960ed6e2ca3825940e97.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-specialized-semantic-elements/6729963b1ab11638753cf082.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995c9e6f69436dbcccc79.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995d673bd3237200b9e7c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995e43674fb3775b9ec5d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995f16ed97837b365a9f6.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#57325 feat: exam environment download page
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/exam-download/show.tsx
  client/src/templates/Challenges/utils/use-detect-os.ts
  client/utils/gatsby/challenge-page-creator.js
  curriculum/challenges/english/25-front-end-development/exam-certified-full-stack-developer/645147516c245de4d11eb7ba.md
  curriculum/schema/challenge-schema.js
  shared/config/challenge-types.ts
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60856 fix(tools): challenge-editor
  tools/challenge-editor/client/src/components/editor/editor.tsx
  tools/challenge-editor/client/src/utils/block-name-translator.ts
Labels: status: waiting review, scope: tools/scripts

#61073 fix(ui): correct h1 size on review pages
  client/src/templates/Challenges/components/challenge-title.css
Labels: status: waiting review, platform: learn

#61196 chore(deps): update curriculum helpers to v5.0.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: scope: tools/scripts

#61233 feat(curriculum): set isUpcomingChange flags to false to block 21-23 of the B1 certification of the English Curriculum
  curriculum/challenges/_meta/learn-how-to-talk-about-numbers-with-a-coworker/meta.json
  curriculum/challenges/_meta/learn-how-to-use-prepositions-according-to-context/meta.json
  curriculum/challenges/_meta/learn-how-to-use-reported-speech/meta.json
Labels: scope: curriculum, english for developers

#61219 fix: capitalize CSS in flexbox quiz question for consistency
  curriculum/challenges/english/25-front-end-development/quiz-css-flexbox/66ed8fe7f45ce3ece4053eb2.md
Labels: status: waiting review, scope: curriculum

#61243 feat(curriculum): set isUpcomingChange flag to false to block 24 of the B1 certification of the English Curriculum
  curriculum/challenges/_meta/learn-common-phrasal-verbs-and-idioms/meta.json
Labels: scope: curriculum, english for developers

#61221 chore(curriculum): update asserts in magazine workshop steps 26-30
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d66a5358db0c80628757.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144d7dbdd3e580da730ff45.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144de308591ec10e27d5383.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144e1ba93e435127a7f516d.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6144ee46a9d6e614c598cc05.md
Labels: status: waiting review, scope: curriculum

#61201 fix(curriculum): add missing sentence about email validation in Client-Side Form Validation
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms/672a4ce6dab9eb735828b48b.md
Labels: scope: curriculum

#61249 fix(challenge-helpers): add template for generic challenge
  tools/challenge-helper-scripts/helpers/get-challenge-template.ts
  tools/challenge-helper-scripts/helpers/new-task-prompts.ts
Labels: scope: tools/scripts

#61237 chore(deps): update curriculum-helpers to 5.3.0
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: status: waiting review, scope: tools/scripts

#60527 feat(curriculum): add dictionaries and sets review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-dictionaries-and-sets/67f39babe1e2ec1fb6eea32a.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61259 Fix(Curriculum): A2 Learn Introductions in an Online Team Meeting - Task 99
  curriculum/challenges/english/21-a2-english-for-developers/learn-introductions-in-an-online-team-meeting/657e51218ff18f8191b76ea9.md
Labels: scope: curriculum, status: waiting update, english for developers

#61279 chore(curriculum): update third question in react fundamentals quiz
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e867bbf41cc5b11648c4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61282 fix(curriculum): updated learning habits transcript
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734e2dcb965e5ac0ea38e0f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61283 chore(curriculum): fix typo in learn how to use adjectives in conversations task 101
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-use-adjectives-in-conversations/68217596e0dbdc57bf068ba0.md
Labels: status: waiting review, scope: curriculum

#61290 chore: update asserts in step 38-41, 43-44 of magazine-workshop
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b185ef37522f688316b0.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b30464daf630848c21d4.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b4b150434734143db6f2.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b5623efa8f369f2c3643.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148b59ef318e03875f35c4a.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148bd62bbb8c83a5f1fc1b3.md
Labels: status: waiting review, scope: curriculum

#61292 chore(curriculum): fix typo in learn determiners and advanced use of articles task 48
  curriculum/challenges/english/24-b1-english-for-developers/learn-determiners-and-advanced-use-of-articles/6811dc48cf92a10a04c5ab3f.md
Labels: status: waiting review, scope: curriculum

#61194 fix(curriculum): Add test and user story to enforce correct RPG Creature API endpoint usage
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-an-rpg-creature-search-app-project/build-an-rpg-creature-search-app.md
Labels: status: waiting review, scope: curriculum

#61312 fix(curriculum): allow whitespaces in tests by trimming textContent for Build a Balance Sheet
  curriculum/challenges/english/25-front-end-development/workshop-balance-sheet/61fd70336ebb3e4f62ee81ba.md
  curriculum/challenges/english/25-front-end-development/workshop-balance-sheet/61fd7b3fcaa5406257abc5d1.md
  curriculum/challenges/english/25-front-end-development/workshop-balance-sheet/61fd9a4ff2fc4481b9157bd7.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61058 feat(curriculum): add set 2 of questions for CSS Positioning quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-positioning/66ed8ffcf45ce3ece4053eb5.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61322 chore(curriculum): replace asserts of magazine workshop steps 49-57
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c004ffc8434252940dc3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c5036ddad94692a66230.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c58bace368497fb11bcf.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c6aa9981d74af202125e.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148c721e74ecd4c619ae51c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148ceaf5d897d4d8b3554b3.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148cf094b3f2b4e8a032c63.md
Labels: status: waiting review, scope: curriculum

#61329 chore: clean up unused browser-script deps + config
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
  tools/client-plugins/browser-scripts/webpack.config.cjs
Labels: scope: tools/scripts

#61345 fix(scripts): ignore upcoming blocks when building external curricula
  tools/scripts/build/build-external-curricula-data-v2.ts
Labels: scope: tools/scripts

#61359 fix: GB request hanging
  client/src/pages/index.tsx
Labels: platform: learn

#61368 chore(curriculum): remove transcript header from first python lecture set
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe81c9c6fd3714343a45ad.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8567f141d632afaeb71b.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8597975ea634042cad8f.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8599c83979345ff9a91a.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859a00971c34a23abd43.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859c1ab68734d7c666cb.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859e9d3b3635197781c8.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859f55cd33356e322fd3.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe85a1b634a335b18ae09a.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe85a3db9bad35f2b6a2bd.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/6839b2ddd01ef657b6bf3b76.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/6839b3295323f563efc68f5c.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/68480f431e8568b2056b140b.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61294 feat: add loops and sequences lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/67fe8399c41a212871025f96.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e38cdf93ee5a00c79676.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e3a99ba37f09b9d0059b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e3ea328b630cf5fca9ac.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e41fe8dac60f11f583db.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e4b003571c149bcda122.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e4d62ae09d1661e4cf9b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e4ef24827717b838f54d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/683d6a3fe8c1060ffb1f9b78.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61371 fix(client): duplicate challengeFile declaration in editor
  client/src/templates/Challenges/classic/editor.tsx
Labels: platform: learn

#61063 feat(curriculum): adding tablist workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-planets-tablist/index.md
  curriculum/challenges/_meta/workshop-planets-tablist/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685976a92ffab8b2dc744b72.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/68599633407374c0d574587b.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/68599af28ead38c22590a89d.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/68599d0fcd5f6ac313d05908.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/68599e9259c0eec3e78c52fd.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/68599f9df77791c4a311cc5f.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/6859a1270ac255c571352189.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/6859a484a55387c6543ab2c0.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/6859a4c514603bc6d95a80da.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/6859ab9ba7a915c84fa69851.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/6859acc690736fc911a70967.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/6859ae3ef795c4c9d4badf9c.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c3e887d32ea71964cd981.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c454eb1e7fb7341f1c6ae.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c49c6e1db1c74a9762eae.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c4b88d56b107579124d3d.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c52352f98cc76d66714dd.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c539a33f20877c4ef59d2.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c560bfde79c78a3f01a64.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685c57ae785a337969745135.md
  curriculum/challenges/english/25-front-end-development/workshop-planets-tablist/685db0bd1280154ae85bcf9f.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61364 feat(curriculum): add Tower of Hanoi lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-tower-of-hanoi/index.md
  curriculum/challenges/_meta/lab-tower-of-hanoi/meta.json
  curriculum/challenges/english/25-front-end-development/lab-tower-of-hanoi/68773ee26f332a80bc0295db.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61013 feat(curriculum): add tailwind CTA component workshop to main
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-tailwind-cta-component/index.md
  curriculum/challenges/_meta/workshop-tailwind-cta-component/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68551b677a5f6898af364b85.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685523c05fb41d0848c4b52f.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68552464ef378e1051a55c28.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6855255d96c1441bd919dc5d.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858e6408a0999603b2a4fee.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858e7e23bf9e475e14cb931.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858e9f87e4faa903267d810.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858eadd3144c89d45e02bc7.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858ebf2552046ab3de9f17c.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858ee73ed8106ccb214942a.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858ef974c8ad5dcd7abb9f1.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858f3a67aa8580ff37016c7.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/6858f90c54647a48ddb8822d.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68591755e8cd86d27699d282.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/68597114730d7c6b8838d204.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685972d14c6d8182fbae71f1.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685973ca82469e940afcc422.md
  curriculum/challenges/english/25-front-end-development/workshop-tailwind-cta-component/685975c2505e3db255720561.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61386 chore(curriculum): update assets in workshop magazine step 76, 77, and 79
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f34ebedc2274bceeb99c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f600cde42b7670c2611f.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148f6f7d8914c78e93136ca.md
Labels: status: waiting review, scope: curriculum

#61341 feat(curriculum): add a profile lookup lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-profile-lookup/index.md
  curriculum/challenges/_meta/lab-profile-lookup/meta.json
  curriculum/challenges/english/25-front-end-development/lab-profile-lookup/5688e62ea601b2482ff8422b.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60673 chore(curriculum): remove jquery from managing packages with npm
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-description-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-license-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-a-version-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/add-keywords-to-your-package.json.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/remove-a-package-from-your-dependencies.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-caret-character-to-use-the-latest-minor-version-of-a-dependency.md
  curriculum/challenges/english/05-back-end-development-and-apis/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency.md
Labels: status: waiting review, scope: curriculum

#61357 fix(curriculum): clarify void tag content
  curriculum/challenges/english/25-front-end-development/lecture-understanding-html-attributes/66f6db08d55022680a3cfbc9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61383 feat( curriculum): add string repeating lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-repeat-a-string/index.md
  curriculum/challenges/_meta/lab-repeat-a-string/meta.json
  curriculum/challenges/english/25-front-end-development/lab-repeat-a-string/afcc8d540bea9ea2669306b6.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61377 feat: add record collection challenge to full stack
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-record-collection/index.md
  curriculum/challenges/_meta/lab-record-collection/meta.json
  curriculum/challenges/english/25-front-end-development/lab-record-collection/56533eb9ac21ba0edf2244cf.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#61303 feat: add dictionaries and sets lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec7a722bc7b67c1132bd3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec8e8a2389f713380fca8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dictionaries-and-sets/683ec8fd8b21827317388a45.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-modules/683ec7b778993c6971b56c83.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61342 feat: add celsius to fahrenheit lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-celsius-to-fahrenheit-converter/index.md
  curriculum/challenges/_meta/lab-celsius-to-fahrenheit-converter/meta.json
  curriculum/challenges/english/25-front-end-development/lab-celsius-to-fahrenheit-converter/56533eb9ac21ba0edf2244b3.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61296 fix(curriculum): update test in Music Player lab to be reliable across browsers
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6748567229cc8fe3f706de02.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61173 fix(curriculum): replace a question in JavaScript Asynchronous Programming lecture
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407e02bcf0d682b9a49a9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61434 chore: Remove videos from Understanding the HTML Boilerplate lecture block
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-html-boilerplate/670838977810401844af6fe0.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-html-boilerplate/670838e914096b194b0c51aa.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-html-boilerplate/670839051794aa19fcef6dc8.md
Labels: status: waiting review, scope: curriculum

#61440 fix(curriculum): allow arrow syntax in workshop-calculator step 4
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc0ba5881acb7692cfc4de.md
Labels: scope: curriculum, full stack cert

#61437 fix(curriculum): update description and hints of lab-football-team-cards
  curriculum/challenges/english/25-front-end-development/lab-football-team-cards/66e7ee20b79186306fc12da5.md
Labels: scope: curriculum

#61446 fix(curriculum): change "assert" to "from" and remove videoId
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b788046862264eeb1c39.md
Labels: scope: curriculum

#61439 fix: swap blank solutions in task 25 hobbies and interests
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657da1d38bf3e693eb579be9.md
Labels: status: waiting review, scope: curriculum

#61430 feat(curriculum): add understanding the command line and working with bash lectures
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-understanding-the-command-line-and-working-with-bash/index.md
  curriculum/challenges/_meta/lecture-understanding-the-command-line-and-working-with-bash/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-command-line-and-working-with-bash/687e910842f3322350bc8d93.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-command-line-and-working-with-bash/687e9437536d762823fefab3.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-command-line-and-working-with-bash/687e944b821130283dc83b2e.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-command-line-and-working-with-bash/687e947ae3ea7d2867c3d0e1.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61276 fix(curriculum): clarify input limit for Real Time Counter
  curriculum/challenges/english/25-front-end-development/lab-real-time-counter/66bb3e20d3dc5b6d0a21f5dd.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60590 chore(curriculum): add Python classes and objects review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-classes-and-objects/67f39d848979082814c07d9c.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61458 fix(curriculum): make semicolon optional for test 8 of lab-password-generator
  curriculum/challenges/english/25-front-end-development/lab-password-generator/66f53dc2c5bd6a11d6c3282f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60533 chore: audit bash commands quiz
  curriculum/challenges/english/25-front-end-development/quiz-bash-commands/66f1af4fedf643c78d024c5e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61429 fix(curriculum): clarify player width division in Platformer Game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c9fa51209ab5395d524cce.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64c9fe7b2ffa3539fbf82d32.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64caeb134c3cdc5498cd75b9.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-intermediate-oop-by-building-a-platformer-game/64caeeae2fa57756035d6012.md
Labels: status: waiting review, scope: curriculum, archived coursework

#61343 chore(curriculum): update assert methods in workshop magazine steps 70-75
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e246146b646cf4255f0c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e2dcdd60306dd77d41cc.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e4d6861a486f60681f36.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e5a204d99e70343a63e4.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e62a6f768f71c4f04828.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6148e789329dc9736ce59b85.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61382 feat(curriculum): add confirm string ending challenge
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-string-ending-checker/index.md
  curriculum/challenges/_meta/lab-string-ending-checker/meta.json
  curriculum/challenges/english/25-front-end-development/lab-string-ending-checker/acda2fb1324d9b0fa741e6b5.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61378 feat: break down "Working with Numbers, Booleans, and the Math Object" block in smaller blocks
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-comparison-and-boolean-operators/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-conditional-logic-and-math-methods/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-numbers-and-arithmetic-operators/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-numbers-booleans-and-the-math-object/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-operator-behavior/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-unary-and-bitwise-operators/index.md
  curriculum/challenges/_meta/lecture-working-with-comparison-and-boolean-operators/meta.json
  curriculum/challenges/_meta/lecture-working-with-conditional-logic-and-math-methods/meta.json
  curriculum/challenges/_meta/lecture-working-with-numbers-and-arithmetic-operators/meta.json
  curriculum/challenges/_meta/lecture-working-with-numbers-booleans-and-the-math-object/meta.json
  curriculum/challenges/_meta/lecture-working-with-operator-behavior/meta.json
  curriculum/challenges/_meta/lecture-working-with-unary-and-bitwise-operators/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-comparison-and-boolean-operators/673271c7581a27d9dd78f6d6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-comparison-and-boolean-operators/673271dffbc34fda31da9515.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-conditional-logic-and-math-methods/673271fd11d063daf0cf8d20.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-conditional-logic-and-math-methods/6732720e95f6a0db526a2e4d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-conditional-logic-and-math-methods/67327217e70ee0db7913b255.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-arithmetic-operators/672d266e014ef8216df987d2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-arithmetic-operators/673271884bf678d8b9c64f56.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-arithmetic-operators/67327195e77b1bd90bdd49d7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-operator-behavior/6732719e2e3ad4d947410b65.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-operator-behavior/673271a8998ddfd97578d095.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-operator-behavior/673271b4213033d9b661c70e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-unary-and-bitwise-operators/673271e8e3d43bda89f723b3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-unary-and-bitwise-operators/673271f39f124ddac28866d5.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61370 fix(curriculum): Update instruction of build a pyramid generator
  curriculum/challenges/english/25-front-end-development/lab-pyramid-generator/66f2836c459cfb16ae76f24f.md
Labels: status: waiting review, scope: curriculum

#61278 fix(curriculum): declare variables on a new line in fCC Authors Page
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5462576784453146ec2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61483 fix: remove duplicate title in HTML lecture
  curriculum/challenges/english/25-front-end-development/lecture-understanding-html-attributes/66f6db08d55022680a3cfbc9.md
Labels: scope: curriculum

#61436 feat(curriculum): add python classes and objects quiz
  curriculum/challenges/english/25-front-end-development/quiz-classes-and-objects/67f413038f0f8c452c660dc5.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59954 refactor(client): store session user in dedicated key
  client/src/client-only-routes/show-certification.tsx
  client/src/client-only-routes/show-profile-or-four-oh-four.tsx
  client/src/client-only-routes/show-settings.tsx
  client/src/client-only-routes/show-update-email.tsx
  client/src/components/Donation/donate-form.tsx
  client/src/components/Donation/paypal-button.tsx
  client/src/components/Intro/index.tsx
  client/src/components/Intro/intro.test.tsx
  client/src/components/Map/index.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/components/profile/components/certifications.tsx
  client/src/components/profile/components/utils/certification.ts
  client/src/components/profile/profile.test.tsx
  client/src/components/profile/profile.tsx
  client/src/pages/email-sign-up.tsx
  client/src/pages/learn.tsx
  client/src/redux/donation-saga.test.js
  client/src/redux/failed-updates-epic.test.js
  client/src/redux/fetch-user-saga.js
  client/src/redux/index.js
  client/src/redux/prop-types.ts
  client/src/redux/selectors.js
  client/src/redux/settings/settings-sagas.js
  client/src/redux/types.ts
  client/src/templates/Challenges/components/hotkeys.tsx
  client/src/templates/Challenges/components/shortcuts-modal.tsx
  client/src/templates/Introduction/components/cert-challenge.tsx
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/ajax.ts
  e2e/username-change.spec.ts
Labels: platform: learn, scope: tools/scripts

#61545 fix(curriculum): remove videos from React fundamentals lecture blocks
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e3a9cc78faaf4248d335.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e867bbf41cc5b11648c4.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e86f590727c5e7e9ec5e.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e879c78ee6c61db25b90.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e88cc46e6dc679420040.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/674ba6876f7ada867135bb95.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/6734e3ceee2da4b0301719b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500abfe36cd015b67b1b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500b41af8500191febedc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500bfe1f41601c1ddb1a2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61552 chore(curriculum): remove video from Regular Expressions lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733aad43b3ebff588a26fb5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733c5ba834ded4bb067e67c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733c5c549775c4be710237c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733c5d0048bb74c18431296.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733c5dc74176e4c496d09e6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733c5e54e3a154c8078ed48.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-regular-expressions/6733c5f20cc9584cada942a4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61548 fix(curriculum): remove video from Absolute and Relative Units lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-relative-and-absolute-units/672aa7194614b55c16b879a1.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-relative-and-absolute-units/672bb7d659f0089377a91eab.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-relative-and-absolute-units/672bb7f08b58df93ed2a8768.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-relative-and-absolute-units/672bb83c3a9906945536cff2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-relative-and-absolute-units/672bb851b068e3954a05b9b1.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61546 fix(curriculum): remove video from Computer Basics lectures
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672aa5bd69657d56ab49ec8a.md
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672ac96491845f43ea9a26d7.md
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672ac9705b07a64439b73b59.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672aa578a2129554d4675049.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab82c1a9bbd0e3aabc39d.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab83c4297910eade53c2e.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab849aa1ef70eefd29364.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab8573f32480f192aaae1.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672aa58c389eb9565978495d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac37104dc2530a769e6a4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac39a22b0cc30eb8fd65e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac3c5d0e9fd31835ff772.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac3f129efbf327742eb33.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac403a9ba7732b31c6480.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61557 fix(curriculum): remove video from Semantic HTML videos
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/67298243760ae980de5266db.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672985445d7da807c6b4f406.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672990ecf71a852804ababe7.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-nuanced-semantic-elements/6729959bf9c8e835f46b3f78.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-nuanced-semantic-elements/672995ac85fd943657c2ede5.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-nuanced-semantic-elements/672995bda6c67e369aaf8588.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-specialized-semantic-elements/672995ffdfd2f337f5f215f8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-specialized-semantic-elements/6729960ed6e2ca3825940e97.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-specialized-semantic-elements/6729963b1ab11638753cf082.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995c9e6f69436dbcccc79.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995d673bd3237200b9e7c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995e43674fb3775b9ec5d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-text-and-time-semantic-elements/672995f16ed97837b365a9f6.md
Labels: status: waiting review, scope: curriculum

#61490 fix(api): lowercase email address before find
  api/src/routes/helpers/auth-helpers.test.ts
  api/src/routes/helpers/auth-helpers.ts
  api/src/routes/protected/settings.ts
Labels: status: waiting review, platform: api

#61571 fix(curriculum): remove videos from working with loops lecture block
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops/67329f7f3d1bd75c17896c66.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops/6732c04638420641dcca2e6e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops/6732c05595ca7d422b9e55ff.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops/6732c06654ea3442724284fe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops/6732c07238355642a9781dfb.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61575 chore(curriculum): rm vids for css positioning lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672aa86da9937560d3dfe3d6.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672c3a84fb8d4613776cc99e.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672c3a8fac7c5613b4bb75de.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672c3a9d32c56113fcaedf24.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-floats-and-positioning-in-css/672c3aa9bc3a481425cb52b3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61573 chore(curriculum): rm vids from classes & recursion lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/6733affc29df1304e2c97e88.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403ca2bb16658309e3632.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403d2aa52d8586a14a269.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403dbf5c9835898632c84.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-recursion-and-the-call-stack/6733b02d1e556005a544c5e3.md
Labels: scope: curriculum, full stack cert

#61576 chore(curriculum): rm vids from css colors lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672aa7678e05e35d42e33522.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc4ff5e7a4bbdee8ba013.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc51370c789be459186b4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc523324694be91d90d96.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc5344330d7bee2f9c2ed.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-colors-in-css/672bc544196a17bf28594e64.md
Labels: scope: curriculum, full stack cert

#61572 chore(curriculum): rm vids from diff. types of testing lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d1d844d84c8b540297bbe4.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff1996e4ae9e67170502.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff33452ce69ea169c872.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff4231359d9f21d1437a.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff5f14f6ce9f6d3cbe22.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff6f069dce9feacb7d25.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff7a461f62a03e3d1861.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff887d2583a079c02e78.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db30fedfa0b22a1a2a570c.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db31349f3ace2c5c803c33.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db3180830cf02eb662ecaf.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db31c7ed46f430ce6c2da6.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db3238375ff8340ee1ff90.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db3248eceee03588a22b8f.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67db32542c7075361b06024c.md
Labels: scope: curriculum, full stack cert

#61597 fix(curriculum): remove video from Attribute Selectors and Responsive Design lectures
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672aa8873d4e25618870764f.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672cf05c3ad533eabe1e8197.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672cf06c8f46f9eb04db9832.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672cf07a2b9796eb49719e03.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-attribute-selectors/672aa840de72b3607bba4bed.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-attribute-selectors/672c37498952920879c43de9.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-attribute-selectors/672c375857128708d04d0e22.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61590 fix(curriculum): remove video from Lists, Links, Background and Borders lectures
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672aa6441bcd3758e9f52ae0.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b951b1bf78038b1a2a0e7.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b952d3a5c603908841971.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b9538c25634394ceb7b8f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672aa669960f6a596081fcad.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98be592cfb451f651451.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98cd77b6b7456b6ef2de.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98db3bcdd545ab3b3c73.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61589 chore(curriculum): rm vids from styling forms & box model lectures
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-styling-forms/672aa791227e755da64cf240.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-styling-forms/672bc9d9eecb65cdf63491de.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-styling-forms/672bca660aa9f9ce9b2b2787.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672aa7e03c2e365e906e5733.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672bcc8ccc976fd791610f43.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672bcc9c4a6dd6d7dd3e6357.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672bccae6e556cd81cef6af2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672bccc8ea33bad87abb3c56.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672bccdb8f1823d8c60f914c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-transforms-overflow-and-filters/672bccebe1fc82d911c3f078.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61581 fix(curriculum): remove video from React State, Hooks, and Routing lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-effects-and-referencing-values-in-react/67d1a82dad69dc95546e5f0d.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-effects-and-referencing-values-in-react/67d1ec6711b62f1cc5cc52e1.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-effects-and-referencing-values-in-react/67d1ec87b34cee1d9219f7e9.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms-in-react/67d1a928ae86929a85c1bb6b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-forms-in-react/67e2a4cab99d4e8bc795e99d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1a3fea729e274dc33d04d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1eaf77f510e15dfed7c14.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1eb6929e68117faa6717f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1ebb595f4f619c0e35d1a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1ebcab4e0521a6654bb64.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61585 fix(curriculum): remove video from Date, Audio and Video lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733ab12b60bd7f6b2b0b0c0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8203da84a08a0f5eab4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d829d983c008d2db41a1.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d83630e76f08ff49e6dc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d852175df50937f06061.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8606fb893099e3d0df3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dates/6733aafb9c0802f66cc1e056.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dates/6733d608654c17868e01c0a2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61586 chore(curriculum): rm vids from working with objects lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/67329f737126b75bcb949e13.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b721eb98f224868b44a6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b72961f94324bd6390de.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b73509f71f24ef05e86e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b73d25cc01251b778043.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b749b8aad125523dcda5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b758194c97257d23fc72.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b76c03f7d825c7fc74ee.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b77adf9de12617a2dbb3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b79c6aa77826855a3f11.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61584 fix(curriculum): remove video from Maps and Sets, and LocalStorage lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ab64775d35f78f5238fe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff4a9319c8486750886c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff5814129c48b4fca88e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff6f02dde548ebe4a6d5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff8d06376149474a0c0d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff9d2fb9c449af68ad99.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffacd0ad1e49ec2af051.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffb59c62ee4a23522efe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffc7353af34a61ed683a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733ab269b378bf724c9ac71.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733dd694f91d61a5272b4ac.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61461 feat(curriculum): add nano lecture
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-nano/index.md
  curriculum/challenges/_meta/lecture-working-with-nano/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-nano/688170ebc58d8d3b1ae493a2.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, status: waiting update, platform: learn, scope: i18n, full stack cert

#61564 chore: remove videos from html fundamental block
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/670803abcb3e980233da4768.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/6708382cf088b216580a9ff1.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/67083868d5fdcb17bf8c14bd.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/670838b10ee87a18e5faff62.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/67083952f800051a8a21fcfd.md
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/6708396caa00e11b597b3365.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61471 feat(curriculum): add working with sql lecture scripts
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-sql/index.md
  curriculum/challenges/_meta/lecture-working-with-sql/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-sql/68816f386bc30d36f59e9563.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-sql/68817041f57ce139bef36541.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-sql/6881705cd9860639e98d639d.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, full stack cert

#61608 Revert "fix(api): use lowercase email address (#61490)"
  api/src/routes/helpers/auth-helpers.test.ts
  api/src/routes/helpers/auth-helpers.ts
  api/src/routes/protected/settings.ts
Labels: platform: api

#61614 chore(curriculum): rm vids from async and functional progr. lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/6733b072bd8f5b06ccdbd9e2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/67340798c2c1776709d8a5fe.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407a223891b6734563c89.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407be6af21d6766ed4b96.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407ca21117a67cf9521ca.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407d56c3dce67fa97969b.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407e02bcf0d682b9a49a9.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407eb10ca9d68634e81d9.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-functional-programming/6733b0451d6be0065430b418.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-functional-programming/6734061fe116df617a564a37.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61421 chore: Remove videos from Welcome Message from Quincy Larson lecture block
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734ddabad59e593a49afafe.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734e2c5780912abd874e79c.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734e2dcb965e5ac0ea38e0f.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6763500bd5a85d5898cc21a9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61620 chore(curriculum): rm vids from JS form validation lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733aae9d25004f60d1e86f2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3a33abdd27cd562bdf2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3ab69e94b7df7ee91b0.md
Labels: status: waiting review, scope: curriculum

#61551 fix(curriculum): remove all instances of lecture videos from English intro.json file
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#61544 fix(curriculum): remove videos from working with links lecture block
  curriculum/challenges/english/25-front-end-development/lecture-working-with-links/6716744f7245947a3dd60009.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-links/671682dd88e461a8e2620f38.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-links/6716830dbaf95da9564f2e3b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-links/67168323932391a9ee0d3a9e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61352 fix(api): shuffle generated exam answers each time
  api/prisma/schema.prisma
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/utils/exam-environment.test.ts
  api/src/exam-environment/utils/exam-environment.ts
Labels: status: waiting review, platform: api

#61262 feat(curriculum): create a heart icon workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-build-a-heart-icon/index.md
  curriculum/challenges/_meta/workshop-build-a-heart-icon/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-build-a-heart-icon/686d749d6f32f708fdf2b7ad.md
  curriculum/challenges/english/25-front-end-development/workshop-build-a-heart-icon/686daa7ed79ceacd0b264e7d.md
  curriculum/challenges/english/25-front-end-development/workshop-build-a-heart-icon/686daa7ed79ceacd0b264e7e.md
  curriculum/challenges/english/25-front-end-development/workshop-build-a-heart-icon/686daa7ed79ceacd0b264e7f.md
  curriculum/challenges/english/25-front-end-development/workshop-build-a-heart-icon/686daa7ed79ceacd0b264e80.md
  curriculum/challenges/english/25-front-end-development/workshop-build-a-heart-icon/686daa7ed79ceacd0b264e81.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61628 chore(curriculum): rm vids from performance lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d1d6af27858c4f487d3f4c.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f6a63acd9e781b4b5061.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f6b17844ae7898583eb3.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f6cea4916d78d5a27ad3.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f6e2836565795d789ab7.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f70278179479d3eed390.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f7183a537d7a4908a9ff.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f738dcef5d7abfe4243a.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f759154eac7b4d5cb1bf.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f778a856c37bd31c5022.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f7a69809807c59a44002.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f7cf63fafe7d20270498.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f7e9d895bf7dcef00408.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f80313efe77e43182e86.md
Labels: status: waiting review, scope: curriculum
