Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2025-06, with the labels that each got.

#57576 chore(api): migrate to fastify v5
  api/package.json
  api/src/app.ts
  api/src/plugins/csrf.test.ts
  api/src/plugins/mailer.test.ts
  api/src/plugins/mailer.ts
  api/src/routes/protected/user.test.ts
  api/src/routes/public/signout.test.ts
  api/src/server.test.ts
  docker/api/Dockerfile
  docker/web/Dockerfile
  package.json
  patches/@fastify__csrf-protection@6.4.1.patch
  patches/@fastify__oauth2@7.8.1.patch
  pnpm-lock.yaml
Labels: status: waiting review, platform: api

#60647 fix(curriculum): misaligned titles
  curriculum/challenges/_meta/lecture-working-with-code-editors-and-ides/meta.json
  curriculum/challenges/_meta/review-react-basics/meta.json
Labels: status: waiting review, scope: curriculum

#60659 Fix(curriculum): replace introduction sentence
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6734e2dcb965e5ac0ea38e0f.md
  curriculum/challenges/english/25-front-end-development/lecture-welcome-to-freecodecamp/6763500bd5a85d5898cc21a9.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1eb6929e68117faa6717f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1ebb595f4f619c0e35d1a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-state-and-responding-to-events-in-react/67d1ebcab4e0521a6654bb64.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60580 fix(curriculum): add section element to Semantic HTML Review
  curriculum/challenges/english/25-front-end-development/review-semantic-html/671a83934b61f64cefe87a61.md
Labels: scope: curriculum, full stack cert

#60677 fix(curriculum): Replace last question.
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acc03c257524d6a5151e8.md
Labels: scope: curriculum

#60666 fix(curriculum): Use specific asserts in cat painting
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646df0cf26413a7b35e4b8b3.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646df1d1aa4ae57bdf1869c4.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dffd8ce9ac77ec1906f2e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60689 fix(curriculum): allow newlines in move review page tests
  curriculum/challenges/english/25-front-end-development/lab-movie-review-page/67ef8f695db52583424bd118.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59737 feat: add python lecture placeholders for first two sections
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-introduction-to-python/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-loops-and-sequences/index.md
  curriculum/challenges/_meta/lecture-introduction-to-python/meta.json
  curriculum/challenges/_meta/lecture-working-with-loops-and-sequences/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe81c9c6fd3714343a45ad.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8567f141d632afaeb71b.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8597975ea634042cad8f.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8599c83979345ff9a91a.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859a00971c34a23abd43.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859c1ab68734d7c666cb.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859e9d3b3635197781c8.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859f55cd33356e322fd3.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe85a1b634a335b18ae09a.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe85a3db9bad35f2b6a2bd.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/6839b2ddd01ef657b6bf3b76.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/6839b3295323f563efc68f5c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/67fe8399c41a212871025f96.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e38cdf93ee5a00c79676.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e3a99ba37f09b9d0059b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e3ea328b630cf5fca9ac.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e41fe8dac60f11f583db.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e4b003571c149bcda122.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e4d62ae09d1661e4cf9b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e4ef24827717b838f54d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/683d6a3fe8c1060ffb1f9b78.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60697 fix(curriculum): correct typo in Lightbox Viewer lab intro
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#60705 chore: temporary skip tests to keep CI stable
  tools/scripts/build/build-external-curricula-data-v2.test.ts
Labels: scope: tools/scripts

#60709 fix(curriculum): change "what is HTML" lecture title
  curriculum/challenges/_meta/lecture-what-is-html/meta.json
Labels: status: waiting review, scope: curriculum, full stack cert

#60723 chore(curriculum): remove before user code in RPS game
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d085d37aeffce2ef786de3.md
Labels: scope: curriculum

#60728 chore(curriculum) : update Project Euler tests with better assertions
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-1-multiples-of-3-or-5.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-10-summation-of-primes.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-2-even-fibonacci-numbers.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-3-largest-prime-factor.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-4-largest-palindrome-product.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-5-smallest-multiple.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-6-sum-square-difference.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-7-10001st-prime.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-8-largest-product-in-a-series.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-1-to-100/problem-9-special-pythagorean-triplet.md
Labels: status: waiting review, scope: curriculum

#59633 feat(curriculum): add merge sort workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-merge-sort/index.md
  curriculum/challenges/_meta/workshop-merge-sort/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/655cd899f8de09431eabb40c.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6564aee9c077774ea49c3faf.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656627b47bd2d2a4afbc945d.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656639771fed09b5c0e8fe71.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656680b0fc79f2c38a34d90e.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656702f8b4cbd8cbf0a433c6.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656706afd65547d22bee0b68.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656707e11e671ed54c96f7ec.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656709e50ed928da35260276.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/65670d1ef177e7e2b76d9528.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/656710d1e0ec62253426db24.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569b0a63423f65dd30888df.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569b19d31a09b65b4bc390a.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569b20f829b7e69d43c232a.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569b4e0bd29d17d4b53b16c.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569b743630ee592a65a7e2f.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569c05b9166f9d5bb36c09e.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569c166d708dcdf7c8fd34c.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569c1aeecaf95e25a3e2573.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6569c2cbf6c993ea8cd85682.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6577254891048c8f2c19e961.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/6577562501feabdf0984a184.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/657823a9f4f372518614c8b7.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/657f3a661730891aa64f3568.md
  curriculum/challenges/english/25-front-end-development/workshop-merge-sort/657f59751d5a5c9b069ae0f3.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60735 fix(curriculum): missing preposition
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e867bbf41cc5b11648c4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60739 fix(curriculum): typo in lecture working with loops and sequences
  curriculum/challenges/_meta/lecture-working-with-loops-and-sequences/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops-and-sequences/6839e38cdf93ee5a00c79676.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60738 fix(curriculum): feedback text in “Learn Greetings in Your First Day at the Office” lesson
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/6537e6ece93e5724eeb27c54.md
Labels: status: waiting review, scope: curriculum

#60553 fix(curriculum): fix ups and remove quote marks in Programming Vocabulary
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65dab20c41a21a817084ecdb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65dacf1ea93489b07bbe48d8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/658197767dc3fc387439e067.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/6581a32ee97531393b34b783.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bcaea19405d1c6f2accb9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/65a85418ea38cdc0a334dab2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662b7d0fda698d0d84ac67f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662b803fd9ddc00e943e350e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662b81901b178a0fd33f093c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662b83b12cab3910d87fdebc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662b871f32087113511f262a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633abfc050e82a29a76dd42.md
Labels: status: waiting review, scope: curriculum, english for developers

#60765 fix(client): typo in top contributer badge component
  client/src/assets/icons/top-contributor-badge-emblem.tsx
  client/src/components/profile/components/camper.tsx
Labels: status: waiting review, platform: learn

#60762 fix(curriculum): discrepancy in Build a Curriculum Outline
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823d6244511f252c8300eed.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823e637c1c0ed56f781b4fc.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60714 refactor: move superblock folder maps to config
  curriculum/utils.js
  shared/config/curriculum.ts
  tools/challenge-auditor/index.ts
  tools/challenge-editor/client/src/components/editor/editor.tsx
  tools/challenge-editor/client/src/utils/block-name-translator.ts
  tools/challenge-helper-scripts/fs-utils.ts
Labels: status: waiting review, scope: tools/scripts

#60784 fix(curriculum): grammar and wording in multiple challenges
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da4b16937be43ba24c63d.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da4b16937be43ba24c63d.md
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef11f75254548672d998c.md
Labels: status: waiting review, scope: curriculum

#60798 fix(curriculum): typo in Code Related Concepts and Terms
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6632fe1b6548f7887488a767.md
Labels: status: waiting review, scope: curriculum

#60753 AB testing skill based landing page top
  client/config/growthbook-features-default.json
  client/i18n/locales/english/translations.json
  client/src/components/landing/components/landing-top-b.tsx
  client/src/components/landing/components/landing-top.tsx
  client/src/components/landing/components/ui-images.tsx
  client/src/components/landing/landing.css
  client/src/pages/index.tsx
  e2e/landing.spec.ts
Labels: status: waiting review, scope: UI, platform: learn, scope: tools/scripts

#60805 chore(curriculum): change to US spelling
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672ac96491845f43ea9a26d7.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60736 chore: create placeholder files for python lectures
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-classes-and-objects/index.md
  client/src/pages/learn/full-stack-developer/lecture-searching-and-sorting-algorithms/index.md
  client/src/pages/learn/full-stack-developer/lecture-understanding-abstraction/index.md
  client/src/pages/learn/full-stack-developer/lecture-understanding-dynamic-programming/index.md
  client/src/pages/learn/full-stack-developer/lecture-understanding-error-handling/index.md
  client/src/pages/learn/full-stack-developer/lecture-understanding-graphs-and-trees/index.md
  client/src/pages/learn/full-stack-developer/lecture-understanding-inheritance-and-polymorphism/index.md
  client/src/pages/learn/full-stack-developer/lecture-understanding-object-oriented-programming-and-encapsulation/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-common-data-structures/index.md
  curriculum/challenges/_meta/lecture-classes-and-objects/meta.json
  curriculum/challenges/_meta/lecture-searching-and-sorting-algorithms/meta.json
  curriculum/challenges/_meta/lecture-understanding-abstraction/meta.json
  curriculum/challenges/_meta/lecture-understanding-dynamic-programming/meta.json
  curriculum/challenges/_meta/lecture-understanding-error-handling/meta.json
  curriculum/challenges/_meta/lecture-understanding-graphs-and-trees/meta.json
  curriculum/challenges/_meta/lecture-understanding-inheritance-and-polymorphism/meta.json
  curriculum/challenges/_meta/lecture-understanding-object-oriented-programming-and-encapsulation/meta.json
  curriculum/challenges/_meta/lecture-working-with-common-data-structures/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-classes-and-objects/68420bd261d0d35f61922d4b.md
  curriculum/challenges/english/25-front-end-development/lecture-searching-and-sorting-algorithms/68420c70e4bfe26d52b780dc.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-abstraction/68420c1dfb941767044c5a31.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-dynamic-programming/68420c7fb5b9e36eefb9e98f.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-error-handling/68420bacf395f15cd73f8118.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-graphs-and-trees/68420c5ac17cf26ab2a4ca3c.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-inheritance-and-polymorphism/68420c0610b61d64fe2cfd12.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-object-oriented-programming-and-encapsulation/68420be9af9d89620af7944a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-data-structures/68420c314cdf5c6863ca8330.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#60794 refactor(challenge-helpers): use new superBlockToFolderMap directly
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/create-quiz.ts
  tools/challenge-helper-scripts/fs-utils.test.ts
  tools/challenge-helper-scripts/fs-utils.ts
Labels: status: waiting review, scope: tools/scripts

#60740 feat: add build a number generator lab to python chapter
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-number-pattern-generator/index.md
  curriculum/challenges/_meta/lab-number-pattern-generator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-number-pattern-generator/6842a6cd9836f0114a5b7a8a.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, full stack cert

#60779 Fix(curriculum): remove index key.
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/67f8fd20d0afc3e03122453a.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/67f90485c192d92ba3ba7e34.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/67f90574263ebf363f9edd1d.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/6813e49f0a3ec06c1e80c93b.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/6813ee1963b142d3cce0889c.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/6813f04ebe7476ed447c4c89.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/6813f4dc94d4a31c5702f594.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/6813f677aa1f742ec3808903.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/68140ab94fd0ea19c62ca87e.md
Labels: scope: curriculum, status: waiting update

#60818 chore(curriculum): update cat painting steps 11-14 to use specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6476fc5cf14b276e6d04e82a.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6476fd4213318f6ee211028a.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/64770351e8586671ec0911f0.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6477062778c85972eb648030.md
Labels: status: waiting review, scope: curriculum

#60823 chore(curriculum): update steps 2,8,9,10 of cat painting workshop to use specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6476f5c17f99146071ee884c.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6476f7a4827bcc61682f2347.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6476fb7cbaafa36d65e9cf35.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/647d855ac12cd436059acd39.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60817 chore(curriculum): replace assert calls in cat painting steps 78-80
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646f4fe12b7985232bf475a5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646f507e4d1cd323f17db4fc.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646f516dbfc1342495515625.md
Labels: status: waiting review, scope: curriculum

#60826 chore: rename workflow files
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-client.yml
Labels: scope: tools/scripts

#59861 feat(curriculum): add second set of quiz questions for Responsive Web Design
  curriculum/challenges/english/25-front-end-development/quiz-responsive-web-design/66ed9034f45ce3ece4053ebd.md
Labels: scope: curriculum, full stack cert

#60710 feat(curriculum): release react + perfomance + testing FSD modules
  curriculum/challenges/_meta/lab-color-picker/meta.json
  curriculum/challenges/_meta/lab-currency-converter/meta.json
  curriculum/challenges/_meta/lab-event-rsvp/meta.json
  curriculum/challenges/_meta/lab-tic-tac-toe/meta.json
  curriculum/challenges/_meta/lecture-react-strategies-and-debugging/meta.json
  curriculum/challenges/_meta/lecture-routing-react-frameworks-and-dependency-management-tools/meta.json
  curriculum/challenges/_meta/lecture-understanding-effects-and-referencing-values-in-react/meta.json
  curriculum/challenges/_meta/lecture-understanding-performance-in-web-applications/meta.json
  curriculum/challenges/_meta/lecture-understanding-the-different-types-of-testing/meta.json
  curriculum/challenges/_meta/lecture-working-with-data-fetching-and-memoization-in-react/meta.json
  curriculum/challenges/_meta/lecture-working-with-forms-in-react/meta.json
  curriculum/challenges/_meta/lecture-working-with-state-and-responding-to-events-in-react/meta.json
  curriculum/challenges/_meta/quiz-react-forms-data-fetching-and-routing/meta.json
  curriculum/challenges/_meta/quiz-react-state-and-hooks/meta.json
  curriculum/challenges/_meta/quiz-testing/meta.json
  curriculum/challenges/_meta/quiz-web-performance/meta.json
  curriculum/challenges/_meta/review-react-forms-data-fetching-and-routing/meta.json
  curriculum/challenges/_meta/review-react-state-and-hooks/meta.json
  curriculum/challenges/_meta/review-testing/meta.json
  curriculum/challenges/_meta/review-web-performance/meta.json
  curriculum/challenges/_meta/workshop-fruit-search-app/meta.json
  curriculum/challenges/_meta/workshop-shopping-list-app/meta.json
  curriculum/challenges/_meta/workshop-superhero-application-form/meta.json
  curriculum/challenges/_meta/workshop-toggle-text-app/meta.json
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, full stack cert

#60828 feat: add test for specific behaviour
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
Labels: scope: curriculum

#60318 feat(client): integrate new test runner
  client/serve/serve.json
  client/src/templates/Challenges/rechallenge/builders.ts
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Challenges/utils/frame.ts
  client/tsconfig.json
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a2509ba163e020bb9d84ea.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62b46e3a8d4be31be5af793d.md
  curriculum/challenges/english/25-front-end-development/lab-markdown-to-html-converter/66f55eac933ff64ce654ca74.md
  curriculum/challenges/english/25-front-end-development/lab-video-compilation-page/669e81368e52b3a5c35a2dc5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa47e415d88263d349a10.md
  curriculum/test/stubs/index.html
  curriculum/test/test-challenges.js
  e2e/output.spec.ts
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/frame-runner.ts
  tools/client-plugins/browser-scripts/package.json
  tools/client-plugins/browser-scripts/python-test-evaluator.ts
  tools/client-plugins/browser-scripts/test-evaluator.ts
  tools/client-plugins/browser-scripts/test-runner.ts
  tools/client-plugins/browser-scripts/webpack.config.cjs
Labels: status: waiting review, scope: curriculum, platform: learn, scope: tools/scripts

#60685 feat: add superblock intro ab test
  client/i18n/locales/english/translations.json
  client/src/assets/icons/dumbbell.tsx
  client/src/templates/Introduction/components/super-block-accordion.css
  client/src/templates/Introduction/components/super-block-intro.tsx
Labels: status: waiting review, platform: learn, scope: i18n

#60804 fix(curriculum): inconsistent value attribute between steps 9 to 12 in superhero application form
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c9.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590cb.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60676 fix(curriculum): add explanation of name attribute to review pages
  curriculum/challenges/english/25-front-end-development/review-html-tables-and-forms/671a872c17382a582e455c4c.md
  curriculum/challenges/english/25-front-end-development/review-html/671a883163d5ab5d47145880.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60837 fix: improve step 2 instruction and fix indentation in profile card workshop
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef2d357676e50e4691658.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60729 chore(curriculum): add introduction to python transcripts
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/lecture-introduction-to-python/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe81c9c6fd3714343a45ad.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8567f141d632afaeb71b.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8597975ea634042cad8f.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe8599c83979345ff9a91a.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859a00971c34a23abd43.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859c1ab68734d7c666cb.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859e9d3b3635197781c8.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe859f55cd33356e322fd3.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe85a1b634a335b18ae09a.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/67fe85a3db9bad35f2b6a2bd.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/6839b2ddd01ef657b6bf3b76.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/6839b3295323f563efc68f5c.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-python/68480f431e8568b2056b140b.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60861 fix(client): add dom fallback runner
  client/src/templates/Challenges/utils/build.ts
Labels: platform: learn

#60863 feat(client): add coming soon module intros
  client/i18n/locales/english/intro.json
  client/src/assets/chapter-icon.tsx
  client/src/templates/Introduction/components/super-block-accordion.css
  client/src/templates/Introduction/components/super-block-accordion.tsx
  curriculum/challenges/_meta/quiz-nano/meta.json
  curriculum/challenges/_meta/review-nano/meta.json
  curriculum/challenges/english/25-front-end-development/quiz-nano/66f1b03b922a53cb231e1c0d.md
  curriculum/challenges/english/25-front-end-development/review-nano/6724e49b3e568c23436db428.md
  curriculum/superblock-structure/full-stack.json
  shared/config/chapters.ts
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#60581 chore(curriculum): add redirects to lecture blocks
  client/serve/serve.json
Labels: status: waiting review, platform: learn

#60878 fix(env): remove unused keys
  api/src/app.ts
  sample.env
Labels: platform: api

#60877 fix(curriculum): renamed forecast->weather in Build a Weather App
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
Labels: scope: curriculum

#59958 feat(curriculum): adding python basics review content
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-python-basics/67f39b40deaec81a3e40e0c5.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60880 fix(client): show ab test for fsd only
  client/src/templates/Introduction/components/super-block-intro.tsx
Labels: status: waiting review, platform: learn

#60886 fix(curriculum): modify description in Recipe Tracker workshop
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5631.md
Labels: status: waiting review, scope: curriculum

#60906 fix(curriculum): update steps 15-16 in fruit search app workshop
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/67f90574263ebf363f9edd1d.md
  curriculum/challenges/english/25-front-end-development/workshop-fruit-search-app/6813e49f0a3ec06c1e80c93b.md
Labels: scope: curriculum

#60913 test(external curricula): run test on all chapters and modules
  tools/scripts/build/build-external-curricula-data-v2.test.ts
Labels: scope: tools/scripts

#60506 feat: add daily challenge seed script
  curriculum/challenges/english/99-dev-playground/daily-coding-challenges-python/python-challenge-20.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/daily-challenges/README.md
  tools/daily-challenges/helpers.ts
  tools/daily-challenges/package.json
  tools/daily-challenges/sample.env
  tools/daily-challenges/seed-daily-challenges.ts
  tools/daily-challenges/types.ts
  tsconfig.json
Labels: status: waiting review, scope: curriculum, scope: tools/scripts

#60766 fix(curriculum): update the tests and instructions of the step 24 workshop accessibility quiz challenge
  curriculum/challenges/english/25-front-end-development/workshop-accessibility-quiz/614394fb41985e0d2012a93e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60940 fix(curriculum): missing note in JS A11y
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#60933 fix(curriculum): allow for new lines in element text in Design a Movie Review Page
  curriculum/challenges/english/25-front-end-development/lab-movie-review-page/67ef8f695db52583424bd118.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60955 chore(curriculum): use specific assert methods in workshop tests steps 2-3-4
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143862a5e54455d262c212e.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143869bb45bd85e3b1926aa.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6165d3b702a5d92ad970b30c.md
Labels: scope: curriculum

#60987 fix(curriculum): correct 'such us' to 'such as'
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-semantic-html/672995d673bd3237200b9e7c.md
Labels: status: waiting review, scope: curriculum

#60979 chore(curriculum): update steps 5–7 in magazine workshop to use specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-magazine/614387cbefeeba5f3654a291.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/614e0e588f0e8a772a8a81a6.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6169cd8a558aa8434e0ad7f6.md
Labels: status: waiting review, scope: curriculum

#60999 fix(api): duplicate reply on error in /daily-coding-challenge-completed
  api/src/routes/protected/challenge.ts
Labels: platform: api

#60529 fix(a11y): add editor name to editor aria-label
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/editor.tsx
  e2e/utils/editor.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#60948 Test adding transcript tabs to lectures
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/challenge-transcript.tsx
  client/src/templates/Challenges/generic/show.css
  client/src/templates/Challenges/generic/show.tsx
Labels: scope: UI, platform: learn, scope: i18n

#60968 fix(curriculum): remove 'both' from hotel feedback form step 24 instruction
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a962954f4e0d76223b37ed.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60927 chore(curriculum): change to US spelling Fulfill
  curriculum/challenges/english/25-front-end-development/lab-mood-board/673b3d6b7ef7318eef926d5a.md
Labels: status: waiting review, scope: curriculum

#61023 fix(curriculum): typo in Troubleshoot Github
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bc0f87049dc159ce63187.md
Labels: scope: curriculum

#61039 fix(curriculum):updated test cases in gradebook-app
  curriculum/challenges/english/25-front-end-development/lab-gradebook-app/66bb6a9c2dd58b73cd759034.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60919 chore(deps): upgrade @freecodecamp/ui to v4.2.0
  client/package.json
  client/src/components/settings/__snapshots__/honesty.test.tsx.snap
  client/src/components/settings/delete-modal.tsx
  client/src/components/settings/reset-modal.tsx
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn

#61022 fix(client): add html media lecture redirections
  client/serve/serve.json
Labels: platform: learn

#61003 feat(api): allow HOME_LOCATION origin in development
  api/src/plugins/auth0.test.ts
  api/src/routes/public/signout.test.ts
  api/src/utils/allowed-origins.ts
  api/src/utils/redirection.test.ts
  e2e/signout-modal.spec.ts
Labels: platform: api, scope: tools/scripts

#61042 fix(curriculum): add missing transcript for React components video
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e879c78ee6c61db25b90.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61048 chore: update date-fns and add date-fns-tz
  api/package.json
  client/package.json
  client/src/components/profile/components/heat-map.tsx
  pnpm-lock.yaml
Labels: status: waiting review, platform: api, platform: learn

#60715 fix(curriculum): change question, answer and distractor in quiz sematic html
  curriculum/challenges/english/25-front-end-development/quiz-semantic-html/66ed903cf45ce3ece4053ebe.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61025 feat(curriculum): add review tasks to block 20 of the A2 curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff57ce568cf1ed9702fbf.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/660014d3f5b02038de6ac35c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/66001d8b878f5141214f2d77.md
Labels: status: waiting review, scope: curriculum, english for developers

#61026 feat(curriculum): add review tasks to block 21 of the A2 curriculum
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/660686845b5e788def3527ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606906b3f31fc953f1ee3b6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-analyze-code-documentation/6606989c34f0be9d141130b1.md
Labels: status: waiting review, scope: curriculum, english for developers

#61030 feat(curriculum): add review tasks to block 22 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-share-progress-and-accomplishments/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122a6093ba082abb2cd136.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122ab30afc8e2b1f42b78a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66122b7d6f1f182bb1fe0338.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661253cc9fb5ee2d01a0d6a8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661254cf9474ed2da90fec1b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66125530a1a9e92e0e08d594.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661255c3b6ea612e984a62b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66125666f8437c2f3616045e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661256fe823f142fb9858beb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66126744e24b0a31255718a7.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661267c5ac355931ab1f933d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612693507cbd43269ae64e0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661269c4ccdd4132db7517b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66126a21821998335a86a34b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661271c2b16aff3870604148.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612727ec0a11b390b8e92cb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612752978bcc239ae7b60da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612757ffdc16b3a22b08427.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612762a058bb43b960e91ca.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127678c88f183c0312d8e8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127755a52efa3c9a73065b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661277970c67233d02f138de.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661278160653ee3d9040ed68.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/66127850c4415c3df1b4e99a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612792bc77de13e8f2af3ad.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/6612797faf03663ef83f4459.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/661279c8d3bf0f3f6f23f21f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/685a68802f25930d4837e1ac.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-progress-and-accomplishments/685a6b1bbaea710fbdf98bc4.md
Labels: status: waiting review, scope: curriculum, english for developers

#61033 feat(curriculum): add review tasks to block 23 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ac949f89655d25e9d43c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ad58c102e15df06c96d5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614ae3e02cc465ebee68851.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b1f8ee220c5f79df89b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b2714761f45fe3b17294.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b326f956cf605cd03775.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b3e52a6aca60bc3417fb.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b4a8ff3874612a8df77c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b53003e92d6182e98978.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614b572f81cb561d4ac39da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614be2a21b4426bfcd25919.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614be98fc11336c52aa3093.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614befe8e1dc16ca27b7b65.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c03efeb2cb6d2227d0b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c0ec11b55c6d849fbe3a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c12f91d2286dcd1f0fe4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c1d0e9e1976e3b524435.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/6614c2262f754e6e85d2ff1a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/685a77009fc96d13f956ea7b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/685a7852682d74152ccb5769.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-updates-and-plans-for-tasks-and-projects/685a7945a1a632162f0931e4.md
Labels: status: waiting review, scope: curriculum, english for developers

#61064 feat(curriculum): add review tasks to block 24 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-express-agreement-or-disagreement/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661771a11af289d1ec5c72f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661772551b64ddd40c834b1e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661772f42e1412d5bfe4c655.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617962704224fe969a76811.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661796e4635cd3eb1c8c78a4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/661797b505f2d3ed4b170d74.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/66179829f664e3ee9b42ce5f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617994636fa13f16060b12b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617aea9ccdd68f7088368d1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617af3ab73475f87b53a59d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617afa03e1a7bf99f123c52.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b087df2220fcc00514ec.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b1efe920c2ffea40b54d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b23534265c00d6b800fd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b2b0388c600232500e28.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b34260704803d74a6e07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b3d0e2de65050f11351c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b41fe23fc0066e715317.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b494880f74079c400fa2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b500a7049808f3a2a593.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b53e5eda8e09c6c67d28.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b674eb480b0c8d3d6031.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b81046e7b11287a7bef8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617b9b4bb38f916a2c01f8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/6617bae50ecd231987654d2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/685c0ef9a6cecf06d8d8c463.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/685c0f39010fd807142e568b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-express-agreement-or-disagreement/685c0f71b4a0a007615071f2.md
Labels: status: waiting review, scope: curriculum, english for developers

#61087 feat(curriculum): add review tasks to block 27 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-provide-explanations-when-helping-others/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662637b4ae77ed48d6d5ba8d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263800f12d8d4a6edffdcd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263852d4e9534b53c82e2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263891f8b3f74c36cd90b4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662638ca74be054d04c448fa.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662639212dc5664e08ec05f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626396c2fd2604f117731b2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263a41ce552c514cb6fc3e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263aace1c84e52a2974049.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263b5ca3878d54811f9ac2.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66263d47baac2d5ad278e68c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66264a9e3e030663acc4109a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66264bc673d62766a8ab48bc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265cebc033f66a2a4451e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265d447926ae6b9e9af13e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265dd49cbab56d038d0d2e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265e0ac3bdc26ddf3525f5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265e4a43ec6d6e9ba7cc79.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265ec39f8cf36fe615bd11.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265f07ee69a670cc620d1e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/66265f3bb6ec0c7186e0c621.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/6626676b898b1d721834736a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/662668a5aa1437017755151d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/685d2a40955f7a0d9f5c81f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/685d2a6c1db06d0dd721af8b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-provide-explanations-when-helping-others/685d2a933f6ee10e354d4737.md
Labels: status: waiting review, scope: curriculum, english for developers

#60997 feat(curriculum): add review tasks to block 14 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-use-code-related-concepts-and-terms/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6632fe1b6548f7887488a767.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633008b3377e5894cf71629.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663301c3812e2e89c08dcc31.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633032bf786ff8a61b0c482.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66330444cf1ea28af44e980d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663308af5363be8c4a5c68b9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66330dac56ad868d51d5698c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66330fc6d2e3c38e148c8789.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66331263a35e868f3dade3de.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66331384245d028fd8b1be23.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663315286b7cff907e92ae25.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663316fdcce39d9144ae40cd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633203e58595e93ef54ba3b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633261bb572f2953f5abd13.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663350023c7cb898358af702.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633511c7b197798ad5fd703.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663352b4860f03995736b6cd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/663354f60aafd69a4c0138da.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66339d408258519c61151a64.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66339e21256f099cd722292f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/66339f1995bdea9d4aa28cd8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a14f17a4669e1c980d91.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a2a86218659eb77fb9a1.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a45ce837ac9f95394eab.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a64567c725a05a94b68f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633a97f928771a163b59745.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633aa9cf90591a1f63a431e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633abfc050e82a29a76dd42.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633ad387b6914a3313339b3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/6633ae85f1fb7aa3ca13234d.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/665632c4ace6cb00ab832023.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/685916f5a78e6c0f9dd7e751.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/685917530d8061101ef7e3f0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-code-related-concepts-and-terms/685917c4259afc10d195c229.md
Labels: status: waiting review, scope: curriculum, english for developers

#60998 feat(curriculum): add review tasks to block 15 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-discuss-tech-trends-and-updates/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663626ee2c3a803af8cc2fd6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66362781eb0d663b5eabc353.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636285e6fcb733bdffaa986.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636ebb50b24c83f130344f4.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636ee901c0de13ff4f02edc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f20df76124410fe597e9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f36bfde85f41809044c9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f47542d2a4421a433d8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f652561a9842e74b032a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f834a7b32443a43fa4e0.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6636f90f25a10b442185e3b8.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638478a5f79414a5126bca3.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384b3e267aef4c6daf5279.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384d37bfbd344d5c647fbd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66384eb6677d974e02af573b.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663855865f5d53510f9cd9a5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663856f8cf403151ac9d9e8a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/663897f00196a953f16499c6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638994f7dbcb3548e458202.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389a37bc8a4b5539eab451.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389c04cffc4f55e6e0f798.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389e09cec2fa569567b15a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/66389ee34417c057109ed5f6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a163d5757f57e5270598.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a290bc4a5458dd6ebf07.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a5aaf619a15a1c5cfe6f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a7713695f25abd3f3c02.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638a9a5dee1ac5b6a9db7d9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638aa72831d185bdac55c12.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6638abe5e8d43a5c7ed9d320.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/6859214362dab4169311ce7c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/685921b21282d316f55adc7f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-tech-trends-and-updates/685921ea5a8eb9174d88d209.md
Labels: status: waiting review, scope: curriculum, english for developers

#61000 feat(curriculum): add review tasks to block 16 of the A2 curriculum
  curriculum/challenges/_meta/learn-how-to-help-a-coworker-troubleshoot-on-github/meta.json
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bcaea19405d1c6f2accb9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/65b2af807f713c351c5b9435.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/65b2bd42ca24dd3ede91aa41.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/68592d428ac41a1dde67d16e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/68592d6448f6071e0e7bd902.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/68592d9757c73a1e6c1cfa77.md
Labels: status: waiting review, scope: curriculum, english for developers

#61077 fix(curriculum): Corrected Grammar in CSS Layouts and Effects Review Page
  curriculum/challenges/english/25-front-end-development/review-css-layout-and-effects/671a9311a289ae7fff25d88e.md
  curriculum/challenges/english/25-front-end-development/review-css/671a9a0a140c2b9d6a75629f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61055 fix(curriculum): allow optional semicolon in Card component return statement
  curriculum/challenges/english/25-front-end-development/workshop-reusable-profile-card-component/674ef11f75254548672d998c.md
Labels: status: waiting review, scope: curriculum

#61108 chore(curriculum): update setPowers instructions in Build Superhero App Form workshop
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/68149b101d905a6fc2fcd6d8.md
Labels: status: waiting review, scope: curriculum

#61069 chore(curriculum): add domain variety to email masking visible tests
  curriculum/challenges/english/25-front-end-development/lab-email-masker/66b205e6eacba4c4e54ea434.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61106 fix(curriculum): rename get-weather button id to get-weather-btn
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
Labels: status: waiting review, scope: curriculum

#61070 fix(curriculum): update quiz questions to focus on React keys and lists
  curriculum/challenges/english/25-front-end-development/quiz-react-basics/66f1a2009e65c9a40a26d51e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61085 feat: independent lower jaw ab test
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/classic/action-row.tsx
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/independent-lower-jaw.css
  client/src/templates/Challenges/components/independent-lower-jaw.tsx
  client/src/templates/Challenges/components/side-panel.tsx
Labels: scope: UI, platform: learn, scope: i18n

#61118 chore: update asserts in step 19 tests
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143b9e1f5035c6e5f2a8231.md
Labels: scope: curriculum

#61120 fix(curriculum): update workshop-magazine steps 13,18 to use specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-magazine/61439e33e4fb7967609e0c83.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/6143b97c06c3306d23d5da47.md
Labels: scope: curriculum

#61113 chore(curriculum): update specific asserts in magazine workshop steps 10-11-12
  curriculum/challenges/english/25-front-end-development/workshop-magazine/61438ec09438696391076d6a.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/61439dc084fa5f659cf75d7c.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/61439dfc811e12666b04be6f.md
Labels: status: waiting review, scope: curriculum

#61110 fix(curriculum): updated assert method for steps 8-9 of workshop-magazine to use specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-magazine/614389f601bb4f611db98563.md
  curriculum/challenges/english/25-front-end-development/workshop-magazine/61438b5b66d76a6264430f2a.md
Labels: scope: curriculum, full stack cert

#61109 fix(cirriculum): add .trim() to innerText assertions
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d4.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5efc575c8d6a74d05e68af77.md
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/671141feba228a35cefba82d.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804d4.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/671141feba228a35cefba82d.md
Labels: status: waiting review, scope: curriculum, full stack cert, archived coursework

#60727 feat(curriculum): add binary search workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-binary-search/index.md
  curriculum/challenges/_meta/workshop-binary-search/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec39565dbc7e3375263b1.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff7a.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff7b.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff7c.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff7d.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff7e.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff7f.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff80.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff81.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff82.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff83.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/683ec95f2f8781355556ff84.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/684165a72e33e26a40904f8b.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/684169b00a073c9b9f0a703c.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/68416aab85dd00a7852cdeb6.md
  curriculum/challenges/english/25-front-end-development/workshop-binary-search/68416d66013635cb6325eb6d.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert
