Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2025-02, with the labels that each got.

#58539 fix(curriculum): remove unwanted display inline property
  curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/6537e0be715fcb57d31ba8c3.md
  curriculum/challenges/english/25-front-end-development/workshop-registration-form/6537e0be715fcb57d31ba8c3.md
Labels: scope: curriculum

#58547 fix(curriculum): Hobby typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657e758778ff8dc01567c9e7.md
Labels: status: waiting review, scope: curriculum

#58508 feat(tools): use stylelint globally
  .lintstagedrc.js
  .stylelintrc.json
  client/package.json
  package.json
  pnpm-lock.yaml
Labels: platform: learn

#58522 fix(ui,i18n): add plurality to assignment title and complete assignment
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/assignments.tsx
  e2e/template-challenges-show.spec.ts
Labels: status: waiting review, platform: learn, scope: i18n, scope: tools/scripts

#58544 fix(curriculum): Minor typos in A2 English
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-popular-trends-in-technology/661918b4f8dc067669326ac6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/65a74152da45e881db4f54dc.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/65a7957981392ed32523e628.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bbbe6d57609104b152625.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662a35f7eaaa932ab0973d0c.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-use-basic-programming-vocabulary-in-conversations/662f3450de7c2139809fb72b.md
Labels: status: waiting review, scope: curriculum, new english course

#58550 fix(mobile): update non-editor superblocks
  e2e/mobile/mobile-learn.spec.ts
Labels: status: waiting review, scope: tools/scripts

#58537 fix(curriculum): Project asked for four list items but checked for 8
  curriculum/challenges/english/25-front-end-development/lab-stylized-to-do-list/66c051d13a6a20255a963695.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58497 fix(curriculum): regex quiz after audit
  curriculum/challenges/english/25-front-end-development/quiz-javascript-regular-expressions/66edd3011f18f4ee1bd9d28b.md
  curriculum/challenges/english/25-front-end-development/review-javascript-regular-expressions/6723cdfa4ae237bf6b7e32eb.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58524 refactor(curriculum): JavaScript Maps and Sets quiz and review
  curriculum/challenges/english/25-front-end-development/quiz-javascript-maps-and-sets/67358be1c7903489c0a7db78.md
  curriculum/challenges/english/25-front-end-development/review-javascript-maps-and-sets/6723d027b02e4cc6ee5944da.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58488 refactor(curriculum): recursion quiz questions
  curriculum/challenges/english/25-front-end-development/quiz-recursion/66edd43cded6bff30944b676.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58556 refactor: remove some imports from to e2e
  client/src/utils/superblock-map-titles.ts
  e2e/failed-updates.spec.ts
  e2e/map.spec.ts
  e2e/seo.spec.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#58519 fix(curriculum): add to layout and effects review page
  curriculum/challenges/english/25-front-end-development/review-css-layout-and-effects/671a9311a289ae7fff25d88e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58551 refactor: control character from scene
  client/src/templates/Challenges/components/scene/character.tsx
  client/src/templates/Challenges/components/scene/scene-subject.tsx
  client/src/templates/Challenges/components/scene/scene.tsx
  client/src/templates/Challenges/generic/show.tsx
Labels: status: waiting review, platform: learn

#58527 refactor(client): fixed/hid type errors + extended isPoly
  client/src/templates/Challenges/classic/saved-challenges.test.ts
  client/src/templates/Challenges/utils/build.ts
  client/utils/__fixtures__/challenges.ts
  shared/utils/polyvinyl.ts
Labels: status: waiting review, platform: learn

#58515 fix(curriculum): fix regex issues and improve trivia-bot test flexibility
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
Labels: status: waiting review, scope: curriculum

#58548 fix(curriculum): ensure 'security threats' appears as a blank in Task 93
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-describe-places-and-events/66b574b395758f34f3867693.md
Labels: status: waiting review, scope: curriculum, new english course

#58560 fix(ui,i18n): move plural check to i18next
  client/i18n/locales/english/translations.json
  client/src/components/profile/components/heat-map.tsx
Labels: platform: learn, scope: i18n

#58532 chore(curiculum): adding video ids for audio and video lecture block
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733ab12b60bd7f6b2b0b0c0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8203da84a08a0f5eab4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d829d983c008d2db41a1.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d83630e76f08ff49e6dc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d852175df50937f06061.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8606fb893099e3d0df3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58471 refactor(curriculum): JS form validation quiz
  curriculum/challenges/english/25-front-end-development/quiz-form-validation-with-javascript/66edd3403d7077eece6dc4b6.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58509 refactor(curriculum): asynchronous quiz
  curriculum/challenges/english/25-front-end-development/quiz-asynchronous-javascript/66edd630f7666cfa54b404d0.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58576 fix: typo for intro text to JS Debugging review
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#58437 fix(client): persist transcript expanded state
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/components/challenge-transcript.css
  client/src/templates/Challenges/components/challenge-transcript.test.tsx
  client/src/templates/Challenges/components/challenge-transcript.tsx
Labels: status: waiting review, scope: UI, platform: learn, scope: i18n

#58568 refactor(profile): convert AboutSettings from class to functional component
  client/src/components/profile/components/about.tsx
Labels: status: waiting review, platform: learn

#58579 fix(tools): enable type checking for the client
  client/src/components/search/with-instant-search.tsx
  client/src/templates/Challenges/fill-in-the-blank/show.tsx
  package.json
Labels: platform: learn

#58466 refactor(curriculum): DOM quiz questions
  curriculum/challenges/english/25-front-end-development/quiz-dom-manipulation-and-click-event-with-javascript/66edd07682767adff3a6231e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58567 chore(curriculum): add comparisons and conditionals transcripts
  curriculum/challenges/english/25-front-end-development/lecture-understanding-comparisons-and-conditionals/672d26917a8ab3220c038a42.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-comparisons-and-conditionals/673282bea35dbf129efb63d6.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58583 fix(curriculum): update usage of the toFixed by removing this from the calculation
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5632.md
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5633.md
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5634.md
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5635.md
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5636.md
  curriculum/challenges/english/25-front-end-development/workshop-recipe-tracker/66fbcf750a62784cf11f5637.md
Labels: status: waiting review, scope: curriculum

#58585 fix(curriculum): remove stray period
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657fbd591461eaeba07ffff1.md
Labels: scope: curriculum

#58590 fix(curriculum): update challengeType for lectures with video added
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e3a9cc78faaf4248d335.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e867bbf41cc5b11648c4.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e86f590727c5e7e9ec5e.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e879c78ee6c61db25b90.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e88cc46e6dc679420040.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/674ba6876f7ada867135bb95.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733ab12b60bd7f6b2b0b0c0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8203da84a08a0f5eab4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d829d983c008d2db41a1.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d83630e76f08ff49e6dc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d852175df50937f06061.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8606fb893099e3d0df3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/6734e3ceee2da4b0301719b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500abfe36cd015b67b1b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500b41af8500191febedc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500bfe1f41601c1ddb1a2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58577 refactor(api): delete dead code
  api/src/routes/protected/challenge.ts
Labels: platform: api

#58507 refactor(curriculum): CSS Typography Quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-typography/66ed9010f45ce3ece4053eb8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58483 refactor(curriculum): remove second events quiz and review page
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/quiz-javascript-events/index.md
  client/src/pages/learn/full-stack-developer/review-javascript-events/index.md
  curriculum/challenges/_meta/quiz-javascript-events/meta.json
  curriculum/challenges/_meta/review-javascript-events/meta.json
  curriculum/challenges/english/25-front-end-development/quiz-dom-manipulation-and-click-event-with-javascript/66edd07682767adff3a6231e.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-events/66edd0ac31fea6e678eb925a.md
  curriculum/challenges/english/25-front-end-development/review-dom-manipulation-and-click-events-with-javascript/6723cc7a8e7aa3b9befd4bac.md
  curriculum/challenges/english/25-front-end-development/review-javascript-events/6723cc0ca05ce9b87a319ceb.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#58505 refactor(curriculum): JavaScript audio and video review and quiz
  curriculum/challenges/english/25-front-end-development/quiz-javascript-audio-and-video/66edd3b3096349f06cf688bb.md
  curriculum/challenges/english/25-front-end-development/review-javascript-audio-and-video/6723cf27c6e9a0c3f3041385.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58562 chore(curriculum): add video ids for recursion and functional programming lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-functional-programming/6733b0451d6be0065430b418.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-functional-programming/6734061fe116df617a564a37.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-recursion-and-the-call-stack/6733b02d1e556005a544c5e3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58558 chore(curriculum): adding local storage lecture video ids
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ab64775d35f78f5238fe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff4a9319c8486750886c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff5814129c48b4fca88e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff6f02dde548ebe4a6d5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff8d06376149474a0c0d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff9d2fb9c449af68ad99.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffacd0ad1e49ec2af051.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffb59c62ee4a23522efe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffc7353af34a61ed683a.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58580 chore(curriculum): add debugging js transcripts
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733aa9b006d29f4d11307a5.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733bec70d86e13522e98a4f.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733becf4b0c353553b9bfa4.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733bee844600f35c05b8264.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733befb703ca6361da3755b.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58586 refactor(curriculum): CSS Animations Quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-animations/66ed8fc9f45ce3ece4053eae.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58573 chore(curriculum): add async js transcripts
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/6733b072bd8f5b06ccdbd9e2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/67340798c2c1776709d8a5fe.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407a223891b6734563c89.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407be6af21d6766ed4b96.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407ca21117a67cf9521ca.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407d56c3dce67fa97969b.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407e02bcf0d682b9a49a9.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407eb10ca9d68634e81d9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58543 fix(curriculum): update border test to accept CSS border property
  curriculum/challenges/english/25-front-end-development/lab-stylized-to-do-list/66c051d13a6a20255a963695.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58461 chore(curriculum): add JS array transcripts
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/67329f508a6ec45b046700b3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aebaa8abb9086a9bb17a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aec982904608b637716b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aed2ac3d3c08f6149dd6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aedd2d92e30923b9bc24.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/67329f64e0ef5c5b7388158d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b284901f8c1539e20bcb.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b28eeadda1158cdbff7b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b29b8b7d4f15b94d12ca.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b2a6de5a1c15edf05b75.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58372 chore(curriculum): add CSS variables transcripts
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-variables/672aa8985acb7361e656f94c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-variables/672cf3ca326da9f63683e236.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58407 refactor(curriculum): JS Functions
  curriculum/challenges/english/25-front-end-development/lecture-working-with-functions/672d269da46786225e3fe3fd.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58520 feat(curriculum): add refactor step to dice game
  curriculum/challenges/_meta/review-algorithmic-thinking-by-building-a-dice-game/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657e230500602983e01fff6e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/679c1803ee88d2245cf9e335.md
Labels: status: waiting review, scope: curriculum, scope: i18n, javascript course

#58293 fix(curriculum): clarify requirements for padRow argument
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-introductory-javascript-by-building-a-pyramid-generator/660f34626216270c682e2f7b.md
Labels: status: waiting review, scope: curriculum

#58614 fix(api): auth error logging
  api/src/plugins/auth0.ts
Labels: platform: api

#58408 refactor(curriculum): JS comparisons quiz
  curriculum/challenges/english/25-front-end-development/quiz-javascript-comparisons-and-conditionals/66edc47c11492ac5cf258ad9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58531 refactor(curriculum): local storage and crud quiz
  curriculum/challenges/english/25-front-end-development/quiz-local-storage-and-crud/66edd3f9bef926f129990425.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58588 refactor(curriculum): React basics quiz and review improvements
  curriculum/challenges/english/25-front-end-development/quiz-react-basics/66f1a2009e65c9a40a26d51e.md
  curriculum/challenges/english/25-front-end-development/review-react-basics/67487e141bb6a7140a352e12.md
Labels: scope: curriculum, status: waiting update, full stack cert

#58592 fix(curriculum): css a11y quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-accessibility/66ed8fc1f45ce3ece4053ead.md
  curriculum/challenges/english/25-front-end-development/workshop-accessibility-quiz/6148e41c728f65138addf9cc.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58624 fix(curriculum): add size attributes
  curriculum/challenges/_meta/workshop-hotel-feedback-form/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9401c9d660d6bb15993e2.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9419e2d18476c645ce693.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a94ea5df66236ebed260e8.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9521bc70162712caf118d.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a954b2bcddba72076c1857.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9577022877d72d8f43b4f.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a95d0eff8168747805f1f3.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a96127422411756204bc1b.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a962954f4e0d76223b37ed.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9689b1bf24b7750898a1b.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a969951120be7818d8ee49.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a96b01f33ef178dfca9e42.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a972137acd1179fa3fe8a0.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a975260401487af226b290.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a975c259525b7bc2d5c776.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a97ca8c4cbae7d0bb6e0ad.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a97f40ddd40d7deb0618b7.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9824ac5d9f77ec304969f.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9836b339fed7f9a8fe35a.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66a9843525e9fa8046d709b7.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/66ad24c7eb8c121000c603a6.md
  curriculum/challenges/english/25-front-end-development/workshop-hotel-feedback-form/67a51d3a8a6fe123b77b0c6e.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#58569 refactor(curriculum): JS debugging quiz
  curriculum/challenges/english/25-front-end-development/quiz-debugging-javascript/66edd10913f078e7669eca81.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58616 chore(curriculum): add form validation lecture transcripts
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733aae9d25004f60d1e86f2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3a33abdd27cd562bdf2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3ab69e94b7df7ee91b0.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58608 fix(api): strip query params on redirect
  api/src/utils/redirection.test.ts
  api/src/utils/redirection.ts
Labels: platform: api

#58361 fix: loop quiz
  curriculum/challenges/english/25-front-end-development/lecture-working-with-loops/6732c04638420641dcca2e6e.md
  curriculum/challenges/english/25-front-end-development/quiz-javascript-loops/66edcd49e73385dd4df54ac7.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58618 fix(curriculum): js fundamentals quiz after audit
  curriculum/challenges/english/25-front-end-development/quiz-javascript-fundamentals/66edcd875b0d91de1fbbb492.md
  curriculum/challenges/english/25-front-end-development/review-javascript-fundamentals/6723ca166fe90eb0a3146848.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58055 fix(curriculum): moved reset playlist button in music player
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655724bac464795a0ad91082.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655727b2e1e49d6adf584442.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655729e68e49b277a6b448bd.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65572bb34a7e488224b937fc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65572e5aaf022790fb4a81b1.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655737cd004591b0271d6826.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65573a97c59ddbbf028ca95e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65573d0abe4d38cd6fa13f44.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655b49333d9f265bc1512152.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655b4bbff1dbf66cb2ed4dac.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655b4c8f636d9675953a0388.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/655b4dad1d38ff7cdd65cbfe.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/65672adafbaa37a6cef886f7.md
Labels: status: waiting review, scope: curriculum

#58601 chore(curriculum): adding set 1 of DOM transcripts to lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6732a0472f52015e511f8e58.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/67336894ae148431a870694d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733689f9f31dd31e7d9c789.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368b1cf26253212a3cfb2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58625 chore(curriculum): add transcripts to set 3 of event lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368f272706633516e4873.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368fbe12a2b337645053d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673369067f824d33a90a0534.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673369101e5c4a33db0e8a02.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58641 chore(curriculum): add rwd transcripts
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672aa8873d4e25618870764f.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672cf05c3ad533eabe1e8197.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672cf06c8f46f9eb04db9832.md
  curriculum/challenges/english/25-front-end-development/lecture-best-practices-for-responsive-web-design/672cf07a2b9796eb49719e03.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58638 fix: update question options and add missing backticks
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d497cb1a1675e47bf7ea1.md
Labels: status: waiting review, scope: curriculum

#58655 fix(curriculum): delete irrelevant information in description of step 8
  curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/613e275749ebd008e74bb62e.md
  curriculum/challenges/english/25-front-end-development/workshop-accessibility-quiz/613e275749ebd008e74bb62e.md
Labels: scope: curriculum

#58360 fix(curriculum): prevent hardcoding phone number validator
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-telephone-number-validator-project/build-a-telephone-number-validator.md
Labels: status: waiting review, scope: curriculum

#58628 fix(curriculum): gitpod casing updated on code editor lecture
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d26269456511aa3db614d.md
Labels: status: waiting review, scope: curriculum

#58610 refactor(client): portfolio to functional component
  client/src/components/profile/components/portfolio.tsx
Labels: status: waiting review, platform: learn

#58481 fix(curriculum): add meta test to travel agency page
  curriculum/challenges/english/25-front-end-development/lab-travel-agency-page/669e2f60e83c011754f711f9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58660 fix(curriculum): backticks missing from defined term
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-describe-your-current-project/655b5cc5a8b3897908c962f0.md
Labels: scope: curriculum

#58581 fix(api): patch oauth2
  docker/api/Dockerfile
  docker/web/Dockerfile
  package.json
  patches/@fastify__oauth2@7.8.1.patch
  pnpm-lock.yaml
Labels: status: waiting review

#58662 fix(curriculum): remove angle brackets from element names
  curriculum/challenges/english/25-front-end-development/quiz-css-animations/66ed8fc9f45ce3ece4053eae.md
  curriculum/challenges/english/25-front-end-development/review-basic-css/671a887a7e62c75e9ab1ee4a.md
  curriculum/challenges/english/25-front-end-development/review-basic-html/67072fc183c7ca6c588feb4d.md
  curriculum/challenges/english/25-front-end-development/review-css-backgrounds-and-borders/671a88d636cebc5fbd407b78.md
  curriculum/challenges/english/25-front-end-development/review-css-pseudo-classes/671a907bad4538752765f2ff.md
  curriculum/challenges/english/25-front-end-development/review-css-typography/671a9528fc4f1487cf265444.md
  curriculum/challenges/english/25-front-end-development/review-css/671a9a0a140c2b9d6a75629f.md
  curriculum/challenges/english/25-front-end-development/review-dom-manipulation-and-click-events-with-javascript/6723cc7a8e7aa3b9befd4bac.md
  curriculum/challenges/english/25-front-end-development/review-html-accessibility/671a87a39b88245a579c2271.md
  curriculum/challenges/english/25-front-end-development/review-html/671a883163d5ab5d47145880.md
  curriculum/challenges/english/25-front-end-development/review-javascript-audio-and-video/6723cf27c6e9a0c3f3041385.md
  curriculum/challenges/english/25-front-end-development/review-javascript/6723d3cfdd0717d3f1bf27e3.md
  curriculum/challenges/english/25-front-end-development/workshop-rothko-painting/60a3e3396c7b40068ad6996e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58621 chore(curriculum): adding transcripts for set 2 of DOM transcripts
  curriculum/challenges/_meta/lecture-working-with-the-dom-click-events-and-web-apis/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368c0161e6b326a7e03f0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368ccf52205329b729378.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368d97e8ce232cdcd6b68.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368e7bd043f331919514d.md
Labels: status: waiting review, scope: curriculum, scope: i18n, full stack cert

#58604 refactor(client): internet presence to functional component
  client/src/components/profile/components/internet.tsx
Labels: status: waiting review, platform: learn

#58672 test: ensure preview modal renders projects
  e2e/project-preview-modal.spec.ts
Labels: status: waiting review, scope: tools/scripts

#58678 fix(i18n): remove redundant sentence
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#58682 fix(curriculum): update answers for vs code lecture
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45651d83b450801efb3a.md
Labels: status: waiting review, scope: curriculum

#58630 chore(curriculum): add maps and sets lecture transcript
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733ab269b378bf724c9ac71.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733dd694f91d61a5272b4ac.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58659 fix(curriculum): replace `smooth-scroll` with `scroll-behavior`
  curriculum/challenges/english/25-front-end-development/quiz-css-accessibility/66ed8fc1f45ce3ece4053ead.md
Labels: status: waiting review, scope: curriculum

#58689 fix(curriculum): update hint text for steps 6 and 7 of greeting bot workshop
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad9c633fa26d3c1475eae3.md
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ada3f46945763dd97f43f8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58693 fix(curriculum): update hint text for step 2 of greeting bot workshop
  curriculum/challenges/english/25-front-end-development/workshop-greeting-bot/66ad8ab945d266383f318cbf.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58694 fix(curriculum): update last question for let and const lecture
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49959621885e9d3e672c.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58679 fix(curriculum): Update JavaScript Variables and Data Types Review
  curriculum/challenges/english/25-front-end-development/review-javascript-variables-and-data-types/6723be264695fb7e619fe1fa.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58700 fix(curriculum): complete feedback sentence in local storage lecture
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff4a9319c8486750886c.md
Labels: status: waiting review, scope: curriculum

#58677 refactor: remove growthbook fragment
  client/src/components/growth-book/growth-book-redux-connector.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
Labels: platform: learn

#58647 chore(curriculum): add js code editor transcripts
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d26269456511aa3db614d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45583fd75a504136fbbb.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45651d83b450801efb3a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d456f4ac35950b300e93f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d457bcdd8b350ec2b6254.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58278 fix(curriculum): add article before noun
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b119f0ce64343420bb850.md
Labels: scope: curriculum

#58690 chore(curriculum): adding set 4 of transcripts to DOM lecture block
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733691d88e3053414689276.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733692ffe1da034469f7917.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733693bfce9a43489a355db.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733694805a85d34ced08a9b.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58596 chore(curriculum): add accessibility transcripts
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a51e9e4fd8b8552eeb758.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5310d7e46b8a34d48dfd.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5326a7606a8a766cbedb.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a533e6041c28ad680eb8f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5361ef88158b25fbfba7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a536f8386288b9ed0a154.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a537f05f3798bd4f57d2d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a538c029f9e8c1687460e.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a539b887ec68c593cdc4b.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a53ae8f1ad28c8a1ed0f0.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a53cf67140d8cd85d4b0f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a549231b8728f7171ed9d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54a6675c168faa84252d.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54bc58319c8fe6f78ad4.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54ce90c19e9038f481d7.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54dff9dc439089f1a219.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a54f29d783890d1f94740.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a5507d857a891139abc7f.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a551975938a916c74802c.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55b5c0c14493328fe36e.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55dd1d86bc939606e204.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55eb7791559421ff0cd3.md
  curriculum/challenges/english/25-front-end-development/lecture-importance-of-accessibility-and-good-html-structure/672a55fbc2d95a9453151caf.md
Labels: scope: curriculum, status: waiting update, full stack cert

#58718 chore(curriculum): add intro to JS transcripts
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d26385dbe73203c4dac81.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d496eca926b5df8176a67.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d497cb1a1675e47bf7ea1.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49959621885e9d3e672c.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49a5cf43945ee09e5fba.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49b2fb76df5f1d6117af.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49c4e899345f5b33c24c.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49d93b54b85faa4dbad7.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49e65a1c855fe7bb3fdb.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58661 fix(curriculum): HTML Tables and Forms review
  curriculum/challenges/english/25-front-end-development/review-html-tables-and-forms/671a872c17382a582e455c4c.md
  curriculum/challenges/english/25-front-end-development/review-html/671a883163d5ab5d47145880.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58727 fix(curriculum): typo in open graph tags lecture script
  curriculum/challenges/english/25-front-end-development/lecture-html-fundamentals/6708396caa00e11b597b3365.md
Labels: status: waiting review, scope: curriculum

#58734 fix(api): use query not params
  api/src/routes/public/status.ts
Labels: platform: api

#58265 fix(learn): console panel overlapping with the preview panel
  client/src/templates/Challenges/components/preview.css
  client/src/templates/Challenges/components/project-preview-modal.css
  client/src/templates/Challenges/components/project-preview-modal.tsx
Labels: status: waiting review, scope: UI, platform: learn

#58746 fix(curriculum): Updated test to allow both slategray and slategrey for border color
  curriculum/challenges/english/25-front-end-development/lab-business-card/6690e10ebe2181212abc9652.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58745 fix: updated distractor in css accessibility quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-accessibility/66ed8fc1f45ce3ece4053ead.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58714 chore(curriculum): add transcripts JS higher order lectures
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/67329ffd75010f5ddeb4ea13.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/67336296a3c1591da81856c2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362a34edda41dedf87623.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362b3f763ae1e38e17df7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362be2f70c21e65bc5459.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362cbb475e21eab726506.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362d7f94d551edb532d24.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362e43d57b51f1ad2d466.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58757 chore: Removed console.log
  curriculum/challenges/english/25-front-end-development/lab-business-card/6690e10ebe2181212abc9652.md
Labels: scope: curriculum

#58712 chore: update typescript version to 5.7.3
  package.json
  pnpm-lock.yaml
Labels: status: waiting review

#58759 fix(curriculum): Update distractors for 3rd question in semantic HTML quiz
  curriculum/challenges/english/25-front-end-development/quiz-semantic-html/66ed903cf45ce3ece4053ebe.md
Labels: scope: curriculum, status: waiting update

#58720 fix(curriculum): Clarify Pokemon App user stories
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-pokemon-search-app-project/build-a-pokemon-search-app.md
Labels: scope: curriculum, status: waiting update

#58617 chore(curriculum): add JavaScript classes transcript
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/6733affc29df1304e2c97e88.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403ca2bb16658309e3632.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403d2aa52d8586a14a269.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403dbf5c9835898632c84.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58711 chore(curriculum): adding set 3 of basic HTML questions
  curriculum/challenges/english/25-front-end-development/quiz-basic-html/66df3b712c41c499e9d31e5b.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58764 fix: edit distractors on q18 of semantic-html quiz for even length
  curriculum/challenges/english/25-front-end-development/quiz-semantic-html/66ed903cf45ce3ece4053ebe.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58355 chore(client): migrate to React 17
  client/package.json
  client/src/client-only-routes/show-unsubscribed.tsx
  client/src/components/Donation/donation-modal.tsx
  client/src/components/FourOhFour/index.tsx
  client/src/components/create-redirect.ts
  client/src/components/profile/components/heat-map.tsx
  client/src/components/search/with-instant-search.tsx
  client/src/pages/404.tsx
  client/src/pages/certification.tsx
  client/src/pages/challenges.test.tsx
  client/src/pages/challenges.tsx
  client/src/pages/settings.tsx
  client/src/pages/unsubscribed.tsx
  client/src/pages/update-email.tsx
  client/src/pages/update-stripe-card.tsx
  client/src/pages/user.tsx
  client/src/templates/Challenges/classic/editor.tsx
  client/src/templates/Challenges/hooks/use-page-leave.ts
  client/src/templates/Challenges/quiz/show.tsx
  client/src/templates/Challenges/rechallenge/builders.ts
  client/src/templates/Challenges/utils/build.ts
  client/src/templates/Introduction/super-block-intro.tsx
  client/src/utils/path-parsers.ts
  curriculum/challenges/_meta/react-and-redux/meta.json
  curriculum/challenges/_meta/react/meta.json
  package.json
  pnpm-lock.yaml
  tools/challenge-editor/client/package.json
  tools/client-plugins/browser-scripts/webpack.config.cjs
Labels: scope: curriculum, platform: learn, scope: i18n, scope: tools/scripts

#58787 fix(curriculum): Add mention of transcripts to computer basics and basic CSS modules
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672aa5bd69657d56ab49ec8a.md
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672ac96491845f43ea9a26d7.md
  curriculum/challenges/english/25-front-end-development/lecture-browsing-the-web-effectively/672ac9705b07a64439b73b59.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672aa62178d5ff57fe4f98e0.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8e7eca8a4322306d15f8.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8e8adcc27e235a154231.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8e9892eafe238d6513a5.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8ea434ceac23cc90f337.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8f1399cabc2406c3227f.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8f23511adf25646b4236.md
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8f382370e025aadd3f4e.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672aa6441bcd3758e9f52ae0.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b951b1bf78038b1a2a0e7.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b952d3a5c603908841971.md
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b9538c25634394ceb7b8f.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672aa578a2129554d4675049.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab82c1a9bbd0e3aabc39d.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab83c4297910eade53c2e.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab849aa1ef70eefd29364.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-computer-internet-and-tooling-basics/672ab8573f32480f192aaae1.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672aa5e1f8b935577acfb2b9.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acbbe2891564c4e316164.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acbce8163374c903253c9.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acbdd06b44c4cd3bf8713.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acbf7490c054d213a8c1f.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acc03c257524d6a5151e8.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acc100d59d24da7b4e09c.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acc1e24c1e54df5ad89bd.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acc3f6f3e3c4e31ec3e12.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acc538e6ef24e9dd3c94f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672aa669960f6a596081fcad.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98be592cfb451f651451.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98cd77b6b7456b6ef2de.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-backgrounds-and-borders/672b98db3bcdd545ab3b3c73.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672aa58c389eb9565978495d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac37104dc2530a769e6a4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac39a22b0cc30eb8fd65e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac3c5d0e9fd31835ff772.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac3f129efbf327742eb33.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-file-systems/672ac403a9ba7732b31c6480.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58753 fix(curriculum): include an example of a decorator
  curriculum/challenges/english/07-scientific-computing-with-python/learn-interfaces-by-building-an-equation-solver/662f96576ef178927de87975.md
Labels: status: waiting review, scope: curriculum

#58783 feat(curriculum): add intros for blocks 8 and 9 of the B1 superblock
  client/i18n/locales/english/intro.json
  curriculum/challenges/_meta/learn-how-to-share-feedback/meta.json
  curriculum/challenges/_meta/learn-how-to-share-your-opinion/meta.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, new english course

#58761 fix(client): show project previews
  client/src/client-only-routes/show-project-links.tsx
  client/src/components/profile/components/time-line.tsx
  client/src/components/settings/certification.tsx
  client/src/redux/prop-types.ts
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/project-preview-modal.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
  e2e/completed-project-preview.spec.ts
  e2e/completion-modal.spec.ts
  e2e/fixtures/tribute-page-css.json
  e2e/fixtures/tribute-page-html.json
  e2e/fixtures/tribute-page.json
  e2e/projects.spec.ts
  shared/utils/polyvinyl.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#58788 fix(curriculum): add mention of transcripts to Frontend libraries chapter
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e3a9cc78faaf4248d335.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e867bbf41cc5b11648c4.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e86f590727c5e7e9ec5e.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e879c78ee6c61db25b90.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/6734e88cc46e6dc679420040.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript-libraries-and-frameworks/674ba6876f7ada867135bb95.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/6734e3ceee2da4b0301719b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500abfe36cd015b67b1b7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500b41af8500191febedc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-data-in-react/673500bfe1f41601c1ddb1a2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58790 fix(curriculum): add mention of transcripts to CSS grid and animations modules
  curriculum/challenges/english/25-front-end-development/lecture-animations-and-accessibility/672aa8d65995be62ef1c7515.md
  curriculum/challenges/english/25-front-end-development/lecture-animations-and-accessibility/672cf764cf55a70433590def.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-css/672aa8c1ad423562a38b484d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/672aa8ac4631d1623ec5cd86.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226732b19aa1cacd0a75c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/6732267ecab2151ced471cd4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/6732268d05c3661d32a0fee8.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/6732269a7aa2ca1d6b6574fe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226a62eb2121da41a3d68.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226afcd33991dd751937a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-grid/673226b97d4a731e0577ae93.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58791 fix(curriculum): add mention of transcripts to code editors and booleans modules
  curriculum/challenges/english/25-front-end-development/lecture-understanding-comparisons-and-conditionals/672d26917a8ab3220c038a42.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-comparisons-and-conditionals/673282bea35dbf129efb63d6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d26269456511aa3db614d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45583fd75a504136fbbb.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d45651d83b450801efb3a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d456f4ac35950b300e93f.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-code-editors-and-ides/672d457bcdd8b350ec2b6254.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-common-number-methods/672d26809d388621ad1ecd43.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-common-number-methods/6732808f3221720adc833e81.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-and-common-number-methods/673280a1c29d0a0b17316e56.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/672d266e014ef8216df987d2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271884bf678d8b9c64f56.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/67327195e77b1bd90bdd49d7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/6732719e2e3ad4d947410b65.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271a8998ddfd97578d095.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271b4213033d9b661c70e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271c7581a27d9dd78f6d6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271dffbc34fda31da9515.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271e8e3d43bda89f723b3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271f39f124ddac28866d5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/673271fd11d063daf0cf8d20.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/6732720e95f6a0db526a2e4d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-numbers-booleans-and-the-math-object/67327217e70ee0db7913b255.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58792 fix(curriculum): add mention of transcripts to functions and array modules
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/67329f508a6ec45b046700b3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aebaa8abb9086a9bb17a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aec982904608b637716b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aed2ac3d3c08f6149dd6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-arrays/6732aedd2d92e30923b9bc24.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/67329f64e0ef5c5b7388158d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b284901f8c1539e20bcb.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b28eeadda1158cdbff7b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b29b8b7d4f15b94d12ca.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-array-methods/6732b2a6de5a1c15edf05b75.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-functions/672d269da46786225e3fe3fd.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-functions/673284d5e52ef81a2169b097.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-functions/673284e7244c0c1a649121b9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58799 fix(curriculum): add mention of transcripts higher order debugging
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733aa9b006d29f4d11307a5.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733bec70d86e13522e98a4f.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733becf4b0c353553b9bfa4.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733bee844600f35c05b8264.md
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733befb703ca6361da3755b.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/67329ffd75010f5ddeb4ea13.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/67336296a3c1591da81856c2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362a34edda41dedf87623.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362b3f763ae1e38e17df7.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362be2f70c21e65bc5459.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362cbb475e21eab726506.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362d7f94d551edb532d24.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362e43d57b51f1ad2d466.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58795 fix(curriculum): add mention of transcripts functional async
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/6733b072bd8f5b06ccdbd9e2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/67340798c2c1776709d8a5fe.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407a223891b6734563c89.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407be6af21d6766ed4b96.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407ca21117a67cf9521ca.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407d56c3dce67fa97969b.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407e02bcf0d682b9a49a9.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407eb10ca9d68634e81d9.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-functional-programming/6733b0451d6be0065430b418.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-functional-programming/6734061fe116df617a564a37.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58798 fix(curriculum): add mention of transcripts to forms dates
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733aae9d25004f60d1e86f2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3a33abdd27cd562bdf2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3ab69e94b7df7ee91b0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dates/6733aafb9c0802f66cc1e056.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dates/6733d608654c17868e01c0a2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58796 fix(curriculum): add mention of transcripts to classes and recursion
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/6733affc29df1304e2c97e88.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403ca2bb16658309e3632.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403d2aa52d8586a14a269.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-how-to-work-with-classes-in-javascript/673403dbf5c9835898632c84.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-recursion-and-the-call-stack/6733b02d1e556005a544c5e3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58691 chore(curriculum): adding set 5 of transcripts for DOM lecture block
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/67336956340e8a34fbd5d9f3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733696567d2273540aa6033.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733697661182d357fc643d2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673369829e232835c2732656.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58793 fix(curriculum): add mention of transcripts to JS intro lecture
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d26385dbe73203c4dac81.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d496eca926b5df8176a67.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d497cb1a1675e47bf7ea1.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49959621885e9d3e672c.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49a5cf43945ee09e5fba.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49b2fb76df5f1d6117af.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49c4e899345f5b33c24c.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49d93b54b85faa4dbad7.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49e65a1c855fe7bb3fdb.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58800 fix(curriculum): add mention of transcripts to design
  curriculum/challenges/english/25-front-end-development/lecture-common-design-tools/672aa7005c24e45bbd53b20d.md
  curriculum/challenges/english/25-front-end-development/lecture-common-design-tools/672bb619f0d4538d0528760d.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672aa6c9e379285acca5a2aa.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baa97f2990e6631d522e7.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baaa62d4b46667a8ac869.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baab2a0c3df66ad987b94.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baabf16290b66e6b79a39.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baacb7f2f446728e77efe.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baad7bbc4f86762ca173e.md
  curriculum/challenges/english/25-front-end-development/lecture-user-interface-design-fundamentals/672baae11d06c867a16f64e1.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58797 fix(curriculum): add mention of transcripts av map local storage
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733ab12b60bd7f6b2b0b0c0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8203da84a08a0f5eab4.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d829d983c008d2db41a1.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d83630e76f08ff49e6dc.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d852175df50937f06061.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-audio-and-video/6733d8606fb893099e3d0df3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ab64775d35f78f5238fe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff4a9319c8486750886c.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff5814129c48b4fca88e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff6f02dde548ebe4a6d5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff8d06376149474a0c0d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ff9d2fb9c449af68ad99.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffacd0ad1e49ec2af051.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffb59c62ee4a23522efe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffc7353af34a61ed683a.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733ab269b378bf724c9ac71.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733dd694f91d61a5272b4ac.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58794 fix(curriculum): add mention of transcripts to DOM lecture
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6732a0472f52015e511f8e58.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/67336894ae148431a870694d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733689f9f31dd31e7d9c789.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368b1cf26253212a3cfb2.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368c0161e6b326a7e03f0.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368ccf52205329b729378.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368d97e8ce232cdcd6b68.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368e7bd043f331919514d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368f272706633516e4873.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368fbe12a2b337645053d.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673369067f824d33a90a0534.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673369101e5c4a33db0e8a02.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733691d88e3053414689276.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733692ffe1da034469f7917.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733693bfce9a43489a355db.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/6733694805a85d34ced08a9b.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58743 refactor(curriculum): Remove errors from cat photo app
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc1798ff86c76b9248c6eb3.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc17d3bf86c76b9248c6eb4.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc17dc8f86c76b9248c6eb5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc2385ff86c76b9248c6eb7.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc23991f86c76b9248c6eb8.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc24073f86c76b9248c6ebb.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc24165f86c76b9248c6ebc.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc24614f86c76b9248c6ebd.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ddbd81294d8ddc1510a8e56.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfa2407b521be39a3de7be1.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfa30b9eacea3f48c6300ad.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfa3589eacea3f48c6300ae.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfa371beacea3f48c6300af.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfa37b9eacea3f48c6300b0.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfb6250eacea3f48c6300b2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfb655eeacea3f48c6300b3.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dfb6a35eacea3f48c6300b4.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804d0.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804d1.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804d2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804d3.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804d4.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804e7.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804e8.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5ef9b03c81a63668521804e9.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5efada803cbd2bbdab94e332.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5efae0543cbd2bbdab94e333.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5efae16e3cbd2bbdab94e334.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5f07be6ef7412fbad0c5626b.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5f07c98cdb9413cbd4b16750.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/671141f948cbab359e74cc93.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/671b6e873249bb35c9debfcf.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58707 refactor(api): simplify logging
  api/src/routes/public/status.ts
  api/src/server.ts
Labels: platform: api

#58803 fix(curriculum): update questions for console.log() lecture
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49c4e899345f5b33c24c.md
Labels: scope: curriculum

#58164 feat(deployments): build and deploy the stack
  .github/workflows/build-images.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-docr.yml
Labels: scope: tools/scripts

#58809 fix(CI/CD): update deployment workflows
  .github/workflows/deploy.yml
Labels: scope: tools/scripts

#58808 fix: have console open for all JS challenges
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/utils/build.ts
Labels: platform: learn

#58805 fix: run tests in iife to avoid name conflicts
  tools/client-plugins/browser-scripts/test-evaluator.ts
Labels: scope: tools/scripts

#58806 refactor: simplify challengeDataSelector
  client/src/templates/Challenges/redux/selectors.js
Labels: platform: learn

#58815 fix(curriculum): update date object title
  curriculum/challenges/_meta/lecture-working-with-dates/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-working-with-dates/6733aafb9c0802f66cc1e056.md
Labels: status: waiting review, scope: curriculum, scope: i18n

#58804 feat(client): remove preview from js labs
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/redux/selectors.js
  client/src/templates/Challenges/utils/build.ts
  client/src/utils/curriculum-layout.ts
  curriculum/challenges/english/25-front-end-development/lab-bank-account-manager/6718d2d59337c822ecb697ff.md
  curriculum/challenges/english/25-front-end-development/lab-book-organizer/67172b43f84bcd2dec238a3d.md
  curriculum/challenges/english/25-front-end-development/lab-date-conversion/66f686b8ebdb982fa8e14330.md
  curriculum/challenges/english/25-front-end-development/lab-email-masker/66b205e6eacba4c4e54ea434.md
  curriculum/challenges/english/25-front-end-development/lab-factorial-calculator/66c07238b01053abaf812065.md
  curriculum/challenges/english/25-front-end-development/lab-fortune-teller/66c06d618d075c7f7f1b890a.md
  curriculum/challenges/english/25-front-end-development/lab-gradebook-app/66bb6a9c2dd58b73cd759034.md
  curriculum/challenges/english/25-front-end-development/lab-inventory-management-program/66d75dd0aa65a71600dc669b.md
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
  curriculum/challenges/english/25-front-end-development/lab-leap-year-calculator/66c06fad3475cd92421b9ac2.md
  curriculum/challenges/english/25-front-end-development/lab-lunch-picker-program/66db529d37ad966480ebb633.md
  curriculum/challenges/english/25-front-end-development/lab-password-generator/66f53dc2c5bd6a11d6c3282f.md
  curriculum/challenges/english/25-front-end-development/lab-permutation-generator/66fe4f33a2cc9b33f4d5cd9b.md
  curriculum/challenges/english/25-front-end-development/lab-project-idea-board/67051431a73f1ca25d9a6f25.md
  curriculum/challenges/english/25-front-end-development/lab-pyramid-generator/66f2836c459cfb16ae76f24f.md
  curriculum/challenges/english/25-front-end-development/lab-quiz-game/66f17db06803d11a1bd19a20.md
  curriculum/challenges/english/25-front-end-development/lab-sentence-maker/66c057041df6394ca796bf33.md
  curriculum/challenges/english/25-front-end-development/lab-voting-system/673b567e3ba535dda140d278.md
  curriculum/schema/challenge-schema.js
  shared/config/challenge-types.ts
Labels: scope: curriculum, platform: learn, status: merge conflict

#58817 fix: update deployment workflows
  .github/workflows/deploy.yml
  .github/workflows/docker-docr.yml
Labels: scope: tools/scripts

#58692 fix(curriculum): undeclared variables in tests
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-telephone-number-validator-project/build-a-telephone-number-validator.md
Labels: status: waiting review, scope: curriculum, javascript course

#58818 fix(curriculum): update distractors for questions
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d26385dbe73203c4dac81.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58653 fix(curriculum): Fixed question to replace misleading 'standard' and `alternative' terms with accurate content-box and border-box distinctions.
  curriculum/challenges/english/16-the-odin-project/top-the-box-model/the-box-model-lesson-i.md
Labels: status: waiting review, scope: curriculum, odin project

#58846 chore: remove unused placeholder object from intro.json
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n

#58841 fix(curriculum) : updating tests and hints for trivia-bot-lab
  curriculum/challenges/english/25-front-end-development/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58854 fix(curriculum): Update intro text for Sentence Maker lab
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#58853 fix(curriculum): typo in Understanding Asynchronous Programming intro
  client/i18n/locales/english/intro.json
Labels: status: waiting review, platform: learn, scope: i18n, full stack cert

#58829 chore(client): remove unused CSS
  client/src/components/Footer/footer.css
Labels: status: waiting review, platform: learn

#58731 fix: resize xterm with container
  client/src/templates/Challenges/classic/desktop-layout.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/classic/xterm.tsx
Labels: platform: learn

#58833 fix: mobile app bugs
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-a-typical-workday-and-tasks/657e57b99282f8cd922a5f9a.md
Labels: status: waiting review, scope: curriculum

#56940 feat(api): exam screenshot service
  api/package.json
  api/src/app.ts
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/screenshot.ts
  api/src/exam-environment/utils/errors.ts
  api/src/utils/env.ts
  docker/screenshot-service/Dockerfile
  eslint.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sample.env
  tools/screenshot-service/.gitignore
  tools/screenshot-service/README.md
  tools/screenshot-service/index.ts
  tools/screenshot-service/package.json
  tools/screenshot-service/sample.env
  tools/screenshot-service/tsconfig.json
Labels: platform: api, scope: tools/scripts, status: merge conflict

#58864 fix(curriculum): typo in transcript
  curriculum/challenges/english/25-front-end-development/lecture-understanding-form-validation/6733d3ab69e94b7df7ee91b0.md
Labels: status: waiting review, scope: curriculum

#58821 fix(curriculum): Update semantic html review page
  curriculum/challenges/english/25-front-end-development/review-semantic-html/671a83934b61f64cefe87a61.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58813 fix(curriculum): tasks with overlapping audio
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-describe-your-current-project/655b5899f2ef74716d069180.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-describe-your-current-project/655b76340ecb8285060ab6d5.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65b0dd4e70e9dcf7c402eb8e.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65d5cebba7a44042a1815053.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65d6e2c17bb85b727ddf51d6.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65d9633ff2cc710bd3e18c03.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fd595245455d0dca3434ba.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-read-and-understand-code-documentation/65fff57ce568cf1ed9702fbf.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-share-your-progress-in-weekly-stand-up-meetings/6579dce8bc44981add67eda9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657d4ea39262ba758c15bc1a.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657da1d38bf3e693eb579be9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657ef0061e99a3ddd0e1245f.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/657ef4e5a4a1e1e126eba6dd.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-talk-about-hobbies-and-interests/658030876ac4f605145aeae1.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-plan-future-events/675070049d1f9fb8c1bced11.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-plan-future-events/675070d075960bbe3f92eca6.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-past-activities/66c9051340aa69a0451bdd1d.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-past-activities/66c906a6e1335ca6d03cdf4f.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-past-experiences/6717b5dc5fd2c0102b2aacec.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-talk-about-past-experiences/6717b5f5be4456103b8ff767.md
Labels: status: waiting review, scope: curriculum, new english course

#58713 chore(deps): update testing-library
  package.json
  pnpm-lock.yaml
Labels: status: waiting review

#58742 fix(curriculum): updated comprehension check questions for string concatenation lecture
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-javascript/672d49b2fb76df5f1d6117af.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58695 chore(curriculum): adding remaining two transcripts for DOM lectures
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-event-object-and-event-delegation/6732a06aed1b095f57b0bb82.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-event-object-and-event-delegation/67338e93b75977a344cf6d40.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58708 chore(curriculum): add working with objects transcripts
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/67329f737126b75bcb949e13.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b721eb98f224868b44a6.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b72961f94324bd6390de.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b73509f71f24ef05e86e.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b73d25cc01251b778043.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b749b8aad125523dcda5.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b758194c97257d23fc72.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b76c03f7d825c7fc74ee.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b77adf9de12617a2dbb3.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b788046862264eeb1c39.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b79c6aa77826855a3f11.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58697 fix(curriculum): place Present Perfect Tense in backticks and typo
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-discuss-roles-and-responsibilies/65b0dde5120c33f904f47a62.md
Labels: status: waiting review, scope: curriculum, new english course

#58860 fix(curriculum): Added code examples for HTML review
  curriculum/challenges/english/25-front-end-development/review-html-accessibility/671a87a39b88245a579c2271.md
Labels: status: waiting review, scope: curriculum, full stack cert

#58880 fix(curriculum): wrap output strings in double quotes
  curriculum/challenges/english/25-front-end-development/review-javascript-variables-and-data-types/6723be264695fb7e619fe1fa.md
Labels: status: waiting review, scope: curriculum
