Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2025-10, with the labels that each got.

#62432 fix(curriculum): update digit length in Phone Number Formatter (2025-09-30) instructions
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da671.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da671.md
Labels: status: waiting review, scope: curriculum

#61399 chore(deps): update curriculum-helpers to v6
  curriculum/challenges/english/blocks/workshop-reusable-profile-card-component/674ef2d357676e50e469165a.md
  curriculum/challenges/english/blocks/workshop-reusable-profile-card-component/68720c179cd34be6793bfdf6.md
  curriculum/challenges/english/blocks/workshop-reusable-profile-card-component/68779156bd3704b727ba5f38.md
  curriculum/challenges/english/blocks/workshop-reusable-profile-card-component/68779c7183f88b0811570275.md
  pnpm-lock.yaml
  tools/client-plugins/browser-scripts/package.json
Labels: status: waiting review, scope: curriculum, scope: tools/scripts

#62444 fix(api): adjust daily-challenge time from UTC
  api/src/daily-coding-challenge/routes/daily-coding-challenge.test.ts
  api/src/daily-coding-challenge/utils/helpers.ts
Labels: status: waiting review, platform: api

#62457 fix(challenge-editor): use chapterBasedSuperBlocks from config
  tools/challenge-editor/api/utils/get-blocks.ts
Labels: scope: tools/scripts

#62466 fix(a11y): replace Alert with Callout for non-critical messages
  client/src/components/Intro/learn-alert.tsx
  client/src/components/growth-book/codeally-down.tsx
  client/src/components/growth-book/ona-note.tsx
  client/src/components/profile/profile.tsx
  client/src/components/settings/email.tsx
  client/src/templates/Challenges/codeally/rdb-local-logout-alert.tsx
  client/src/templates/Challenges/codeally/rdb-ona-continue-alert.tsx
  client/src/templates/Challenges/codeally/rdb-ona-logout-alert.tsx
  client/src/templates/Challenges/exam/components/missing-prerequisites.tsx
  client/src/templates/Challenges/exam/show.tsx
  client/src/templates/Introduction/components/legacy-links.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
Labels: platform: learn

#62413 fix(scripts): add hasEditableBoundaries property for workshop metadata
  tools/challenge-helper-scripts/create-project.ts
Labels: scope: tools/scripts

#62500 fix(curriculum): Clarify OS as operating system in Python intro lesson
  curriculum/challenges/english/blocks/lecture-introduction-to-python/67fe8567f141d632afaeb71b.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62510 fix(curriculum): remove duplicate tests in daily coding challenge 2025 10 03
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da677.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da677.md
Labels: status: waiting review, scope: curriculum, daily coding challenge

#62440 feat(curriculum): add content to python chapter review
  curriculum/challenges/english/blocks/lecture-introduction-to-python/67fe859a00971c34a23abd43.md
  curriculum/challenges/english/blocks/review-loops-and-sequences/67f39b91583dec1e1eddbb9e.md
  curriculum/challenges/english/blocks/review-python-basics/67f39b40deaec81a3e40e0c5.md
  curriculum/challenges/english/blocks/review-python/67f39e391c9b373069def02c.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62459 feat(api): reuse exam generations
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
Labels: status: waiting review, platform: api

#62495 fix(curriculum): add brief explanation of strings
  curriculum/challenges/english/blocks/lecture-introduction-to-python/67fe8597975ea634042cad8f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62525 fix(tools): consolidate docker compose setup
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-third-party.yml
  .gitpod.yml
  api/README.md
  api/src/plugins/mail-providers/nodemailer.ts
  api/src/utils/env.ts
  docker-compose.yml
  docker/api/docker-compose.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.yml
  e2e/utils/mailhog.ts
Labels: platform: api, scope: tools/scripts

#62477 chore: initiate replica with defined host
  .devcontainer/docker-compose.yml
  docker/docker-compose.yml
Labels: status: waiting review

#62565 fix(curriculum): spacing and backticks
  curriculum/challenges/english/blocks/learn-how-to-share-feedback/679e249b8823ef7378679c24.md
  curriculum/challenges/english/blocks/learn-how-to-use-conditionals/6794acd2567757780af6a69d.md
Labels: scope: curriculum

#61794 fix(curriculum): specify min and max restrictions for House Painting
  curriculum/challenges/english/blocks/lab-house-painting/66d6a7a3e1aa411e94bf2346.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62575 fix(curriculum): Python OOP lessons order
  curriculum/challenges/english/blocks/lecture-understanding-abstraction/68420c1dfb941767044c5a31.md
  curriculum/challenges/english/blocks/lecture-understanding-abstraction/68c3bc80f67363a31791fe1c.md
  curriculum/challenges/english/blocks/lecture-understanding-inheritance-and-polymorphism/68420c0610b61d64fe2cfd12.md
  curriculum/challenges/english/blocks/lecture-understanding-inheritance-and-polymorphism/68c3ba8940e4df8afa83a723.md
  curriculum/challenges/english/blocks/lecture-understanding-inheritance-and-polymorphism/68c3bc4ddb7b469fb7d17c28.md
  curriculum/challenges/english/blocks/lecture-understanding-inheritance-and-polymorphism/68ca71c3f0ee7ece4ea1e286.md
  curriculum/structure/blocks/lecture-understanding-abstraction.json
  curriculum/structure/blocks/lecture-understanding-inheritance-and-polymorphism.json
  curriculum/structure/blocks/lecture-understanding-object-oriented-programming-and-encapsulation.json
Labels: status: waiting review, scope: curriculum, full stack cert

#62178 feat(client): add 3 disclosure cde for rdb
  client/config/growthbook-features-default.json
  client/i18n/locales/english/translations.json
  client/src/templates/Challenges/codeally/codespaces-instructions.tsx
  client/src/templates/Challenges/codeally/local-instructions.tsx
  client/src/templates/Challenges/codeally/ona-instructions.tsx
  client/src/templates/Challenges/codeally/rdb-local-logout-alert.tsx
  client/src/templates/Challenges/codeally/show.tsx
  e2e/user-token.spec.ts
Labels: platform: learn, scope: i18n, scope: tools/scripts

#62584 fix(client): add challenge title to exam download page
  client/src/templates/Challenges/exam-download/show.tsx
Labels: platform: learn

#62544 fix(curriculum): test for unique characters
  curriculum/challenges/english/blocks/lab-password-generator/66f53dc2c5bd6a11d6c3282f.md
Labels: scope: curriculum, status: waiting update

#62521 fix(curriculum): test case improvement for CSS Lab "Build a moon orbit"
  curriculum/challenges/english/blocks/lab-moon-orbit/66a37f37ef5823a313de8c26.md
Labels: status: waiting review, scope: curriculum
