Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2025-09, with the labels that each got.

#62000 fix(curriculum): correct object property syntax in working with objects lesson
  curriculum/challenges/english/blocks/lecture-working-with-objects/6732b76c03f7d825c7fc74ee.md
Labels: status: waiting review, scope: curriculum

#61975 fix(Curriculum): removed unused imaged from scene-assets.js
  curriculum/schema/scene-assets.js
Labels: status: waiting review, english for developers

#61831 fix(tools): curriculum command line helpers
  client/utils/build-challenges.js
  curriculum/build-curriculum.js
  curriculum/build-superblock.js
  curriculum/file-handler.js
  curriculum/package.json
  curriculum/test/test-challenges.js
  shared/config/curriculum.ts
  tools/challenge-auditor/index.ts
  tools/challenge-helper-scripts/commands.ts
  tools/challenge-helper-scripts/create-empty-steps.ts
  tools/challenge-helper-scripts/create-language-block.ts
  tools/challenge-helper-scripts/create-next-challenge.ts
  tools/challenge-helper-scripts/create-next-step.ts
  tools/challenge-helper-scripts/create-next-task.ts
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/create-quiz.ts
  tools/challenge-helper-scripts/create-this-challenge.ts
  tools/challenge-helper-scripts/delete-challenge.ts
  tools/challenge-helper-scripts/delete-step.ts
  tools/challenge-helper-scripts/delete-task.ts
  tools/challenge-helper-scripts/helpers/create-project.test.ts
  tools/challenge-helper-scripts/helpers/create-project.ts
  tools/challenge-helper-scripts/helpers/get-base-meta.ts
  tools/challenge-helper-scripts/helpers/get-challenge-order.test.ts
  tools/challenge-helper-scripts/helpers/get-challenge-order.ts
  tools/challenge-helper-scripts/helpers/get-step-template.ts
  tools/challenge-helper-scripts/helpers/project-metadata.test.ts
  tools/challenge-helper-scripts/helpers/project-metadata.ts
  tools/challenge-helper-scripts/helpers/utils.test.ts
  tools/challenge-helper-scripts/helpers/utils.ts
  tools/challenge-helper-scripts/insert-challenge.ts
  tools/challenge-helper-scripts/insert-step.ts
  tools/challenge-helper-scripts/insert-task.ts
  tools/challenge-helper-scripts/reorder-tasks.ts
  tools/challenge-helper-scripts/repair-meta.test.ts
  tools/challenge-helper-scripts/repair-meta.ts
  tools/challenge-helper-scripts/update-challenge-order.ts
  tools/challenge-helper-scripts/update-step-titles.ts
  tools/challenge-helper-scripts/utils.test.ts
  tools/challenge-helper-scripts/utils.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#62017 chore(curriculum): release four python modules
  curriculum/structure/blocks/lab-isbn-validator.json
  curriculum/structure/blocks/lab-number-pattern-generator.json
  curriculum/structure/blocks/lab-rpg-character.json
  curriculum/structure/blocks/lab-user-configuration-manager.json
  curriculum/structure/blocks/lecture-introduction-to-python.json
  curriculum/structure/blocks/lecture-understanding-error-handling.json
  curriculum/structure/blocks/lecture-working-with-dictionaries-and-sets.json
  curriculum/structure/blocks/lecture-working-with-loops-and-sequences.json
  curriculum/structure/blocks/lecture-working-with-modules.json
  curriculum/structure/blocks/quiz-dictionaries-and-sets.json
  curriculum/structure/blocks/quiz-error-handling.json
  curriculum/structure/blocks/quiz-loops-and-sequences.json
  curriculum/structure/blocks/quiz-python-basics.json
  curriculum/structure/blocks/review-dictionaries-and-sets.json
  curriculum/structure/blocks/review-error-handling.json
  curriculum/structure/blocks/review-loops-and-sequences.json
  curriculum/structure/blocks/review-python-basics.json
  curriculum/structure/blocks/workshop-caesar-cipher.json
  curriculum/structure/blocks/workshop-medical-data-validator.json
  curriculum/structure/blocks/workshop-pin-extractor.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, full stack cert

#60450 chore(curriculum): remove concatenation asserts in Trivia Bot lab
  curriculum/challenges/english/blocks/lab-javascript-trivia-bot/66ed41f912d0bb1dc62da5dd.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62011 test(e2e): mock quiz data in quiz-challenge.spec.ts
  e2e/fixtures/quiz-fixture.json
  e2e/quiz-challenge.spec.ts
Labels: status: waiting review, scope: tools/scripts

#61991 feat: daily challenges 30-54
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68af0687ef34c76c28ffa547.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68af0687ef34c76c28ffa549.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68af0687ef34c76c28ffa54b.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68af0687ef34c76c28ffa54d.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68af0687ef34c76c28ffa54f.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b06e589bf227324381476f.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b06e589bf2273243814771.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b06e589bf2273243814773.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b06e589bf2273243814775.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b06e589bf2273243814777.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b1f72371a5ac895ac70a02.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b1f72371a5ac895ac70a04.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b1f72371a5ac895ac70a06.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b1f72371a5ac895ac70a08.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b1f72371a5ac895ac70a0a.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7687dded630607aceccab.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7687dded630607aceccad.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7687dded630607aceccaf.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7687dded630607aceccb1.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7687dded630607aceccb3.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da66f.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da671.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da673.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da675.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7cadffed0e75a517da677.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68adce01c0e1144d0a90295f.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68af0687ef34c76c28ffa548.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68af0687ef34c76c28ffa54a.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68af0687ef34c76c28ffa54c.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68af0687ef34c76c28ffa54e.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68af0687ef34c76c28ffa550.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b06e589bf2273243814770.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b06e589bf2273243814772.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b06e589bf2273243814774.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b06e589bf2273243814776.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b06e589bf2273243814778.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b1f72371a5ac895ac70a03.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b1f72371a5ac895ac70a05.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b1f72371a5ac895ac70a07.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b1f72371a5ac895ac70a09.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b1f72371a5ac895ac70a0b.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7687dded630607aceccac.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7687dded630607aceccae.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7687dded630607aceccb0.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7687dded630607aceccb2.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7687dded630607aceccb4.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da670.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da672.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da674.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da676.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7cadffed0e75a517da678.md
  curriculum/structure/blocks/daily-coding-challenges-javascript.json
  curriculum/structure/blocks/daily-coding-challenges-python.json
  tools/daily-challenges/seed-daily-challenges.ts
Labels: status: waiting review, scope: curriculum, scope: tools/scripts

#62022 refactor(curriculum): TypeScript lecture block into smaller blocks
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-introduction-to-typescript/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-generics-and-type-narrowing/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-typescript-configuration-files/index.md
  curriculum/challenges/english/blocks/lecture-working-with-generics-and-type-narrowing/67d30191adb999a9909109ef.md
  curriculum/challenges/english/blocks/lecture-working-with-generics-and-type-narrowing/67d301a5f536d1a9e5df1a8c.md
  curriculum/challenges/english/blocks/lecture-working-with-typescript-configuration-files/67d301cc87b84eaa42bdcdbe.md
  curriculum/structure/blocks/lecture-introduction-to-typescript.json
  curriculum/structure/blocks/lecture-working-with-generics-and-type-narrowing.json
  curriculum/structure/blocks/lecture-working-with-typescript-configuration-files.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#59012 chore(curriculum): replace magazine layout lab with newspaper layout lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-magazine-layout/index.md
  client/src/pages/learn/full-stack-developer/lab-newspaper-layout/index.md
  curriculum/challenges/english/blocks/lab-magazine-layout/6735a7370e0ae93a4577c689.md
  curriculum/challenges/english/blocks/lab-newspaper-layout/6735a7370e0ae93a4577c689.md
  curriculum/structure/blocks/lab-newspaper-layout.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#62056 fix: rebuild challenge pages if source is updated
  client/gatsby-config.js
  client/utils/build-challenges.js
  curriculum/build-curriculum.js
  curriculum/build-curriculum.test.js
  tools/client-plugins/gatsby-source-challenges/gatsby-node.js
Labels: platform: learn, scope: tools/scripts

#62019 fix(curriculum): grammar errors in "Build a Financial Calculator" challenge
  curriculum/challenges/english/blocks/build-a-financial-calculator-project/63d8401e39c73468b059cd42.md
Labels: status: waiting review, scope: curriculum

#61992 fix(curriculum): improve test for profile card step 4
  curriculum/challenges/english/blocks/workshop-reusable-profile-card-component/674ef2d357676e50e469165a.md
Labels: status: waiting review, scope: curriculum

#62081 fix(gha): cleaner and working matrix
  .github/workflows/deploy-client.yml
Labels: scope: tools/scripts

#62106 fix(gha): disable i18n nodejs tests
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#62103 fix(curriculum): daily challenge typos
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68adce01c0e1144d0a90295e.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68af0687ef34c76c28ffa54d.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b06e589bf2273243814775.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b1f72371a5ac895ac70a06.md
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68b7687dded630607aceccb1.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68adce01c0e1144d0a90295e.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68af0687ef34c76c28ffa54d.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b06e589bf2273243814775.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b1f72371a5ac895ac70a06.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68b7687dded630607aceccb1.md
Labels: status: waiting review, scope: curriculum

#61865 refactor(curriculum): divide JavaScript objects lecture block into smaller focused blocks
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-introduction-to-javascript-objects-and-their-properties/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-json/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-objects/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-optional-chaining-and-object-destructuring/index.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/67329f737126b75bcb949e13.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/6732b721eb98f224868b44a6.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/6732b72961f94324bd6390de.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/6732b73509f71f24ef05e86e.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/6732b73d25cc01251b778043.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/6732b749b8aad125523dcda5.md
  curriculum/challenges/english/blocks/lecture-introduction-to-javascript-objects-and-their-properties/6732b758194c97257d23fc72.md
  curriculum/challenges/english/blocks/lecture-working-with-json/6732b788046862264eeb1c39.md
  curriculum/challenges/english/blocks/lecture-working-with-json/6732b79c6aa77826855a3f11.md
  curriculum/challenges/english/blocks/lecture-working-with-optional-chaining-and-object-destructuring/6732b76c03f7d825c7fc74ee.md
  curriculum/challenges/english/blocks/lecture-working-with-optional-chaining-and-object-destructuring/6732b77adf9de12617a2dbb3.md
  curriculum/structure/blocks/lecture-introduction-to-javascript-objects-and-their-properties.json
  curriculum/structure/blocks/lecture-working-with-json.json
  curriculum/structure/blocks/lecture-working-with-optional-chaining-and-object-destructuring.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: scope: curriculum, platform: learn, scope: i18n

#62120 fix: clarify hint and improve test flexibility in book catalog exercise
  curriculum/challenges/english/blocks/lab-book-catalog-table/66ec4c8e9878d8441956516f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62202 fix(curriculum): changed theme switcher value
  curriculum/challenges/english/blocks/lab-theme-switcher/687ad7be1ff45032ccf1d92f.md
Labels: scope: curriculum

#62214 fix(curriculum): typo in language feedback
  curriculum/challenges/english/blocks/learn-how-to-share-your-progress-in-weekly-stand-up-meetings/6579e0385253cd3a7bd44902.md
Labels: status: waiting review, scope: curriculum

#62190 Feat(Curriculum): Implement Chapter Based Layout to A1 Spanish
  client/i18n/locales/english/intro.json
  client/src/pages/learn/a1-professional-spanish/a1-professional-spanish-placeholder-block/index.md
  client/src/pages/learn/a1-professional-spanish/es-a1-learn-greetings-during-the-day/index.md
  client/src/pages/learn/a1-professional-spanish/es-a1-practice-greetings-and-farewells/index.md
  client/src/pages/learn/a1-professional-spanish/es-a1-quiz-greetings-and-farewells/index.md
  client/src/pages/learn/a1-professional-spanish/es-a1-review-greetings-and-farewells/index.md
  client/src/pages/learn/a1-professional-spanish/es-a1-warm-up-greetings-and-farewells-basics/index.md
  client/src/templates/Introduction/components/super-block-accordion.tsx
  curriculum/challenges/english/blocks/a1-professional-spanish-placeholder-block/68bb001c22f3bcbd1fdf38fa.md
  curriculum/challenges/english/blocks/es-a1-learn-greetings-during-the-day/68c84d44d91406c37b3ad73f.md
  curriculum/challenges/english/blocks/es-a1-practice-greetings-and-farewells/68c850c5eb642cc96ed86544.md
  curriculum/challenges/english/blocks/es-a1-quiz-greetings-and-farewells/68c8510f4a9c00ca2a67160c.md
  curriculum/challenges/english/blocks/es-a1-review-greetings-and-farewells/68c850ed23d494c9be5cb22a.md
  curriculum/challenges/english/blocks/es-a1-warm-up-greetings-and-farewells-basics/68bb001c22f3bcbd1fdf38fa.md
  curriculum/challenges/english/blocks/es-a1-warm-up-greetings-and-farewells-basics/68c488abd71a3e27190965e0.md
  curriculum/schema/scene-assets.js
  curriculum/structure/blocks/a1-professional-spanish-placeholder-block.json
  curriculum/structure/blocks/es-a1-learn-greetings-during-the-day.json
  curriculum/structure/blocks/es-a1-practice-greetings-and-farewells.json
  curriculum/structure/blocks/es-a1-quiz-greetings-and-farewells.json
  curriculum/structure/blocks/es-a1-review-greetings-and-farewells.json
  curriculum/structure/blocks/es-a1-warm-up-greetings-and-farewells-basics.json
  curriculum/structure/superblocks/a1-professional-spanish.json
  shared/config/curriculum.ts
Labels: scope: curriculum, platform: learn, scope: i18n, professional spanish

#62116 feat(curriculum): add git and GitHub lectures
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-introduction-to-git-and-github/index.md
  client/src/pages/learn/full-stack-developer/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/index.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/68828e965f70137025ec5031.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/688290189fecfe7206d22833.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/6882902bc844b1723da7eb13.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/6882904fd7063f7258c0aef3.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/68829061f03543726ea6f318.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/68829079ab2abe728a822cc1.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/688290b7f7f46f72d3d4e73d.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/688290c998562972e953d34d.md
  curriculum/challenges/english/blocks/lecture-introduction-to-git-and-github/688290da3736c273009129d0.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/688290ef85c79973321a23af.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/68829101d909657350cd80af.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/68829116a80ecd73681261b1.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/6882913b2b58c2738eaaa2d1.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/6882915386c73273ac489f38.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/68829162a7f96d73c8505d3d.md
  curriculum/challenges/english/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd/688291b65db00473e1136725.md
  curriculum/structure/blocks/lecture-introduction-to-git-and-github.json
  curriculum/structure/blocks/lecture-working-with-code-reviews-branching-deployment-and-ci-cd.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62179 fix(tools): insert step with appropriate challenge type
  tools/challenge-helper-scripts/commands.ts
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/helpers/get-step-template.test.ts
  tools/challenge-helper-scripts/helpers/get-step-template.ts
  tools/challenge-helper-scripts/utils.ts
Labels: status: waiting review, scope: tools/scripts

#62067 feat(curriculum): add lectures for rest parameter syntax and arguments object
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-working-with-the-arguments-object-and-rest-parameters/index.md
  curriculum/challenges/english/blocks/lecture-working-with-the-arguments-object-and-rest-parameters/68bcc3b6a7480288cd981be0.md
  curriculum/challenges/english/blocks/lecture-working-with-the-arguments-object-and-rest-parameters/68bcc7d9a1807e9752728e45.md
  curriculum/structure/blocks/lecture-working-with-the-arguments-object-and-rest-parameters.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62048 fix(dev): preserve step order during hot reload by reloading all chal…
  client/utils/build-challenges.js
  tools/client-plugins/gatsby-source-challenges/gatsby-node.js
Labels: status: waiting review, platform: learn, scope: tools/scripts

#62051 feat(curriculum): add media catalogue workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-media-catalogue/index.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af272f60e009597dd861e1.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af273960e009597dd861e2.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af274560e009597dd861e3.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af274e60e009597dd861e4.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af275860e009597dd861e5.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af276360e009597dd861e6.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af276c60e009597dd861e7.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af277560e009597dd861e8.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af277e60e009597dd861e9.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68af278a60e009597dd861ea.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b6cc518177b0a11c3fe3b1.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b6d1f70fffb10287c8031e.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b6d5244e6ce639e52fd1e7.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b6d9692a6526838265ad7f.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b702892910ab7b495de081.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b704862dd6559e890c2a86.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b7e1818bd294974b9099bf.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b804f3be853a355f055fef.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b80a995417adac579f9545.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b80d521177c1e5469d31bf.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b80ef5aae8b2078b0a9dc1.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b810b125078b2c943ce4e5.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b813ecdbe8896fd1fcf736.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b816815f13eca63a588b45.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b942c9b8cce592f1c33d03.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b94426d4f9aaaa9ed47203.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b94625a68b55cd53ec1f74.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b94a1a016e631239d7d10d.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b94e26d2216958479e24bf.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b95956da014b1a8e32ffb3.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b95c952d50ed52abe02ed3.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b95fa5f6e575879105e74f.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b96d7ba5421d758dbb8ab8.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b96f1e9f14eb91ed0d9b98.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b970cf5f000fafa537dbbd.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b991f8b4aff7f09a06c0c2.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b99289c744bffa96807d04.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b995fb1712f635a9387fe8.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b99699b8d2ab4092ba0623.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b9999b6cfccc74e268c0f1.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b99aa2f4444c86af78c101.md
  curriculum/challenges/english/blocks/workshop-media-catalogue/68b99be831fb229c9d950296.md
  curriculum/structure/blocks/workshop-media-catalogue.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62265 chore(tools): migrate scripts/lint test to vitest
  jest.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/scripts/lint/index.test.js
  tools/scripts/lint/package.json
Labels: scope: tools/scripts

#62267 refactor(challenge-helper-scripts): remove superBlock field from base meta
  tools/challenge-helper-scripts/helpers/get-base-meta.ts
Labels: scope: tools/scripts

#62089 feat: find closest matching block and superblock for testing
  curriculum/build-curriculum.js
  curriculum/package.json
  curriculum/utils.js
  curriculum/utils.test.ts
  pnpm-lock.yaml
Labels: status: waiting review

#62259 fix(curriculum): allow spaces in travel agency page
  curriculum/challenges/english/blocks/lab-travel-agency-page/669e2f60e83c011754f711f9.md
Labels: status: waiting review, scope: curriculum

#62216 feat(curriculum): add Create a Deep Flattening Tool lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-deep-flattening-tool/index.md
  curriculum/challenges/english/blocks/lab-deep-flattening-tool/ab306dbdcc907c7ddfc30830.md
  curriculum/structure/blocks/lab-deep-flattening-tool.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#62268 fix(challenge-helper-scripts): make `create-language-block` support chapter-based structure
  tools/challenge-helper-scripts/create-language-block.ts
Labels: scope: tools/scripts

#62235 fix(curriculum): typo in daily challenge
  curriculum/challenges/english/blocks/daily-coding-challenges-javascript/68c1a929005bf54d342aa8d3.md
  curriculum/challenges/english/blocks/daily-coding-challenges-python/68c1a929005bf54d342aa8d2.md
Labels: status: waiting review, scope: curriculum

#62173 feat(curriculum): add wherefore art thou challenge lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-matching-object-filter/index.md
  curriculum/challenges/english/blocks/lab-matching-object-filter/a8e512fbe388ac2f9198f0fa.md
  curriculum/structure/blocks/lab-matching-object-filter.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62302 fix(curriculum): typo fix in JavaScript Fundamentals
  curriculum/challenges/english/blocks/review-javascript-fundamentals/6723ca166fe90eb0a3146848.md
Labels: status: waiting review, scope: curriculum

#61374 feat: update growthbook and handle network errors
  client/package.json
  client/src/client-only-routes/show-settings.test.tsx
  client/src/components/Intro/intro.test.tsx
  client/src/components/growth-book/growth-book-wrapper.test.tsx
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/pages/index.tsx
  pnpm-lock.yaml
Labels: status: waiting review, platform: learn

#61911 fix(curriculum): Update business card tests to allow flexible containers and anchors
  curriculum/challenges/english/blocks/lab-business-card/6690e10ebe2181212abc9652.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62330 refactor: remove jest and lint vitest
  api/src/exam-environment/utils/exam-environment.test.ts
  api/src/plugins/error-handling.test.ts
  api/src/routes/protected/settings.test.ts
  api/vitest.utils.ts
  client/package.json
  client/src/components/Intro/intro.test.tsx
  client/src/components/create-language-redirect.test.ts
  client/src/redux/donation-saga.test.js
  client/src/templates/Challenges/redux/execute-challenge-saga.test.js
  curriculum/package.json
  eslint.config.mjs
  jest.config.js
  jest.setup.js
  jest.transform.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/challenge-helper-scripts/helpers/get-file-name.test.ts
  tools/challenge-parser/parser/__snapshots__/index.acceptance.test.js.snap
  tools/challenge-parser/parser/index.acceptance.test.js
  tools/challenge-parser/parser/plugins/add-seed.test.js
  tools/challenge-parser/parser/plugins/replace-imports.test.js
  tools/scripts/build/build-external-curricula-data-v1.test.ts
  tools/scripts/build/build-external-curricula-data-v2.test.ts
  tsconfig-base.json
Labels: platform: api, platform: learn, scope: tools/scripts

#62271 feat(curriculum): add odd Fibonacci sum calc challenge lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-odd-fibonacci-sum-calculator/index.md
  curriculum/challenges/english/blocks/lab-odd-fibonacci-sum-calculator/a5229172f011153519423690.md
  curriculum/structure/blocks/lab-odd-fibonacci-sum-calculator.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62313 fix(curriculum): Maintain getMode function consistency in steps 39 - 59
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ebd3ab962c168a122e85.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ec8b9c70fd17b8c7ba3f.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ecef9f045519063da9b3.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352edee8a4de01ad693f0e4.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ee566a59d31d24bde74b.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f09b1e53a420e7873344.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f179bdca23221298a5ba.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f2526dccb523150b64fb.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352f2a24eb71b24284ca2b6.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352faf71a9db52631864634.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fbb93a91a8272f838d42.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fcb156834128001ea945.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fce75b2d3b2924930f1e.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fe473d53592a40ae403b.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352fed209792d2b89e92ea1.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ff27e0e51b2c7dce0010.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6352ffe4cfafa72d595a0007.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6353004b235d7a2e0b913f2b.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6353024f5eab012fa2f57eec.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/6353028147d3c7309017216a.md
  curriculum/challenges/english/blocks/learn-advanced-array-methods-by-building-a-statistics-calculator/635302be760d6031d11a06cd.md
Labels: status: waiting review, scope: curriculum, archived coursework

#62310 chore(curriculum): update rps-game instructions and hasPlayerWonTheRound parameter
  curriculum/challenges/english/blocks/workshop-rps-game/66cf315cff4d36b27da828ba.md
  curriculum/challenges/english/blocks/workshop-rps-game/66cf33305293e1b35c1aef7f.md
  curriculum/challenges/english/blocks/workshop-rps-game/66cf34fcb005e7b447141afd.md
  curriculum/challenges/english/blocks/workshop-rps-game/66cf35a75f891ab4f4e5497b.md
  curriculum/challenges/english/blocks/workshop-rps-game/66cf3639aca119b5c00b02d3.md
  curriculum/challenges/english/blocks/workshop-rps-game/66d064c7d79408da050f8b2f.md
  curriculum/challenges/english/blocks/workshop-rps-game/66d068348ca093db469b4d59.md
  curriculum/challenges/english/blocks/workshop-rps-game/66d0746099f6f3de3678fd26.md
  curriculum/challenges/english/blocks/workshop-rps-game/66d076040c7d1cdf36525af9.md
  curriculum/challenges/english/blocks/workshop-rps-game/66d081d79b1d57e1b42caabf.md
  curriculum/challenges/english/blocks/workshop-rps-game/66d085d37aeffce2ef786de3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61361 feat(client): add exam attempts to exam-download page
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
  api/src/exam-environment/schemas/challenges.ts
  api/src/exam-environment/schemas/index.ts
  client/i18n/locales/english/translations.json
  client/package.json
  client/src/redux/create-store.ts
  client/src/redux/root-reducer.ts
  client/src/templates/Challenges/exam-download/attempts.tsx
  client/src/templates/Challenges/exam-download/show.tsx
  client/src/utils/ajax.ts
  pnpm-lock.yaml
Labels: platform: api, platform: learn, scope: i18n

#62369 fix(curriculum): correct casing of JavaScript
  client/src/pages/learn/full-stack-developer/lecture-working-with-the-dom-click-events-and-web-apis/index.md
  curriculum/challenges/english/blocks/learn-introductory-javascript-by-building-a-pyramid-generator/6672e579cc11472272ab23e6.md
Labels: status: waiting review, scope: curriculum, platform: learn

#61710 fix(client): fake sign in after donating
  client/src/components/growth-book/growth-book-wrapper.tsx
  client/src/redux/donation-saga.js
  client/src/redux/index.js
Labels: status: waiting review, platform: learn

#62203 fix(tools): allow more chapter based superblocks
  tools/challenge-helper-scripts/create-project.ts
  tools/challenge-helper-scripts/helpers/create-project.ts
Labels: status: waiting review, scope: tools/scripts

#62131 feat (curriculum): add OOP review
  curriculum/challenges/english/blocks/review-object-oriented-programming/67f39dac6c3fac29c3d54918.md
Labels: status: waiting review, scope: curriculum, full stack cert

#62117 feat(curriculum) : convert spinal case challenge to lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-spinal-case-converter/index.md
  curriculum/challenges/english/blocks/lab-spinal-case-converter/a103376db3ba46b2d50db289.md
  curriculum/structure/blocks/lab-spinal-case-converter.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#61756 fix(curriculum): clarify shallow copy explanation and add nested array examples
  curriculum/challenges/english/blocks/lecture-working-with-common-array-methods/6732b29b8b7d4f15b94d12ca.md
  curriculum/challenges/english/blocks/review-javascript-arrays/6723c66f623701a3cdf72130.md
  curriculum/challenges/english/blocks/review-javascript/6723d3cfdd0717d3f1bf27e3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#61638 feat: add emoji reactor workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-emoji-reactor/index.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/688c90634eb5ae69845ac35d.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/6899b0d1825ff24e9fe8d747.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/6899b1d3bb656e56bd6937e2.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/6899b593d232e07617f74055.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/6899b7755876b10444ae3bcd.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/6899b84e392df30ae370985e.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/6899c30b1d26094e11170c92.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/689af0bf1c707336ee9a1842.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/689b15aacce1ae176ec768dc.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/689b17e7e63b8e2c13839e98.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/68a9f8378ddba1261a268cce.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/68a9fa161498c3324ac06fe1.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/68a9fa1787009f3293b7ba7f.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/68a9fa18ad7a8432d0fc8621.md
  curriculum/challenges/english/blocks/workshop-emoji-reactor/68a9fa1976616e330813a96c.md
  curriculum/structure/blocks/workshop-emoji-reactor.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62389 fix(curriculum): 2 typos in the dom click events and web api lecture
  curriculum/challenges/english/blocks/lecture-working-with-the-dom-click-events-and-web-apis/6732a0472f52015e511f8e58.md
  curriculum/challenges/english/blocks/lecture-working-with-the-dom-click-events-and-web-apis/673368f272706633516e4873.md
Labels: status: waiting review, scope: curriculum

#62385 test(challenge-parser): improve validate-sections test
  tools/challenge-parser/parser/plugins/validate-sections.js
  tools/challenge-parser/parser/plugins/validate-sections.test.js
Labels: scope: tools/scripts

#62226 feat(curriculum): add implement a Unique Sorted Union lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-unique-sorted-union/index.md
  curriculum/challenges/english/blocks/lab-unique-sorted-union/a105e963526e7de52b219be9.md
  curriculum/structure/blocks/lab-unique-sorted-union.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#62405 fix(curriculum): typo in top introduction to flexbox challenge type 15
  curriculum/challenges/english/blocks/top-introduction-to-flexbox/6571b2ffcc1de61d7b4dd382.md
Labels: status: waiting review, scope: curriculum

#62404 fix(api): 400 for exam-challenge route with no params
  api/src/exam-environment/routes/exam-environment.test.ts
  api/src/exam-environment/routes/exam-environment.ts
Labels: platform: api

#62053 feat(curriculum): add iframe video workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-build-a-video-display-using-iframe/index.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68b94f23f7b3ee14078c89c5.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876093.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876094.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876095.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876096.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876097.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876098.md
  curriculum/challenges/english/blocks/workshop-build-a-video-display-using-iframe/68ba9c4f1688914d72876099.md
  curriculum/structure/blocks/workshop-build-a-video-display-using-iframe.json
  curriculum/structure/superblocks/full-stack-developer.json
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#62355 feat(curriculum): add graphs and trees review page
  curriculum/challenges/english/blocks/review-graphs-and-trees/67f39e06b8a11b2de9ccd361.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59204 refactor: remove before after user code
  curriculum/challenges/english/blocks/basic-javascript/56533eb9ac21ba0edf2244a8.md
  curriculum/challenges/english/blocks/basic-javascript/56533eb9ac21ba0edf2244bd.md
  curriculum/challenges/english/blocks/basic-javascript/56533eb9ac21ba0edf2244c6.md
  curriculum/challenges/english/blocks/basic-javascript/56533eb9ac21ba0edf2244cf.md
  curriculum/challenges/english/blocks/basic-javascript/5ee127a03c3b35dd45426493.md
  curriculum/challenges/english/blocks/object-oriented-programming/587d7db1367417b2b2512b87.md
  curriculum/challenges/english/blocks/regular-expressions/587d7db6367417b2b2512b9a.md
Labels: status: waiting review, scope: curriculum

#62424 feat(Curriculum):add Certification Introduction- 4 articles
  curriculum/challenges/english/blocks/es-a1-learn-certification-introduction/68d2a81f50d01ea746462565.md
  curriculum/challenges/english/blocks/es-a1-learn-certification-introduction/68dbeddd000f625f95f32de5.md
  curriculum/challenges/english/blocks/es-a1-learn-certification-introduction/68dbf2b25df6176d3df4fe1b.md
  curriculum/challenges/english/blocks/es-a1-learn-certification-introduction/68dbf6032fbaae802567eed7.md
  curriculum/challenges/english/blocks/es-a1-learn-certification-introduction/68dc1abc67b9c4aac3a6837c.md
  curriculum/structure/blocks/es-a1-learn-certification-introduction.json
Labels: scope: curriculum
