Repository freeCodeCamp/freeCodeCamp, pull requests merged in 2025-05, with the labels that each got.

#59761 feat(curriculum): add set 2 for basic css quiz
  curriculum/challenges/english/25-front-end-development/quiz-basic-css/66ed8fa2f45ce3ece4053eab.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59759 feat(curriculum): add set 2 for computer basics quiz
  curriculum/challenges/english/25-front-end-development/quiz-computer-basics/66ed8fb9f45ce3ece4053eac.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60091 fix(curriculum): FSD-replace assert with assert.equal in cat painting workshop
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cecc9eb5c4f4f73dafd07.md
Labels: scope: curriculum

#59821 chore(client): remove bubbles next to the superblock
  client/src/assets/icons/completion-ribbon.tsx
  client/src/components/Map/index.tsx
  client/src/components/Map/map.css
  client/src/components/layouts/global.css
Labels: status: waiting review, platform: learn

#60087 fix(curriculum): improve wording for Crowdin compatibility
  curriculum/challenges/english/25-front-end-development/lecture-styling-lists-and-links/672b9538c25634394ceb7b8f.md
  curriculum/challenges/english/25-front-end-development/workshop-cafe-menu/5f3c866d28d7ad0de6470505.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/64770351e8586671ec0911f0.md
  curriculum/challenges/english/25-front-end-development/workshop-colored-markers/616d55bd160a95e22453a081.md
  curriculum/challenges/english/25-front-end-development/workshop-colored-markers/61764fdda535587e1fefb3aa.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60075 fix(curriculum): better wording in workshop-todo-app
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/64ec9343769e8f85c1e17e05.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60089 fix(curriculum): updated assert methods
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646ce9d790d2a44de5f99e04.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59706 feat(curriculum): add multimedia player lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/build-a-multimedia-player/index.md
  curriculum/challenges/_meta/lab-multimedia-player/meta.json
  curriculum/challenges/english/25-front-end-development/lab-multimedia-player/67fccc2463253b213a000142.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60110 fix(curriculum): lack of support of MathJax in FSD cert
  client/src/utils/math-jax.ts
Labels: status: waiting review, platform: learn

#60108 fix(curriculum): change generic assert to use assert.equal in workshop cat painting curriculum
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cf48d8f8e1f535a1821d3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60050 fix(curriculum): update fcc author wording
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da5abaac81844a54adb03.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da803d9892447d059804e.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da836581c254815f785fe.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641da86294fd9f485d3c2bf0.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daa8c2c3e364ac3650b37.md
  curriculum/challenges/english/25-front-end-development/workshop-fcc-authors-page/641daae5e18eae4b562633e4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60090 fix(curriculum): Reword adjacent code elements for improved Crowdin compatibility
  curriculum/challenges/english/25-front-end-development/lecture-working-with-client-side-storage-and-crud-operations/6733ffb59c62ee4a23522efe.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-css-flexbox/672bd658c0e190f674a5e057.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-maps-and-sets/6733dd694f91d61a5272b4ac.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60044 fix(curriculum): Make Crowdin like the flappy penguin
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/61969aa6acef5b12200f672e.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/6196d213d99f16287bff22ae.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/6197cff995d03905b0cca8ad.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619be946958c6009844f1dee.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d033915012509031f309a.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d090cd8d6db0c93dc5087.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d0eec0ac40611b41e2ccc.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d10cc98145f14820399c5.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d129a417d0716a94de913.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d1340361095175f4b5115.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d15797b580c1828b05426.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d1ed33c9a071cf657a0d6.md
  curriculum/challenges/english/25-front-end-development/workshop-flappy-penguin/619d237a107c10221ed743fa.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60122 fix(curriculum): improve Crowdin compatibility for workshop-nutritional-label
  curriculum/challenges/english/25-front-end-development/workshop-nutritional-label/615f7de4487b64919bb4aa5e.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60118 fix(curriculum): logical typo in clarify information
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-clarify-information-in-different-interactions/663683bee8bb3c35a05ba69a.md
Labels: status: waiting review, scope: curriculum, english for developers

#60134 fix(curriculum): typo in step 27 of music player workshop
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674f534fa181f64a789ffcf9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60130 fix(curriculum): typo in music player workshop step 3
  curriculum/challenges/english/25-front-end-development/workshop-music-player/674724ff8af92f7733e6d980.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60139 fix(curriculum): update assertion syntax for CSS properties in cat painting
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cf1206cac5f51804f49cf.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cf6cbca98e258da65c979.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cfc2b8e6fe95c20a819d5.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cfd853634255d02b64cc1.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cfde6ac612e5d60391f50.md
Labels: status: waiting review, scope: curriculum

#60062 fix(curriculum): improve wording for clarity in step 4 instructions /workshop-reusable-mega-navbar
  curriculum/challenges/english/25-front-end-development/workshop-reusable-mega-navbar/6745c7b06a0b530602cb63fa.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60151 fix(curriculum): typos in core JS fundamentals lecture
  curriculum/challenges/english/25-front-end-development/lecture-understanding-core-javascript-fundamentals/6732c6c72d3738614e1230a2.md
  curriculum/challenges/english/25-front-end-development/lecture-understanding-core-javascript-fundamentals/6732c6d4dec34c61850a1276.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60136 fix(curriculum): assert methods in cat painting step 29
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646cf88aa884405a11ea5bcc.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60144 fix(curriculum): correct aria-label hint in music player step 43
  curriculum/challenges/english/25-front-end-development/workshop-music-player/6752edba757ff96404faf9e9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60157 fix(a11y): hide Fail icon from screen readers
  client/src/assets/icons/fail.tsx
  client/src/templates/Challenges/classic/lower-jaw.tsx
Labels: platform: learn

#60002 chore(curriculum): update TypeScript quiz questions
  curriculum/challenges/english/25-front-end-development/quiz-typescript/66f1ae758b77cfc3e4da6151.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60077 fix(curriculum): typos and spacing in lectures and reviews
  curriculum/challenges/english/25-front-end-development/lecture-working-with-common-string-methods/672d266034b5242126271995.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-functions/672d269da46786225e3fe3fd.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362a34edda41dedf87623.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-higher-order-functions-and-callbacks/673362d7f94d551edb532d24.md
  curriculum/challenges/english/25-front-end-development/lecture-working-with-objects/6732b79c6aa77826855a3f11.md
  curriculum/challenges/english/25-front-end-development/review-javascript-arrays/6723c66f623701a3cdf72130.md
  curriculum/challenges/english/25-front-end-development/review-javascript-higher-order-functions/6723ca6c6db3deb21cb1bf19.md
  curriculum/challenges/english/25-front-end-development/review-javascript-strings/6723c1946e4cd7909a836bb4.md
  curriculum/challenges/english/25-front-end-development/review-javascript/6723d3cfdd0717d3f1bf27e3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60011 fix(GHA): update environment validation
  .github/workflows/deploy.yml
Labels: scope: tools/scripts

#60170 chore(curriculum): Cat painting workshop updated to use specific assert methods step 36-37
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dd8c79ec23463a3d0e356.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dd9d9a729916460724f16.md
Labels: status: waiting review, scope: curriculum

#60191 fix(api): add req id to logs
  api/src/utils/logger.ts
Labels: platform: api

#60186 chore(curriculum): refactor tests in the workshop-cat-painting steps 40-41
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646ddd3f9f97a0667b964bdb.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dde7dc20dc167489faa69.md
Labels: status: waiting review, scope: curriculum

#60193 fix(api): update logs in user.ts
  api/src/routes/public/user.ts
Labels: platform: api

#60199 fix(api): whitespace in default values
  api/src/utils/env.ts
Labels: platform: api

#60188 fix(curriculum): Make calculator tests less restrictive
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc0f1ae40802781b2ea972.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc14ca14e65e7a9ebecb80.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc172af7159a7c67804544.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc1a3a39aef47d6473cb2f.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc21d23238dc8240a8a182.md
  curriculum/challenges/english/25-front-end-development/workshop-calculator/66cc2739f687e484d50bb6f1.md
Labels: scope: curriculum, full stack cert

#60183 fix(curriculum): update cat painting workshop to use specific assert methods step 22
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/6676a8a8d9861319ee901a90.md
Labels: scope: curriculum, full stack cert

#60210 fix(api): update logging
  api/src/routes/public/user.ts
  api/src/utils/logger.ts
Labels: platform: api

#59192 feat: add bash commands review content
  curriculum/challenges/english/25-front-end-development/review-bash-commands/6724e387ee098d1ef33108ba.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59796 feat(curriculum): add set 2 for css layout and effects quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-layout-and-effects/66ed8ff4f45ce3ece4053eb4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59800 feat(curriculum): add set 2 for css typography quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-typography/66ed9010f45ce3ece4053eb8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60220 fix(curriculum): typo in english challenge
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-ask-and-share-about-educational-and-professional-background/657b145976723b56a97b8dda.md
Labels: scope: curriculum, english for developers

#60215 chore: update to mongodb 8 in CI
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#60221 fix(curriculum): update step 33 of cat painting workshop to use assert.equal
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dd556d524bc61c0139bd6.md
Labels: status: waiting review, scope: curriculum

#59932 feat(curriculum): adding superhero application form (React forms) workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-superhero-application-form/index.md
  curriculum/challenges/_meta/workshop-superhero-application-form/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/6808fe91a5cb0c3355f23027.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c3.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c4.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c5.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c6.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c7.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c8.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c9.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590ca.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590cb.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590cc.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590cd.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590ce.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590cf.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d0.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d1.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d2.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590d3.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680fc849a6f2be0a8597c593.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/68148d280ee30e5a567a0e2d.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/68149b101d905a6fc2fcd6d8.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60125 fix(curriculum): improve Crowdin wording for workshop-recipe-ingredient-converter
  curriculum/challenges/english/25-front-end-development/workshop-recipe-ingredient-converter/67353880ed1f52ba28c8eb56.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60224 fix(learn): remove sentence in transcript
  curriculum/challenges/english/25-front-end-development/lecture-what-is-html/670838e914096b194b0c51aa.md
Labels: status: waiting review, scope: curriculum

#60049 feat(ui): test indicator icon
  client/src/templates/Challenges/components/test-suite.css
  client/src/templates/Challenges/components/test-suite.tsx
  client/src/templates/Challenges/redux/execute-challenge-saga.js
Labels: platform: learn

#60227 chore: remove oldschema.prisma
  api/prisma/oldschema.prisma
Labels: platform: api

#60171 fix(curriculum): remove pseudo class from business card lab
  curriculum/challenges/english/25-front-end-development/lab-business-card/6690e10ebe2181212abc9652.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60116 feat(curriculum): adding python loops and sequences quiz questions
  curriculum/challenges/english/25-front-end-development/quiz-loops-and-sequences/67f41268a129e63f8e071736.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60236 fix(curriculum): blank indicators in English challenges
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656a54278a4df6323549e8f9.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656cc35036d0a00fe17e7cee.md
  curriculum/challenges/english/21-a2-english-for-developers/learn-greetings-in-your-first-day-at-the-office/656cd061eb49fb14f672f77f.md
Labels: scope: curriculum, english for developers

#60240 chore(curriculum):remove stray forumTopicId from lab
  curriculum/challenges/english/25-front-end-development/lab-budget-app/5e44413e903586ffb414c94e.md
Labels: scope: curriculum, full stack cert

#59460 feat(curriculum): add polygon area calculator lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-polygon-area-calculator/index.md
  curriculum/challenges/_meta/lab-polygon-area-calculator/meta.json
  curriculum/challenges/english/25-front-end-development/lab-polygon-area-calculator/5e444147903586ffb414c94f.md
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60251 fix(curriculum): correct grammar in transcript ("you" → "you're")
  curriculum/challenges/english/25-front-end-development/lecture-working-with-the-dom-click-events-and-web-apis/673368f272706633516e4873.md
Labels: status: waiting review, scope: curriculum

#60237 chore(curriculum): Update user stories and description for the multimedia player lab
  curriculum/challenges/english/25-front-end-development/lab-multimedia-player/67fccc2463253b213a000142.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60255 fix(curriculum): correct grammar in feature description ('request it' → 'requests it')
  curriculum/challenges/english/25-front-end-development/lecture-understanding-performance-in-web-applications/67d2f759154eac7b4d5cb1bf.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60260 fix(curriculum): update default browser styles lecture
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acbdd06b44c4cd3bf8713.md
Labels: status: waiting review, scope: curriculum, full stack cert, lecture video

#60262 fix(curriculum): correct 'asnwer' to 'answer' in English challenges
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-have-a-conversation-about-preferences-and-motivations/65a534f9fdc15f01ed67d860.md
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-describe-places-and-events/66a9106281f6032d5fc97104.md
Labels: status: waiting review, scope: curriculum

#60264 fix(curriculum): updated cat-painting-workshop steps 42-43 to specific assert methods
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646ddf888632fa67f1180940.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646de5dc8988076a1d992afd.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60256 fix(curriculum): Update the description in python password generator
  curriculum/challenges/english/07-scientific-computing-with-python/learn-regular-expressions-by-building-a-password-generator/6565bd4265158360de8e2ae7.md
Labels: status: waiting review, scope: curriculum, archived coursework

#60292 refactor(curriculum): remove use of after-user-code
  curriculum/challenges/english/01-responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute.md
Labels: scope: curriculum

#60286 fix(curriculum): use cdnjs instead of unpkg
  curriculum/challenges/english/25-front-end-development/lab-color-picker/67bf4350777ac6ffdc027745.md
  tools/client-plugins/browser-scripts/webpack.config.cjs
Labels: status: waiting review, scope: curriculum, scope: tools/scripts

#60295 chore(client): remove unused class names
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/challenges.tsx
  client/src/templates/Introduction/components/super-block-accordion.tsx
Labels: platform: learn

#60285 chore: update required pnpm version to >=10
  .github/workflows/deploy-legacy.yml
  api-server/package.json
  client/package.json
  curriculum/package.json
  docker/api/Dockerfile
  docker/gitpod/Dockerfile
  docker/screenshot-service/Dockerfile
  docker/web/Dockerfile
  package.json
  pnpm-lock.yaml
  shared/package.json
  tools/challenge-helper-scripts/package.json
  tools/challenge-parser/package.json
  tools/client-plugins/browser-scripts/package.json
  tools/client-plugins/gatsby-remark-node-identity/package.json
  tools/client-plugins/gatsby-source-challenges/package.json
  tools/scripts/build/package.json
  tools/scripts/seed-exams/package.json
  tools/scripts/seed/package.json
Labels: platform: api, platform: learn, scope: tools/scripts

#59465 feat(api): add endpoint for submitting daily coding challenges
  api/prisma/schema.prisma
  api/src/plugins/__fixtures__/user.ts
  api/src/routes/protected/challenge.test.ts
  api/src/routes/protected/challenge.ts
  api/src/routes/protected/user.test.ts
  api/src/routes/protected/user.ts
  api/src/schemas.ts
  api/src/schemas/challenge/daily-coding-challenge-completed.ts
  api/src/schemas/user/get-session-user.ts
Labels: status: waiting review, platform: api

#60301 chore(.github): update docker-ghcr actions
  .github/workflows/docker-ghcr.yml
Labels: scope: tools/scripts

#60299 chore(curriculum): update assert methods cat painting workshop steps 48-49
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dea1c98c2426d43a705c3.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646deb169847f86df0f95bfc.md
Labels: scope: curriculum, full stack cert

#59545 feat(curriculum): add hash table lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-hash-table/index.md
  curriculum/challenges/_meta/lab-hash-table/meta.json
  curriculum/challenges/english/25-front-end-development/lab-hash-table/67ed03ac474c48692f41749e.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60313 feat: FOSS funding
  .github/.well-known/funding-manifest-urls
  client/static/funding.json
Labels: platform: learn

#60319 fix(api): deduplicating objects in logs
  api/src/utils/logger.ts
Labels: platform: api

#60300 fix(curriculum): allow both single and double quotes in fcc Forum Leaderboard lab
  curriculum/challenges/english/25-front-end-development/lab-fcc-forum-leaderboard/673c91f0b934834bc4a3ecc2.md
Labels: status: waiting review, scope: curriculum

#60156 fix(curriculum): fix paragraph test for event hub lab
  curriculum/challenges/english/25-front-end-development/lab-event-hub/66ebd4ae2812430bb883c787.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60339 fix(curriculum): typos in workshop superhero application form
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590c3.md
  curriculum/challenges/english/25-front-end-development/workshop-superhero-application-form/680900675ae3d54ee19590cd.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60107 fix: dispatch input event for textarea
  curriculum/challenges/english/25-front-end-development/lab-customer-complaint-form/67279fe50237291f80eed8b8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60342 chore(curriculum): Remove Legacy JS Caesars Cipher ID
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, platform: learn

#60343 fix: update location.hash when following links in preview
  client/src/templates/Challenges/utils/frame.ts
Labels: status: waiting review, platform: learn

#60351 fix(curriculum): updated description for taskData retrieval from local storage
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/650048b0764f9c1b798200e2.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60235 feat: truncate long logs in the client rather than test evaluator
  client/src/templates/Challenges/classic/multifile-editor.tsx
  client/src/templates/Challenges/classic/show.tsx
  client/src/templates/Challenges/components/output.tsx
  client/src/templates/Challenges/projects/backend/show.tsx
  client/src/templates/Challenges/redux/selectors.js
  tools/client-plugins/browser-scripts/test-evaluator.ts
Labels: status: waiting review, platform: learn, scope: tools/scripts

#60177 fix(curriculum): improve Crowdin compatibility for lecture-what-is-css
  curriculum/challenges/english/25-front-end-development/lecture-what-is-css/672acbce8163374c903253c9.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60178 fix(curriculum): improve Crowdin compatibility for workshop-city-skyline
  curriculum/challenges/english/25-front-end-development/workshop-city-skyline/5d822fd413a79914d39e98d5.md
  curriculum/challenges/english/25-front-end-development/workshop-city-skyline/5d822fd413a79914d39e9939.md
Labels: status: waiting review, scope: curriculum, full stack cert

#59951 feat(curriculum): adding frontend libraries chapter review page
  curriculum/challenges/english/25-front-end-development/review-front-end-libraries/6724e2dbf723fe1c8883cc69.md
  curriculum/challenges/english/25-front-end-development/review-react-forms-data-fetching-and-routing/67c9e932c6c4234532d46394.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60350 fix(curriculum): split up test in lab job application form
  curriculum/challenges/english/25-front-end-development/lab-job-application-form/66faac4139dbbd5dd632c860.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60333 refactor(curriculum): remove after-user-code basic data structures
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement.md
Labels: status: waiting review, scope: curriculum

#60332 refactor(curriculum): remove after-user-code basic algorithms
  curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice.md
Labels: status: waiting review, scope: curriculum

#60365 fix(curriculum): remove misleading example in recipe-ingredint-converter
  curriculum/challenges/english/25-front-end-development/workshop-recipe-ingredient-converter/6735424ecfeb557d81dcc9d1.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60367 fix(curriculum): incorrect spelling of "preferrable" to preferable
  curriculum/challenges/english/24-b1-english-for-developers/learn-about-adverbial-phrases/67fe9c903ee32aa40f26dd0a.md
Labels: status: waiting review, scope: curriculum, english for developers

#60369 fix(curriculum): element references in Storytelling App
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa1717ba9ea1a5fa028e0.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa22e99042b1e91fe9d2e.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa47e415d88263d349a10.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa537114e412950b62089.md
  curriculum/challenges/english/25-front-end-development/workshop-storytelling-app/671fa769540d152e53327f4b.md
Labels: scope: curriculum, full stack cert

#60371 fix(api): change csrf logLevel
  api/src/plugins/csrf.test.ts
  api/src/plugins/csrf.ts
Labels: platform: api

#60374 fix(curriculum): typo in css typography quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-typography/66ed9010f45ce3ece4053eb8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60377 fix(curriculum): update challengeType in multimedia player lab
  curriculum/challenges/english/25-front-end-development/lab-multimedia-player/67fccc2463253b213a000142.md
Labels: status: waiting review, scope: curriculum

#60338 refactor(curriculum): remove after-user-code javascript 22
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/build-a-cash-register-project/build-a-cash-register.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-asynchronous-programming-by-building-an-fcc-forum-leaderboard/645f8615fa144d01c476b22c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/660ae8ad1475698da3c3c37d.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-string-and-array-methods-by-building-a-music-player/660aea8782242e8f4bcc42d8.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/review-algorithmic-thinking-by-building-a-dice-game/657a19e477dc04e36a86dffc.md
Labels: status: waiting review, scope: curriculum

#60383 fix(gha): do not cancel for main/prod branches
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e-third-party.yml
  .github/workflows/node.js-tests.yml
Labels: scope: tools/scripts

#60238 fix(curriculum): cleanup quiz questions for relational database quiz
  curriculum/challenges/english/25-front-end-development/quiz-relational-database/66f1af82732957c895f0b21a.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60398 chore(api): add more auth0 plugin logs
  api/src/plugins/auth0.ts
Labels: platform: api

#60309 chore(curriculum): update cat painting workshop steps 46–47 to use assert methods
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646de8478d6f796bfbdccfb2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646de8d204a3426c7d184372.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60399 fix(curriculum): change text for test 24 of Customer Complaint Form
  curriculum/challenges/english/25-front-end-development/lab-customer-complaint-form/67279fe50237291f80eed8b8.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60400 fix(api): handle Date values for completedChallenge.completedDate
  api/prisma/schema.prisma
  api/src/routes/helpers/certificate-utils.ts
  api/src/routes/protected/challenge.ts
  api/src/routes/public/certificate.ts
  api/src/utils/common-challenge-functions.ts
  api/src/utils/normalize.test.ts
  api/src/utils/normalize.ts
Labels: platform: api

#60404 fix(api): log error correctly and differentiate logs
  api/src/plugins/auth0.ts
Labels: platform: api

#60370 fix(curriculum): update question with possibility of two valid answers
  curriculum/challenges/english/25-front-end-development/lecture-css-specificity-the-cascade-algorithm-and-inheritance/672b8ea434ceac23cc90f337.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60389 chore(curriculum): update cat painting workshops steps 50-51 to use specific asserts
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dec359bef3b7811fba5a6.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646dedbcba062079128b2ecc.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60360 fix(curriculum): improve lab password generator last user story
  curriculum/challenges/english/25-front-end-development/lab-password-generator/66f53dc2c5bd6a11d6c3282f.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60403 fix(curriculum): clarify instruction for better understanding
  curriculum/challenges/english/25-front-end-development/lab-bookmark-manager-app/66def5467aee701733aaf8cc.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60405 chore(api): log duplicate account ids
  api/src/routes/helpers/auth-helpers.test.ts
  api/src/routes/helpers/auth-helpers.ts
Labels: status: waiting update, platform: api

#60414 fix(curriculum): update workshop cat painting
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646def5e863abf7a14501421.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-painting/646df03c8f79337ab46f148b.md
Labels: scope: curriculum

#60412 refactor(curriculum): remove after-user-code workshop rps
  curriculum/challenges/english/25-front-end-development/workshop-rps-game/66d076040c7d1cdf36525af9.md
Labels: scope: curriculum

#60402 fix(api): catch invalid ms-username url
  api/src/routes/protected/user.test.ts
  api/src/routes/protected/user.ts
  api/src/routes/public/user.test.ts
Labels: status: waiting review, platform: api

#60429 fix(api): handle when emailVerified is null
  api/prisma/schema.prisma
  api/src/routes/protected/user.ts
Labels: platform: api

#60430 fix(api): handle concurrent deletion requests
  api/src/routes/protected/user.test.ts
  api/src/routes/protected/user.ts
Labels: platform: api

#60427 fix(curriculum): typo in workshop plant nursery catalog step 30
  curriculum/challenges/english/25-front-end-development/workshop-plant-nursery-catalog/6738a5c704680355e29e077c.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60440 fix(mobile): remove a2 spanish superblock
  tools/scripts/build/build-external-curricula-data-v1.test.ts
  tools/scripts/build/build-external-curricula-data-v1.ts
  tools/scripts/build/build-external-curricula-data-v2.test.ts
  tools/scripts/build/build-external-curricula-data-v2.ts
Labels: scope: tools/scripts

#60359 fix(curriculum): update questions in Debugging techniques lecture
  curriculum/challenges/english/25-front-end-development/lecture-debugging-techniques/6733becf4b0c353553b9bfa4.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60128 feat(curriculum): add Python loops and sequences review page
  client/i18n/locales/english/intro.json
  curriculum/challenges/english/25-front-end-development/review-loops-and-sequences/67f39b91583dec1e1eddbb9e.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#59790 feat: add set 2 of questions for CSS animations quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-animations/66ed8fc9f45ce3ece4053eae.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60454 fix(curriculum): correct inaccurate answer in express agreement challenge
  curriculum/challenges/english/24-b1-english-for-developers/learn-how-to-express-agreement/67b2bb2c55db7018a4719406.md
Labels: status: waiting review, scope: curriculum, english for developers

#60386 chore(curriculum): update HTML chapter to address last issue found in analytics report
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-debug-camperbots-profile-page/index.md
  client/src/pages/learn/full-stack-developer/workshop-curriculum-outline/index.md
  client/src/templates/Challenges/classic/editor.tsx
  curriculum/challenges/_meta/lab-debug-camperbots-profile-page/meta.json
  curriculum/challenges/_meta/lecture-what-is-html/meta.json
  curriculum/challenges/_meta/workshop-curriculum-outline/meta.json
  curriculum/challenges/english/25-front-end-development/lab-debug-camperbots-profile-page/6823f9df49cc206af5471a30.md
  curriculum/challenges/english/25-front-end-development/lecture-what-is-html/66f6db08d55022680a3cfbc9.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc174fcf86c76b9248c6eb2.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc1798ff86c76b9248c6eb3.md
  curriculum/challenges/english/25-front-end-development/workshop-cat-photo-app/5dc17d3bf86c76b9248c6eb4.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823ac607bfdbc46331b2559.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823c1a0bcada44f32bf0bdc.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823d6244511f252c8300eed.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823d9ac8bdc3853df65a1ff.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823e036ea4b71553558c01b.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823e169fda14755fbf00445.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823e637c1c0ed56f781b4fc.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/682ba2318000b62f179bdf04.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/682cd206883fc7b25eb539c5.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/682cd20b883fc7b25eb539c6.md
  curriculum/superblock-structure/full-stack.json
  e2e/donation-modal.spec.ts
  e2e/super-block-page.spec.ts
  tools/scripts/seed/user-data.js
Labels: status: waiting review, scope: curriculum, platform: learn, full stack cert

#60444 dev(api): track sentry releases
  api/src/instrument.ts
Labels: platform: api

#60468 fix(api): handle null picture
  api/prisma/schema.prisma
  api/src/routes/protected/user.ts
  api/src/routes/public/user.ts
Labels: platform: api

#60411 refactor(curriculum): remove after user code music instrument filter
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/672137c47fa88d6f753f6d0b.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/67213ce0a2ba1278a38df3a5.md
  curriculum/challenges/english/25-front-end-development/workshop-music-instrument-filter/672146dde7104896adb274ae.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60448 fix(curriculum): remove white space from hint message in Role Playing Game
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa27560def7048d7b4a095.md
Labels: status: waiting review, scope: curriculum, archived coursework

#60410 fix(curriculum): remove duplicate --before-all-- sections
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da803d9892447d059804e.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da836581c254815f785fe.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641da86294fd9f485d3c2bf0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-fetch-and-promises-by-building-an-fcc-authors-page/641daa8c2c3e364ac3650b37.md
Labels: status: waiting review, scope: curriculum, archived coursework

#60042 chore(curriculum): rename project to memory light game
  client/config/cert-and-project-map.ts
  client/serve/serve.json
  client/src/__mocks__/edges.json
  curriculum/challenges/_meta/take-home-projects/meta.json
  curriculum/challenges/english/00-certifications/legacy-front-end-certification/legacy-front-end-certification.yml
  curriculum/challenges/english/10-coding-interview-prep/take-home-projects/build-a-simon-game.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n

#60409 feat(curriculum): add sum all numbers algorithm
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-sum-all-numbers-algorithm/index.md
  curriculum/challenges/_meta/lab-sum-all-numbers-algorithm/meta.json
  curriculum/challenges/english/25-front-end-development/lab-sum-all-numbers-algorithm/a3566b1109230028080c9345.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60467 fix(api): handle users without email addresses
  api/jest.utils.ts
  api/prisma/schema.prisma
  api/src/routes/protected/certificate.ts
  api/src/routes/protected/donate.test.ts
  api/src/routes/protected/donate.ts
  api/src/routes/protected/settings.ts
  api/src/routes/protected/user.test.ts
  api/src/routes/protected/user.ts
  api/src/routes/public/email-subscription.test.ts
  api/src/schemas/donate/charge-stripe-card.ts
  api/src/utils/create-user.ts
Labels: status: waiting review, platform: api

#60483 feat(tools): add chapter and module names to external curricula data
  tools/scripts/build/build-external-curricula-data-v2.test.ts
  tools/scripts/build/build-external-curricula-data-v2.ts
  tools/scripts/build/external-data-schema-v2.js
Labels: scope: tools/scripts

#60478 chore(curriculum): add extra h1 tests to camperbot lab
  curriculum/challenges/english/25-front-end-development/lab-debug-camperbots-profile-page/6823f9df49cc206af5471a30.md
Labels: status: blocked, scope: curriculum, full stack cert

#60495 fix(curriculum): typo changed from trnasforming to transforming
  curriculum/challenges/english/21-a2-english-for-developers/learn-how-to-help-a-coworker-troubleshoot-on-github/656bc05be141d914dcc812c3.md
Labels: scope: curriculum

#60485 feat(gha): add workflow to clean-up old images
  .github/workflows/docker-docr-cleanup.yml
Labels: scope: tools/scripts

#60491 fix(api): handle string challengeType
  api/prisma/schema.prisma
  api/src/routes/protected/challenge.ts
  api/src/utils/normalize.test.ts
  api/src/utils/normalize.ts
Labels: platform: api

#60531 fix(curriculum): typo in learn introductions in an online team meeting task 102
  curriculum/challenges/english/21-a2-english-for-developers/learn-introductions-in-an-online-team-meeting/657e54f51fe1c983d840cb70.md
Labels: status: waiting review, scope: curriculum

#60542 chore(deps): update i18next
  client/package.json
  client/src/components/landing/components/benefits.tsx
  client/src/components/landing/components/faq.tsx
  client/src/components/seo/index.tsx
  client/src/templates/Introduction/components/block.tsx
  client/src/templates/Introduction/components/super-block-intro.tsx
  pnpm-lock.yaml
Labels: platform: learn

#60546 test(api): stop reporting request logs during testing
  api/src/plugins/csrf.test.ts
Labels: platform: api

#60538 refactor: remove unused format rules from response schema
  api/src/schemas/user/get-session-user.ts
Labels: status: waiting review, platform: api

#60548 fix(curriculum): typos in JS review
  curriculum/challenges/english/25-front-end-development/review-javascript/6723d3cfdd0717d3f1bf27e3.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60185 chore(curriculum): add two labs to full stack/javascript/loops
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-chunky-monkey/index.md
  client/src/pages/learn/full-stack-developer/lab-mutations/index.md
  curriculum/challenges/_meta/lab-chunky-monkey/meta.json
  curriculum/challenges/_meta/lab-mutations/meta.json
  curriculum/challenges/english/25-front-end-development/lab-chunky-monkey/a9bd25c716030ec90084d8a1.md
  curriculum/challenges/english/25-front-end-development/lab-mutations/af2170cad53daa0770fabdea.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60532 chore(curriculum): break up A11y lectures into smaller blocks
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lecture-accessible-media-elements/index.md
  client/src/pages/learn/full-stack-developer/lecture-accessible-tables-forms/index.md
  client/src/pages/learn/full-stack-developer/lecture-introduction-to-aria/index.md
  curriculum/challenges/_meta/lecture-accessible-media-elements/meta.json
  curriculum/challenges/_meta/lecture-accessible-tables-forms/meta.json
  curriculum/challenges/_meta/lecture-importance-of-accessibility-and-good-html-structure/meta.json
  curriculum/challenges/_meta/lecture-introduction-to-aria/meta.json
  curriculum/challenges/english/25-front-end-development/lecture-accessible-media-elements/672a55b5c0c14493328fe36e.md
  curriculum/challenges/english/25-front-end-development/lecture-accessible-media-elements/672a55dd1d86bc939606e204.md
  curriculum/challenges/english/25-front-end-development/lecture-accessible-media-elements/672a55eb7791559421ff0cd3.md
  curriculum/challenges/english/25-front-end-development/lecture-accessible-media-elements/672a55fbc2d95a9453151caf.md
  curriculum/challenges/english/25-front-end-development/lecture-accessible-tables-forms/672a539b887ec68c593cdc4b.md
  curriculum/challenges/english/25-front-end-development/lecture-accessible-tables-forms/672a53ae8f1ad28c8a1ed0f0.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a53cf67140d8cd85d4b0f.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a549231b8728f7171ed9d.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a54a6675c168faa84252d.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a54bc58319c8fe6f78ad4.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a54ce90c19e9038f481d7.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a54dff9dc439089f1a219.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a54f29d783890d1f94740.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a5507d857a891139abc7f.md
  curriculum/challenges/english/25-front-end-development/lecture-introduction-to-aria/672a551975938a916c74802c.md
  curriculum/superblock-structure/full-stack.json
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60595 fix(curriculum): typo in lab - weather app - test 15
  curriculum/challenges/english/25-front-end-development/lab-weather-app/66f12a88741aeb16b9246c59.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60598 chore: use specific assert methods in project euler problems
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-102-triangle-containment.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-162-hexadecimal-numbers.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-175-fractions-involving-the-number-of-different-ways-a-number-can-be-expressed-as-a-sum-of-powers-of-2.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-182-rsa-encryption.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-101-to-200/problem-199-iterative-circle-packing.md
Labels: status: waiting review, scope: curriculum

#60601 chore: update assertions to use assert.isString for Project Euler
  curriculum/challenges/english/18-project-euler/project-euler-problems-201-to-300/problem-220-heighway-dragon.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-201-to-300/problem-236-luxury-hampers.md
  curriculum/challenges/english/18-project-euler/project-euler-problems-201-to-300/problem-284-steady-squares.md
Labels: status: waiting review, scope: curriculum

#60396 feat(curriculum): adding questions for dictionaries and sets quiz
  curriculum/challenges/english/25-front-end-development/quiz-dictionaries-and-sets/67f412ac59601c4151b763da.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60198 feat(curriculum): add Caesar cipher workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-caesar-cipher/index.md
  curriculum/challenges/_meta/workshop-caesar-cipher/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a3d4c065557260de2ff33.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a41ef5bfdc059cfd9d4b5.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a431692a5f863f726c438.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a549f60f5a3fedfc0edd9.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a5e7f3d47715196b12ca0.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a7e200400089967b8b1f4.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a82806c4c6bc3567f2708.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/680a836235461fce1ff53b3f.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6810869355fa2468f9ebaf9c.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6810891bd6de8a87a833df42.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6818b80519e6c6c47a8bb6e8.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6818e9c7c8dc5694e8f64fc3.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6818eb3f98c0bca5af7c8d03.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6818ed1adc249bb91d373729.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6818fcb250f34e62cab32c39.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6819bc0637b80256a33adccc.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6819be9055828d65c813eec5.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6819c5c9faf2548e556163d5.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6819c7beb4a8289c2b4f24d5.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6819ca464db219ab86f37dc4.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/6819cf38880d8cc9b9f6af7a.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/681a1d60e037127e7c8e0230.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/681a2a6cf95e82ca30866364.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/681a2e35c406ade2f0a5f9b2.md
  curriculum/challenges/english/25-front-end-development/workshop-caesar-cipher/681a44f4c3235f7d8f428545.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60259 feat: add set 2 of questions for Backgrounds and borders quiz
  curriculum/challenges/english/25-front-end-development/quiz-css-backgrounds-and-borders/66ed8fd7f45ce3ece4053eb0.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60101 feat: add usememo usecallback shopping list app workshop
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/workshop-search-app/index.md
  curriculum/challenges/_meta/workshop-shopping-list-app/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67f63e58ce657ae05908d6c8.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67f647f3ce657ae05908d6c9.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fcd561ae787aba05a9d917.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fcd83e40fa32ca2c6af073.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fcdbea6714f8df73b83c86.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fcde1677d474ebe61b4f2e.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fcdef983296ff197e9a1cf.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe3fe8910ff7e2106ff340.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe42e8e6bbaaf3f128004c.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe45cc404a5604ea3a1eb9.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe49ea92b9fc1c09b6e314.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe4adca39a9b224b72d642.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe4fa5e660453e884d6710.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe512b066c4a479f82d6bd.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe53c21e2f8956dcaef1c5.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe5810b61de16e891dd02f.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe5f1eaea66710b08c03f1.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe626cc464f1238514cd8b.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe66d2490f143c510038bf.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67fe694ebcafe94ab7451a8f.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff7500255008598207a70c.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff7e6d04d17507e8923f46.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff7f5515db250dc015f128.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff8059bac7f0146857c2b1.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff838da1cb2927ae18a3f5.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff89b745907449e0e5bae4.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff8defd6747d621c4b838c.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/67ff8eacd3d965670c9121f9.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/6808baa8f8dcaf4f50a7acaa.md
  curriculum/challenges/english/25-front-end-development/workshop-shopping-list-app/6808bcac6bd35f568a19f21a.md
  curriculum/superblock-structure/full-stack.json
Labels: scope: curriculum, platform: learn, scope: i18n, full stack cert

#60557 fix: handle when userinfo has no email address
  api/src/plugins/auth0.test.ts
  api/src/plugins/auth0.ts
  client/i18n/locales/english/translations.json
Labels: status: blocked, platform: api, platform: learn, scope: i18n

#60610 fix(tools): ensure module name is available in external curricula data
  client/i18n/locales/english/intro.json
  tools/scripts/build/build-external-curricula-data-v2.test.ts
Labels: platform: learn, scope: i18n, scope: tools/scripts

#60622 fix(curriculum): Update functional testing video id
  curriculum/challenges/english/25-front-end-development/lecture-understanding-the-different-types-of-testing/67d2ff33452ce69ea169c872.md
Labels: scope: curriculum

#60591 feat: add selection sort lab
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-selection-sort/index.md
  curriculum/challenges/_meta/lab-selection-sort/meta.json
  curriculum/challenges/english/25-front-end-development/lab-selection-sort/680b3ef395479b0e449ecb6e.md
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60570 chore: add lab-truncate-string to full-stack
  client/i18n/locales/english/intro.json
  client/src/pages/learn/full-stack-developer/lab-truncate-string/index.md
  curriculum/challenges/_meta/lab-truncate-string/meta.json
  curriculum/challenges/english/25-front-end-development/lab-truncate-string/ac6993d51946422351508a41.md
  curriculum/superblock-structure/full-stack.json
  curriculum/test/utils/mongo-ids.js
Labels: status: waiting review, scope: curriculum, platform: learn, scope: i18n, full stack cert

#60607 chore(curriculum): rework first workshop
  curriculum/challenges/_meta/workshop-curriculum-outline/meta.json
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823ac607bfdbc46331b2559.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823c1a0bcada44f32bf0bdc.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823d6244511f252c8300eed.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823d9ac8bdc3853df65a1ff.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823e169fda14755fbf00445.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/6823e637c1c0ed56f781b4fc.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/682ba2318000b62f179bdf04.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/682cd206883fc7b25eb539c5.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/682cd20b883fc7b25eb539c6.md
  curriculum/challenges/english/25-front-end-development/workshop-curriculum-outline/683921c4769fd23dbadec2fe.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60488 fix(curriculum): remove `localStorage.clear()` from To-Do App
  curriculum/challenges/_meta/learn-localstorage-by-building-a-todo-app/meta.json
  curriculum/challenges/_meta/workshop-todo-app/meta.json
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff23daf176a92de95f24dc.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/64ff24b80431f62ec6b93f65.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65003986d17d1e1865b269c0.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650046832f92c01a35834bca.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/650048b0764f9c1b798200e2.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/65004ba581d03d1d5628b41c.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/6632420f81f3cc554a5e540b.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/66ad0f178ed5791ed898fe56.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/671682cd6d7aa95f0078f35f.md
  curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-localstorage-by-building-a-todo-app/67168a7243b6396cb69c1bdf.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/64ff068e0426eb288874ed79.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/64ff23daf176a92de95f24dc.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/64ff24b80431f62ec6b93f65.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/65003986d17d1e1865b269c0.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/650046832f92c01a35834bca.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/650048b0764f9c1b798200e2.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/65004ba581d03d1d5628b41c.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/6632420f81f3cc554a5e540b.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/66ad0f178ed5791ed898fe56.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/671682cd6d7aa95f0078f35f.md
  curriculum/challenges/english/25-front-end-development/workshop-todo-app/67168a7243b6396cb69c1bdf.md
Labels: status: waiting review, scope: curriculum, full stack cert

#60625 fix(curriculum): HTTP method string in Fetch API example
  curriculum/challenges/english/25-front-end-development/lecture-understanding-asynchronous-programming/673407be6af21d6766ed4b96.md
Labels: status: waiting review, scope: curriculum, full stack cert
